Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(pci.data-processing): fixing wrong tracking labels
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/data-processing-jobs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.controller.js
Owners: @ovh/team-manager-dev

fix(pci.data-processing): fix wrong label
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/data-processing-jobs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/metrics-token.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-logs/job-logs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/submit-job.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.controller.js
Owners: @ovh/team-manager-dev

feat(iam): set up routes
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/routes/policies.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
Owners: @ovh/team-manager-dev

build(iam): set up the build env
  packages/manager/apps/dedicated/webpack.config.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/package.json
  packages/manager/tools/webpack-config/src/webpack.common.js
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

feat(iam): set up services
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/guide.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
  packages/manager/modules/iam/src/services/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(iam): add iam url to legacy sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/index.tsx
Owners: @ovh/team-manager-dev

feat(iam): update app packages
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/iam.module.js
  packages/manager/apps/iam/src/iam.template.html
  packages/manager/apps/iam/webpack.config.js
Owners: @ovh/team-manager-dev

feat(iam): lazy load iam module
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/index.scss
Owners: @ovh/team-manager-dev

feat(iam): set up components
  packages/manager/modules/iam/src/components/iam/iam.component.js
  packages/manager/modules/iam/src/components/iam/iam.module.js
  packages/manager/modules/iam/src/components/iam/iam.template.html
  packages/manager/modules/iam/src/components/iam/index.js
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/index.js
  packages/manager/modules/iam/src/components/policies/policies.component.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policies/policies.module.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/policies/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/policy/index.js
  packages/manager/modules/iam/src/components/policy/policy.component.js
  packages/manager/modules/iam/src/components/policy/policy.module.js
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/components/policy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/iam.template.html
  packages/manager/modules/iam/src/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(iam): set up resolves
  packages/manager/modules/iam/.gitignore
  packages/manager/modules/iam/src/iam.routing.resolve.js
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/guides.resolve.js
  packages/manager/modules/iam/src/resolves/index.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/resolves/types/cursors.type.js
  packages/manager/modules/iam/src/resolves/types/index.js
Owners: @ovh/team-manager-dev

feat(iam): revamp components exports
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.module.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.resolves.js
  packages/manager/modules/iam/src/components/createPolicy/index.js
  packages/manager/modules/iam/src/components/iam/iam.module.js
  packages/manager/modules/iam/src/components/iam/index.js
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/index.js
  packages/manager/modules/iam/src/components/policies/policies.component.js
  packages/manager/modules/iam/src/components/policies/policies.module.js
  packages/manager/modules/iam/src/components/policies/policies.resolves.js
  packages/manager/modules/iam/src/components/policy/index.js
  packages/manager/modules/iam/src/components/policy/policy.component.js
  packages/manager/modules/iam/src/components/policy/policy.module.js
  packages/manager/modules/iam/src/components/policy/policy.resolves.js
Owners: @ovh/team-manager-dev

feat(iam): make constants a module
  packages/manager/modules/iam/src/constants/index.js
Owners: @ovh/team-manager-dev

feat(iam): set up constants
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/constants/index.js
  packages/manager/modules/iam/src/iam.constant.js
Owners: @ovh/team-manager-dev

feat(iam): add entry menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/account/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
  packages/manager/apps/iam/package.json
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/iam.constant.js
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/iam.routing.resolve.js
  packages/manager/modules/iam/src/iam.template.html
  packages/manager/modules/iam/src/index.js
Owners: @ovh/team-manager-dev

feat(iam): update identities links
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.resolves.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.template.html
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.component.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.controller.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.resolves.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.template.html
  packages/manager/modules/iam/src/components/policyIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/resolves/types/index.js
  packages/manager/modules/iam/src/resolves/types/urn.type.js
  packages/manager/modules/iam/src/resolves/types/uuid.type.js
  packages/manager/modules/iam/src/routes/deleteIdentity.route.js
  packages/manager/modules/iam/src/routes/policyIdentities.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/identity.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
Owners: @ovh/team-manager-dev

feat(iam): make resolves a module
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/index.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(iam): make routes a module
  packages/manager/modules/iam/src/routes/createPolicy.route.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/routes/policies.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
Owners: @ovh/team-manager-dev

feat(iam): make services a module
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
Owners: @ovh/team-manager-dev

feat(dedicated): add IAM application
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iam/.eslintrc.json
  packages/manager/apps/iam/README.md
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/iam.module.js
  packages/manager/apps/iam/src/iam.styles.scss
  packages/manager/apps/iam/src/iam.template.html
  packages/manager/apps/iam/src/index.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/README.md
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(iam): add create policy page
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.module.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createPolicy/index.js
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/routes/createPolicy.route.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
Owners: @ovh/team-manager-dev

feat(iam): delete a policy
  .gitignore
  packages/manager/modules/iam/.gitignore
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.component.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.resolves.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.template.html
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/iam/iam.template.html
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/constants/index.js
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/guides.resolve.js
  packages/manager/modules/iam/src/resolves/index.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/types/cursors.type.js
  packages/manager/modules/iam/src/resolves/types/index.js
  packages/manager/modules/iam/src/resolves/types/uuid.type.js
  packages/manager/modules/iam/src/routes/createPolicy.route.js
  packages/manager/modules/iam/src/routes/deletePolicy.route.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/routes/policies.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
Owners: @ovh/team-manager-dev

feat(iam): resource group datagrid
  packages/manager/modules/iam/src/components/cursorDatagrid/cursorDatagrid.component.js
  packages/manager/modules/iam/src/components/cursorDatagrid/cursorDatagrid.controller.js
  packages/manager/modules/iam/src/components/cursorDatagrid/cursorDatagrid.resolves.js
  packages/manager/modules/iam/src/components/cursorDatagrid/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.template.html
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/policies/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.component.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.resolves.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.template.html
  packages/manager/modules/iam/src/components/resourceGroups/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/routes/resourceGroups.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/resourceGroup.service.js
Owners: @ovh/team-manager-dev

feat(iam): create policy with types & ressources
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.resolves.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.styles.scss
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
  packages/manager/modules/iam/src/services/reference.service.js
  packages/manager/modules/iam/src/services/resource.service.js
  packages/manager/modules/iam/src/services/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

build(iam): make the module buildable
  packages/manager/apps/dedicated/webpack.config.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/rollup.config.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.controller.js
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/constants/index.js
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/index.scss
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/tools/webpack-config/src/webpack.common.js
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

feat(iam): feature delete resource group
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/routes/deleteResourceGroup.route.js
  packages/manager/modules/iam/src/routes/root.route.js
Owners: @ovh/team-manager-dev

feat(iam): delay cursors update
  packages/manager/modules/iam/src/components/cursorDatagrid/cursorDatagrid.controller.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/types/cursors.type.js
  packages/manager/modules/iam/src/services/apiv2.service.js
Owners: @ovh/team-manager-dev

feat(iam): add user management link
  packages/manager/modules/iam/src/components/policy/policy.resolves.js
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/resolves/misc.resolve.js
Owners: @ovh/team-manager-dev

feat(iam): create a policy with actions
  packages/manager/apps/iam/package.json
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/components/actionSelect/ActionTrees.class.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.component.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.styles.scss
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.component.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.template.html
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/highlightText/highlightText.directive.js
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/policies/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.component.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.template.html
  packages/manager/modules/iam/src/components/resourceSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/services/reference.service.js
Owners: @ovh/team-manager-dev

feat(iam): onboarding page
  packages/manager/apps/iam/package.json
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/onboarding/onboarding.component.js
  packages/manager/modules/iam/src/components/onboarding/onboarding.resolves.js
  packages/manager/modules/iam/src/components/onboarding/onboarding.template.html
  packages/manager/modules/iam/src/components/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.template.html
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/routes/onboarding.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/guide.service.js
  packages/manager/modules/iam/src/services/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(iam): edit a policy
  packages/manager/apps/iam/package.json
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/components/actionSelect/ActionTrees.class.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.resolves.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.component.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.template.html
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/params.resolve.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/routes/editPolicy.route.js
  packages/manager/modules/iam/src/routes/root.route.js
  packages/manager/modules/iam/src/services/policy.service.js
Owners: @ovh/team-manager-dev

feat(iam): add advanced mode on datagrid policies
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/components/policies/policies.resolves.js
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/routes/policies.route.js
Owners: @ovh/team-manager-dev

fix(iam): reset action search results
  packages/manager/modules/iam/src/components/highlightText/highlightText.directive.js
Owners: @ovh/team-manager-dev

feat(iam): add advanced mode on onboarding page
  packages/manager/modules/iam/src/components/advancedModeSwitch/advancedModeSwitch.component.js
  packages/manager/modules/iam/src/components/advancedModeSwitch/advancedModeSwitch.controller.js
  packages/manager/modules/iam/src/components/advancedModeSwitch/advancedModeSwitch.resolves.js
  packages/manager/modules/iam/src/components/advancedModeSwitch/advancedModeSwitch.template.html
  packages/manager/modules/iam/src/components/advancedModeSwitch/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/onboarding/onboarding.resolves.js
  packages/manager/modules/iam/src/components/onboarding/onboarding.template.html
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/routes/onboarding.route.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
  packages/manager/modules/iam/src/services/preferences.service.js
Owners: @ovh/team-manager-dev

feat(iam.create): add space to success message
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
Owners: @ovh/team-manager-dev

fix(iam): add new tag on iam entries menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/SidebarItemRenderer.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/sidebarMenu.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
Owners: @ovh/team-manager-dev

fix(ng-ovh-sso-auth): handle http timeout as a int
  packages/components/ng-ovh-sso-auth/src/factory.js
Owners: @ovh/team-manager-dev

feat(iam): make actions optional
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/services/policy.service.js
Owners: @ovh/team-manager-dev

feat(pci.storages.databases): add secondary backups
  packages/manager/modules/pci/src/components/project/storages/databases/backup.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
Owners: @ovh/team-manager-dev

fix(pci.storages.cold-archive): generate cred if user has not
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
Owners: @ovh/team-manager-dev

feat(generator.translation): delete on local change in obh application
  packages/manager/core/application/src/ovh-application.tsx
Owners: @ovh/su-digital-tools-core-stack

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
