Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(menu): highlighted network security dashboard menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

chore(rancher): update ods to version 17.1 ref: MANAGER-13121
  packages/manager/apps/pci-rancher/jest-setup.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/assets/onboarding-img.png
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(i18n): add missing translations [CDS 2781]
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/delete/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/delete/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/translations/Messages_es_ES.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/translations/Messages_pl_PL.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/components/delete/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/components/pool-form/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/delete/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/translations/Messages_es_ES.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/translations/Messages_pl_PL.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_it_IT.json
Owners: @ovh/team-manager-dev

fix(rancher): review PR
  jest/mocks/jest.setup.js
  package.json
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(i18n): add missing translations [CDS 2782]
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(octavia): added l7 rule edition page (#10917)
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/components/rule-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/service.js
Owners: @ovh/team-manager-dev

fix(carbon-calculator): test change
  packages/manager/apps/carbon-calculator/src/index.html
  packages/manager/modules/carbon-calculator/src/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci-users): add delete modal and delete page ref: DTCORE-1864
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/App.tsx
  packages/manager/apps/pci-users/src/components/users/RemoveUserModal.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/interface/index.ts
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/pages/RemoveUserPage.tsx
  packages/manager/apps/pci-users/src/routes.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(dedicated): manage node restrictions using iam tag
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.component.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.controller.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.html
Owners: @ovh/team-manager-dev

feat(dedicated): manage node restrictions using iam tag (#10802)
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.component.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.controller.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.html
Owners: @ovh/team-manager-dev

fix(octavia): removed unwanted sentence on onboarding
  packages/manager/modules/octavia-load-balancer/src/onboarding/template.html
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(dedicated): byoip add success banner
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/aggregate/ip-ip-byoip-aggregate.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/aggregate/ip-ip-byoip-aggregate.html
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/ip-ip-byoip.service.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/slice/ip-ip-byoip-slice.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/slice/ip-ip-byoip-slice.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(public-cloud): view status issue for cluster
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.controller.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2783]
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(public-cloud): view status issue for cluster (#10930)
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.controller.js
Owners: @ovh/team-manager-dev

feat(pci-rancher): add rancher in manager menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix: add breadcrumb on listing page
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix: build
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix: add new test for action cell
  packages/manager/apps/pci-rancher/jest.config.ts
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat: add dashboard page
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(ods): migrate pci rancher to ods 17 ref: MANAGER-12788
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/App.tsx
  packages/manager/apps/pci-rancher/src/Router.tsx
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/GuideLink/GuideLink.tsx
  packages/manager/apps/pci-rancher/src/components/Loading/Loading.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat: add dashboard page
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/playwright.config.ts
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/TileBlock/TileBlock.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/e2e/Error.e2e.ts
  packages/manager/apps/pci-rancher/src/hooks/usePciProject.tsx
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/[serviceName]/Tabs2.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/tsconfig.json
  playwright-helpers/config.ts
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat: add edit name input, various fix on style and add unit test ref: MANAGER-12790
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/hooks/usePciProject.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/react-app-env.d.ts
  packages/manager/apps/pci-rancher/src/utils/test.provider.tsx
  playwright-helpers/config.ts
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix: update routing with syncing with container ref: MANAGER-12785
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/playwright.config.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/e2e/Error.e2e.ts
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/layout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/tsconfig.json
  playwright-helpers/config.ts
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(rancher): add generate acces detail (#10803)
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/PageLayout/PageLayout.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/hooks/useGenerateAccessDetail.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix: update test at root level to run rancher test correclty
  jest.config.js
  jest/mocks/images.tsx
  jest/mocks/jest.setup.js
  package.json
  packages/manager/apps/pci-rancher/jest.config.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/utils/test.provider.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(rancher): various fix on name input and text translation, use onboarding (#10864)
  jest.config.js
  packages/manager-components/src/components/onboarding/onboarding.component.tsx
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/api/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/Modal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/index.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/placeholder.png
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/hooks/useGenerateAccessDetail.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/routes.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(rancher): use error layout manager components, add selectable tile (#10875)
  packages/manager-components/src/components/error/error.component.tsx
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

feat(pci-rancher): add tanstack table full width (#10831)
  packages/manager-components/src/components/onboarding/onboarding.component.tsx
  packages/manager-components/src/components/onboarding/onboarding.stories.tsx
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/LinkService.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.scss
  packages/manager/apps/pci-rancher/src/components/Table/Table.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.type.ts
  packages/manager/apps/pci-rancher/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-rancher/src/components/Table/TextCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/OdsFormatter.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  yarn.lock
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

feat(rancher): add discovery banner on create page (#10893)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-rancher/jest.config.js
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.tsx
  packages/manager/apps/pci-rancher/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useActivatePciProjectURL.ts
  packages/manager/apps/pci-rancher/src/hooks/useCreateRancher.ts
  packages/manager/apps/pci-rancher/src/i18n.ts
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/src/utils/route.ts
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(vite-config): add a param for local 2api
  packages/manager/core/vite-config/src/index.d.ts
  packages/manager/core/vite-config/src/plugin/dev-server.js
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): add private network load balancer subnet selection
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci.k8s.dashboard): update network configuration
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): add private network subnet selection
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): change private network gateway ux
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): add network proxy form
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.utils.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2785]
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(octavia): finish the tracking implement
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/edit/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/edit/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/edit/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/delete/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/routing.js
Owners: @ovh/team-manager-dev

feat(octavia): finish the tracking implement
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/routing.js
Owners: @ovh/team-manager-dev

feat(pci): log to customer - live tail
  packages/components/ng-log-to-customer/LICENSE
  packages/components/ng-log-to-customer/README.md
  packages/components/ng-log-to-customer/package.json
  packages/components/ng-log-to-customer/rollup.config.js
  packages/components/ng-log-to-customer/src/component.js
  packages/components/ng-log-to-customer/src/constants.js
  packages/components/ng-log-to-customer/src/controller.js
  packages/components/ng-log-to-customer/src/index.js
  packages/components/ng-log-to-customer/src/index.less
  packages/components/ng-log-to-customer/src/service.js
  packages/components/ng-log-to-customer/src/template.html
  packages/components/ng-log-to-customer/src/translations/Messages_fr_FR.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/ @ovh/team-manager-dev

# Manager-components
/packages/manager-components @ovh/team-manager-transfo

# React Stack
*.jsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-transfo

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
/scripts/run-playwright.js @ovh/team-manager-transfo
/scripts/run-playwright-bdd.js @ovh/team-manager-transfo
/scripts/.env.development @ovh/team-manager-transfo
