Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev

fix(dedicated): add content based on customer type
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

refactor(iam): add dedicated iam template file
  packages/manager/modules/iam/src/dashboard/policies/delete/delete.routing.js
  packages/manager/modules/iam/src/dashboard/policies/delete/index.js
  packages/manager/modules/iam/src/dashboard/resourceGroups/delete/delete.routing.js
  packages/manager/modules/iam/src/dashboard/resourceGroups/delete/index.js
  packages/manager/modules/iam/src/iam.paramTypes.js
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/iam.template.html
  packages/manager/modules/iam/src/identities/delete/delete.routing.js
  packages/manager/modules/iam/src/identities/delete/index.js
  packages/manager/modules/iam/src/policy/edit/index.js
Owners: @ovh/team-manager-dev

fix(dedicated): add content based on customer type (#9422)
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

fix(web.hosting): no add database on free hosting
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.constants.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.controller.js
Owners: @ovh/team-manager-dev

feat(pci): add guide advice for windows private mode vrack
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(web.hosting): no add database on free hosting
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.constants.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.controller.js
Owners: @ovh/team-manager-dev

fix: display correct value for vcores number
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Owners: @ovh/team-manager-dev

fix(pci.billing): add ai-notebooks on billing page (#9382)
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
Owners: @ovh/team-manager-dev

fix(public-cloud): upgrade by using installation instead of renew
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.service.js
Owners: @ovh/team-manager-dev

fix(telecom): fix incorrect level2 tracking for telecom
  packages/components/ng-ovh-line-diagnostics/src/controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/configuration.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/fax/fax.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/accessories.controller.js
  packages/manager/modules/telecom-dashboard/src/guides/telecom-dashboard-guides.controller.js
  packages/manager/modules/telecom-dashboard/src/index.js
Owners: @ovh/team-manager-dev

feat(iplb): display https protocol (#9418)
  packages/manager/modules/iplb/src/frontends/iplb-frontends.controller.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends.html
Owners: @ovh/team-manager-dev

fix(public-cloud): upgrade by using installation instead of renew (#9410)
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.service.js
Owners: @ovh/team-manager-dev

Edit pci_projects_project_sshKeys_add_key_description
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

This is a bug bounty test, looking for security issues, please ignore... . (udldgh)
  Makefile
  docs/package.json
  package.json
  scripts/regions/check-regions.sh
  scripts/release/release.sh
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-service-delivery

feat(dedicated): css suggestion and bug fix
  packages/manager/apps/dedicated/client/app/account/account.routing.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
Owners: @ovh/team-manager-dev

fix(public-cloud): upgrade by using installation instead of renew (#9410)
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.service.js
Owners: @ovh/team-manager-dev

feat(iplb): display https protocol (#9418)
  packages/manager/modules/iplb/src/frontends/iplb-frontends.controller.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends.html
Owners: @ovh/team-manager-dev

fix(pci.billing): add ai-notebooks on billing page (#9382)
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
Owners: @ovh/team-manager-dev

release: manganese-shark-1
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/CHANGELOG.md
  packages/manager/apps/iplb/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/iplb/CHANGELOG.md
  packages/manager/modules/iplb/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-dev

feat(dedicated): css suggestion and bug fix (#9423)
  packages/manager/apps/dedicated/client/app/account/account.routing.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
Owners: @ovh/team-manager-dev

docs: update documentation [skip ci]
  404.html
  assets/js/app.1c1cbbc8.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Owners: @ovh/team-manager-dev

docs: update documentation [skip ci]
  404.html
  assets/js/15.2e782ce4.js
  assets/js/15.f93647e7.js
  assets/js/20.237b5289.js
  assets/js/20.4339a9a1.js
  assets/js/app.fdcdb5a8.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Owners: @ovh/team-manager-dev

feat(nasha): display eol lv1/lv2
  packages/manager/modules/nasha/src/components/eol-lv1-lv2-banner/constants.js
  packages/manager/modules/nasha/src/components/eol-lv1-lv2-banner/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(dedicated.iplb): fix the orders urls onboarding page
  packages/manager/modules/iplb/src/onboarding/constants.js
Owners: @ovh/team-manager-dev

feat(generator): add eslint and prettier in react project
  .eslintignore
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): fix eslint vite template generator
  .eslintignore
  package.json
Owners: @ovh/team-manager-dev

fix(generator): fix calendar input component
  packages/manager/core/ovh-themes/common/__tests__/InputCalendar.spec.tsx
  packages/manager/core/ovh-themes/package.json
Owners: @ovh/su-digital-tools-core-stack

feat(generator): fix package json
  package.json
  packages/manager/core/ovh-themes/package.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): add comment to breadcrump component
  packages/manager/components/react/breadcrumb/src/Breadcrumb.tsx
Owners: @ovh/team-manager-dev

fix(generator): delete packages manager core components
  packages/manager/core/components/package.json
  packages/manager/core/components/src/Dashboard/Dashboard.tsx
  packages/manager/core/components/src/Dashboard/DashboardTile.tsx
  packages/manager/core/components/src/Dashboard/DashboardTileList.tsx
  packages/manager/core/components/src/Dashboard/DashboardTileLoading.tsx
  packages/manager/core/components/src/Dashboard/index.ts
  packages/manager/core/components/src/DatacenterLabel.tsx
  packages/manager/core/components/src/DatePretty.tsx
  packages/manager/core/components/src/Listing/Listing.tsx
  packages/manager/core/components/src/Listing/ListingColumnToggler.tsx
  packages/manager/core/components/src/Listing/ListingFilterAdder.tsx
  packages/manager/core/components/src/Listing/ListingFilters.tsx
  packages/manager/core/components/src/Listing/ListingTable.tsx
  packages/manager/core/components/src/Listing/ListingTableCell.tsx
  packages/manager/core/components/src/Listing/ListingTableHead.tsx
  packages/manager/core/components/src/Listing/index.ts
  packages/manager/core/components/src/Onboarding.tsx
  packages/manager/core/components/src/PageSelector.tsx
  packages/manager/core/components/src/Pagination.tsx
  packages/manager/core/components/src/SearchInput.tsx
  packages/manager/core/components/src/index.ts
  packages/manager/core/components/tsconfig.json
Owners: @ovh/su-digital-tools-core-stack

fix(generator): delete breadcrumb package + do some fixes on the generator
  lerna.json
  package.json
  packages/manager/components/react/breadcrumb/package.json
  packages/manager/components/react/breadcrumb/src/Breadcrumb.tsx
  packages/manager/components/react/breadcrumb/src/index.ts
  packages/manager/components/react/breadcrumb/tsconfig.json
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/utils/api.js
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix(generator): remove ovh-chakra-showcase
  packages/manager/core/ovh-chakra-showcase/package.json
Owners: @ovh/su-digital-tools-core-stack

docs(generator): add micro-applications doc file
  docs/docs/guide/micro-applications.md
Owners: @ovh/team-manager-dev

fix(generator): rename useShellClient into initShellClient to avoid hook rule error on sonar
  package.json
  packages/manager/core/application/src/ovh-application.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): update generator id application
  packages/manager/core/generator/app/templates/src/index.tsx
Owners: @ovh/su-digital-tools-core-stack

feat: generate api v6 endpoints
  .eslintrc.js
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/app/templates/src/api/{{appName}}/index.ts.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/generator/utils/api-query-template.ts.hbs
  packages/manager/core/generator/utils/api.js
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): update template vite js
  packages/manager/core/generator/app/conditional-templates/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/onboarding.tsx.hbs
Owners: @ovh/su-digital-tools-core-stack

fix: improve query generation for api v6
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-query-template.ts.hbs
  packages/manager/core/generator/utils/api.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): add apiv6 requests
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
Owners: @ovh/su-digital-tools-core-stack

docs: add doc for api utils
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-template.js
  packages/manager/core/generator/utils/api.js
Owners: @ovh/su-digital-tools-core-stack
