Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev

fix: improve query generation for api v6
  packages/manager/core/generator/app/conditional-templates/api/services-template.ts.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-query-template.ts.hbs
  packages/manager/core/generator/utils/api.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): update template vite js
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
Owners: @ovh/su-digital-tools-core-stack

feat: generate api v6 endpoints
  .eslintrc.js
  packages/manager/core/application/package.json
  packages/manager/core/application/src/index.tsx
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/app/templates/src/api/{{appName}}/index.ts.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/generator/utils/api-query-template.ts.hbs
  packages/manager/core/generator/utils/api.js
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): add template dashboard api
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-template.js
Owners: @ovh/su-digital-tools-core-stack

docs: add doc for api utils
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-template.js
  packages/manager/core/generator/utils/api.js
  packages/manager/core/generator/utils/string-helpers.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): add apiv6 requests
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/plopfile.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): add translations in generator corresponding to template
  packages/manager/core/application/src/i18n.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_fr_FR.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_fr_FR.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_FR.json
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/dashboard/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/tab/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/onboarding/Messages_fr_FR.json.hbs
  packages/manager/core/generator/utils/create-structure-helpers.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): delete console log
  packages/manager/core/application/src/i18n.tsx
Owners: @ovh/su-digital-tools-core-stack

fix(generator): fix local application by default dedicated
  docs/docs/guide/micro-applications.md
  packages/components/ovh-shell/src/client/index.ts
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev

feat(shell.logger): fix some wording
  packages/components/ovh-shell/__tests__/plugin/logger/logger.spec.ts
Owners: @ovh/team-manager-dev

fix: sonar bugs and code smells
  .lintstagedrc.json
  packages/manager/core/api/src/client.ts
  packages/manager/core/api/src/iceberg.ts
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator.test): update logger feature
  packages/components/ovh-shell/features/plugin/logger/logger.feature
Owners: @ovh/team-manager-dev

fix: private property in package.json in generator
  packages/manager/core/generator/app/templates/package.json.hbs
Owners: @ovh/su-digital-tools-core-stack

fix(generator.react): delete error use logger
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
Owners: @ovh/su-digital-tools-core-stack

fix(dedicated.nasha): some fixes
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/iceberg/service.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
Owners: @ovh/team-manager-dev

feat(dedicated): update content on kyc page
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

fix(iam.policies): add description
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/policies/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(iam.identities): handler all caracters
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.controller.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/types/urn.type.js
Owners: @ovh/team-manager-dev

feat(dedicated): update content on kyc page (#9294)
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

fix(iam): fill TODO messages
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(web): reload aliases
  packages/manager/modules/emailpro/src/account/account.routing.js
  packages/manager/modules/emailpro/src/account/alias/alias.routing.js
  packages/manager/modules/emailpro/src/account/alias/emailpro-account-alias.controller.js
Owners: @ovh/team-manager-dev

fix(dedicated): display mrtg in us region (#9281)
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
Owners: @ovh/team-manager-dev

fix(web): reload aliases (#9298)
  packages/manager/modules/emailpro/src/account/account.routing.js
  packages/manager/modules/emailpro/src/account/alias/alias.routing.js
  packages/manager/modules/emailpro/src/account/alias/emailpro-account-alias.controller.js
Owners: @ovh/team-manager-dev

fix(dedicated.nasha): using ReactQuery, some fixes
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/iceberg/service.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
Owners: @ovh/team-manager-dev

fix: remove unused translations [CDS]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(project.onboarding): add an fr message for doc guide
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(*): display ICE num instead of VAT num for customers in Morocco
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/components/siret/siret.constants.js
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/activity/constants.js
Owners: @ovh/team-manager-dev

fix(container): check auth redirection
  packages/manager/apps/container/src/core/sso.ts
Owners: @ovh/team-manager-dev

feat(storages.cold-archive): tracking (#9270)
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
Owners: @ovh/team-manager-dev

refactor(storages.components): refactor exiting component (#9264)
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/controller.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/components/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
Owners: @ovh/team-manager-dev

feat(ldp): ldp inputs can now be autoscaled
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/add/edit/logs-inputs-add-edit.html
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/home/logs-inputs-home.html
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/logs-inputs.service.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2255]
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix: use ng pluralize
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.html
Owners: @ovh/team-manager-dev

fix: use vcores unit for cpu
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2269]
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(iam.policies): add description
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/policies/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(iam.identities): handler all caracters
  packages/manager/modules/iam/src/components/policyIdentities/policyIdentities.controller.js
  packages/manager/modules/iam/src/resolves/misc.resolve.js
  packages/manager/modules/iam/src/resolves/types/urn.type.js
Owners: @ovh/team-manager-dev

fix(iam.create): apply mockup layout
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.component.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.styles.scss
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.component.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.styles.scss
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.template.html
Owners: @ovh/team-manager-dev

fix(iam.create): apply mockup layout
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.component.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.styles.scss
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.component.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.styles.scss
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.template.html
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2281]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_de_DE.json
Owners: @ovh/team-manager-dev
