Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower

feat(web-office): add change password modal
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/change-password/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalChangePasswordUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalChangePasswordUsers.component.spec.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/form.ts
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

fix(web-office): fix version mrc
  packages/manager/apps/web-office/package.json
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting design for delete modal users
  packages/manager/apps/web-office/public/translations/dashboard/users/delete/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add onboarding page
  packages/manager/apps/web-office/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/web-office/src/guides.constants.ts
  packages/manager/apps/web-office/src/pages/onboarding/index.tsx
  packages/manager/apps/web-office/src/pages/onboarding/onboarding-img.png
Owners: @ovh/team-manager-control-tower

feat(web-office): add modal order licenses
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/order.ts
  packages/manager/apps/web-office/src/api/order/api.ts
  packages/manager/apps/web-office/src/api/order/index.ts
  packages/manager/apps/web-office/src/api/order/key.ts
  packages/manager/apps/web-office/src/api/order/type.ts
  packages/manager/apps/web-office/src/api/order/utils.ts
  packages/manager/apps/web-office/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOrderCatalog.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useOrderCatalog.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderLicenses.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderLicenses.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/pages/onboarding/__test__/index.spec.tsx
  packages/manager/apps/web-office/src/pages/onboarding/index.tsx
  packages/manager/apps/web-office/src/routes/routes.constants.ts
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(web-office): add modal order users
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/web-office-365/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/web-office-365/error/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/price.ts
  packages/manager/apps/web-office/src/api/_mock_/user.ts
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/order/api.ts
  packages/manager/apps/web-office/src/api/order/type.ts
  packages/manager/apps/web-office/src/api/price/api.ts
  packages/manager/apps/web-office/src/api/price/index.ts
  packages/manager/apps/web-office/src/api/price/key.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/key.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderLicenses.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderLicenses.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderUsers.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  packages/manager/apps/web-office/tsconfig.json
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(web-office): add vite version 6
  packages/manager/apps/web-office/mocks/example/example-data.json
  packages/manager/apps/web-office/mocks/example/example.ts
  packages/manager/apps/web-office/mocks/index.ts
  packages/manager/apps/web-office/package.json
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting design for edit user
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/App.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/layout.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting design for user page
  packages/manager/apps/web-office/src/components/BadgeStatus.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting regex and tooltip for login
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(kms): fix bad navigation between several kms ref: MANAGER-16850
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/KmsTabs.tsx
Owners: @dev-manager-enabler-all

feat(web-ongoing-operations): add domain datagrid
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/domain.ts
  packages/manager/apps/web-ongoing-operations/src/components/Loading/Loading.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagridBadge/OngoingOperationDatagridBadge.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/index.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.spec.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
  packages/manager/core/generator/app/conditional-templates/listing/v6/listing.spec.tsx.hbs
Owners: @ovh/team-manager-control-tower

feat(web-ongoing-operations): add Dns Datagrid
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/dns.ts
  packages/manager/apps/web-ongoing-operations/src/__mocks__/domain.ts
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
Owners: @ovh/team-manager-control-tower

feat(account): design and routes management fixes
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.scss
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/user.constants.js
  packages/manager/modules/account/src/user/user.routes.js
  yarn.lock
Owners: @dev-manager-gcj-all, @ovh/team-manager-control-tower

feat(pci.savings-plan): outside plans consumption
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
Owners: @dev-manager-pci-all

feat(pci.kubernetes): redesign node pool step
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterBillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterNameStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeSizeStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeTypeStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
Owners: @dev-manager-pci-all

feat(pci.kubernetes): hard redesign of cluster node pool
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/Estimation.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterBillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterConfirmStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeSizeStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeTypeStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolAntiAffinity.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolName.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolSize.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolToggle.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolType.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolType.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
Owners: @dev-manager-pci-all

feat(pci.kubernetes): add logic with autoscaling
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolName.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolSize.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolType.component.tsx
Owners: @dev-manager-pci-all

feat(pci.kubernetes): add more test
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/Estimation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolAntiAffinity.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolAntiAffinity.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolType.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.spec.ts
Owners: @dev-manager-pci-all

feat(pci.kubernetes): issue with billing step
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.spec.tsx
Owners: @dev-manager-pci-all

feat(pci.kubernetes): add modification
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolAntiAffinity.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolName.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolSize.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolType.component.tsx
Owners: @dev-manager-pci-all

feat: rework chart
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/_mock_/consumptionRancher.ts
  packages/manager/apps/pci-savings-plan/src/components/Chart/Chart.tsx
  packages/manager/apps/pci-savings-plan/src/components/Chart/chart.md
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/ConsumptionDatagrid/ConsumptionDatagrid.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-savings-plan/src/utils/formatter/formatter.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/transformchart.md
  packages/manager/apps/pci-savings-plan/src/utils/paginate/utils.ts
  yarn.lock
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower

fix(labeu): add ovh paths to labeu urls
  packages/manager/modules/pci/src/projects/project/instances/index.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Owners: @ovh/team-manager-control-tower

fixup! feat(sap-features-hub): add pre-installation form step3
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/mocks/installationForm.mock.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.ts
Owners: @ovh/team-manager-control-tower

fix(pci-object-storage): swift container endpoint
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Owners: @dev-manager-pci-all

feat(account): design and routes management fixes (#15430)
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.scss
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/user.constants.js
  packages/manager/modules/account/src/user/user.routes.js
  yarn.lock
Owners: @dev-manager-gcj-all, @ovh/team-manager-control-tower

test(vmware-managed-vcd): fix skipped tests
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.spec.tsx
Owners: @dev-manager-hpc-all

fix: setup dashboard page
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/Error.tsx
  packages/manager/apps/pci-savings-plan/src/_mock_/savingsPlanConsumption.ts
  packages/manager/apps/pci-savings-plan/src/components/Chart/Chart.tsx
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.tsx
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/ConsumptionDatagrid/ConsumptionDatagrid.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Filters/Filters.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/TabsDashboard/TabsDashboard.tsx
  packages/manager/apps/pci-savings-plan/src/components/Select/Select.tsx
  packages/manager/apps/pci-savings-plan/src/components/SimpleTile/SimpleTile.tsx
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.test.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlanConsumption.tsx
  packages/manager/apps/pci-savings-plan/src/index.scss
  packages/manager/apps/pci-savings-plan/src/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-savings-plan/src/routes/routes.tsx
  packages/manager/apps/pci-savings-plan/src/types/CreatePlan.type.ts
  packages/manager/apps/pci-savings-plan/src/types/api.type.ts
  packages/manager/apps/pci-savings-plan/src/types/savingsPlanConsumption.type.ts
  packages/manager/apps/pci-savings-plan/src/utils/cn.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/date.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/date.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/formatter.ts
  packages/manager/apps/pci-savings-plan/src/utils/kpi/utils.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/kpi/utils.ts
  packages/manager/apps/pci-savings-plan/src/utils/paginate/utils.ts
  packages/manager/apps/pci-savings-plan/src/utils/savingsPlan.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/savingsPlan.ts
  packages/manager/apps/pci-savings-plan/src/utils/test/setupTests.tsx
  packages/manager/apps/pci-savings-plan/tailwind.config.js
  packages/manager/apps/pci-savings-plan/vitest.config.js
Owners: @dev-manager-pci-all

feat(ips): vps order
  packages/manager/apps/ips/src/data/api/index.ts
  packages/manager/apps/ips/src/data/api/vps.ts
  packages/manager/apps/ips/src/data/hooks/useCheckServiceAvailability.ts
  packages/manager/apps/ips/src/data/hooks/useServiceRegion.ts
  packages/manager/apps/ips/src/pages/order/ServiceRegion.component.tsx
  packages/manager/apps/ips/src/pages/order/order.utils.ts
  packages/manager/apps/ips/src/pages/order/sections/ServiceSelectionSection.component.tsx
Owners: @ovh/team-manager-control-tower

release: @ovh-ux/manager-react-components@1.45.0
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
Owners: @ovh/team-manager-control-tower

feat(ips): add cells icons, badges and action menu
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/ActionsCell/ActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IconCell/IconCell.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAntiDdos/IpAntiDdos.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAttachedService/IpAttachedService.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpCountry/IpCountry.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpGameFirewall/IpGameFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpType/IpType.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpVmac/IpVmac.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/datagridCellStyles.ts
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/index.ts
  packages/manager/apps/ips/src/pages/listing/components/IpDatagrid/IpDatagrid.tsx
  packages/manager/apps/ips/src/utils/getLinkByServiceName.ts
  packages/manager/apps/ips/src/utils/getTypeByServiceName.ts
  packages/manager/apps/ips/src/utils/index.ts
Owners: @ovh/team-manager-control-tower

ci: revamp pr template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @ovh/team-manager-control-tower

feat(ips): add cells icons, badges and action menu
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/ActionsCell/ActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IconCell/IconCell.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAntiDdos/IpAntiDdos.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAttachedService/IpAttachedService.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpCountry/IpCountry.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpGameFirewall/IpGameFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpType/IpType.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpVmac/IpVmac.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/datagridCellStyles.ts
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/index.ts
  packages/manager/apps/ips/src/pages/listing/components/IpDatagrid/IpDatagrid.tsx
  packages/manager/apps/ips/src/utils/getLinkByServiceName.ts
  packages/manager/apps/ips/src/utils/getTypeByServiceName.ts
  packages/manager/apps/ips/src/utils/index.ts
Owners: @ovh/team-manager-control-tower

feat(*): dump mrc to 1.45.0
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/hycu/src/constants.ts
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/pages/listing/Listing.page.tsx
  packages/manager/modules/vcd-api/package.json
  yarn.lock
Owners: @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-infra-all, @ovh/team-manager-control-tower

fix(pci-object-storage): disabled regions
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionStep.component.tsx
Owners: @dev-manager-pci-all

feat(pci.savings-plan): outside plans consumption
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
Owners: @dev-manager-pci-all

fix(*): fix lint and tests related to changelog button
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-vouchers/src/pages/ListingPage.spec.tsx
  yarn.lock
Owners: @dev-manager-hpc-all, @dev-manager-pci-all, @ovh/team-manager-control-tower

feat(ips): listing page tests
  packages/manager/apps/ips/mocks/dedicated/get-dedicated-virtualmac.ts
  packages/manager/apps/ips/mocks/handlers.ts
  packages/manager/apps/ips/mocks/ip/get-ip-details.json
  packages/manager/apps/ips/mocks/ip/get-ips.json
  packages/manager/apps/ips/mocks/ip/ip.ts
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/setup-test.tsx
  packages/manager/apps/ips/setupTest.tsx
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/ActionsCell/ActionsCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IconCell/IconCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAlerts/IpAlerts.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAlerts/IpAlerts.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAntiDdos/IpAntiDdos.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAttachedService/IpAttachedService.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpCell/IpCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpCountry/IpCountry.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpGameFirewall/IpGameFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpRegion/IpRegion.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpReverse/IpReverse.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpType/IpType.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpVmac/IpVmac.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpVmac/IpVmac.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/SkeletonCell/SkeletonCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/IpDatagrid/IpDatagrid.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/filters/FilterIp.spec.tsx
  packages/manager/apps/ips/src/pages/listing/components/filters/FilterIp.tsx
  packages/manager/apps/ips/src/pages/listing/components/filters/FilterType.tsx
  packages/manager/apps/ips/src/pages/listing/components/filters/Filtertype.spec.tsx
  packages/manager/apps/ips/src/pages/listing/listing.spec.tsx
  packages/manager/apps/ips/src/test-utils/TestApp.tsx
  packages/manager/apps/ips/src/test-utils/index.ts
  packages/manager/apps/ips/src/test-utils/render-test.tsx
  packages/manager/apps/ips/src/test-utils/setupUnitTests.tsx
  packages/manager/apps/ips/src/test-utils/test-i18n.ts
  packages/manager/apps/ips/src/test-utils/uiTestHelpers.ts
  packages/manager/apps/ips/vitest.config.js
Owners: @ovh/team-manager-control-tower

feat(manager-pci-common): introduce object storage uapp changes
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
  packages/manager/modules/manager-pci-common/src/api/data/rclone.ts
  packages/manager/modules/manager-pci-common/src/api/data/regions.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useAvailability.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useCatalog.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useRclone.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useRegions.ts
  packages/manager/modules/manager-pci-common/src/components/accordion/Accordion.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/RCloneDownload.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/SelectS3StorageRegions.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/SelectS3StorageRegions.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/StorageRegions.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/StorageRegions.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/constants.ts
  packages/manager/modules/manager-pci-common/src/components/rclone-download/index.ts
  packages/manager/modules/manager-pci-common/src/components/region-selector/style.constants.ts
  packages/manager/modules/manager-pci-common/src/components/shape-input/ShapeInput.component.tsx
  packages/manager/modules/manager-pci-common/src/components/shape-input/default-components/default-shape.tsx
  packages/manager/modules/manager-pci-common/src/components/tabs-panel/TabsPanel.component.tsx
  packages/manager/modules/manager-pci-common/src/components/tabs-panel/index.ts
  packages/manager/modules/manager-pci-common/src/components/tiles-input-choice/TileChoice.component.tsx
  packages/manager/modules/manager-pci-common/src/components/tiles-input-choice/TilesInputChoice.component.tsx
  packages/manager/modules/manager-pci-common/src/components/tiles-input-choice/index.ts
  packages/manager/modules/manager-pci-common/src/constants/style.ts
  packages/manager/modules/manager-pci-common/src/index.css
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/translations/rclone-download/index.ts
Owners: @dev-manager-tapc-admin

refactor(vcd): implement change requests
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
Owners: @dev-manager-hpc-all
