Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower

feat(web-ongoing-operations): add domain datagrid
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/domain.ts
  packages/manager/apps/web-ongoing-operations/src/components/Loading/Loading.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagridBadge/OngoingOperationDatagridBadge.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/index.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.spec.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
  packages/manager/core/generator/app/conditional-templates/listing/v6/listing.spec.tsx.hbs
Owners: @ovh/team-manager-control-tower

fix: remove unused translations [CDS]
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
Owners: @dev-manager-web-all

build(deps-dev): bump vitest to 2.1.9
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.spec.ts
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/procedures/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/core/test-utils/package.json
  packages/manager/modules/common-api/package.json
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/vcd-api/package.json
  yarn.lock
Owners: @ovh/team-manager-control-tower, @dev-manager-hpc-all, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-infra-all, @dev-manager-web-all, @dev-manager-tapc-admin

feat(manager-react-components): add mock with vite
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/Datacentres.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/render-test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/setupTest.ts
  packages/manager/apps/hpc-vmware-managed-vcd/vitest.config.js
Owners: @dev-manager-hpc-all

fix(i18n): add missing translations [CDS 224]
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
Owners: @ovh/team-manager-control-tower

build(deps-dev): bump vitest to 2.1.9
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.spec.ts
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/procedures/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/core/test-utils/package.json
  packages/manager/modules/common-api/package.json
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/vcd-api/package.json
  yarn.lock
Owners: @ovh/team-manager-control-tower, @dev-manager-hpc-all, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-infra-all, @dev-manager-web-all, @dev-manager-tapc-admin

feat(core): export useNavigationGetUrl from shell client
  packages/manager/core/shell-client/src/hooks/index.ts
Owners: @ovh/team-manager-control-tower

feat(logs): init logs-to-customer module
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogKinds.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.mock.ts
  packages/manager/modules/logs-to-customer/src/data/types/apiVersion.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/index.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogKind.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscription.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResource.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResponse.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogUrlCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/TemporaryLogsLink.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
  packages/manager/modules/logs-to-customer/src/index.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/Data-streams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/index.ts
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/error/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/error/index.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logKind/index.ts
  packages/manager/modules/logs-to-customer/tailwind.config.js
  packages/manager/modules/logs-to-customer/tsconfig.json
  packages/manager/modules/logs-to-customer/vite.config.mjs
  packages/manager/modules/logs-to-customer/vitest.config.js
Owners: @ovh/team-manager-control-tower

feat(kms): add logs-to-customer module
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/tailwind.config.js
Owners: @dev-manager-enabler-all

feat(ldp): subscriptions list implementation ref: MANAGER-15919
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStreamUrl.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogService.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStream.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStreamUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogSubscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logService/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logService/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logStream/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStream/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/index.ts
Owners: @ovh/team-manager-control-tower

feat(logs): add live-tail component
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/Log.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logTail.css
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailUrl.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/index.ts
  packages/manager/modules/logs-to-customer/vitest.config.js
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(ldp): add unsubscribe subscription action ref: MANAGER-16516
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useTerminateLogSubscription.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower

feat(logs): bump manager-vite-config version ref: MANAGER-15358
  packages/manager/modules/logs-to-customer/package.json
Owners: @ovh/team-manager-control-tower

feat(logs): add dbaas/logs missing types
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Service.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServicePlanEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServiceStateEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Stream.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageCompressionEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageContentEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageTargetEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Url.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/UrlTypeEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
Owners: @ovh/team-manager-control-tower

feat(ldp): add zoomin zoomout feature ref: MANAGER-15921
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/hooks/useZoomedInOut.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
Owners: @ovh/team-manager-control-tower

feat(ldp): add tracking base implementation ref: MANAGER-15360
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/LogsTracking.constant.ts
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.spec.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/types/logsTracking.ts
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

feat(logs): bump ods18
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscriptionsLink.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamUnsubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logRetention.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  yarn.lock
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

feat(core): export useNavigationGetUrl from shell client
  packages/manager/core/shell-client/src/hooks/index.ts
Owners: @ovh/team-manager-control-tower

feat(pci.instances): disabled assign floating ip when public
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Owners: @ovh/team-manager-control-tower

feat(telecom): Move order follow up from access tab to pack (wip)
  packages/manager/apps/telecom/src/app/telecom/pack/slots/informations/informations.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/informations/informations.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/orderFollowUp/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/orderFollowUp/orderFollowUp.routing.js
Owners: @dev-manager-web-all

feat(telecom): move order follow up
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/orderFollowUp.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/orderFollowUp.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/orderFollowUp.html
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/orderFollowUp.less
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/orderFollowUp.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/orderFollowUp/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/informations/informations.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/informations/informations.html
  packages/manager/apps/telecom/src/app/telecom/pack/slots/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/orderFollowUp/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/orderFollowUp/orderFollowUp.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/orderFollowUp/orderFollowUp.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/orderFollowUp/orderFollowUp.routing.js
Owners: @dev-manager-web-all

fix(pci-instance): replace boolean with object to trigger render
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Owners: @ovh/team-manager-control-tower

fix(pci-instances): implement 3az condition in edit and backup
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
Owners: @ovh/team-manager-control-tower

fix(pci-instance): use then instead of async in controllers
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
Owners: @ovh/team-manager-control-tower

refactor(pci-instances): use plural region types instead of singular
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
Owners: @ovh/team-manager-control-tower

fix(pci-instance): remove specific condition for LZ prices
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
Owners: @ovh/team-manager-control-tower

fix(logs): bump vite v5
  packages/manager/modules/logs-to-customer/package.json
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(dedicated): add terminate modal for vrack (#13483)
  packages/manager/modules/vrack/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
  packages/manager/modules/vrack/src/terminate-modal/index.js
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_en_GB.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.component.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.constants.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.controller.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.html
  packages/manager/modules/vrack/src/vrack.module.js
  packages/manager/modules/vrack/src/vrack.routing.js
Owners: @dev-manager-infra-all

feat(dedicated.netapp): create volume from snapshot (#14721)
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/constants.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pt_PT.json
Owners: @dev-manager-infra-all

feat(nutanix): fix node listing page (#15308)
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
Owners: @dev-manager-hpc-all

fix(dedicated.pcc): fix ip order link in drp configuration (#15335)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/ovhPcc/dedicatedCloud-datacenter-drp-onPremise-ovhPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/onPremise/ovhPcc/ovhPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/ovh/mainPcc/mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/ovh/secondPcc/secondPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/drp.routing.js
Owners: @dev-manager-infra-all

feat(dedicated): add iplb delete option for us (#14243)
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/home/iplb-home.constants.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.html
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/listing/index.js
  packages/manager/modules/iplb/src/listing/listing.component.js
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/listing/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/listing/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/listing/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/listing/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pt_PT.json
  packages/manager/modules/iplb/src/modal/terminate/constants.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.controller.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.html
Owners: @dev-manager-infra-all

fix(dedicated.pcc): fix user right 'add resources' not updatable (#15329)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/vsphere-user-rights-edit.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/vsphere-users/rights/edit/vsphere-user-rights-edit.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/rights/edit/edit.routes.js
Owners: @dev-manager-infra-all

feat(ng-shell-tracking): add page details for click event (#15231)
  packages/components/ng-shell-tracking/src/directive.js
  packages/components/ovh-at-internet/src/constants.ts
Owners: @ovh/team-manager-control-tower

fix(ips): fix order feedbacks
  packages/manager/apps/ips/src/data/api/dedicated-server.ts
  packages/manager/apps/ips/src/data/api/vrack.ts
  packages/manager/apps/ips/src/data/hooks/ip/useCheckServiceAvailability.ts
  packages/manager/apps/ips/src/data/hooks/useCheckServiceAvailability.ts
  packages/manager/apps/ips/src/data/hooks/useServiceRegion.ts
  packages/manager/apps/ips/src/pages/order/Ipv4Order.component.tsx
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/order.utils.ts
  packages/manager/apps/ips/src/pages/order/sections/OrganisationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/ServiceSelectionSection.component.tsx
Owners: @ovh/team-manager-control-tower

fix(web.hosting): change content banner ftp
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
Owners: @dev-manager-web-all

fix(i18n): add missing translations [CDS 3712]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_pt_PT.json
Owners: @dev-manager-infra-all, @dev-manager-web-all

feat(pci.ai.tools): add last pr comments on notebook
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/shell/index.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/pci-ai-notebooks/package.json
  packages/manager/apps/pci-ai-notebooks/src/configuration/guide.ts
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useDeleteNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/lib/notebookHelper.ts
  packages/manager/apps/pci-ai-notebooks/src/main.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/dashboard/datastore/_components/AddDatastore.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/dashboard/docker/_components/privateDocker/_components/AddDocker.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/dashboard/git/_components/AddGit.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/dashboard/tokens/_components/AddToken.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/Containers.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/delete/Delete.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/Create.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/routes/routes.tsx
Owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-pci-all

fix(pci): implement manual translations from pci-common
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-public-ip/package.json
  yarn.lock
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower

fix(pci): implement new style for region selector
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-public-ip/package.json
  yarn.lock
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower
