Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/ @ovh/team-manager-dev

# Manager-components
/packages/manager-components @ovh/team-manager-transfo

# React Stack
*.jsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-transfo

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
/scripts/run-playwright.js @ovh/team-manager-transfo
/scripts/run-playwright-bdd.js @ovh/team-manager-transfo
/scripts/.env.development @ovh/team-manager-transfo

release: cobalt-toad-2
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-dev

feat(pci.k8s.reset): add network proxy form
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.module.js
Owners: @ovh/team-manager-dev

fix(ip.gamefirewall): use same label for protocol display
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
Owners: @ovh/team-manager-dev

feat(dedicated.support): remove modal beta help center
  packages/manager/modules/support/src/modal/index.js
  packages/manager/modules/support/src/modal/modal.component.js
  packages/manager/modules/support/src/modal/modal.constants.js
  packages/manager/modules/support/src/modal/modal.controller.js
  packages/manager/modules/support/src/modal/modal.html
  packages/manager/modules/support/src/modal/modal.module.js
  packages/manager/modules/support/src/modal/modal.routing.js
  packages/manager/modules/support/src/modal/modal.scss
  packages/manager/modules/support/src/modal/translations/Messages_de_DE.json
  packages/manager/modules/support/src/modal/translations/Messages_en_GB.json
  packages/manager/modules/support/src/modal/translations/Messages_es_ES.json
  packages/manager/modules/support/src/modal/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/modal/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/modal/translations/Messages_it_IT.json
  packages/manager/modules/support/src/modal/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/modal/translations/Messages_pt_PT.json
  packages/manager/modules/support/src/support.module.js
  packages/manager/modules/support/src/support.routing.js
Owners: @ovh/team-manager-dev

feat(web.exchange): update link support to Snow for EU/CA
  packages/manager/modules/exchange/src/diagnostic/diagnostic.constants.js
  packages/manager/modules/exchange/src/diagnostic/diagnostic.controller.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2788]
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_it_IT.json
Owners: @ovh/team-manager-dev

feat(web): webcloud db sql activation funnel uniformization
  packages/manager/apps/web/client/app/hosting/database/hosting-database.constants.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.service.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.component.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.constants.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.controller.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.html
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.routing.js
Owners: @ovh/team-manager-dev

fix(web): fix domains onboarding if no domain
  packages/manager/apps/web/client/app/domain/domains.routing.js
Owners: @ovh/team-manager-dev

fix(web): fix domains onboarding if no domain (#10957)
  packages/manager/apps/web/client/app/domain/domains.routing.js
Owners: @ovh/team-manager-dev

feat(pci.k8s.dashboard): add proxy information and edition
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.utils.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update-proxy/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update-proxy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update-proxy/update-proxy.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update-proxy/update-proxy.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update-proxy/update-proxy.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update-proxy/update-proxy.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update-proxy/update-proxy.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Owners: @ovh/team-manager-dev

release: cobalt-toad-2
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-dev

release: cobalt-toad-1
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-dev

fix(public-cloud): renamed region list component used by octavia
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/index.js
Owners: @ovh/team-manager-dev

feat(pci): log to customer - live tail (#10932)
  packages/components/ng-log-to-customer/LICENSE
  packages/components/ng-log-to-customer/README.md
  packages/components/ng-log-to-customer/package.json
  packages/components/ng-log-to-customer/rollup.config.js
  packages/components/ng-log-to-customer/src/component.js
  packages/components/ng-log-to-customer/src/constants.js
  packages/components/ng-log-to-customer/src/controller.js
  packages/components/ng-log-to-customer/src/index.js
  packages/components/ng-log-to-customer/src/index.less
  packages/components/ng-log-to-customer/src/service.js
  packages/components/ng-log-to-customer/src/template.html
  packages/components/ng-log-to-customer/src/translations/Messages_fr_FR.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(domain): add alerts for DNS zone deletion (#10721)
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
Owners: @ovh/team-manager-dev

fix(octavia): removed unwanted sentence on onboarding
  packages/manager/modules/octavia-load-balancer/src/onboarding/template.html
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (#10590)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

feat(web.hosting): hide infrastructure cdn and webcloud db statistics… (#10337)
  packages/manager/apps/web/client/app/constants.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.html
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/statistics/STATISTICS.html
  packages/manager/apps/web/client/app/hosting/statistics/hosting-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.controller.js
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.html
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(web): fix operation incoming transfer
  packages/manager/apps/web/client/app/domain-operation/operation-table/operation-table.html
  packages/manager/apps/web/client/app/domain-operation/progress/domain-operation-progress.controller.js
Owners: @ovh/team-manager-dev

fix(catalog): improve text design on catalog
  packages/manager-components/src/components/card/card.component.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(telecom): fix modem wifi no qrcode text display (#10905)
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/modal/wifi-config-modal.controller.js
Owners: @ovh/team-manager-dev

fix(dedicated.nutanix): fix missing type of pack label
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Owners: @ovh/team-manager-dev

Revert "feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (…"
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(public-cloud): renamed region list component used by octavia
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/index.js
Owners: @ovh/team-manager-dev

feat(telecom): update link support to Snow for EU telecom
  packages/manager/apps/telecom/src/app/telecom/telecom.constant.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/manageContacts/manage-contacts.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/manageContacts/manage-contacts.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/manageContacts/manage-contacts.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/rma/rma.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/rma/rma.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/rma/rma.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/assist/support/support.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/assist/support/support.html
Owners: @ovh/team-manager-dev

feat(pci.ai.react): manage port image and scaling for app
  packages/manager/apps/pci-ai/src/components/number-input.tsx
  packages/manager/apps/pci-ai/src/components/ui/alert.tsx
  packages/manager/apps/pci-ai/src/components/ui/radio-group.tsx
  packages/manager/apps/pci-ai/src/data/aiapi.ts
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/attached-data/index.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/generalCard.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/lifeCycleCard.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/resourcesCard.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/udpateHttpPortModal.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/updateDockerImageModal.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/updatedScalingModal.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/index.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/notebooks/[notebookId]/attached-data/index.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

fix(web.domain): correct the display of domain contact info
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2794]
  packages/manager/modules/vps/src/upscale/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/upscale/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/upscale/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/upscale/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/upscale/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/upscale/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/upscale/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated.account): enable fields while kyc is not validated
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Owners: @ovh/team-manager-dev

feat(dedicated.account): enable fields while kyc is not validated
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.html
Owners: @ovh/team-manager-dev

feat(dedicated.account): enable fields while kyc is not validated
  packages/manager/apps/dedicated/client/app/account/account.routing.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.component.js
Owners: @ovh/team-manager-dev

feat(dedicated.account): enable fields while kyc is not validated
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Owners: @ovh/team-manager-dev

feat(dedicated.account): enable fields while kyc is not validated
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Owners: @ovh/team-manager-dev

fix(pci): list private network which in same zone as instance
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Owners: @ovh/team-manager-dev

feat(octavia): finish the tracking implement
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/routing.js
Owners: @ovh/team-manager-dev

fix: remove unused translations [CDS]
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/translations/Messages_en_GB.json
Owners: @ovh/team-manager-dev

feat(octavia): add new tracking on load balancer creation page
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
Owners: @ovh/team-manager-dev

feat(web): fix after API unmock
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2795]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_pl_PL.json
Owners: @ovh/team-manager-dev

feat(project.instances): add tooltips for status badges
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev
