Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/ @ovh/team-manager-dev

# Manager-components
/packages/manager-components @ovh/team-manager-transfo

# React Stack
*.jsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-transfo

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
/scripts/run-playwright.js @ovh/team-manager-transfo
/scripts/run-playwright-bdd.js @ovh/team-manager-transfo
/scripts/.env.development @ovh/team-manager-transfo

chore(rancher): update ods to version 17.1 (#10915)
  jest/mocks/jest.setup.js
  package.json
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-rancher/jest-setup.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/assets/onboarding-img.png
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/error/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(dedicated): manage unconfigured mount path on efs volume dashboard (#10165)
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(dedicated): manage unconfigured mount path on efs volume list (#10163)
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2786]
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_de_DE.json
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_en_GB.json
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_es_ES.json
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_fr_CA.json
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_it_IT.json
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_pl_PL.json
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(pcc.vmware): a banner to inform vmware customer about nsxv eol
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

feat(pcc.vmware): a banner to inform vmware customer about nsxv eol
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
Owners: @ovh/team-manager-dev

feat(*): overriding piano analytics sdk (#10777)
  packages/manager/apps/container/src/helpers/piano-override.ts
  packages/manager/apps/container/src/index.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

release: cobalt-toad-1
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-dev

fix(catalog): order link on catalog page
  packages/manager-components/src/components/card/card.component.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(web.domain): display the domain after also redirect
  packages/manager/apps/web/client/app/domain/redirection/add/domain-redirection-add.html
Owners: @ovh/team-manager-dev

fix(dedicated.vmware): display error field if user name is not correct
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/add/vsphere-user-add.html
Owners: @ovh/team-manager-dev

fix(manager-components): fix unit tests
  packages/manager-components/jest.config.js
  packages/manager-components/src/components/onboarding/onboarding.stories.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(domain): add alerts for DNS zone deletion (#10721)
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
Owners: @ovh/team-manager-dev

feat(web.hosting): hide infrastructure cdn and webcloud db statistics… (#10337)
  packages/manager/apps/web/client/app/constants.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.html
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/statistics/STATISTICS.html
  packages/manager/apps/web/client/app/hosting/statistics/hosting-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.controller.js
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.html
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(web): fix operation incoming transfer
  packages/manager/apps/web/client/app/domain-operation/operation-table/operation-table.html
  packages/manager/apps/web/client/app/domain-operation/progress/domain-operation-progress.controller.js
Owners: @ovh/team-manager-dev

feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (#10590)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(octavia): removed unwanted sentence on onboarding
  packages/manager/modules/octavia-load-balancer/src/onboarding/template.html
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(container.sidebar): search by mac address for telephony
  packages/manager/apps/container/src/container/legacy/server-sidebar/sidebarMenu.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/useServiceLoader.ts
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(pci.k8s.add): freeze network forms when submitted
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2787]
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_es_ES.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_de_DE.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_en_GB.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_it_IT.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(pci.k8s.dashboard): update network configuration
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): change private network gateway ux
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): add private network subnet selection
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): add private network load balancer subnet selection
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/gateway-management/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pci.k8s.proxy-form): handle max duration for ipvs timeouts
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
Owners: @ovh/team-manager-dev

fix(pci.k8s.add): freeze network forms when submitted
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
Owners: @ovh/team-manager-dev

refactor(pci.k8s.proxy-form): remove moment import
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/index.js
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): add network proxy form
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.utils.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Owners: @ovh/team-manager-dev

refactor(pci.k8s.proxy-form): remove scope watch references
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
Owners: @ovh/team-manager-dev

refactor(pci.k8s.proxy-form): remove moment import
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/index.js
Owners: @ovh/team-manager-dev

fix(pci.k8s.proxy-form): handle max duration for ipvs timeouts
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
Owners: @ovh/team-manager-dev

refactor(pci.k8s.proxy-form): remove scope watch references
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
Owners: @ovh/team-manager-dev

feat(pci.k8s.add): add network proxy form
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.utils.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Owners: @ovh/team-manager-dev

fix(pci.k8s.add): freeze network forms when submitted
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
Owners: @ovh/team-manager-dev

fix(catalog): improve text design on catalog
  packages/manager-components/src/components/card/card.component.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(pci.k8s.reset): add network proxy form
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/proxy-form/proxy-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.module.js
Owners: @ovh/team-manager-dev

Revert "feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (…"
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(catalog): improve text design on catalog
  packages/manager-components/src/components/card/card.component.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(dedicated.nutanix): fix missing type of pack label
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Owners: @ovh/team-manager-dev

Revert "feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (…"
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev
