Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower

fix(pci): implement manual translations from pci-common (#15387)
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-public-ip/package.json
  yarn.lock
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower

feat(pci.gateway): use mrc function to display monthly price (#15145)
  packages/manager/apps/pci-gateway/src/pages/add/SizeStep.tsx
Owners: @dev-manager-pci-all

feat(pci-databases): get prices planCodes from api to prepare sgp region (#15144)
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/availabilities.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/availabilitiesMock/availabilities.ts
  packages/manager/apps/pci-databases-analytics/src/components/order/region/RegionSelect.component.tsx
  packages/manager/apps/pci-databases-analytics/src/components/tabs-menu/TabsMenu.component.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/pricing.constants.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/useHorizontalScroll.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/lib/availabilitiesHelper.ts
  packages/manager/apps/pci-databases-analytics/src/lib/pricingHelper.ts
  packages/manager/apps/pci-databases-analytics/src/types/cloud/project/database/Availability.ts
Owners: @dev-manager-pci-aidatabase

fix(pci-instances): fix monthly billing typo
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
Owners: @ovh/team-manager-control-tower

feat(dedicated): implement new tracking nomenclature
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
Owners: @dev-manager-infra-all

fix(pci-object-storage): error boundary
  packages/manager/apps/pci-object-storage/src/App.tsx
  packages/manager/apps/pci-object-storage/src/pages/ErrorBoundary.tsx
  packages/manager/apps/pci-object-storage/src/pages/Layout.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Owners: @dev-manager-pci-all

feat(account): added the confirm erasure request page (#15442)
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.component.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.module.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.routing.js
  packages/manager/modules/account/src/user/gdpr/confirm/index.js
  packages/manager/modules/account/src/user/gdpr/confirm/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.module.js
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Owners: @dev-manager-gcj-all

fix(web.hosting): fix warning message on delete module
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/module/delete/hosting-module-delete.controller.js
  packages/manager/apps/web/client/app/hosting/module/delete/hosting-module-delete.html
Owners: @dev-manager-web-all

feat(dedicated): implement new tracking nomenclature
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
Owners: @dev-manager-infra-all

feat(ng-layout-helpers): add possibility to display guide.category
  packages/manager/modules/ng-layout-helpers/src/onboarding/onboarding.html
Owners: @ovh/team-manager-control-tower

fixup! feat(dedicated): add datacenter network tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/onboarding.html
Owners: @dev-manager-infra-all, @ovh/team-manager-control-tower

feat(vrack-services): add iam checks on subnet and endpoint
  packages/manager/apps/vrack-services/src/components/layout-helpers/OnboardingLayout.component.tsx
  packages/manager/apps/vrack-services/src/pages/create-endpoint/EndpointCreate.page.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/EndpointsTab.spec.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/endpoints-listing/ActionCell.component.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/endpoints-listing/EndpointsListing.page.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/onboarding/EndpointsOnboarding.page.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/SubnetsTab.spec.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/onboarding/SubnetsOnboarding.page.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/subnets-listing/SubnetsActionCell.component.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/subnets-listing/SubnetsListing.page.tsx
  packages/manager/apps/vrack-services/src/utils/iamActions.constants.ts
Owners: @dev-manager-infra-all

feat(logs): add live-tail component
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/Log.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logTail.css
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailUrl.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/index.ts
  packages/manager/modules/logs-to-customer/vitest.config.js
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(kms): add logs-to-customer module
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/tailwind.config.js
Owners: @dev-manager-enabler-all

feat(logs): init logs-to-customer module
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogKinds.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.mock.ts
  packages/manager/modules/logs-to-customer/src/data/types/apiVersion.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/index.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogKind.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscription.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResource.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResponse.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogUrlCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/TemporaryLogsLink.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
  packages/manager/modules/logs-to-customer/src/index.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/Data-streams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/index.ts
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/error/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/error/index.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logKind/index.ts
  packages/manager/modules/logs-to-customer/tailwind.config.js
  packages/manager/modules/logs-to-customer/tsconfig.json
  packages/manager/modules/logs-to-customer/vite.config.mjs
  packages/manager/modules/logs-to-customer/vitest.config.js
Owners: @ovh/team-manager-control-tower

feat(ldp): add zoomin zoomout feature ref: MANAGER-15921
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/hooks/useZoomedInOut.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
Owners: @ovh/team-manager-control-tower

feat(ldp): subscriptions list implementation ref: MANAGER-15919
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStreamUrl.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogService.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStream.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStreamUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogSubscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logService/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logService/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logStream/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStream/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/index.ts
Owners: @ovh/team-manager-control-tower

feat(logs): bump manager-vite-config version ref: MANAGER-15358
  packages/manager/modules/logs-to-customer/package.json
Owners: @ovh/team-manager-control-tower

feat(logs): add dbaas/logs missing types
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Service.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServicePlanEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServiceStateEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Stream.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageCompressionEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageContentEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageTargetEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Url.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/UrlTypeEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
Owners: @ovh/team-manager-control-tower

feat(ldp): add tracking base implementation ref: MANAGER-15360
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/LogsTracking.constant.ts
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.spec.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/types/logsTracking.ts
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

feat(ldp): add unsubscribe subscription action ref: MANAGER-16516
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useTerminateLogSubscription.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower

feat(logs): bump ods18
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscriptionsLink.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamUnsubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logRetention.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  yarn.lock
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

fix(logs): bump vite v5
  packages/manager/modules/logs-to-customer/package.json
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(logs): fix logs layout
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/KmsTabs.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamAccountLink.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStreams/Messages_fr_FR.json
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

feat(ldp): add ldp know more links ref: MANAGER-16655
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.constants.ts
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
Owners: @ovh/team-manager-control-tower

fix(kms): fix bad navigation between several kms ref: MANAGER-16850
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/KmsTabs.tsx
Owners: @dev-manager-enabler-all

feat(pci.savings-plan): outside plans consumption (#15444)
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
Owners: @dev-manager-pci-all

feat(account): gdpr erasure feature add tracking
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.controller.js
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
Owners: @dev-manager-gcj-all

fix(i18n): add missing translations [CDS 236]
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_pt_PT.json
Owners: @dev-manager-pci-all

feat(vmware-managed-vcd): add info special offer for compute order
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/compute/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/mocks/feature-availability/feature-availability.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/mocks/feature-availability/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/render-test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/features.constants.ts
Owners: @dev-manager-hpc-all

feat(dedicated): display edge status in dashboard ref: MANAGER-15423
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
Owners: @dev-manager-infra-all

fix(dedicated): hide nsx edge tile on other products ref: MANAGER-16422
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
Owners: @dev-manager-infra-all

feat(dedicated.vmware): custom nsx edges sizing
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
Owners: @dev-manager-infra-all

feat(dedicated): reactivate nsx sizes in update page ref: MANAGER-15424
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
Owners: @dev-manager-infra-all

feat(dedication-cloud): add network tab details
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter.less
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/icebergUtils.services.js
Owners: @dev-manager-infra-all

fix(dedicated): infinite loading when resize nsx ref: MANAGER-16287
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Owners: @dev-manager-infra-all

feat(dedicated): add datacenter network tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/assets/network.png
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/index.js
Owners: @dev-manager-infra-all

fixup! feat(dedicated): add datacenter network tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/ng-layout-helpers/src/onboarding/onboarding.html
Owners: @dev-manager-infra-all, @ovh/team-manager-control-tower

feat: add product names translation for LDP integrations
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
Owners: @dev-manager-enabler-all

fix(logs): fix service link
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/services/ServiceLink.component.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/helpers/getServiceLabel.spec.ts
  packages/manager/modules/logs-to-customer/src/helpers/getServiceLabel.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/translations/logStreams/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower
