Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev

feat(generator): add template dashboard api
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-template.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): add translations in generator corresponding to template
  packages/manager/core/application/src/i18n.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/dashboard/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/tab/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/onboarding/Messages_fr_FR.json.hbs
Owners: @ovh/su-digital-tools-core-stack

feat(generator): delete console log
  packages/manager/core/application/src/i18n.tsx
Owners: @ovh/su-digital-tools-core-stack

fix(generator): fix local application by default dedicated
  docs/docs/guide/micro-applications.md
  packages/components/ovh-shell/src/client/index.ts
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev

fix: sonar bugs and code smells
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

feat(generator.test): update logger feature
  packages/components/ovh-shell/features/plugin/logger/logger.feature
Owners: @ovh/team-manager-dev

fix(generator.react): delete error use logger
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
Owners: @ovh/su-digital-tools-core-stack

docs: remove the micro-applications doc
  docs/docs/guide/micro-applications.md
Owners: @ovh/team-manager-dev

fix: put back eslint rule
  .eslintrc.js
Owners: @ovh/team-manager-dev

feat(generator.test): delete use logger in ovh application
  packages/manager/core/application/src/ovh-application.tsx
Owners: @ovh/su-digital-tools-core-stack

feat(tracking): add tracking ovh
  package.json
  packages/manager/apps/tuesday/README.md
  packages/manager/apps/tuesday/package.json
  packages/manager/apps/tuesday/src/api/DELETE/apiv6/services.ts
  packages/manager/apps/tuesday/src/api/GET/apiv6/services.ts
  packages/manager/apps/tuesday/src/api/POST/apiv6/services.ts
  packages/manager/apps/tuesday/src/api/PUT/apiv6/services.ts
  packages/manager/apps/tuesday/src/api/index.ts
  packages/manager/apps/tuesday/src/components/Breadcrumb.tsx
  packages/manager/apps/tuesday/src/index.html
  packages/manager/apps/tuesday/src/index.tsx
  packages/manager/apps/tuesday/src/pages/404.tsx
  packages/manager/apps/tuesday/src/pages/_app.tsx
  packages/manager/apps/tuesday/src/pages/dashboard/[serviceName]/index.tsx
  packages/manager/apps/tuesday/src/pages/index.tsx
  packages/manager/apps/tuesday/src/pages/onboarding/index.tsx
  packages/manager/apps/tuesday/src/public/translations/tuesday/Messages_fr_FR.json
  packages/manager/apps/tuesday/src/public/translations/tuesday/dashboard/Messages_fr_FR.json
  packages/manager/apps/tuesday/src/public/translations/tuesday/listing/Messages_fr_FR.json
  packages/manager/apps/tuesday/src/public/translations/tuesday/onboarding/Messages_fr_FR.json
  packages/manager/apps/tuesday/tsconfig.json
  packages/manager/apps/tuesday/vite.config.mjs
  packages/manager/core/application/src/index.tsx
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/application/src/ovh-context.ts
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/application/src/ovh-tracking.tsx
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator.tracking): add ovh tracking in ods components
  packages/manager/apps/tuesday/package.json
  packages/manager/apps/tuesday/src/pages/index.tsx
  packages/manager/apps/tuesday/src/pages/onboarding/index.tsx
  packages/manager/core/application/src/index.tsx
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/application/src/ovh-tracking.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(tracking): update tracking ods component
  packages/manager/apps/tuesday/src/pages/index.tsx
  packages/manager/apps/tuesday/src/pages/onboarding/index.tsx
  packages/manager/core/application/src/ovh-tracking.tsx
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): add tracking on ods components
  .eslintignore
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
  packages/manager/apps/tuesday/src/pages/index.tsx
  packages/manager/apps/tuesday/src/pages/onboarding/index.tsx
  packages/manager/core/application/src/index.tsx
  packages/manager/core/application/src/ovh-context.ts
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/application/src/ovh-tracking.tsx
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix(generator.tracking): fix typescript warning
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/application/src/ovh-tracking.tsx
Owners: @ovh/su-digital-tools-core-stack

feat(generator): update package json
  package.json
  yarn.lock
Owners: @ovh/team-manager-dev

fix(tracking): fix rebase with master
  packages/components/ovh-shell/features/plugin/logger/logger.feature
  packages/components/ovh-shell/src/client/index.ts
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/generator/utils/api-template.js
  packages/manager/core/generator/utils/api.js
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(dedicated): add documents list
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

feat(dedicated): add documents list (#9440)
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

fix(container): fix scss for screen reader (#9414)
  packages/manager/apps/container/src/container/common/notifications-sidebar/notifications-sidebar.module.scss
  packages/manager/apps/container/src/container/legacy/account-sidebar/index.scss
Owners: @ovh/team-manager-dev

feat(dedicated): explain windows installation server 2+ disks impossible (#9242)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

feat(pci.project): update the filtering of a cart service option (#9415)
  packages/manager/modules/pci/src/projects/new/service.js
Owners: @ovh/team-manager-dev

feat(vps): display info msgs for starter range (#9275)
  packages/manager/modules/vps/src/dashboard/tile/configuration/index.html
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Owners: @ovh/team-manager-dev

fix(dedicated): removed duplicated netboot translations (#9344)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated): licenses page display improvements (#9383)
  packages/manager/apps/dedicated/client/app/css/less/common/table.less
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/apps/dedicated/client/app/license/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(dedicated): clean dead code related to partitioning (#9384)
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

fix(dedicated.iplb): order urls onboarding page (#9434)
  packages/manager/modules/iplb/src/onboarding/constants.js
Owners: @ovh/team-manager-dev

feat(nasha.react): add template on dashboard
  packages/manager/apps/cdn-react/package.json
  packages/manager/apps/nasha-react/package.json
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/service.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/types.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/components/index.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/dashboard/dashboard.scss
  packages/manager/apps/nasha-react/src/components/layout-helpers/dashboard/index.tsx
  packages/manager/apps/nasha-react/src/components/layout-helpers/index.ts
  packages/manager/apps/nasha-react/src/components/nasServiceDataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/_layout.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/buttonTooltip.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/configurations.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/dateLocale.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/engagementUpToContent.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/index.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/informations.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/partitions.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/section.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/suscriptions.tsx
  packages/manager/apps/nasha-react/src/pages/index.scss
  packages/manager/apps/nasha-react/src/pages/index.tsx
  packages/manager/apps/nasha-react/src/pages/loading.tsx
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/Messages_fr_FR.json
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/details/dashboard/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev

fix: fix errors on uapp generator scaffolding tools
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
Owners: @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(dedicated): allow user define raid higher than 1 on / partition
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Owners: @ovh/team-manager-dev

fix(dedicated): historical rounding issue in partitioning
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Owners: @ovh/team-manager-dev

fix(dedicated): forgotten css class for lvm input
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

feat(dedicated): ensure basic os category default, handle missing translation key
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

feat(dedicated): prepare new os backup usage for proxmox bs
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2292]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated.carbon): add new carbon calculator uapp
  packages/manager/apps/carbon-calculator/.eslintrc.json
  packages/manager/apps/carbon-calculator/README.md
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carbon-calculator/src/app.module.js
  packages/manager/apps/carbon-calculator/src/error/error.module.js
  packages/manager/apps/carbon-calculator/src/error/error.routing.js
  packages/manager/apps/carbon-calculator/src/error/index.js
  packages/manager/apps/carbon-calculator/src/index.html
  packages/manager/apps/carbon-calculator/src/index.js
  packages/manager/apps/carbon-calculator/webpack.config.js
  packages/manager/modules/carbon-calculator/README.md
  packages/manager/modules/carbon-calculator/package.json
  packages/manager/modules/carbon-calculator/src/dashboard/component.js
  packages/manager/modules/carbon-calculator/src/dashboard/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/index.js
  packages/manager/modules/carbon-calculator/src/dashboard/module.js
  packages/manager/modules/carbon-calculator/src/dashboard/routing.js
  packages/manager/modules/carbon-calculator/src/dashboard/template.html
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/index.js
  packages/manager/modules/carbon-calculator/src/index.scss
  packages/manager/modules/carbon-calculator/src/module.js
  packages/manager/modules/carbon-calculator/src/onboarding/component.js
  packages/manager/modules/carbon-calculator/src/onboarding/constants.js
  packages/manager/modules/carbon-calculator/src/onboarding/controller.js
  packages/manager/modules/carbon-calculator/src/onboarding/index.js
  packages/manager/modules/carbon-calculator/src/onboarding/module.js
  packages/manager/modules/carbon-calculator/src/onboarding/routing.js
  packages/manager/modules/carbon-calculator/src/onboarding/template.html
  packages/manager/modules/carbon-calculator/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/routing.js
  packages/manager/modules/carbon-calculator/src/translations/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev

fix(*): fix backdrop stays when choosing another section wizard module
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/web/client/app/app.module.js
Owners: @ovh/team-manager-dev

fix: pr comments
  packages/manager/modules/pci/src/projects/project/data-integration/tabs/dashboard/components/jobsList/jobs-list.component.js
  packages/manager/modules/pci/src/projects/project/data-integration/tabs/dashboard/components/workflowsList/workflows-list.constants.js
  packages/manager/modules/pci/src/projects/project/data-integration/tabs/dashboard/components/workflowsList/workflows-list.controller.js
Owners: @ovh/team-manager-dev

feat(dedicated): prepare new os backup usage for proxmox bs (#9328)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

fix(dedicated): allow user define raid higher than 1 on / partition (#9276)
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev
