Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-core, @ovh/team-manager-continuous-integration

fix: remove unused translations [CDS]
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

docs: update `MAINTAINER` file
  MAINTAINERS
Owners: @ovh/team-manager-dev

build: remove regionalized dist references (#8643)
  .gitignore
  .lintstagedrc.json
  package.json
Owners: @ovh/team-manager-dev

feat(generator): bootstrap an app with default routes
  packages/manager/core/application/package.json
  packages/manager/core/application/src/index.tsx
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/application/src/ovh-context.ts
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/application/tsconfig.json
  packages/manager/core/components/package.json
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/App.tsx
  packages/manager/core/generator/app/templates/src/api/{{appName}}/index.ts.hbs
  packages/manager/core/generator/app/templates/src/index.tsx
  packages/manager/core/generator/app/templates/src/pages/404.tsx
  packages/manager/core/generator/app/templates/src/pages/Routing.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/_app.tsx
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/onboarding.tsx.hbs
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/dashboard/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/tab/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/onboarding/Messages_fr_FR.json.hbs
  packages/manager/core/generator/index.js
  packages/manager/core/generator/package.json
  packages/manager/core/generator/plopfile.js
  packages/manager/core/generator/utils/api.js
  packages/manager/core/vite-config/package.json
  packages/manager/core/vite-config/src/config.js
  yarn.lock
Owners: @ovh/team-manager-core

feat(generator): use generouted v1.6.4 and fix some templates
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/generator/app/templates/src/api/{{appName}}/index.ts.hbs
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/vite-config/src/config.js
  yarn.lock
Owners: @ovh/team-manager-core

feat: create manager components react workspace
  lerna.json
  package.json
  packages/manager/components/react/breadcrumb/package.json
  packages/manager/components/react/breadcrumb/src/Breadcrumb.tsx
  packages/manager/components/react/breadcrumb/src/index.ts
  packages/manager/components/react/breadcrumb/tsconfig.json
  packages/manager/core/components/src/Breadcrumb.tsx
  packages/manager/core/components/src/Dashboard/DashboardTileList.tsx
  packages/manager/core/components/src/index.ts
Owners: @ovh/team-manager-dev, @ovh/team-manager-core

build: change ovh-theme dev script and component deps in generator
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/ovh-themes/package.json
  yarn.lock
Owners: @ovh/team-manager-core

feat(generator): handle breadcrumb in generated app
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/pages/_app.tsx
  packages/manager/core/generator/app/templates/src/pages/_app.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/tab/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-core

docs(generator): add README for generator
  packages/manager/core/generator/README.md
Owners: @ovh/team-manager-core

feat(core-generator): add hooks
  packages/manager/core/generator/app/templates/src/hooks/useAuthentication.tsx
  packages/manager/core/generator/app/templates/src/hooks/useEnvironment.tsx
  packages/manager/core/generator/app/templates/src/hooks/useNavigation.tsx
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-core, @ovh/team-manager-dev

feat(core-application): add tanstack query
  packages/manager/core/application/package.json
  packages/manager/core/application/src/index.tsx
  yarn.lock
Owners: @ovh/team-manager-core

feat(core): handle sso redirection
  packages/components/ovh-reket/package.json
  packages/components/ovh-reket/src/constants.js
  packages/components/ovh-reket/src/index.js
  packages/manager/core/api/src/client.ts
  packages/manager/core/ovh-shell/package.json
  packages/manager/core/ovh-shell/src/plugin/auth/index.ts
  packages/manager/core/sso/package.json
  packages/manager/core/sso/src/constants.ts
  packages/manager/core/sso/src/index.ts
  packages/manager/core/sso/tsconfig.json
Owners: @ovh/team-manager-dev, @ovh/team-manager-core

feat(generator): use tanstack query
  packages/manager/core/application/src/index.tsx
  packages/manager/core/application/src/query-client.ts
  packages/manager/core/generator/app/templates/src/api/{{appName}}/index.ts.hbs
Owners: @ovh/team-manager-core

fix(core-application): unsupported browser regex
  packages/manager/core/application/src/ovh-routing.tsx
Owners: @ovh/team-manager-core

fix(core-application): add missing suspense
  packages/manager/core/application/src/ovh-application.tsx
Owners: @ovh/team-manager-core

fix(core): react dependencies version
  packages/manager/core/application/package.json
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/ovh-chakra-showcase/package.json
  yarn.lock
Owners: @ovh/team-manager-core

fix(core-api): handle Authorization headers
  packages/manager/core/api/src/client.ts
Owners: @ovh/team-manager-core

fix(core): allow generated app to be used in container
  packages/manager/apps/container/src/core/dev/index.ts
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/generator/app/templates/package.json.hbs
Owners: @ovh/team-manager-dev, @ovh/team-manager-core

fix(core-application): add default error handler
  packages/manager/core/application/src/ovh-routing.tsx
Owners: @ovh/team-manager-core

feat(shell): add logger plugin
  packages/manager/apps/container/package.json
  packages/manager/core/ovh-shell/__tests__/plugin/logger/logger.spec.ts
  packages/manager/core/ovh-shell/features/plugin/logger/logger.feature
  packages/manager/core/ovh-shell/src/client/api.ts
  packages/manager/core/ovh-shell/src/plugin/logger/index.ts
  packages/manager/core/ovh-shell/src/shell/index.ts
Owners: @ovh/team-manager-dev, @ovh/team-manager-core

feat(core-shell): add debug to logger plugin
  packages/manager/core/ovh-shell/__tests__/plugin/logger/logger.spec.ts
  packages/manager/core/ovh-shell/features/plugin/logger/logger.feature
  packages/manager/core/ovh-shell/src/plugin/logger/index.ts
Owners: @ovh/team-manager-core

feat(generator): add useLogger and fix logger client api integration
  packages/manager/core/generator/app/templates/src/hooks/useLogger.tsx
  packages/manager/core/ovh-shell/src/plugin/logger/index.ts
Owners: @ovh/team-manager-core

feat(core-application): add shell hooks
  packages/manager/core/application/src/hooks/index.ts
  packages/manager/core/application/src/hooks/useAuthentication.tsx
  packages/manager/core/application/src/hooks/useEnvironment.tsx
  packages/manager/core/application/src/hooks/useLogger.tsx
  packages/manager/core/application/src/hooks/useNavigation.tsx
  packages/manager/core/application/src/index.tsx
Owners: @ovh/team-manager-core

feat(core): remove chakra from react applications
  packages/manager/components/react/breadcrumb/package.json
  packages/manager/components/react/breadcrumb/src/Breadcrumb.tsx
  packages/manager/core/application/package.json
  packages/manager/core/application/src/index.tsx
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/onboarding.tsx.hbs
Owners: @ovh/team-manager-dev, @ovh/team-manager-core

build(core-application): set package as private
  packages/manager/core/application/package.json
  packages/manager/core/application/src/ovh-routing.tsx
Owners: @ovh/team-manager-core

fix(telecom.sms): add missing shortcut guide in order section
  packages/manager/modules/sms/src/sms/order/telecom-sms-order-service.html
  packages/manager/modules/sms/src/sms/order/telecom-sms-order.component.js
  packages/manager/modules/sms/src/sms/order/telecom-sms-order.controller.js
  packages/manager/modules/sms/src/sms/order/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/telecom-sms.module.js
  packages/manager/modules/sms/src/sms/telecom-sms.routing.js
  packages/manager/modules/sms/src/sms/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix: remove unused translations [CDS]
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2031]
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/ip/components/list/reverse/update/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/otrs/components/otrs-grid/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/otrs/components/otrs-grid/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/otrs/components/otrs-grid/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

Sync master develop
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/otrs/components/otrs-grid/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/otrs/components/otrs-grid/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/otrs/components/otrs-grid/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
Owners: @ovh/team-manager-dev

fix(url-builder): add tests
  packages/manager/core/url-builder/__tests__/url-builder.spec.ts
Owners: @ovh/team-manager-core

build(config): update script and tsconfig
  packages/components/ovh-shell/package.json
  packages/manager/apps/container/package.json
  packages/manager/core/url-builder/tsconfig.json
Owners: @ovh/team-manager-dev, @ovh/team-manager-core

fix(i18n): add missing translations [CDS 2034]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2035]
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix: remove unused translations [CDS]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

sync: master to develop
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.html
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2040]
  packages/manager/apps/container/src/public/translations/mfa-enrollment/Messages_en_GB.json
Owners: @ovh/team-manager-dev

fix: added trads and disk size value
  packages/manager/modules/pci/src/components/pci-order-command-terraform/pci-order-command-terraform.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.utils.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix: remove unused translations [CDS]
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2052]
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2054]
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev
yarn.lock @ovh/team-manager-core

# Documentation
*.md
/docs/ @ovh/team-manager-core

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/team-manager-core

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/team-manager-core @ovh/team-manager-continuous-integration

# Continuous Integration
.nvmrc @ovh/team-manager-continuous-integration
/scripts/ @ovh/team-manager-continuous-integration
.github @ovh/team-manager-continuous-integration
