Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix: update test at root level to run rancher test correclty
  jest.config.js
  jest/mocks/images.tsx
  jest/mocks/jest.setup.js
  package.json
  packages/manager/apps/pci-rancher/jest.config.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/utils/test.provider.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat: add dashboard page
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/playwright.config.ts
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/TileBlock/TileBlock.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/e2e/Error.e2e.ts
  packages/manager/apps/pci-rancher/src/hooks/usePciProject.tsx
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/[serviceName]/Tabs2.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/tsconfig.json
  playwright-helpers/config.ts
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat: add edit name input, various fix on style and add unit test ref: MANAGER-12790
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/hooks/usePciProject.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/react-app-env.d.ts
  packages/manager/apps/pci-rancher/src/utils/test.provider.tsx
  playwright-helpers/config.ts
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(rancher): various fix on name input and text translation, use onboarding (#10864)
  jest.config.js
  packages/manager-components/src/components/onboarding/onboarding.component.tsx
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/api/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/Modal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/index.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/placeholder.png
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/hooks/useGenerateAccessDetail.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/routes.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(pci-rancher): add tanstack table full width (#10831)
  packages/manager-components/src/components/onboarding/onboarding.component.tsx
  packages/manager-components/src/components/onboarding/onboarding.stories.tsx
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/LinkService.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.scss
  packages/manager/apps/pci-rancher/src/components/Table/Table.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.type.ts
  packages/manager/apps/pci-rancher/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-rancher/src/components/Table/TextCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/OdsFormatter.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  yarn.lock
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

fix(rancher): use error layout manager components, add selectable tile (#10875)
  packages/manager-components/src/components/error/error.component.tsx
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

feat(rancher): add tracking (#10964)
  packages/manager/apps/pci-rancher/jest-setup.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.type.ts
  packages/manager/apps/pci-rancher/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useTrackingPage.ts
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/utils/tracking.ts
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(rancher): add discovery banner on create page (#10893)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-rancher/jest.config.js
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.tsx
  packages/manager/apps/pci-rancher/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useActivatePciProjectURL.ts
  packages/manager/apps/pci-rancher/src/hooks/useCreateRancher.ts
  packages/manager/apps/pci-rancher/src/i18n.ts
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/src/utils/route.ts
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

chore(rancher): update ods to version 17.1 (#10915)
  jest/mocks/jest.setup.js
  package.json
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-rancher/jest-setup.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/assets/onboarding-img.png
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/error/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(i18n): add missing translations [CDS 2798]
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_de_DE.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_pt_PT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_de_DE.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_pt_PT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2799]
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/kyc-fraud-banner/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/kyc-fraud-banner/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/kyc-fraud-banner/translations/Messages_it_IT.json
  packages/manager/modules/hub/src/components/kyc-fraud-banner/translations/Messages_pl_PL.json
Owners: @ovh/team-manager-dev

feat(web.domain): add translation for new domain operations
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(manager-components): add ods version 17.1.0
  packages/manager-components/package.json
  packages/manager-components/src/components/card/card.component.tsx
  packages/manager-components/src/components/error/error.component.tsx
  packages/manager-components/src/components/onboarding/onboarding.component.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

refactor: standardize ng-if usage
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
Owners: @ovh/team-manager-dev

fix(rancher): update sonar warning and unit test
  jest.config.js
  packages/manager-components/src/components/onboarding/onboarding.spec.tsx
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/pages/404.tsx
  packages/manager/apps/pci-rancher/src/pages/_app.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(signup): added helper text for address field
  packages/manager/apps/sign-up/src/constants.js
  packages/manager/apps/sign-up/src/details/routing.js
  packages/manager/apps/sign-up/src/form/component.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/form/details/details.component.js
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/details/details.scss
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(rancher): update sonar warning and unit test
  packages/manager/apps/pci-rancher/jest-setup.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/utils/test/test.provider.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(dedicated.nutanix): update link support to Snow for EU/CA
  packages/manager/modules/bm-server-components/src/support/constants.js
  packages/manager/modules/bm-server-components/src/support/controller.js
  packages/manager/modules/bm-server-components/src/support/template.html
Owners: @ovh/team-manager-dev

feat(dedicated.account): update link support to Snow for EU/CA
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/modules/billing/src/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/modules/billing/src/autoRenew/agreements/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.constant.js
Owners: @ovh/team-manager-dev

feat(dedicated.support): remove modal beta help center (#10948)
  packages/manager/modules/support/src/modal/index.js
  packages/manager/modules/support/src/modal/modal.component.js
  packages/manager/modules/support/src/modal/modal.constants.js
  packages/manager/modules/support/src/modal/modal.controller.js
  packages/manager/modules/support/src/modal/modal.html
  packages/manager/modules/support/src/modal/modal.module.js
  packages/manager/modules/support/src/modal/modal.routing.js
  packages/manager/modules/support/src/modal/modal.scss
  packages/manager/modules/support/src/modal/translations/Messages_de_DE.json
  packages/manager/modules/support/src/modal/translations/Messages_en_GB.json
  packages/manager/modules/support/src/modal/translations/Messages_es_ES.json
  packages/manager/modules/support/src/modal/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/modal/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/modal/translations/Messages_it_IT.json
  packages/manager/modules/support/src/modal/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/modal/translations/Messages_pt_PT.json
  packages/manager/modules/support/src/support.module.js
  packages/manager/modules/support/src/support.routing.js
Owners: @ovh/team-manager-dev

feat(pci.ai.react): modify layout everywhere and add scaling to app
  packages/manager/apps/pci-ai/src/components/number-input.tsx
  packages/manager/apps/pci-ai/src/data/aiapi.ts
  packages/manager/apps/pci-ai/src/hooks/api/ai/useGetTokens.ts
  packages/manager/apps/pci-ai/src/hooks/api/ai/useGetUsers.ts
  packages/manager/apps/pci-ai/src/models/types.ts
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/_components/dataContainerListColumns.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/_components/gitRepositoryListColumns.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/_components/mountDirectoryCol.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/resourcesCard.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/_components/updatedScalingModal.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/[appId]/general-information/index.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/_components/appsListColumn.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/_components/resourcesDeployedCol.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/apps/_layout.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/jobs/_layout.tsx
  packages/manager/apps/pci-ai/src/pages/projects/[projectId]/notebooks/_layout.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

feat(signup): added helper text for address field
  packages/manager/apps/sign-up/src/details/routing.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/details/details.scss
  packages/manager/modules/sign-up/src/form/form.constants.js
  packages/manager/modules/sign-up/src/form/form.controller.js
Owners: @ovh/team-manager-dev

feat: try without react-query upgrade
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/hub/src/routing.js
  yarn.lock
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev

fix(rancher): add mock test in each file
  jest.config.js
  packages/manager-components/jest.config.js
  packages/manager-components/tsconfig.json
  packages/manager/apps/pci-rancher/jest-setup.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(billing): handle the new billing debt status translation
  packages/manager/modules/billing/src/main/history/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(signup): added helper text for address field
  packages/manager/modules/sign-up/src/form/details/details.html
Owners: @ovh/team-manager-dev

feat(octavia): check by default duplicate port checkbox
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/controller.js
Owners: @ovh/team-manager-dev

ci: add transversal section in release pr template
  .github/RELEASE_TEMPLATE.md
Owners: @ovh/su-digital-tools-core-service-delivery

feat(octavia): adjusted design of members creation page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/template.html
Owners: @ovh/team-manager-dev

fix(dedicated): add margin to button at service status card
  packages/manager/modules/bm-server-components/src/service-status/service-status.html
Owners: @ovh/team-manager-dev

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/ @ovh/team-manager-dev

# Manager-components
/packages/manager-components @ovh/team-manager-transfo

# React Stack
*.jsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-transfo

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
/scripts/run-playwright.js @ovh/team-manager-transfo
/scripts/run-playwright-bdd.js @ovh/team-manager-transfo
/scripts/.env.development @ovh/team-manager-transfo
