Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower

feat(manager-components): add changelog button component (#14950)
  packages/manager/modules/manager-components/src/changelog-button/assets/github-icon.svg
  packages/manager/modules/manager-components/src/changelog-button/component.js
  packages/manager/modules/manager-components/src/changelog-button/controller.js
  packages/manager/modules/manager-components/src/changelog-button/index.js
  packages/manager/modules/manager-components/src/changelog-button/template.html
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/index.js
Owners: @ovh/team-manager-control-tower

feat(mrc): add changelog component (#14889)
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/index.ts
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-control-tower

feat(web): implement changelog button
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.html
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/managed-baremetal.routing.js
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/dns-zone/zone.routing.js
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.controller.js
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.html
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.html
  packages/manager/apps/web/client/app/hosting/hosting.routing.js
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.html
  packages/manager/apps/web/client/app/private-database/private-database.routing.js
  packages/manager/modules/email-domain/src/dashboard/email-domain.controller.js
  packages/manager/modules/email-domain/src/dashboard/email-domain.html
  packages/manager/modules/email-domain/src/delegate/email-domain-delegate.controller.js
  packages/manager/modules/email-domain/src/delegate/email-domain-delegate.html
  packages/manager/modules/email-domain/src/email.routing.js
  packages/manager/modules/emailpro/src/dashboard/emailpro.controller.js
  packages/manager/modules/emailpro/src/dashboard/emailpro.html
  packages/manager/modules/emailpro/src/email-pro.routing.js
  packages/manager/modules/exchange/src/exchange.routing.js
  packages/manager/modules/exchange/src/header/header.html
Owners: @dev-manager-infra-all, @dev-manager-web-all

fix(dedicated): fix changelog with bad variable
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.html
Owners: @dev-manager-infra-all

feat(telecom): add changelog button
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/telecom/src/app/config/all.js
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/pack.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/pack.html
  packages/manager/apps/telecom/src/app/telecom/pack/packs.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/packs.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing-account.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing-account.html
  packages/manager/apps/telecom/src/app/telecom/telephony/telephony.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/telephony.html
  packages/manager/apps/web/package.json
  packages/manager/modules/overthebox/src/overtheboxes.controller.js
  packages/manager/modules/overthebox/src/overtheboxes.html
  packages/manager/modules/sms/src/sms.controller.js
  packages/manager/modules/sms/src/sms.html
  packages/manager/modules/sms/src/sms/telecom-sms.controller.js
  packages/manager/modules/sms/src/sms/telecom-sms.html
Owners: @dev-manager-web-all

feat(*): implement changelog button on bare metal
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/list/dedicatedCloud-list.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/list/dedicatedCloud-list.html
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.html
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/modules/bm-server-components/src/server/server.html
  packages/manager/modules/cda/src/cda.routing.js
  packages/manager/modules/cda/src/details/cda-details.controller.js
  packages/manager/modules/cda/src/details/cda-details.html
  packages/manager/modules/nasha/src/dashboard/dashboard.controller.js
  packages/manager/modules/nasha/src/dashboard/dashboard.module.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
  packages/manager/modules/nasha/src/dashboard/styles.less
  packages/manager/modules/nasha/src/directory/directory.routing.js
  packages/manager/modules/netapp/src/dashboard/component.js
  packages/manager/modules/netapp/src/dashboard/controller.js
  packages/manager/modules/netapp/src/dashboard/template.html
  packages/manager/modules/netapp/src/routing.js
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.component.js
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.controller.js
  packages/manager/modules/ng-layout-helpers/src/list/template.html
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/veeam-cloud-connect/src/header/veeam-dashboard-header.controller.js
  packages/manager/modules/veeam-cloud-connect/src/header/veeam-dashboard-header.html
  packages/manager/modules/veeam-cloud-connect/src/veeam.routing.js
  packages/manager/modules/vps/src/header/vps-header.controller.js
  packages/manager/modules/vps/src/header/vps-header.html
  packages/manager/modules/vps/src/vps.routing.js
Owners: @dev-manager-infra-all, @dev-manager-hpc-all, @ovh/team-manager-control-tower, @dev-manager-web-all

feat(*): add changelog button on hpc and network universes
  packages/manager/apps/dedicated/client/app/cdn/cdn.routes.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.controller.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/network-security/network-security.controller.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.html
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/details/controller.js
  packages/manager/modules/cloud-connect/src/details/details.component.js
  packages/manager/modules/cloud-connect/src/details/template.html
  packages/manager/modules/cloud-connect/src/template.html
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.controller.js
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.controller.js
  packages/manager/modules/nutanix/src/dashboard/controller.js
  packages/manager/modules/nutanix/src/dashboard/template.html
  packages/manager/modules/veeam-enterprise/src/details/controller.js
  packages/manager/modules/veeam-enterprise/src/details/template.html
  packages/manager/modules/veeam-enterprise/src/veeam.routing.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/dashboard/vrack.less
  packages/manager/modules/vrack/src/vrack.routing.js
Owners: @dev-manager-infra-all, @ovh/team-manager-control-tower, @dev-manager-hpc-all

fix(dedicated): fix injection error on servers
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.controller.js
Owners: @dev-manager-infra-all

fix(dedicated): fix injection error on baremetal
  packages/manager/modules/bm-server-components/package.json
Owners: @dev-manager-infra-all, @dev-manager-hpc-all

feat(logs): add live-tail component
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/Log.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logTail.css
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailUrl.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/index.ts
  packages/manager/modules/logs-to-customer/vitest.config.js
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(logs): init logs-to-customer module
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogKinds.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.mock.ts
  packages/manager/modules/logs-to-customer/src/data/types/apiVersion.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/index.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogKind.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscription.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResource.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResponse.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogUrlCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/TemporaryLogsLink.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
  packages/manager/modules/logs-to-customer/src/index.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/Data-streams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/index.ts
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/error/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/error/index.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logKind/index.ts
  packages/manager/modules/logs-to-customer/tailwind.config.js
  packages/manager/modules/logs-to-customer/tsconfig.json
  packages/manager/modules/logs-to-customer/vite.config.mjs
  packages/manager/modules/logs-to-customer/vitest.config.js
Owners: @ovh/team-manager-control-tower

feat(kms): add logs-to-customer module
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/tailwind.config.js
Owners: @dev-manager-enabler-all

feat(logs): add dbaas/logs missing types
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Service.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServicePlanEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServiceStateEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Stream.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageCompressionEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageContentEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageTargetEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Url.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/UrlTypeEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
Owners: @ovh/team-manager-control-tower

feat(ldp): add zoomin zoomout feature ref: MANAGER-15921
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/hooks/useZoomedInOut.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
Owners: @ovh/team-manager-control-tower

feat(ldp): add tracking base implementation ref: MANAGER-15360
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/LogsTracking.constant.ts
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.spec.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/types/logsTracking.ts
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

feat(logs): bump manager-vite-config version ref: MANAGER-15358
  packages/manager/modules/logs-to-customer/package.json
Owners: @ovh/team-manager-control-tower

feat(ldp): add unsubscribe subscription action ref: MANAGER-16516
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useTerminateLogSubscription.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower

feat(ldp): subscriptions list implementation ref: MANAGER-15919
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStreamUrl.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogService.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStream.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStreamUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogSubscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logService/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logService/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logStream/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStream/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/index.ts
Owners: @ovh/team-manager-control-tower

feat(ldp): add ldp know more links ref: MANAGER-16655
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.constants.ts
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
Owners: @ovh/team-manager-control-tower

feat(logs): bump ods18
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscriptionsLink.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamUnsubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logRetention.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  yarn.lock
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

fix(logs): bump vite v5
  packages/manager/modules/logs-to-customer/package.json
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(logs): fix logs layout
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/KmsTabs.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamAccountLink.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStreams/Messages_fr_FR.json
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

feat(*): add changelog component to product dashboards
  packages/manager/apps/hycu/src/constants.ts
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.tsx
Owners: @dev-manager-hpc-all

feat(*): implem new component to hycu
  packages/manager/apps/hycu/src/constants.ts
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.tsx
Owners: @dev-manager-hpc-all

feat(*): add changelog component in apps
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/pages/services/Services.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.component.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/Listing.page.tsx
Owners: @dev-manager-pci-all, @dev-manager-pci-aidatabase

feat(dedicated): rbx1 eol legal banner
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/component.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/constants.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/controller.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/template.html
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_FR.json
Owners: @dev-manager-infra-all, @dev-manager-hpc-all

feat(*): add changelog button on pci react
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-ssh-keys/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
  packages/manager/apps/pci-vouchers/src/pages/ListingPage.tsx
  packages/manager/apps/pci-vouchers/src/tracking.constants.ts
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
Owners: @dev-manager-pci-all

fix(i18n): add missing translations [CDS 3716]
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/new/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-private-registry/public/translations/ip-restrictions/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/bucket-versioning/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/offsite-replication/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_pt_PT.json
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower

feat(*): clean code on pci react
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-block-storage/src/constants.ts
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
  packages/manager/apps/pci-block-storage/src/tracking.constants.ts
  packages/manager/apps/pci-databases-analytics/src/configuration/changelog.constants.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/Services.page.tsx
  packages/manager/apps/pci-gateway/src/constants.ts
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
  packages/manager/apps/pci-gateway/src/tracking.constants.ts
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/tracking.constants.ts
  packages/manager/apps/pci-private-network/src/constants.ts
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-network/src/tracking.constants.ts
  packages/manager/apps/pci-private-registry/src/constants.ts
  packages/manager/apps/pci-private-registry/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-registry/src/tracking.constants.ts
  packages/manager/apps/pci-public-ip/src/constants.ts
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/tracking.constants.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.component.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/Listing.page.tsx
  packages/manager/apps/pci-rancher/src/utils/changelog.constants.ts
  packages/manager/apps/pci-savings-plan/src/constants.ts
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-ssh-keys/src/constants.ts
  packages/manager/apps/pci-ssh-keys/src/pages/ListingPage.tsx
  packages/manager/apps/pci-ssh-keys/src/tracking.constants.ts
  packages/manager/apps/pci-users/src/constants.ts
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
  packages/manager/apps/pci-users/src/tracking.constants.ts
  packages/manager/apps/pci-vouchers/src/constants.ts
  packages/manager/apps/pci-vouchers/src/pages/ListingPage.tsx
  packages/manager/apps/pci-vouchers/src/tracking.constants.ts
  packages/manager/apps/pci-workflow/src/constants.ts
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
  packages/manager/apps/pci-workflow/src/tracking.constants.ts
Owners: @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase

feat(*): add changelog component to react app
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/changelog.constants.ts
  packages/manager/apps/key-management-service/src/constants.ts
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/veeam-backup/src/constants.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.component.tsx
  packages/manager/apps/vrack-services/src/pages/listing/Listing.page.tsx
  packages/manager/apps/vrack-services/src/utils/constants.ts
Owners: @dev-manager-hpc-all, @dev-manager-enabler-all, @dev-manager-infra-all

feat(*): implement headers component update
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/List.page.tsx
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
Owners: @dev-manager-hpc-all, @dev-manager-enabler-all, @dev-manager-pci-all

feat(sap-features-hub): add file-saver library
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(web-office): ellipsis action button orientation
  packages/manager/apps/web-office/package.json
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(web-office): add last ods 18 version and entry on sidebar
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/src/components/Breadcrumb/Breadcrumb.tsx
  yarn.lock
Owners: @dev-manager-gcj-all, @ovh/team-manager-control-tower

feat(web-office): add license user guides
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/guides.constants.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add icon download on users text
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Owners: @ovh/team-manager-control-tower

feat(web.office): delete user modal
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/delete/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/license.ts
  packages/manager/apps/web-office/src/api/_mock_/user.ts
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/license/api.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/type.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/hooks/useGenerateUrl.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalDeleteUsers.component.spec.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/queryClient.ts
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

feat(web.office): feature edit user
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/src/App.tsx
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/license/api.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/key.ts
  packages/manager/apps/web-office/src/api/users/type.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeUserDetail.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useOfficeUserDetail.ts
  packages/manager/apps/web-office/src/hooks/useOfficeUsers.ts
  packages/manager/apps/web-office/src/index.scss
  packages/manager/apps/web-office/src/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalEditUsers.component.spec.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add button order user or licences
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add new design for changepassword
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/change-password/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalChangePasswordUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalChangePasswordUsers.component.spec.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower
