Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

feat: dummy changes to test new deploy method
  packages/manager/apps/catalog/src/index.tsx
  packages/manager/apps/restricted/src/index.tsx
Owners: @dev-manager-gcj-all, @dev-manager-enabler-all

feat(web-ongoing-operations): add dns datagrid
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/dns.ts
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.spec.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
Owners: @ovh/team-manager-control-tower

feat: dummy changes to test new deploy method
  packages/manager/apps/catalog/src/index.tsx
  packages/manager/apps/restricted/src/index.tsx
Owners: @dev-manager-gcj-all, @dev-manager-enabler-all

release: thorium-mole-11
  .sonarcloud.properties
  packages/manager/apps/catalog/CHANGELOG.md
  packages/manager/apps/catalog/package.json
  packages/manager/apps/restricted/CHANGELOG.md
  packages/manager/apps/restricted/package.json
Owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all

feat(mrc): add changelog component to mrc v1.x (#14895)
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.icon.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/index.ts
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-control-tower

feat(access-list): display support link if no building on elig
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.html
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.constant.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.controller.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.html
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_FR.json
Owners: @dev-manager-web-all

feat(web-ongoing-operations): add Dns Datagrid
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/dns.ts
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
Owners: @ovh/team-manager-control-tower

feat(pci-cold-archive): add edit retention modal
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/edit-retention/EditRetention.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Owners: @dev-manager-pci-all

feat(pci-cold-archive): add edit retention modal
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/edit-retention/EditRetention.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Owners: @dev-manager-pci-all

feat(pci-cold-archive): add flush archive modal
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/Status.components.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/flush-archive/FlushArchive.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Owners: @dev-manager-pci-all

fix(i18n): add missing translations [CDS 3677]
  packages/manager/modules/manager-components/src/changelog-menu/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/changelog-menu/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/changelog-menu/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/changelog-menu/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/changelog-menu/translations/Messages_pl_PL.json
Owners: @ovh/team-manager-control-tower

feat(manager-components): update wording
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower

feat(manager-components): add changelog button component
  packages/manager/modules/manager-components/src/changelog-menu/component.js
  packages/manager/modules/manager-components/src/changelog-menu/index.js
  packages/manager/modules/manager-components/src/changelog-menu/template.html
  packages/manager/modules/manager-components/src/changelog-menu/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/index.js
Owners: @ovh/team-manager-control-tower

feat(manager-components): clean svg icon usage
  packages/manager/modules/manager-components/src/changelog-menu/assets/github-icon.svg
  packages/manager/modules/manager-components/src/changelog-menu/component.js
  packages/manager/modules/manager-components/src/changelog-menu/controller.js
  packages/manager/modules/manager-components/src/changelog-menu/template.html
Owners: @ovh/team-manager-control-tower

fix(i18n): add missing translations [CDS 219]
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-control-tower

feat(manager-components): fix icon size
  packages/manager/modules/manager-components/src/changelog-button/assets/github-icon.svg
  packages/manager/modules/manager-components/src/changelog-button/component.js
  packages/manager/modules/manager-components/src/changelog-button/controller.js
  packages/manager/modules/manager-components/src/changelog-button/index.js
  packages/manager/modules/manager-components/src/changelog-button/template.html
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/changelog-menu/assets/github-icon.svg
  packages/manager/modules/manager-components/src/index.js
Owners: @ovh/team-manager-control-tower

feat(manager-components): change component to match react use
  packages/manager/modules/manager-components/src/changelog-menu/component.js
  packages/manager/modules/manager-components/src/changelog-menu/controller.js
  packages/manager/modules/manager-components/src/changelog-menu/index.js
  packages/manager/modules/manager-components/src/changelog-menu/template.html
  packages/manager/modules/manager-components/src/index.js
Owners: @ovh/team-manager-control-tower

fix(i18n): add missing translations [CDS 223]
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-control-tower

fix(manager-components): fix changelog button display alignment
  packages/manager/modules/manager-components/src/changelog-button/template.html
Owners: @ovh/team-manager-control-tower

fix(zimbra): refresh domain diagnostics
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
Owners: @dev-manager-web-all

feat(pci-cold-archive): add flush archive modal
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/Status.components.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/flush-archive/FlushArchive.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Owners: @dev-manager-pci-all

feat(ldp): add ldp know more links ref: MANAGER-16655
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.constants.ts
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
Owners: @ovh/team-manager-control-tower

fixup! feat(dedicated): add datacenter network tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/translations/Messages_fr_FR.json
Owners: @dev-manager-infra-all

fix(web.zone): fix href if not standalone zone
  packages/manager/apps/web/client/app/dns-zone/zone.routing.js
Owners: @dev-manager-web-all

feat(ldp): add ldp know more links ref: MANAGER-16655
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.constants.ts
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
Owners: @ovh/team-manager-control-tower

fix(zimbra): import element internals polyfills
  packages/manager/apps/zimbra/src/index.tsx
Owners: @dev-manager-web-all

fix(logs): fix logs layout
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/KmsTabs.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamAccountLink.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStreams/Messages_fr_FR.json
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

fix(i18n): add missing translations [CDS 3713]
  packages/manager-react-components/src/components/order/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/order/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/order/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/order/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/order/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/order/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/order/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-control-tower

feat(pci.savings-plan): active plans consumption
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.test.tsx
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-savings-plan/src/types/savingsPlanConsumption.type.ts
  packages/manager/apps/pci-savings-plan/src/utils/kpi/utils.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/kpi/utils.ts
  packages/manager/apps/pci-savings-plan/src/utils/test/setupTests.tsx
  packages/manager/apps/pci-savings-plan/vitest.config.js
Owners: @dev-manager-pci-all

feat(mrc): fix expected header title in tests
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
Owners: @ovh/team-manager-control-tower

feat(veeam-backup): display real values of storage consumption
  packages/manager/apps/veeam-backup/mocks/index.ts
  packages/manager/apps/veeam-backup/mocks/services.handler.ts
  packages/manager/apps/veeam-backup/mocks/services.mock.ts
  packages/manager/apps/veeam-backup/src/data/api/service-consumption.ts
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.spec.tsx
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.constants.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/render-test.tsx
  packages/manager/apps/veeam-backup/src/type/service-consumption.type.ts
Owners: @dev-manager-hpc-all

feat(sap-features-hub): add step summary
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/hooks/formStep/useFormSteps.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/installation.constants.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/types/formStep.type.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Owners: @ovh/team-manager-control-tower

feat(sap-features-hub): add step summary
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/hooks/formStep/useFormSteps.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/installation.constants.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/types/formStep.type.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Owners: @ovh/team-manager-control-tower

feat(pci.savings-plan): active plans consumption (#15326)
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.test.tsx
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-savings-plan/src/types/savingsPlanConsumption.type.ts
  packages/manager/apps/pci-savings-plan/src/utils/kpi/utils.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/kpi/utils.ts
  packages/manager/apps/pci-savings-plan/src/utils/test/setupTests.tsx
  packages/manager/apps/pci-savings-plan/vitest.config.js
Owners: @dev-manager-pci-all

fix(i18n): add missing translations [CDS 3714]
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add-form/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_pt_PT.json
Owners: @dev-manager-pci-all

feat(pci.savings-plan): add chart
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/src/_mock_/consumptionRancher.ts
  packages/manager/apps/pci-savings-plan/src/components/Chart/Chart.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-savings-plan/src/utils/formatter/formatter.ts
Owners: @dev-manager-pci-all

feat(pci.savings-plan): chart dashboard
  packages/manager/apps/pci-savings-plan/src/_mock_/consumptionRancher.ts
  packages/manager/apps/pci-savings-plan/src/components/Chart/Chart.tsx
  packages/manager/apps/pci-savings-plan/src/components/Chart/chart.md
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-savings-plan/src/utils/formatter/formatter.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/transformchart.md
Owners: @dev-manager-pci-all

fix(pci-object-storage): swift container deletion
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Owners: @dev-manager-pci-all

fix(telecom.softphone): softphone content improvement
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/component/theme/theme.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/index.js
  yarn.lock
Owners: @dev-manager-web-all, @ovh/team-manager-control-tower

feat(dedicated): add datacenter network tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/assets/network.png
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/index.js
Owners: @dev-manager-infra-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower
