Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

feat(pci.gateway): use common mrc function to display monthly price
  packages/manager/apps/pci-gateway/src/pages/add/SizeStep.tsx
Owners: @dev-manager-pci-all

feat(pci.savings-plan): outside plans consumption (#15444)
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
Owners: @dev-manager-pci-all

fix(*): fix tests related to changelog button
  packages/manager/apps/pci-ssh-keys/src/pages/ListingPage.spec.tsx
  packages/manager/apps/pci-vouchers/src/pages/ListingPage.spec.tsx
Owners: @dev-manager-pci-all

feat(pci-cold-archive): update description and guide
  packages/manager/apps/pci-cold-archive/src/components/GuideMenu.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
Owners: @dev-manager-pci-all

fix(i18n): add missing translations [CDS 3717]
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-private-registry/public/translations/ip-restrictions/Messages_en_GB.json
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/offsite-replication/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_en_GB.json
Owners: @dev-manager-pci-all, @dev-manager-web-all, @ovh/team-manager-control-tower

feat(pci-cold-archive): update description and guide
  packages/manager/apps/pci-cold-archive/src/components/GuideMenu.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
Owners: @dev-manager-pci-all

feat(dedicated): add nasha order federated module
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/nasha/package.json
  packages/manager/modules/nasha/src/order/order.controller.js
  packages/manager/modules/nasha/src/order/order.template.html
  yarn.lock
Owners: @dev-manager-infra-all, @ovh/team-manager-control-tower

feat(pci-cold-archive): cold archive container creation
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUsers.ts
  packages/manager/apps/pci-cold-archive/src/components/UserInformationTile.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/ContainerNameStep.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserCreation.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserSelector.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserStep.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/useContainerCreationStore.ts
  packages/manager/apps/pci-cold-archive/src/pages/users/create/Create.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Owners: @dev-manager-pci-all

ci: revamp pr template (#15440)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @ovh/team-manager-control-tower

feat(account): added the confirm erasure request page
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.component.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.module.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.routing.js
  packages/manager/modules/account/src/user/gdpr/confirm/index.js
  packages/manager/modules/account/src/user/gdpr/confirm/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.module.js
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Owners: @dev-manager-gcj-all

fixup! feat(sap-features-hub): add step 7
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
Owners: @ovh/team-manager-control-tower

feat(catalog): add order configo for nasha test
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/catalog/src/pages/error.tsx
  packages/manager/apps/catalog/src/pages/index.tsx
  packages/manager/apps/catalog/src/pages/nasHaOrder/NasHaOrder.page.tsx
  packages/manager/apps/catalog/src/routes.tsx
  packages/manager/apps/catalog/src/types/orderConfigos.d.ts
  packages/manager/apps/catalog/src/types/orderConfigos.type.ts
  packages/manager/apps/catalog/tsconfig.json
  packages/manager/apps/catalog/vite.config.mjs
  yarn.lock
Owners: @dev-manager-gcj-all, @ovh/team-manager-control-tower

fix(pci-object-storage): minor ui issues
  packages/manager/apps/pci-object-storage/src/index.css
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
Owners: @dev-manager-pci-all

feat(web-ongoing-operations): add domain datagrid
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/domain.ts
  packages/manager/apps/web-ongoing-operations/src/components/Loading/Loading.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagridBadge/OngoingOperationDatagridBadge.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/index.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.spec.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
Owners: @ovh/team-manager-control-tower

fix(dedicated-cloud): use good id on pcc datastore operation
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/datastore/resource-upgrade/upgrade/dedicatedCloud-datacenter-datastore-resource-upgrade.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/datastore/resource-upgrade/upgradeLegacy/dedicatedCloud-datacenter-datastore-resource-upgrade-legacy.routes.js
Owners: @dev-manager-infra-all

feat(pci.kubernetes): wording and style
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
Owners: @dev-manager-pci-all

fix(pci-object-storage): notifications
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
Owners: @dev-manager-pci-all

fix(i18n): add missing translations [CDS 233]
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pt_PT.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_de_DE.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_en_GB.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_es_ES.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_CA.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_it_IT.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pl_PL.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pt_PT.json
Owners: @dev-manager-web-all

fix(zimbra): import element internals polyfills
  packages/manager/apps/zimbra/src/index.tsx
Owners: @dev-manager-web-all

feat(veeam-backup): display real values of storage consumption
  packages/manager/apps/veeam-backup/mocks/index.ts
  packages/manager/apps/veeam-backup/mocks/services.handler.ts
  packages/manager/apps/veeam-backup/mocks/services.mock.ts
  packages/manager/apps/veeam-backup/src/data/api/service-consumption.ts
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.spec.tsx
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.constants.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/render-test.tsx
  packages/manager/apps/veeam-backup/src/type/service-consumption.type.ts
Owners: @dev-manager-hpc-all

feat(dedicated): implement new tracking for rbx1 eol
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/constants.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/controller.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/template.html
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_FR.json
Owners: @dev-manager-infra-all, @dev-manager-hpc-all

fix(kms): fix us pricing display ref: MANAGER-17003
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.constants.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ProtectionLevelSection.component.tsx
Owners: @dev-manager-enabler-all

fix(i18n): add missing translations [CDS 3711]
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pt_PT.json
Owners: @dev-manager-infra-all, @dev-manager-hpc-all

feat(pci.kubernetes): add translation
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_fr_FR.json
Owners: @dev-manager-pci-all

fix(zimbra): refresh domain diagnostics
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
Owners: @dev-manager-web-all

feat(container): optimize pnr performance by removing services count (#15351)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLinkTag.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
Owners: @dev-manager-gcj-all

feat(procedures): set up sentry (#15347)
  packages/manager/apps/procedures/src/index.tsx
Owners: @dev-manager-gcj-all

fix(billing): put redirections on app definition level (#15357)
  packages/manager/apps/billing/src/app.module.js
  packages/manager/modules/new-billing/src/index.js
Owners: @dev-manager-gcj-all

fix(web.zone): fix href if not standalone zone
  packages/manager/apps/web/client/app/dns-zone/zone.routing.js
Owners: @dev-manager-web-all

feat(access-list): display support link if no building on elig (#15364)
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.html
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.constant.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.controller.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.html
  packages/manager/modules/telecom-dashboard/src/translations/Messages_de_DE.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_en_GB.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_es_ES.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_CA.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_it_IT.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pl_PL.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pt_PT.json
Owners: @dev-manager-web-all

feat(dedicated): implement new tracking nomenclature for rbx1 eol (#15163)
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/constants.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/controller.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/template.html
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pt_PT.json
Owners: @dev-manager-infra-all, @dev-manager-hpc-all

fix(*): fix tests related to changelog button
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.spec.tsx
Owners: @dev-manager-pci-all

test(vmware-managed-vcd): fix skipped tests
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.spec.tsx
Owners: @dev-manager-hpc-all

feat(dedication-cloud): add network tab details
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter.less
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/icebergUtils.services.js
Owners: @dev-manager-infra-all

feat(pci.instances): disable assign floating ip when public (#15383)
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Owners: @ovh/team-manager-control-tower

fix(pci-instance): remove specific condition for LZ prices (#15295)
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
Owners: @ovh/team-manager-control-tower

fix(pci-instance): add 3az availability's object instead of primitives (#15282)
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
Owners: @ovh/team-manager-control-tower

feat(pci.load-balancer): display monthly price with mrc function (#15150)
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/size/input/Label.component.tsx
Owners: @dev-manager-pci-all

fix(pci.load-balancer): display floating price for selected region (#15262)
  packages/manager/apps/pci-load-balancer/src/constants.ts
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStep.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStepMessages.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStepMessages.tsx
Owners: @dev-manager-pci-all

feat(pic-load-balancer): add missing translation for size in Dashboard (#15169)
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_pt_PT.json
Owners: @dev-manager-pci-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower
