Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/ @ovh/team-manager-dev

# Manager-components
/packages/manager-components @ovh/team-manager-transfo

# React Stack
*.jsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-transfo

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
/scripts/run-playwright.js @ovh/team-manager-transfo
/scripts/run-playwright-bdd.js @ovh/team-manager-transfo
/scripts/.env.development @ovh/team-manager-transfo

feat(instance.stop): update text content of the stop instance modal
  packages/manager/modules/pci/src/projects/project/instances/instance/stop/constants.js
  packages/manager/modules/pci/src/projects/project/instances/instance/stop/stop.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/stop/stop.html
  packages/manager/modules/pci/src/projects/project/instances/instance/stop/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(instance.stop): add stop doc links for subsidiaries
  packages/manager/modules/pci/src/projects/project/instances/instance/stop/constants.js
  packages/manager/modules/pci/src/projects/project/instances/instance/stop/stop.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/stop/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
Owners: @ovh/team-manager-dev

fix(catalog): order link on catalog page
  packages/manager-components/src/components/card/card.component.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(web.domain): display the domain after also redirect
  packages/manager/apps/web/client/app/domain/redirection/add/domain-redirection-add.html
Owners: @ovh/team-manager-dev

fix(dedicated.vmware): display error field if user name is not correct
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/add/vsphere-user-add.html
Owners: @ovh/team-manager-dev

fix(catalog): improve text design on catalog
  packages/manager-components/src/components/card/card.component.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(dedicated.nutanix): fix missing type of pack label
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Owners: @ovh/team-manager-dev

fix(octavia): removed unwanted sentence on onboarding
  packages/manager/modules/octavia-load-balancer/src/onboarding/template.html
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(domain): add alerts for DNS zone deletion (#10721)
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
Owners: @ovh/team-manager-dev

fix(manager-components): fix unit tests
  packages/manager-components/jest.config.js
  packages/manager-components/src/components/onboarding/onboarding.stories.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(web.hosting): hide infrastructure cdn and webcloud db statistics… (#10337)
  packages/manager/apps/web/client/app/constants.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.html
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/statistics/STATISTICS.html
  packages/manager/apps/web/client/app/hosting/statistics/hosting-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.controller.js
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.html
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (#10590)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(web): fix operation incoming transfer
  packages/manager/apps/web/client/app/domain-operation/operation-table/operation-table.html
  packages/manager/apps/web/client/app/domain-operation/progress/domain-operation-progress.controller.js
Owners: @ovh/team-manager-dev

Revert "feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (…"
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(public-cloud): renamed region list component used by octavia
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/index.js
Owners: @ovh/team-manager-dev

fix(telecom): fix modem wifi no qrcode text display (#10905)
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/modal/wifi-config-modal.controller.js
Owners: @ovh/team-manager-dev

fix(dedicated.nutanix): fix missing type of pack label
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Owners: @ovh/team-manager-dev

feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (#10590)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(public-cloud): renamed region list component used by octavia
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/index.js
Owners: @ovh/team-manager-dev

fix(octavia): removed unwanted sentence on onboarding
  packages/manager/modules/octavia-load-balancer/src/onboarding/template.html
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(web): fix operation incoming transfer
  packages/manager/apps/web/client/app/domain-operation/operation-table/operation-table.html
  packages/manager/apps/web/client/app/domain-operation/progress/domain-operation-progress.controller.js
Owners: @ovh/team-manager-dev

fix(manager-components): fix unit tests
  packages/manager-components/jest.config.js
  packages/manager-components/src/components/onboarding/onboarding.stories.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

Revert "feat(pcc.vmware): a banner to inform vmware customer about nsxv eol (…"
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(catalog): order link on catalog page
  packages/manager-components/src/components/card/card.component.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix(web.domain): display the domain after also redirect
  packages/manager/apps/web/client/app/domain/redirection/add/domain-redirection-add.html
Owners: @ovh/team-manager-dev

fix(telecom): fix modem wifi no qrcode text display (#10905)
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/modal/wifi-config-modal.controller.js
Owners: @ovh/team-manager-dev

fix(dedicated.vmware): display error field if user name is not correct
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/add/vsphere-user-add.html
Owners: @ovh/team-manager-dev

feat(*): overriding piano analytics sdk (#10777)
  packages/manager/apps/container/src/helpers/piano-override.ts
  packages/manager/apps/container/src/index.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(web.hosting): hide infrastructure cdn and webcloud db statistics… (#10337)
  packages/manager/apps/web/client/app/constants.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.html
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/statistics/STATISTICS.html
  packages/manager/apps/web/client/app/hosting/statistics/hosting-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.controller.js
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.html
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/metrics/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(domain): add alerts for DNS zone deletion (#10721)
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
Owners: @ovh/team-manager-dev

fix(catalog): improve text design on catalog
  packages/manager-components/src/components/card/card.component.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

release: cobalt-toad-3
  .sonarcloud.properties
  packages/manager-components/CHANGELOG.md
  packages/manager-components/package.json
  packages/manager/apps/catalog/CHANGELOG.md
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/CHANGELOG.md
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/octavia-load-balancer/CHANGELOG.md
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo

fix(dedicated): add navigation rule to support page
  packages/manager/apps/dedicated/client/app/otrs/index.js
Owners: @ovh/team-manager-dev

feat(projects.onboarding): update the onboarding page content
  packages/components/ng-ovh-contracts/src/summary/index.scss
  packages/components/ng-ovh-contracts/src/summary/template.html
  packages/manager/modules/pci/src/projects/onboarding/index.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.less
  packages/manager/modules/pci/src/projects/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.png
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(project.edit): disable discovery project edit
  packages/manager/modules/pci/src/projects/project/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(databases.add): disable db creation for a discovery project
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(project.new): wrap the contracts link text
  packages/components/ng-ovh-contracts/src/summary/template.html
Owners: @ovh/team-manager-dev

feat(projects.project): hide quota warning banner for OC project
  packages/manager/modules/pci/src/projects/project/project.html
Owners: @ovh/team-manager-dev

feat(projects.project): init discovery project voucher amount
  packages/manager/modules/pci/src/projects/project/activate/activate.component.js
  packages/manager/modules/pci/src/projects/project/activate/activate.html
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci): add activate discovery mode modal
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/useProjects.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/project/index.js
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/projects.service.js
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev
