Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

refactor(hycu): remove playwright helpers dependencies
  packages/manager/apps/hycu/cucumber.js
  packages/manager/apps/hycu/mocks/example/example.ts
  packages/manager/apps/hycu/package.json
  packages/manager/apps/hycu/src/mocks/catalogHycu/catalogHycu.ts
  packages/manager/apps/hycu/src/mocks/features/features.handler.ts
  packages/manager/apps/hycu/src/mocks/iam/iam.handler.ts
  packages/manager/apps/hycu/src/mocks/licenseHycu/licenseHycu.ts
  packages/manager/apps/hycu/src/setupTests.tsx
  packages/manager/apps/hycu/src/utils/tests/renderTestApp.tsx
Owners: @dev-manager-hpc-all

feat(pci.savings-plan): tracking
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Filters/Filters.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/TabsDashboard/TabsDashboard.tsx
Owners: @dev-manager-pci-all

fix(pci-object-storage): swift container deletion
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Owners: @dev-manager-pci-all

fix(pci-object-storage): swift container endpoint
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Owners: @dev-manager-pci-all

fix(pci-object-storage): disabled regions
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionStep.component.tsx
Owners: @dev-manager-pci-all

fix(pci-object-storage): notifications
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
Owners: @dev-manager-pci-all

fix(pci-object-storage): minor ui issues
  packages/manager/apps/pci-object-storage/src/index.css
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
Owners: @dev-manager-pci-all

fix(pci-object-storage): error boundary
  packages/manager/apps/pci-object-storage/src/App.tsx
  packages/manager/apps/pci-object-storage/src/pages/ErrorBoundary.tsx
  packages/manager/apps/pci-object-storage/src/pages/Layout.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Owners: @dev-manager-pci-all

test: added dataplatform redirect
  packages/manager/modules/pci/src/projects/projects.constant.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Owners: @ovh/team-manager-control-tower

feat(generator): update v6 template listing search
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
Owners: @ovh/team-manager-control-tower

feat(manager-react-components): add search in datagrid topbar component
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
Owners: @ovh/team-manager-control-tower

test(*): add tests related to changelog
  packages/manager/apps/pci-workflow/src/pages/list/List.page.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/dashboard.spec.tsx
Owners: @dev-manager-pci-all, @dev-manager-hpc-all

feat(pci.savings-plan): fix unit test
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.test.tsx
Owners: @dev-manager-pci-all

feat(web-office): add consumption tab
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/dashboard/consumption/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/serviceInfos.ts
  packages/manager/apps/web-office/src/api/_mock_/usageStatistics.ts
  packages/manager/apps/web-office/src/api/serviceInfos/api.ts
  packages/manager/apps/web-office/src/api/serviceInfos/index.ts
  packages/manager/apps/web-office/src/api/serviceInfos/key.ts
  packages/manager/apps/web-office/src/api/serviceInfos/type.ts
  packages/manager/apps/web-office/src/api/usageStatistics/api.ts
  packages/manager/apps/web-office/src/api/usageStatistics/index.ts
  packages/manager/apps/web-office/src/api/usageStatistics/key.ts
  packages/manager/apps/web-office/src/api/usageStatistics/type.ts
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeServiceInfos.spec.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeUserDetail.spec.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeUsers.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useDateFnsLocale.ts
  packages/manager/apps/web-office/src/hooks/useOfficeServiceInfos.ts
  packages/manager/apps/web-office/src/pages/dashboard/consumption/Consumption.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/CustomTooltip.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/_test_/Consumption.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/_test_/CustomTooltip.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/index.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(account): fix regex validation and display appropriate error message
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/confirm/translations/Messages_fr_FR.json
Owners: @dev-manager-gcj-all

feat(dedicated.pcc): update action menu for nsx edge
  packages/manager/apps/dedicated/client/__tests__/dedicatedCloud/dedicatedCloud.service.spec.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Owners: @dev-manager-infra-all

feat(dedicated.pcc): update action menu for nsx edge
  packages/manager/apps/dedicated/client/__tests__/dedicatedCloud/dedicatedCloud.service.spec.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Owners: @dev-manager-infra-all

feat(manager-react-components): add datagrid topbar component
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(pci-object-storage): size byte units
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/useDatagridColumn.tsx
Owners: @dev-manager-pci-all

fix(pci-instance): test commit 2
  CONTRIBUTORS
Owners: @ovh/team-manager-control-tower

refactor(dedicated-cloud): improve condition to determinate edge product
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds.module.js
Owners: @dev-manager-infra-all

feat(dedicated): clean old configurator from nasha order module
  packages/manager/modules/nasha/src/order/order.component.js
  packages/manager/modules/nasha/src/order/order.constants.js
  packages/manager/modules/nasha/src/order/order.controller.js
  packages/manager/modules/nasha/src/order/order.module.js
  packages/manager/modules/nasha/src/order/order.routing.js
  packages/manager/modules/nasha/src/order/order.template.html
  packages/manager/modules/nasha/src/order/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/order/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/order/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/order/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/order/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/order/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/order/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/order/translations/Messages_pt_PT.json
Owners: @dev-manager-infra-all

feat(catalog): breaking the catalog for federated module poc
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/App.tsx
  packages/manager/apps/catalog/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterChip.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
  packages/manager/apps/catalog/src/components/Filters/Filters.tsx
  packages/manager/apps/catalog/src/components/Filters/LoadingFilterItem.tsx
  packages/manager/apps/catalog/src/components/Loading/Loading.tsx
  packages/manager/apps/catalog/src/components/SearchBar/SearchBar.tsx
  packages/manager/apps/catalog/src/pages/index.tsx
  packages/manager/apps/catalog/src/routes.tsx
Owners: @dev-manager-gcj-all

fix(i18n): add missing translations [CDS 3720]
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-private-registry/public/translations/ip-restrictions/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/bucket-versioning/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/offsite-replication/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_es_ES.json
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower

fix(zimbra): import element internals polyfills
  packages/manager/apps/zimbra/src/index.tsx
Owners: @dev-manager-web-all

fix(zimbra): refresh domain diagnostics
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
Owners: @dev-manager-web-all

feat(access-list): display support link if no building on elig (#15364)
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.html
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.constant.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.controller.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.html
  packages/manager/modules/telecom-dashboard/src/translations/Messages_de_DE.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_en_GB.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_es_ES.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_CA.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_it_IT.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pl_PL.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pt_PT.json
Owners: @dev-manager-web-all

fix(web.zone): fix href if not standalone zone
  packages/manager/apps/web/client/app/dns-zone/zone.routing.js
Owners: @dev-manager-web-all

feat(web-office): add last ods 18 version and entry on sidebar
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/src/components/Breadcrumb/Breadcrumb.tsx
  yarn.lock
Owners: @dev-manager-gcj-all, @ovh/team-manager-control-tower

fix(web-office): ellipsis action button orientation
  packages/manager/apps/web-office/package.json
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(web-office): add icon download on users text
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add button order user or licences
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add license user guides
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/guides.constants.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Owners: @ovh/team-manager-control-tower

feat(web.office): delete user modal
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/delete/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/license.ts
  packages/manager/apps/web-office/src/api/_mock_/user.ts
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/license/api.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/type.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/hooks/useGenerateUrl.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalDeleteUsers.component.spec.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/queryClient.ts
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

feat(web.office): feature edit user
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/src/App.tsx
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/license/api.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/key.ts
  packages/manager/apps/web-office/src/api/users/type.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeUserDetail.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useOfficeUserDetail.ts
  packages/manager/apps/web-office/src/hooks/useOfficeUsers.ts
  packages/manager/apps/web-office/src/index.scss
  packages/manager/apps/web-office/src/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalEditUsers.component.spec.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting design for delete modal users
  packages/manager/apps/web-office/public/translations/dashboard/users/delete/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add change password modal
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/change-password/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalChangePasswordUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalChangePasswordUsers.component.spec.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/form.ts
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): add new design for changepassword
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/change-password/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalChangePasswordUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalChangePasswordUsers.component.spec.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(web-office): fix version mrc
  packages/manager/apps/web-office/package.json
Owners: @ovh/team-manager-control-tower

feat(web-office): add onboarding page
  packages/manager/apps/web-office/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/web-office/src/guides.constants.ts
  packages/manager/apps/web-office/src/pages/onboarding/index.tsx
  packages/manager/apps/web-office/src/pages/onboarding/onboarding-img.png
Owners: @ovh/team-manager-control-tower

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower
