Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(pci): disable kubeconfig file if its installing (#9353)
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
Owners: @ovh/team-manager-dev

feat(telecom): add new security level for wifi on modem (#9317)
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/config.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(dedicated): add missing translations (#9314)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
Owners: @ovh/team-manager-dev

fix(container): handle new applications in dev env
  packages/manager/apps/container/src/core/dev/index.ts
Owners: @ovh/team-manager-dev

fix(ovh-shell): handle non existing applications
  packages/components/ovh-shell/src/client/index.ts
Owners: @ovh/team-manager-dev

feat(sao-ovh): update generator to use ovh-shell
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
  packages/manager/tools/sao-ovh-manager-app/template/src/index.js
Owners: @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(config): avoid error for non existing app
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev

feat: modifying or adding user and token pop-up for ai job/app/notebook
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.component.js
  packages/manager/modules/pci/src/projects/project/training/training.html
  packages/manager/modules/pci/src/projects/project/training/training.routing.js
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(dedicated): remove header buttons and tab on ip onboarding page
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.routing.js
Owners: @ovh/team-manager-dev

feat: modify or add user and token pop up in AI tools
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.component.js
  packages/manager/modules/pci/src/projects/project/training/training.html
  packages/manager/modules/pci/src/projects/project/training/training.routing.js
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pcc.vmware): new workflow for to add new datacenter
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.routes.js
Owners: @ovh/team-manager-dev

fix(dedicated-cloud): add new product banner and remove survey banner
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
Owners: @ovh/team-manager-dev

fix(vmware): fix workflow to add datacenter for managed baremetal
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenters/add/add.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenters/datacenters.routes.js
Owners: @ovh/team-manager-dev

fix(pcc.vmware): change wording management fees
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pcc.vmware): fix wording management fees
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pcc.vmware): fix the build express order url
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
Owners: @ovh/team-manager-dev

feat(dedicated.nutanix): display hardware tile based on cluster type
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
Owners: @ovh/team-manager-dev

feat(dedicated.nutanix): display hardware tile based on cluster type (#9406)
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
Owners: @ovh/team-manager-dev

feat(dedicated.nutanix): display hardware tile based on cluster type
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
Owners: @ovh/team-manager-dev

feat(dedicated.nutanix): display hardware tile based on cluster type (#9409)
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
Owners: @ovh/team-manager-dev

feat(generator): add eslint and prettier in react project
  .eslintignore
  .lintstagedrc.json
  .prettierignore
  package.json
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): fix eslint vite template generator
  .eslintignore
  package.json
Owners: @ovh/team-manager-dev

feat(generator): add comment to breadcrump component
  packages/manager/components/react/breadcrumb/src/Breadcrumb.tsx
Owners: @ovh/team-manager-dev

fix(generator): fix calendar input component
  packages/manager/core/ovh-themes/common/__tests__/InputCalendar.spec.tsx
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/InputCalendar.spec.tsx.snap
  packages/manager/core/ovh-themes/package.json
Owners: @ovh/su-digital-tools-core-stack

feat(generator): fix package json
  package.json
  packages/manager/core/ovh-themes/package.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix(generator): delete breadcrumb package + do some fixes on the generator
  docs/docs/guide/scripts.md
  lerna.json
  package.json
  packages/manager/components/react/breadcrumb/package.json
  packages/manager/components/react/breadcrumb/src/index.ts
  packages/manager/components/react/breadcrumb/tsconfig.json
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/index.js
  packages/manager/core/generator/package.json
  packages/manager/core/generator/plopfile.js
  packages/manager/core/generator/utils/api.js
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix(generator): rename useShellClient into initShellClient
  docs/docs/guide/architecture.md
  package.json
  packages/components/ovh-shell/README.md
  packages/components/ovh-shell/src/index.ts
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/telecom/src/app/index.js
  packages/manager/apps/web/client/app/index.js
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/application/src/ovh-context.ts
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/InputCalendar.spec.tsx.snap
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): update generator id application
  packages/manager/apps/container/src/core/dev/index.ts
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/modules/config/src/application/index.ts
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix(generator): remove ovh-chakra-showcase
  packages/manager/core/ovh-chakra-showcase/.ladle/components.tsx
  packages/manager/core/ovh-chakra-showcase/CHANGELOG.md
  packages/manager/core/ovh-chakra-showcase/index.html
  packages/manager/core/ovh-chakra-showcase/package.json
  packages/manager/core/ovh-chakra-showcase/src/Accordion.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Alert.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Badge.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Breadcrumb.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Button.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Calendar.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Checkbox.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Content.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Forms.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Icons.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Input.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Menu.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Modal.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Popover.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Progress.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Radio.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Select.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Skeleton.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Table.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Tabs.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Tag.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Textarea.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Tile.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/vite-env.d.ts
  packages/manager/core/ovh-chakra-showcase/tsconfig.json
  packages/manager/core/ovh-chakra-showcase/tsconfig.node.json
  packages/manager/core/ovh-chakra-showcase/vite.config.ts
Owners: @ovh/su-digital-tools-core-stack

docs(generator): add micro-applications doc file
  docs/docs/guide/micro-applications.md
Owners: @ovh/team-manager-dev

fix(generator): delete packages manager core components
  packages/manager/core/components/package.json
  packages/manager/core/components/src/Dashboard/Dashboard.tsx
  packages/manager/core/components/src/Dashboard/DashboardTile.tsx
  packages/manager/core/components/src/Dashboard/DashboardTileList.tsx
  packages/manager/core/components/src/Dashboard/DashboardTileLoading.tsx
  packages/manager/core/components/src/Dashboard/index.ts
  packages/manager/core/components/src/DatacenterLabel.tsx
  packages/manager/core/components/src/DatePretty.tsx
  packages/manager/core/components/src/Listing/Listing.tsx
  packages/manager/core/components/src/Listing/ListingColumnToggler.tsx
  packages/manager/core/components/src/Listing/ListingFilterAdder.tsx
  packages/manager/core/components/src/Listing/ListingFilters.tsx
  packages/manager/core/components/src/Listing/ListingTable.tsx
  packages/manager/core/components/src/Listing/ListingTableCell.tsx
  packages/manager/core/components/src/Listing/ListingTableHead.tsx
  packages/manager/core/components/src/Listing/index.ts
  packages/manager/core/components/src/Onboarding.tsx
  packages/manager/core/components/src/PageSelector.tsx
  packages/manager/core/components/src/Pagination.tsx
  packages/manager/core/components/src/SearchInput.tsx
  packages/manager/core/components/src/index.ts
  packages/manager/core/components/tsconfig.json
Owners: @ovh/su-digital-tools-core-stack

feat: generate api v6 endpoints
  .eslintrc.js
  packages/manager/core/application/package.json
  packages/manager/core/application/src/index.tsx
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/app/templates/src/api/{{appName}}/index.ts.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/index.tsx.hbs
  packages/manager/core/generator/utils/api-query-template.ts.hbs
  packages/manager/core/generator/utils/api.js
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix: sonar bugs and code smells
  .lintstagedrc.json
  packages/manager/core/api/src/client.ts
  packages/manager/core/api/src/iceberg.ts
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix: improve query generation for api v6
  packages/manager/core/generator/app/conditional-templates/api/services-template.ts.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-query-template.ts.hbs
  packages/manager/core/generator/utils/api.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): update template vite js
  packages/manager/core/application/src/ovh-routing.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
Owners: @ovh/su-digital-tools-core-stack

feat(generator): add apiv6 requests
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/plopfile.js
Owners: @ovh/su-digital-tools-core-stack

docs: add doc for api utils
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/utils/api-template.js
  packages/manager/core/generator/utils/api.js
  packages/manager/core/generator/utils/string-helpers.js
Owners: @ovh/su-digital-tools-core-stack

feat(generator): add template dashboard api
  docs/docs/guide/micro-applications.md
  packages/components/ovh-shell/__tests__/plugin/logger/logger.spec.ts
  packages/components/ovh-shell/src/client/index.ts
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_fr_FR.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_fr_FR.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_FR.json
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/dashboard/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/details/tab/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/onboarding/Messages_fr_FR.json.hbs
  packages/manager/core/generator/utils/api-template.js
  packages/manager/core/generator/utils/create-structure-helpers.js
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator.v1): update template dashboard and onboarding
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_fr_FR.json
Owners: @ovh/su-digital-tools-core-stack

fix: private property in package.json in generator
  .eslintrc.js
  docs/docs/guide/micro-applications.md
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
