Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev

feat(vps.upscale): add vps le flavors
  packages/manager/modules/vps/src/upscale/upscale.constants.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 11]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(web.hosting): some changes on add database management
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
Owners: @ovh/team-manager-dev

fix(web.hosting): some changes on add database management
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
Owners: @ovh/team-manager-dev

fix(vps): wrong range compare links
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
Owners: @ovh/team-manager-dev

fix(vps): wrong range compare links (#9449)
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
Owners: @ovh/team-manager-dev

feat(web): new offers for sql order page
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/index.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/template.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.html
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.routing.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.service.js
  packages/manager/apps/web/client/app/hosting/database/order/public/index.js
  packages/manager/apps/web/client/app/hosting/database/order/public/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(dedicated): add OS detail for dedicated server on client dashboard
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix: fix errors on uapp generator scaffolding tools (#9431)
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
Owners: @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(i18n): add missing translations [CDS 2327]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated.carbon): add new carbon calculator uapp
  packages/manager/apps/carbon-calculator/.eslintrc.json
  packages/manager/apps/carbon-calculator/README.md
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carbon-calculator/src/app.module.js
  packages/manager/apps/carbon-calculator/src/error/error.module.js
  packages/manager/apps/carbon-calculator/src/error/error.routing.js
  packages/manager/apps/carbon-calculator/src/error/index.js
  packages/manager/apps/carbon-calculator/src/index.html
  packages/manager/apps/carbon-calculator/src/index.js
  packages/manager/apps/carbon-calculator/webpack.config.js
  packages/manager/modules/carbon-calculator/README.md
  packages/manager/modules/carbon-calculator/package.json
  packages/manager/modules/carbon-calculator/src/dashboard/component.js
  packages/manager/modules/carbon-calculator/src/dashboard/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/index.js
  packages/manager/modules/carbon-calculator/src/dashboard/module.js
  packages/manager/modules/carbon-calculator/src/dashboard/routing.js
  packages/manager/modules/carbon-calculator/src/dashboard/template.html
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/index.js
  packages/manager/modules/carbon-calculator/src/index.scss
  packages/manager/modules/carbon-calculator/src/module.js
  packages/manager/modules/carbon-calculator/src/onboarding/component.js
  packages/manager/modules/carbon-calculator/src/onboarding/constants.js
  packages/manager/modules/carbon-calculator/src/onboarding/controller.js
  packages/manager/modules/carbon-calculator/src/onboarding/index.js
  packages/manager/modules/carbon-calculator/src/onboarding/module.js
  packages/manager/modules/carbon-calculator/src/onboarding/routing.js
  packages/manager/modules/carbon-calculator/src/onboarding/template.html
  packages/manager/modules/carbon-calculator/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/routing.js
  packages/manager/modules/carbon-calculator/src/translations/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev

feat(dedicated.carbon): add new carbon calculator uapp
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated): add carbon footprint links on sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated.carbon): add new carbon calculator uapp
  packages/manager/apps/carbon-calculator/.eslintrc.json
  packages/manager/apps/carbon-calculator/README.md
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carbon-calculator/src/app.module.js
  packages/manager/apps/carbon-calculator/src/error/error.module.js
  packages/manager/apps/carbon-calculator/src/error/error.routing.js
  packages/manager/apps/carbon-calculator/src/error/index.js
  packages/manager/apps/carbon-calculator/src/index.html
  packages/manager/apps/carbon-calculator/src/index.js
  packages/manager/apps/carbon-calculator/webpack.config.js
  packages/manager/modules/carbon-calculator/README.md
  packages/manager/modules/carbon-calculator/package.json
  packages/manager/modules/carbon-calculator/src/dashboard/component.js
  packages/manager/modules/carbon-calculator/src/dashboard/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/index.js
  packages/manager/modules/carbon-calculator/src/dashboard/module.js
  packages/manager/modules/carbon-calculator/src/dashboard/routing.js
  packages/manager/modules/carbon-calculator/src/dashboard/template.html
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/carbon-calculator/src/index.js
  packages/manager/modules/carbon-calculator/src/index.scss
  packages/manager/modules/carbon-calculator/src/module.js
  packages/manager/modules/carbon-calculator/src/onboarding/component.js
  packages/manager/modules/carbon-calculator/src/onboarding/constants.js
  packages/manager/modules/carbon-calculator/src/onboarding/controller.js
  packages/manager/modules/carbon-calculator/src/onboarding/index.js
  packages/manager/modules/carbon-calculator/src/onboarding/module.js
  packages/manager/modules/carbon-calculator/src/onboarding/routing.js
  packages/manager/modules/carbon-calculator/src/onboarding/template.html
  packages/manager/modules/carbon-calculator/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/routing.js
  packages/manager/modules/carbon-calculator/src/translations/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev

feat(dedicated): add carbon footprint links on sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(cda): display storage unit on listing page
  packages/manager/modules/cda/src/cda.routing.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2328]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
Owners: @ovh/team-manager-dev

fix(dedicated.iplb): order urls onboarding page (#9434)
  packages/manager/modules/iplb/src/onboarding/constants.js
Owners: @ovh/team-manager-dev

feat(dedicated): prepare new os backup usage for proxmox bs (#9328)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

fix(vps): wrong range compare links (#9449)
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
Owners: @ovh/team-manager-dev

fix: fix errors on uapp generator scaffolding tools (#9431)
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
Owners: @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(dedicated): removed duplicated netboot translations (#9344)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated): licenses page display improvements (#9383)
  packages/manager/apps/dedicated/client/app/css/less/common/table.less
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/apps/dedicated/client/app/license/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(dedicated): clean dead code related to partitioning (#9384)
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

feat(dedicated): explain windows installation server 2+ disks impossible (#9242)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

fix(dedicated): allow user define raid higher than 1 on / partition (#9276)
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

feat(pci.project): update the filtering of a cart service option (#9415)
  packages/manager/modules/pci/src/projects/new/service.js
Owners: @ovh/team-manager-dev

fix(container): fix scss for screen reader (#9414)
  packages/manager/apps/container/src/container/common/notifications-sidebar/notifications-sidebar.module.scss
  packages/manager/apps/container/src/container/legacy/account-sidebar/index.scss
Owners: @ovh/team-manager-dev

feat(vps): display info msgs for starter range (#9275)
  packages/manager/modules/vps/src/dashboard/tile/configuration/index.html
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Owners: @ovh/team-manager-dev

release: argon-weasel
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/CHANGELOG.md
  packages/manager/apps/iplb/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/vps/CHANGELOG.md
  packages/manager/apps/vps/package.json
  packages/manager/modules/iplb/CHANGELOG.md
  packages/manager/modules/iplb/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
  packages/manager/tools/sao-ovh-manager-app/CHANGELOG.md
  packages/manager/tools/sao-ovh-manager-app/package.json
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

docs: update documentation [skip ci]
  404.html
  assets/js/15.2e782ce4.js
  assets/js/15.81ce732f.js
  assets/js/16.bcdd59f4.js
  assets/js/16.c99d4ebe.js
  assets/js/app.0000aeb5.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Owners: @ovh/team-manager-dev

feat: modify or add user and token pop up in AI tools
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.component.js
  packages/manager/modules/pci/src/projects/project/training/training.html
  packages/manager/modules/pci/src/projects/project/training/training.routing.js
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix: pr comment
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
Owners: @ovh/team-manager-dev

feat(web): new offers for sql order page (#9445)
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/index.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/template.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.html
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.routing.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.service.js
  packages/manager/apps/web/client/app/hosting/database/order/public/index.js
  packages/manager/apps/web/client/app/hosting/database/order/public/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(pci.ai): region customization in cli tab ai dashboard
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.constants.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2329]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(vps.snapshot): review fix
  packages/manager/modules/vps/src/upscale/upscale.constants.js
Owners: @ovh/team-manager-dev

fix(web.hosting): warning modal if need change offer on multisite
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.html
Owners: @ovh/team-manager-dev

feat(storage.users): pr fixes
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.service.js
Owners: @ovh/team-manager-dev

fix(iam): remove advanced mode registration cache
  packages/manager/modules/iam/src/iam.routing.js
  packages/manager/modules/iam/src/iam.service.js
Owners: @ovh/team-manager-dev
