Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix: remove unused translations [CDS]
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_it_IT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2272]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_CA.json
Owners: @ovh/team-manager-dev

refactor: remove unused app (#9232)
  packages/manager/apps/cloud/.eslintrc.json
  packages/manager/apps/cloud/CHANGELOG.md
  packages/manager/apps/cloud/README.md
  packages/manager/apps/cloud/package.json
  packages/manager/apps/cloud/src/index.html
  packages/manager/apps/cloud/src/index.js
  packages/manager/apps/cloud/webpack.config.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2262]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/disk-size/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

refactor(storages.components): refactor exiting component (#9264)
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/controller.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/components/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
Owners: @ovh/team-manager-dev

feat(storages.cold-archive): tracking (#9270)
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
Owners: @ovh/team-manager-dev

feat(iam): update app for container
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/iam.module.js
  packages/manager/apps/iam/src/index.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/root.route.js
Owners: @ovh/team-manager-dev

fix(shell): standalone app settings in dev mode
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/plugin/navigation/index.ts
  packages/manager/modules/config/src/environment/environment.ts
Owners: @ovh/team-manager-dev

fix(iam): remove iam from dedicated
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
  packages/manager/apps/dedicated/package.json
Owners: @ovh/team-manager-dev

feat(dedicated.nasha): template listing component datagrid
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/iceberg/service.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.scss
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
Owners: @ovh/team-manager-dev

feat(dedicated): add legal information for kyc doc upload (#9255)
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

fix(dedicated): fix mrtg loading issue for us region
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2275]
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_en_GB.json
Owners: @ovh/team-manager-dev

fix: set need new modem flag to false when no modem selected
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2276]
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
Owners: @ovh/team-manager-dev

feat: add partners to order funnel
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/index.scss
Owners: @ovh/team-manager-dev

feat(dedicated.nasha): dynamic columns from JSON
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/iceberg/service.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.scss
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2277]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

release: nihonium-wildebeest-1
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/overthebox/CHANGELOG.md
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/support/CHANGELOG.md
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/hub/CHANGELOG.md
  packages/manager/modules/hub/package.json
  packages/manager/modules/overthebox/CHANGELOG.md
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/CHANGELOG.md
  packages/manager/modules/support/package.json
Owners: @ovh/team-manager-dev

docs: update documentation [skip ci]
  404.html
  assets/js/19.011f5bea.js
  assets/js/19.013da89c.js
  assets/js/20.4339a9a1.js
  assets/js/20.ffb55342.js
  assets/js/21.15809e44.js
  assets/js/21.da96cf38.js
  assets/js/app.d1818560.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Owners: @ovh/team-manager-dev

fix(pcc.vmware): new workflow for to add new datacenter
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.routes.js
Owners: @ovh/team-manager-dev

feat(iam): make actions optional
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/services/policy.service.js
Owners: @ovh/team-manager-dev

fix(pci): display price in manager private registry
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.html
Owners: @ovh/team-manager-dev

fix(iam): change advanced mode tooltip wording
  packages/manager/modules/iam/src/components/advancedModeSwitch/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pci): display price in manager private registry (#9289)
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.html
Owners: @ovh/team-manager-dev

feat(vps.dashboard): pr fixes
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2279]
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(storage.volume-backup): update volume-backup creation msg
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(iam): change advanced mode tooltip wording
  packages/manager/modules/iam/src/components/advancedModeSwitch/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(generator): add eslint and prettier in react project
  .eslintignore
  .lintstagedrc.json
  .prettierignore
  package.json
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/tab.tsx.hbs
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

feat(generator): fix eslint vite template generator
  .eslintignore
  package.json
Owners: @ovh/team-manager-dev

feat(generator): fix package json
  package.json
  packages/manager/core/ovh-themes/package.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix(generator): fix calendar input component
  packages/manager/core/ovh-themes/common/__tests__/InputCalendar.spec.tsx
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/InputCalendar.spec.tsx.snap
  packages/manager/core/ovh-themes/package.json
Owners: @ovh/su-digital-tools-core-stack

feat(generator): add comment to breadcrump component
  packages/manager/components/react/breadcrumb/src/Breadcrumb.tsx
Owners: @ovh/team-manager-dev

fix(generator): delete packages manager core components
  packages/manager/core/components/package.json
  packages/manager/core/components/src/Dashboard/Dashboard.tsx
  packages/manager/core/components/src/Dashboard/DashboardTile.tsx
  packages/manager/core/components/src/Dashboard/DashboardTileList.tsx
  packages/manager/core/components/src/Dashboard/DashboardTileLoading.tsx
  packages/manager/core/components/src/Dashboard/index.ts
  packages/manager/core/components/src/DatacenterLabel.tsx
  packages/manager/core/components/src/DatePretty.tsx
  packages/manager/core/components/src/Listing/Listing.tsx
  packages/manager/core/components/src/Listing/ListingColumnToggler.tsx
  packages/manager/core/components/src/Listing/ListingFilterAdder.tsx
  packages/manager/core/components/src/Listing/ListingFilters.tsx
  packages/manager/core/components/src/Listing/ListingTable.tsx
  packages/manager/core/components/src/Listing/ListingTableCell.tsx
  packages/manager/core/components/src/Listing/ListingTableHead.tsx
  packages/manager/core/components/src/Listing/index.ts
  packages/manager/core/components/src/Onboarding.tsx
  packages/manager/core/components/src/PageSelector.tsx
  packages/manager/core/components/src/Pagination.tsx
  packages/manager/core/components/src/SearchInput.tsx
  packages/manager/core/components/src/index.ts
  packages/manager/core/components/tsconfig.json
Owners: @ovh/su-digital-tools-core-stack

fix(generator): remove ovh-chakra-showcase
  packages/manager/core/ovh-chakra-showcase/.ladle/components.tsx
  packages/manager/core/ovh-chakra-showcase/CHANGELOG.md
  packages/manager/core/ovh-chakra-showcase/index.html
  packages/manager/core/ovh-chakra-showcase/package.json
  packages/manager/core/ovh-chakra-showcase/src/Accordion.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Alert.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Badge.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Breadcrumb.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Button.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Calendar.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Checkbox.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Content.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Forms.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Icons.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Input.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Menu.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Modal.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Popover.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Progress.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Radio.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Select.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Skeleton.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Table.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Tabs.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Tag.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Textarea.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/Tile.stories.tsx
  packages/manager/core/ovh-chakra-showcase/src/vite-env.d.ts
  packages/manager/core/ovh-chakra-showcase/tsconfig.json
  packages/manager/core/ovh-chakra-showcase/tsconfig.node.json
  packages/manager/core/ovh-chakra-showcase/vite.config.ts
Owners: @ovh/su-digital-tools-core-stack

fix(generator): delete breadcrumb package + do some fixes on the generator
  docs/docs/guide/scripts.md
  lerna.json
  package.json
  packages/manager/components/react/breadcrumb/package.json
  packages/manager/components/react/breadcrumb/src/index.ts
  packages/manager/components/react/breadcrumb/tsconfig.json
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/Breadcrumb.tsx
  packages/manager/core/generator/app/templates/src/pages/details/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/index.js
  packages/manager/core/generator/package.json
  packages/manager/core/generator/plopfile.js
  packages/manager/core/generator/utils/api.js
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

docs(generator): add micro-applications doc file
  docs/docs/guide/micro-applications.md
Owners: @ovh/team-manager-dev

feat(generator): update generator id application
  packages/manager/apps/container/src/core/dev/index.ts
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/modules/config/src/application/index.ts
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix(generator): rename useShellClient into initShellClient to avoid hook rule error on sonar
  docs/docs/guide/architecture.md
  package.json
  packages/components/ovh-shell/README.md
  packages/components/ovh-shell/src/index.ts
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/telecom/src/app/index.js
  packages/manager/apps/web/client/app/index.js
  packages/manager/core/application/src/ovh-application.tsx
  packages/manager/core/application/src/ovh-context.ts
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/InputCalendar.spec.tsx.snap
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
