Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @ovh/team-manager-control-tower, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev-angularjs @ovh/team-manager-dev-reactjs

# Components
/packages/components/ @ovh/team-manager-dev-angularjs

# Packages
/packages/manager/apps/ @ovh/team-manager-dev-angularjs
packages/manager/core/ @ovh/team-manager-dev-reactjs
packages/manager/modules/ @ovh/team-manager-dev-angularjs

# React Stack
*.jsx @ovh/team-manager-dev-reactjs @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-dev-reactjs @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-dev-reactjs

# Manager-React-Components
/packages/manager-react-components @ovh/team-manager-control-tower

# Continuous Integration and scripts
.github/workflows @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev-angularjs @ovh/team-manager-dev-reactjs
/scripts/run-playwright.js @ovh/team-manager-dev-reactjs
/scripts/run-playwright-bdd.js @ovh/team-manager-dev-reactjs
/scripts/.env.development @ovh/team-manager-dev-reactjs

feat(hpc.nutanix): update guide links (#12688)
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/index.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-legacy-features/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-legacy-features/index.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-legacy-features/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
Owners: @ovh/team-manager-dev-angularjs

feat(dedicated): move billing status and action in commitment section (#12602)
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
Owners: @ovh/team-manager-dev-angularjs

feat(pci): log to customer display css (#12768)
  packages/components/ng-log-live-tail/src/index.less
Owners: @ovh/team-manager-dev-angularjs

fix(billing us): ldp enterprise offers should be terminated by Agora (#12813)
  packages/manager/modules/billing-components/src/components/cancellation-form/confirm-terminate.constants.js
Owners: @ovh/team-manager-dev-angularjs

feat(dedicated): updating IAM on HPC to GA (#12329)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/toggle/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/iam/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev-angularjs

feat(dedicated): disposal of terminatesbg route (#12083)
  packages/manager/modules/bm-server-components/src/service-status/terminate/terminate.controller.js
  packages/manager/modules/bm-server-components/src/service-status/terminate/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev-angularjs

feat(container): pnr added kms entry on security, identity & operations (#12258)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Owners: @ovh/team-manager-dev-angularjs

feat(container): added ai dashboard to pnr v2 navigation (#12731)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Owners: @ovh/team-manager-dev-angularjs

feat(container): improved pnr sidebar wording (#12206)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev-angularjs

fix(container): fixed interpolation issue with user widget (#12721)
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_pt_PT.json
Owners: @ovh/team-manager-dev-angularjs

release: lanthanum-robot-5
  .sonarcloud.properties
  packages/components/ng-log-live-tail/CHANGELOG.md
  packages/components/ng-log-live-tail/package.json
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/CHANGELOG.md
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/web-paas/CHANGELOG.md
  packages/manager/apps/web-paas/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs

release: lanthanum-robot-5
  .sonarcloud.properties
  packages/components/ng-log-live-tail/CHANGELOG.md
  packages/components/ng-log-live-tail/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/CHANGELOG.md
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/web-paas/CHANGELOG.md
  packages/manager/apps/web-paas/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs

fix(i18n): add missing translations [CDS 3273]
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_en_GB.json
Owners: @ovh/team-manager-dev-angularjs

feat(key-management-service): credentials creation step 1 ref: MANAGER-13570
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/Credential/Create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/createCredential.page.tsx
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialDescription.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialDescription.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialName.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialName.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateValidityDate.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateValidityDate.ts
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.ts
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat: allow user to toggle acls
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/data/api/database/service.api.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/Namespaces.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/Users.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/Users.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/AddUser.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/ToggleAcl.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/ToggleAcl.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/useUserForm.hook.tsx
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat: add acls for opensearch engine
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/components/ui/data-table.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/Users.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/Users.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/AddEditUser.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/AddUser.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/UsersTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/AclsSelect.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/useAclsSelectForm.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/useUserForm.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/user.constants.ts
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat: add index patterns page and components
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/indexPatterns/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/configuration/polling.constants.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/ServiceTabs.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/IndexPatterns.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/AddPattern.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/DeleteIndex.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/DeletePattern.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/IndexesTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/PatternsTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/routes/routes.tsx
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat: add data layer for indexes and patterns
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/indexes.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/patterns.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/database/indexes.api.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/database/indexes.spec.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/database/pattern.api.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/database/pattern.spec.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/indexes/useDeleteIndex.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/indexes/useDeleteIndex.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/indexes/useGetIndexes.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/indexes/useGetIndexes.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/pattern/useAddPattern.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/pattern/useAddPattern.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/pattern/useDeletePattern.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/pattern/useDeletePattern.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/pattern/useGetPatterns.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/pattern/useGetPatterns.spec.tsx
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

release: lanthanum-robot-7
  .sonarcloud.properties
  packages/components/ng-log-live-tail/CHANGELOG.md
  packages/components/ng-log-live-tail/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/CHANGELOG.md
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/web-paas/CHANGELOG.md
  packages/manager/apps/web-paas/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs

fix(pci-private-network): fix datagrid style - region and local zone ref: TAPC-1243
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridHeader.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat(container): change live chat URL to Adrielly chatbot
  packages/manager/apps/container/src/components/LiveChat.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat: use constants for zod schema
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/AddPattern.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/DeleteIndex.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/DeletePattern.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/_components/pattern.constants.ts
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev-angularjs

fix(pci-kubernetes): change gateway selector exapnd to false
  packages/manager/apps/pci-kubernetes/src/components/create/LoadBalancerSelect.component.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack
