Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

feat(project.onboarding): display old onboarding page for us region
  packages/manager/modules/pci/src/projects/onboarding/assets/onboarding-us.png
  packages/manager/modules/pci/src/projects/onboarding/assets/onboarding.png
  packages/manager/modules/pci/src/projects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.less
  packages/manager/modules/pci/src/projects/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

add review suggestion
  packages/manager/modules/pci/src/projects/updating/controller.js
  packages/manager/modules/pci/src/projects/updating/index.scss
  packages/manager/modules/pci/src/projects/updating/routing.js
Owners: @ovh/team-manager-dev

feat(projects.project): add tracking for pci discovery products
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.controller.js
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.html
  packages/manager/modules/pci/src/projects/project/contacts/contacts.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/submit-job.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.html
  packages/manager/modules/pci/src/projects/project/gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/regions/regions.component.js
  packages/manager/modules/pci/src/projects/project/regions/regions.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/training/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.html
Owners: @ovh/team-manager-dev

fix(ng-at-internet-ui-router-plugin): default track on success
  packages/components/ng-at-internet-ui-router-plugin/src/index.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
Owners: @ovh/team-manager-dev

feat(projects.project): refactor project dashboard activation banner
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/project-dashboard-activate-banner.scss
  packages/manager/modules/pci/src/projects/project/components/index.js
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/index.js
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/index.scss
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.html
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pci.new): remove voucher form if not eligible
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Owners: @ovh/team-manager-dev

feat(projects.onboarding): remove HDS from discovery onboarding page
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
Owners: @ovh/team-manager-dev

feat(project.component): fix a typo
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.html
Owners: @ovh/team-manager-dev

feat(storages.containers): disable the creation of swift containers
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Owners: @ovh/team-manager-dev

feat(projects.project): add tracking for onboarding page
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
Owners: @ovh/team-manager-dev

fix(pci.project.activate): can not use same voucher twice
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Owners: @ovh/team-manager-dev

fix(pci.new): fix digest angular error
  packages/components/ng-ovh-contracts/src/summary/index.scss
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/controller.js
Owners: @ovh/team-manager-dev

fix(pci.new): remove hard coded state names
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Owners: @ovh/team-manager-dev

fix(pci.activate): unable to activate on integration error
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/project/activate/activate.module.js
  packages/manager/modules/pci/src/projects/project/activate/index.scss
Owners: @ovh/team-manager-dev

feat(pci): move setPciProjectMode function
  packages/components/ovh-at-internet/src/config.ts
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
Owners: @ovh/team-manager-dev

fix(pci.edit): unable to update the project name
  packages/manager/modules/pci/src/projects/project/edit/edit.controller.js
Owners: @ovh/team-manager-dev

feat(projects.onboarding): add spinner when disco creat butt is clicked
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
Owners: @ovh/team-manager-dev

feat(projects.project): add antifraud-manual-check service function
  packages/manager/modules/pci/src/projects/project/project.service.js
Owners: @ovh/team-manager-dev

fix(pci): credit users must use the old project funnel
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Owners: @ovh/team-manager-dev

fix(container): bring back pci projects pane
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/useProjects.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(pci): fix issues on tracking after QA
  packages/components/ng-ovh-contracts/src/summary/component.js
  packages/components/ng-ovh-contracts/src/summary/controller.js
  packages/components/ng-ovh-contracts/src/summary/template.html
  packages/manager/modules/pci/src/projects/creating/routing.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
Owners: @ovh/team-manager-dev

Apply suggestions from code review
  packages/manager/modules/pci/src/projects/project/project.routing.js
Owners: @ovh/team-manager-dev

feat(pci): contextualize tracking for payment component
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
Owners: @ovh/team-manager-dev

fix(pci.activate): restore credit view
  packages/manager/modules/pci/src/projects/new/payment/credit/component.js
  packages/manager/modules/pci/src/projects/new/payment/credit/controller.js
  packages/manager/modules/pci/src/projects/new/payment/credit/index.html
  packages/manager/modules/pci/src/projects/new/payment/credit/routing.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Owners: @ovh/team-manager-dev

feat(projects.updating): go to proj dashboard if manual review required
  packages/manager/modules/pci/src/projects/updating/controller.js
Owners: @ovh/team-manager-dev

feat(projects.project): correct tracking labels
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Owners: @ovh/team-manager-dev

feat(pci): contextualize tracking for contracts click
  packages/components/ng-ovh-contracts/src/summary/component.js
  packages/components/ng-ovh-contracts/src/summary/controller.js
  packages/components/ng-ovh-contracts/src/summary/template.html
  packages/manager/modules/pci/src/projects/new/config/index.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
Owners: @ovh/team-manager-dev

fix(pci.project): display one antifraud banner at a time
  packages/manager/modules/pci/src/projects/project/project.service.js
  packages/manager/modules/pci/src/projects/updating/controller.js
Owners: @ovh/team-manager-dev

fix(pci.activate): simulate the upgrade
  packages/manager/modules/pci/src/projects/new/payment/credit/component.js
  packages/manager/modules/pci/src/projects/new/payment/credit/index.html
  packages/manager/modules/pci/src/projects/new/payment/credit/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.service.js
Owners: @ovh/team-manager-dev

fix(pci.project): handle project order status
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.html
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/project.service.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2790]
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(rancher): add tracking
  packages/manager/apps/pci-rancher/jest-setup.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.type.ts
  packages/manager/apps/pci-rancher/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useTrackingPage.ts
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/utils/tracking.ts
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(pci-rancher): add rancher in manager menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix: add new test for action cell
  packages/manager/apps/pci-rancher/jest.config.ts
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix: build
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix: add breadcrumb on listing page
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat: add dashboard page
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
Owners: @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(ods): migrate pci rancher to ods 17 ref: MANAGER-12788
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/App.tsx
  packages/manager/apps/pci-rancher/src/Router.tsx
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/GuideLink/GuideLink.tsx
  packages/manager/apps/pci-rancher/src/components/Loading/Loading.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

fix: update routing with syncing with container ref: MANAGER-12785
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/playwright.config.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/e2e/Error.e2e.ts
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/layout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/tsconfig.json
  playwright-helpers/config.ts
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

feat(rancher): add generate acces detail (#10803)
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/PageLayout/PageLayout.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/hooks/useGenerateAccessDetail.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/team-manager-transfo, @ovh/su-digital-tools-core-stack

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/ @ovh/team-manager-dev

# Manager-components
/packages/manager-components @ovh/team-manager-transfo

# React Stack
*.jsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-transfo @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-transfo

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev
/scripts/run-playwright.js @ovh/team-manager-transfo
/scripts/run-playwright-bdd.js @ovh/team-manager-transfo
/scripts/.env.development @ovh/team-manager-transfo
