Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower

feat(pci-cold-archive): add modal to archive container
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower

feat(commitlint): prepare to update the file
  .commitlintrc.js
Owners: @ovh/team-manager-control-tower

fix(billing): fix js errors
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.routing.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.routing.js
Owners: @dev-manager-gcj-all

feat(mrc): fix capital letter issue
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower

fix(i18n): add missing translations [CDS 220]
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-control-tower

feat(mrc): update wording changelog button
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower

fix(i18n): add missing translations [CDS 222]
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-control-tower

fix(i18n): add missing translations [CDS 3702]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/terminate/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_it_IT.json
Owners: @dev-manager-infra-all, @dev-manager-web-all

feat(dedicated): remove beta tag on ipv6
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Owners: @dev-manager-infra-all

feat(dedicated): delete vrack from billing autorenew page
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.service.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.component.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/component.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/constants.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/index.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/routing.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/template.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/autorenew.component.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/component.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/constants.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/controller.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/index.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/routing.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/template.html
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_FR.json
  packages/manager/modules/new-billing/src/autoRenew/autorenew.component.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.html
  packages/manager/modules/new-billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.routing.js
Owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all

feat(dedicated): use constant
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
  packages/manager/modules/billing-components/src/components/utils/constants.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/routing.js
Owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all

feat(zimbra): filter already used domain zones
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
Owners: @dev-manager-web-all

fix(xdsl.move): set buildingReference from api result endpoint
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.controller.js
Owners: @dev-manager-web-all

fix(zimbra): feedbacks from launch (#15343)
  packages/manager/apps/zimbra/public/translations/accounts/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/api/account/key.ts
  packages/manager/apps/zimbra/src/api/domain/key.ts
  packages/manager/apps/zimbra/src/api/organization/key.ts
  packages/manager/apps/zimbra/src/api/platform/key.ts
  packages/manager/apps/zimbra/src/hooks/usePlatform.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsOrder.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalDeleteEmailAccount.component.tsx
Owners: @dev-manager-web-all

feat(web): correct message displayed on hosting page inviting to migrate (#15130)
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Owners: @dev-manager-web-all

fix(zimbra): domain currentState could be empty
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
Owners: @dev-manager-web-all

fix(i18n): add missing translations [CDS 3690] (#15292)
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
Owners: @dev-manager-web-all

feat(zimbra): add diagnostic DKIM (#15275)
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
Owners: @dev-manager-web-all

fix(zimbra): fix reload onboarding page
  packages/manager/apps/zimbra/src/App.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Owners: @dev-manager-web-all

fix(pack.access-list): call sort list function on not empty list
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
Owners: @dev-manager-web-all

feat(exchange): migrate task to iceberg
  packages/manager/modules/exchange/src/task/task.controller.js
  packages/manager/modules/exchange/src/task/task.html
  packages/manager/modules/web-universe-components/src/exchange/exchange.service.js
Owners: @dev-manager-web-all

fix(i18n): add missing translations [CDS 3680] (#15224)
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_en_GB.json
Owners: @dev-manager-web-all

fix(web.hosting): change 2api call by iceberg on domain configuration
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
Owners: @dev-manager-web-all

fix(zimbra): unselect organization
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
Owners: @dev-manager-web-all

feat(xdsl.move): remove useless portline cost label on pack move
  packages/manager/apps/telecom/src/app/telecom/pack/move/address/current/move-address-current.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Owners: @dev-manager-web-all

feat(zimbra): warning on standard domain addition (#15283)
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
Owners: @dev-manager-web-all

feat(logs): add dbaas/logs missing types
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Service.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServicePlanEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServiceStateEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Stream.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageCompressionEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageContentEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageTargetEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Url.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/UrlTypeEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
Owners: @ovh/team-manager-control-tower

feat(logs): add live-tail component
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/Log.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logTail.css
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailUrl.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/index.ts
  packages/manager/modules/logs-to-customer/vitest.config.js
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(ldp): subscriptions list implementation ref: MANAGER-15919
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStreamUrl.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogService.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStream.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStreamUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogSubscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logService/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logService/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logStream/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStream/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/index.ts
Owners: @ovh/team-manager-control-tower

feat(logs): init logs-to-customer module
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogKinds.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.mock.ts
  packages/manager/modules/logs-to-customer/src/data/types/apiVersion.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/index.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogKind.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscription.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResource.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResponse.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogUrlCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/TemporaryLogsLink.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
  packages/manager/modules/logs-to-customer/src/index.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/Data-streams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/index.ts
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/error/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/error/index.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logKind/index.ts
  packages/manager/modules/logs-to-customer/tailwind.config.js
  packages/manager/modules/logs-to-customer/tsconfig.json
  packages/manager/modules/logs-to-customer/vite.config.mjs
  packages/manager/modules/logs-to-customer/vitest.config.js
Owners: @ovh/team-manager-control-tower

feat(logs): bump manager-vite-config version ref: MANAGER-15358
  packages/manager/modules/logs-to-customer/package.json
Owners: @ovh/team-manager-control-tower

feat(kms): add logs-to-customer module
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/tailwind.config.js
Owners: @dev-manager-enabler-all

feat(ldp): add unsubscribe subscription action ref: MANAGER-16516
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useTerminateLogSubscription.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
Owners: @ovh/team-manager-control-tower

feat(ldp): add zoomin zoomout feature ref: MANAGER-15921
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/hooks/useZoomedInOut.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
Owners: @ovh/team-manager-control-tower

feat(ldp): add tracking base implementation ref: MANAGER-15360
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/LogsTracking.constant.ts
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.spec.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/types/logsTracking.ts
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

fix(i18n): add missing translations [CDS 3709]
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pt_PT.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pt_PT.json
Owners: @dev-manager-gcj-all

feat(account): implement gdpr erasure requests grid prfb
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.controller.js
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Owners: @dev-manager-gcj-all

release: thorium-mole-6
  .sonarcloud.properties
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/CHANGELOG.md
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/CHANGELOG.md
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/CHANGELOG.md
  packages/manager/apps/exchange/package.json
  packages/manager/apps/office/CHANGELOG.md
  packages/manager/apps/office/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/apps/zimbra/CHANGELOG.md
  packages/manager/apps/zimbra/package.json
  packages/manager/modules/email-domain/CHANGELOG.md
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/web-universe-components/CHANGELOG.md
  packages/manager/modules/web-universe-components/package.json
Owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-infra-all, @dev-manager-web-all

fix(kms): fix us pricing display ref: MANAGER-17003
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.constants.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ProtectionLevelSection.component.tsx
Owners: @dev-manager-enabler-all

feat(commitlint): prepare to update the file
  .commitlintrc.js
Owners: @ovh/team-manager-control-tower
