Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Core
/packages/manager/core/ @ovh/su-digital-tools-core-stack

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/su-digital-tools-core-stack @ovh/su-digital-tools-core-service-delivery

# Continuous Integration and scripts
.github @ovh/su-digital-tools-core-service-delivery
.nvmrc @ovh/su-digital-tools-core-service-delivery
/scripts/ @ovh/su-digital-tools-core-service-delivery
/scripts/start-application.js @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 6]
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_de_DE.json
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_en_GB.json
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_es_ES.json
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_fr_CA.json
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_it_IT.json
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_pl_PL.json
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_pt_PT.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_de_DE.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_en_GB.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_es_ES.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_fr_CA.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_it_IT.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_pl_PL.json
  packages/manager/core/generator/app/conditional-translations/listing/Messages_pt_PT.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_de_DE.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_en_GB.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_es_ES.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_CA.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_it_IT.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_pl_PL.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_pt_PT.json
Owners: @ovh/su-digital-tools-core-stack

feat(generator.test): update logger feature
  packages/components/ovh-shell/features/plugin/logger/logger.feature
Owners: @ovh/team-manager-dev

feat: add onboarding page template on the generator
  .eslintrc.js
  packages/manager/core/generator/app/conditional-templates/onboarding/index.scss
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/onboarding-img.png
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_en_GB.json.hbs
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_FR.json
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/ManagerTile/ManagerTile.scss
  packages/manager/core/generator/app/templates/src/components/ManagerTile/ManagerTile.tsx
  packages/manager/core/generator/app/templates/src/components/ManagerTile/index.ts
  packages/manager/core/generator/app/templates/src/components/OnboardingLayout/OnboardingLayout.scss
  packages/manager/core/generator/app/templates/src/components/OnboardingLayout/OnboardingLayout.tsx
  packages/manager/core/generator/app/templates/src/components/OnboardingLayout/index.ts
  packages/manager/core/generator/app/templates/src/components/OnboardingLayout/placeholder.png
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/utils/create-structure-helpers.js
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack

fix: pr comment
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
Owners: @ovh/team-manager-dev

feat(generator): update translation file generator template
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_fr_FR.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_fr_FR.json.hbs
Owners: @ovh/su-digital-tools-core-stack

fix(i18n): add missing translations [CDS 9]
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_de_DE.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_en_GB.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_es_ES.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_fr_CA.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_it_IT.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_pl_PL.json
  packages/manager/core/generator/app/templates/src/public/translations/{{appName}}/Messages_pt_PT.json
Owners: @ovh/su-digital-tools-core-stack

fix(dedicated): make swap partition removable (#9123)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

fix(dedicated): removal of usedistributionkernel, usedistribkernel options (#9243)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.html
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

fix(pci): fix translation not loaded on user add (#9392)
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/index.js
Owners: @ovh/team-manager-dev

fix(telecom): check eligibility status before show retention message (#9342)
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.controller.js
Owners: @ovh/team-manager-dev

fix(pci): fix active tab display (#9359)
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Owners: @ovh/team-manager-dev

release: manganese-shark
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-dev

docs: update documentation [skip ci]
  404.html
  assets/js/app.856159ba.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Owners: @ovh/team-manager-dev

fix(nutanix): upgrade private bandwidth
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/service.js
  packages/manager/modules/nutanix/src/index.js
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pci): fix cross border sentence in wrong place
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(pci): fix cross border sentence in wrong place
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

feat(storage.users): secure the display of s3 user secret key
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.controller.js
Owners: @ovh/team-manager-dev

fix: remove node-sass dependency
  packages/components/ng-shell-tracking/package.json
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-config/src/webpack.common.js
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

feat(webpack-dev-server): migrate to webpack 5
  packages/manager/tools/webpack-dev-server/package.json
  packages/manager/tools/webpack-dev-server/src/config.js
  yarn.lock
Owners: @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery, @ovh/team-manager-dev

feat(webpack-config): migrate to webpack 5
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-config/src/index.js
  packages/manager/tools/webpack-config/src/loaders/translation-inject.js
  packages/manager/tools/webpack-config/src/loaders/translation-ui-router.js
  packages/manager/tools/webpack-config/src/webpack.common.js
  yarn.lock
Owners: @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery, @ovh/team-manager-dev

build: bump node from 16 to 18
  package.json
  packages/manager/tools/dev-server-config/package.json
  packages/manager/tools/dev-server/package.json
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

build: update github workflows node version from 16 to 18
  .github/workflows/gh-pages.yaml
  .github/workflows/linter.yaml
  .github/workflows/run-bdd-tests.yml
Owners: @ovh/su-digital-tools-core-service-delivery

fix(docs): use vuepress-webpack 2
  docs/.gitignore
  docs/docs/.vuepress/cli/prebuild.js
  docs/docs/.vuepress/config.js
  docs/docs/.vuepress/styles/badge.styl
  docs/docs/.vuepress/styles/custom-blocks.styl
  docs/docs/.vuepress/styles/index.scss
  docs/docs/.vuepress/styles/index.styl
  docs/docs/.vuepress/styles/palette.styl
  docs/docs/README.md
  docs/package.json
  yarn.lock
Owners: @ovh/team-manager-dev

test(ovh-themes): disable InputCalendar unit tests
  packages/manager/core/ovh-themes/common/__tests__/InputCalendar.tsx
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/InputCalendar.spec.tsx.snap
Owners: @ovh/su-digital-tools-core-stack

docs: update node version in README
  docs/docs/README.md
Owners: @ovh/team-manager-dev

fix(nutanix): upgrade private bandwidth (#9200)
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/service.js
  packages/manager/modules/nutanix/src/index.js
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(user-sidebar): fix scss for screen reader
  packages/manager/apps/container/src/container/common/notifications-sidebar/notifications-sidebar.module.scss
  packages/manager/apps/container/src/container/legacy/account-sidebar/index.scss
Owners: @ovh/team-manager-dev

feat(project.new): update the filtering of a cart service option
  packages/manager/modules/pci/src/projects/new/service.js
Owners: @ovh/team-manager-dev

build: bump webpack to v5.76.2
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  packages/manager/tools/webpack-config/package.json
  yarn.lock
Owners: @ovh/team-manager-dev, @ovh/su-digital-tools-core-stack, @ovh/su-digital-tools-core-service-delivery

fix(telecom): fix d3 import
  packages/manager/apps/telecom/src/app/app.module.js
Owners: @ovh/team-manager-dev

feat(dedicated): explain windows installation server 2+ disks impossible
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2317]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

feat(dedicated): enable modify bandwidth based on cluster type
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/component.js
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/private-order.html
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/network-tile.component.js
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
Owners: @ovh/team-manager-dev

feat(dedicated): enable modify bandwidth based on cluster type (#9417)
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/component.js
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/private-order.html
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/network-tile.component.js
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
Owners: @ovh/team-manager-dev

feat(iplb): display https protocol
  packages/manager/modules/iplb/src/frontends/iplb-frontends.controller.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends.html
Owners: @ovh/team-manager-dev

feat(dedicated): licenses page display improvements
  packages/manager/apps/dedicated/client/app/css/less/common/table.less
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2318]
  packages/manager/apps/dedicated/client/app/license/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(dedicated): design improvements for kyc
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

fix(dedicated): design improvements for kyc (#9420)
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 2319]
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev
