Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower

feat(manager-react-components): datagrid filers in v6 hooks
  packages/manager/core/vite-config/package.json
  packages/manager/core/vite-config/src/config.js
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(dedicated): add info banner in iplb home page
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
Owners: @dev-manager-infra-all

feat(dedicated): add iplb delete option for us
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/home/iplb-home.constants.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.html
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/listing/constants.js
  packages/manager/modules/iplb/src/listing/index.js
  packages/manager/modules/iplb/src/listing/listing.component.js
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/modal/terminate/constants.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.controller.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.html
Owners: @dev-manager-infra-all

feat(dedicated): keep detail navigation for EU/CA
  packages/manager/modules/iplb/src/listing/listing.html
Owners: @dev-manager-infra-all

fix(i18n): add missing translations [CDS 3708]
  packages/manager/modules/iplb/src/listing/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/listing/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/listing/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/listing/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pt_PT.json
Owners: @dev-manager-infra-all

feat(dedicated): use extends for listing controller
  packages/manager/modules/iplb/src/listing/constants.js
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/modal/terminate/terminate.controller.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.html
Owners: @dev-manager-infra-all

fix(dedicated.pcc): fix ip order link in drp configuration (#15335)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/ovhPcc/dedicatedCloud-datacenter-drp-onPremise-ovhPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/onPremise/ovhPcc/ovhPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/ovh/mainPcc/mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/ovh/secondPcc/secondPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/drp.routing.js
Owners: @dev-manager-infra-all

feat(dedicated): add terminate modal for vrack (#13483)
  packages/manager/modules/vrack/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
  packages/manager/modules/vrack/src/terminate-modal/index.js
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_en_GB.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/terminate-modal/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.component.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.constants.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.controller.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.html
  packages/manager/modules/vrack/src/vrack.module.js
  packages/manager/modules/vrack/src/vrack.routing.js
Owners: @dev-manager-infra-all

feat(dedicated.netapp): create volume from snapshot (#14721)
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/constants.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/create-volume/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pt_PT.json
Owners: @dev-manager-infra-all

fix(dedicated.pcc): fix user right 'add resources' not updatable (#15329)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/vsphere-user-rights-edit.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/vsphere-users/rights/edit/vsphere-user-rights-edit.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/rights/edit/edit.routes.js
Owners: @dev-manager-infra-all

feat(nutanix): fix node listing page (#15308)
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
Owners: @dev-manager-hpc-all

feat(dedicated): add iplb delete option for us (#14243)
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/home/iplb-home.constants.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.html
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/listing/index.js
  packages/manager/modules/iplb/src/listing/listing.component.js
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/listing/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/listing/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/listing/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/listing/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pt_PT.json
  packages/manager/modules/iplb/src/modal/terminate/constants.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.controller.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.html
Owners: @dev-manager-infra-all

feat(ng-shell-tracking): add page details for click event (#15231)
  packages/components/ng-shell-tracking/src/directive.js
  packages/components/ovh-at-internet/src/constants.ts
Owners: @ovh/team-manager-control-tower

feat(pci-cold-archive): add modal to archive container
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Owners: @dev-manager-pci-all, @ovh/team-manager-control-tower

fix(hub-react): adapted skeletons display to reduce cls kpi (#14275)
  packages/manager/apps/hub-react/src/components/banner/Banner.component.tsx
  packages/manager/apps/hub-react/src/components/banner/Banner.spec.tsx
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub-react/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/TileGridSkeleton.component.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/TileGridSkeleton.spec.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/tile-skeleton/TileSkeleton.component.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/tile-skeleton/TileSkeleton.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/billingServices/useBillingServices.tsx
  packages/manager/apps/hub-react/src/data/hooks/bills/useBills.tsx
  packages/manager/apps/hub-react/src/data/hooks/debt/useDebt.tsx
  packages/manager/apps/hub-react/src/data/hooks/kyc/useKyc.tsx
  packages/manager/apps/hub-react/src/data/hooks/notifications/useNotifications.tsx
  packages/manager/apps/hub-react/src/pages/layout/BillingSummary.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/KycFraudBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/KycIndiaBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/NotificationsCarousel.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/PaymentStatus.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/SiretBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/SiretModal.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/context.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
Owners: @dev-manager-gcj-all

feat(account): disable contact edit for services in creation status (#15170)
  packages/manager/modules/account/src/contacts/service/user-contacts-service.controller.js
  packages/manager/modules/account/src/contacts/service/user-contacts-service.html
Owners: @dev-manager-gcj-all

feat(logs): bump ods18
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscriptionsLink.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamUnsubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logRetention.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  yarn.lock
Owners: @dev-manager-enabler-all, @ovh/team-manager-control-tower

release: thorium-mole-7
  .sonarcloud.properties
  packages/manager/apps/account/CHANGELOG.md
  packages/manager/apps/account/package.json
  packages/manager/apps/hub-react/CHANGELOG.md
  packages/manager/apps/hub-react/package.json
  packages/manager/modules/account/CHANGELOG.md
  packages/manager/modules/account/package.json
Owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all

feat(hpc-managed-vcd): add storage performance data in order page
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/storage/StorageOrderCells.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/datacentreStorageOrder.constants.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vdc-orderable-resource.mock.ts
  packages/manager/modules/vcd-api/src/types/vcd-orderable-resource.type.ts
Owners: @dev-manager-hpc-all

fix(i18n): add missing translations [CDS 3682]
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_fr_CA.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/order/Messages_pt_PT.json
Owners: @dev-manager-hpc-all

release: thorium-mole-8
  .sonarcloud.properties
  packages/manager/apps/hpc-vmware-managed-vcd/CHANGELOG.md
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/veeam-backup/CHANGELOG.md
  packages/manager/apps/veeam-backup/package.json
  packages/manager/modules/vcd-api/CHANGELOG.md
  packages/manager/modules/vcd-api/package.json
Owners: @ovh/team-manager-control-tower, @dev-manager-hpc-all

fix(telecom.softphone): softphone content improvement
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/component/theme/theme.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/index.js
  yarn.lock
Owners: @dev-manager-web-all, @ovh/team-manager-control-tower

feat: open ldp
  packages/manager/apps/pci-load-balancer/src/pages/detail/Detail.page.tsx
Owners: @dev-manager-pci-all

fix(pci-instances): use os flavor for license pricing (#15248)
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Owners: @ovh/team-manager-control-tower

fix(pci.load-balancer): sort addons by the size of load balancer (#15189)
  packages/manager/apps/pci-load-balancer/src/api/hook/useAddons.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useAddons.ts
Owners: @dev-manager-pci-all

fix(quotas): increase quotas (#15120)
  packages/manager/modules/pci/src/projects/project/quota/increase-request-credits/increase-request-credits.html
Owners: @ovh/team-manager-control-tower

feat(pci-block-storage): add wording hints on new page (#15161)
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
Owners: @dev-manager-pci-all

fix(pci.instances): handle monthly card (#15235)
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
Owners: @ovh/team-manager-control-tower

test(mrc): use internals polyfill instead of mock (#15242)
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager-react-components/vitest.setup.js
Owners: @ovh/team-manager-control-tower

feat(mrc): update component to pass changelog on separate prop
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.icon.tsx
Owners: @ovh/team-manager-control-tower

release: thorium-mole-9
  .sonarcloud.properties
  packages/manager/apps/pci-block-storage/CHANGELOG.md
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-load-balancer/CHANGELOG.md
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Owners: @ovh/team-manager-control-tower, @dev-manager-pci-all

feat(mrc): update headers button
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
Owners: @ovh/team-manager-control-tower

fix(mrc): fix header component
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
Owners: @ovh/team-manager-control-tower

fix(pci-common): use correct style for micro regions (#15149)
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionSelector.component.tsx
Owners: @dev-manager-tapc-admin

docs(pci-common): update changelog
  packages/manager/modules/manager-pci-common/CHANGELOG.md
  packages/manager/modules/manager-pci-common/package.json
Owners: @dev-manager-tapc-admin

docs(pci-common): update changelog (#15388)
  packages/manager/modules/manager-pci-common/CHANGELOG.md
  packages/manager/modules/manager-pci-common/package.json
Owners: @dev-manager-tapc-admin

feat(account): implement gdpr erasure requests grid prfb
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.controller.js
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Owners: @dev-manager-gcj-all

feat(account): implement gdpr erasure requests grid
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.controller.js
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.module.js
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.scss
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Owners: @dev-manager-gcj-all

fix(pci): updated new instance guide link for us
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
Owners: @ovh/team-manager-control-tower

feat(container): remove navigation mode switch and preselect pnr
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/style.module.scss
  packages/manager/apps/container/src/container/legacy/navbar/Navbar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
Owners: @dev-manager-gcj-all
