Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @fredericvilcot, @frenautvh, @ovh/team-manager-control-tower

feat(pci.instances): add Windows Gen 3 license total price
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Owners: @ovh/team-manager-dev-angularjs

feat(pci.instances): add Windows Gen 3 license total price
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Owners: @ovh/team-manager-dev-angularjs

feat(pci.instances): add Windows Gen 3 license price
  packages/manager/modules/pci/src/components/project/images-list/images-list.component.js
  packages/manager/modules/pci/src/components/project/images-list/images-list.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Owners: @ovh/team-manager-dev-angularjs

feat(account): reintegrate feat/manager-14875 (#14267)
  packages/manager/modules/account/src/kyc-documents/dashboard/component.js
  packages/manager/modules/account/src/kyc-documents/dashboard/constants.js
  packages/manager/modules/account/src/kyc-documents/dashboard/routing.js
  packages/manager/modules/account/src/kyc-documents/dashboard/template.html
Owners: @ovh/team-manager-dev-angularjs

fix(account): redirect to account in sidebars (#14352)
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/UserLink.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/constants.ts
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev-angularjs

feat(dedicated): keep detail navigation for EU/CA
  packages/manager/modules/iplb/src/listing/listing.html
Owners: @ovh/team-manager-dev-angularjs

feat(hub-react): handle notifications translations in front end
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_de_DE.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_en_GB.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_es_ES.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_fr_CA.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_fr_FR.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_it_IT.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_pl_PL.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_pt_PT.json
  packages/manager/apps/hub-react/src/hooks/guides/useGuideUtils.tsx
  packages/manager/apps/hub-react/src/index.tsx
  packages/manager/apps/hub-react/src/pages/layout/NotificationsCarousel.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.constants.ts
  packages/manager/apps/hub-react/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub-react/src/setupTests.ts
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat(pci.private-network): remove unecessary condition for tabs
  packages/manager/apps/pci-private-network/src/pages/listing/localZone/PrivateNetworkLZ.page.tsx
  packages/manager/apps/pci-private-network/src/pages/listing/region/PrivateNetworkRegion.page.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

fix(i18n): add missing translations [CDS 3529]
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pt_PT.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-ai-endpoints/public/translations/pci-ai-endpoints/Messages_de_DE.json
  packages/manager/apps/pci-ai-endpoints/public/translations/pci-ai-endpoints/Messages_en_GB.json
  packages/manager/apps/pci-ai-endpoints/public/translations/pci-ai-endpoints/error/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_es_ES.json
Owners: @ovh/team-manager-dev-angularjs

feat(pci.private-network): remove unecessary ispending from usequeries
  packages/manager/apps/pci-private-network/src/data/hooks/networks/useNetworks.ts
Owners: @ovh/team-manager-dev-angularjs

feat: update mrc version to get new onboarding button order
  packages/manager/apps/pci-savings-plan/package.json
  yarn.lock
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs

feat(account): reintegrate feat/manager-14875 (#14267)
  packages/manager/modules/account/src/kyc-documents/dashboard/component.js
  packages/manager/modules/account/src/kyc-documents/dashboard/constants.js
  packages/manager/modules/account/src/kyc-documents/dashboard/routing.js
  packages/manager/modules/account/src/kyc-documents/dashboard/template.html
Owners: @ovh/team-manager-dev-angularjs

fix(account): redirect to account in sidebars (#14352)
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/UserLink.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/constants.ts
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev-angularjs

release: potassium-ferret
  .sonarcloud.properties
  packages/manager/apps/account/CHANGELOG.md
  packages/manager/apps/account/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/modules/account/CHANGELOG.md
  packages/manager/modules/account/package.json
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs

build(zimbra): set mrc to v2.5.1
  packages/manager/apps/zimbra/package.json
Owners: @ovh/team-manager-dev-angularjs

refactor(zimbra): tabs & breadcrumb handling
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/TabsPanel.tsx
  packages/manager/apps/zimbra/src/hooks/__test__/useGenerateUrl.spec.tsx
  packages/manager/apps/zimbra/src/hooks/useGenerateUrl.ts
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AutoReplies.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AccountTabsPanel.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsAlias.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/Redirections.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev-angularjs

ci: publish config and ovh-at-internet packages
  packages/components/ovh-at-internet/package.json
  packages/manager/modules/config/package.json
  packages/manager/modules/config/tsconfig.json
Owners: @ovh/team-manager-dev-angularjs

feat(pci.private-network): add usememo for usecolumns
  packages/manager/apps/pci-private-network/src/hooks/useColumns/useColumns.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat: add L2C component with kubeId for tests
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/KubeLogsProvider.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Logs.page.tsx
  packages/manager/apps/pci-databases-analytics/tailwind.config.ts
  yarn.lock
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat(pci-object-storage): create user modal
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/user.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Create.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/import-policy/ImportPolicy.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/apps/pci-object-storage/src/utils.ts
  yarn.lock
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat(dedicated): my services add tips and payment block (#13809)
  packages/manager/modules/billing-components/src/components/auto-renew-tips/auto-renew-tips.component.js
  packages/manager/modules/billing-components/src/components/auto-renew-tips/auto-renew-tips.html
  packages/manager/modules/billing-components/src/components/auto-renew-tips/index.js
  packages/manager/modules/billing-components/src/components/auto-renew-tips/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/payment-method/index.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.component.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.controller.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.html
  packages/manager/modules/billing-components/src/components/payment-method/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/index.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/billing/src/autoRenew/autorenew.style.css
Owners: @ovh/team-manager-dev-angularjs

feat(dedicates): my services update content wording (#13987)
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev-angularjs

feat(container): updated my services menu entry (#13981)
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
Owners: @ovh/team-manager-dev-angularjs

feat(dedicated): add a cta to add a payment method if not recorded (#14053)
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.html
  packages/manager/modules/billing-components/src/components/payment-method/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev-angularjs

fix(manager-react-components): storybook documentation auto generate
  packages/manager-react-components/.storybook/CustomDocsPage.mdx
  packages/manager-react-components/.storybook/main.tsx
  packages/manager-react-components/.storybook/ovh.theme.ts
  packages/manager-react-components/.storybook/preview.tsx
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/ManagerButton/ManagerButton.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager-react-components/src/components/table/table.stories.mdx
  packages/manager-react-components/src/docs/introduction.mdx
  yarn.lock
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

fix(account): fixed new email path in template
  packages/manager/modules/account/src/user/infos/user-infos.html
Owners: @ovh/team-manager-dev-angularjs

feat(dedicated): revamp subscription tile component (#14239)
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/services-actions/index.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.constants.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
  packages/manager/modules/billing-components/src/components/utils/constants.js
  packages/manager/modules/billing-components/src/components/utils/index.js
Owners: @ovh/team-manager-dev-angularjs

feat(dedicated): my services fix resiliate action (#14391)
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
Owners: @ovh/team-manager-dev-angularjs

feat(dedicated): revamp my services datagrid (#14357)
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/autorenew.constants.js
  packages/manager/modules/billing/src/autoRenew/autorenew.controller.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/models/BillingService/BillingService.class.js
Owners: @ovh/team-manager-dev-angularjs

feat(pci-object-storage): show password in cold archive
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
Owners: @ovh/team-manager-dev-angularjs

fix: node modals not showing correctly
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/addNode/AddNode.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/deleteNode/DeleteNode.modal.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

feat(pci-object-storage): create user modal
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/user.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Create.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/import-policy/ImportPolicy.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/apps/pci-object-storage/src/utils.ts
  yarn.lock
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

fix: update storage button not displayed
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/UpdateTable.component.tsx
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

fix(i18n): add missing translations [CDS 147]
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/integrations/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/integrations/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/integrations/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/integrations/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/integrations/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/integrations/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/integrations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev-angularjs

feat(pci-object-storage): delete object
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/Storage.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/Object.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/index.ts
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @fredericvilcot, @frenautvh

feat(manager-react-components): delete deprecated dashboard components
  packages/manager-react-components/src/components/templates/dashboard/dashboard.component.tsx
  packages/manager-react-components/src/components/templates/dashboard/dashboard.spec.tsx
  packages/manager-react-components/src/components/templates/dashboard/dashboard.stories.css
  packages/manager-react-components/src/components/templates/dashboard/dashboard.stories.mdx
  packages/manager-react-components/src/components/templates/dashboard/dashboard.stories.tsx
  packages/manager-react-components/src/components/templates/index.ts
Owners: @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @ovh/team-manager-dev-angularjs

feat(pci-object-storage): delete object
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/Storage.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/Object.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/index.ts
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @fredericvilcot, @frenautvh

feat(pci-object-storage): add container step 1 & 2
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/hooks/useColumnsCount.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/New.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStepTile.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/SolutionStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/SolutionStepTile.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/useContainerCreationStore.ts
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/modules/manager-pci-common/src/api/hook/useCatalog.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/style.constants.ts
  packages/manager/modules/manager-pci-common/src/components/shape-input/default-components/default-shape.tsx
  packages/manager/modules/manager-pci-common/src/components/tiles-input-choice/TileChoice.component.tsx
  packages/manager/modules/manager-pci-common/src/components/tiles-input-choice/TilesInputChoice.component.tsx
  packages/manager/modules/manager-pci-common/src/constants/style.ts
  packages/manager/modules/manager-pci-common/src/index.ts
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack, @fredericvilcot, @frenautvh

feat: poc generate hooks
  generate-schema.ts
  packages/manager/apps/pci-savings-plan/src/axios-client/Query.ts
  packages/manager/apps/pci-savings-plan/src/axios-client/axios-client.ts
  packages/manager/apps/pci-savings-plan/src/axios-client/helpers.ts
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
Owners: @ovh/team-manager-dev-angularjs, @ovh/team-manager-dev-reactjs, @ovh/su-digital-tools-core-stack

fix(web): fix banner request broken
  packages/manager/apps/web/client/app/configuration/configuration.html
Owners: @ovh/team-manager-dev-angularjs

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev-angularjs @ovh/team-manager-dev-reactjs

# Components
/packages/components/ @ovh/team-manager-dev-angularjs

# Packages
/packages/manager/apps/ @ovh/team-manager-dev-angularjs
/packages/manager/core/ @ovh/team-manager-dev-reactjs
/packages/manager/modules/ @ovh/team-manager-dev-angularjs

# React Stack
*.jsx @ovh/team-manager-dev-reactjs @ovh/su-digital-tools-core-stack
*.tsx @ovh/team-manager-dev-reactjs @ovh/su-digital-tools-core-stack
/playwright-helpers/ @ovh/team-manager-dev-reactjs

# Manager-pci-common
# TODO: Update owners to be TAPC & Core-stack groups instead of particular users.
/packages/manager/modules/manager-pci-common/ @fredericvilcot @frenautvh

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Continuous Integration and scripts
/scripts/start-application.js @ovh/team-manager-dev-angularjs @ovh/team-manager-dev-reactjs
/scripts/run-playwright.js @ovh/team-manager-dev-reactjs
/scripts/run-playwright-bdd.js @ovh/team-manager-dev-reactjs
/scripts/.env.development @ovh/team-manager-dev-reactjs
