Repository ovh/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-control-tower, @dev-manager-gcj-all, @dev-manager-enabler-all, @dev-manager-web-all, @dev-manager-infra-all, @dev-manager-hpc-all, @dev-manager-pci-all, @dev-manager-pci-aidatabase, @dev-manager-tapc-admin, @dev-manager-tapc-all

feat(web-office): add modal order licenses
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/order.ts
  packages/manager/apps/web-office/src/api/order/api.ts
  packages/manager/apps/web-office/src/api/order/index.ts
  packages/manager/apps/web-office/src/api/order/key.ts
  packages/manager/apps/web-office/src/api/order/type.ts
  packages/manager/apps/web-office/src/api/order/utils.ts
  packages/manager/apps/web-office/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOrderCatalog.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useOrderCatalog.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderLicenses.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderLicenses.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/pages/onboarding/__test__/index.spec.tsx
  packages/manager/apps/web-office/src/pages/onboarding/index.tsx
  packages/manager/apps/web-office/src/routes/routes.constants.ts
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(web-office): add vite version 6
  packages/manager/apps/web-office/mocks/example/example-data.json
  packages/manager/apps/web-office/mocks/example/example.ts
  packages/manager/apps/web-office/mocks/index.ts
  packages/manager/apps/web-office/package.json
Owners: @ovh/team-manager-control-tower

feat(web-office): add modal order users
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/web-office-365/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/web-office-365/error/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/price.ts
  packages/manager/apps/web-office/src/api/_mock_/user.ts
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/order/api.ts
  packages/manager/apps/web-office/src/api/order/type.ts
  packages/manager/apps/web-office/src/api/price/api.ts
  packages/manager/apps/web-office/src/api/price/index.ts
  packages/manager/apps/web-office/src/api/price/key.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/key.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderLicenses.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderLicenses.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderUsers.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  packages/manager/apps/web-office/tsconfig.json
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting design for edit user
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/App.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/layout.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting design for user page
  packages/manager/apps/web-office/src/components/BadgeStatus.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Owners: @ovh/team-manager-control-tower

feat(web-office): correcting regex and tooltip for login
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower

release: arsenic-weasel-1
  .sonarcloud.properties
  packages/manager/apps/telecom-dashboard/CHANGELOG.md
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/apps/zimbra/CHANGELOG.md
  packages/manager/apps/zimbra/package.json
  packages/manager/modules/telecom-dashboard/CHANGELOG.md
  packages/manager/modules/telecom-dashboard/package.json
Owners: @ovh/team-manager-control-tower, @dev-manager-web-all

feat(web-office): add consumption tab
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/dashboard/consumption/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/serviceInfos.ts
  packages/manager/apps/web-office/src/api/_mock_/usageStatistics.ts
  packages/manager/apps/web-office/src/api/serviceInfos/api.ts
  packages/manager/apps/web-office/src/api/serviceInfos/index.ts
  packages/manager/apps/web-office/src/api/serviceInfos/key.ts
  packages/manager/apps/web-office/src/api/serviceInfos/type.ts
  packages/manager/apps/web-office/src/api/usageStatistics/api.ts
  packages/manager/apps/web-office/src/api/usageStatistics/index.ts
  packages/manager/apps/web-office/src/api/usageStatistics/key.ts
  packages/manager/apps/web-office/src/api/usageStatistics/type.ts
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeServiceInfos.spec.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeUserDetail.spec.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeUsers.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useDateFnsLocale.ts
  packages/manager/apps/web-office/src/hooks/useOfficeServiceInfos.ts
  packages/manager/apps/web-office/src/pages/dashboard/consumption/Consumption.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/CustomTooltip.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/_test_/Consumption.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/_test_/CustomTooltip.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/index.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  yarn.lock
Owners: @ovh/team-manager-control-tower

refactor(dedicated-cloud): improve condition to determinate edge product
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds.module.js
Owners: @dev-manager-infra-all

feat(veeam-backup): display real values of storage consumption
  packages/manager/apps/veeam-backup/mocks/index.ts
  packages/manager/apps/veeam-backup/mocks/services.handler.ts
  packages/manager/apps/veeam-backup/mocks/services.mock.ts
  packages/manager/apps/veeam-backup/src/data/api/service-consumption.ts
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.spec.tsx
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.constants.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/render-test.tsx
  packages/manager/apps/veeam-backup/src/type/service-consumption.type.ts
Owners: @dev-manager-hpc-all

fix(kms): fix us pricing display ref: MANAGER-17003
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.constants.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ProtectionLevelSection.component.tsx
Owners: @dev-manager-enabler-all

feat(sap-features-hub): add step summary
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/hooks/formStep/useFormSteps.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/installation.constants.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/types/formStep.type.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Owners: @ovh/team-manager-control-tower

feat(sap-features-hub): add file-saver library
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(sap-features-hub): add step 7
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Fields/RhfField.context.ts
  packages/manager/apps/sap-features-hub/src/components/Fields/RhfField.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Fields/RhfInput.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Fields/RhfPassword.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Fields/RhfToggle.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Fields/index.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/installation.constants.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSourceInformation/InstallationStepSourceInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/schema/form.schema.ts
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(sap-features-hub): fix sidadm property typo
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/mocks/installationForm.mock.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.ts
Owners: @ovh/team-manager-control-tower

feat(manager-react-components): add datagrid topbar component
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
  yarn.lock
Owners: @ovh/team-manager-control-tower

feat(manager-react-components): add search in datagrid topbar component
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
Owners: @ovh/team-manager-control-tower

feat(generator): update v6 template listing search
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
Owners: @ovh/team-manager-control-tower

release: arsenic-weasel-2
  .sonarcloud.properties
  packages/manager/apps/key-management-service/CHANGELOG.md
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/veeam-backup/CHANGELOG.md
  packages/manager/apps/veeam-backup/package.json
Owners: @ovh/team-manager-control-tower, @dev-manager-enabler-all, @dev-manager-hpc-all

feat(sap-features-hub): add step 7
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
Owners: @ovh/team-manager-control-tower

fixup! feat(sap-features-hub): add step summary
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/mocks/formSummary.mock.ts
  packages/manager/apps/sap-features-hub/src/mocks/installationForm.mock.ts
  packages/manager/apps/sap-features-hub/src/mocks/summaryExport.mock.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/initialStep/InstallationInitialStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/test-utils/index.ts
  packages/manager/apps/sap-features-hub/src/test-utils/test-i18n.ts
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
Owners: @ovh/team-manager-control-tower

fix: select size, default flavor options
  packages/manager/apps/pci-savings-plan/src/components/Chart/Chart.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/ConsumptionDatagrid/ConsumptionDatagrid.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Filters/Filters.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.test.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.tsx
  packages/manager/apps/pci-savings-plan/src/utils/formatter/formatter.ts
  packages/manager/apps/pci-savings-plan/src/utils/kpi/utils.ts
  packages/manager/apps/pci-savings-plan/src/utils/savingsPlan.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/savingsPlan.ts
Owners: @dev-manager-pci-all

feat(sap-features-hub): add step summary
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/hooks/formStep/useFormSteps.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/mocks/formSummary.mock.ts
  packages/manager/apps/sap-features-hub/src/mocks/installationForm.mock.ts
  packages/manager/apps/sap-features-hub/src/mocks/summaryExport.mock.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/initialStep/InstallationInitialStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/installation.constants.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/test-utils/index.ts
  packages/manager/apps/sap-features-hub/src/test-utils/test-i18n.ts
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/types/formStep.type.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Owners: @ovh/team-manager-control-tower

feat(sap-features-hub): add file-saver library
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  yarn.lock
Owners: @ovh/team-manager-control-tower

fix(account): fix regex validation and display appropriate error message (#15479)
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/confirm/translations/Messages_fr_FR.json
Owners: @dev-manager-gcj-all

fix(sap-features-hub): fix sidadm property typo
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/mocks/installationForm.mock.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
Owners: @ovh/team-manager-control-tower

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-control-tower

# Components
/packages/components/ @ovh/team-manager-control-tower

# Apps
/packages/manager/apps/account @dev-manager-gcj-all
/packages/manager/apps/billing @dev-manager-gcj-all
/packages/manager/apps/carbon-calculator @dev-manager-enabler-all
/packages/manager/apps/carrier-sip @dev-manager-web-all
/packages/manager/apps/catalog @dev-manager-gcj-all
/packages/manager/apps/cda @dev-manager-infra-all
/packages/manager/apps/cloud-connect @dev-manager-infra-all
/packages/manager/apps/container @dev-manager-gcj-all
/packages/manager/apps/dbaas-logs @dev-manager-enabler-all
/packages/manager/apps/dedicated @dev-manager-infra-all
/packages/manager/apps/dedicated-server @dev-manager-infra-all
/packages/manager/apps/email-domain @dev-manager-web-all
/packages/manager/apps/email-pro @dev-manager-web-all
/packages/manager/apps/exchange @dev-manager-web-all
/packages/manager/apps/freefax @dev-manager-web-all
/packages/manager/apps/hpc-vmware-managed-vcd @dev-manager-hpc-all
/packages/manager/apps/hub @dev-manager-gcj-all
/packages/manager/apps/hub-react @dev-manager-gcj-all
/packages/manager/apps/hycu @dev-manager-hpc-all
/packages/manager/apps/iam @dev-manager-enabler-all
/packages/manager/apps/iplb @dev-manager-infra-all
/packages/manager/apps/key-management-service @dev-manager-enabler-all
/packages/manager/apps/metrics @dev-manager-infra-all
/packages/manager/apps/nasha @dev-manager-infra-all
/packages/manager/apps/netapp @dev-manager-infra-all
/packages/manager/apps/nutanix @dev-manager-hpc-all
/packages/manager/apps/octavia-load-balancer @dev-manager-pci-all
/packages/manager/apps/office @dev-manager-web-all
/packages/manager/apps/overthebox @dev-manager-web-all
/packages/manager/apps/pci @dev-manager-pci-all
/packages/manager/apps/pci-* @dev-manager-pci-all
/packages/manager/apps/pci-ai-endpoints @dev-manager-pci-all
/packages/manager/apps/pci-databases-analytics @dev-manager-pci-aidatabase
/packages/manager/apps/procedures @dev-manager-gcj-all
/packages/manager/apps/public-cloud @dev-manager-pci-all
/packages/manager/apps/restricted @dev-manager-enabler-all
/packages/manager/apps/sharepoint @dev-manager-web-all
/packages/manager/apps/sign-up @dev-manager-gcj-all
/packages/manager/apps/sms @dev-manager-web-all
/packages/manager/apps/support @dev-manager-gcj-all
/packages/manager/apps/telecom @dev-manager-web-all
/packages/manager/apps/telecom-dashboard @dev-manager-web-all
/packages/manager/apps/telecom-task @dev-manager-web-all
/packages/manager/apps/veeam-backup @dev-manager-hpc-all
/packages/manager/apps/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/apps/veeam-enterprise @dev-manager-infra-all
/packages/manager/apps/vps @dev-manager-web-all
/packages/manager/apps/vrack @dev-manager-infra-all
/packages/manager/apps/vrack-services @dev-manager-infra-all
/packages/manager/apps/web @dev-manager-web-all
/packages/manager/apps/web-paas @dev-manager-web-all
/packages/manager/apps/zimbra @dev-manager-web-all

# Core
/packages/manager/core @ovh/team-manager-control-tower

# Modules
/packages/manager/modules @ovh/team-manager-control-tower
/packages/manager/modules/account @dev-manager-gcj-all
/packages/manager/modules/billing @dev-manager-gcj-all
/packages/manager/modules/bm-server-components @dev-manager-infra-all @dev-manager-hpc-all
/packages/manager/modules/carbon-calculator @dev-manager-enabler-all
/packages/manager/modules/carrier-sip @dev-manager-web-all
/packages/manager/modules/cda @dev-manager-infra-all
/packages/manager/modules/cloud-connect @dev-manager-infra-all
/packages/manager/modules/dbaas-logs @dev-manager-enabler-all
/packages/manager/modules/email-domain @dev-manager-web-all
/packages/manager/modules/emailpro @dev-manager-web-all
/packages/manager/modules/exchange @dev-manager-web-all
/packages/manager/modules/freefax @dev-manager-web-all
/packages/manager/modules/hub @dev-manager-gcj-all
/packages/manager/modules/iam @dev-manager-enabler-all
/packages/manager/modules/iplb @dev-manager-infra-all
/packages/manager/modules/log-to-customer @dev-manager-enabler-all
/packages/manager/modules/manager-pci-common @dev-manager-tapc-admin
/packages/manager/modules/metrics @dev-manager-infra-all
/packages/manager/modules/nasha @dev-manager-infra-all
/packages/manager/modules/netapp @dev-manager-infra-all
/packages/manager/modules/new-billing @dev-manager-gcj-all
/packages/manager/modules/nutanix @dev-manager-hpc-all
/packages/manager/modules/octavia-load-balancer @dev-manager-tapc-all
/packages/manager/modules/office @dev-manager-web-all
/packages/manager/modules/overthebox @dev-manager-web-all
/packages/manager/modules/pci-universe-components @dev-manager-tapc-all
/packages/manager/modules/phone-prefix @dev-manager-web-all
/packages/manager/modules/product-offers @dev-manager-web-all
/packages/manager/modules/sharepoint @dev-manager-web-all
/packages/manager/modules/sign-up @dev-manager-gcj-all
/packages/manager/modules/sms @dev-manager-web-all
/packages/manager/modules/support @dev-manager-gcj-all
/packages/manager/modules/telecom-dashboard @dev-manager-web-all
/packages/manager/modules/telecom-styles @dev-manager-web-all
/packages/manager/modules/telecom-task @dev-manager-web-all
/packages/manager/modules/telecom-universe-components @dev-manager-web-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/vcd-api @dev-manager-hpc-all
/packages/manager/modules/veeam-cloud-connect @dev-manager-infra-all
/packages/manager/modules/veeam-enterprise @dev-manager-infra-all
/packages/manager/modules/vps @dev-manager-web-all
/packages/manager/modules/vrack @dev-manager-infra-all
/packages/manager/modules/web-paas @dev-manager-web-all
/packages/manager/modules/web-universe-components @dev-manager-web-all

# Tools
/packages/manager/tools @ovh/team-manager-control-tower

# Manager-components
/packages/manager-components @ovh/team-manager-control-tower

# Scripts
/scripts @ovh/team-manager-control-tower
