Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: build, container, continuous-integration, dependencies, documentation, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up, enabler, manager-react-components, common

feat(hpc-vmware-managed-vcd): add vDatacenter listing page (#12455)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentres/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/datagrid-route.type.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-datacenter.interface.ts
Labels: translation required

feat(hpc-vmware-managed-vcd): update onboarding page (#12545)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/assets/VmwareBroadcomxOVHcloud.svg
  packages/manager/apps/hpc-vmware-managed-vcd/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/onboarding-img.png
Labels: translation required

fix(hpc-vmware-managed-vcd): fix tutorial tile title
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_fr_FR.json
Labels: translation required

fix(hpc-vmware-managed-vdc): fix vite config file missing (#12027)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/error/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/hpc-vmware-managed-vcd.config.ts
  packages/manager/apps/hpc-vmware-managed-vcd/vite.config.mjs
Labels: translation required

feat(hpc-vmware-managed-vcd): add listing VCD page (#12185)
  .gitignore
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Error/Error.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Loading/Loading.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/hpc-vmware-managed-vcd.config.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/setupTests.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/tsconfig.json
  packages/manager/apps/hpc-vmware-managed-vcd/vitest.config.js
Labels: container, dependencies, translation required

feat(dedicated.hpc): add VCD guide link (#12528)
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: translation required

feat(hpc-vmware-managed-vcd): add new menu HPC VCD (#11975)
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: container, translation required

feat(hpc-vmware-managed-vcd): add datacenter dashboard (#12477)
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/region/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/region-label/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-service.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentres/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/setupTests.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization.interface.ts
Labels: dependencies, translation required

feat(hpc-vmware-managed-vcd): add VCD organization dashboard (#12304)
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/error/Error.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/error/Error.scss
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/loading/Loading.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/region-label/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/region-label/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/tile-subtitle/TileSubtitle.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/tile-subtitle/TileSubtitle.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/vcd-general-information-tile/VcdGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/vcd-options-tile/VcdOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/vcd-options-tile/VcdOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-service.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/hooks/user/useCurrentUser.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentres/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/tab2/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-billing.interface.ts
Labels: container, translation required

fix(hpc-vmware-managed-vcd): fix feedback demo
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/index.tsx
Labels: none

feat(hpc-vmware-managed-vcd): update modal usage
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDescriptionModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditNameModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/edit/EditDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/edit/EditName.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
Labels: none

feat(hpc-vmware-managed-vcd): add PR feedbacks
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDescriptionModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditOrganizationDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditName.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/formValidation.ts
Labels: translation required

feat(hpc-vmware-managed-vcd): fix modal usage
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/Modal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditName.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
Labels: none

feat(hpc-vmware-managed-vcd): add compute datagrid (#12897)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/compute/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-compute.interface.ts
Labels: translation required

feat(hpc-vmware-managed-vcd): add PR feedbacks
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdDatacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/edit/EditVdcDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/formValidation.ts
Labels: none

refactor(hpc-managed-vcd): add manager-react-components lib (#13011)
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/error/Error.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/tile-subtitle/TileSubtitle.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/tailwind.config.js
Labels: dependencies

feat(hpc-vmware-managed-vcd): add PR feedbacks
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDescriptionModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditNameModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
Labels: none

feat(hpc-vmware-managed-vcd): use manager-component clipboard
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
Labels: none

feat(hpc-vmware-managed-vcd): add data protection tile (#12943)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/loading/Loading.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization-backup.interface.ts
Labels: translation required

feat(dedicated): add new services names
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Labels: translation required

feat(hpc-vmware-managed-vcd): add options tile license (#12890)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Labels: translation required

feat(hpc-vmware-managed-vcd): add api queries (update)
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditName.page.tsx
Labels: none

feat(hpc-vmware-managed-vcd): add VDC ID on general infos
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
Labels: translation required

feat(hpc-vmware-managed-vcd): add activate license (#13006)
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useLicenseOrder.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/modules/order/src/order.constant.ts
Labels: dependencies, translation required, common

refactor(hpc-managed-vcd): remove deprecated components (#13016)
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/region-label/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/region-label/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
Labels: none

feat(hpc-vmware-managed-vcd): add datacenter quick actions
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdDatacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/edit/EditVdcDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/formValidation.ts
Labels: none

feat(hpc-vmware-managed-vcd): update onboarding page
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
Labels: translation required

feat(hpc-vmware-managed-vcd): add editModal display/validation
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDescriptionModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditNameModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/Modal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
Labels: translation required

feat(hpc-vmware-managed-vcd): fix classnames
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDescriptionModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditNameModal.tsx
Labels: none

feat(hpc-vmware-managed-vcd): add order new storage (#13235)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/compute/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/order/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/storage/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/compute/ComputeOrderCells.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/compute/ComputeOrderDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/storage/StorageOrderCells.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/QuantitySelector.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/context/ComputeOrder.context.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/context/DatacentreOrder.context.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useOrderableResource.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-vdc-orderable-resource.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/formValidation.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/getPricedOrderableResource.ts
Labels: translation required

feat(hpc-vmware-managed-vcd): update error message
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
Labels: translation required

fix(hpc-vmware-managed-vcd): update vcd queries
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Labels: none

feat(hpc-vmware-managed-vcd): order new virtual host (#13097)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/compute/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/compute/ComputeOrderCells.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/compute/ComputeOrderDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/compute/QuantitySelector.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/context/ComputeOrder.context.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-cart.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useLicenseOrder.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useOrderableResource.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdDatacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useVcdCatalog.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useVcdOrder.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-catalog.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-vdc-orderable-resource.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/formValidation.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/getPricedOrderableResource.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/planCode.constants.ts
  packages/manager/modules/order/src/order.constant.ts
Labels: translation required, common

feat(hpc-vmware-managed-vcd): remove onboarding breadcrumb
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
Labels: none

fix(hpc-vmware-managed-vcd): fix build test2
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Labels: none

feat(container): add managed VCD in PNR menu (#13196)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: container, translation required

feat(hpc-vmware-managed): improve displayed data (#13104)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
Labels: translation required

feat(hpc-vmware-managed-vcd): add storage datagrid (#13039)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/storage/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-storage.interface.ts
Labels: translation required

feat(hpc-vmware-managed-vcd): add reset password tooltip (#13153)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.spec.tsx
Labels: translation required

feat(manager-react-components): delete private package json
  packages/manager-react-components/package.json
Labels: dependencies, common

.github/labeler.yml:

build:
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
  - packages/manager/apps/octavia-load-balancer/**
  - packages/manager/apps/pci-rancher/**
  - packages/manager/apps/pci-ssh-keys/**
  - packages/manager/apps/pci-users/**
  - packages/manager/apps/pci-vouchers/**
  - packages/manager/apps/pci-gateway/**
  - packages/manager/apps/pci-private-network/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
  - packages/manager/apps/vrack-services/**
  - packages/manager/modules/bm-server-components
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
  - packages/manager/apps/zimbra/**
sign-up:
  - packages/manager/*/sign-up/**
enabler:
  - packages/manager/apps/carbon-calculator/**
  - packages/manager/apps/iam/**
  - packages/manager/apps/key-management-service/**
manager-react-components:
  - packages/manager-react-components/src/**
common:
  - packages/components/**
  - packages/manager/core/**
  - packages/manager/modules/account-migration/**
  - packages/manager/modules/advices/**
  - packages/manager/modules/at-internet-configuration/**
  - packages/manager/modules/banner/**
  - packages/manager/modules/beta-preference/**
  - packages/manager/modules/billing-components/**
  - packages/manager/modules/catalog-price/**
  - packages/manager/modules/cloud-styles/**
  - packages/manager/modules/cloud-universe-components/**
  - packages/manager/modules/core/**
  - packages/manager/modules/error-page/**
  - packages/manager/modules/exchange/**
  - packages/manager/modules/filters/**
  - packages/manager/modules/log-to-customer/**
  - packages/manager/modules/manager-components/**
  - packages/manager/modules/models/**
  - packages/manager/modules/ng-apiv2-helper/**
  - packages/manager/modules/ng-layout-helpers/**
  - packages/manager/modules/ng-ovh-order-tracking/**
  - packages/manager/modules/order/**
  - packages/manager/modules/pci-universe-components/**
  - packages/manager/modules/product-offers/**
  - packages/manager/modules/request-tagger/**
  - packages/manager/modules/sign-up/**
  - packages/manager/modules/telecom-styles/**
  - packages/manager/modules/telecom-universe-components/**
  - packages/manager/modules/trusted-nic/**
  - packages/manager/modules/web-universe-components/**
  - packages/manager/tools/**
  - packages/manager-react-components/**
  - playwright-helpers/**
  - scripts/**
