Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: container, continuous-integration, dependencies, documentation, tests, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up

Revert "fix(containers): pass multipart parameter (#7846)"
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: universe-public-cloud

fix(pci.container): create user with Object Storage role (#7928)
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/constant.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
Labels: universe-public-cloud

fix(pci-container): fix container steps issue in component (#7945)
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: universe-public-cloud

feat(react-add): add loading on dashboard tile
  packages/manager/core/app/src/components/Dashboard/DashboardTile.tsx
  packages/manager/core/app/src/components/Dashboard/DashboardTileLoading.tsx
  packages/manager/core/ovh-themes/common/components/Tile.tsx
Labels: none

feat(react-app): use tanstack query in dashboard
  packages/manager/core/app/src/api/dedicatedServer.ts
  packages/manager/core/app/src/api/nutanix.ts
  packages/manager/core/app/src/api/service.ts
  packages/manager/core/app/src/components/Dashboard/DashboardTile.tsx
  packages/manager/core/app/src/components/Dashboard/DashboardTileList.tsx
  packages/manager/core/app/src/components/Dashboard/index.ts
  packages/manager/core/app/src/pages/Dashboard.tsx
Labels: none

feat(react-app): add error management on dashboard tile
  packages/manager/core/app/package.json
  packages/manager/core/app/src/api/dedicatedServer.ts
  packages/manager/core/app/src/api/ipLoadbalancing.ts
  packages/manager/core/app/src/api/service.ts
  packages/manager/core/app/src/api/serviceInfos.ts
  packages/manager/core/app/src/api/support.ts
  packages/manager/core/app/src/api/vrack.ts
  packages/manager/core/app/src/components/Dashboard/DashboardTile.tsx
  packages/manager/core/app/src/components/Dashboard/DashboardTileError.tsx
  packages/manager/core/app/src/components/Dashboard/DashboardTileList.tsx
  packages/manager/core/app/src/components/Dashboard/index.ts
  packages/manager/core/app/src/pages/Dashboard.tsx
  packages/manager/core/app/src/public/translations/common/Messages_fr_FR.json
  yarn.lock
Labels: dependencies, translation required

fix(server-sidebar): restore private database menu
  packages/manager/modules/server-sidebar/src/web.constants.js
Labels: none

fix(server-sidebar): restore private database menu
  packages/manager/modules/server-sidebar/src/web.constants.js
Labels: none

Release: dysprosium-cod
  .sonarcloud.properties
  packages/manager/modules/server-sidebar/CHANGELOG.md
  packages/manager/modules/server-sidebar/package.json
Labels: dependencies, documentation

docs: update documentation [skip ci]
  404.html
  assets/js/15.00cf0073.js
  assets/js/15.f93647e7.js
  assets/js/16.bcdd59f4.js
  assets/js/16.c99d4ebe.js
  assets/js/17.0d2ce0ee.js
  assets/js/17.6b380501.js
  assets/js/18.03835ab9.js
  assets/js/18.b796a5f8.js
  assets/js/19.013da89c.js
  assets/js/19.f8c6619a.js
  assets/js/20.77d5ef44.js
  assets/js/20.83dbe374.js
  assets/js/app.0900877a.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/test-e2e.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Labels: none

fix(nasha): snapshot policies limit to 10
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.constants.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_fr_FR.json
Labels: translation required

fix(i18n): add missing translations [CDS 1819]
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_pt_PT.json
Labels: none

fix(pci.block-storage): display correct unit
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.controller.js
Labels: universe-public-cloud

fix(i18n): add missing translations [CDS 1820]
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/onboarding/translations/Messages_pt_PT.json
Labels: none

feat(react-app): ipmi test action
  packages/manager/core/app/src/api/dedicatedServer.ts
  packages/manager/core/app/src/api/iceberg.ts
  packages/manager/core/app/src/hooks/useDedicatedServerTasks.ts
  packages/manager/core/app/src/hooks/useIpmi.ts
  packages/manager/core/app/src/pages/Routing.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmi.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmiRestart.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmiTest.tsx
  packages/manager/core/app/src/pages/ipmi/nodeIpmi.constants.ts
  packages/manager/core/app/src/public/translations/node-ipmi/Messages_fr_FR.json
Labels: translation required

fix(storages:s3 tab): fix issue of refresh
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.routing.js
Labels: universe-public-cloud

fix(object-storage.users): avoid text overflow for mobile version
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/index.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.less
Labels: universe-public-cloud

fix(storages.containers.add): avoid overflow text in mobile version
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
Labels: universe-public-cloud

feat(react-app): ipmi sol
  packages/manager/core/app/src/api/dedicatedServer.ts
  packages/manager/core/app/src/api/me.ts
  packages/manager/core/app/src/pages/ipmi/NodeIpmi.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmiSol.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmiTest.tsx
  packages/manager/core/app/src/pages/ipmi/nodeIpmi.constants.ts
  packages/manager/core/app/src/public/translations/node-ipmi/Messages_fr_FR.json
Labels: translation required

fix(i18n): add missing translations [CDS 1821]
  packages/manager/apps/telecom/src/app/common/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_it_IT.json
  packages/manager/modules/telecom-universe-components/src/unit/humanize/translations/Messages_en_GB.json
  packages/manager/modules/telecom-universe-components/src/unit/humanize/translations/Messages_it_IT.json
Labels: none

fix(pci-containers): update text of success banner
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

fix(react-app): ipmi sol
  packages/manager/core/app/src/pages/ipmi/NodeIpmi.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmiSol.tsx
Labels: none

fix(storages.containers): update content
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

fix(i18n): add missing translations [CDS 1822]
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/onboarding/translations/Messages_de_DE.json
Labels: none

feat(pci.project): instances list page enhancements (#7312)
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.scss
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

Feat/public gateway develop (#7343)
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.html
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/assets/public-gateway.png
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.less
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: translation required, universe-public-cloud

feat: order additional ip
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ip/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/service.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: translation required, universe-public-cloud

feat(pci.public.gateways): create config for public gateways (#7193)
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
Labels: translation required, universe-public-cloud

Feat/private network develop (#7397)
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/assets/private-networks.png
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.less
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(pci.project): assign floating IP to instance (#7444)
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.component.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.controller.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.html
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.module.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.routing.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/index.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.module.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(pci.private.networks): tracking for private networks (#7502)
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: universe-public-cloud

refactor(pci.private.networks): private network list page performance (#7540)
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Labels: universe-public-cloud

feat(pci.project): gateway integration while creating Floating IP (#7506)
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/component.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/controller.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/index.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/service.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/template.html
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/gateways/index.js
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
Labels: translation required, universe-public-cloud

feat(pci.project): enhance ux for private network list page
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
Labels: universe-public-cloud

fix(pci): display no instances error message
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
Labels: universe-public-cloud

feat(pci.project): tracking for additional IPs (#7486)
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/components/terminate/terminate.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/components/terminate/terminate.html
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.html
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/terminate/terminate.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.html
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/terminate/terminate.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: translation required, universe-public-cloud

feat(pci.project): tracking enhancements for Additional IP
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(pci.private.network): tracking for private network (#7662)
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: universe-public-cloud

feat(pci.project): products in consumption view (#7701)
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing.service.js
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(pci.project): tracking improvements for additional IP
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/anthos/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
sign-up:
  - packages/manager/*/sign-up/**
