Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: continuous-integration, dependencies, documentation, tests, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub

fix(pci/ai-training): remove use of deprecated fields (#5343)
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
Labels: universe-public-cloud

feat(pci.quota): increase quota by buying credits
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.component.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.controller.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.html
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.module.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.routing.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.service.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

fix(exchange.disclaimer): not editable editor (#5264)
  packages/manager/modules/exchange/src/disclaimer/add/disclaimer-add.controller.js
  packages/manager/modules/exchange/src/disclaimer/update/disclaimer-update.controller.js
Labels: none

fix(pci/ai-training): replace deprecated field job ai training (#5332)
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
Labels: universe-public-cloud

fix(dedicated): cpanel commitment not working (#5339)
  packages/manager/modules/billing-components/src/components/commitment/commitment.constants.js
Labels: none

fix(i18n): add missing translations [CDS 1081]
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_pt_PT.json
Labels: universe-public-cloud

refactor(*): move dedicated server hardware tile to a separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/general-info-tile/index.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/technical-details/index.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.component.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.controller.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.html
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_pt_PT.json
Labels: translation required

refactor(*): move dedicated server network tile to separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/network-tile/component.js
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/index.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/bm-server-components/src/network-tile/translations/Messages_fr_FR.json
Labels: translation required

refactor(*): move dedicated server general info tile to a separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/general-info-tile/component.js
  packages/manager/modules/bm-server-components/src/general-info-tile/controller.js
  packages/manager/modules/bm-server-components/src/general-info-tile/index.js
  packages/manager/modules/bm-server-components/src/general-info-tile/template.html
  packages/manager/modules/bm-server-components/src/general-info-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/index.js
Labels: translation required

fix(i18n): add missing translations [CDS 1085]
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/resiliation/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_en_GB.json
Labels: none

fix(database.create): fix issue on config (#5327)
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Labels: universe-public-cloud

feat(pci.quota): increase quota by buying credits
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.component.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.controller.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.html
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.module.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.routing.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.service.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

fix(i18n): add missing translations [CDS 1081]
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_pt_PT.json
Labels: universe-public-cloud

Release: fluorine-toad-5
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Labels: dependencies, documentation, universe-public-cloud

fix(i18n): add missing translations [CDS 1078]
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_de_DE.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_en_GB.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_es_ES.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_fr_CA.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_fr_FR.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_it_IT.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_pl_PL.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_pt_PT.json
  packages/manager/modules/web-paas/src/web-paas.constants.js
Labels: translation required

fix(pci): add high performance object storage configuration
  packages/manager/modules/pci/src/components/project/regions-list/regions.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/objects/add/add.routing.js
Labels: translation required, universe-public-cloud

Feat/add user popup (#5217)
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/emptyUser/emptyUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/emptyUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, universe-public-cloud

feat(dashboard): update list for new options (#5227)
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, universe-public-cloud

fix(i18n): add missing translations [CDS 1086]
  packages/manager/modules/pci/src/components/project/users/translations/Messages_de_DE.json
Labels: universe-public-cloud

Feat/add user popup (#5217)
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, universe-public-cloud

feat(dashboard): update list for new options (#5227)
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, universe-public-cloud

feat(add.user): update content on add user
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

fix: remove unused translations [CDS]
  packages/manager/modules/pci/src/components/project/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/node-pool/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/translations/Messages_pt_PT.json
Labels: universe-public-cloud

fix(exchange.disclaimer): not editable editor (#5264)
  packages/manager/modules/exchange/src/disclaimer/add/disclaimer-add.controller.js
  packages/manager/modules/exchange/src/disclaimer/update/disclaimer-update.controller.js
Labels: none

fix(pci/ai-training): replace deprecated field job ai training (#5332)
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
Labels: universe-public-cloud

fix(i18n): add missing translations [CDS 1087]
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_pt_PT.json
Labels: universe-public-cloud

Release: hafnium-porpoise
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
Labels: dependencies, documentation

feat(pci.storages.databases): add processing message (#5241)
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_pt_PT.json
Labels: translation required, universe-public-cloud

fix(pci): fix project quota auto-scaling issue
  packages/manager/modules/pci/src/projects/project/quota/quota.controller.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
Labels: universe-public-cloud

feat: add dashboard
  packages/manager/apps/netapp/package.json
  packages/manager/apps/netapp/src/app.module.js
  packages/manager/apps/netapp/webpack.config.js
  packages/manager/modules/netapp/package.json
  packages/manager/modules/netapp/src/dashboard/Netapp.class.js
  packages/manager/modules/netapp/src/dashboard/component.js
  packages/manager/modules/netapp/src/dashboard/controller.js
  packages/manager/modules/netapp/src/dashboard/module.js
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/template.html
  packages/manager/modules/netapp/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/translations/Messages_pt_PT.json
Labels: dependencies, translation required

feat(region): add region service
  packages/manager/modules/manager-components/package.json
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/manager-components/src/region/constants.js
  packages/manager/modules/manager-components/src/region/index.js
  packages/manager/modules/manager-components/src/region/service.js
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: dependencies, translation required

feat: add anthos
  packages/manager/apps/anthos/.eslintrc.json
  packages/manager/apps/anthos/README.md
  packages/manager/apps/anthos/package.json
  packages/manager/apps/anthos/src/app.module.js
  packages/manager/apps/anthos/src/error/error.module.js
  packages/manager/apps/anthos/src/error/error.routing.js
  packages/manager/apps/anthos/src/error/index.js
  packages/manager/apps/anthos/src/index.html
  packages/manager/apps/anthos/src/index.js
  packages/manager/apps/anthos/webpack.config.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/anthos/README.md
  packages/manager/modules/anthos/package.json
  packages/manager/modules/anthos/src/dashboard/component.js
  packages/manager/modules/anthos/src/dashboard/controller.js
  packages/manager/modules/anthos/src/dashboard/module.js
  packages/manager/modules/anthos/src/dashboard/routing.js
  packages/manager/modules/anthos/src/dashboard/template.html
  packages/manager/modules/anthos/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/anthos/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/anthos/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/anthos/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/anthos/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/anthos/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/anthos/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/anthos/src/index.js
  packages/manager/modules/anthos/src/index.scss
  packages/manager/modules/anthos/src/module.js
  packages/manager/modules/anthos/src/onboarding/component.js
  packages/manager/modules/anthos/src/onboarding/constants.js
  packages/manager/modules/anthos/src/onboarding/controller.js
  packages/manager/modules/anthos/src/onboarding/module.js
  packages/manager/modules/anthos/src/onboarding/routing.js
  packages/manager/modules/anthos/src/onboarding/template.html
  packages/manager/modules/anthos/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/routing.js
  packages/manager/modules/anthos/src/translations/Messages_fr_FR.json
Labels: dependencies, documentation, translation required

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
  - scripts/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
  - packages/manager/*/web-paas
