Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: build, container, continuous-integration, dependencies, documentation, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up, enabler, manager-components

.github/labeler.yml:

build:
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
  - packages/manager/apps/octavia-load-balancer/**
  - packages/manager/apps/pci-rancher/**
  - packages/manager/apps/pci-ssh-keys/**
  - packages/manager/apps/pci-users/**
  - packages/manager/apps/pci-vouchers/**
  - packages/manager/apps/pci-gateway/**
  - packages/manager/apps/pci-private-network/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
  - packages/manager/apps/vrack-services/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
  - packages/manager/apps/zimbra/**
sign-up:
  - packages/manager/*/sign-up/**
enabler:
  - packages/manager/apps/carbon-calculator/**
  - packages/manager/apps/iam/**
  - packages/manager/apps/key-management-service/**
manager-components:
  - packages/manager-components/src/**

fix(pci-public-ip): instance creation URL for floating ips
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: none

fix(pci-public-ip): country tile spacing
  packages/manager/apps/pci-public-ip/src/components/input/CountryInput.component.tsx
Labels: none

fix(pci-public-ip): annoucenement banner
  packages/manager/apps/pci-public-ip/src/hooks/useAnnouncement.ts
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Labels: none

fix(pci-public-ip): price translation namespace
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/order-price/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/components/CatalogPrice.component.tsx
Labels: translation required

fix(pci-public-ip): generate order button
  packages/manager/apps/pci-public-ip/src/components/container/Step.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FailoverSteps.tsx
Labels: none

fix(pci-public-ip): onboarding discovery
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Labels: none

feat(pci-public-ip): add test for maintenance component and hook
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.tsx
  packages/manager/apps/pci-public-ip/src/api/data/cloud.ts
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/MaintenanceBanner.component.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/MaintenanceBanner.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/useMaintenance.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/useMaintenance.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.spec.tsx
Labels: manager-components

fix(pci-public-ip): ensure ip is selected
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: none

fix(pci-public-ip): floating ip summary
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: none

feat(pci-users): refactor datagrid filters in manager components
  packages/manager-components/package.json
  packages/manager-components/src/components/filters/translations/Messages_en_GB.json
  packages/manager-components/src/components/filters/translations/Messages_es_ES.json
  packages/manager-components/src/components/filters/translations/Messages_it_IT.json
  packages/manager-components/src/components/filters/translations/Messages_pl_PL.json
  packages/manager-components/src/components/filters/translations/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/package.json
Labels: dependencies, manager-components

feat(pci-public-ip): add filters for floating IPs ref: DTCORE-2013
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
Labels: none

fix(pci-public-ip): create floating ip query invalidation
  packages/manager/apps/pci-public-ip/src/api/hooks/useCreateFloatingIp.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
Labels: none

fix(pci-public-ip): onboarding redirection
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
Labels: none

fix(pci-public-ip): ip creation warning banner
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: none

fix(pci-public-ip): express order url
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/pages/order/constants.ts
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
  packages/manager/modules/order/src/order.constant.ts
Labels: dependencies

test(pci-public-ips): add unit tests for move ips
  packages/manager/apps/pci-public-ip/src/api/data/import-ip.spec.tsx
  packages/manager/apps/pci-public-ip/src/api/hooks/useImportIP.spec.tsx
Labels: none

fix(pci-public-ip): region list selector
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/components/container/Tabs.component.tsx
  packages/manager/apps/pci-public-ip/src/components/input/RegionInput.component.tsx
Labels: translation required

fix(pci-public-ip): notifications
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
Labels: none

build(pci-public-ip): bump dependencies
  packages/manager/apps/pci-public-ip/package.json
  yarn.lock
Labels: dependencies

feat(pci-public-ip): add guides ref: DTCORE-1970
  packages/manager/apps/pci-public-ip/src/i18n.ts
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Labels: none

feat(pci-public-ip): add network security action
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/NetworkSecurityAction.tsx
Labels: none

fix(pci-public-ip): floating ip order
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: none

fix(pci-public-ip): redirection guards
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingGuard.tsx
Labels: none

fix(pci-public-ip): redirect after order ip
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: none

feat(pci-public-ip): display failover ip in datagrid
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/instance.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-public-ip/src/api/utils/pagination.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: translation required

fix(pci-public-ip): ip order price
  packages/manager/apps/pci-public-ip/src/components/CatalogPrice.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: none

feat(pci-public-ip): add modal to modify an aditionnal ip instance
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/import-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useImportIP.ts
  packages/manager/apps/pci-public-ip/src/components/edit/EditInstanceModal.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditInstancePage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: translation required

fix(pci-public-ip): remove empty leading space
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
Labels: none

fix(pci-public-ip): floating ip creation
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useStore.ts
Labels: none

feat(pci-public-ip): terminate bloc ip instead of ip for additional ip ref: DTCORE-2090
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
Labels: none

fix(public-ip): fix select width on edit additional ip page(mobile view)
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
Labels: none

fix(pci-public-ip): onboarding redirection
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingGuard.tsx
Labels: none

feat(pci-public-ip): add banner discovery on listing page
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Labels: manager-components

fix(pci-public-ip): hide next button if no data on iptypes step
  packages/manager/apps/pci-public-ip/src/pages/order/steps/IpTypeStep.tsx
Labels: none

fix(pci-public-ip): fix the responsive design mobile for datagrid
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/pages/imports/Imports.page.tsx
Labels: none

feat(pci-public-ip): add filters for failover datagrid ref: DTCORE-2023
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Labels: none

feat(pci-public-ip): refactor file structure and naming
  jest.config.js
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/action-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.spec.tsx
  packages/manager-components/src/components/filters/translations/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/AdditionalIPServiceAction.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/NetworkSecurityAction.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/index.ts
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/Imports.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/MoveIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: manager-components

fix(pci-public-ip): edit instance network ip
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
Labels: none

fix(pci-public-ip): add marging the button action in all datagrid
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/Imports.page.tsx
Labels: none

fix(pci-users): onboarding text formatting
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingPage.tsx
Labels: translation required
