Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: build, container, continuous-integration, dependencies, documentation, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up, enabler, manager-components

fix(pci-public-ip): floating ip creation
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useStore.ts
Labels: none

fix(i18n): add missing translations [CDS 2998]
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/translations/Messages_pt_PT.json
Labels: universe-public-cloud

feat(public-cloud): refactor after pr comment
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
Labels: universe-public-cloud

feat(components): tabs component
  packages/manager-components/package.json
  packages/manager-components/src/components/container/Tabs.component.spec.tsx
  packages/manager-components/src/components/container/Tabs.component.tsx
  yarn.lock
Labels: dependencies, manager-components

feat(components): stepper component
  packages/manager-components/src/components/container/Step.component.spec.tsx
  packages/manager-components/src/components/container/Step.component.tsx
Labels: manager-components

fix(components): vitest
  packages/manager-components/.vitest/setup.js
  packages/manager-components/package.json
  packages/manager-components/src/components/container/Tabs.component.spec.tsx
  packages/manager-components/vitest.config.js
  yarn.lock
Labels: dependencies, manager-components

feat(components): tiles input component
  packages/manager-components/src/components/input/TileInput.component.spec.tsx
  packages/manager-components/src/components/input/TileInput.component.tsx
  packages/manager-components/vite.config.js
Labels: manager-components

feat(components): use one file for vite/vitest config
  packages/manager-components/package.json
  packages/manager-components/vite.config.js
  packages/manager-components/vite.config.ts
  packages/manager-components/vitest.config.js
Labels: dependencies

fix(components): export input & tile components
  packages/manager-components/src/components/container/index.ts
  packages/manager-components/src/components/index.ts
  packages/manager-components/src/components/input/TileInput.component.spec.tsx
  packages/manager-components/src/components/input/TileInput.component.tsx
  packages/manager-components/src/components/input/index.ts
Labels: manager-components

fix(components): ignore vite tests in jest runs
  packages/manager-components/jest.config.js
Labels: none

fix(generator): move public folder at root level
  packages/manager/core/generator/app/conditional-templates/dashboard/_layout.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/templates/public/translations/{{appName}}/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/public/translations/{{appName}}/error/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/src/hooks/useGuideUtils.tsx
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/app/templates/vite.config.mjs
  packages/manager/core/generator/utils/create-structure-helpers.js
Labels: none

feat(zimbra.dashboard): add usefull links
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/components/Breadcrumb/constants.ts
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/guides.constants.ts
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation.tsx
Labels: translation required

feat(pci.projects): init freetrial voucher for accounts with no disco
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
Labels: universe-public-cloud

feat(kms): update listing page
  packages/manager/apps/kms/src/pages/index.tsx
  packages/manager/apps/kms/src/pages/listing/index.tsx
Labels: none

feat(*): list of kms implementation ref: MANAGER-13564 Signed-off-by: Vincent BONMARCHAND <vincent.bonmarchand.ext@corp.ovh.com>
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_fr_CA.json
Labels: enabler

feat(*): add kms onboarding page ref: MANAGER-13826
  packages/manager-components/package.json
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager/apps/key-management-service/src/pages/onboarding/index.tsx
  packages/manager/apps/key-management-service/src/pages/onboarding/onboarding-img.png
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_fr_FR.json
  yarn.lock
Labels: dependencies, translation required, enabler, manager-components

feat(key-management-service): remove deprecated methods and packages ref: MANAGER-13837
  packages/manager/apps/key-management-service/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/key-management-service/src/i18n.ts
  packages/manager/apps/key-management-service/src/index.scss
  packages/manager/apps/key-management-service/src/pages/_app.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/_layout.tsx
  packages/manager/apps/key-management-service/src/shell.ts
Labels: enabler

feat(*): add create kms feature ref: MANAGER-13566
  packages/manager/apps/key-management-service/src/api/GET/apiv2/services.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/OrderConfirmation.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/RegionSelector.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/order-utils.ts
  packages/manager/apps/key-management-service/src/hooks/useOrderCatalogOKMS.ts
  packages/manager/apps/key-management-service/src/pages/create/index.tsx
  packages/manager/apps/key-management-service/src/pages/layout.tsx
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/create/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/modules/order/src/order.constant.ts
Labels: translation required, enabler

fix(key-management-service): fix PR feedback
  packages/manager/apps/key-management-service/src/hooks/useKmsGuides.ts
  packages/manager/apps/key-management-service/src/pages/onboarding/index.tsx
Labels: enabler

feat(key-management-service): add guides in header page template
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.tsx
  packages/manager/apps/key-management-service/src/hooks/useKmsGuides.ts
  packages/manager/apps/key-management-service/src/i18n.ts
  packages/manager/apps/key-management-service/src/index.tsx
  packages/manager/apps/key-management-service/src/pages/create/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/onboarding/index.tsx
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/guide/Messages_fr_FR.json
Labels: translation required, enabler

fix(key-management-service): fix i18n setup
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/App.tsx
  packages/manager/apps/key-management-service/src/i18n.ts
  packages/manager/apps/key-management-service/src/index.tsx
  packages/manager/apps/key-management-service/src/query.client.ts
  packages/manager/core/shell-client/src/initI18n.ts
Labels: dependencies, enabler

feat(zimbra): add datagrid organization
  packages/manager/apps/zimbra/public/translations/organisations/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/GET/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/api.type.ts
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/hooks/index.ts
  packages/manager/apps/zimbra/src/hooks/usePlatform.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ActionsItems.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Labels: translation required

feat(*): add kms onboarding page ref: MANAGER-13826
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
Labels: manager-components

fix(pci-public-ip): floating ip creation
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useStore.ts
Labels: none

feat(zimbra): add datagrid organization
  packages/manager/apps/zimbra/public/translations/organisations/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/GET/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/api.type.ts
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/hooks/index.ts
  packages/manager/apps/zimbra/src/hooks/usePlatform.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ActionsItems.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Labels: translation required

feat(pack): add gtr default value for migration offer
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
Labels: none

feat(2fa): pr feedback
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInput.tsx
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInputContainer.tsx
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInputErrorMessage.tsx
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInputList.tsx
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInputListItem.tsx
Labels: none

feat(vrack-services): change display name with iam display name
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/api/services/post.ts
  packages/manager/apps/vrack-services/src/api/services/put.ts
  packages/manager/apps/vrack-services/src/api/services/services-api-utils.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/vrack-services.type.ts
  packages/manager/apps/vrack-services/src/components/OperationMessages.tsx
  packages/manager/apps/vrack-services/src/components/ResiliationMessages.tsx
  packages/manager/apps/vrack-services/src/components/UpdateDisplayNameMessages.tsx
  packages/manager/apps/vrack-services/src/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.tsx
  packages/manager/apps/vrack-services/src/pages/listing/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/listing/index.tsx
  packages/manager/apps/vrack-services/src/pages/overview/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
Labels: dependencies, translation required

feat(vrack-services): fix pr comments
  packages/manager/apps/vrack-services/src/api/services/index.ts
  packages/manager/apps/vrack-services/src/api/services/services-api-utils.ts
  packages/manager/apps/vrack-services/src/components/UpdateDisplayNameMessages.tsx
  packages/manager/apps/vrack-services/src/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/listing/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/overview/index.tsx
Labels: none

feat(vrack-services): iam display name in efs
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/network-configuration/routing.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/template.html
Labels: none

feat(vrack-services): improve update name message
  packages/manager/apps/vrack-services/src/api/services/services-api-utils.ts
  packages/manager/apps/vrack-services/src/components/UpdateDisplayNameMessages.tsx
Labels: none

feat(vrack-services): fix pr comments
  packages/manager/apps/vrack-services/src/api/services/services-api-utils.ts
Labels: none

feat(pci-public-ip): add manage additional ip service action link
  packages/manager/apps/pci-public-ip/src/components/list/AdditionalIPServiceAction.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
Labels: none

feat(pci-public-ip): add announcement banner in manager-component and use it in public ip
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/index.ts
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_de_DE.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_en_GB.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_es_ES.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_fr_CA.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_fr_FR.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_it_IT.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_pl_PL.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_pt_PT.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/index.ts
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_de_DE.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_en_GB.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_es_ES.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_fr_CA.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_fr_FR.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_it_IT.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_pl_PL.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_pt_PT.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/index.ts
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/constants.ts
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Labels: dependencies, translation required, manager-components

fix(pci-users): disable add user for discovery projects
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: none

fix(pci-public-ip): order steps translation
  packages/manager/apps/pci-public-ip/src/api/hooks/useIpTypes.ts
  packages/manager/apps/pci-public-ip/src/api/types.ts
  packages/manager/apps/pci-public-ip/src/pages/order/Order.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useStore.ts
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FailoverSteps.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/IpTypeStep.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/utils/startupSteps.ts
Labels: none

fix(pci-public-ip): allow generic searches
  packages/manager-components/src/components/filters/filter-list.component.tsx
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
Labels: manager-components

fix(order): express order urls type
  packages/manager/modules/order/src/order.constant.ts
Labels: none

fix(pci-public-ip): floating ip creation
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: none

feat(pci-public-ip): display the floating-ips datagrid page
  packages/manager/apps/pci-public-ip/README.md
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/usePageTracking.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useProject.ts
  packages/manager/apps/pci-public-ip/src/components/list/Actions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/index.ts
  packages/manager/apps/pci-public-ip/src/constants.ts
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/index.ts
  packages/manager/apps/pci-public-ip/src/routes.tsx
  packages/manager/apps/pci-public-ip/vite.config.ts
  yarn.lock
Labels: dependencies, documentation, translation required

.github/labeler.yml:

build:
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
  - packages/manager/apps/octavia-load-balancer/**
  - packages/manager/apps/pci-rancher/**
  - packages/manager/apps/pci-ssh-keys/**
  - packages/manager/apps/pci-users/**
  - packages/manager/apps/pci-vouchers/**
  - packages/manager/apps/pci-gateway/**
  - packages/manager/apps/pci-private-network/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
  - packages/manager/apps/vrack-services/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
  - packages/manager/apps/zimbra/**
sign-up:
  - packages/manager/*/sign-up/**
enabler:
  - packages/manager/apps/carbon-calculator/**
  - packages/manager/apps/iam/**
  - packages/manager/apps/key-management-service/**
manager-components:
  - packages/manager-components/src/**
