Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: build, container, continuous-integration, dependencies, documentation, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up, enabler, manager-components

feat(pci-public-ip): add filters for floating IPs ref: DTCORE-2013
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
Labels: translation required

fix(pci-public-ip): fix onboarding page issues
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingGuard.tsx
Labels: none

feat(pci-public-ips): add maintenance banner
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/cloud.ts
  packages/manager/apps/pci-public-ip/src/api/data/network.ts
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useCloud.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useProject.ts
  packages/manager/apps/pci-public-ip/src/components/maintenance/MaintenanceBanner.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/useMaintenance.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Labels: translation required

feat(pci-public-ip): add terminate floating ip modal ref: DTCORE-2015
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/App.tsx
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/Actions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: translation required

feat(pci-public-ip): add the additional ip import datagrid
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/import-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useImportIP.ts
  packages/manager/apps/pci-public-ip/src/components/imports/ImportIPAction.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/ImportsPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/MoveIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/index.ts
  packages/manager/apps/pci-public-ip/src/routes.tsx
  yarn.lock
Labels: dependencies, translation required

docs(pci): add deprecation notice on additional-ips
  packages/manager/modules/pci/src/projects/project/additional-ips/index.js
Labels: universe-public-cloud

feat(pci-public-ip): add onboarding page ref: DTCORE-2091
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/onboarding.constants.ts
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: translation required

feat(pci-public-ip): add terminate modal for additional ip ref: DTCORE-2022
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/TerminateModal.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIPPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: none

feat(pci-public-ip): add tracking ref: DTCORE-1966
  packages/manager/apps/pci-public-ip/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: none

fix(pci-public-ip): order links
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/Order.page.tsx
Labels: none

fix(pci-public-ip): error message formatting
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: none

fix(pci-public-ip): fix the i18n t interpolation config
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/MoveIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: none

fix(pci-public-ip): onboarding create link
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Labels: none

feat(pci-public-ip): add tests for floatingIP editInstance page
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/components/BreadCrumbs.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.spec.tsx
  packages/manager/apps/pci-public-ip/vitest.config.js
Labels: dependencies

fix(pci-public-ip): order error banners
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: none

feat(pci-public-ip): add tests for terminate id and edit instance
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.component.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.spec.tsx
  packages/manager/apps/pci-public-ip/src/setupTests.ts
  packages/manager/apps/pci-public-ip/vitest.config.js
Labels: none

feat(pci-public-ip): add security link action for additional ip
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/NetworkSecurityAction.tsx
Labels: none

feat(pci-public-ip): add modal to modify instance of floating-ips ref: DTCORE-2011
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/gateway.ts
  packages/manager/apps/pci-public-ip/src/api/data/network.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.component.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
  packages/manager/apps/pci-public-ip/src/utils.ts
Labels: translation required

feat(pci-public-ip): add units and integration tests for floatingIP and failover
  packages/manager-components/src/components/action-banner/action-banner.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
Labels: manager-components

feat(pci-public-ip): use Translation tag instead of useTranslation ref: DTCORE-2093
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
Labels: none

fix(pci-public-ip): pagination overflow
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/Imports.page.tsx
Labels: none

fix(pci-public-ip): instance creation url
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FailoverSteps.tsx
Labels: none

fix(public-ip): fix warning banner on summary step
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: none

fix(i18n): add missing translations [CDS 51]
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pt_PT.json
Labels: universe-public-cloud

feat(2fa): add loading to home page
  packages/manager/apps/account-disable-2fa/src/components/Loading/Loading.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.tsx
Labels: none

feat(2fa): add redirection rule to pages
  packages/manager/apps/account-disable-2fa/src/api/index.ts
  packages/manager/apps/account-disable-2fa/src/constants/route-path-constants.ts
  packages/manager/apps/account-disable-2fa/src/interfaces/index.ts
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.tsx
  packages/manager/apps/account-disable-2fa/src/routes.tsx
Labels: none

feat(2fa): pr feedback add tests
  packages/manager/apps/account-disable-2fa/package.json
  packages/manager/apps/account-disable-2fa/src/data/hooks/useStatus.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.test.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.tsx
  packages/manager/apps/account-disable-2fa/vitest.config.js
Labels: dependencies

feat(2fa): sonar pr feed back (#11588)
  packages/manager/apps/account-disable-2fa/src/api/index.ts
Labels: none

feat(2fa): anoop pr feed back (#11588)
  .gitignore
  packages/manager/apps/account-disable-2fa/src/data/api/statusApi.ts
  packages/manager/apps/account-disable-2fa/src/data/hooks/useStatus.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.tsx
  packages/manager/apps/account-disable-2fa/src/types/status.type.ts
Labels: none

feat(2fa): pr feedback
  packages/manager/apps/account-disable-2fa/src/App.tsx
  packages/manager/apps/account-disable-2fa/src/components/Loading/Loading.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.test.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.tsx
  packages/manager/apps/account-disable-2fa/src/routes/home.constants.ts
  packages/manager/apps/account-disable-2fa/src/routes/routes.tsx
Labels: none

fix(i18n): change english traduction for paused streams in ldp
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
Labels: none

feat(pci-rancher): add tests
  packages/manager/apps/pci-rancher/src/_mock_/rancher-resource.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
Labels: universe-public-cloud

feat(vrack-services): remove unused code
  packages/manager/apps/vrack-services/src/components/UpdateDisplayNameMessages.tsx
Labels: none

feat(public-cloud): display volume price estimation with 3 decimals
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
Labels: universe-public-cloud

fix(dedicated): pcc ip blocks label (#11674)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_FR.json
Labels: translation required

feat(key-management-service): add guides in header page template
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/App.tsx
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.tsx
  packages/manager/apps/key-management-service/src/hooks/useKmsGuides.ts
  packages/manager/apps/key-management-service/src/index.tsx
  packages/manager/apps/key-management-service/src/pages/create/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/onboarding/index.tsx
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/guide/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/query.client.ts
  packages/manager/core/shell-client/src/initI18n.ts
Labels: dependencies, translation required, enabler, manager-components

fix(*): kms adjustments ref: MANAGER-14265
  packages/manager-components/src/components/datagrid/clipboard-cell.component.tsx
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/create/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_fr_FR.json
Labels: translation required, enabler, manager-components

test(vrack-services): fix update name tests
  packages/manager/apps/vrack-services/e2e/step-definitions/api.step.ts
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/services/services.ts
Labels: none

feat(components): tabs component
  packages/manager-components/package.json
  packages/manager-components/src/components/container/Tabs.component.spec.tsx
  packages/manager-components/src/components/container/Tabs.component.tsx
  yarn.lock
Labels: dependencies, manager-components

fix(components): vitest
  packages/manager-components/.vitest/setup.js
  packages/manager-components/package.json
  packages/manager-components/src/components/container/Tabs.component.spec.tsx
  packages/manager-components/vitest.config.js
  yarn.lock
Labels: dependencies, manager-components

.github/labeler.yml:

build:
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
  - packages/manager/apps/octavia-load-balancer/**
  - packages/manager/apps/pci-rancher/**
  - packages/manager/apps/pci-ssh-keys/**
  - packages/manager/apps/pci-users/**
  - packages/manager/apps/pci-vouchers/**
  - packages/manager/apps/pci-gateway/**
  - packages/manager/apps/pci-private-network/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
  - packages/manager/apps/vrack-services/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
  - packages/manager/apps/zimbra/**
sign-up:
  - packages/manager/*/sign-up/**
enabler:
  - packages/manager/apps/carbon-calculator/**
  - packages/manager/apps/iam/**
  - packages/manager/apps/key-management-service/**
manager-components:
  - packages/manager-components/src/**
