Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: build, container, continuous-integration, dependencies, documentation, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up, enabler, manager-react-components, common

.github/labeler.yml:

build:
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
  - packages/manager/apps/octavia-load-balancer/**
  - packages/manager/apps/pci-rancher/**
  - packages/manager/apps/pci-ssh-keys/**
  - packages/manager/apps/pci-users/**
  - packages/manager/apps/pci-vouchers/**
  - packages/manager/apps/pci-gateway/**
  - packages/manager/apps/pci-private-network/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
  - packages/manager/apps/vrack-services/**
  - packages/manager/modules/bm-server-components
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
  - packages/manager/apps/zimbra/**
sign-up:
  - packages/manager/*/sign-up/**
enabler:
  - packages/manager/apps/carbon-calculator/**
  - packages/manager/apps/iam/**
  - packages/manager/apps/key-management-service/**
manager-react-components:
  - packages/manager-react-components/src/**
common:
  - packages/components/**
  - packages/manager/core/**
  - packages/manager/modules/account-migration/**
  - packages/manager/modules/advices/**
  - packages/manager/modules/at-internet-configuration/**
  - packages/manager/modules/banner/**
  - packages/manager/modules/beta-preference/**
  - packages/manager/modules/billing-components/**
  - packages/manager/modules/catalog-price/**
  - packages/manager/modules/cloud-styles/**
  - packages/manager/modules/cloud-universe-components/**
  - packages/manager/modules/core/**
  - packages/manager/modules/error-page/**
  - packages/manager/modules/exchange/**
  - packages/manager/modules/filters/**
  - packages/manager/modules/log-to-customer/**
  - packages/manager/modules/manager-components/**
  - packages/manager/modules/models/**
  - packages/manager/modules/ng-apiv2-helper/**
  - packages/manager/modules/ng-layout-helpers/**
  - packages/manager/modules/ng-ovh-order-tracking/**
  - packages/manager/modules/order/**
  - packages/manager/modules/pci-universe-components/**
  - packages/manager/modules/product-offers/**
  - packages/manager/modules/request-tagger/**
  - packages/manager/modules/sign-up/**
  - packages/manager/modules/telecom-styles/**
  - packages/manager/modules/telecom-universe-components/**
  - packages/manager/modules/trusted-nic/**
  - packages/manager/modules/web-universe-components/**
  - packages/manager/tools/**
  - packages/manager-react-components/**
  - playwright-helpers/**
  - scripts/**

feat(hpc-vmware-managed-vcd): fix vcd dashboard refresh loader
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Labels: none

feat(hpc-vmware-managed-vcd): fix vdc refresh error
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
Labels: none

feat(hpc-vmware-managed-vcd): fix vdc breadcrumb showing vcd desc
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
Labels: none

fix(hpc-managed-vcd): fix broken external links & bump react components
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/region/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  yarn.lock
Labels: dependencies, translation required

fix(pci-private-registry): create - empty name
  packages/manager/apps/pci-private-registry/src/pages/create/steps/NameStep.tsx
Labels: none

fix(pci-load-balancer): move Logs folder to Log
  packages/manager/apps/pci-load-balancer/src/pages/detail/log/Log.page.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Labels: none

fix(pci-private-registry): create - reset form
  packages/manager/apps/pci-private-registry/src/pages/create/store.tsx
Labels: none

fix(account): fix badly named translation key
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Labels: none

fix(hpc-managed-vcd): fix broken external links & bump react components (#13276)
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/region/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  yarn.lock
Labels: dependencies, translation required

fix(pci-load-balancer): move Logs folder to Log
  packages/manager/apps/pci-load-balancer/src/pages/detail/log/Log.page.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Labels: none

fix(pci-private-registry): fix sonar duplication issues and fix registries search issue
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.spec.tsx
Labels: none

feat(manager-pci-common): refactor modal and rename banners components
  packages/manager/modules/manager-pci-common/src/components/banner/announcement-banner/PciAnnouncementBanner.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/announcement-banner/PciAnnouncementBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/discovery-banner/PciDiscoveryBanner.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/discovery-banner/PciDiscoveryBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/free-local-zones-banner/PciFreeLocalZonesBanner.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/free-local-zones-banner/PciFreeLocalZonesBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/index.ts
  packages/manager/modules/manager-pci-common/src/components/banner/trusted-zone-banner/PciTrustedZoneBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/index.ts
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/index.ts
  packages/manager/modules/manager-pci-common/src/index.ts
Labels: none

feat(pci-private-registry): ad rename modal and generic modal
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/index.ts
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_pt_PT.json
Labels: translation required

feat(pci-load-balancer): add delete page
  packages/manager/apps/pci-load-balancer/.gitignore
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/Actions.component.tsx
  packages/manager/apps/pci-load-balancer/src/pages/delete/Delete.page.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/delete/Delete.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/Listing.page.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
  packages/manager/apps/pci-load-balancer/src/setupTests.tsx
Labels: translation required

fix(pci-private-registry): fix sonar duplication issues and fix registries search issue
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.spec.tsx
Labels: none

feat(pci-private-registry): ad rename modal and generic modal
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/index.ts
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_pt_PT.json
Labels: translation required

feat(manager-pci-common): refactor modal and rename banners components
  packages/manager/modules/manager-pci-common/src/components/banner/announcement-banner/PciAnnouncementBanner.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/announcement-banner/PciAnnouncementBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/discovery-banner/PciDiscoveryBanner.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/discovery-banner/PciDiscoveryBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/free-local-zones-banner/PciFreeLocalZonesBanner.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/free-local-zones-banner/PciFreeLocalZonesBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/banner/index.ts
  packages/manager/modules/manager-pci-common/src/components/banner/trusted-zone-banner/PciTrustedZoneBanner.tsx
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/index.ts
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/index.ts
  packages/manager/modules/manager-pci-common/src/index.ts
Labels: none

feat(pci-load-balancer): add delete page
  packages/manager/apps/pci-load-balancer/.gitignore
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/delete/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/Actions.component.tsx
  packages/manager/apps/pci-load-balancer/src/pages/delete/Delete.page.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/delete/Delete.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/Listing.page.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
  packages/manager/apps/pci-load-balancer/src/setupTests.tsx
Labels: translation required

fix(pci-private-registry): create - empty name
  packages/manager/apps/pci-private-registry/src/pages/create/steps/NameStep.tsx
Labels: none

fix(pci-private-registry): create - reset form
  packages/manager/apps/pci-private-registry/src/pages/create/store.tsx
Labels: none

feat(hpc-vmware-managed-vcd): fix pen icon size
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
Labels: none
