Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: build, container, continuous-integration, dependencies, documentation, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up, enabler, manager-components

feat(components): stepper component
  packages/manager-components/src/components/container/Step.component.spec.tsx
  packages/manager-components/src/components/container/Step.component.tsx
Labels: manager-components

feat(components): tiles input component
  packages/manager-components/src/components/input/TileInput.component.spec.tsx
  packages/manager-components/src/components/input/TileInput.component.tsx
  packages/manager-components/vite.config.js
Labels: manager-components

feat(components): use one file for vite/vitest config
  packages/manager-components/package.json
  packages/manager-components/vite.config.js
  packages/manager-components/vite.config.ts
  packages/manager-components/vitest.config.js
Labels: dependencies

fix(components): ignore vite tests in jest runs
  packages/manager-components/jest.config.js
Labels: none

fix(components): export input & tile components
  packages/manager-components/src/components/container/index.ts
  packages/manager-components/src/components/index.ts
  packages/manager-components/src/components/input/TileInput.component.spec.tsx
  packages/manager-components/src/components/input/TileInput.component.tsx
  packages/manager-components/src/components/input/index.ts
Labels: manager-components

feat(dedicated.nutanix): remove public bandwidth from cluster node
  packages/manager/modules/bm-server-components/src/network-tile/component.js
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
Labels: universe-hosted-private-cloud

.github/labeler.yml:

build:
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
  - packages/manager/apps/octavia-load-balancer/**
  - packages/manager/apps/pci-rancher/**
  - packages/manager/apps/pci-ssh-keys/**
  - packages/manager/apps/pci-users/**
  - packages/manager/apps/pci-vouchers/**
  - packages/manager/apps/pci-gateway/**
  - packages/manager/apps/pci-private-network/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
  - packages/manager/apps/vrack-services/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
  - packages/manager/apps/zimbra/**
sign-up:
  - packages/manager/*/sign-up/**
enabler:
  - packages/manager/apps/carbon-calculator/**
  - packages/manager/apps/iam/**
  - packages/manager/apps/key-management-service/**
manager-components:
  - packages/manager-components/src/**
