Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: container, continuous-integration, dependencies, documentation, tests, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up

fix(vps): provide purchase order url after updating additional disk size (#6817)
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.controller.js
Labels: translation required

fix(pci-container): fix issue with submit call
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archives.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.routing.js
Labels: universe-public-cloud

fix(storages:s3 tab): fix issue of refresh (#7952)
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.routing.js
Labels: universe-public-cloud

fix(pci-container): fix issue with submit call (#7957)
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archives.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.routing.js
Labels: universe-public-cloud

fix(pci-containers): update text of success banner (#7955)
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

fix(start): avoid to launch container in container (#7935)
  scripts/start-application.js
Labels: none

feat(react-app): ipmi kvm
  packages/manager/core/app/src/api/dedicatedServer.ts
  packages/manager/core/app/src/api/me.ts
  packages/manager/core/app/src/pages/ipmi/NodeIpmi.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmiKvm.tsx
  packages/manager/core/app/src/pages/ipmi/NodeIpmiSol.tsx
  packages/manager/core/app/src/public/translations/node-ipmi/Messages_fr_FR.json
Labels: translation required

fix(object-storage): redirect to users tab if no users created
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object/emptyUser/emptyUser.routing.js
Labels: translation required, universe-public-cloud

feat(support): right names in one shot ticket
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: translation required

fix(vps): display additional disk terminate date
  packages/manager/modules/vps/src/components/terminate/terminate.html
Labels: none

feat(support): right names in one shot ticket (#7960)
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: translation required

fix(pci-project): add gateway form is blocked
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
Labels: universe-public-cloud

fix(pci-project): add gateway form is blocked (#7963)
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
Labels: universe-public-cloud

fix(dedicated): server upgrade intervention date
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.html
Labels: none

feat(react-app): wip - add form component
  packages/manager/core/app/package.json
  packages/manager/core/app/src/components/Form/Form.tsx
  packages/manager/core/app/src/components/Form/index.ts
  packages/manager/core/app/src/pages/Redeploy.tsx
  packages/manager/core/app/src/pages/Routing.tsx
  yarn.lock
Labels: dependencies

fix(pci.project): display floating ip as default page
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
Labels: universe-public-cloud

fix(pci): instance flavor edit
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: universe-public-cloud

fix(pci.project): diable Assigner une IP flottante button
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: universe-public-cloud

fix(pci.project): add gateway form blocked at last step
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
Labels: universe-public-cloud

feat(payment): sepa integration with worldline on payments page
  packages/components/ng-ovh-payment-method/src/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/method/routing.js
Labels: dependencies, translation required

fix(i18n): add missing translations [CDS 1803]
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_pl_PL.json
Labels: none

fix(i18n): add missing translations [CDS 1775]
  packages/components/ng-ovh-payment-method/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_pt_PT.json
Labels: none

fix(pci.project): diable Assigner une IP flottante button (#7967)
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: universe-public-cloud

fix(pci.project): display floating ip as default page (#7966)
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
Labels: universe-public-cloud

feat(payment): sepa integration with worldline on payments page (#7149)
  packages/components/ng-ovh-payment-method/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/payment/method/routing.js
Labels: dependencies, translation required

fix(pci.project): add gateway form blocked at last step (#7969)
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
Labels: universe-public-cloud

fix(object-storage): redirect to users tab if no users created
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object/emptyUser/emptyUser.routing.js
Labels: universe-public-cloud

fix: pr comments
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/dashboard-integrations.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.html
Labels: universe-public-cloud

fix(pci-container): fix the issue of filter
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object/addUser/addUser.routing.js
Labels: universe-public-cloud

feat(dedicated.server.dashboard): rm monitoring action menu
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Labels: translation required

feat(dedicated.server.dashboard): add setting btn
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Labels: translation required

build: add missing regions metadata
  packages/manager/apps/cloud/package.json
Labels: dependencies

build: add missing regions metadata (#7974)
  packages/manager/apps/cloud/package.json
Labels: dependencies

feat(pci.project): instane config page update
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: translation required, universe-public-cloud

fix(instance.edit): instance flavor edit (#7968)
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: universe-public-cloud

Release: dysprosium-cod-1
  .sonarcloud.properties
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Labels: dependencies, documentation, universe-public-cloud

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/anthos/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
sign-up:
  - packages/manager/*/sign-up/**
