Repository ovh/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: container, continuous-integration, dependencies, documentation, tests, translation required, universe-public-cloud, universe-hosted-private-cloud, universe-hub, sign-up

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
  - scripts/**
container:
  - packages/components/ovh-shell/**
  - packages/manager/apps/container/**
continuous-integration:
  - .github/**
dependencies:
  - ./**/package.json
  - yarn.lock
documentation:
  - docs/**
  - AUTHORS
  - ./**/*.md
  - CONTRIBUTORS
  - MAINTAINERS
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
universe-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/billing/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/netapp/**
  - packages/manager/*/order-tracking/**
  - packages/manager/*/support/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
  - packages/manager/*/anthos/**
  - packages/manager/*/nutanix/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/email-domain/**
  - packages/manager/apps/email-pro/**
  - packages/manager/modules/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
sign-up:
  - packages/manager/*/sign-up/**

feat(pci.project): products in consumption view (#7704)
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing.service.js
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(container): addition of Additional IPs and Public gateways in pnr
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: container, translation required, universe-public-cloud

feat(pci.private.network): assign public gateway to a private network (#7501)
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/controller.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/template.html
  packages/manager/modules/pci/src/components/project/stepper-defaults-selection/stepper-defaults-selection.utils.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.service.js
Labels: universe-public-cloud

feat(pci.project): tracking for private network config page (#7669)
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: universe-public-cloud

feat(pci.project): private network config page enhancements
  packages/manager/modules/pci/src/components/auto-generate-name/auto-generate-name.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/api-guide.popover.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(pci.project): tracking for private network config page (#7669)
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: universe-public-cloud

feat(pci.project): unify summary step behavior (#7758)
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.module.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/service/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/service/public-gateways.service.js
Labels: translation required, universe-public-cloud

fix(pci.project): no instance error message in Fail-over IP creation (#7771)
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(pci-project): fields editable in additional IP config page
  packages/manager/modules/pci/src/components/project/stepper-defaults-selection/stepper-defaults-selection.utils.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
Labels: universe-public-cloud

feat(pci.project): tracking improvements for add Private Network (#7806)
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: universe-public-cloud

fix(pci-project): error in gateway configuration (#7812)
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/service/public-gateways.service.js
Labels: universe-public-cloud

fix(pci.project): add, search and filter is missing (#7798)
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.less
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Labels: universe-public-cloud

feat(pci.project): add missing tracking for private network (#7814)
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: universe-public-cloud

fix(pci.project): display correct Floating IP price (#7831)
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
Labels: universe-public-cloud

fix(pci): sort regions based on micro code (#7811)
  packages/manager/modules/pci/src/components/project/regions-list/regions-list.controller.js
Labels: universe-public-cloud

fix(pci-project): display Gateway info on Private Network page (#7835)
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
Labels: universe-public-cloud

feat(pci.project): public gateway missing tracking (#7803)
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/service/public-gateways.service.js
Labels: translation required, universe-public-cloud

feat(pci.project): tracking for guide links (#7815)
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

feat(vps.additional-disk): add datagrid actions menu
  packages/manager/modules/vps/src/additional-disk/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.component.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.constants.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.controller.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.html
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.routing.js
Labels: translation required

feat(vps.additional-disk): improve additional-disk list page
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.component.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.controller.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.html
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
Labels: none

feat(vps.order-additional-disk): improve order page
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.html
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: translation required

feat(vps.additional-disk): terminate additional disk
  packages/manager/modules/vps/src/additional-disk/index.js
  packages/manager/modules/vps/src/additional-disk/terminate/index.js
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.module.js
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.routing.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/index.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/terminate.component.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/terminate.html
  packages/manager/modules/vps/src/components/additional-disk/terminate/translations/Messages_fr_FR.json
Labels: translation required

refactor(vps.dashboard): use common terminate additional disk component
  packages/manager/modules/vps/src/dashboard/additional-disk/terminate/index.js
  packages/manager/modules/vps/src/dashboard/additional-disk/terminate/terminate.routing.js
  packages/manager/modules/vps/src/dashboard/additional-disk/terminate/vps-option-terminate.constants.js
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.component.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.controller.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.html
Labels: none

feat(vps.additional-disk): upgrade additional disk
  packages/manager/modules/vps/src/additional-disk/index.js
  packages/manager/modules/vps/src/additional-disk/upgrade/index.js
  packages/manager/modules/vps/src/additional-disk/upgrade/upgrade.module.js
  packages/manager/modules/vps/src/additional-disk/upgrade/upgrade.routing.js
  packages/manager/modules/vps/src/components/additional-disk/upgrade/index.js
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.component.js
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.controller.js
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.html
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/vps/routing.js
Labels: translation required

refactor(vps.dashboard): use common upgrade additional disk component
  packages/manager/modules/vps/src/dashboard/additional-disk/upgrade/index.js
  packages/manager/modules/vps/src/dashboard/additional-disk/upgrade/upgrade.routing.js
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: translation required

fix(dashboard): update content (#6682)
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_FR.json
Labels: translation required

feat(vps.dashboard): additional disk info improvement
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: translation required

fix(vps.additional-disk.upgrade): add missed char
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_fr_FR.json
Labels: translation required

refactor(vps.dashboard): use common upgrade disks dependency
  packages/manager/modules/vps/src/additional-disk/upgrade/upgrade.routing.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.component.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.routing.js
  packages/manager/modules/vps/src/dashboard/additional-disk/upgrade/upgrade.routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Labels: none

fix(vps.additional-disk.upgrade): use right currency symbol
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.controller.js
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.html
Labels: translation required

fix(vps.additional-disk): gray order button if no options available
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.controller.js
Labels: none

fix(vps.additional-disk.upgrade): add missed char
  packages/manager/modules/vps/src/additional-disk/translations/Messages_fr_FR.json
Labels: translation required

fix(vps): replace cuc-bytes by bytes
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.html
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: none

feat(vps.additional-disk): dont allow upgrade if no options
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.html
Labels: none

feat(vps.dashboard): dont allow upgrade if no options
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: none

fix(vps): update additional-disk termination success message (#6798)
  packages/manager/modules/vps/src/components/terminate/terminate.constants.js
  packages/manager/modules/vps/src/components/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/terminate/translations/Messages_fr_FR.json
Labels: translation required

fix(dedicated): generalized terminate modal for vps dashboard actions (#6774)
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.module.js
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.routing.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/terminate.html
  packages/manager/modules/vps/src/components/terminate/index.js
  packages/manager/modules/vps/src/components/terminate/terminate.component.js
  packages/manager/modules/vps/src/components/terminate/terminate.constants.js
  packages/manager/modules/vps/src/components/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/terminate/terminate.html
  packages/manager/modules/vps/src/components/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/index.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/terminate-option.routing.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.controller.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: translation required

fix(i18n): add missing translations [CDS 1549]
  packages/manager/modules/vps/src/additional-disk/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/additional-disk/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/additional-disk/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/additional-disk/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/additional-disk/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/additional-disk/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/additional-disk/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/components/additional-disk/terminate/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/components/additional-disk/terminate/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/components/additional-disk/terminate/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/components/additional-disk/terminate/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/components/additional-disk/terminate/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/components/additional-disk/terminate/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/vps/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/vps/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/vps/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/vps/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/vps/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/vps/translations/Messages_pt_PT.json
Labels: none

feat(dedicated): tracking for vps additional disk (#6756)
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.controller.js
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.html
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.routing.js
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.routing.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.routing.js
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.controller.js
  packages/manager/modules/vps/src/components/terminate/terminate.constants.js
  packages/manager/modules/vps/src/dashboard/additional-disk/upgrade/upgrade.routing.js
Labels: none

fix(vps): disable additional disk terminate option (#7751)
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.routing.js
  packages/manager/modules/vps/src/additional-disk/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.component.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.controller.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/import/helper.service.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: translation required
