Repository ovh/manager, pull requests merged in 2018-12, with the labels that each got.

#39 style(eslintrc): trim trailing whitespace
  .eslintrc.js
Labels: enhancement

#47 refactor(freefax): remove eslint warnings
  packages/manager/freefax/src/credit/freefax-credit.controller.js
  packages/manager/freefax/src/faxConfiguration/freefax-faxConfiguration.controller.js
  packages/manager/freefax/src/notifications/freefax-notifications.controller.js
  packages/manager/freefax/src/notifications/freefax-notifications.factory.js
  packages/manager/freefax/src/voicemailConfiguration/freefax-voicemailConfiguration.controller.js
Labels: bug

#49 perf(lodash): avoid importing global lodash
  packages/manager/core/src/index.js
  packages/manager/freefax/src/credit/freefax-credit.controller.js
  packages/manager/freefax/src/notifications/freefax-notifications.controller.js
  packages/manager/freefax/src/notifications/freefax-notifications.factory.js
  packages/manager/freefax/src/voicemailConfiguration/freefax-voicemailConfiguration.controller.js
  packages/manager/overthebox/package.json
  packages/manager/overthebox/src/details/overTheBox-details.constant.js
  packages/manager/overthebox/src/details/overTheBox-details.controller.js
  packages/manager/overthebox/src/docs/overTheBox-docs.controller.js
  packages/manager/overthebox/src/order/order-overTheBox.controller.js
  packages/manager/overthebox/src/remote/overTheBox-remote.controller.js
  yarn.lock
Labels: performance

#52 fix(overthebox): add missing modify translation
  packages/manager/overthebox/src/details/overTheBox-details.html
  packages/manager/overthebox/src/details/translations/Messages_fr_FR.xml
Labels: :bug: bug, quality check: ok

#54 fix(i18n): load translations with annotations instead of import
  packages/manager/layout-ovh/src/navbar/index.js
  packages/manager/layout-ovh/src/navbar/navbar.service.js
  packages/manager/layout-ovh/src/sidebar/index.js
Labels: :bug: bug, quality check: ok

#48 fix(deps): bump ovh-angular-contracts
  packages/manager/freefax/package.json
  packages/manager/layout-ovh/package.json
  packages/manager/layout-ovh/src/index.js
  yarn.lock
Labels: :bug: bug, quality check: ok

#67 Add `*.md` files to the lint-staged configuration
  .lintstagedrc.json
Labels: :lipstick: enhancement

#69 refactor(sms): optimize lodash import
  packages/manager/sms/package.json
  packages/manager/sms/src/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/sms/src/guides/telecom-sms-guides.controller.js
  packages/manager/sms/src/options/manage/update/telecom-sms-options-manage-update.controller.js
  packages/manager/sms/src/options/recredit/telecom-sms-options-recredit.controller.js
  packages/manager/sms/src/options/recredit/update/telecom-sms-options-recredit-update.controller.js
  packages/manager/sms/src/options/response/add/telecom-sms-options-response-add.controller.js
  packages/manager/sms/src/options/response/edit/telecom-sms-options-response-edit.controller.js
  packages/manager/sms/src/options/response/remove/telecom-sms-options-response-remove.controller.js
  packages/manager/sms/src/options/response/telecom-sms-options-response.controller.js
  packages/manager/sms/src/order/telecom-sms-order.controller.js
  packages/manager/sms/src/phonebooks/contact-create/telecom-sms-phonebooks-phonebook-contact-create.controller.js
  packages/manager/sms/src/phonebooks/contact-delete/telecom-sms-phonebooks-phonebook-contact-delete.controller.js
  packages/manager/sms/src/phonebooks/contact-import/telecom-sms-phonebooks-phonebook-contact-import.controller.js
  packages/manager/sms/src/phonebooks/contact-update/telecom-sms-phonebooks-phonebook-contact-update.controller.js
  packages/manager/sms/src/phonebooks/create/telecom-sms-phonebooks-create.controller.js
  packages/manager/sms/src/phonebooks/delete/telecom-sms-phonebooks-delete.controller.js
  packages/manager/sms/src/phonebooks/telecom-sms-phonebooks.controller.js
  packages/manager/sms/src/receivers/add/telecom-sms-receivers-add.controller.js
  packages/manager/sms/src/receivers/edit/telecom-sms-receivers-edit.controller.js
  packages/manager/sms/src/receivers/read/telecom-sms-receivers-read.controller.js
  packages/manager/sms/src/receivers/telecom-sms-receivers.controller.js
  packages/manager/sms/src/senders/add/telecom-sms-senders-add.controller.js
  packages/manager/sms/src/senders/blacklisted/telecom-sms-senders-blacklisted.controller.js
  packages/manager/sms/src/senders/edit/telecom-sms-senders-edit.controller.js
  packages/manager/sms/src/senders/telecom-sms-senders.controller.js
  packages/manager/sms/src/senders/terminate/telecom-sms-senders-terminate.controller.js
  packages/manager/sms/src/sms/compose/addPhonebookContact/telecom-sms-sms-compose-addPhonebookContact.controller.js
  packages/manager/sms/src/sms/compose/addReceiversLists/telecom-sms-sms-compose-addReceiversLists.controller.js
  packages/manager/sms/src/sms/compose/telecom-sms-sms-compose.controller.js
  packages/manager/sms/src/sms/hlr/telecom-sms-sms-hlr.controller.js
  packages/manager/sms/src/sms/incoming/telecom-sms-sms-incoming.controller.js
  packages/manager/sms/src/sms/outgoing/telecom-sms-sms-outgoing.controller.js
  packages/manager/sms/src/sms/pending/telecom-sms-sms-pending.controller.js
  packages/manager/sms/src/sms/templates/edit/telecom-sms-sms-templates-edit.controller.js
  packages/manager/sms/src/sms/templates/telecom-sms-sms-templates.controller.js
  packages/manager/sms/src/telecom-sms.controller.js
  packages/manager/sms/src/users/add/telecom-sms-users-add.controller.js
  packages/manager/sms/src/users/callback/telecom-sms-users-callback.controller.js
  packages/manager/sms/src/users/change-password/telecom-sms-users-change-password.controller.js
  packages/manager/sms/src/users/limit/telecom-sms-users-limit.controller.js
  packages/manager/sms/src/users/restrict/telecom-sms-users-restrict.controller.js
  packages/manager/sms/src/users/telecom-sms-users.controller.js
  packages/manager/sms/src/users/templates/telecom-sms-users-templates.controller.js
  yarn.lock
Labels: :lipstick: enhancement

#71 refactor(sms): add lazyloading
  packages/manager/sms/src/dashboard/index.js
  packages/manager/sms/src/dashboard/telecom-sms-dashboard.component.js
  packages/manager/sms/src/dashboard/translations/Messages_fr_FR.xml
  packages/manager/sms/src/guides/index.js
  packages/manager/sms/src/guides/telecom-sms-guides.component.js
  packages/manager/sms/src/options/index.js
  packages/manager/sms/src/options/telecom-sms-options.component.js
  packages/manager/sms/src/order/index.js
  packages/manager/sms/src/order/telecom-sms-order.component.js
  packages/manager/sms/src/phonebooks/index.js
  packages/manager/sms/src/phonebooks/telecom-sms-phonebooks.component.js
  packages/manager/sms/src/receivers/index.js
  packages/manager/sms/src/receivers/telecom-sms-receivers.component.js
  packages/manager/sms/src/senders/index.js
  packages/manager/sms/src/senders/telecom-sms-senders.component.js
  packages/manager/sms/src/sms/index.js
  packages/manager/sms/src/sms/telecom-sms-sms.component.js
  packages/manager/sms/src/sms/translations/Messages_fr_FR.xml
  packages/manager/sms/src/telecom-sms.component.js
  packages/manager/sms/src/users/index.js
  packages/manager/sms/src/users/telecom-sms-users.component.js
Labels: :lipstick: enhancement

#74 fix(sms.templates): prevent long overflowing text on modal
  packages/manager/sms/src/sms/templates/remove/telecom-sms-sms-templates-remove.html
  packages/manager/sms/src/sms/templates/telecom-sms-sms-templates.controller.js
Labels: :bug: bug
