Repository ovh/manager, pull requests merged in 2019-05, with the labels that each got.

#415 fix: update containers storages
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archive/cloud-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archive/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archive/object/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archive/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archives.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: enhancement :lipstick:

#412 feat: add block storage onboarding
  packages/manager/modules/pci/src/components/project/empty/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.module.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/translations/Messages_fr_FR.json
Labels: feature :rocket:

#421 feat: redirect transition's error on error page
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/error/error.component.js
  packages/manager/modules/pci/src/error/error.html
  packages/manager/modules/pci/src/error/error.routing.js
  packages/manager/modules/pci/src/error/translations/Messages_fr_FR.json
Labels: feature :rocket:

#423 feat: add breadcrumb service
  packages/components/ng-ovh-uirouter-breadcrumb/src/index.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.controller.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.service.js
Labels: feature :rocket:

#424 fix: clean future states urls
  packages/manager/modules/pci/src/projects/new/payment/index.js
  packages/manager/modules/pci/src/projects/project/contacts/remove/index.js
  packages/manager/modules/pci/src/projects/project/instances/active-monthly-billing/index.js
  packages/manager/modules/pci/src/projects/project/instances/backup/index.js
  packages/manager/modules/pci/src/projects/project/instances/delete/index.js
  packages/manager/modules/pci/src/projects/project/instances/hard-reboot/index.js
  packages/manager/modules/pci/src/projects/project/instances/reinstall/index.js
  packages/manager/modules/pci/src/projects/project/instances/rescue/index.js
  packages/manager/modules/pci/src/projects/project/instances/resume/index.js
  packages/manager/modules/pci/src/projects/project/instances/soft-reboot/index.js
  packages/manager/modules/pci/src/projects/project/instances/unrescue/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/index.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/delete/index.js
Labels: bug :bug:

#416 feat: add instances backup help
  packages/manager/modules/pci/src/projects/project/instances/help/backup.html
  packages/manager/modules/pci/src/projects/project/instances/help/index.js
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.module.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.routing.js
Labels: feature :rocket:

#427 fix(storages): update translation
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:, quality check

#431 fix(grid): fix row issue on safari
  packages/manager/apps/public-cloud/src/index.scss
Labels: bug :bug:

#430 fix(pci.project.sidebar): update translation
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok

#436 fix(pci.project.legacy.openstack.user): replace label with oui-status
  packages/manager/modules/pci/src/projects/project/legacy/openstack/users/template.html
Labels: bug :bug:, quality check: ok

#434 fix(pci.storage.container): apply margin between clipboard and tooltip
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
Labels: bug :bug:, quality check: ok

#432 feat: add oui-file translations
  packages/manager/modules/core/src/translate/ovh-ui-angular/index.js
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_fr_FR.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_fr_FR.xml
Labels: bug :bug:, quality check: ok

#429 fix(pci.project.private.networks.vrack): update some translations
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok

#428 fix(pci.project.sidebar.project.list): display correctly refresh action
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
Labels: bug :bug:, quality check: ok

#437 fix(pci.project.sidebar): replace region label by location
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok

#438 fix(pci.project.ssh.keys): make columns searchable
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.html
Labels: bug :bug:, quality check: ok

#445 fix(apps.public.cloud.components.beta.warning): set the right logo
  packages/manager/apps/public-cloud/src/components/beta-warning/beta-warning.controller.js
  packages/manager/apps/public-cloud/src/components/beta-warning/beta-warning.html
  packages/manager/apps/public-cloud/src/components/beta-warning/beta-warning.less
  packages/manager/apps/public-cloud/src/components/beta-warning/logo-ovh.svg
Labels: bug :bug:, quality check

#433 fix(pci.project.failover.ips.imports): make columns searchable
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/imports.html
Labels: bug :bug:, quality check, quality check: ok

#448 refactor(apps.public.cloud): use a single ui router import statement
  packages/manager/apps/public-cloud/src/index.js
Labels: enhancement :lipstick:

#435 feat(storages): add object storage tooltip
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Labels: feature :rocket:, quality check: ok

#449 fix(pci.project.storages.container): add missing one time binding
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
Labels: bug :bug:

#442 feat(pci.project.storages.cloudarchive): add empty page
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archives.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/index.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/translations/Messages_fr_FR.json
Labels: feature :rocket:

#441 feat(pci.project.storage.objects): add empty page
  packages/manager/modules/pci/src/projects/project/storages/objects/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/translations/Messages_fr_FR.json
Labels: feature :rocket:

#446 feat(pci.project.failover-ips): add empty page
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
Labels: feature :rocket:

#443 feat(pci.project.storage.volume-snapshots): add empty page
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.module.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.routing.js
Labels: feature :rocket:

#439 fix(pci.project.instances): add state reload
  packages/manager/modules/pci/src/projects/project/instances/active-monthly-billing/active-monthly-billing.routing.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/instances/hard-reboot/hard-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance.class.js
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/active-monthly-billing.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/active-monthly-billing.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-volume/attach-volume.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-volume/attach-volume.html
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-volume/attach-volume.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/hard-reboot/hard-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/reboot/reboot.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/reinstall/reinstall.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/reinstall/reinstall.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/rescue.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/rescue.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/resume/resume.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/resume/resume.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/soft-reboot/soft-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/unrescue/unrescue.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/unrescue/unrescue.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/vnc.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/reinstall/reinstall.routing.js
  packages/manager/modules/pci/src/projects/project/instances/rescue/rescue.routing.js
  packages/manager/modules/pci/src/projects/project/instances/resume/resume.routing.js
  packages/manager/modules/pci/src/projects/project/instances/soft-reboot/soft-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/unrescue/unrescue.routing.js
Labels: bug :bug:, quality check

#452 refactor(components.uirouter.breadcrumb): remove ng-ovh prefix
  README.md
  packages/components/ng-ovh-uirouter-breadcrumb/CHANGELOG.md
  packages/components/ng-ovh-uirouter-breadcrumb/README.md
  packages/components/ng-ovh-uirouter-breadcrumb/src/index.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.component.js
  packages/components/ng-ovh-uirouter-breadcrumb/src/ng-ovh-uirouter-breadcrumb.controller.js
  packages/components/ng-uirouter-breadcrumb/LICENSE
  packages/components/ng-uirouter-breadcrumb/README.md
  packages/components/ng-uirouter-breadcrumb/package.json
  packages/components/ng-uirouter-breadcrumb/rollup.config.js
  packages/components/ng-uirouter-breadcrumb/src/index.js
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.component.js
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.controller.js
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.html
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.less
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.service.js
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/project/project.html
Labels: enhancement :lipstick:

#453 fix(pci): add missing ngInject related to breadcrumb component
  packages/manager/modules/pci/src/projects/project/billing/billing.routing.js
  packages/manager/modules/pci/src/projects/project/billing/estimate/estimate.routing.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.routing.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.routing.js
  packages/manager/modules/pci/src/projects/project/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/list/index.js
  packages/manager/modules/pci/src/projects/project/legacy/compute/quota/index.js
  packages/manager/modules/pci/src/projects/project/legacy/openstack/users/index.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.routing.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.routing.js
Labels: bug :bug:

#455 fix(pci.project.legacy.compute.quota): update section title
  packages/manager/modules/pci/src/projects/project/legacy/compute/quota/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check

#451 fix(i18n.adp): provide default Messages_fr_FR.json file
  packages/manager/modules/adp/src/deploy/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/list/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/list/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/activity-log/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/cluster/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/service-information/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/service/tracking-progress/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/service/tracking-progress/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/service/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/service/translations/Messages_fr_FR.json
  packages/manager/modules/adp/src/translations/Messages_en_GB.json
  packages/manager/modules/adp/src/translations/Messages_fr_FR.json
Labels: bug :bug:

#450 fix(sms.options): reset notification sender on change type
  packages/manager/modules/sms/src/options/response/edit/telecom-sms-options-response-edit.controller.js
Labels: bug :bug:, quality check: ok

#454 refactor(components.uirouter.line.progress): remove ng-ovh prefix
  README.md
  packages/components/ng-ovh-uirouter-line-progress/CHANGELOG.md
  packages/components/ng-ovh-uirouter-line-progress/README.md
  packages/components/ng-uirouter-line-progress/LICENSE
  packages/components/ng-uirouter-line-progress/README.md
  packages/components/ng-uirouter-line-progress/package.json
  packages/components/ng-uirouter-line-progress/rollup.config.js
  packages/components/ng-uirouter-line-progress/src/index.js
  packages/components/ng-uirouter-line-progress/src/ng-uirouter-line-progress.config.js
  packages/components/ng-uirouter-line-progress/src/ng-uirouter-line-progress.less
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
Labels: enhancement :lipstick:

#460 fix(i18n): the sentence to delete an instanfe has been fixed
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok

#458 fix(storages.blocks.block.volume.edit): name of volume is now optional
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.html
Labels: bug :bug:, quality check

#466 feat(pci.kubernetes): remove spinner loading and add breadcrumb
  packages/manager/modules/pci/src/projects/project/kubernetes/details/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/template.html
Labels: enhancement :lipstick:, feature :rocket:, quality check

#461 feat(project): add project deletion
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/edit.module.js
  packages/manager/modules/pci/src/projects/project/edit/remove/index.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.controller.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.html
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.module.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.routing.js
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_fr_FR.json
Labels: feature :rocket:, quality check

#459 fix(pci.private-networks.add): adapt range display to responsive
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: bug :bug:, quality check

#465 fix(pci.kubernetes): reload on success operation
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/controller.js
Labels: bug :bug:, quality check

#463 refactor(components.uirouter.layout): remove ng-ovh prefix
  README.md
  packages/components/ng-ovh-uirouter-layout/CHANGELOG.md
  packages/components/ng-ovh-uirouter-layout/README.md
  packages/components/ng-uirouter-layout/CHANGELOG.md
  packages/components/ng-uirouter-layout/LICENSE
  packages/components/ng-uirouter-layout/README.md
  packages/components/ng-uirouter-layout/package.json
  packages/components/ng-uirouter-layout/rollup.config.js
  packages/components/ng-uirouter-layout/src/index.js
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/index.js
Labels: enhancement :lipstick:

#462 fix(pci.private-networks): refactor routing
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/header/header.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/header/header.html
  packages/manager/modules/pci/src/projects/project/private-networks/header/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/header/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/list/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/list/list.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/list/list.html
  packages/manager/modules/pci/src/projects/project/private-networks/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.html
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.routing.js
Labels: bug :bug:, quality check

#474 fix(pci): restore breadcrumb
  packages/manager/modules/pci/src/projects/project/project.html
Labels: bug :bug:

#473 fix(pci.project.storage): update block price translation
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_FR.json
Labels: bug :bug:

#482 feat: add otrs module
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/otrs/index.js
Labels: enhancement :lipstick:, quality check

#481 feat(pci.onboarding): redirect onboarding to list
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.routing.js
Labels: enhancement :lipstick:

#478 fix(pci.project.instance): update quota link
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
Labels: bug :bug:

#477 fix(pci.project.instance): unset datacenter when region change
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug :bug:

#476 fix(pci.project.instance): add VNC breadcrumb
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/translations/Messages_fr_Fr.json
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/vnc.routing.js
Labels: bug :bug:

#475 fix(pci.project.instance): update instance active tab
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
Labels: bug :bug:

#472 fix(pci.project.instance): update instance status
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: bug :bug:, enhancement :lipstick:

#456 fix: fix pci responsive sidebar
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/modules/navbar/src/component.js
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/template.html
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/index.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check

#484 fix(pci.project.billing): update active header tab
  packages/manager/modules/pci/src/projects/project/billing/billing.html
Labels: bug :bug:

#485 fix(public-cloud): set moment locale
  packages/manager/apps/public-cloud/.eslintrc.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/.eslintrc.js
  packages/manager/modules/pci/src/components/project/compute/volumes/volume/factory.js
  packages/manager/modules/pci/src/projects/project/billing/estimate/estimate.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/legacy/compute/controller.js
  packages/manager/modules/pci/src/projects/project/legacy/delete/controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container-object.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug :bug:

#495 refactor(pci.project): replace $ngInit by the corresponding $onInit hook
  packages/manager/modules/pci/src/projects/project/project.controller.js
Labels: enhancement :lipstick:

#503 fix(apps.public.cloud): vectorize text part from svg file
  packages/manager/apps/public-cloud/src/feedback-icon.svg
Labels: bug :bug:

#494 build: update yarn.lock file
  yarn.lock
Labels: build

#489 fix(pci.project.billing): fix error messages on alert creation form
  packages/manager/modules/pci/src/projects/project/billing/estimate/alert/add/template.html
  packages/manager/modules/pci/src/projects/project/billing/estimate/translations/Messages_fr_FR.json
Labels: bug :bug:

#498 fix(pci.private-networks): display success messages and refresh list
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: bug :bug:, quality check

#499 fix(apps.public.cloud.theme): remove text-decoration on button
  packages/manager/apps/public-cloud/src/assets/theme/_button.less
Labels: bug :bug:, quality check

#497 fix: update resize of consumption chart
  packages/manager/modules/cloud-universe-components/src/consumption/directive.js
Labels: bug :bug:

#501 build: bump ovh-api-services to v6.16.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  yarn.lock
Labels: build

#500 fix(pci.billing.alert): replace input by oui-numeric
  packages/manager/modules/pci/src/projects/project/billing/estimate/alert/add/controller.js
  packages/manager/modules/pci/src/projects/project/billing/estimate/alert/add/template.html
Labels: bug :bug:

#496 fix(pci.projects.new): post accept contracts before creating
  packages/manager/modules/pci/src/projects/new/description/description.component.js
  packages/manager/modules/pci/src/projects/new/description/description.controller.js
  packages/manager/modules/pci/src/projects/new/new.component.js
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/new.service.js
Labels: bug :bug:

#490 Feat/quotas and regions
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/components/project/quota-region-header/header.component.js
  packages/manager/modules/pci/src/components/project/quota-region-header/header.html
  packages/manager/modules/pci/src/components/project/quota-region-header/index.js
  packages/manager/modules/pci/src/components/project/quota-region-header/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/quota/index.js
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.constants.js
  packages/manager/modules/pci/src/projects/project/quota/quota.controller.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/quota/quota.module.js
  packages/manager/modules/pci/src/projects/project/quota/quota.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.service.js
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/regions/index.js
  packages/manager/modules/pci/src/projects/project/regions/regions.component.js
  packages/manager/modules/pci/src/projects/project/regions/regions.controller.js
  packages/manager/modules/pci/src/projects/project/regions/regions.html
  packages/manager/modules/pci/src/projects/project/regions/regions.module.js
  packages/manager/modules/pci/src/projects/project/regions/regions.routing.js
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature :rocket:, quality check

#504 fix(pci.flavors-list): add frequency
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Labels: bug :bug:

#505 fix(pci.projects.new): project creation in US
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.routing.js
Labels: bug :bug:

#507 fix(pci.onboarding): add illustrations
  packages/manager/modules/pci/src/components/project/empty/empty.html
  packages/manager/modules/pci/src/projects/project/instances/onboarding/assets/instance.png
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/empty/assets/private-networks.png
  packages/manager/modules/pci/src/projects/project/private-networks/empty/empty.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/empty/empty.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/assets/blocks.png
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/assets/cloud-archives.png
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/assets/instance-backups.png
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/assets/objects.png
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/assets/snapshots.png
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.html
Labels: bug :bug:

#508 fix(pci.project.creation): display creating view state by overriding pci view
  packages/manager/modules/pci/src/projects/project/creating/creating.html
  packages/manager/modules/pci/src/projects/project/creating/creating.routing.js
  packages/manager/modules/pci/src/projects/project/creating/creating.scss
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.scss
Labels: bug :bug:

#512 fix(pci.project): avoid to submit form twice
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.html
  packages/manager/modules/pci/src/projects/project/users/add/user-add/user-add.html
  packages/manager/modules/pci/src/projects/project/users/download-openrc/download-openrc.html
  packages/manager/modules/pci/src/projects/project/users/download-rclone/download-rclone.html
  packages/manager/modules/pci/src/projects/project/users/openstack-token/openstack-token.html
Labels: bug :bug:

#513 fix(pci.empty): update empty layout
  packages/manager/modules/pci/src/components/project/empty/empty.html
Labels: bug :bug:

#517 fix(line-progress): start nprogress before transition start
  packages/components/ng-uirouter-line-progress/src/ng-uirouter-line-progress.config.js
Labels: bug :bug:

#519 fix(pci.project.instance): set default instance billing to hourly
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug :bug:

#523 build: bump ovh-api-services v6.17.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  yarn.lock
Labels: build

#516 fix(deps): upgrade ng-ovh-telecom-universe-components to v3.0.3
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  yarn.lock
Labels: bug :bug:

#528 feat: add chatbot in assistance menu
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/modules/navbar/package.json
  packages/manager/modules/navbar/src/assistance-menu/constants.js
  packages/manager/modules/navbar/src/assistance-menu/controller.js
  packages/manager/modules/navbar/src/assistance-menu/index.js
  packages/manager/modules/navbar/src/assistance-menu/translations/Messages_fr_FR.json
  yarn.lock
Labels: enhancement :lipstick:

#527 refactor: remove unused ovh-angular-responsive-page-switcher dependency
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/cloud-styles/src/cloud/less/cloud.popover.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.less
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  yarn.lock
Labels: enhancement :lipstick:

#530 fix(pci.project.instance.vnc): fix translations
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/translations/Messages_fr_FR.json
Labels: bug :bug:

#533 fix(cloud-styles): remove extra import of less file
  packages/manager/modules/cloud-styles/src/cloud.less
Labels: bug :bug:

#534 fix(pci.project.billing): replace Toast by CucCloudMessage
  packages/manager/apps/pci/index.js
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/billing/archive-storage-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/archive-storage-list/index.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/index.js
  packages/manager/modules/pci/src/components/project/billing/object-storage-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/object-storage-list/index.js
  packages/manager/modules/pci/src/components/project/billing/snapshot-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/snapshot-list/index.js
  packages/manager/modules/pci/src/components/project/billing/volume-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/volume-list/index.js
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/project/billing/billing.controller.js
  packages/manager/modules/pci/src/projects/project/billing/billing.html
Labels: bug :bug:

#545 fix(pci.project.billing): add missing ngInject
  packages/manager/modules/pci/src/projects/project/billing/billing.service.js
Labels: bug :bug:

#542 feat(pci.kubernetes): add onboarding
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/assets/kubernetes.png
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/translations/Messages_fr_FR.json
Labels: feature :rocket:

#539 refactor: remove unused ovh-jquery-ui-draggable-ng dependency
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  yarn.lock
Labels: enhancement :lipstick:

#546 refactor: remove unused ng-ovh-form-flat dependency
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/less/cloud-project-compute-infrastructure-vm.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.less
  packages/manager/modules/cloud-styles/src/cloud/project/storage/storage-add/storage-add.less
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  yarn.lock
Labels: enhancement :lipstick:

#544 fix(navbar.chatbot): enable chatbot
  packages/manager/modules/navbar/src/assistance-menu/controller.js
  packages/manager/modules/navbar/src/assistance-menu/index.js
Labels: bug :bug:

#552 fix(pci.private-networks): fix responsive display for creation
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: bug :bug:

#558 fix(pci): update layout size
  packages/manager/modules/pci/src/projects/project/project.html
Labels: bug :bug:

#570 fix(pci): update responsive layout
  packages/manager/apps/public-cloud/src/assets/theme/_button.less
  packages/manager/apps/public-cloud/src/assets/theme/_criteria.less
  packages/manager/apps/public-cloud/src/assets/theme/_stepper.less
  packages/manager/apps/public-cloud/src/assets/theme/_tabs.less
  packages/manager/apps/public-cloud/src/assets/theme/index.less
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/images-list/images-list.html
  packages/manager/modules/pci/src/components/project/regions-list/regions-list.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug :bug:

#575 fix(pci.project): display kubernetes action only for EU and CA regions
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
Labels: bug :bug:

#582 refactor: remove unused ng-ovh-doc-url dependency
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  yarn.lock
Labels: enhancement :lipstick:

#588 fix(pci.project.edit): associate label with input element
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  yarn.lock
Labels: bug :bug:

#589 fix(pci.project.ssh-keys.add): associate labels with form element
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/add.html
Labels: bug :bug:

#590 fix(pci.project.vouchers.add): associate label with input element
  packages/manager/modules/pci/src/projects/project/vouchers/add/add.html
Labels: bug :bug:

#591 fix(pci.project.block.edit.volume): associate label with input element
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.html
Labels: bug :bug:

#592 fix(pci.container.object.add): associate label with input element
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.html
Labels: bug :bug:

#595 fix(pci.instance.add): check datacenter ram quota
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug :bug:

#593 fix(pci): set datagrid pagination to default (25)
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/imports.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.html
  packages/manager/modules/pci/src/projects/projects.html
Labels: bug :bug:

#596 fix(pci.failover-ip): add link to instance
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
Labels: bug :bug:

#597 feat(pci.storages.instances-backup): create instance from a backup
  packages/manager/modules/pci/src/components/project/flavors-list/flavor.class.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.component.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/components/project/regions-list/datacenter.class.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.module.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.routing.js
Labels: feature :rocket:

#598 fix(pci.private-networks.delete): keep loading on deletion
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
Labels: bug :bug:

#594 fix(ng-uirouter-breadcrumb): disable last breadcrumb link
  packages/components/ng-uirouter-breadcrumb/src/ng-uirouter-breadcrumb.html
Labels: bug :bug:

#599 feat(pci.projects.project.creating): display images into loader
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/index.scss
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Data_ADP.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Orchestration_Ks8.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Orchestration_PrivateImageCatalogue.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_BlockStorage.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_CloudArchive.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_InstanceBackup.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_ObjectStorage.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_SnapshotVolume.png
  packages/manager/modules/pci/src/projects/project/creating/creating.constants.js
  packages/manager/modules/pci/src/projects/project/creating/creating.controller.js
  packages/manager/modules/pci/src/projects/project/creating/creating.html
  packages/manager/modules/pci/src/projects/project/creating/creating.module.js
  packages/manager/modules/pci/src/projects/project/creating/creating.scss
Labels: feature :rocket:

#617 fix(navbar): get links according to region
  packages/manager/modules/navbar/src/assistance-menu/constants.js
  packages/manager/modules/navbar/src/assistance-menu/controller.js
  packages/manager/modules/navbar/src/user-menu/constants.js
  packages/manager/modules/navbar/src/user-menu/controller.js
Labels: bug :bug:

#616 fix(pci.projects.new): fix styles
  packages/manager/apps/pci/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/new/new.scss
  packages/manager/modules/pci/src/projects/new/payment/add/add.html
  packages/manager/modules/pci/src/projects/new/payment/creditInfo/creditInfo.html
  packages/manager/modules/pci/src/projects/new/payment/credits/credits.html
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  yarn.lock
Labels: bug :bug:

#627 fix(sidebar): rework overflow / styles
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug :bug:

#626 feat(pci.sidebar): add link to legacy manager
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/.eslintrc.js
  packages/manager/modules/pci/src/projects/project/sidebar/legacy-forward/forward.constants.js
  packages/manager/modules/pci/src/projects/project/sidebar/legacy-forward/forward.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/legacy-forward/forward.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
Labels: feature :rocket:

#638 fix(pci.instance): select newly added ssh key on instance creation
  packages/manager/modules/pci/src/components/project/instance/ssh-keys/ssh-keys.controller.js
Labels: bug :bug:

#646 feat(pci.projects.new): improve responsive and add voucher details
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/new.scss
  packages/manager/modules/pci/src/projects/new/payment/payment.controller.js
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  packages/manager/modules/pci/src/projects/new/payment/payment.scss
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/creating/creating.scss
Labels: enhancement :lipstick:

#649 fix(pci.projects.new): detect redirect from hipay/paypal before redirect
  packages/manager/apps/public-cloud/src/index.controller.js
Labels: bug :bug:

#645 refactor: extends from the root eslint configuration
  packages/manager/apps/public-cloud/.eslintrc.js
  packages/manager/apps/public-cloud/.eslintrc.json
  packages/manager/modules/navbar/.eslintrc.js
  packages/manager/modules/navbar/.eslintrc.json
  packages/manager/modules/pci/.eslintrc.js
  packages/manager/modules/pci/.eslintrc.json
Labels: enhancement :lipstick:

#653 fix(server-sidebar): fix region check
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug :bug:

#660 fix(server-sidebar): update dedicated exchange config
  packages/manager/modules/server-sidebar/src/dedicated.constants.js
Labels: bug :bug:

#666 fix(server-sidebar): update dedicated manager url
  packages/manager/modules/server-sidebar/src/constants.js
Labels: bug :bug:

#668 fix(server-sidebar): update vps regions
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug :bug:

#670 fix: bad redirect to onboarding for paypal returns
  packages/manager/apps/public-cloud/src/index.controller.js
Labels: bug :bug:

#684 fix(pci.failover-ips): add redirections to dedicated ip
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
Labels: bug :bug:

#680 fix(pci.blocks.snapshot): display estimated price
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.controller.js
Labels: bug :bug:

#685 fix(pci.project.failover-ip): inject translations
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.module.js
Labels: bug :bug:

#673 refactor(pci.components.project.instance.name): remove eslint comment
  packages/manager/modules/pci/src/components/project/instance/name/constants.js
Labels: enhancement :lipstick:

#695 feat: add new translations
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_fr_FR.json
Labels: translation required

#694 fix(ng-uirouter-lin-progress): avoid nprogress on ignored transition
  packages/components/ng-uirouter-line-progress/src/ng-uirouter-line-progress.config.js
Labels: bug :bug:

#688 feat(pci): change link to legacy manager display
  packages/manager/modules/pci/src/projects/project/legacy-forward/forward.constants.js
  packages/manager/modules/pci/src/projects/project/legacy-forward/forward.controller.js
  packages/manager/modules/pci/src/projects/project/legacy-forward/forward.html
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.less
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Labels: feature :rocket:, translation required

#697 fix(pci.error): fix img max width
  packages/manager/modules/pci/src/error/error.html
Labels: bug :bug:

#701 build: upgrade ovh-api-service to v6.18.1
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: build

#703 fix: sort instance-backups list by date
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.html
Labels: enhancement :lipstick:

#702 fix(server-sidebar): add empty item if no services
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:

#705 fix(server-sidebar): update iplb state
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug :bug:

#713 fix(apps.layout-ovh): upgrade manager-navbar to v0.4.2
  packages/manager/apps/layout-ovh/package.json
  yarn.lock
Labels: bug :bug:

#714 fix(pci.instance.add): add public network when adding a network
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug :bug:

#672 refactor(apps.public.cloud.components.preload): remove eslint comment
  packages/manager/apps/public-cloud/src/components/manager-preload/index.js
Labels: enhancement :lipstick:

#389 SMS: display the STOP checkbox only when needed
  packages/manager/modules/sms/src/sms/compose/index.js
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.component.js
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.controller.js
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.html
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.routing.js
  packages/manager/modules/sms/src/sms/compose/translations/Messages_fr_FR.xml
Labels: bug :bug:, quality check: ok

#715 fix(pci.project.sidebar): enable kubernetes from CA region
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: bug :bug:, quality check: ok

#731 fix(server-sidebar): add search keys in menu item
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: enhancement :lipstick:

#724 Revert "fix(pci): enable kubernetes from CA region (#715)"
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: bug :bug:

#683 fix(apps.public.cloud): remove default location prefix
  packages/manager/apps/public-cloud/src/index.js
Labels: bug :bug:

#733 fix(server.sidebar): replace url prefix from constants
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug :bug:

#735 build: bump ovh-api-services
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: build

#739 fix(pci.storage.snapshots): sort by creation date
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.html
Labels: bug :bug:

#738 fix(pci.project.private-network): prevent inputs from overlaping
  packages/manager/modules/pci/src/index.scss
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: bug :bug:

#741 build: bump ovh-ui-kit and ovh-ui-angular
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  yarn.lock
Labels: build

#737 feat: allow to search project
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_fr_FR.json
Labels: feature :rocket:, translation required

#729 fix(pci): add missing filters
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.html
Labels: bug :bug:

#743 refactor(pci.project.sidebar): style icon instead of using button
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
Labels: enhancement :lipstick:

#747 fix: clean image when user select a distribution
  packages/manager/modules/pci/src/components/project/images-list/images-list.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: bug :bug:

#730 feat(pci.instance): add application access
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/index.scss
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.html
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/index.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: feature :rocket:, translation required

#751 fix(i18n): add missing translations
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/translations/Messages_lt_LT.json
Labels: bug :bug:

#722 feat(pci.failover-ip): add ipfo order
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/.eslintrc.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/agora/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
Labels: feature :rocket:, quality check: ok, translation required

#756 feat(oui-navbar): prevent walk-me display
  packages/manager/modules/navbar/src/controller.js
Labels: feature :rocket:

#755 fix(pci.project.instance-backup): allow submit when form is valid
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
Labels: bug :bug:

#726 fix(pci.private-network): reload states when redirecting
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/add.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/add.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.routing.js
Labels: bug :bug:

#750 fix(pci.projects.edit): refresh when project is edited
  packages/manager/modules/pci/src/projects/project/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/edit.module.js
  packages/manager/modules/pci/src/projects/project/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/edit/edit.service.js
Labels: bug :bug:

#761 fix(pci.project.kubernetes.details.nodes): remove deprecated link
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_FR.json
Labels: bug :bug:
