Repository ovh/manager, pull requests merged in 2019-06, with the labels that each got.

#745 fix(sms.sender): fix the test on regex for sender number
  packages/manager/modules/sms/src/sms/compose/telecom-sms-sms-compose.controller.js
Labels: bug :bug:, quality check: ok, universe-telecom

#790 fix(pci.components.flavors): add missing translation
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#791 fix(pci): disable breadcrumb on modals
  packages/manager/modules/pci/src/projects/project/contacts/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/imports/import/import.routing.js
  packages/manager/modules/pci/src/projects/project/instances/active-monthly-billing/active-monthly-billing.routing.js
  packages/manager/modules/pci/src/projects/project/instances/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/instances/hard-reboot/hard-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/active-monthly-billing.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/application-access/application-access.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-volume/attach-volume.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/hard-reboot/hard-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/reinstall/reinstall.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/rescue.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/resume/resume.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/soft-reboot/soft-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/unrescue/unrescue.routing.js
  packages/manager/modules/pci/src/projects/project/instances/reinstall/reinstall.routing.js
  packages/manager/modules/pci/src/projects/project/instances/rescue/rescue.routing.js
  packages/manager/modules/pci/src/projects/project/instances/resume/resume.routing.js
  packages/manager/modules/pci/src/projects/project/instances/soft-reboot/soft-reboot.routing.js
  packages/manager/modules/pci/src/projects/project/instances/unrescue/unrescue.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/edit-name.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/upgrade-policy/upgrade-policy.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/remove/remove.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/attach.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archive/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archive/object/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archive/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/vouchers/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/vouchers/credit/credit.routing.js
Labels: bug :bug:

#788 fix(pci.projects.failover-ips): allow to order ipfo from onboarding
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/translations/Messages_fr_FR.json
Labels: bug :bug:

#793 fix(pci.project.user): update onboarding component
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.routing.js
Labels: bug :bug:

#799 fix(pci.projects.quota): display button to increase quota
  packages/manager/modules/pci/src/projects/project/quota/quota.html
Labels: bug :bug:

#798 fix(projects.storages.blocks.snapshot): help popover size
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/snapshot.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/help/snapshot.less
Labels: bug :bug:, quality check: ok

#794 fix(pci.projects.instances.new): missing input in oui-field
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug :bug:, quality check: ok

#712 fix(pci.instances): avoid menu from being cropped
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: bug :bug:

#795 fix(pci.sidebar): remove unecessary aria attributes
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug :bug:

#797 build: upgrade ovh-api-services to v6.23.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  yarn.lock
Labels: build

#796 fix(pci.projects.failover-ips): display message on ipfo order
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
Labels: bug :bug:, quality check: ok

#802 fix(pci.projects.sidebar): add external icon for horizon
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug :bug:

#803 fix(pci.projects.sidebar): improve clipboard display
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug :bug:

#783 fix(pci.projects.instance): display currency according to sub not locale
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
Labels: bug :bug:

#782 fix: project creation
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/new.service.js
  packages/manager/modules/pci/src/projects/new/payment/payment.component.js
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
  packages/manager/modules/pci/src/projects/new/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/creating/creating.routing.js
Labels: bug :bug:

#810 fix(pci.project.kubernetes.details.nodes): remove beta sentence
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_FR.json
Labels: bug :bug:

#813 fix(pci.projects.onboarding): correct translation
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#814 fix(pci.components.flavors-list): allow to translate bandwidth unit
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#789 refactor(pci.project.failover-ip): use country list given by API
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:, quality check: ok

#809 fix(pci.private-network): display info depending on dhcp configuration
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_FR.json
Labels: bug :bug:

#816 refactor(pci.projects.failover-ips): remove reference to Agora
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:

#824 docs(readme): update modules list
  README.md
Labels: documentation :memo:

#822 fix(pci.projects.contacts.add): translate oui-select items
  packages/manager/modules/pci/src/projects/project/contacts/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/contacts/add/add.html
Labels: bug :bug:, quality check: ok

#825 build: bump ovh-ui-kit to v2.33.2
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  yarn.lock
Labels: build

#819 fix(pci.projects.vouchers.add): add missing form for oui-field
  packages/manager/modules/pci/src/projects/project/vouchers/add/add.html
Labels: bug :bug:, quality check: ok

#831 fix(pci.projects.instances.help): set popover size
  packages/manager/modules/pci/src/projects/project/instances/help/backup.html
  packages/manager/modules/pci/src/projects/project/instances/help/backup.less
  packages/manager/modules/pci/src/projects/project/instances/help/index.js
Labels: bug :bug:, quality check: ok

#833 fix(pci.projects.private-network): add correct label for creation
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#836 build: upgrade ovh-ui-kit to v2.33.3
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: build

#811 feat(pci.projects.storages): add scroll to file list on object addition
  packages/manager/apps/public-cloud/src/assets/theme/_file.less
  packages/manager/apps/public-cloud/src/assets/theme/index.less
Labels: enhancement :lipstick:

#838 [AUTO] Retrieve translations
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_lt_LT.json
Labels: bug :bug:

#820 Feat/enhance creating page
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/project/creating/creating.component.js
  packages/manager/modules/pci/src/projects/project/creating/creating.constants.js
  packages/manager/modules/pci/src/projects/project/creating/creating.controller.js
  packages/manager/modules/pci/src/projects/project/creating/creating.html
  packages/manager/modules/pci/src/projects/project/creating/creating.routing.js
  packages/manager/modules/pci/src/projects/project/creating/creating.scss
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/pci/src/projects/projects.routing.js
  packages/manager/modules/pci/src/projects/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:, translation required

#842 fix(pci.project.sidebar): display static menu item
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug :bug:, quality check: ok

#843 feat: allow trailing slashes in url
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/core/src/index.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/projects.controller.js
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: enhancement :lipstick:, feature :rocket:

#821 build(deps): upgrade ovh-ui-angular to v3.2.2
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/telecom-task/package.json
  yarn.lock
Labels: bug :bug:, build, quality check: ok

#846 fix: prevent onboarding to loop infinitely
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
Labels: bug :bug:

#849 build: upgrade ovh-api-services to v6.26.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: build

#845 feat(navbar): uniformize assistance request between all subs
  packages/manager/modules/navbar/package.json
  packages/manager/modules/navbar/src/assistance-menu/constants.js
  packages/manager/modules/navbar/src/assistance-menu/controller.js
  packages/manager/modules/navbar/src/assistance-menu/index.js
  packages/manager/modules/navbar/src/assistance-menu/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:, feature :rocket:

#847 docs(server.sidebar.readme): set the right badge url
  packages/manager/modules/server-sidebar/README.md
Labels: documentation :memo:

#818 fix(pci.projects.failover-ips-edit): refresh list after edit
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ip/edit/edit.routing.js
Labels: bug :bug:, quality check: ok

#852 fix(pci.projects): disable breadcrumb
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: bug :bug:

#853 feat(pci.projects.new): add payment challenge
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/src/projects/new/new.component.js
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/payment/add/add.component.js
  packages/manager/modules/pci/src/projects/new/payment/add/add.html
  packages/manager/modules/pci/src/projects/new/payment/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.component.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.constants.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.controller.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.html
  packages/manager/modules/pci/src/projects/new/payment/challenge/index.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/index.less
  packages/manager/modules/pci/src/projects/new/payment/challenge/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/payment.component.js
  packages/manager/modules/pci/src/projects/new/payment/payment.controller.js
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  packages/manager/modules/pci/src/projects/new/payment/payment.module.js
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
  yarn.lock
Labels: feature :rocket:

#854 feat(pci.new): add en_GB translations
  packages/manager/modules/pci/src/projects/new/payment/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/challenge/translations/Messages_en_GB.json
Labels: feature :rocket:

#855 New Release
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/src/projects/new/new.component.js
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/new/new.routing.js
  packages/manager/modules/pci/src/projects/new/payment/add/add.component.js
  packages/manager/modules/pci/src/projects/new/payment/add/add.html
  packages/manager/modules/pci/src/projects/new/payment/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.component.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.constants.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.controller.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.html
  packages/manager/modules/pci/src/projects/new/payment/challenge/index.js
  packages/manager/modules/pci/src/projects/new/payment/challenge/index.less
  packages/manager/modules/pci/src/projects/new/payment/challenge/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/challenge/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/payment.component.js
  packages/manager/modules/pci/src/projects/new/payment/payment.controller.js
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  packages/manager/modules/pci/src/projects/new/payment/payment.module.js
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/projects.routing.js
  packages/manager/modules/pci/src/projects/translations/Messages_es_ES.json
  yarn.lock
Labels: release :package:

#848 build: upgrade @ovh-ux/ng-ovh-otrs to v7.1.4
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  yarn.lock
Labels: build

#860 refactor(components): remove unused rollup configuration part
  packages/components/ng-uirouter-breadcrumb/rollup.config.js
  packages/components/ng-uirouter-layout/rollup.config.js
  packages/components/ng-uirouter-line-progress/rollup.config.js
Labels: enhancement :lipstick:

#861 fix(core): add missing clipboard component translations
  packages/manager/modules/core/src/translate/ovh-ui-angular/index.js
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_fr_FR.json
Labels: bug :bug:

#858 fix(apps.layout-ovh): upgrade manager-navbar to v0.6.0
  packages/manager/apps/layout-ovh/package.json
  yarn.lock
Labels: bug :bug:

#864 New release
  packages/components/ng-uirouter-breadcrumb/rollup.config.js
  packages/components/ng-uirouter-layout/rollup.config.js
  packages/components/ng-uirouter-line-progress/rollup.config.js
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/index.js
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_fr_FR.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/navbar/src/assistance-menu/translations/Messages_de_DE.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/challenge/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/creating/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/translations/Messages_pl_PL.json
  yarn.lock
Labels: release :package:

#870 fix(pci.new): prevent creation if challenge is needed
  packages/manager/modules/pci/src/projects/new/new.controller.js
Labels: bug :bug:

#871 refactor: remove otrs configuration from core
  packages/manager/apps/public-cloud/src/index.constants.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/otrs/index.js
  packages/manager/modules/navbar/src/assistance-menu/controller.js
  packages/manager/modules/telecom-styles/src/telecom.less
Labels: enhancement :lipstick:

#876 fix(public-cloud): redirect to kube cluster creation
  packages/manager/apps/public-cloud/src/index.routes.js
Labels: bug :bug:

#877 New release
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/constants.js
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/index.less
  packages/manager/modules/server-sidebar/src/order.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/server-sidebar/src/web.constants.js
  yarn.lock
Labels: release :package:

#883 fix(pci.project.user): update username label
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#889 build: update yarn.lock file by running yarn install
  yarn.lock
Labels: build

#892 fix(pci.projet.user): update error translation keys
  packages/manager/modules/pci/src/projects/project/users/download-openrc/download-openrc.controller.js
  packages/manager/modules/pci/src/projects/project/users/download-rclone/download-rclone.controller.js
Labels: bug :bug:

#893 New release
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_de_DE.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_en_ASIA.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_en_AU.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_en_CA.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_en_GB.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_en_SG.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_en_US.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_es_ES.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_fi_FI.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_it_IT.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_lt_LT.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_pl_PL.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/translations/Messages_pt_PT.json
  packages/manager/modules/navbar/src/assistance-menu/translations/Messages_es_ES.json
  packages/manager/modules/navbar/src/assistance-menu/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/instances/help/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/users/download-openrc/download-openrc.controller.js
  packages/manager/modules/pci/src/projects/project/users/download-rclone/download-rclone.controller.js
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_fr_FR.json
  yarn.lock
Labels: release :package:

#895 fix(pci.payment.challenge): avoid submit empty challenge
  packages/manager/modules/pci/src/projects/new/payment/challenge/challenge.html
Labels: bug :bug:

#899 fix(pci.project.region): name region correctly in translation
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#900 New release
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_ASIA.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_AU.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_CA.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_SG.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_US.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fi_FI.json
  packages/manager/modules/server-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_lt_LT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pt_PT.json
Labels: release :package:

#904 fix(pci): update flavors category title
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok

#906 fix: fix pci mobile sidebar
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
Labels: bug :bug:

#910 fix(pci.project.sidebar.service): display correctly item title
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
Labels: bug :bug:, quality check: ok

#914 fix(pci.project.sidebar): get horizon url in responsive mode
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug :bug:

#921 New release
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_US.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_en_ASIA.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_en_AU.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_en_CA.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_en_SG.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_en_US.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/users/translations/Messages_es_ES.json
  packages/manager/modules/server-sidebar/src/translations/Messages_es_ES.json
Labels: release :package:

#698 feat(private-registry): implement private registry
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.html
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/assets/private-registry.png
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.html
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-registry/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/update/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
  yarn.lock
Labels: feature :rocket:, quality check: ok, translation required

#924 New release
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.html
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/assets/private-registry.png
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.html
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-registry/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/credentials/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/update/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
  yarn.lock
Labels: release :package:

#905 feat(web.config): remove third level for exchange & sharepoint
  packages/manager/apps/layout-ovh/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/web.constants.js
  yarn.lock
Labels: enhancement :lipstick:, feature :rocket:

#929 build: bump @ovh-ux/manager-pci to ^0.19.0
  packages/manager/apps/pci/package.json
Labels: build

#927 Release
  packages/manager/apps/layout-ovh/package.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/web.constants.js
  yarn.lock
Labels: release :package:

#936 fix(pci): display ip address of failover ip block
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#928 build: add both homepage and bugs entries in package.json files
  packages/components/ng-uirouter-breadcrumb/package.json
  packages/components/ng-uirouter-layout/package.json
  packages/components/ng-uirouter-line-progress/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/modules/welcome/package.json
Labels: build

#935 fix(pci.storages.blocks): display unitary price instead of total
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
Labels: bug :bug:

#939 feat(navbar): add billing for US enterprise customers
  packages/manager/modules/navbar/src/user-menu/constants.js
  packages/manager/modules/navbar/src/user-menu/controller.js
Labels: feature :rocket:

#938 docs(telecom.dashboard): set to the right module path for badges
  packages/manager/modules/telecom-dashboard/README.md
Labels: documentation :memo:

#897 fix(pci.instances): add hard reboot action for shutoff instances
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok, translation required

#878 fix(pci.projects.storage): check if backup is installed before deletion
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.service.js
Labels: bug :bug:, quality check: ok, translation required

#943 fix(server-sidebar): add children if no services
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug :bug:

#941 New release
  packages/components/ng-uirouter-breadcrumb/package.json
  packages/components/ng-uirouter-layout/package.json
  packages/components/ng-uirouter-line-progress/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/config/README.md
  packages/manager/modules/config/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/regions/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.service.js
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/README.md
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/modules/welcome/package.json
Labels: release :package:

#947 build(deps): upgrade ovh-api-service to v6.31.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: build

#948 build(deps): upgrade ovh-api-services to v6.32.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: build

#949 fix(navbar): fix enterprise detection
  packages/manager/modules/navbar/src/service.js
Labels: bug :bug:

#952 fix(pci): provide transparency to some png files
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Data_ADP.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Orchestration_Ks8.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Orchestration_PrivateImageCatalogue.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_BlockStorage.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_CloudArchive.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_InstanceBackup.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_ObjectStorage.png
  packages/manager/modules/pci/src/projects/project/creating/assets/Hero16-9_Stockage_SnapshotVolume.png
  packages/manager/modules/pci/src/projects/project/instances/onboarding/assets/instance.png
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/assets/kubernetes.png
  packages/manager/modules/pci/src/projects/project/private-networks/empty/assets/private-networks.png
  packages/manager/modules/pci/src/projects/project/private-registry/assets/private-registry.png
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/assets/blocks.png
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/assets/cloud-archives.png
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/assets/instance-backups.png
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/assets/objects.png
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/assets/snapshots.png
Labels: bug :bug:

#954 fix(pci.project.onboarding): replace deprecated illustration
  packages/manager/modules/pci/src/projects/onboarding/onboarding.png
Labels: bug :bug:

#946 feat(sign-up): add translations
  packages/manager/apps/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/identity/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
Labels: translation required

#965 fix(server-sidebar): add email domain delegated account
  packages/manager/modules/server-sidebar/src/web.constants.js
Labels: bug :bug:

#915 refactor: use same pci sidebar for mobile and desktop
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/_sidebar.less
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/navbar.config.js
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.service.js
Labels: enhancement :lipstick:, quality check: ok

#903 feat(pci.instance): display reverse DNS information
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: feature :rocket:, quality check: ok, translation required
