Repository ovh/manager, pull requests merged in 2019-08, with the labels that each got.

#1143 fix(emailpro.account): display modal to add account (#232)
  packages/manager/modules/emailpro/src/account/emailpro-account.controller.js
Labels: bug :bug:

#1129 fix(users): avoid scroll roles matrix
  packages/manager/modules/pci/src/projects/project/users/roles-matrix/roles-matrix.less
Labels: bug :bug:, quality check: ok

#1147 fix(pci.project.workflow.add): update translation
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_fr_FR.json
Labels: bug :bug:

#1154 build(scripts): replace rimraf by lerna clean command
  package.json
Labels: build

#1155 fix(core): remove extra nl_NL language from constant file
  packages/manager/modules/core/src/manager-core.constants.js
Labels: bug :bug:

#1105 fix(kubernetes): revamp update operation
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/versions-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/versions-list/versions-list.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/versions-list/versions-list.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
Labels: feature :rocket:, quality check: ok, translation required

#1157 fix(pci.project.kubernetes): send right params for legacy check call
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.routing.js
Labels: bug :bug:, quality check: ok

#1153 build(emailpro): add missing peer dependencies
  packages/manager/modules/emailpro/package.json
Labels: build

#1152 build(office): add missing peer dependencies
  packages/manager/modules/office/package.json
Labels: build

#1151 build(exchange): add missing peer dependencies
  packages/manager/modules/exchange/package.json
Labels: build

#470 feat(kubernetes): switch to monthly billing
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/billing-type.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/billing-type/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/nodes.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/nodes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service.js
Labels: feature :rocket:, quality check: ok, translation required

#1130 feat(translation): missing translation
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok, translation required

#1133 fix(components-flavors-list): available regions
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Labels: bug :bug:, quality check: ok

#1135 Fix/403 readony users mbp 529
  packages/manager/modules/pci/src/projects/project/kubernetes/details/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/details.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/delete/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/upgrade-policy/upgrade-policy.controller.js
Labels: bug :bug:, quality check: ok, translation required

#1165 fix(theme): navbar overlap
  packages/manager/apps/public-cloud/src/assets/theme/_navbar.less
Labels: bug :bug:, quality check: ok

#1166 fix(server-sidebar): redirect nasha to cloud manager
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug :bug:

#1172 build(web): update dependencies
  packages/manager/apps/web/package.json
  yarn.lock
Labels: build

#1173 fix(pci): rename users & roles sidebar entry
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: bug :bug:

#1174 style: remove non-breaking space
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.html
Labels: enhancement :lipstick:

#1176 fix(sms.order): display correctly the quantity field
  packages/manager/modules/sms/src/order/telecom-sms-order-service.html
Labels: bug :bug:

#1181 build: bump ovh-api-services to version 8.3.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: build

#1179 fix(pci.components.flavor): allow to specify image type
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Labels: bug :bug:, quality check: ok

#1188 New release
  packages/manager/modules/pci/package.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Labels: release :package:

#1191 fix(pci.projects.kube): disable all actions
  packages/manager/apps/public-cloud/src/assets/theme/_tile.less
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
Labels: bug :bug:

#1193 build(apps.web): upgrade server-sidebar to v0.5.0
  packages/manager/apps/web/package.json
Labels: build

#1187 feat(webpack-config): add javascriptEnabled less-loader option
  packages/manager/tools/webpack-config/src/webpack.common.ts
Labels: feature :rocket:

#1156 feat(apps.public.cloud): manage both feedback's url for FR and EN
  packages/manager/apps/public-cloud/.eslintrc.json
  packages/manager/apps/public-cloud/src/feedback-icon.svg
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/webpack.config.js
  packages/manager/modules/pci/.eslintrc.json
  packages/manager/modules/pci/src/projects/project/legacy-forward/forward.controller.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.less
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Labels: feature :rocket:, quality check: ok, translation required

#1186 build: avoid duplicating dependencies
  packages/components/ng-ui-router-layout/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/client/app/index.js
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/emailpro/src/account/emailpro-account.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/emailpro.service.js
  packages/manager/modules/emailpro/src/external-contact/emailpro-external-contact.service.js
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/office/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/request-tagger/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-dev-server/package.json
  yarn.lock
Labels: build

#1198 fix(pci.project.edit): display check if project is default one
  packages/manager/modules/pci/src/projects/project/edit/edit.controller.js
Labels: bug :bug:, quality check: ok

#1170 fix(pci.project.kubernetes.details.service): adjust popover placement
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
Labels: bug :bug:, quality check: ok

#1196 docs(webpack-config): update readme with lessJavascriptEnabled option
  packages/manager/tools/webpack-config/README.md
Labels: documentation :memo:

#1207 test(remark): exclude CHANGELOG.md file from lint-staged configuration
  .lintstagedrc.json
Labels: tests

#1205 build(webpack): get access to the region environment variable
  packages/manager/apps/pci/webpack.config.js
  packages/manager/apps/vrack/webpack.config.js
Labels: build

#1169 fix(web): git subtree pull @ovh-ux/manager/web
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/css/source.less
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/package.json
Labels: bug :bug:

#1210 build: remove pci rollup config
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/README.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/rollup.config.js
Labels: build

#1216 build(deps): upgrade ovh-ui-angular to v3.7.3
  packages/manager/apps/freefax/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/office/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/telecom-task/package.json
  yarn.lock
Labels: build

#1217 docs: remove CODE_OF_CONDUCT.md file.
  .github/CODE_OF_CONDUCT.md
Labels: documentation :memo:

#1220 test(lint): add package.json files to the lint-staged configuration
  .lintstagedrc.json
Labels: tests

#1219 docs: set the right badge url
  packages/manager/tools/webpack-config/README.md
  packages/manager/tools/webpack-dev-server/README.md
Labels: documentation :memo:

#1197 feat: manage incomplete nic
  packages/manager/apps/freefax/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/navbar/package.json
  yarn.lock
Labels: feature :rocket:

#1229 New release
  packages/manager/apps/freefax/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/exchange/src/billing/account-renew/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/billing/account-renew/translations/Messages_fr_CA.json
  packages/manager/modules/navbar/package.json
  yarn.lock
Labels: release :package:

#1233 build(deps): upgrade ng-ovh-sso-auth to v4.2.1
  packages/manager/apps/freefax/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/navbar/package.json
  yarn.lock
Labels: build

#1213 feat(pci.projects.kube): prevent banner display on version update
  packages/manager/modules/pci/src/projects/project/kubernetes/Kubernetes.class.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/details.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
Labels: feature :rocket:, quality check: ok

#1236 build: bump ovh-ui-angular to ^v3.7.4
  packages/manager/apps/freefax/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: build

#1237 refactor(sign-up): improve how the language change is detected
  packages/manager/apps/sign-up/src/index.js
Labels: refactor

#1238 feat(tools.webpack.dev.server.config): add port option to env object
  packages/manager/tools/webpack-dev-server/README.md
  packages/manager/tools/webpack-dev-server/src/config.ts
Labels: feature :rocket:

#1245 build: bump ovh-ui-angular to ^v3.7.4 (#1236)
  packages/manager/apps/freefax/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: bug :bug:, build

#1248 fix: translations are now correctly imported
  packages/manager/tools/component-rollup-config/src/plugins/translation-xml.ts
Labels: bug :bug:

#1254 fix(telecom): fix line diagnostics
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/webpack.config.js
  yarn.lock
Labels: bug :bug:

#1255 fix: remove use of lodash bind
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/convertToLine/telecom-telephony-alias-administration-convert-to-line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/forward/telecom-telephony-line-calls-forward.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/offerChange/telecom-telephony-line-management-offer-change.controller.js
  packages/manager/apps/web/client/app/email-domain/email/account/create/email-domain-email-account-create.controller.js
  packages/manager/apps/web/client/app/private-database/order/sql-database-order-controller.js
  packages/manager/modules/emailpro/src/disclaimer/add/emailpro-disclaimer-add.controller.js
Labels: bug :bug:
