Repository ovh/manager, pull requests merged in 2019-03, with the labels that each got.

#237 fix(cloud-universe-components): udpate doing message
  packages/manager/modules/cloud-universe-components/src/helper/service/service.js
  packages/manager/modules/cloud-universe-components/src/helper/translations/Messages_fr_FR.json
Labels: bug :bug:, quality check: ok

#238 fix(cloud-styles): fully import bootstrap 3
  packages/manager/modules/cloud-styles/src/cloud.less
Labels: bug :bug:

#250 build(manager.apps.pci): remove yarn-error.log
  packages/manager/apps/pci/yarn-error.log
Labels: enhancement :lipstick:

#252 build(deps): upgrade dependencies
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/layout-ovh/src/index.js
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/freefax/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  yarn.lock
Labels: enhancement :lipstick:

#261 fix(manager-core): add missing peerDeps ngOvhSwimmingPoll
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  yarn.lock
Labels: bug :bug:

#248 docs(telecom-dashboard.readme): add missing badges
  packages/manager/modules/telecom-dashboard/README.md
Labels: documentation :memo:

#249 docs: harmonize usage parts from all readme files
  packages/manager/modules/core/README.md
  packages/manager/modules/freefax/README.md
  packages/manager/modules/overthebox/README.md
  packages/manager/modules/sms/README.md
  packages/manager/modules/telecom-dashboard/README.md
  packages/manager/modules/telecom-task/README.md
  packages/manager/modules/welcome/README.md
Labels: documentation :memo:

#247 docs(develop): add develop.md file
  DEVELOP.md
  README.md
  media/split-module-1.png
  media/split-module-2.png
Labels: documentation :memo:

#265 build(deps): upgrade ng-at-internet to v4.0.0
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/layout-ovh/src/index.js
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/order/telecom-sms-order.component.js
  packages/manager/modules/sms/src/sms/telecom-sms-sms.component.js
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-dashboard/src/index.js
  yarn.lock
Labels: enhancement :lipstick:

#266 docs(cloud-universe-components.readme): fix badges and contributing url
  packages/manager/modules/cloud-universe-components/README.md
Labels: documentation :memo:

#251 Fix rems in cloud styles
  packages/manager/modules/cloud-styles/.prerelease
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-styles/src/cloud.less
  packages/manager/modules/cloud-styles/src/cloud/project/billing/rights/cloud-project-billing-rights.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetworks.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog-menu-item.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog-region.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less
  packages/manager/modules/cloud-styles/src/cloud/project/compute/regions/regions.less
  packages/manager/modules/cloud-styles/src/cloud/project/onboarding/onboarding-pci.less
  packages/manager/modules/cloud-styles/src/cloud/project/storage/storage-add/storage-add.less
  packages/manager/modules/cloud-styles/src/cloud/project/storage/storage.less
  packages/manager/modules/cloud-styles/src/common/common.less
  packages/manager/modules/cloud-styles/src/common/less/navbar.less
  packages/manager/modules/cloud-styles/src/dbaas/dbaas-metrics/platform/metrics-platform.less
  packages/manager/modules/cloud-styles/src/dbaas/dbaas-metrics/token/add/metrics-token-add.less
  packages/manager/modules/cloud-styles/src/dbaas/dbaas-metrics/token/metrics-token.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/account/password/logs-account-password.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/inputs/add/logs-inputs-add.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/inputs/add/networks/logs-inputs-add-networks.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/logs-detail.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/offer/logs-offer.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/roles/logs-roles.less
  packages/manager/modules/cloud-styles/src/dbaas/logs/detail/streams/archives/streams-archives.less
  packages/manager/modules/cloud-styles/src/deskaas/deskaas-details/deskaas-details.less
  packages/manager/modules/cloud-styles/src/deskaas/deskaas-upgrade/deskaas-upgrade.less
  packages/manager/modules/cloud-styles/src/iplb/home/home.less
  packages/manager/modules/cloud-styles/src/iplb/home/status-card.less
  packages/manager/modules/cloud-styles/src/nasha/partition/nasha-partition.less
  packages/manager/modules/cloud-styles/src/oui-less-override.less
  packages/manager/modules/cloud-styles/src/ui-components/accordion/accordion.less
  packages/manager/modules/cloud-styles/src/ui-components/advanced-options/advanced-options.less
  packages/manager/modules/cloud-styles/src/ui-components/dual-list/dual-list.less
  packages/manager/modules/cloud-styles/src/ui-components/form/form.less
  packages/manager/modules/cloud-styles/src/ui-components/grid/grid.less
  packages/manager/modules/cloud-styles/src/ui-components/inline-adder/inline-adder.less
  packages/manager/modules/cloud-styles/src/ui-components/modal/modal.less
  packages/manager/modules/cloud-styles/src/ui-components/panel/panel.less
  packages/manager/modules/cloud-styles/src/ui-components/preview-list/_variables.less
  packages/manager/modules/cloud-styles/src/ui-components/preview-list/preview-list.less
  packages/manager/modules/cloud-styles/src/ui-components/table/_mixins.less
  packages/manager/modules/cloud-styles/src/ui-components/table/_variables.less
  packages/manager/modules/cloud-styles/src/veeam/veeam.less
  packages/manager/modules/cloud-styles/src/vps/dashboard/vps-tile-status.less
  packages/manager/modules/cloud-styles/src/vps/vps.less
  packages/manager/modules/cloud-styles/src/vrack/vrack-mapper.less
  packages/manager/modules/cloud-styles/src/vrack/vrack.less
  packages/manager/modules/cloud-universe-components/.prerelease
  packages/manager/modules/cloud-universe-components/src/cui/guide-component/index.less
  packages/manager/modules/cloud-universe-components/src/cui/page/index.less
  packages/manager/modules/cloud-universe-components/src/space-meter/index.less
  packages/manager/modules/cloud-universe-components/src/space-meter/legend/index.less
  packages/manager/modules/cloud-universe-components/src/space-meter/progress.less
  packages/manager/modules/cloud-universe-components/src/space-meter/space-left/index.less
Labels: bug :bug:, quality check

#273 fix vrack module / cloud styles
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/CHANGELOG.md
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-styles/src/cloud.less
  packages/manager/modules/cloud-styles/src/vrack/add/vrack-add.less
  packages/manager/modules/cloud-styles/src/vrack/vrack-mapper.less
  packages/manager/modules/cloud-styles/src/vrack/vrack.less
  packages/manager/modules/cloud-universe-components/CHANGELOG.md
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/add/vrack-add.less
  packages/manager/modules/vrack/src/vrack-mapper.less
  packages/manager/modules/vrack/src/vrack.less
  yarn.lock
Labels: bug :bug:

#281 build: add repository field to each package.json with its directory
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/welcome/package.json
Labels: enhancement :lipstick:

#272 build(update-readme): update README.md packages list dynamically
  README.md
  package.json
  scripts/update-readme
  yarn.lock
Labels: build

#282 build(scripts.update-readme): apply eslint rules
  scripts/update-readme
Labels: build

#288 build(pci): update @ovh-ux/ng-ovh-jsplumb
  packages/manager/apps/pci/package.json
  packages/manager/modules/pci/package.json
  yarn.lock
Labels: bug :bug:

#289 build(pci): bump @ovh-ux/ng-ovh-cloud-universe-components
  packages/manager/apps/pci/package.json
  packages/manager/modules/pci/package.json
  yarn.lock
Labels: bug :bug:

#299 fix(pci): add missing translations
  packages/manager/modules/pci/src/components/project/billing/outgoing-trafic/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/offer/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/billing/rights/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/billing/vouchers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/infrastructure/diagram/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/infrastructure/list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/infrastructure/privateNetwork/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/loadbalancer/configure/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/loadbalancer/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/quota/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/snapshot/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/openstack/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/storage/details/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/storage/translations/Messages_fr_FR.json
Labels: bug :bug:

#310 build(*): normalize angular version to ^1.7.5
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  yarn.lock
Labels: bug :bug:

#311 fix(pci): add mising translations
  packages/manager/modules/pci/src/components/runabove/promise-task-state/index.js
  packages/manager/modules/pci/src/components/runabove/promise-task-state/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/infrastructure/diagram/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/openstack/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/project/storage/translations/Messages_fr_FR.json
Labels: bug :bug:

#312 build(pci): add missing ovh-angular-responsive-page-swticher
  packages/manager/apps/pci/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  yarn.lock
Labels: bug :bug:

#315 fix(pci): add cloud-legacy class to body
  packages/manager/apps/pci/index.html
Labels: bug :bug:

#316 docs(cloud-styles): add README
  packages/manager/modules/cloud-styles/README.md
Labels: documentation :memo:

#313 feat(cloud-univer-components): add services and filter
  packages/manager/modules/cloud-universe-components/src/bytes/filter.js
  packages/manager/modules/cloud-universe-components/src/bytes/index.js
  packages/manager/modules/cloud-universe-components/src/bytes/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-universe-components/src/flavor/constants.js
  packages/manager/modules/cloud-universe-components/src/flavor/index.js
  packages/manager/modules/cloud-universe-components/src/flavor/service.js
  packages/manager/modules/cloud-universe-components/src/index.js
  packages/manager/modules/cloud-universe-components/src/price/index.js
  packages/manager/modules/cloud-universe-components/src/price/service.js
Labels: enhancement :lipstick:

#330 fix(kubernetes.service): fix event params on name update
  packages/manager/modules/kubernetes/src/service/controller.js
Labels: bug :bug:

#332 build: bump dependencies
  packages/manager/apps/freefax/package.json
  packages/manager/apps/kubernetes/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/kubernetes/package.json
  yarn.lock
Labels: build

#331 feat: add uirouter-layout component
  README.md
  package.json
  packages/components/ng-ovh-uirouter-layout/CHANGELOG.md
  packages/components/ng-ovh-uirouter-layout/LICENSE
  packages/components/ng-ovh-uirouter-layout/README.md
  packages/components/ng-ovh-uirouter-layout/package.json
  packages/components/ng-ovh-uirouter-layout/rollup.config.js
  packages/components/ng-ovh-uirouter-layout/src/index.js
  packages/components/ng-ovh-uirouter-layout/yarn.lock
Labels: feature :rocket:

#341 feat: add block storages list
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/project/index.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block.class.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/attach.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/attach.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/attach.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/attach.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/block.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/constants.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/index.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/index.js
  packages/manager/modules/pci/src/projects/project/storages/storages.routing.js
Labels: feature :rocket:

#342 build: add components folder to workspace
  lerna.json
  packages/components/ng-ovh-uirouter-layout/yarn.lock
Labels: bug :bug:, build

#343 feat(pci): add kubernetes to public-cloud app
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/sidebar/sidebar.constant.js
  packages/manager/modules/kubernetes/src/index.js
  packages/manager/modules/kubernetes/src/list/component/index.js
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/routing.js
Labels: feature :rocket:
