Repository ovh/manager, pull requests merged in 2019-02, with the labels that each got.

#158 fix(sms.options): fix modal title
  packages/manager/modules/sms/src/options/response/edit/telecom-sms-options-response-edit.html
  packages/manager/modules/sms/src/options/response/translations/Messages_fr_FR.xml
Labels: :bug: bug, quality check: ok

#163 build(deps): upgrade ovh-api-services
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  yarn.lock
Labels: :lipstick: enhancement

#164 fix(sidebar.constants): set right sms state reference
  packages/manager/apps/layout-ovh/src/sidebar/sidebar.constants.js
Labels: :bug: bug

#165 build(deps): upgrade ng-pagination-front to v8.0.0-alpha.0
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/sms/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/telecom-sms.component.js
  yarn.lock
Labels: :lipstick: enhancement, quality check

#166 fix(private-database): upgrade manager-core to v2.0.0
  packages/manager/apps/private-database/package.json
  packages/manager/modules/private-database/package.json
  yarn.lock
Labels: :bug: bug

#168 docs: remove empty and unused changelog.md file
  CHANGELOG.md
Labels: :lipstick: enhancement

#169 style(remarkrc): apply right indent size
  .remarkrc
Labels: :lipstick: enhancement

#171 ci(nvmrc): add nvmrc file
  .nvmrc
Labels: ci

#167 refactor(package.json): remove unused script entry
  package.json
Labels: :lipstick: enhancement

#156 test(freefax): add e2e tests with gherkin
  packages/manager/apps/freefax/cypress/integration/dashboardDisplay.feature
  packages/manager/apps/freefax/cypress/integration/faxConfiguration.feature
  packages/manager/apps/freefax/cypress/integration/notifications.feature
  packages/manager/apps/freefax/cypress/integration/orderCreditFax.feature
  packages/manager/apps/freefax/cypress/integration/voicemail.feature
Labels: tests

#157 test(otb): add gherkin tests
  packages/manager/apps/overthebox/cypress/integration/otbDashboard.feature
  packages/manager/apps/overthebox/cypress/integration/otbDashboardActions.feature
  packages/manager/apps/overthebox/cypress/integration/otbGuides.feature
  packages/manager/apps/overthebox/cypress/integration/otbRemoteconfiguration.feature
  packages/manager/apps/overthebox/cypress/integration/otbTasks.feature
Labels: tests

#206 build(deps): upgrade ng-ovh-apiv7 to v2.0.0
  packages/manager/apps/freefax/package.json
  packages/manager/apps/layout-ovh/package.json
  packages/manager/apps/layout-ovh/src/index.js
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/freefax/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-task/package.json
  yarn.lock
Labels: :lipstick: enhancement, quality check: ok

#205 build(split): add split script
  package.json
  scripts/split.js
  yarn.lock
Labels: ci

#203 feat(sms): replace responsive-tabs by header-tabs component
  packages/manager/apps/sms/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/telecom-sms.component.js
  packages/manager/modules/sms/src/telecom-sms.html
Labels: :rocket: feature, quality check: ok

#207 fix(sms): fix modal to delete incoming sms
  packages/manager/modules/sms/src/sms/incoming/telecom-sms-sms-incoming.controller.js
Labels: :bug: bug, quality check: ok

#211 build(deps): upgrade eslint-import-resolver-lerna to v1.1.0
  package.json
  yarn.lock
Labels: :lipstick: enhancement

#210 fix(sms): fix title of edit notification modal
  packages/manager/modules/sms/src/options/response/translations/Messages_fr_FR.xml
Labels: :bug: bug, quality check: ok, universe-telecom

#214 feat(cloud-universe-components): add currency service and filter
  packages/manager/modules/cloud-universe-components/src/currency/constants.js
  packages/manager/modules/cloud-universe-components/src/currency/filter.js
  packages/manager/modules/cloud-universe-components/src/currency/index.js
  packages/manager/modules/cloud-universe-components/src/currency/service.js
  packages/manager/modules/cloud-universe-components/src/index.js
Labels: :rocket: feature, quality check: ok

#217 feat(cloud-universe-components): add highlighted element
  packages/manager/modules/cloud-universe-components/src/highlightedElement/directive.js
  packages/manager/modules/cloud-universe-components/src/highlightedElement/index.js
  packages/manager/modules/cloud-universe-components/src/highlightedElement/index.less
  packages/manager/modules/cloud-universe-components/src/index.js
Labels: :rocket: feature, quality check: ok

#221 feat(cloud-universe-components): add cloud components
  .eslintrc.js
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/cloud-universe-components/rollup.config.js
  packages/manager/modules/cloud-universe-components/src/consumption/directive.js
  packages/manager/modules/cloud-universe-components/src/consumption/index.js
  packages/manager/modules/cloud-universe-components/src/consumption/index.less
  packages/manager/modules/cloud-universe-components/src/index.js
  packages/manager/modules/cloud-universe-components/src/monitoring/directive.js
  packages/manager/modules/cloud-universe-components/src/monitoring/index.js
  packages/manager/modules/cloud-universe-components/src/monitoring/index.less
  packages/manager/modules/cloud-universe-components/src/region/index.js
  packages/manager/modules/cloud-universe-components/src/region/service.js
  packages/manager/modules/cloud-universe-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-universe-components/src/space-meter/component.js
  packages/manager/modules/cloud-universe-components/src/space-meter/index.js
  packages/manager/modules/cloud-universe-components/src/space-meter/index.less
  packages/manager/modules/cloud-universe-components/src/space-meter/legend/component.js
  packages/manager/modules/cloud-universe-components/src/space-meter/legend/index.js
  packages/manager/modules/cloud-universe-components/src/space-meter/legend/index.less
  packages/manager/modules/cloud-universe-components/src/space-meter/legend/template.html
  packages/manager/modules/cloud-universe-components/src/space-meter/progress.less
  packages/manager/modules/cloud-universe-components/src/space-meter/space-left/component.js
  packages/manager/modules/cloud-universe-components/src/space-meter/space-left/filter.js
  packages/manager/modules/cloud-universe-components/src/space-meter/space-left/index.js
  packages/manager/modules/cloud-universe-components/src/space-meter/space-left/index.less
  packages/manager/modules/cloud-universe-components/src/space-meter/space-left/template.html
  packages/manager/modules/cloud-universe-components/src/space-meter/space-left/tooltip.html
  packages/manager/modules/cloud-universe-components/src/space-meter/template.html
  packages/manager/modules/cloud-universe-components/src/space-meter/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-universe-components/src/user-pref/index.js
  packages/manager/modules/cloud-universe-components/src/user-pref/service.js
  yarn.lock
Labels: :lipstick: enhancement, quality check: ok
