Repository ovh/manager, pull requests merged in 2019-12, with the labels that each got.

#1830 feat: remove of mongoDb
  packages/manager/apps/web/client/app/hosting/database/add/add.constants.js
  packages/manager/apps/web/client/app/hosting/database/add/hosting-database-add.controller.js
  packages/manager/apps/web/client/app/hosting/database/add/hosting-database-add.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.service.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Labels: feature :rocket:, quality check: ok, refactor, translation required

#1881 fix(server-sidebar): clear action menu before creating order menu
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug :bug:, quality check: ok

#1885 build: set modules as private
  packages/manager/modules/banner/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/config/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/request-tagger/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/modules/welcome/package.json
Labels: build

#1871 feat(components): add choice component for ng ovh payment method
  packages/components/ng-ovh-payment-method/README.md
  packages/components/ng-ovh-payment-method/src/components/choice/component.js
  packages/components/ng-ovh-payment-method/src/components/choice/controller.js
  packages/components/ng-ovh-payment-method/src/components/choice/index.js
  packages/components/ng-ovh-payment-method/src/components/choice/template.html
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/components/index.js
  packages/components/ng-ovh-payment-method/src/index.js
  packages/components/ng-ovh-payment-method/src/payment-method.provider.js
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
Labels: feature :rocket:

#1887 feat(sign-up): manage last EU subsidiaries
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/form/details/details.controller.js
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/details/details.scss
  packages/manager/modules/sign-up/src/form/form.controller.js
  packages/manager/modules/sign-up/src/service.js
Labels: bug :bug:, quality check: ok, refactor

#1907 feat(web.private-database): add clouddb hostname popover about ip
  packages/manager/apps/web/client/app/private-database/state/private-database-state.html
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:, translation required

#1850 feat(telecom): kill uib-collapse
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/detail/pack-hostedEmail-detail.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/pack-xdsl-modem-wifi-config.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/telecom-telephony-alias-configuration-ovhPabx-tts.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/timeCondition/oldPabx/telecom-telephony-alias-configuration-time-condition-old-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/oldPabx/telecom-telephony-alias-configuration-tones-oldPabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/fax/management/terminate/telecom-telephony-fax-management-terminate.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/timeCondition/telecom-telephony-line-calls-time-condition.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/telephony-group-number-feature-ovh-pabx-dialplan-extension-edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/telephony-group-number-feature-ovh-pabx-dialplan-extension-rule-edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/telephony-group-number-feature-ovh-pabx-menu-edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/edit/telephony-group-number-feature-ovh-pabx-menu-entry-edit.html
Labels: quality check: ok, refactor

#1856 feat(telecom): kill uib-carousel
  packages/manager/apps/telecom/src/app/telecom/pack/slots/voipLine/activation/pack-voipLine-activation.html
Labels: quality check: ok, refactor

#1899 fix: add missing $translate injection
  packages/manager/modules/overthebox/src/overtheboxes.controller.js
  packages/manager/modules/sms/src/sms.controller.js
Labels: bug :bug:

#1912 fix(telecom): restore ovhPabx sounds part
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/hunting-sounds/huntings-sounds.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/hunting-sounds/huntings-sounds.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/hunting-sounds/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/telecom-telephony-alias-configuration-queues-ovhPabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/telecom-telephony-alias-configuration-queues-ovhPabx.js
Labels: bug :bug:, quality check: ok

#1845 Feat/replace uib progress
  packages/manager/modules/cloud-universe-components/src/space-meter/component.js
  packages/manager/modules/cloud-universe-components/src/space-meter/controller.js
  packages/manager/modules/cloud-universe-components/src/space-meter/index.less
  packages/manager/modules/cloud-universe-components/src/space-meter/template.html
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/abbreviatedNumbers/empty/telecom-telephony-abbreviated-numbers-empty.modal.html
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/abbreviatedNumbers/import/telecom-telephony-abbreviated-numbers-import.modal.html
Labels: enhancement :lipstick:, quality check: ok

#1870 refactor(veeam-cloud-connect): remove uibModal
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/modules/veeam-cloud-connect/package.json
  packages/manager/modules/veeam-cloud-connect/src/dashboard/update-offer/veeam-update-offer.component.js
  packages/manager/modules/veeam-cloud-connect/src/dashboard/update-offer/veeam-update-offer.controller.js
  packages/manager/modules/veeam-cloud-connect/src/dashboard/update-offer/veeam-update-offer.html
  packages/manager/modules/veeam-cloud-connect/src/dashboard/veeam-dashboard.component.js
  packages/manager/modules/veeam-cloud-connect/src/dashboard/veeam-dashboard.controller.js
  packages/manager/modules/veeam-cloud-connect/src/dashboard/veeam-dashboard.html
  packages/manager/modules/veeam-cloud-connect/src/index.js
  packages/manager/modules/veeam-cloud-connect/src/routing.js
  packages/manager/modules/veeam-cloud-connect/src/storage/add/veeam-storage-add.component.js
  packages/manager/modules/veeam-cloud-connect/src/storage/add/veeam-storage-add.controller.js
  packages/manager/modules/veeam-cloud-connect/src/storage/add/veeam-storage-add.html
  packages/manager/modules/veeam-cloud-connect/src/storage/update-quota/veeam-storage-update-quota.component.js
  packages/manager/modules/veeam-cloud-connect/src/storage/update-quota/veeam-storage-update-quota.controller.js
  packages/manager/modules/veeam-cloud-connect/src/storage/veeam-storage.component.js
  packages/manager/modules/veeam-cloud-connect/src/storage/veeam-storage.controller.js
  packages/manager/modules/veeam-cloud-connect/src/storage/veeam-storage.html
Labels: enhancement :lipstick:, quality check: ok, refactor

#1895 refactor(veeam-enterprise): remove uibModal
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/veeam-enterprise/src/dashboard/controller.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.component.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.controller.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.template.html
  packages/manager/modules/veeam-enterprise/src/dashboard/template.html
  packages/manager/modules/veeam-enterprise/src/dashboard/terminate/terminate.component.js
  packages/manager/modules/veeam-enterprise/src/dashboard/terminate/terminate.controller.js
  packages/manager/modules/veeam-enterprise/src/dashboard/terminate/terminate.template.html
  packages/manager/modules/veeam-enterprise/src/index.js
  packages/manager/modules/veeam-enterprise/src/routing.js
Labels: quality check: ok, refactor

#1873 refactor(web): dns anycast modal
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.component.js
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.controller.js
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.html
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.state.js
  packages/manager/apps/web/client/app/domain/anycast/index.js
  packages/manager/apps/web/client/app/domain/dns/DNS.html
  packages/manager/apps/web/client/app/domain/dns/domain-dns.controller.js
  packages/manager/apps/web/client/app/domain/dns/domain-dns.state.js
  packages/manager/apps/web/client/app/domain/domain.routes.js
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.state.js
Labels: enhancement :lipstick:, quality check: ok, refactor

#1849 fix: replace uib-btn-radio by oui-radio
  packages/manager/apps/telecom/src/app/telecom/pack/slots/domain/activation/pack-domain-activation.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/pack-xdsl-modem-wifi-config.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/timeCondition/oldPabx/telecom-telephony-alias-configuration-time-condition-old-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/timeCondition/telecom-telephony-line-calls-time-condition.html
  packages/manager/apps/telecom/src/app/telecom/telephony/service/assist/logs/telecom-telephony-service-assist-logs.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/phone/configration/extension/line-phone-configuration-extension.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/phone/configration/line-phone-configuration.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/phone/configration/userInterface/line-phone-configuration-user-interface.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/conference/telephony-group-number-feature-conference-configuration.html
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/actions/bankHolidays/telephony-scheduler-bank-holidays.html
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/params/telephony-scheduler-params.html
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/telephony-scheduler.less
Labels: bug :bug:, quality check: ok

#1916 fix(telephony.line.contact): send siret instead of siren to API
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/telecom-telephony-service-contact.controller.js
Labels: bug :bug:, quality check: ok

#1925 fix(pcc.drp): fix check on payment method list
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Labels: bug :bug:, quality check: ok

#1923 feat(sms.templates): translate template examples
  packages/manager/modules/sms/src/sms/sms/templates/translations/Messages_fr_FR.json
Labels: translation required

#1906 fix(dedicated): add back order retractation screen
  packages/manager/apps/dedicated/client/app/billing/billing.routing.js
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.controller.js
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.html
  packages/manager/apps/dedicated/client/app/billing/orders/orders.routing.js
  packages/manager/apps/dedicated/client/app/billing/orders/retraction/billing-orders-retraction.controller.js
  packages/manager/apps/dedicated/client/app/billing/orders/retraction/billing-orders-retraction.html
  packages/manager/apps/dedicated/client/app/billing/orders/retraction/retraction.routing.js
Labels: bug :bug:, quality check: ok

#1934 fix: rename OVH to OVHcloud in preloading and title
  packages/manager/apps/cloud/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/cloud/client/app/home/translations/Messages_fr_FR.json
  packages/manager/apps/cloud/client/index.html
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/public-cloud/src/components/manager-preload/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/telecom/src/app/telecom/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/index.html
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
Labels: quality check: ok, translation required

#1897 fix(pci): remove billing for non admin and billing nics
  packages/manager/modules/pci/src/projects/project/billing/billing.routing.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug :bug:, quality check: ok

#1957 docs: update list of availables apps
  README.md
Labels: documentation :memo:

#1834 fix(telecom.telephony): hotfix to bypass API error when loading groups
  packages/manager/apps/telecom/src/components/telecom/telephony/telephony-voip-service.service.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/billingAccount/voip-billing-account.service.js
Labels: bug :bug:

#1947 fix(telephony.fax.campaign): disable native validation on creation form
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/campaigns/add/telecom-telephony-service-fax-campaigns-add.html
Labels: bug :bug:

#1964 fix(analytics-data-platform.onboarding): set right docs URLs
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/onboarding/onboarding.constants.js
Labels: bug :bug:, quality check: ok

#1946 feat(sms.compose): add checkbox for shortcode sender
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.component.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.constant.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.controller.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.html
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.routing.js
  packages/manager/modules/sms/src/sms/sms/compose/translations/Messages_fr_FR.json
Labels: feature :rocket:, quality check: ok, translation required, universe-telecom

#1954 fix(account.user.security.totp.delete): add missing warning message
  packages/manager/apps/dedicated/client/app/account/user/security/totp/delete/user-security-totp-delete.controller.js
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#1967 feat(navbar.usermenu): update link to contacts section
  packages/manager/modules/navbar/src/user-menu/constants.js
Labels: feature :rocket:

#1969 feat(pci.project.block): improve attach message
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-volume/attach-volume.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-volume/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/attach.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/attach/translations/Messages_fr_FR.json
Labels: feature :rocket:, quality check: ok, translation required

#1864 fix(web): domain email delegation
  packages/manager/apps/web/client/app/email-domain/delegate/account/email-domain-delegate-account.html
  packages/manager/apps/web/client/app/email-domain/delegate/email-domain-delegate.controller.js
Labels: bug :bug:, quality check: ok

#1971 fix(vps): add missing translation
  packages/manager/modules/vps/src/translations/Messages_fr_FR.json
Labels: bug :bug:, translation required

#1826 fix(exchange): account password validation
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
Labels: bug :bug:

#1949 fix: fix Analytics Data Platform order pipeline
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/analytics-data-platform.service.js
Labels: bug :bug:, quality check: ok

#1945 fix(telecom): abbreviated number large csv import
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/abbreviatedNumbers/import/telecom-telephony-abbreviated-numbers-import.modal.js
Labels: bug :bug:, quality check: ok

#1982 build: upgrade commitlint
  package.json
  yarn.lock
Labels: dependencies

#1930 Feat/inline contracts
  packages/components/ng-ovh-contracts/package.json
  packages/components/ng-ovh-contracts/src/full/controller.js
  packages/components/ng-ovh-contracts/src/full/directive.js
  packages/components/ng-ovh-contracts/src/full/index.js
  packages/components/ng-ovh-contracts/src/full/index.less
  packages/components/ng-ovh-contracts/src/full/template.html
  packages/components/ng-ovh-contracts/src/full/translations/Messages_en_GB.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_es_ES.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_fi_FI.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_fr_CA.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_fr_FR.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_it_IT.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_lt_LT.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_pl_PL.json
  packages/components/ng-ovh-contracts/src/full/translations/Messages_pt_PT.json
  packages/components/ng-ovh-contracts/src/index.js
  packages/components/ng-ovh-contracts/src/summary/component.js
  packages/components/ng-ovh-contracts/src/summary/index.js
  packages/components/ng-ovh-contracts/src/summary/template.html
  packages/components/ng-ovh-contracts/src/summary/translations/Messages_fr_FR.json
Labels: feature :rocket:, translation required

#1984 feat(web): add private sql activation translations
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_fr_FR.json
Labels: feature :rocket:, translation required

#1933 feat(wuc): extract order cart service
  packages/manager/modules/web-universe-components/src/index.js
  packages/manager/modules/web-universe-components/src/order-cart/index.js
  packages/manager/modules/web-universe-components/src/order-cart/order-cart.service.js
Labels: feature :rocket:

#1983 fix(telephony.fax): retrieve time from oui date picker
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/campaigns/add/telecom-telephony-service-fax-campaigns-add.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/campaigns/add/telecom-telephony-service-fax-campaigns-add.html
Labels: bug :bug:, quality check: ok

#1943 feat(dedicated.billing): prevent VIP renew
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.html
  packages/manager/apps/dedicated/client/app/models/BillingService.class.js
Labels: feature :rocket:, quality check: ok

#1990 feat(web.email-domain): add order translations
  packages/manager/apps/web/client/app/email-domain/order/translations/Messages_fr_FR.json
Labels: feature :rocket:

#1985 feat(web): miaw clouddb and private sql order transations
  packages/manager/apps/web/client/app/hosting/database/order-private/translations/Messages_fr_FR.json
Labels: translation required

#1999 feat(web.email-domain.upgrade): extract translations
  packages/manager/apps/web/client/app/email-domain/upgrade/translations/Messages_fr_FR.json
Labels: translation required

#1995 style: apply stylelint rules across all styles files
  .stylelintignore
  .stylelintrc.json
  package.json
  packages/components/ng-ovh-contracts/src/full/index.less
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.less
  packages/manager/apps/dedicated/client/app/account/user/components/directives/checkboxSwitch/checkboxSwitch-2.css
  packages/manager/apps/dedicated/client/app/account/user/components/directives/checkboxSwitch/checkboxSwitch.css
  packages/manager/apps/dedicated/client/app/account/user/components/directives/sshkeySwitch/sshkeySwitch.css
  packages/manager/apps/dedicated/client/app/app.less
  packages/manager/apps/dedicated/client/app/css/billing/main.css
  packages/manager/apps/dedicated/client/app/css/source.less
  packages/manager/apps/dedicated/client/app/css/user-account/main.css
  packages/manager/apps/dedicated/client/app/css/user-account/newSecuritySection.css
  packages/manager/apps/enterprise-cloud-database/index.scss
  packages/manager/apps/public-cloud/src/assets/theme/dark/index.less
  packages/manager/apps/sign-up/src/index.scss
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.less
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/orderFollowUp/pack-xdsl-orderFollowUp.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/consumption/pie-chart/telephony-group-consumption-pie-chart.less
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/telephony-scheduler.less
  packages/manager/apps/web/client/app/hosting/website-coach/website-coach.less
  packages/manager/modules/cloud-universe-components/src/cui/dropdown-menu/index.less
  packages/manager/modules/cloud-universe-components/src/cui/guide-component/index.less
  packages/manager/modules/cloud-universe-components/src/cui/tabs/index.less
  packages/manager/modules/emailpro/src/css/exchangeDiagnostic.css
  packages/manager/modules/enterprise-cloud-database/src/card/card.scss
  packages/manager/modules/enterprise-cloud-database/src/index.scss
  packages/manager/modules/exchange/src/css/exchangeDiagnostic.css
  packages/manager/modules/iplb/src/iplb.scss
  packages/manager/modules/navbar/src/navbar-menu-header/index.less
  packages/manager/modules/pci/src/projects/new/new.scss
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/deploy/deploy.scss
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/details/progress/progress.scss
  packages/manager/modules/pci/src/projects/project/creating/creating.scss
  packages/manager/modules/sign-up/src/components/country-flag/index.scss
  packages/manager/modules/sign-up/src/form/details/details.scss
  packages/manager/modules/telecom-universe-components/src/ovh-password/ovh-password.less
  packages/manager/modules/telecom-universe-components/src/slider/slider.less
  packages/manager/modules/vps/src/modal/shortcut/kvm/novnc/index.less
  packages/manager/modules/web-universe-components/src/incrementNumber/incrementNumber.less
  yarn.lock
Labels: enhancement :lipstick:

#1937 feat(web.hosting): add database hostname popover about ip
  packages/manager/apps/web/client/app/hosting/database/DATABASE_LIST.html
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Labels: enhancement :lipstick:, translation required

#2004 build: require Yarn v1.21.1
  package.json
Labels: build

#2010 feat(telephony.alias.config): remove agent number edition in agents list
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/telecom-telephony-alias-configuration-agents-ovhPabx.html
Labels: feature :rocket:, quality check: ok, universe-telecom

#2014 build(lint-staged): apply stylelint across all styles files
  .lintstagedrc.json
Labels: build

#2018 fix(dedicated): set right favicon path
  packages/manager/apps/dedicated/client/app/index.html
Labels: bug :bug:

#2019 fix(telephony): programmable keys function consistent order
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/telecom-telephony-line-phone-programmableKeys-edit.controller.js
Labels: bug :bug:

#2028 fix(telecom.number): remove height value on img
  packages/manager/apps/telecom/src/app/telecom/telephony/telecom-telephony.less
Labels: bug
