Repository ovh/manager, pull requests merged in 2020-06, with the labels that each got.

#3029 fix: remove ui consistency
  packages/components/ng-ovh-sidebar-menu/src/index.less
  packages/components/ng-ovh-sidebar-menu/src/list/item/list-item-inner.html
  packages/components/ng-ovh-sidebar-menu/src/list/item/template.html
  packages/components/ng-ovh-sidebar-menu/src/list/template.html
  packages/components/ng-ovh-sidebar-menu/src/template.html
  packages/manager/apps/carrier-sip/src/index.js
  packages/manager/apps/cloud/client/app/app.less
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/client/app/css/source.less
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/iplb/package.json
  packages/manager/apps/iplb/src/index.js
  packages/manager/apps/order-tracking/src/index.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/app/app.less
  packages/manager/apps/vps/src/index.js
  packages/manager/apps/web/client/app/css/source.less
  packages/manager/apps/web/package.json
  packages/manager/modules/carrier-sip/src/dashboard/index.js
  packages/manager/modules/enterprise-cloud-database/src/index.js
  packages/manager/modules/freefax/src/freefax.module.js
  packages/manager/modules/freefax/src/freefax/freefax.component.js
  packages/manager/modules/iplb/package.json
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/nasha/src/nasha.module.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.component.js
  packages/manager/modules/overthebox/src/overtheboxes.module.js
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/src/sms.module.js
  packages/manager/modules/sms/src/sms/order/telecom-sms-order.component.js
  packages/manager/modules/sms/src/sms/telecom-sms.component.js
  packages/manager/modules/support/src/support.module.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.module.js
  packages/manager/modules/support/src/tickets/ticket/ticket.module.js
  packages/manager/modules/support/src/tickets/tickets.module.js
  packages/manager/modules/telecom-dashboard/src/index.js
  packages/manager/modules/telecom-task/src/task.component.js
  packages/manager/modules/veeam-cloud-connect/src/index.less
  packages/manager/modules/veeam-cloud-connect/src/veeam-cloud-connect.module.js
  packages/manager/modules/veeam-enterprise/src/index.less
  packages/manager/modules/veeam-enterprise/src/veeam-enterprise.module.js
  packages/manager/modules/vps/src/vps.module.js
  packages/manager/modules/vrack/src/vrack.module.js
  yarn.lock
Labels: refactor

#3037 docs(contributing): update command to format code [skip ci]
  CONTRIBUTING.md
Labels: documentation

#3044 feat(configuration): redirect to help center for all subs
  packages/manager/apps/web/client/app/configuration/configuration.component.js
  packages/manager/apps/web/client/app/configuration/configuration.controller.js
  packages/manager/apps/web/client/app/configuration/configuration.html
Labels: enhancement, universe-web

#3039 perf(ng-ovh-payment-method): use lodash-es instead of lodash
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-payment-method/src/components/choice/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/redirect/controller.js
  packages/components/ng-ovh-payment-method/src/components/register/controller.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-bank-account.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-credit-card.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-deferred-payment-account.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-paypal.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-type.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean.class.js
  packages/components/ng-ovh-payment-method/src/legacy/payment-method-legacy.js
  packages/components/ng-ovh-payment-method/src/payment-method-helper.service.js
  packages/components/ng-ovh-payment-method/src/payment-method-type.class.js
  packages/components/ng-ovh-payment-method/src/payment-method.class.js
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
  yarn.lock
Labels: performance

#3048 perf(ng-ovh-actions-menu): remove lodash dependency
  packages/components/ng-ovh-actions-menu/package.json
  packages/components/ng-ovh-actions-menu/src/item/factory.js
Labels: performance

#3049 perf(ng-ovh-swimming-poll): replace lodash with lodash-es
  packages/components/ng-ovh-swimming-poll/package.json
  packages/components/ng-ovh-swimming-poll/src/service.js
  yarn.lock
Labels: performance

#3050 feat(guides): add guides url for CA
  packages/manager/modules/web-universe-components/src/guides/guides.constant.js
Labels: feature, universe-web

#3038 fix(translations): clean translations files
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_de_DE.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_en_GB.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_es_ES.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_es_US.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_fi_FI.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_fr_CA.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_it_IT.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_lt_LT.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_pl_PL.json
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/translations/Messages_fi_FI.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/domain/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/domain/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/translations/Messages_pt_PT.json
Labels: enhancement

#3053 Fix/public cloud sidebar
  packages/manager/apps/public-cloud/src/app.module.js
Labels: bug

#3057 fix(deps): update dependencies with latest version
  packages/components/ng-ovh-line-diagnostics/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
Labels: bug, dependencies

#3051 perf(hub): replace lodash with lodash-es
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/controller.js
  packages/manager/apps/hub/src/dashboard/catalog/catalog.controller.js
  packages/manager/apps/hub/src/dashboard/catalog/routing.js
  packages/manager/apps/hub/src/dashboard/products-list/config.js
  packages/manager/apps/hub/src/dashboard/products-list/exchange.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/ip.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/routing.js
  packages/manager/apps/hub/src/dashboard/products-list/sharepoint.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/vrack.routing.js
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/routing.js
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/billing-summary/controller.js
  packages/manager/modules/hub/src/components/order-tracking/controller.js
  packages/manager/modules/hub/src/components/product-list/component.js
  packages/manager/modules/hub/src/components/product-list/controller.js
  packages/manager/modules/hub/src/components/support/controller.js
Labels: performance

#3027 feat(oui-angular): add configuration for pagination
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/oui-angular/index.js
Labels: enhancement

#3069 build(deps): add some missing dependencies
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/modules/iplb/package.json
Labels: bug, build, dependencies

#3084 build(deps): upgrade ovh-api-services to v9.44.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#3085 test(eslint): add `--cache` parameter
  .gitignore
  package.json
Labels: tests

#3086 style: apply eslint rules
  packages/components/ng-ovh-otrs/src/index.js
  packages/components/ng-ovh-otrs/src/otrs-popup/intervention/otrs-popup-intervention.service.js
  packages/components/ng-ovh-otrs/src/otrs-popup/otrs-popup.directive.js
  packages/components/ng-ovh-otrs/src/otrs-popup/otrs-popup.provider.js
  packages/components/ng-ovh-otrs/src/otrs-popup/otrs-popup.service.js
  packages/components/ng-ovh-otrs/src/ticket-categories.constants.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.controller.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.service.js
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.controller.js
Labels: refactor

#3087 style: apply stylelint rules
  packages/components/ng-ovh-actions-menu/src/index.less
  packages/components/ng-ovh-otrs/src/otrs-popup/otrs-popup.less
  packages/components/ng-ovh-responsive-page-switcher/src/index.less
  packages/components/ng-ovh-sidebar-menu/src/_variables.less
  packages/components/ng-ovh-timeline/src/index.less
  packages/components/ng-ovh-timeline/src/timeline-animations.less
  packages/components/ng-ovh-timeline/src/timeline-bootstrap.less
  packages/components/ng-ovh-utils/src/contracts/contracts.css
  packages/components/ng-ovh-utils/src/wizard/wizardStep/wizardStep.css
Labels: refactor

#3032 fix(line-diagnostics): fix penalties price to be consistent with wizard
  packages/components/ng-ovh-line-diagnostics/src/constants.js
  packages/components/ng-ovh-line-diagnostics/src/controller.js
  packages/components/ng-ovh-line-diagnostics/src/steps/solution-proposal-step.html
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_es_US.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_fi_FI.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-line-diagnostics/src/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-telecom

#3088 fix(telephony.accessories): resolve accessory name with its image
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/accessories/telephony-accessories.constant.js
Labels: bug, quality check: ok, universe-telecom

#3061 fix(cloud.logs): order button
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, quality check: ok, universe-cloud

#3077 fix(contacts-api): fix serviceinfos api
  packages/manager/apps/dedicated/client/app/account/contacts/service/contacts-service.service.js
Labels: bug, quality check: ok

#3078 fix(hosting.ssl.order): use domain picked by user
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/ssl/order/hosting-order-ssl.controller.js
  packages/manager/apps/web/client/app/hosting/ssl/order/hosting-order-ssl.html
Labels: bug, universe-web

#3100 fix(assets.theme): minor enhancements for the alpha dark theme
  packages/manager/apps/public-cloud/src/assets/theme/dark/index.less
Labels: bug, univers-public-cloud

#3104 perf(hub): remove unecessary debt api call
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/routing.js
Labels: performance

#3052 perf(core): replace lodash with lodash-es
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/redirection/redirection.service.js
  packages/manager/modules/core/src/translate/ovh-ui-angular/index.js
  packages/manager/modules/core/src/translate/translate.factory.js
  packages/manager/modules/core/src/translate/translate.service.js
Labels: performance

#3108 docs: update control-panel screenshots [skip ci]
  docs/.vuepress/public/assets/img/control-panel-public-cloud.jpg
  docs/.vuepress/public/assets/img/control-panel-server.jpg
  docs/.vuepress/public/assets/img/control-panel-telecom.jpg
  docs/.vuepress/public/assets/img/control-panel-web.jpg
  docs/.vuepress/public/assets/img/control-panel.jpg
Labels: documentation

#3109 fix(domain): prevent dahsboard crash if call fails
  packages/manager/apps/web/client/app/domain/domain.routing.js
Labels: bug, universe-web

#3113 build(deps): upgrade ovh-api-services to v9.44.2
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: build, dependencies

#2985 feat: allow notifications without links
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/carousel.scss
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/template.html
  packages/manager/modules/navbar/src/notifications-menu/service.js
Labels: enhancement, quality check: ok, universe-hub

#3045 feat(otb.details): add release channels
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-telecom

#3096 refactor(pcc): remove unused code
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.bundle.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/price/dedicatedCloud-price.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/price/dedicatedCloud-price.html
Labels: quality check: ok, refactor, universe-server

#3117 New release (hotfixes)
  packages/components/ng-ovh-actions-menu/src/index.less
  packages/components/ng-ovh-actions-menu/src/item/template.html
  packages/components/ng-ovh-actions-menu/src/template-inner.html
  packages/components/ng-ovh-sidebar-menu/src/_variables.less
  packages/components/ng-ovh-sidebar-menu/src/index.less
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/resource/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/service-pack.service.js
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
Labels: release

#3122 build(deps): upgrade ovh-api-services to v9.46.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#3112 fix(pci): remove keystone warning for US region
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
Labels: bug, univers-public-cloud

#3111 fix(dedicated.configuration): update US doc link
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.controller.js
Labels: enhancement, quality check, universe-server

#3110 fix(pci.project): update US doc links
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Labels: enhancement, quality check: ok, univers-public-cloud

#3025 fix(domain.attach): use hosting as param instead of domain
  packages/manager/apps/web/client/app/domain/attach/domain-attached-domain-select.controller.js
Labels: bug, quality check: ok, universe-web

#3132 fix(service-expiration): use Redirection service to get url
  packages/manager/modules/web-universe-components/src/expiration/index.js
  packages/manager/modules/web-universe-components/src/expiration/service-expiration-date.component.constant.js
  packages/manager/modules/web-universe-components/src/expiration/service-expiration-date.component.controller.js
Labels: bug, quality check, universe-web

#3144 fix(private.database): update graph label information
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_FR.json
Labels: translation required, universe-web

#3141 docs: set default label for issue template file
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#3149 feat(private.registry): select medium plan as default
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/controller.js
Labels: quality check: ok, univers-public-cloud

#2990 feat(xdsl.profile): load profiles for constistent tooltip with list
  packages/manager/apps/telecom/src/app/telecom/pack/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_fi_FI.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_lt_LT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.routing.js
Labels: feature, quality check: ok, translation required, universe-telecom

#3046 Feat(over-the-box) : add actions list
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/overthebox/src/overthebox/actions/index.js
  packages/manager/modules/overthebox/src/overthebox/actions/overTheBox-actions.component.js
  packages/manager/modules/overthebox/src/overthebox/actions/overTheBox-actions.constant.js
  packages/manager/modules/overthebox/src/overthebox/actions/overTheBox-actions.controller.js
  packages/manager/modules/overthebox/src/overthebox/actions/overTheBox-actions.html
  packages/manager/modules/overthebox/src/overthebox/actions/overTheBox-actions.routing.js
  packages/manager/modules/overthebox/src/overthebox/actions/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/index.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.component.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.html
  packages/manager/modules/overthebox/src/overthebox/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-telecom

#2877 fix(navbar): change brand link to dashboard
  packages/manager/modules/navbar/package.json
  packages/manager/modules/navbar/src/controller.js
Labels: bug, quality check: ok

#3161 fix(dataprocessing): disable button on activation
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.html
Labels: bug, univers-public-cloud

#3160 fix(pack.migration): fix with correct call api for building details
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/telecom-pack-migration-building-details.controller.js
Labels: bug, quality check: ok, universe-telecom

#3157 feat(xdsl.profiles): translate vdsl profiles, not display sdsl profile
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.routing.js
Labels: feature, quality check: ok, translation required, universe-telecom

#3164 New release (hotfixes)
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/telecom-pack-migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/profil/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.routing.js
Labels: release

#3138 fix(domain.webhosting): autopay only if there is a valid payment method
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/enable.component.js
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/routing.js
Labels: bug, quality check: ok, universe-web

#3169 fix(domain.webhosting): filter pricings to avoid duplicate duration
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/domain-enable-web-hosting.controller.js
Labels: bug, universe-web

#2788 refactor(pack.xdsl): refactoring code for pack xdsl
  packages/manager/apps/telecom/src/app/telecom/pack/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/pack.bundle.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.templates.js
Labels: refactor, universe-telecom

#3171 fix(sidebar): inject feature flipping for beta mode
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
Labels: bug, universe-telecom

#3172 fix(pci.project): remove outdated keystone banner
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Labels: enhancement, univers-public-cloud

#3180 build(deps): add missing @ovh-ux/ng-ovh-feature-flipping deps
  packages/manager/apps/sms/package.json
Labels: bug, build, dependencies

#3174 fix(translations): clean translations files
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/migration/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/migration/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/migration/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/migration/translations/Messages_fi_FI.json
  packages/manager/modules/vps/src/migration/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/migration/translations/Messages_lt_LT.json
  packages/manager/modules/vps/src/migration/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/migration/translations/Messages_pt_PT.json
Labels: enhancement

#2988 Enable Serving Engine in CA control panel
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: enhancement, quality check, univers-public-cloud

#3179 build(deps): upgrade all babel dependencies
  package.json
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/webpack-config/package.json
  yarn.lock
Labels: dependencies

#3186 feat: allow usage of global env to set languages for building apps
  packages/manager/tools/component-rollup-config/src/plugins/translation-utils.ts
Labels: build, enhancement, feature
