Repository ovh/manager, pull requests merged in 2020-03, with the labels that each got.

#2368 feat(modules.product.offers): display renew extra pricing even if free
  packages/manager/modules/product-offers/src/pricing/pricing.class.js
  packages/manager/modules/product-offers/src/product-offers.html
Labels: feature

#2374 fix(instances.add): prevent error if call to /credit crash
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
Labels: bug, quality check: ok

#2362 refactor(web.order.clouddb): remove unused check
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
Labels: refactor

#2371 feat(veeam-backup): spla licence check
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/splaLicence/component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/splaLicence/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/splaLicence/routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/splaLicence/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/splaLicence/translations/Messages_fr_FR.json
Labels: feature, quality check, translation required

#2385 fix(veeam-backup): remove old code
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_fr_FR.json
Labels: bug

#2382 build: bump ovh-ui-angular to v3.15.1
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2291 fix(server-sidebar): restore items loading on click
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug

#2390 build(deps): upgrade ovh-api-services to v9.40.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2308 fix(iplb): manage links by region
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/iplb-url.constants.js
Labels: bug, quality check: ok, universe-server

#2394 fix(deps): use latest for @ovh-ux/manager-core
  packages/components/ng-ovh-payment-method/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/banner/package.json
  packages/manager/modules/beta-preference/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/catalog-price/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/iplb/package.json
  packages/manager/modules/mfa-enrollment/package.json
  packages/manager/modules/nasha/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/product-offers/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/veeam-cloud-connect/package.json
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/vrack/package.json
  yarn.lock
Labels: dependencies

#2405 fix: fetch orders only if there is some
  packages/manager/apps/hub/src/routing.js
Labels: bug, universe-hub

#2379 Fix/hosting/upgrade/contracts
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: bug, quality check: ok

#2272 feat(cloud.logs): input allowed networks - bulk
  packages/manager/apps/cloud/client/app/app.less
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.controller.js
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/edit/logs-inputs-add-edit.controller.js
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/edit/logs-inputs-add-edit.html
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/logs-inputs-add.html
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/networks/logs-inputs-add-networks.controller.js
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/networks/logs-inputs-add-networks.html
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/networks/logs-inputs-add-networks.less
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/logs-inputs.js
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/tokens/logs-tokens.html
  packages/manager/apps/cloud/client/app/dbaas/logs/translations/Messages_fr_FR.json
Labels: enhancement, feature, quality check: ok, translation required

#2406 fix(constants): redirect to exchange root state
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/web.constants.js
Labels: bug

#2399 Fix/pci bm lab
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
  packages/manager/modules/pci/src/projects/project/baremetal/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/baremetal/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/baremetal/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_pt_PT.json
Labels: bug, universe-cloud

#2423 fix(hub): add dynamic payment method icon
  packages/manager/modules/hub/src/components/user-panel/payment-mean/template.html
Labels: bug

#2411 feat(hub): style
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/hub/src/components/billing-summary/index.scss
  packages/manager/modules/hub/src/components/order-tracking/index.scss
  packages/manager/modules/hub/src/components/order-tracking/template.html
  packages/manager/modules/hub/src/variables.scss
Labels: feature

#2431 fix(navbar): overload max-height notification
  packages/manager/apps/dedicated/client/app/css/source.less
  packages/manager/apps/public-cloud/src/index.scss
  packages/manager/apps/web/client/app/css/source.less
Labels: bug

#2419 fix(dedicated-datacenter-backup): update upgrade text
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/delete/delete.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/upgrade/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/upgrade/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/upgrade/upgrade.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/upgrade/upgrade.routing.js
Labels: bug

#2430 fix(exchange): update redirection state
  packages/manager/modules/exchange/src/exchange.routes.js
Labels: bug

#2434 fix(ip): disable old iplb tab
  packages/manager/apps/dedicated/client/app/ip/ip-feature-availability.js
Labels: bug

#2408 Feat/private registry tracking
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/api-url/api-url.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/credentials/credentials.html
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/update/update.html
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.html
Labels: enhancement, quality check: ok

#2429 fix(project.baremetal): rename "beta" to "alpha"
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/baremetal/translations/Messages_pt_PT.json
Labels: bug

#2428 fix(hub): navbar responsive links
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.scss
  packages/manager/apps/hub/src/routing.js
Labels: bug, universe-hub

#2447 fix(sidebar): add dbaas.logs for ca region
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug

#2442 feat(pci.instance): add gateway information to dashboard
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
Labels: feature, quality check: ok, universe-cloud

#2453 Feat/hub sort categories
  packages/manager/apps/hub/src/catalog/catalog.controller.js
  packages/manager/apps/hub/src/catalog/routing.js
Labels: enhancement, universe-hub

#2417 feat(web-emailpro): add server field
  packages/manager/modules/emailpro/src/information/emailpro-information.html
  packages/manager/modules/emailpro/src/translations/Messages_fr_FR.json
Labels: enhancement, quality check: ok, translation required

#2456 fix(core): redirection service getURL
  packages/manager/modules/core/src/redirection/redirection.service.js
Labels: bug

#2455 fix(user-panel.payment-mean): add content if there is no payment mean
  packages/manager/modules/hub/src/components/user-panel/payment-mean/template.html
  packages/manager/modules/hub/src/components/user-panel/payment-mean/translations/Messages_fr_FR.json
Labels: bug, universe-hub

#2388 fix(vps): monitoring activation
  packages/manager/modules/vps/src/dashboard/modal/monitoring-sla/vps-monitoring-sla.controller.js
  packages/manager/modules/vps/src/dashboard/modal/monitoring-sla/vps-monitoring-sla.routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: bug, quality check: ok, universe-server

#2401 feat(assistance-menu): remove useless support contact support
  packages/manager/modules/navbar/src/assistance-menu/constants.js
  packages/manager/modules/navbar/src/assistance-menu/controller.js
Labels: feature, quality check: ok

#2446 fix(pci.failover.ips): make filter works
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
Labels: bug, quality check: ok

#2461 build(deps): upgrade ovh-api-services to v9.41.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2415 build: add start script
  package.json
  scripts/start/index.js
  yarn.lock
Labels: build

#2465 feat(dashboard): add ovh-manager-banner
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/index.js
  packages/manager/apps/hub/src/index.scss
Labels: feature, universe-hub

#2416 fix(secondary.dns): add resolve to parameter to the modal
  packages/manager/modules/vps/src/backup-storage/password/password-backup-storage.routing.js
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.component.js
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.routing.js
Labels: bug, quality check: ok

#2466 fix(order-tracking): add default element if there is no history
  packages/manager/modules/hub/src/components/order-tracking/controller.js
Labels: bug, universe-hub

#2441 refactor(hub): payment component style
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.less
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.scss
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/hub/src/variables.scss
Labels: refactor, universe-hub

#2467 fix: set the right favicons path
  packages/manager/apps/public-cloud/src/index.html
Labels: bug

#2460 New release
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/modules/navbar/src/assistance-menu/constants.js
  packages/manager/modules/navbar/src/assistance-menu/controller.js
  packages/manager/modules/vps/src/backup-storage/password/password-backup-storage.routing.js
  packages/manager/modules/vps/src/dashboard/modal/monitoring-sla/vps-monitoring-sla.controller.js
  packages/manager/modules/vps/src/dashboard/modal/monitoring-sla/vps-monitoring-sla.routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.component.js
  packages/manager/modules/vps/src/secondary-dns/delete/delete-secondary-dns.routing.js
Labels: release

#2471 fix(order-tracking): display orderId instead of domain
  packages/manager/modules/hub/src/components/order-tracking/template.html
Labels: bug, universe-hub

#2464 refactor(hub): move user panel component to @ovh-ux/manager-account-sidebar
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/account-sidebar/LICENSE
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/account-sidebar/src/component.js
  packages/manager/modules/account-sidebar/src/constants.js
  packages/manager/modules/account-sidebar/src/controller.js
  packages/manager/modules/account-sidebar/src/index.js
  packages/manager/modules/account-sidebar/src/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/component.js
  packages/manager/modules/account-sidebar/src/payment-mean/controller.js
  packages/manager/modules/account-sidebar/src/payment-mean/index.js
  packages/manager/modules/account-sidebar/src/payment-mean/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_fi_FI.json
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_fr_FR.json
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_lt_LT.json
  packages/manager/modules/account-sidebar/src/shortcuts/component.js
  packages/manager/modules/account-sidebar/src/shortcuts/controller.js
  packages/manager/modules/account-sidebar/src/shortcuts/index.js
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/component.js
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/controller.js
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/index.js
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/index.scss
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/template.html
  packages/manager/modules/account-sidebar/src/shortcuts/template.html
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fi_FI.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fr_FR.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_lt_LT.json
  packages/manager/modules/account-sidebar/src/template.html
  packages/manager/modules/account-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/translations/Messages_fi_FI.json
  packages/manager/modules/account-sidebar/src/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/account-sidebar/src/translations/Messages_lt_LT.json
  packages/manager/modules/account-sidebar/src/user-infos/component.js
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/index.js
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_fi_FI.json
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_fr_FR.json
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_lt_LT.json
  packages/manager/modules/hub/src/index.js
  packages/manager/modules/navbar/package.json
  packages/manager/modules/navbar/src/index.js
  packages/manager/modules/navbar/src/template.html
Labels: refactor, universe-hub

#2473 fix(navbar): remove beta version
  packages/manager/apps/cloud/client/index.html
  packages/manager/apps/dedicated/client/app/index.html
Labels: bug, universe-server

#2462 fix(hub): hide sidebar if routing error occurs
  packages/manager/apps/hub/src/index.js
  packages/manager/modules/navbar/src/controller.js
Labels: bug, universe-hub

#2476 fix(hub): add products license translations
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Labels: translation required, universe-hub

#2477 fix(hub): support tracking
  packages/manager/modules/hub/src/components/support/template.html
Labels: bug, universe-hub

#2478 fix(catalog): update available categories on universe change only
  packages/manager/apps/hub/src/catalog/catalog.controller.js
  packages/manager/apps/hub/src/catalog/template.html
Labels: bug, universe-hub

#2454 refactor(hub): assistance component style refactoring
  packages/manager/modules/hub/src/components/support/index.scss
  packages/manager/modules/hub/src/variables.scss
Labels: refactor, universe-hub

#2483 fix(tile): fix icon alignment
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/hub/src/components/tile/tile.less
Labels: bug, universe-hub

#2479 fix(navbar): menus cursor pointer
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/template.html
Labels: bug, universe-hub

#2482 fix(payment-status): use id to track ng-repeat
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
Labels: bug, universe-hub

#2487 fix(hub): billing component dropdown style
  packages/manager/modules/hub/src/components/billing-summary/index.scss
Labels: bug, universe-hub

#2489 fix(hub): add filter to billing redirection
  packages/manager/modules/hub/src/components/billing-summary/controller.js
  packages/manager/modules/hub/src/components/billing-summary/template.html
Labels: bug, universe-hub

#2484 feat(hub): add debt pay on billing component
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/hub/src/components/billing-summary/index.scss
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/billing-summary/translations/Messages_fr_FR.json
Labels: feature, universe-hub

#2481 fix(hub): support tile style & tracking
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/hub/src/components/support/index.scss
  packages/manager/modules/hub/src/components/support/template.html
  packages/manager/modules/hub/src/components/tile/tile.component.js
  packages/manager/modules/hub/src/components/tile/tile.html
Labels: bug, universe-hub

#2485 feat(products): limit number of tiles displayed
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/modules/hub/src/components/products/constants.js
  packages/manager/modules/hub/src/components/products/controller.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Labels: feature, universe-hub

#2412 [RFC] docs: add PULL_REQUEST_TEMPLATE.md file
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#2491 fix(payment-status): replace action-menu with link
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/payment-status-tile/translations/Messages_fr_FR.json
Labels: universe-hub

#2492 feat(carousel): make pagination elements clickable
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/styles.less
Labels: universe-hub

#2493 fix(products-list): handle pagination change with static rows
  packages/manager/apps/hub/src/dashboard/products-list/exchange.routing.js
  packages/manager/modules/hub/src/components/product-list/controller.js
  packages/manager/modules/hub/src/components/product-list/template.html
  packages/manager/modules/hub/src/components/products/products.html
Labels: universe-hub

#2494 feat: add lazyloading
  packages/manager/apps/hub/src/catalog/catalog.module.js
  packages/manager/apps/hub/src/catalog/index.js
  packages/manager/apps/hub/src/dashboard/dashboard.module.js
  packages/manager/apps/hub/src/dashboard/index.js
  packages/manager/apps/hub/src/dashboard/products-list/index.js
  packages/manager/apps/hub/src/dashboard/products-list/products-list.module.js
Labels: universe-hub

#2496 fix(hub): add loading when fetching bills
  packages/manager/modules/hub/src/components/billing-summary/controller.js
Labels: bug, universe-hub

#2488 feat(domain-dkim): fix preview of dkim
  packages/manager/apps/web/client/app/domain/zone/record/DKIM/domain-zone-record-DKIM.html
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
Labels: bug, quality check: ok

#2502 fix(navbar.notifications.list): add read/unread system
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/component.js
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/template.html
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/translations/Messages_fr_FR.json
  packages/manager/modules/navbar/src/notifications-menu/template.html
Labels: bug, universe-hub

#2497 fix(dashboard.order): add margins
  packages/manager/apps/hub/src/dashboard/order-dashboard/template.html
  packages/manager/apps/hub/src/dashboard/routing.js
Labels: bug, universe-hub

#2508 feat: add favicon
  packages/manager/apps/hub/src/assets/images/favicon.png
  packages/manager/apps/hub/src/assets/images/touchicon-180.png
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/webpack.config.js
Labels: feature, universe-hub

#2506 feat(dashboard): sort products by descending count
  packages/manager/apps/hub/src/dashboard/routing.js
Labels: enhancement, universe-hub

#2522 feat(products): add parameter to get expanded view
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/modules/hub/src/components/products/controller.js
  packages/manager/modules/hub/src/components/products/products.component.js
  packages/manager/modules/hub/src/components/products/products.html
Labels: enhancement, universe-hub

#2512 refactor(carousel): extract styles that can be shared
  packages/manager/apps/hub/src/assets/theme/index.scss
  packages/manager/apps/hub/src/assets/theme/messages.scss
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/carousel.scss
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/carousel/styles.less
  packages/manager/modules/hub/src/variables.scss
Labels: refactor, universe-hub

#2513 feat(user-infos): add link to user account dashboard
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_fr_FR.json
Labels: enhancement, universe-hub

#2520 fix(dashboard.products-list): be more specific to match api route
  packages/manager/apps/hub/src/dashboard/products-list/routing.js
Labels: bug, universe-hub

#2523 build(deps): upgrade some dependencies
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/tools/component-rollup-config/package.json
  yarn.lock
Labels: dependencies

#2511 fix(pcc.datacenter.drp): use correct route to get drp status
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Labels: bug

#2503 Fix translations issues
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.html
  packages/manager/apps/dedicated/client/app/billing/main/history/postalMailOptions/billing-main-history-postal-mail-options.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-cloud, universe-server

#2514 fix(account-sidebar): display user role
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_fr_FR.json
Labels: bug, universe-hub

#2528 fix(hub): sidebar width
  packages/manager/apps/hub/src/index.less
  packages/manager/modules/account-sidebar/src/variables.less
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/variables.less
Labels: bug, universe-hub

#2530 fix(hub): add billing notifications count
  packages/manager/modules/account-sidebar/src/shortcuts/controller.js
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/component.js
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/template.html
  packages/manager/modules/account-sidebar/src/shortcuts/template.html
Labels: bug, universe-hub

#2533 fix(account-sidebar): payment status translation
  packages/manager/modules/account-sidebar/src/payment-mean/controller.js
Labels: bug, universe-hub

#2505 refactor(account-sidebar): apply hub styles
  packages/manager/modules/account-sidebar/src/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/index.scss
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/index.scss
  packages/manager/modules/account-sidebar/src/shortcuts/template.html
  packages/manager/modules/account-sidebar/src/template.html
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/template.html
Labels: refactor, universe-hub

#2534 fix(account-sidebar): user account roles
  packages/manager/modules/account-sidebar/src/user-infos/constants.js
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/template.html
Labels: bug, universe-hub

#2531 feat(hub): clickable order id
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/hub/src/components/order-tracking/controller.js
  packages/manager/modules/hub/src/components/order-tracking/template.html
Labels: universe-hub

#2529 fix(hub): view max width
  packages/manager/apps/hub/src/assets/theme/index.scss
  packages/manager/apps/hub/src/catalog/catalog.scss
  packages/manager/apps/hub/src/dashboard/dashboard.scss
Labels: bug, universe-hub

#2532 Fix/hub us
  packages/manager/modules/account-sidebar/src/shortcuts/controller.js
  packages/manager/modules/account-sidebar/src/shortcuts/index.js
  packages/manager/modules/account-sidebar/src/shortcuts/index.scss
  packages/manager/modules/account-sidebar/src/shortcuts/template.html
  packages/manager/modules/account-sidebar/src/user-infos/controller.js
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
Labels: universe-hub

#2507 Import @ovh-ux/codename-generator
  packages/manager/tools/codename-generator/CHANGELOG.md
  packages/manager/tools/codename-generator/LICENSE
  packages/manager/tools/codename-generator/README.md
  packages/manager/tools/codename-generator/bin/cli.js
  packages/manager/tools/codename-generator/data/sample.js
  packages/manager/tools/codename-generator/package.json
  packages/manager/tools/codename-generator/src/codename.js
  packages/manager/tools/codename-generator/src/combinator.js
  packages/manager/tools/codename-generator/src/index.js
  yarn.lock
Labels: component-migration

#2509 Import @ovh-ux/ng-at-internet
  CONTRIBUTORS
  packages/components/ng-at-internet/CHANGELOG.md
  packages/components/ng-at-internet/LICENSE
  packages/components/ng-at-internet/README.md
  packages/components/ng-at-internet/package.json
  packages/components/ng-at-internet/rollup.config.js
  packages/components/ng-at-internet/src/constants.js
  packages/components/ng-at-internet/src/directive.js
  packages/components/ng-at-internet/src/index.js
  packages/components/ng-at-internet/src/provider.js
  yarn.lock
Labels: component-migration

#2546 Fix/hub products search
  packages/manager/modules/hub/src/components/product-list/component.js
  packages/manager/modules/hub/src/components/product-list/controller.js
Labels: bug, universe-hub

#2554 fix(payment-mean): limit height and width of image
  packages/manager/modules/account-sidebar/src/payment-mean/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
Labels: bug, universe-hub

#2553 fix: handle overflow
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/dashboard/dashboard.scss
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/account-sidebar/src/index.scss
  packages/manager/modules/account-sidebar/src/template.html
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/order-tracking/index.scss
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.scss
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/template.html
  yarn.lock
Labels: bug, universe-hub

#2555 fix(account-sidebar): handle no bills case
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/billing-summary/translations/Messages_fr_FR.json
Labels: bug, universe-hub

#2556 fix(carousel): allow description to contain html
  packages/manager/modules/hub/src/components/carousel/carousel.html
Labels: bug, universe-hub

#2558 fix: prevent overflow from cropping content
  packages/manager/apps/hub/src/dashboard/dashboard.scss
  packages/manager/apps/hub/src/index.html
Labels: universe-hub

#2557 [VPS] fix database PostgreSQL missing label
  packages/manager/modules/vps/src/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/translations/Messages_fi_FI.json
  packages/manager/modules/vps/src/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/translations/Messages_lt_LT.json
  packages/manager/modules/vps/src/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/translations/Messages_pt_PT.json
Labels: feature, good first issue

#2564 feat(dashboard): display order dashboard only if there is no order
  packages/manager/apps/hub/src/dashboard/routing.js
Labels: enhancement, universe-hub

#2518 Import @ovh-ux/ng-ovh-contact
  CONTRIBUTORS
  packages/components/ng-ovh-contact/CHANGELOG.md
  packages/components/ng-ovh-contact/LICENSE
  packages/components/ng-ovh-contact/README.md
  packages/components/ng-ovh-contact/package.json
  packages/components/ng-ovh-contact/rollup.config.js
  packages/components/ng-ovh-contact/src/choice/component.js
  packages/components/ng-ovh-contact/src/choice/controller.js
  packages/components/ng-ovh-contact/src/choice/template.html
  packages/components/ng-ovh-contact/src/choice/templates/match.tpl.html
  packages/components/ng-ovh-contact/src/choice/templates/select.tpl.html
  packages/components/ng-ovh-contact/src/component.js
  packages/components/ng-ovh-contact/src/constants.js
  packages/components/ng-ovh-contact/src/controller.js
  packages/components/ng-ovh-contact/src/edit/component.js
  packages/components/ng-ovh-contact/src/edit/controller.js
  packages/components/ng-ovh-contact/src/edit/template.html
  packages/components/ng-ovh-contact/src/factory.js
  packages/components/ng-ovh-contact/src/index.js
  packages/components/ng-ovh-contact/src/index.less
  packages/components/ng-ovh-contact/src/provider.js
  packages/components/ng-ovh-contact/src/template.html
  packages/components/ng-ovh-contact/src/translations/Messages_fr_FR.json
  yarn.lock
Labels: component-migration, translation required

#2562 feat(payment-status): specify service type
  packages/manager/modules/hub/src/components/payment-status-tile/index.js
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Labels: enhancement, universe-hub

#2536 Import @ovh-ux/ng-ovh-doc-url
  packages/components/ng-ovh-contacts/rollup.config.js
  packages/components/ng-ovh-contacts/src/form/oui-ui-select-flag/choices.tpl.html
  packages/components/ng-ovh-contacts/src/form/oui-ui-select-flag/match.tpl.html
  packages/components/ng-ovh-contacts/src/form/oui-ui-select-flag/select.tpl.html
  packages/components/ng-ovh-contacts/src/form/ovh-contact-form.controller.js
  packages/components/ng-ovh-contacts/src/form/templates/ovh-contacts-form-fieldset.html
  packages/components/ng-ovh-contacts/src/form/templates/ovh-contacts-form-stepper.html
  packages/components/ng-ovh-contacts/src/helpers/ovh-contact.class.js
  packages/components/ng-ovh-contacts/src/helpers/ovh-contacts.helpers.js
  packages/components/ng-ovh-contacts/src/ovh-contacts.constants.js
  packages/components/ng-ovh-contacts/src/ovh-contacts.provider.js
  packages/components/ng-ovh-contacts/src/ovh-contacts.service.js
  packages/components/ng-ovh-doc-url/CHANGELOG.md
  packages/components/ng-ovh-doc-url/LICENSE
  packages/components/ng-ovh-doc-url/README.md
  packages/components/ng-ovh-doc-url/package.json
  packages/components/ng-ovh-doc-url/rollup.config.js
  packages/components/ng-ovh-doc-url/src/component.js
  packages/components/ng-ovh-doc-url/src/controller.js
  packages/components/ng-ovh-doc-url/src/index.js
  packages/components/ng-ovh-doc-url/src/provider.js
  packages/components/ng-ovh-doc-url/src/template.html
  yarn.lock
Labels: component-migration

#2538 Import @ovh-ux/ng-ovh-form-flat
  packages/components/ng-ovh-export-csv/rollup.config.js
  packages/components/ng-ovh-export-csv/src/directive.js
  packages/components/ng-ovh-export-csv/src/index.js
  packages/components/ng-ovh-export-csv/src/service.js
  packages/components/ng-ovh-form-flat/CHANGELOG.md
  packages/components/ng-ovh-form-flat/LICENSE
  packages/components/ng-ovh-form-flat/README.md
  packages/components/ng-ovh-form-flat/package.json
  packages/components/ng-ovh-form-flat/rollup.config.js
  packages/components/ng-ovh-form-flat/src/flat-checkbox/directive.js
  packages/components/ng-ovh-form-flat/src/flat-checkbox/index.less
  packages/components/ng-ovh-form-flat/src/flat-input-container/directive.js
  packages/components/ng-ovh-form-flat/src/flat-item/directive.js
  packages/components/ng-ovh-form-flat/src/flat-radio/directive.js
  packages/components/ng-ovh-form-flat/src/flat-radio/index.less
  packages/components/ng-ovh-form-flat/src/flat-select/directive.js
  packages/components/ng-ovh-form-flat/src/flat-select/index.less
  packages/components/ng-ovh-form-flat/src/flat-switch/directive.js
  packages/components/ng-ovh-form-flat/src/flat-switch/index.less
  packages/components/ng-ovh-form-flat/src/index.js
  packages/components/ng-ovh-form-flat/src/index.less
  yarn.lock
Labels: component-migration

#2539 Import @ovh-ux/ng-ovh-http
  packages/components/ng-ovh-form-flat/rollup.config.js
  packages/components/ng-ovh-form-flat/src/flat-checkbox/directive.js
  packages/components/ng-ovh-form-flat/src/flat-input-container/directive.js
  packages/components/ng-ovh-form-flat/src/flat-item/directive.js
  packages/components/ng-ovh-form-flat/src/flat-radio/directive.js
  packages/components/ng-ovh-form-flat/src/flat-select/directive.js
  packages/components/ng-ovh-form-flat/src/flat-select/index.less
  packages/components/ng-ovh-form-flat/src/flat-switch/directive.js
  packages/components/ng-ovh-form-flat/src/flat-switch/index.less
  packages/components/ng-ovh-form-flat/src/index.less
  packages/components/ng-ovh-http/CHANGELOG.md
  packages/components/ng-ovh-http/LICENSE
  packages/components/ng-ovh-http/README.md
  packages/components/ng-ovh-http/package.json
  packages/components/ng-ovh-http/rollup.config.js
  packages/components/ng-ovh-http/src/index.js
  packages/components/ng-ovh-http/src/provider.js
  yarn.lock
Labels: component-migration

#2540 Import @ovh-ux/ng-ovh-jquery-ui-draggable
  CONTRIBUTORS
  packages/components/ng-ovh-http/src/index.js
  packages/components/ng-ovh-http/src/provider.js
  packages/components/ng-ovh-jquery-ui-draggable/CHANGELOG.md
  packages/components/ng-ovh-jquery-ui-draggable/LICENSE
  packages/components/ng-ovh-jquery-ui-draggable/README.md
  packages/components/ng-ovh-jquery-ui-draggable/package.json
  packages/components/ng-ovh-jquery-ui-draggable/rollup.config.js
  packages/components/ng-ovh-jquery-ui-draggable/src/directive.js
  packages/components/ng-ovh-jquery-ui-draggable/src/index.js
  yarn.lock
Labels: component-migration

#2543 Import @ovh-ux/ng-ovh-proxy-request
  CONTRIBUTORS
  packages/components/ng-ovh-proxy-request/CHANGELOG.md
  packages/components/ng-ovh-proxy-request/LICENSE
  packages/components/ng-ovh-proxy-request/README.md
  packages/components/ng-ovh-proxy-request/package.json
  packages/components/ng-ovh-proxy-request/rollup.config.js
  packages/components/ng-ovh-proxy-request/src/index.js
  packages/components/ng-ovh-proxy-request/src/provider.js
  yarn.lock
Labels: component-migration

#2544 Import @ovh-ux/ng-ovh-responsive-tabs
  packages/components/ng-ovh-responsive-tabs/CHANGELOG.md
  packages/components/ng-ovh-responsive-tabs/LICENSE
  packages/components/ng-ovh-responsive-tabs/README.md
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/components/ng-ovh-responsive-tabs/rollup.config.js
  packages/components/ng-ovh-responsive-tabs/src/controller.js
  packages/components/ng-ovh-responsive-tabs/src/directive.js
  packages/components/ng-ovh-responsive-tabs/src/index.js
  packages/components/ng-ovh-responsive-tabs/src/more/directive.js
  packages/components/ng-ovh-responsive-tabs/src/more/template.html
  packages/components/ng-ovh-responsive-tabs/src/tab/directive.js
  packages/components/ng-ovh-responsive-tabs/src/tab/template-dropdown.html
  packages/components/ng-ovh-responsive-tabs/src/tab/template-url.html
  packages/components/ng-ovh-responsive-tabs/src/tab/template.html
  packages/components/ng-ovh-responsive-tabs/src/template.html
  yarn.lock
Labels: component-migration

#2547 Import @ovh-ux/ng-ovh-simple-country-list
  packages/components/ng-ovh-simple-country-list/CHANGELOG.md
  packages/components/ng-ovh-simple-country-list/LICENSE
  packages/components/ng-ovh-simple-country-list/README.md
  packages/components/ng-ovh-simple-country-list/package.json
  packages/components/ng-ovh-simple-country-list/rollup.config.js
  packages/components/ng-ovh-simple-country-list/src/constants.js
  packages/components/ng-ovh-simple-country-list/src/index.js
  packages/components/ng-ovh-simple-country-list/src/service.js
  yarn.lock
Labels: component-migration

#2516 Import @ovh-ux/ng-ovh-browser-alert
  CONTRIBUTORS
  packages/components/ng-ovh-browser-alert/CHANGELOG.md
  packages/components/ng-ovh-browser-alert/LICENSE
  packages/components/ng-ovh-browser-alert/README.md
  packages/components/ng-ovh-browser-alert/package.json
  packages/components/ng-ovh-browser-alert/rollup.config.js
  packages/components/ng-ovh-browser-alert/src/component.js
  packages/components/ng-ovh-browser-alert/src/constants.js
  packages/components/ng-ovh-browser-alert/src/controller.js
  packages/components/ng-ovh-browser-alert/src/index.js
  packages/components/ng-ovh-browser-alert/src/service.js
  packages/components/ng-ovh-browser-alert/src/template.html
  yarn.lock
Labels: component-migration

#2572 build(deps): add missing dependency
  packages/manager/apps/web/package.json
Labels: build, dependencies

#2574 fix(account-sidebar): hide nichandle if identical to email
  packages/manager/modules/account-sidebar/src/user-infos/template.html
Labels: bug, universe-hub

#2577 feat: add missing tracking
  packages/manager/apps/hub/src/assets/theme/button.scss
  packages/manager/apps/hub/src/dashboard/products-list/config.js
  packages/manager/apps/hub/src/dashboard/products-list/products-list.module.js
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/index.js
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/hub/src/components/order-tracking/template.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/support/template.html
  packages/manager/modules/hub/src/components/tile/tile.component.js
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/navbar/src/controller.js
  packages/manager/modules/navbar/src/index.js
  packages/manager/modules/navbar/src/notifications-menu/controller.js
  packages/manager/modules/navbar/src/template.html
Labels: enhancement, universe-hub

#2580 fix: move translations file
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_pl_PL.json
  packages/manager/modules/account-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/translations/Messages_pl_PL.json
Labels: universe-hub

#2563 fix(hub): expand sidebar only for dashboard
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/index.less
Labels: bug, universe-hub

#2573 fix(account-sidebar): add space between icon and text for payment mean
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
Labels: universe-hub

#2584 build(deps): add missing dependencies
  packages/manager/apps/public-cloud/package.json
Labels: build, dependencies

#2595 Import @ovh-ux/ng-ovh-user-pref
  packages/components/ng-ovh-user-pref/CHANGELOG.md
  packages/components/ng-ovh-user-pref/LICENSE
  packages/components/ng-ovh-user-pref/README.md
  packages/components/ng-ovh-user-pref/package.json
  packages/components/ng-ovh-user-pref/rollup.config.js
  packages/components/ng-ovh-user-pref/src/constant.js
  packages/components/ng-ovh-user-pref/src/index.js
  packages/components/ng-ovh-user-pref/src/provider.js
  yarn.lock
Labels: component-migration

#2596 Import @ovh-ux/ng-pagination-front
  CONTRIBUTORS
  packages/components/ng-pagination-front/CHANGELOG.md
  packages/components/ng-pagination-front/LICENSE
  packages/components/ng-pagination-front/README.md
  packages/components/ng-pagination-front/package.json
  packages/components/ng-pagination-front/rollup.config.js
  packages/components/ng-pagination-front/src/directive.js
  packages/components/ng-pagination-front/src/index.js
  packages/components/ng-pagination-front/src/template.html
  yarn.lock
Labels: component-migration

#2598 Import @ovh-ux/ng-tail-logs
  packages/components/ng-tail-logs/CHANGELOG.md
  packages/components/ng-tail-logs/LICENSE
  packages/components/ng-tail-logs/README.md
  packages/components/ng-tail-logs/package.json
  packages/components/ng-tail-logs/rollup.config.js
  packages/components/ng-tail-logs/src/component.js
  packages/components/ng-tail-logs/src/index.js
  packages/components/ng-tail-logs/src/index.less
  packages/components/ng-tail-logs/src/service.js
  packages/components/ng-tail-logs/src/template.html
  yarn.lock
Labels: component-migration

#2587 fix(hub): payment status table responsive style
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
Labels: bug, universe-hub

#2586 fix(hub): order tracking id style
  packages/manager/modules/hub/src/components/order-tracking/index.scss
  packages/manager/modules/hub/src/components/order-tracking/template.html
  packages/manager/modules/hub/src/components/order-tracking/translations/Messages_fr_FR.json
Labels: universe-hub

#2566 fix(account-sidebar): handle long user names
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/template.html
Labels: bug, universe-hub

#2588 fix(hub): handle payment status when no services
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.scss
  packages/manager/modules/hub/src/components/payment-status-tile/translations/Messages_fr_FR.json
Labels: bug, universe-hub

#2600 build(deps): add missing ng-ovh-form-flat dependency
  packages/manager/apps/dedicated/package.json
Labels: bug, build, dependencies

#2601 feat(redirection): add link to travaux for CA
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: enhancement, universe-hub

#2583 fix(products-list): add correct redirection for special configurations
  packages/manager/apps/hub/src/dashboard/products-list/exchange.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/index.js
  packages/manager/apps/hub/src/dashboard/products-list/ip.routing.js
  packages/manager/apps/hub/src/dashboard/products-list/sharepoint.routing.js
  packages/manager/apps/hub/src/dashboard/routing.js
Labels: bug, universe-hub

#2603 fix(ng-ovh-payment-method): default payment method
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
Labels: bug

#2576 fix(billing): correct credit order message
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-server

#2606 perf(list-packages): keep only needed properties
  scripts/list-packages.js
Labels: performance

#2210 feat(xdsl.access): retrieve price and model for exchange modem from api
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_FR.json
Labels: quality check: ok, translation required, universe-telecom

#2609 fix(hub): remove height 100%
  packages/manager/apps/hub/src/index.html
Labels: universe-hub

#2611 feat(notifications-list): update read/unread display
  packages/manager/modules/navbar/src/index.less
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/index.js
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/list.scss
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/template.html
  packages/manager/modules/navbar/src/notifications-menu/notifications-list/translations/Messages_fr_FR.json
Labels: enhancement, universe-hub

#2613 build(deps): add missing ng-ovh-http dependency
  packages/manager/apps/sms/package.json
Labels: bug, build, dependencies

#2615 feat(user-infos): display organisation if there is one
  packages/manager/modules/account-sidebar/src/user-infos/template.html
Labels: enhancement, universe-hub

#2614 fix(pci): update keystone migration message
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Labels: universe-cloud

#2608 fix(hub): remove view max width
  packages/manager/apps/hub/src/assets/theme/index.scss
  packages/manager/apps/hub/src/dashboard/catalog/catalog.scss
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.less
  packages/manager/apps/hub/src/index.scss
Labels: universe-hub

#2591 fix(web.hosting): set autopay only if default payment method exists
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
Labels: bug, quality check: ok

#2607 New release (hotfixes)
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Labels: release

#2626 fix(pci.projects.data-processing): fixed unused and missing translations
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/region-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/terminate-job/translations/Messages_en_GB.json
Labels: bug

#2548 feat(billing.orders): enable order tracking is us
  packages/manager/apps/dedicated/client/app/billing/billing-feature-availability.js
Labels: enhancement, quality check, universe-server

#2630 fix(billing): update sepa procedure message
  packages/manager/apps/dedicated/client/app/billing/payment/method/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/translations/Messages_fr_FR.json
Labels: bug

#2631 New release (hotfixes)
  packages/manager/apps/dedicated/client/app/billing/billing-feature-availability.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/translations/Messages_fr_FR.json
Labels: release

#2635 fix: fix sidebar width
  packages/manager/apps/hub/src/index.less
Labels: universe-hub

#2636 fix(user-infos): update oui-status style
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
Labels: universe-hub

#2621 feat(redirection): add order tracking for US region
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: feature, universe-hub

#2640 build(deps): upgrade ovh-api-services to v9.42.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2641 Add missing dependencies to the hub
  packages/manager/apps/hub/package.json
Labels: bug, universe-hub

#2642 build(deps): add missing dependencies
  packages/manager/apps/enterprise-cloud-database/package.json
Labels: bug, build, dependencies

#2639 fix: move translations to correct module
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/payment-mean/translations/Messages_pl_PL.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_pl_PL.json
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/user-infos/translations/Messages_pl_PL.json
Labels: bug, universe-hub

#2634 build: update dependencies according to breaking changes
  packages/components/ng-ovh-payment-method/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/banner/package.json
  packages/manager/modules/beta-preference/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/catalog-price/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/iplb/package.json
  packages/manager/modules/mfa-enrollment/package.json
  packages/manager/modules/nasha/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/product-offers/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/veeam-cloud-connect/package.json
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-module/lib/update-pkg.js
Labels: dependencies, universe-hub

#2628 docs: test purpose
  packages/manager/tools/component-rollup-config/README.md
Labels: documentation

#2649 fix(navbar): apply new style
  packages/manager/apps/hub/src/assets/theme/index.scss
  packages/manager/modules/navbar/src/index.js
  packages/manager/modules/navbar/src/index.scss
Labels: bug, universe-hub

#2648 feat(products): add style
  packages/manager/modules/hub/src/components/products/index.js
  packages/manager/modules/hub/src/components/products/index.scss
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Labels: universe-hub

#2646 fix(hub): billing style
  packages/manager/modules/hub/src/components/billing-summary/index.scss
  packages/manager/modules/hub/src/variables.scss
Labels: bug, universe-hub

#2644 fix(account-sidebar): styling & presentation
  packages/manager/modules/account-sidebar/src/payment-mean/index.scss
  packages/manager/modules/account-sidebar/src/payment-mean/template.html
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/index.scss
  packages/manager/modules/account-sidebar/src/user-infos/template.html
Labels: bug, universe-hub
