Repository ovh/manager, pull requests merged in 2020-10, with the labels that each got.

#3742 build(deps): add missing dependencies
  packages/manager/apps/dedicated/package.json
Labels: bug, universe-server

#3743 fix(locale): add flatpickr locale import
  packages/manager/apps/dedicated/client/app/app.js
Labels: bug, universe-server

#3749 build(deps): upgrade ovh-api-services
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#3725 build(scripts): add workspace option
  scripts/build.js
Labels: build

#3750 fix(sidebar): update US baremetal url
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, quality check: ok

#3759 fix(vps): remove maintenance message in US
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: bug, quality check: ok, universe-server

#3761 feat(sidebar): add order trackers
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/index.js
  packages/manager/modules/server-sidebar/src/order.constants.js
  packages/manager/modules/server-sidebar/src/web.constants.js
Labels: enhancement, quality check: ok, universe-server, universe-web

#3762 New release (hotfixes)
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/index.js
  packages/manager/modules/server-sidebar/src/order.constants.js
  packages/manager/modules/server-sidebar/src/web.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: release

#3760 Fix French typos in Private Cloud manager
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/translations/Messages_fr_FR.json
Labels: bug, good first issue, translation required, universe-server

#3640 fix(web): multisite ownlogs url & token
  packages/manager/apps/web/client/app/hosting/multisite/logs/hosting-multisite-logs.controller.js
Labels: bug, quality check: ok, universe-web

#3319 feat(pack.migration): rework on building details pto input
  packages/manager/apps/telecom/src/app/app.less
  packages/manager/apps/telecom/src/app/telecom/pack/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/telecom-pack-migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/telecom-pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/migration/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/migration/pack-migration-migration.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/migration/pack-migration-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/migration/pack-migration-migration.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/migration/telecom-pack-migration-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/telecom-pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.less
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/telecom-pack-migration-service-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/shipping/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/shipping/pack-migration-shipping.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/shipping/pack-migration-shipping.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/shipping/pack-migration-shipping.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/shipping/telecom-pack-migration-shipping.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/telecom-pack-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/telecom-pack-migration.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/telecom-pack-migration.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/pack.bundle.js
Labels: feature, quality check: ok, refactor, translation required, universe-telecom

#3777 fix(scripts): check if dependencies scripts exists
  packages/manager/apps/enterprise-cloud-database/package.json
Labels: bug, build

#3775 build: update dependencies
  packages/components/ng-ovh-mondial-relay/package.json
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: build, dependencies

#3776 fix(plugins.uirouter): check if item key is defined
  packages/manager/tools/component-rollup-config/src/plugins/translation-ui-router.ts
Labels: bug, build

#3770 fix(domain.tasks): merge domain & zone tasks
  packages/manager/apps/web/client/app/domain/tasks/domain-tasks.controller.js
Labels: bug, quality check, universe-web

#3790 fix(sidebar): behaviour order action menu items
  packages/components/ng-ovh-actions-menu/src/item/factory.js
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug

#3791 fix(vps.dashboard): remove maintenance message
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fi_FI.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_lt_LT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: bug, universe-server

#3792 New release (hotfixes)
  packages/components/ng-ovh-actions-menu/src/item/factory.js
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fi_FI.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_lt_LT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: release

#3745 feat(features): retrieve features dynamically
  packages/manager/modules/server-sidebar/src/constants.js
  packages/manager/modules/server-sidebar/src/controller.js
Labels: enhancement, universe-server, universe-web

#3707 fix(telephony): programmablekey BLF parameters sorted
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/telecom-telephony-line-phone-programmableKeys-edit.controller.js
Labels: bug, quality check: ok, universe-telecom

#3806 fix: update name data display
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.routing.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/account/logs-home-account.modal.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.routing.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.html
  packages/manager/modules/dbaas-logs/src/logs/header/header.component.js
  packages/manager/modules/dbaas-logs/src/logs/header/logs-dashboard-header.controller.js
  packages/manager/modules/dbaas-logs/src/logs/header/logs-dashboard-header.html
Labels: bug, refactor

#3808 fix(hosting): prevent email activation if it is not possible
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
Labels: bug, quality check: ok, universe-web

#3811 fix: comment adjustment
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.controller.js
Labels: bug, univers-public-cloud

#3809 fix(billing): use component binding instead of scope variable
  packages/manager/modules/billing/src/components/services-actions/services-actions.html
Labels: bug, universe-hub, universe-server

#3747 feat(pci.load-balancer): add region on datagrid list for lbaas
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.html
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, univers-public-cloud

#3818 fix(services-action): allow to resiliate deletable service if possible
  packages/manager/modules/billing/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing/src/components/services-actions/services-actions.html
Labels: bug, quality check: ok

#3822 fix(config.constants): update baremetal url in US
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: bug, universe-server

#3823 hotfix(kube): wrong create button name in new node pool page
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_lt_LT.json
Labels: bug, quality check, univers-public-cloud

#3667 refactor(sharepoint): replace apiv7 with iceberg
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sharepoint/src/order/sharepoint-order.controller.js
  packages/manager/modules/sharepoint/src/sharepoint.service.js
Labels: quality check: ok, refactor, universe-web

#3683 refactor(exchange): replace apiv7 calls with iceberg
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/exchange.controller.js
  packages/manager/modules/exchange/src/exchange.routes.js
  packages/manager/modules/exchange/src/exchange.service.js
  packages/manager/modules/exchange/src/exchange.tabs.controller.js
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/information/information.controller.js
  packages/manager/modules/exchange/src/office-attach/dialog/office-attach-dialog.controller.js
  packages/manager/modules/exchange/src/order/order.controller.js
Labels: quality check: ok, refactor, universe-web

#3796 perf(ip): improve loading time
  packages/manager/apps/dedicated/client/app/ip/ip.app.js
  packages/manager/apps/dedicated/client/app/ip/ip/block/move/ip-ip-block-move.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/mitigation/ip-ip-mitigation.service.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: bug, performance, quality check: ok, universe-server

#3814 fix(pci.instance.edit): pass region parameter
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.routing.js
Labels: bug, quality check: ok, univers-public-cloud

#3828 feat(vps.dashboard): add warning message for maintenance
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fi_FI.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_lt_LT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: enhancement, quality check: ok, universe-server

#3831 refactor: remove extra cypress.json file [skip ci]
  packages/manager/apps/freefax/cypress.json
  packages/manager/apps/overthebox/cypress.json
  packages/manager/apps/telecom-task/cypress.json
Labels: refactor

#3800 fix(telephony.line.management.terminate): add missing terminate info
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/terminate/telecom-telephony-line-management-terminate.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/terminate/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-telecom

#3839 fix: replace flatten usage
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order-offer.class.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
Labels: bug, universe-server, universe-web

#3842 fix(web.privatedb): hide order ram button in oom modal if not possible
  packages/manager/apps/web/client/app/private-database/oom/private-database-oom.controller.js
  packages/manager/apps/web/client/app/private-database/oom/private-database-oom.html
Labels: bug, quality check: ok, universe-web

#3837 fix(snapshot.order): get offer by capacity instead of duration
  packages/manager/modules/vps/src/snapshot/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/snapshot/order/vps-snapshot-order.controller.js
Labels: bug, quality check: ok, translation required, universe-server

#3838 fix(dedicated): account migration banner
  packages/manager/modules/account-migration/src/migration.class.js
  packages/manager/modules/account-migration/src/notification/notification.html
Labels: bug, quality check: ok, universe-cloud, universe-server, universe-telecom, universe-web

#3847 Hotfix w40
  packages/manager/apps/web/client/app/private-database/oom/private-database-oom.controller.js
  packages/manager/apps/web/client/app/private-database/oom/private-database-oom.html
  packages/manager/modules/account-migration/src/migration.class.js
  packages/manager/modules/account-migration/src/notification/notification.html
  packages/manager/modules/vps/src/snapshot/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/snapshot/order/vps-snapshot-order.controller.js
Labels: bug, release

#3850 refactor: add isDeleting method to Instance class
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: refactor, univers-public-cloud

#3547 fix(project.instances): disable deleting instance
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: bug, quality check: ok, univers-public-cloud

#3829 feat: add information for CZ and LT
  packages/manager/modules/account-migration/package.json
  packages/manager/modules/account-migration/src/constants.js
  packages/manager/modules/account-migration/src/index.js
  packages/manager/modules/account-migration/src/service.js
Labels: feature, quality check: ok

#3841 fix(web): human readable private database versions
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.routing.js
  packages/manager/apps/web/client/app/private-database/private-database.constants.js
  packages/manager/apps/web/client/app/private-database/private-database.service.js
Labels: bug, quality check: ok, universe-web

#3864 fix(pci): null instance price
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, quality check: ok, univers-public-cloud

#3866 fix: get option price by capacity instead of duration
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.controller.js
  packages/manager/modules/vps/src/backup-storage/order/vps-backup-storage-order.controller.js
  packages/manager/modules/vps/src/upgrade/vps-upgrade.controller.js
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.controller.js
  packages/manager/modules/vps/src/windows/order/vps-windows-order.controller.js
Labels: bug, quality check: ok, universe-server

#3870 fix(nasha.order): filter offers by datacenter
  packages/manager/modules/nasha/src/add/nasha-add.controller.js
  packages/manager/modules/nasha/src/add/nasha-add.html
  packages/manager/modules/nasha/src/add/nasha-add.service.js
  packages/manager/modules/nasha/src/add/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/add/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/add/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/add/translations/Messages_es_US.json
  packages/manager/modules/nasha/src/add/translations/Messages_fi_FI.json
  packages/manager/modules/nasha/src/add/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/add/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/add/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/add/translations/Messages_lt_LT.json
  packages/manager/modules/nasha/src/add/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/add/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-server

#3849 feat(license): use agora order for vps
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/images/license/PLESK12_medium.png
  packages/manager/apps/dedicated/client/app/license/license.bundle.js
  packages/manager/apps/dedicated/client/app/license/license.module.js
  packages/manager/apps/dedicated/client/app/license/order/agoraOrder/license-agoraOrder.service.js
  packages/manager/apps/dedicated/client/app/license/order/license-order-dedicated.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order-dedicated.html
  packages/manager/apps/dedicated/client/app/license/order/license-order-legacy.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order-legacy.html
  packages/manager/apps/dedicated/client/app/license/order/license-order-vps.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order-vps.html
  packages/manager/apps/dedicated/client/app/license/order/license-order.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.html
  packages/manager/apps/dedicated/client/app/license/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pt_PT.json
  packages/manager/modules/filters/src/duration-iso8601/duration-iso8601.filter.js
  packages/manager/modules/filters/src/duration-iso8601/index.js
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_de_DE.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_en_GB.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_es_ES.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_fi_FI.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_fr_CA.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_fr_FR.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_it_IT.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_lt_LT.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_pl_PL.json
  packages/manager/modules/filters/src/duration-iso8601/translations/Messages_pt_PT.json
  packages/manager/modules/filters/src/index.js
Labels: bug, quality check: ok, translation required, universe-server

#3873 fix(provider): add trailing slash in order to avoid 301
  packages/components/ng-ovh-sso-auth/src/provider.js
Labels: enhancement

#3874 fix(deps): add missing dependency
  packages/manager/apps/cloud/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
Labels: bug

#3755 fix(telephony.group.consumption.pie-chart): improve responsiveness
  packages/manager/apps/telecom/src/components/telecom/telephony/group/consumption/pie-chart/telephony-group-consumption-pie-chart.directive.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/consumption/pie-chart/telephony-group-consumption-pie-chart.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/consumption/pie-chart/telephony-group-consumption-pie-chart.less
Labels: bug, universe-telecom

#3879 refactor(new): rename ovhFeatureFlipping to ovhPciFeatureFlipping
  packages/manager/modules/pci/src/projects/new/components/feature-flipping/index.js
  packages/manager/modules/pci/src/projects/new/config/routing.js
  packages/manager/modules/pci/src/projects/new/index.js
Labels: refactor, univers-public-cloud

#3881 fix(deps): force flatpickr version to 4.6.3
  package.json
  yarn.lock
Labels: bug

#3878 fix(project.new): avoid creating payment mean if it is credit
  packages/manager/modules/pci/src/projects/new/payment/controller.js
Labels: bug, quality check: ok, univers-public-cloud

#3887 build: update repository.url entry
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/sao-ovh-manager-app/package.json
  packages/manager/tools/sao-ovh-manager-module/package.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-dev-server/package.json
Labels: build

#3882 fix(telecom.v4-links): remove hit if no tracking on action
  packages/manager/modules/telecom-universe-components/src/telecom/v4-links/v4-link/telecom-v4-link.html
Labels: bug, quality check: ok, universe-telecom

#3886 fix(nas): remove order section for old nas references
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/nas-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/nas-order.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/nas-order.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/validation/nas-order-validation.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/order/validation/nas-order-validation.html
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, universe-server

#3888 fix: correct redirection url to order funnel
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: bug, universe-server

#3892 fix(xdsl.move): change label for move out date
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required, universe-telecom

#3891 fix(dedicated): email domain terminate
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/terminateEmail/email.module.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/terminateEmail/email.routing.js
Labels: bug, quality check: ok

#3612 feat(xdsl.meetings): meetings view for xdsl new line creation
  packages/manager/apps/telecom/src/app/app.less
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/meetings/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/meetings/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/meetings/xdsl-meetings.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/meetings/xdsl-meetings.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/meetings/xdsl-meetings.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/meetings/xdsl-meetings.less
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/meetings/xdsl-meetings.routing.js
Labels: feature, quality check: ok, translation required, universe-telecom

#3896 fix(monitoring-sla): allow to activate monitoring
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: bug, quality check: ok, universe-server

#3646 feat(xdsl.modem): add acs backend config
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/acsBackend/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/acsBackend/modem-acsBackend.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/acsBackend/modem-acsBackend.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/acsBackend/modem-acsBackend.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/acsBackend/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/pack-xdsl-modem.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-telecom

#3904 fix(constants): add missing trailing slash for order url
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: bug, universe-server

#3905 fix(validator): avoid null ip errors
  packages/manager/modules/telecom-universe-components/src/validator/index.js
Labels: bug, quality check, universe-telecom

#3857 fix(pack.move.offers): update services to delete
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
Labels: bug, quality check: ok, universe-telecom

#3906 New release (hotfix)
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/modules/telecom-universe-components/src/validator/index.js
Labels: release

#3911 fix(instances): remove unterminated quote
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: bug, univers-public-cloud

#3907 fix(ip): virtual mac selector
  packages/manager/apps/dedicated/client/app/ip/ip/virtual-mac/add/ip-ip-virtual-mac-add.controller.js
Labels: bug, quality check: ok, universe-server

#3912 docs: update links to rely on the new organization name [skip ci]
  packages/components/ng-at-internet-ui-router-plugin/README.md
  packages/components/ng-at-internet/README.md
  packages/components/ng-ovh-actions-menu/README.md
  packages/components/ng-ovh-actions-menu/src/index.js
  packages/components/ng-ovh-actions-menu/src/item/index.js
  packages/components/ng-ovh-line-diagnostics/README.md
  packages/components/ng-ovh-mondial-relay/README.md
  packages/components/ng-ovh-responsive-page-switcher/README.md
  packages/components/ng-ovh-sidebar-menu/README.md
  packages/components/ng-ovh-timeline/README.md
  packages/components/ng-ovh-toaster/README.md
  packages/components/ng-ovh-ui-confirm-modal/README.md
  packages/components/ng-ui-router-breadcrumb/package.json
  packages/components/ng-ui-router-title/package.json
  packages/manager/apps/cloud/README.md
  packages/manager/apps/dedicated/README.md
  packages/manager/apps/telecom/README.md
  packages/manager/apps/web/README.md
  packages/manager/modules/carrier-sip/README.md
  packages/manager/modules/cloud-universe-components/README.md
  packages/manager/modules/telecom-universe-components/README.md
  packages/manager/modules/web-universe-components/README.md
  packages/manager/tools/component-rollup-config/README.md
  packages/manager/tools/dev-server-config/README.md
  packages/manager/tools/dev-server/README.md
  packages/manager/tools/webpack-config/README.md
  packages/manager/tools/webpack-dev-server/README.md
Labels: documentation

#3917 refactor(hosting): move beta term into translations files
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
Labels: refactor, universe-web

#3916 feat(hosting): add beta badge to statistics & logs shortcut
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
Labels: enhancement, quality check: ok, universe-web

#3920 feat(navbar): rename web & server universes
  packages/manager/apps/dedicated/client/app/common/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/core/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/core/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/core/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/core/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/core/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/core/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/core/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/core/translations/Messages_pt_PT.json
  packages/manager/modules/navbar/src/translations/Messages_de_DE.json
  packages/manager/modules/navbar/src/translations/Messages_en_GB.json
  packages/manager/modules/navbar/src/translations/Messages_es_ES.json
  packages/manager/modules/navbar/src/translations/Messages_fi_FI.json
  packages/manager/modules/navbar/src/translations/Messages_fr_CA.json
  packages/manager/modules/navbar/src/translations/Messages_fr_FR.json
  packages/manager/modules/navbar/src/translations/Messages_it_IT.json
  packages/manager/modules/navbar/src/translations/Messages_lt_LT.json
  packages/manager/modules/navbar/src/translations/Messages_pl_PL.json
  packages/manager/modules/navbar/src/translations/Messages_pt_PT.json
Labels: enhancement, univers-public-cloud, universe-cloud, universe-hub, universe-server, universe-telecom, universe-web

#3922 New release
  packages/manager/apps/cloud-connect/src/index.js
  packages/manager/apps/cloud/client/app/index.js
  packages/manager/apps/dedicated/client/app/common/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/telecom/src/app/index.js
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/core/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/core/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/core/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/core/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/core/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/core/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/core/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/core/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/index.js
  packages/manager/modules/navbar/src/translations/Messages_de_DE.json
  packages/manager/modules/navbar/src/translations/Messages_en_GB.json
  packages/manager/modules/navbar/src/translations/Messages_es_ES.json
  packages/manager/modules/navbar/src/translations/Messages_fi_FI.json
  packages/manager/modules/navbar/src/translations/Messages_fr_CA.json
  packages/manager/modules/navbar/src/translations/Messages_fr_FR.json
  packages/manager/modules/navbar/src/translations/Messages_it_IT.json
  packages/manager/modules/navbar/src/translations/Messages_lt_LT.json
  packages/manager/modules/navbar/src/translations/Messages_pl_PL.json
  packages/manager/modules/navbar/src/translations/Messages_pt_PT.json
  packages/manager/modules/preloader/src/constants.js
  packages/manager/modules/preloader/src/index.js
  packages/manager/modules/preloader/src/style.css
  packages/manager/modules/preloader/src/template.js
  packages/manager/tools/sao-ovh-manager-app/template/src/index.js
Labels: release

#3929 fix(ccs.lines): fix edit remove template
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/lines/lines.controller.js
Labels: bug, universe-telecom

#3930 fix(sms): correct typo on sms module injected provider
  packages/manager/modules/sms/src/sms.module.js
Labels: bug, universe-telecom

#3931 fix(svagenerator): fix sva generator config
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/svaGenerator/svaGenerator.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/svaGenerator/sva-generator.constant.js
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/svaGenerator/sva-generator.directive.js
Labels: bug, universe-telecom

#3932 New release (hotfix)
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/lines/lines.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/svaGenerator/svaGenerator.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/svaGenerator/sva-generator.constant.js
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/svaGenerator/sva-generator.directive.js
  packages/manager/modules/sms/src/sms.module.js
Labels: release

#3936 fix(sidebar): update overthebox url
  packages/manager/apps/telecom/src/components/sidebar/sidebar.constants.js
Labels: bug, quality check: ok, universe-telecom

#3925 fix(order.constants): update hpc urls
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, universe-bare-metal-cloud

#3938 fix(pack.xdsl.line): avoid to duplicate serviceName in url
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.routing.js
Labels: bug, universe-telecom

#3941 fix(pack.migration): restore migration page
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/pack.module.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.routing.js
Labels: bug, universe-telecom

#3946 fix(components.catalog-items): avoid duplicate track by keys
  packages/manager/modules/hub/src/components/catalog-items/template.html
Labels: bug, universe-hub

#3949 fix(redirect.config): restore config for redirect featureType
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/configuration.routing.js
Labels: bug, quality check: ok, universe-telecom

#3942 fix(project.users): only use region with storage capacity
  packages/manager/modules/pci/src/projects/project/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/users/users.service.js
Labels: bug, quality check: ok, univers-public-cloud

#3933 fix(hosting): add `track by` to ensure that "More" tab will always be displayed
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.html
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud

#3928 fix(domain): fix ds records edition
  packages/manager/apps/web/client/app/domain/dnssec/DNSSEC.html
  packages/manager/apps/web/client/app/domain/dnssec/domain-dnssec.controller.js
  packages/manager/apps/web/client/app/domain/dnssec/domain-dnssec.state.js
Labels: bug, universe-web-cloud

#3893 fix(hosting.cdn): prevent checkout autopay if there are no payment mean
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#3952 fix(license.vps): match license type according to pattern
  packages/manager/apps/dedicated/client/app/license/order/license-order-vps.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#3955 fix(sidebar): open otb link in new window
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
Labels: bug, universe-telecom

#3953 New release (hotfix)
  packages/manager/apps/dedicated/client/app/license/order/license-order-vps.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/configuration.routing.js
  packages/manager/apps/telecom/src/components/sidebar/sidebar.config.js
  packages/manager/apps/web/client/app/domain/dnssec/DNSSEC.html
  packages/manager/apps/web/client/app/domain/dnssec/domain-dnssec.controller.js
  packages/manager/apps/web/client/app/domain/dnssec/domain-dnssec.state.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.html
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/users/users.service.js
Labels: release
