Repository ovh/manager, pull requests merged in 2020-02, with the labels that each got.

#2185 build: add vuepress:prebuild command
  .gitignore
  docs/.vuepress/public/assets/json/.gitkeep
  docs/.vuepress/public/assets/json/packages.json
  package.json
Labels: build

#2175 fix(pci.project.kubernetes): remove static region setting
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
Labels: bug

#2099 fix(pci-flavors-list): add addon information
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required

#2094 Feat/exchange mfa
  packages/manager/modules/exchange/README.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/account/account.service.js
  packages/manager/modules/exchange/src/account/home/account-home.controller.js
  packages/manager/modules/exchange/src/account/home/account-home.html
  packages/manager/modules/exchange/src/account/mfa/account-mfa.controller.js
  packages/manager/modules/exchange/src/account/mfa/account-mfa.html
  packages/manager/modules/exchange/src/account/mfa/bulk-create.html
  packages/manager/modules/exchange/src/account/mfa/bulk-delete.html
  packages/manager/modules/exchange/src/account/mfa/create/create.component.js
  packages/manager/modules/exchange/src/account/mfa/create/create.controller.js
  packages/manager/modules/exchange/src/account/mfa/create/create.html
  packages/manager/modules/exchange/src/account/mfa/create/index.js
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/mfa/delete/delete.component.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.controller.js
  packages/manager/modules/exchange/src/account/mfa/delete/delete.html
  packages/manager/modules/exchange/src/account/mfa/delete/index.js
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/remove/account-remove.controller.js
  packages/manager/modules/exchange/src/account/remove/account-remove.html
  packages/manager/modules/exchange/src/configure/service-configure.controller.js
  packages/manager/modules/exchange/src/configure/service-configure.html
  packages/manager/modules/exchange/src/exchange.html
  packages/manager/modules/exchange/src/exchange.service.js
  packages/manager/modules/exchange/src/exchange.tabs.controller.js
  packages/manager/modules/exchange/src/exchange.template.js
  packages/manager/modules/exchange/src/exchangeControllers.module.js
  packages/manager/modules/exchange/src/exchangeServices.module.js
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/index.js
  packages/manager/modules/exchange/src/security/security.controller.js
  packages/manager/modules/exchange/src/security/security.html
  packages/manager/modules/exchange/src/services/exchange.selectedService.service.js
  packages/manager/modules/exchange/src/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required

#2166 feat(pci): instance creation automated backup
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/index.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/workflow/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/add/general/general.html
  packages/manager/modules/pci/src/projects/project/workflow/add/schedule/schedule.component.js
  packages/manager/modules/pci/src/projects/project/workflow/add/schedule/schedule.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required

#2190 fix(web): private sql activation
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.html
Labels: bug, quality check: ok

#2191 feat(cloud.logs): new supported protocol
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/home/formatsports/logs-home-formatsports.html
  packages/manager/apps/cloud/client/app/dbaas/logs/logs-constants.js
Labels: feature, quality check: ok

#2192 build(deps): set compatible semver range
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/office/package.json
Labels: dependencies

#2177 fix(pci.project): change message for eol old interface
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required

#2205 fix(cloud.logs): skeleton on stream archives
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/streams/archives/streams-archives.html
Labels: bug

#2153 Refactor/wuc order cart documentation
  packages/manager/modules/web-universe-components/src/order-cart/order-cart.constants.js
  packages/manager/modules/web-universe-components/src/order-cart/order-cart.service.js
Labels: refactor

#2209 feat(billing.orders): add tracking link on order status
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.controller.js
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders.html
  packages/manager/apps/dedicated/client/app/billing/orders/orders.routing.js
Labels: enhancement, quality check: ok, universe-dedicated

#2211 build: sort package.json files
  packages/components/ng-ovh-contracts/package.json
  packages/components/ng-ovh-order-tracking/package.json
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-sso-auth-modal-plugin/package.json
  packages/components/ng-ovh-sso-auth/package.json
  packages/components/ng-ui-router-breadcrumb/package.json
  packages/components/ng-ui-router-layout/package.json
  packages/components/ng-ui-router-line-progress/package.json
  packages/components/ng-ui-router-title/package.json
  packages/manager/modules/banner/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/config/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/request-tagger/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-dev-server/package.json
Labels: build

#2215 docs: remove update-readme script
  package.json
  scripts/update-readme.js
  yarn.lock
Labels: build, documentation

#2216 fix(telecom.plugandfax.settings): add translations path
  packages/manager/apps/telecom/src/app/telecom/telephony/line/fax/settings/telecom-telephony-line-fax-settings.js
Labels: bug, quality check: ok, universe-telecom

#2217 fix(billing.payment.method.add): new contact model in US
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/views/billingContact/index.html
Labels: bug, quality check: ok, universe-dedicated

#2213 fix(telephony.alias.ccs.sounds): set maxWaitTime in seconds
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/sounds/telecom-telephony-alias-configuration-sounds.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/sounds/telecom-telephony-alias-configuration-sounds.html
Labels: bug, quality check: ok, universe-telecom

#2189 feat(pci.instances): provide a refresh action
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: feature, quality check: ok

#2235 build(deps): upgrade ng-tail-logs to v2.0.2
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2237 docs(guide): add localhost URL with port used
  docs/guide/applications.md
Labels: documentation

#2240 build(deps): upgrade ng-ovh-sidebar-menu to v8.5.1
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/iplb/package.json
  packages/manager/modules/server-sidebar/package.json
  yarn.lock
Labels: bug, quality check

#2244 fix(telephony.portability): display full list
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/telecom-telephony-alias-portability-portabilities.service.js
Labels: bug, quality check: ok, universe-telecom

#2204 feat(exchange.external-contacts): use datagrid component through iceberg
  packages/manager/modules/exchange/src/external-contact/external-contact.controller.js
  packages/manager/modules/exchange/src/external-contact/external-contact.html
Labels: enhancement, feature, performance, refactor, universe-dedicated, universe-web

#2250 fix(cloud.logs): reduce polling interval to 3s
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/logs-helper.service.js
Labels: bug, quality check: ok

#2231 feat(dedicated.billing.history): add date filter to url
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.controller.js
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.html
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.routes.js
Labels: enhancement, quality check: ok

#2241 fix(telephony.line.phone.configuration): add config translations
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/configuration/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required, universe-telecom

#2248 fix(email.redirect): display management link when quota exceeded
  packages/manager/apps/web/client/app/email-domain/email/account/email-domain-email-account.html
  packages/manager/apps/web/client/app/email-domain/email/redirection/email-domain-email-redirection.html
Labels: bug, quality check: ok, universe-web

#2251 feat(dedicated.server.interfaces): add guides url for all subs
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.constants.js
Labels: feature, quality check: ok

#2239 fix(web): private database activation
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
Labels: bug, quality check: ok

#2207 feat(pci.project.private-registry): add billing
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/billing/index.js
  packages/manager/modules/pci/src/components/project/billing/private-registry/component.js
  packages/manager/modules/pci/src/components/project/billing/private-registry/controller.js
  packages/manager/modules/pci/src/components/project/billing/private-registry/index.html
  packages/manager/modules/pci/src/components/project/billing/private-registry/index.js
  packages/manager/modules/pci/src/components/project/billing/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/billing.service.js
Labels: feature, quality check: ok, translation required

#2226 fix(enterprise-cloud-database.create): add missing label and contracts
  packages/manager/modules/enterprise-cloud-database/src/create/create.html
  packages/manager/modules/enterprise-cloud-database/src/payment-info/payment-info.html
  packages/manager/modules/enterprise-cloud-database/src/payment-info/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required, universe-dedicated

#2258 build: bump ovh-api-services, ovh-ui-angular and ovh-ui-kit
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: dependencies

#2227 fix(hub-tile): add hub tile component
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/tile/index.js
  packages/manager/modules/hub/src/components/tile/tile.component.js
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/hub/src/components/tile/tile.less
  packages/manager/modules/hub/src/index.js
Labels: bug

#2257 fix(dbaas.logs.detail.inputs.console): set right component name
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/console/logs-inputs-console.html
Labels: bug, quality check: ok

#2259 New release (fix mercury-lizard-3)
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/console/logs-inputs-console.html
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_fi_FI.json
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_lt_LT.json
  packages/manager/modules/exchange/src/account/mfa/create/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_fi_FI.json
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_lt_LT.json
  packages/manager/modules/exchange/src/account/mfa/delete/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/translations/Messages_fi_FI.json
  packages/manager/modules/exchange/src/translations/Messages_lt_LT.json
  packages/manager/modules/exchange/src/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/workflow/add/translations/Messages_pl_PL.json
Labels: bug, release

#2268 build: upgrade oui-angular to latest
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2173 Feat/private registry upgrade
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/RegistryPlan.class.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/component.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/styles.less
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/template.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.html
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/upgrade-plan/upgrade-plan.routing.js
  yarn.lock
Labels: feature, quality check, translation required

#2174 feat(pci.projects.private-registry): add component for offer selection
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/RegistryPlan.class.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/component.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/styles.less
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/template.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/plan-upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.html
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.module.js
Labels: feature

#2238 Feat/private registry create
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/create/index.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
Labels: feature

#2165 feat(pci.project.private-registry): change guides urls
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.html
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
Labels: feature

#2212 refactor: remove unused welcome module
  packages/manager/modules/welcome/CHANGELOG.md
  packages/manager/modules/welcome/LICENSE
  packages/manager/modules/welcome/README.md
  packages/manager/modules/welcome/package.json
  packages/manager/modules/welcome/rollup.config.js
  packages/manager/modules/welcome/src/index.js
  packages/manager/modules/welcome/src/manager-welcome.component.js
  packages/manager/modules/welcome/src/manager-welcome.html
  packages/manager/modules/welcome/src/manager-welcome.routes.js
Labels: refactor

#2273 build: bump ovh-api-services to ^9.38.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2277 fix(pci.project.add): add fallback for automated backup price
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, quality check: ok, universe-cloud

#2287 build(deps): upgrade ovh-ui-kit-bs to v2.3.1
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/telecom-styles/package.json
  yarn.lock
Labels: bug, dependencies

#2290 feat(pci.serving): fix transclude + traduction key in models.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/models.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/tokens/tokens.html
  packages/manager/modules/pci/src/projects/project/serving/serving.html
Labels: bug

#2285 feat(exchange): add url without offer and redirect
  packages/manager/modules/exchange/src/exchange.routes.js
Labels: enhancement

#2294 Fix/yarn lock
  yarn.lock
Labels: build

#2296 fix(pci.project.sidebar): set the right color for the beta status badge
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug, quality check: ok

#2295 feat(core): add redirection service
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/core/src/redirection/redirection.service.js
Labels: feature

#2242 Fix/manager 4343
  packages/manager/modules/sign-up/src/form/details/details.html
Labels: bug, quality check: ok

#2269 feat(hub): add billing summary tile
  packages/manager/apps/hub/src/index.js
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/billing-summary/assets/background.svg
  packages/manager/modules/hub/src/components/billing-summary/component.js
  packages/manager/modules/hub/src/components/billing-summary/controller.js
  packages/manager/modules/hub/src/components/billing-summary/index.js
  packages/manager/modules/hub/src/components/billing-summary/index.scss
  packages/manager/modules/hub/src/components/billing-summary/template.html
  packages/manager/modules/hub/src/components/billing-summary/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
Labels: feature, translation required, universe-hub

#2298 feat(hub): add products listing
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/index.js
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/index.scss
  packages/manager/apps/hub/src/routing.js
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/tile/tile.html
  packages/manager/modules/hub/src/components/tile/tile.less
  packages/manager/modules/hub/src/index.js
  packages/manager/modules/hub/src/products/index.js
  packages/manager/modules/hub/src/products/products.component.js
  packages/manager/modules/hub/src/products/products.html
  packages/manager/modules/hub/src/products/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hub

#2297 feat(sign-up): update phone country on country change
  packages/manager/modules/sign-up/src/form/details/details.controller.js
  packages/manager/modules/sign-up/src/form/details/details.html
Labels: bug, quality check: ok

#2311 fix: remove duplicate import
  packages/manager/apps/hub/src/index.js
Labels: bug

#2309 fix(hub.user-panel): fix positioning
  packages/manager/apps/hub/src/index.html
  packages/manager/modules/hub/src/components/user-panel/index.scss
Labels: universe-hub

#2232 feat(hub): update level2 value
  packages/manager/apps/hub/src/components/at-internet/at-internet.constant.js
Labels: universe-hub

#2316 fix(support.ticket): add missing translation
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: bug, translation required

#2314 fix(pci.compute): disable baremetal instances for us region
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: bug, quality check: ok

#2312 docs: add example
  packages/components/ng-ui-router-title/examples/index.html
Labels: documentation

#2283 feat(hub): add carousel component
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/routing.js
  packages/manager/apps/hub/src/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/carousel/carousel.component.js
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/carousel/styles.less
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
  yarn.lock
Labels: feature, translation required, universe-hub

#2321 feat(pci.project.banner): keystone migration alert
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.less
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Labels: feature, quality check: ok

#2328 feat(dedicatedCloud-datacenter-backup): add create backup offer
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/package.json
  yarn.lock
Labels: enhancement

#2335 refactor(hub): move products component
  packages/manager/modules/hub/src/components/products/index.js
  packages/manager/modules/hub/src/components/products/products.component.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
Labels: universe-hub

#2327 Feat/veeam backup page
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.class.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.less
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/translations/Messages_fr_FR.json
Labels: feature

#2334 fix(dedicated.server): force autopay bandwidth in us
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_FR.json
Labels: bug, universe-server

#2338 fix(pci.instances): notification instances baremetal early adopter
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pt_PT.json
Labels: enhancement, quality check: ok, universe-cloud

#2339 New release
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pt_PT.json
Labels: release

#2299 refactor(core): remove ovh-api-services
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/core/src/session/session.service.js
Labels: breaking-change, refactor

#2345 fix(ng-ovh-payment-method): payment status category
  packages/components/ng-ovh-payment-method/src/payment-method.class.js
Labels: bug, universe-hub

#2300 fix(pci.project.quota): use ngOvhPaymentMethod
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/quota/quota.module.js
  packages/manager/modules/pci/src/projects/project/quota/quota.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.service.js
Labels: bug, quality check: ok, universe-cloud

#2351 fix(hub): ovh-api-services dependency
  packages/manager/apps/hub/src/components/at-internet/index.js
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/user-panel/payment-mean/index.js
Labels: bug, universe-hub

#2302 fix(nasha.partition.access): enable RO access for NFS
  packages/manager/modules/nasha/src/partition/access/access.component.js
  packages/manager/modules/nasha/src/partition/access/add/add.component.js
  packages/manager/modules/nasha/src/partition/access/add/add.html
  packages/manager/modules/nasha/src/partition/access/controller.js
  packages/manager/modules/nasha/src/partition/access/routing.js
Labels: bug, quality check: ok, universe-server

#2333 fix(hosting.ovhconfig): ensure if configuration is available
  packages/manager/apps/web/client/app/hosting/ovhconfig/hosting-ovhconfig.service.js
Labels: bug, quality check: ok

#2347 fix(billing.terminate): encode uri for ip block
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-server

#2352 New release
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/ovhconfig/hosting-ovhconfig.service.js
  packages/manager/modules/nasha/src/partition/access/access.component.js
  packages/manager/modules/nasha/src/partition/access/add/add.component.js
  packages/manager/modules/nasha/src/partition/access/add/add.html
  packages/manager/modules/nasha/src/partition/access/controller.js
  packages/manager/modules/nasha/src/partition/access/routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/quota/quota.module.js
  packages/manager/modules/pci/src/projects/project/quota/quota.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.service.js
Labels: release

#2348 fix(dedicatedcloud-datacenter-backup-new): cleanup ui flow
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/terms-of-use.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/termsOfUse/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.routing.js
Labels: bug, translation required

#2355 fix(billing.terminate): encode uri
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
Labels: bug, quality check: ok, universe-server

#2361 Module "models" - minor updates
  packages/manager/modules/models/package.json
Labels: build

#2270 fix(public-cloud): show price for object storage
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug, quality check: ok, translation required

#2343 feat(veeam-backup): add offer detail component
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offer-details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/components/offers/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/new/new.module.js
Labels: enhancement

#2366 build(deps): bump ovh-api-services to v9.39.1
  packages/components/ng-ovh-order-tracking/package.json
  packages/components/ng-ovh-payment-method/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/banner/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/iplb/package.json
  packages/manager/modules/nasha/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/product-offers/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/veeam-cloud-connect/package.json
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/vrack/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: dependencies
