Repository ovh/manager, pull requests merged in 2020-12, with the labels that each got.

#4111 fix(domain.zone): allow zone deletion attached to web hosting
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.controller.js
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.html
Labels: bug, quality check: ok, universe-web-cloud

#4109 Logs Data Platform subscription configuration
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/src/assets/placeholder.png
  packages/manager/modules/dbaas-logs/src/index.js
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.constants.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.html
  packages/manager/modules/dbaas-logs/src/logs/empty/empty.component.js
  packages/manager/modules/dbaas-logs/src/logs/empty/empty.controller.js
  packages/manager/modules/dbaas-logs/src/logs/empty/empty.html
  packages/manager/modules/dbaas-logs/src/logs/empty/index.js
  packages/manager/modules/dbaas-logs/src/logs/empty/index.less
  packages/manager/modules/dbaas-logs/src/logs/empty/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/list/list.component.js
  packages/manager/modules/dbaas-logs/src/logs/list/logs-list.controller.js
  packages/manager/modules/dbaas-logs/src/logs/list/logs-list.html
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
  packages/manager/modules/dbaas-logs/src/logs/logs.module.js
  packages/manager/modules/dbaas-logs/src/logs/logs.routing.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/assets/LDP-Overview-hero@2x.png
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.component.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.constants.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.controller.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.html
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.less
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.module.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.routing.js
  packages/manager/modules/dbaas-logs/src/logs/order/logs-order.controller.js
  packages/manager/modules/dbaas-logs/src/logs/order/logs-order.html
  packages/manager/modules/dbaas-logs/src/logs/order/order.component.js
  packages/manager/modules/dbaas-logs/src/logs/order/order.module.js
  packages/manager/modules/dbaas-logs/src/logs/order/order.routing.js
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_US.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fi_FI.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_lt_LT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/welcome/logs-welcome.controller.js
  packages/manager/modules/dbaas-logs/src/logs/welcome/logs-welcome.html
  packages/manager/modules/dbaas-logs/src/logs/welcome/welcome.component.js
  packages/manager/modules/server-sidebar/src/order.constants.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4021 fix(pack.meetings): resolve route to access to meetings page
  packages/manager/apps/telecom/src/app/app.less
  packages/manager/apps/telecom/src/app/telecom/pack/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/xdsl-meetings.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/xdsl-meetings.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/xdsl-meetings.html
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/xdsl-meetings.less
  packages/manager/apps/telecom/src/app/telecom/pack/meetings/xdsl-meetings.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/index.js
Labels: bug, quality check: ok, universe-telecom

#3835 fix(cloud-connect): fix translation errors
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/service-keys/translations/Messages_pt_PT.json
Labels: bug, quality check, translation required

#4118 fix(logs.onboarding): update guide URL for all subs
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.constants.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4119 Fix/ai training doc link
  packages/manager/modules/pci/src/projects/project/training/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_pt_PT.json
Labels: bug, good first issue, univers-public-cloud

#4121 New release
  CONTRIBUTORS
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_lt_LT.json
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.constants.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/training/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/translations/Messages_pt_PT.json
Labels: release

#4058 feat(pack.move): retrieve buildings on move offer
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/lineNumber/move-eligibility-lineNumber.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/lineNumber/move-eligibility-lineNumber.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/lineNumber/move-eligibility-lineNumber.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/move-eligibility.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/move-eligibility.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fi_FI.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_lt_LT.json
Labels: feature, quality check: ok, translation required, universe-telecom

#4125 fix: add missing dependencies
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/src/logs/logs.module.js
Labels: bug, dependencies, universe-bare-metal-cloud

#4084 feat(pack): display promotions on offers for move or migration
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-telecom

#4071 refactor(web-universe-components): remove unused zone-validator
  packages/manager/modules/web-universe-components/src/index.js
  packages/manager/modules/web-universe-components/src/zone-validator/dnsZoneValidator.directive.js
  packages/manager/modules/web-universe-components/src/zone-validator/index.js
Labels: refactor

#4073 feat(at-internet): add impression tracking
  packages/components/ng-at-internet/src/directive.js
  packages/components/ng-at-internet/src/index.js
  packages/components/ng-at-internet/src/provider.js
Labels: enhancement, feature

#4128 fix: exclude node_modules from dynamicImport processing (#4105)
  packages/manager/tools/component-rollup-config/src/index.ts
Labels: bug

#4130 docs(guide): update "getting started" section
  docs/docs/.vuepress/public/assets/img/developer-mode-enabled.jpg
  docs/docs/.vuepress/public/assets/img/enabling-developer-mode.jpg
  docs/docs/guide/getting-started.md
Labels: documentation

#4129 fix(upscale): use price from catalog
  packages/manager/modules/vps/src/upscale/upscale.component.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4124 Configure 'app' for feature flipping
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/web/client/app/app.js
Labels: bug

#4133 fix: Wrong SPF for CA
  packages/manager/apps/web/client/app/domain/zone/record/SPF/domain-zone-record-SPF.html
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#4140 fix(sso): avoid region config error
  packages/manager/tools/dev-server-config/src/sso/index.js
Labels: bug

#3501 fix(pci): instance price precision
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
Labels: bug, quality check: ok

#4038 hotfix(web-email): not possible to create mx plan email account
  packages/manager/modules/emailpro/src/account/emailpro-account.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#4043 feat(pack.migration): retrieve buildings for migration offers
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/buildings/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/buildings/pack-migration-buildings.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/buildings/pack-migration-buildings.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/buildings/pack-migration-buildings.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: feature, quality check: ok, translation required, universe-telecom

#4135 fix(telephony): case insensitive siret validation regex
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
Labels: bug, quality check: ok, universe-telecom

#4137 fix(ip): add existing virtual mac
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/virtual-mac/add/ip-ip-virtual-mac-add.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/virtual-mac/delete/ip-ip-virtual-mac-delete.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4142 fix(pci.dashboard): remove maintenance message
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Labels: bug, univers-public-cloud

#4145 fix(components.support): prevent ngRepeat:dupes error
  packages/manager/modules/hub/src/components/support/template.html
Labels: bug, universe-hub

#4144 fix(upscale): allow upgrades for starter
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4146 New release
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/virtual-mac/add/ip-ip-virtual-mac-add.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/virtual-mac/delete/ip-ip-virtual-mac-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Labels: release

#4152 set default value to default environment variables
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: bug, univers-public-cloud

#4151 fix(bare-metal-cloud): fix termination issue
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#3518 feat(billing.confirm-terminate): replace legacy apis
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.service.js
Labels: enhancement, quality check: ok, universe-bare-metal-cloud

#4157 fix(plugins): handle multiple translation injection comments
  packages/manager/tools/component-rollup-config/src/plugins/translation-inject.ts
Labels: bug, quality check

#4148 feat(pci): add vouchers polling
  packages/manager/modules/pci/src/projects/project/vouchers/service.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.controller.js
Labels: feature, quality check: ok, univers-public-cloud

#4147 feat(hosting.email.activate): allow dns zone to activate email option
  packages/manager/apps/web/client/app/hosting/email/activate/activate.routing.js
Labels: feature, quality check: ok, universe-web-cloud

#4158 fix(sms): display the full message in incoming sms popup
  packages/manager/modules/sms/src/sms/sms/incoming/read/telecom-sms-sms-incoming-read.html
  packages/manager/modules/sms/src/sms/sms/outgoing/read/telecom-sms-sms-outgoing-read.html
Labels: bug, quality check: ok, universe-telecom

#4139 CCS : 2 buttons not working
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/lines/add/add.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/lines/add/add.html
Labels: bug, quality check: ok, universe-telecom

#4160 feat(dashboard): prevent crashing if services return an error
  packages/manager/apps/hub/src/dashboard/routing.js
Labels: enhancement, quality check: ok, universe-hub

#4075 fix(user.ip.restriction): prevent removing last ip on deny default rule
  packages/manager/apps/dedicated/client/app/account/user/ip/restriction/user-ip-restriction.controller.js
  packages/manager/apps/dedicated/client/app/account/user/security/user-security.html
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required, universe-bare-metal-cloud

#4162 fix(domain.dashboard.webhosting-enable): display error message info
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/domain-enable-web-hosting.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#4166 fix(config): update doc directory to fix edit links
  docs/docs/.vuepress/config.js
Labels: bug

#4165 New release
  docs/docs/.vuepress/config.js
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/domain-enable-web-hosting.controller.js
  yarn.lock
Labels: release

#4171 build(package): add url-builder in files
  packages/manager/modules/ufrontend/package.json
Labels: build

#4172 fix: adjust threatmetrix configuration
  packages/components/ng-ovh-payment-method/.eslintrc.json
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/directive.js
Labels: bug

#4174 New release
  packages/components/ng-ovh-payment-method/.eslintrc.json
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/iframeVantiv/directive.js
Labels: release

#4178 fix(pack.move): set missing building from address eligibility test
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.controller.js
Labels: bug, quality check: ok, universe-telecom

#4173 fix(dedicated-cloud.datacenter.datastore): datastore order plancode
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#4170 Fix/dbaas standalone
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dbaas-logs/src/app.module.js
  packages/manager/apps/dbaas-logs/src/components/at-internet/at-internet.constant.js
  packages/manager/apps/dbaas-logs/src/components/at-internet/index.js
  packages/manager/apps/dbaas-logs/src/index.js
  packages/manager/apps/dbaas-logs/webpack.config.js
Labels: bug

#4184 feat(url-builder): add params pattern replacement
  packages/manager/modules/ufrontend/README.md
  packages/manager/modules/ufrontend/url-builder.js
Labels: feature

#4177 fix(form.i18n): add missing translation
  packages/manager/modules/sign-up/src/form/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fi_FI.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/translations/Messages_lt_LT.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#4191 fix(template): prevent repeater error message
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.html
Labels: bug, univers-public-cloud

#4190 fix(details.service-keys): fix regenerate key module name
  packages/manager/modules/cloud-connect/src/details/service-keys/regenerate-service-key/regenerate-service-key.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#4192 fix(i18n): add missing translations [CDS 719]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_lt_LT.json
Labels: bug, quality check: ok, universe-hosted-private-cloud

#4203 fix(components.project.instance): fix connectionInfos typo
  packages/manager/modules/pci/src/components/project/instance/instance.class.js
Labels: bug, univers-public-cloud

#4207 fix(telecom.telephony.services): add missing resolvers
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billingAccount.routing.js
Labels: bug, quality check: ok, universe-telecom

#4209 fix(telephony): use user subsidiary to order alias
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.controller.js
Labels: bug, quality check: ok, universe-telecom

#4211 fix(line-diagnostic): error on contact form
  packages/components/ng-ovh-line-diagnostics/src/factory.js
Labels: bug, quality check: ok, universe-telecom

#4210 New release (hotfixes)
  packages/components/ng-ovh-line-diagnostics/src/factory.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billingAccount.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.controller.js
Labels: release

#4215 fix: remove duplicates import of ngOvhFeatureFlipping
  packages/manager/apps/cloud/client/app/app.js
Labels: bug, universe-cloud

#4143 feat(provider): add ovhSubsidiary param in logout url
  packages/components/ng-ovh-sso-auth/src/provider.js
Labels: enhancement, feature, quality check: ok

#4219 fix: update link to order licenses
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4216 feat(private-database): update metrics charts
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.controller.js
  packages/manager/apps/web/client/app/private-database/private-database.service.js
  packages/manager/apps/web/client/app/private-database/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pt_PT.json
Labels: bug, enhancement, universe-web-cloud

#4221 fix(billing.history): omit displayedColumns resolve
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.routes.js
Labels: bug, quality check, universe-bare-metal-cloud

#4220 fix(dedicated.server): borken mrtg select
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4222 New release (hotfix)
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.controller.js
  packages/manager/apps/web/client/app/private-database/private-database.service.js
  packages/manager/apps/web/client/app/private-database/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: release
