Repository ovh/manager, pull requests merged in 2020-08, with the labels that each got.

#3359 fix(list): import missing dependency
  packages/manager/modules/ng-layout-helpers/src/list/index.js
Labels: bug, dependencies

#3351 fix(config): prevent trigger when target state is the final one
  packages/components/ng-ui-router-line-progress/src/ng-ui-router-line-progress.config.js
Labels: bug

#3358 Fix/nasha
  packages/manager/apps/nasha/src/index.js
  packages/manager/modules/nasha/src/nasha.module.js
Labels: bug, performance, universe-server

#3363 fix(deps): add missing @ovh-ux/manager-ng-layout-helpers dependency
  packages/manager/apps/freefax/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/sms/package.json
Labels: bug, build, dependencies

#3369 fix(deps): add missing dependency to angular-translate
  packages/manager/modules/vrack/package.json
Labels: bug, dependencies, universe-server

#3370 fix(dedicated.server): remove margin from header
  packages/manager/apps/dedicated/client/app/dedicated/server/server.html
Labels: bug, universe-server

#3315 feat(catalog): add filters to url
  packages/manager/apps/hub/src/dashboard/catalog/catalog.component.js
  packages/manager/apps/hub/src/dashboard/catalog/catalog.controller.js
  packages/manager/apps/hub/src/dashboard/catalog/routing.js
Labels: enhancement, quality check: ok, universe-hub

#3362 fix(k8s): rename "sauvegarder" to "valider"
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_lt_LT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, univers-public-cloud

#3371 fix(kubernetes.details.node-pool.add): remove non-supported character
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.constants.js
Labels: bug, quality check: ok, univers-public-cloud

#3366 fix(account.user.password): retrieve correct email address
  packages/manager/apps/dedicated/client/app/account/user/password/user-password.controller.js
Labels: bug, universe-server

#3375 fix(billing.autorenew): import renew constant
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.controller.js
  packages/manager/modules/billing/src/index.js
Labels: bug, universe-server

#3376 fix(deps): upgrade @ovh-ux/ui-kit to v4.2.3
  packages/components/ng-ovh-mondial-relay/package.json
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: bug, dependencies

#3377 New release
  packages/components/ng-ovh-mondial-relay/package.json
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.controller.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/src/index.js
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: release

#3386 build: skip ci when deploying docs github page
  package.json
Labels: build

#3389 build(deps): upgrade ovh-api-services to v9.49.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#3390 fix: add missing account and notifications sidebar components
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/client/index.html
  packages/manager/apps/cloud/package.json
Labels: bug, universe-cloud

#3397 fix: add missing webfont import
  packages/manager/apps/freefax/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/freefax/src/index.js
Labels: bug, dependencies

#3395 fix(list): declare getSorting function in controller
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.controller.js
Labels: bug

#3393 Freefax: add breadcrumb
  packages/manager/apps/freefax/package.json
  packages/manager/apps/freefax/src/index.html
  packages/manager/apps/freefax/src/index.js
  packages/manager/modules/freefax/package.json
  packages/manager/modules/freefax/src/freefax.module.js
  packages/manager/modules/freefax/src/freefax/freefax.component.js
  packages/manager/modules/freefax/src/freefax/index.js
  packages/manager/modules/freefax/src/freefax/notifications/index.js
  packages/manager/modules/freefax/src/freefax/notifications/translations/Messages_fr_FR.json
  packages/manager/modules/freefax/src/freefax/voicemailConfiguration/index.js
  packages/manager/modules/freefax/src/freefaxes.routing.js
  packages/manager/modules/freefax/src/index.js
Labels: enhancement, universe-telecom

#3399 refactor: use uikit header instead of responsive tabs
  packages/manager/apps/overthebox/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/overthebox/src/overthebox/overTheBox.html
  packages/manager/modules/overthebox/src/overthebox/overTheBox.module.js
Labels: refactor, universe-telecom

#3391 feat: create unique identifier for elements
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.html
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.service.js
Labels: enhancement

#3398 Otb: add breadcrumb
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/overthebox/src/index.html
  packages/manager/apps/overthebox/src/index.js
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/overthebox/src/index.js
  packages/manager/modules/overthebox/src/overthebox/actions/overTheBox-actions.routing.js
  packages/manager/modules/overthebox/src/overthebox/configure/index.js
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.html
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.routing.js
  packages/manager/modules/overthebox/src/overthebox/configure/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.routing.js
  packages/manager/modules/overthebox/src/overthebox/docs/index.js
  packages/manager/modules/overthebox/src/overthebox/docs/overTheBox-docs.routing.js
  packages/manager/modules/overthebox/src/overthebox/logs/index.js
  packages/manager/modules/overthebox/src/overthebox/logs/overTheBox-logs.routing.js
  packages/manager/modules/overthebox/src/overthebox/logs/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/order/order-overTheBox.routing.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.routing.js
  packages/manager/modules/overthebox/src/overthebox/remote/index.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.routing.js
  packages/manager/modules/overthebox/src/overthebox/tasks/index.js
  packages/manager/modules/overthebox/src/overthebox/tasks/overTheBox-tasks.routing.js
  packages/manager/modules/overthebox/src/overtheboxes.module.js
  packages/manager/modules/overthebox/src/overtheboxes.routing.js
Labels: enhancement, translation required, universe-telecom

#3388 SMS: add breadcrumb
  packages/manager/apps/sms/package.json
  packages/manager/apps/sms/src/index.html
  packages/manager/apps/sms/src/index.js
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/index.js
  packages/manager/modules/sms/src/sms.module.js
  packages/manager/modules/sms/src/sms.routing.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.component.js
  packages/manager/modules/sms/src/sms/guides/telecom-sms-guides.component.js
  packages/manager/modules/sms/src/sms/guides/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/blacklist/index.js
  packages/manager/modules/sms/src/sms/options/blacklist/telecom-sms-options-blacklist.routing.js
  packages/manager/modules/sms/src/sms/options/manage/index.js
  packages/manager/modules/sms/src/sms/options/recredit/index.js
  packages/manager/modules/sms/src/sms/options/response/index.js
  packages/manager/modules/sms/src/sms/options/response/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/telecom-sms-options.component.js
  packages/manager/modules/sms/src/sms/options/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/order/telecom-sms-order.component.js
  packages/manager/modules/sms/src/sms/phonebooks/create/index.js
  packages/manager/modules/sms/src/sms/phonebooks/telecom-sms-phonebooks.component.js
  packages/manager/modules/sms/src/sms/phonebooks/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/receivers/telecom-sms-receivers.component.js
  packages/manager/modules/sms/src/sms/receivers/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/senders/add/index.js
  packages/manager/modules/sms/src/sms/senders/telecom-sms-senders.component.js
  packages/manager/modules/sms/src/sms/senders/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/sms.routing.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.routing.js
  packages/manager/modules/sms/src/sms/sms/hlr/index.js
  packages/manager/modules/sms/src/sms/sms/incoming/index.js
  packages/manager/modules/sms/src/sms/sms/outgoing/index.js
  packages/manager/modules/sms/src/sms/sms/pending/index.js
  packages/manager/modules/sms/src/sms/sms/telecom-sms-sms.component.js
  packages/manager/modules/sms/src/sms/sms/templates/index.js
  packages/manager/modules/sms/src/sms/sms/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/users/telecom-sms-users.component.js
  packages/manager/modules/sms/src/sms/users/translations/Messages_fr_FR.json
Labels: enhancement, translation required, universe-telecom

#3403 build: only provide esm target for private packages
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/account-sidebar/rollup.config.js
  packages/manager/modules/banner/package.json
  packages/manager/modules/banner/rollup.config.js
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-styles/rollup.config.js
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/cloud-universe-components/rollup.config.js
  packages/manager/modules/config/package.json
  packages/manager/modules/config/rollup.config.js
  packages/manager/modules/core/package.json
  packages/manager/modules/core/rollup.config.js
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/enterprise-cloud-database/rollup.config.js
  packages/manager/modules/navbar/package.json
  packages/manager/modules/navbar/rollup.config.js
  packages/manager/modules/ng-layout-helpers/package.json
  packages/manager/modules/ng-layout-helpers/rollup.config.js
  packages/manager/modules/preloader/package.json
  packages/manager/modules/preloader/rollup.config.js
  packages/manager/modules/request-tagger/package.json
  packages/manager/modules/request-tagger/rollup.config.js
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/rollup.config.js
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/sign-up/rollup.config.js
Labels: build, performance

#3406 Fix cloud order links redirections to dedicated
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, universe-cloud

#3413 fix(private-database): expose service
  packages/manager/apps/web/client/app/private-database/index.js
  packages/manager/apps/web/client/app/private-database/private-database.module.js
Labels: bug, universe-web

#3404 Add EnvExecutor in cloud
  packages/manager/apps/cloud/.eslintrc.json
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/client/app/app.less
  packages/manager/apps/cloud/client/app/app.module.js
  packages/manager/apps/cloud/client/app/config/all.ca.js
  packages/manager/apps/cloud/client/app/config/all.eu.js
  packages/manager/apps/cloud/client/app/config/all.us.js
  packages/manager/apps/cloud/client/app/config/apiConfig.js
  packages/manager/apps/cloud/client/app/config/dev.ca.js
  packages/manager/apps/cloud/client/app/config/dev.eu.js
  packages/manager/apps/cloud/client/app/config/dev.us.js
  packages/manager/apps/cloud/client/app/config/index.js
  packages/manager/apps/cloud/client/app/config/prod.ca.js
  packages/manager/apps/cloud/client/app/config/prod.eu.js
  packages/manager/apps/cloud/client/app/config/prod.us.js
  packages/manager/apps/cloud/client/app/index.js
  packages/manager/apps/cloud/client/components/manager-preload/manager-preload.config.js
  packages/manager/apps/cloud/client/components/manager-preload/manager-preload.less
  packages/manager/apps/cloud/client/index.html
  packages/manager/apps/cloud/package.json
  packages/manager/apps/cloud/webpack.config.js
Labels: enhancement, quality check: ok, universe-cloud

#3425 fix: remove typo on module name
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
Labels: bug

#3427 build(webpack): pass env variable to the shared configuration
  packages/manager/apps/cloud/webpack.config.js
Labels: build, universe-cloud

#3426 fix: prevent typeerror when accessing to guides constant
  packages/manager/apps/web/client/app/configuration/configuration.controller.js
Labels: bug, universe-web

#3430 fix(cda): display header tabs
  packages/manager/apps/cloud/client/app/cda/details/cda-details.controller.js
  packages/manager/apps/cloud/client/app/cda/details/cda-details.html
Labels: bug, quality check: ok, universe-cloud

#3441 build: prevent error ENOTDIR when starting application
  scripts/start-application.js
Labels: build

#3238 perf(telephony.line.calls): use autocomplete for forward
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/forward/forward.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/forward/nature/telecom-telephony-line-calls-forward-nature.factory.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/forward/telecom-telephony-line-calls-forward.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/forward/telecom-telephony-line-calls-forward.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/forward/telecom-telephony-line-calls-forward.service.js
Labels: enhancement, performance, quality check: ok, universe-telecom

#3233 Feat/read on close
  packages/manager/modules/navbar/src/notifications-menu/template.html
  packages/manager/modules/notifications-sidebar/src/controller.js
  packages/manager/modules/notifications-sidebar/src/service.js
  yarn.lock
Labels: feature, quality check: ok

#3443 feat: enable strictDi by default
  packages/manager/tools/sao-ovh-manager-app/template/src/index.js
Labels: enhancement

#3448 fix(email-domain.upgrade): prevent blocking if there are no contracts
  packages/manager/modules/web-universe-components/src/email-domain/upgrade/upgrade.html
Labels: bug, universe-web

#3454 fix: rename serviceName with correct reference
  packages/manager/modules/overthebox/src/overthebox/overTheBox.controller.js
Labels: bug, quality check: ok, universe-telecom

#3455 fix(telephony.alias.ccs.time-condition): display right message error
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/timeCondition/telecom-telephony-alias-configuration-time-condition-easy-hunting.controller.js
Labels: bug, universe-telecom

#3456 feat(web.private-database): add Mysql 8.0 label
  packages/manager/apps/web/client/app/private-database/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pt_PT.json
Labels: enhancement, universe-web

#3461 fix(email-domain.redirection.create): prevent TypeError on validation
  packages/manager/apps/web/client/app/email-domain/email/redirection/create/email-domain-email-redirection-create.controller.js
Labels: bug, universe-web

#3460 fix(account.delegation): remove unused part
  packages/manager/modules/emailpro/src/account/delegation/emailpro-account-delegation.html
  packages/manager/modules/emailpro/src/translations/Messages_de_DE.json
  packages/manager/modules/emailpro/src/translations/Messages_en_GB.json
  packages/manager/modules/emailpro/src/translations/Messages_es_ES.json
  packages/manager/modules/emailpro/src/translations/Messages_es_US.json
  packages/manager/modules/emailpro/src/translations/Messages_fi_FI.json
  packages/manager/modules/emailpro/src/translations/Messages_fr_CA.json
  packages/manager/modules/emailpro/src/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/translations/Messages_it_IT.json
  packages/manager/modules/emailpro/src/translations/Messages_lt_LT.json
  packages/manager/modules/emailpro/src/translations/Messages_pl_PL.json
  packages/manager/modules/emailpro/src/translations/Messages_pt_PT.json
Labels: bug, universe-web

#3423 fix(email-domain): use correct poller reference
  packages/manager/modules/web-universe-components/src/email-domain/email-domain.service.js
Labels: bug, universe-web

#3465 fix(hub): billing & account redirections
  packages/manager/apps/hub/src/app.module.js
Labels: bug, universe-hub

#3476 fix(dedicated-cloud.license): allow to have no contracts
  packages/manager/apps/dedicated/client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.html
Labels: bug, universe-server

#3469 fix(pcc): use cartServiceOption for resource upgrade
  packages/manager/apps/dedicated/client/app/dedicatedCloud/resource/upgrade/upgrade.controller.js
Labels: bug, quality check: ok

#3480 fix(product.offers): set timeout to fix stepper index incrementation
  packages/manager/modules/product-offers/src/product-offers.controller.js
  packages/manager/modules/product-offers/src/workflows/product-offers-services-workflow.class.js
Labels: bug

#3483 fix(web.domain): handle unavailable capabilities
  packages/manager/apps/web/client/app/domain/domain.routing.js
Labels: bug

#3466 feat(dedicated-cloud): allow to delete at expiration
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/terminate/dedicatedCloud-terminate.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/terminate/dedicatedCloud-terminate.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/terminate/dedicatedCloud-terminate.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/terminate/terminate.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/terminate/terminate.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/terminate/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/package.json
Labels: feature, quality check: ok, universe-server

#3490 fix(hub): routing redirection
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/routing.js
Labels: bug, quality check: ok, universe-hub

#3477 fix(dashboard.options): check sectorSpecificCompliance availability
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/options/options.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/options/options.html
Labels: bug, quality check: ok, universe-server

#3494 hotfix(payment-method): not able to add paypal payment method
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/controller.js
Labels: bug, quality check, universe-server

#3478 Fix/hpc mailing list
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/legacy/legacy.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/service-management/service-management.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/service-management/service-management.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.bundle.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedCloud.routing.js
Labels: bug, quality check: ok, universe-server

#3500 fix(autorenew): add serviceType parameter
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/update/update.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.service.js
  packages/manager/modules/billing/src/components/services-actions/services-actions.controller.js
Labels: bug, quality check: ok

#3498 fix(dedicated): pcc ip option order
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
Labels: bug, quality check: ok

#3504 hotfix(dedicated): ips are not listing
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
Labels: bug, quality check: ok, universe-server

#3507 fix(payment-method): iframe integration validation
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/index.html
Labels: bug, universe-server

#3509 fix(email-domain): always show responders button
  packages/manager/apps/web/client/app/email-domain/email/account/email-domain-email-account.html
Labels: bug, universe-web

#3411 feat(dedicated-server): order hpc link in US
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: blocked, enhancement, quality check, universe-server

#3472 fix(dedicated): private cloud guide urls
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
Labels: blocked, bug, quality check, question, universe-server

#3513 fix(dedicated-server): bandwidth shown is not correct
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
Labels: bug, quality check: ok, universe-server

#3523 fix(web): disable ram upgrade for child service private database
  packages/manager/apps/web/client/app/private-database/private-database.service.js
  packages/manager/apps/web/client/app/private-database/state/private-database-state.controller.js
  packages/manager/apps/web/client/app/private-database/state/private-database-state.html
Labels: bug, quality check: ok

#3521 fix(hosting): disable upgrade for not standalone services
  packages/manager/apps/web/client/app/hosting/hosting.service.js
Labels: bug, quality check: ok

#3519 fix(web): remove upgrade for emails with parent
  packages/manager/apps/web/client/app/email-domain/general-informations/email-domain-general-informations.controller.js
  packages/manager/apps/web/client/app/email-domain/general-informations/email-domain-general-informations.html
Labels: bug, quality check: ok

#3533 fix(private-database.user): use right translation key
  packages/manager/apps/web/client/app/private-database/user/list/private-database-user-list.html
Labels: bug, universe-web

#3532 fix(domain): dynhost tab display
  packages/manager/apps/web/client/app/domain/domain.routing.js
Labels: bug, quality check: ok, universe-web

#3499 feat(billing.history): add tracking
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.controller.js
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.html
Labels: enhancement, quality check: ok, universe-server
