Repository ovh/manager, pull requests merged in 2020-01, with the labels that each got.

#2033 test(remark): ignore dist folder
  .remarkignore
Labels: enhancement, tests

#2034 test(lint-staged): add missing git add command for html files
  .lintstagedrc.json
Labels: tests

#2035 build(webpack): specify mainFields entry from the resolve option
  packages/manager/apps/web/webpack.config.js
Labels: build

#2037 build(eslint): remove temporary @typescript-eslint/eslint-plugin
  .eslintrc.js
  package.json
  yarn.lock
Labels: build

#2040 style: apply js lint
  packages/manager/apps/cloud/client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.service.js
  packages/manager/apps/cloud/client/app/cloud/project/compute/loadbalancer/configure/compute-loadbalancer-configure.controller.js
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/add/edit/logs-inputs-add-edit.controller.js
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/home/logs-inputs-home.controller.js
  packages/manager/apps/cloud/client/components/region/region-map.component.js
  packages/manager/apps/dedicated/client/app/account/user/ip/restriction/user-ip-restriction.service.js
  packages/manager/apps/dedicated/client/app/billing/components/api/api.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/cdn-dedicated.service.js
  packages/manager/apps/dedicated/client/app/components/user/user.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dedicated-server.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/service-pack/service-pack.service.js
  packages/manager/apps/dedicated/client/app/ip/ip-lb/ip-lb.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/antihack/ip-ip-antihack.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/antispam/ip-ip-antispam.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/arp/ip-ip-arp.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/game/ip-ip-firewall-game.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/ip-ip-firewall-rule.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/mitigation/ip-ip-mitigation.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/ip-ip-organisation.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/virtual-mac/ip-ip-virtual-mac.service.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/pack-xdsl-statistics.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/administration/terminate/telecom-telephony-alias-administration-terminate.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billingAccount.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/click2Call/telecom-telephony-line-calls-click2Call.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/phone/function/line-phone-function.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/phone/line-phone.factory.js
  packages/manager/apps/web/client/app/components/user/user.service.js
  packages/manager/apps/web/client/app/domains/export-csv/domains-export-to-csv.controller.js
  packages/manager/apps/web/client/app/email-domain/mailing-list/email-domain-mailing-list.service.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.service.js
  packages/manager/apps/web/client/app/hosting/ftp/hosting-ftp.service.js
  packages/manager/apps/web/client/app/hosting/hosting.service.js
  packages/manager/modules/cloud-universe-components/src/user-pref/service.js
  packages/manager/modules/emailpro/src/mailing-list/emailpro-mailing-list.service.js
  packages/manager/modules/enterprise-cloud-database/src/service/get-started/get-started.controller.js
  packages/manager/modules/exchange/src/exchange.api.js
  packages/manager/modules/exchange/src/office-attach/office-attach.service.js
  packages/manager/modules/iplb/src/vrack/iplb-vrack.service.js
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/payment/payment.routing.js
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/analytics-data-platform.service.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
  packages/manager/modules/support/src/tickets/ticket/ticket.service.js
  packages/manager/modules/vps/src/backup-storage/vps-backup-storage.controller.js
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/secondary-dns/vps-secondary-dns.controller.js
  packages/manager/modules/web-universe-components/src/api/Api.js
Labels: enhancement

#2038 build(deps): upgrade ovh-ui-angular to v3.11.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/error-page/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/iplb/package.json
  packages/manager/modules/mfa-enrollment/package.json
  packages/manager/modules/nasha/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/office/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/telecom-task/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/veeam-cloud-connect/package.json
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: bug, dependencies, quality check: ok

#2039 fix(web): hosting tabs
  packages/manager/apps/web/client/app/hosting/hosting.html
Labels: bug, quality check: ok

#2043 fix(wuc): order cart service
  packages/manager/modules/web-universe-components/src/order-cart/order-cart.service.js
Labels: bug

#2041 fix(ip): refresh correctly ip if not ip block
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
Labels: bug, quality check: ok

#2054 fix(web): fix redirection to error page
  packages/manager/apps/web/client/app/app.js
Labels: bug

#1988 refactor(web): use of wuc component cart service
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/components/manager-order-service/manager-order-service.service.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.routing.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.service.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.service.js
  packages/manager/apps/web/client/app/hosting/database/order-private/hosting-database-order-private.service.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.routing.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.service.js
Labels: quality check: ok, refactor

#2027 fix(dedicated.billing): add checks for automatic renew
  packages/manager/apps/dedicated/client/app/models/BillingService.class.js
Labels: bug, quality check: ok

#2016 fix(dedicated): add email change validation token request action
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.controller.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.html
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_FR.json
Labels: enhancement, quality check: ok, translation required

#2042 feat(kubernetes): show version EOL message
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
Labels: enhancement, quality check: ok

#2046 fix(vrack): remove uibModal
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/index.js
  packages/manager/modules/vrack/src/move-dialog/index.js
  packages/manager/modules/vrack/src/move-dialog/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.component.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.controller.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.html
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.module.js
  packages/manager/modules/vrack/src/move-dialog/vrack-move-dialog.routing.js
  packages/manager/modules/vrack/src/partials/actions.html
  packages/manager/modules/vrack/src/partials/available.html
  packages/manager/modules/vrack/src/partials/mapped.html
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack.component.js
  packages/manager/modules/vrack/src/vrack.constant.js
  packages/manager/modules/vrack/src/vrack.controller.js
  packages/manager/modules/vrack/src/vrack.html
  packages/manager/modules/vrack/src/vrack.routing.js
Labels: feature, quality check: ok, refactor, translation required

#2064 fix(emailpro): domain translation
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Labels: bug, quality check: ok

#2066 fix(vps.upgrade): fix retrieval of upgrade prices
  packages/manager/modules/vps/src/upgrade/vps-upgrade.controller.js
  packages/manager/modules/vps/src/upgrade/vps-upgrade.html
Labels: bug, quality check

#2070 refactor: remove extra @ovh-ux/ng-ovh-actions-menu import
  packages/manager/apps/telecom/src/app/app.js
Labels: refactor

#2074 build(webpack): remove unused resolve.alias part
  packages/manager/apps/cloud/webpack.config.js
Labels: build

#1833 feat(module.server-sidebar): hide empty sections
  packages/manager/modules/server-sidebar/src/controller.js
Labels: enhancement

#2081 refactor: replace deprecated include-filtered-dependencies flags
  packages/components/ng-ovh-contracts/package.json
  packages/components/ng-ovh-order-tracking/package.json
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-sso-auth-modal-plugin/package.json
  packages/components/ng-ovh-sso-auth/package.json
  packages/components/ng-ui-router-breadcrumb/package.json
  packages/components/ng-ui-router-layout/package.json
  packages/components/ng-ui-router-line-progress/package.json
  packages/components/ng-ui-router-title/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/banner/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/config/package.json
  packages/manager/modules/core/package.json
  packages/manager/modules/enterprise-cloud-database/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/request-tagger/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/welcome/package.json
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  scripts/build.js
  scripts/publish.js
Labels: refactor

#2083 build(deps): upgrade ovh-api-services to v9.31.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2063 [PCI-5407] update rescue message with password
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_fr_FR.json
Labels: good first issue, quality check: ok, translation required

#2093 fix(pci.projects.new): duplicate component name
  packages/manager/modules/pci/src/projects/new/payment/components/credit/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/credit/index.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
Labels: bug

#2076 fix(cuc.price): get price according to capacity
  packages/manager/modules/cloud-universe-components/src/price/service.js
Labels: bug, quality check: ok

#2097 feat(web.private-database): add postgresql 12 label
  packages/manager/apps/web/client/app/private-database/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pt_PT.json
Labels: enhancement

#2030 fix(web.domain.webhosting): display error message with details
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.routing.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/translations/Messages_fr_FR.json
Labels: bug, translation required

#2098 fix(telephony.alias.portability.order): add missing translations
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/translations/Messages_fr_FR.json
Labels: bug, quality check, quality check: ok

#2101 fix(pci.projects.new): redirect to BC when checkout not equal to 0
  packages/manager/modules/pci/src/projects/new/payment/credit/controller.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
Labels: bug

#2105 build: sign commit when releasing the monorepo
  scripts/common/repository.js
Labels: build

#1976 refactor(web): use global component instead of scoped one
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/index.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.component.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.controller.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.html
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/database/order-private/hosting-database-order-private.html
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
  packages/manager/apps/web/package.json
Labels: feature, quality check: ok

#2111 feat(web-universe-components): add prorata duration translation
  packages/manager/modules/web-universe-components/src/duration/translations/Messages_fr_FR.json
Labels: translation required

#2112 fix(pci.projects.private-registry): update api service call
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
Labels: bug

#2084 fix(dedicated.server.interfaces): update guide url
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required

#2080 feat(web): hosting boost offer action
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: enhancement, quality check: ok

#2118 build(deps): upgrade manager-vrack to v0.5.0
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/vrack/package.json
Labels: dependencies

#1991 feat(web): update private-sql activation
  packages/manager/apps/web/client/app/hosting/database/DATABASE_LIST.html
  packages/manager/apps/web/client/app/hosting/database/private-activation/database-private-activation.controller.js
  packages/manager/apps/web/client/app/hosting/database/private-activation/database-private-activation.html
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/index.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.component.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.controller.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.html
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.routing.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required

#2127 fix(portabilities.delete): fix route to display delete modal
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/delete/portabilities-delete.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/telecom-telephony-alias-portability-portabilities.routing.js
Labels: bug, universe-telecom

#2115 refactor(adp): remove uib modal
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/deploy/quota-error-model/quota-error-model.controller.js
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/deploy/quota-error-model/quota-error-model.html
Labels: refactor

#2059 fix(licence): cPanel options are not human readable
  packages/manager/apps/dedicated/client/app/license/order/license-order.constants.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.html
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required

#2110 feat(web): hosting upgrade prorata
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: feature, quality check: ok

#2131 fix(server-sidebar): display static items if there is no items
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug, quality check: ok

#1924 feat(web): migrate email activate to agora
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.component.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.constants.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.controller.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.html
  packages/manager/apps/web/client/app/hosting/email/activate/activate.module.js
  packages/manager/apps/web/client/app/hosting/email/activate/activate.routing.js
  packages/manager/apps/web/client/app/hosting/email/activate/index.js
  packages/manager/apps/web/client/app/hosting/email/hosting-email.service.js
  packages/manager/apps/web/client/app/hosting/email/index.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required

#2141 fix(tools.sao-app): fix ng-app generation
  packages/manager/tools/sao-ovh-manager-app/template/src/index.html
Labels: bug

#2144 fix(template): update component naming generation
  packages/manager/tools/sao-ovh-manager-module/template/src/index.js
  packages/manager/tools/sao-ovh-manager-module/template/src/routing.js
Labels: bug

#2142 fix(web.hosting): hide webcoach tab for non FR subsidiaries
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
Labels: bug, quality check: ok

#2154 fix(web.hosting.cdn): use renew duration
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.service.js
Labels: bug, quality check: ok

#2162 fix(web): get pricing based on capacities
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.controller.js
Labels: bug

#2158 Fix hosting
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.service.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.controller.js
  packages/manager/apps/web/client/app/hosting/email/hosting-email.service.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.controller.js
Labels: bug, quality check: ok

#2140 feat(hub): init manager-hub app and module
  packages/manager/apps/hub/.eslintrc.json
  packages/manager/apps/hub/.prerelease
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/components/at-internet/at-internet.constant.js
  packages/manager/apps/hub/src/components/at-internet/index.js
  packages/manager/apps/hub/src/components/manager-preload/index.js
  packages/manager/apps/hub/src/components/manager-preload/manager-preload.less
  packages/manager/apps/hub/src/components/manager-preload/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/index.scss
  packages/manager/apps/hub/src/routing.js
  packages/manager/apps/hub/webpack.config.js
  packages/manager/modules/hub/.prerelease
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/index.js
  yarn.lock
Labels: feature

#2160 build: bump ovh-api-services to ^9.34.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2146 fix(sms): es subsidiary commercial clause
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.controller.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.html
Labels: bug, quality check: ok

#2167 fix(pci): update models used to retrieve kubernetes version
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.constants.js
Labels: bug

#2082 fix(pci.projects.workflow): display latest execution date
  packages/manager/modules/pci/src/projects/project/workflow/Workflow.class.js
  packages/manager/modules/pci/src/projects/project/workflow/workflow.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/workflow.html
  packages/manager/modules/pci/src/projects/project/workflow/workflow.routing.js
Labels: bug, quality check: ok

#2150 refactor(dedicated.billing): remove responsive-tabs
  packages/manager/apps/dedicated/client/app/billing/main/billing-main.html
Labels: quality check: ok, refactor

#2178 build: bump ovh-api-services
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: dependencies

#2164 feat(pci.sidebar): remove beta and enable private registry in CA
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature, quality check: ok

#2181 build(deps): set right semver range
  packages/manager/apps/hub/package.json
Labels: dependencies

#2168 fix(server.interfaces): set right vrack guide
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.html
Labels: bug, quality check: ok
