Repository ovh/manager, pull requests merged in 2020-07, with the labels that each got.

#3054 feat(support): handle issue readOnly attribute
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/issues-form.controller.js
Labels: feature, quality check: ok

#3192 fix(deps): set right semver range
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/support/package.json
Labels: bug

#3194 fix(deps): set correct package version
  packages/manager/apps/vps/package.json
  packages/manager/apps/web/package.json
Labels: bug

#3198 fix(telephony): remove unused service count call
  packages/manager/apps/telecom/src/app/telecom/telecom.js
Labels: bug, performance

#3156 feat(billing): add warning on payment method add page
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/index.html
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-server

#3210 fix(order): fix webhosting order for AU sub
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, quality check: ok, universe-web

#3004 feat(telecom-tracking): track update range phone
  packages/manager/apps/telecom/src/app/telecom/pack/slots/voipLine/activation/pack-voipLine-activation.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/choice/accessories-choice.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/resume/accessories-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/resume/accessories-resume.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/shipping/accessories-shipping.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/shipping/accessories-shipping.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/order.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/shipping/shipping.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/shipping/shipping.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/summary/summary.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/summary/summary.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/telecom-telephony-line-phone-order.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/telecom-telephony-line-phone.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/v4-links/v4-link/telecom-v4-link.html
Labels: enhancement, quality check: ok, universe-telecom

#2996 fix: prevent angular-chart.js from being instanciated twice
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
Labels: bug, quality check: ok, universe-server

#3211 fix(billing.payment.method): add missing translations
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_pt_PT.json
Labels: bug, universe-server

#3209 hotfix(dedicated): handle case of null license
  packages/manager/apps/dedicated/client/app/license/license.controller.js
Labels: bug

#3214 fix(instance.edit): display flex tooltip help message
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
Labels: bug, quality check: ok, univers-public-cloud

#3222 fix(support.new): fix key
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fi_FI.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_lt_LT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: bug

#3226 fix(exchange.accounts): catch user preference assignment
  packages/manager/modules/exchange/src/account/home/account-home.controller.js
Labels: bug, quality check: ok

#3221 fix(emailpro): wrong guide urls for en subsidiary
  packages/manager/modules/emailpro/src/emailpro.constants.js
Labels: bug, quality check: ok, universe-web

#3225 fix(web.domain): hide email domain tab if not available
  packages/manager/apps/web/client/app/domain/domain.controller.js
  packages/manager/apps/web/client/app/domain/domain.html
  packages/manager/apps/web/client/app/domain/domain.routing.js
Labels: bug, universe-web

#3227 fix(ip.order): limit quantity for VPS
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
Labels: bug, quality check: ok, universe-server

#3220 New release (hotfixes)
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/telecom/src/app/app.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/telecom-telephony-alias-statistics.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/telecom-telephony-alias-statistics.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_fi_FI.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_lt_LT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/components/sidebar/sidebar.less
  packages/manager/apps/web/client/app/css/less/common/navbar.less
  packages/manager/apps/web/client/app/domain/domain.controller.js
  packages/manager/apps/web/client/app/domain/domain.html
  packages/manager/apps/web/client/app/domain/domain.routing.js
  packages/manager/modules/emailpro/src/emailpro.constants.js
  packages/manager/modules/exchange/src/account/home/account-home.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
Labels: release

#3195 fix(domain): prevent all dom order display for all subs
  packages/manager/apps/web/client/app/domain/domain.controller.js
Labels: bug, quality check: ok, universe-web

#3228 fix(web): allow underscore in CNAME subdomain
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
  packages/manager/modules/web-universe-components/src/validator/validator.service.js
Labels: bug, quality check: ok, universe-web

#3236 fix(instances.add): typo in translations file for extra bandwith
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fi_FI.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_lt_LT.json
Labels: bug, quality check: ok, univers-public-cloud

#3247 fix(pack.xdsl.notifications): retrieve successfully notifications
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/notifications/pack-xdsl-access-notifications.html
Labels: bug, quality check: ok, universe-telecom

#3254 fix(dedicated.server): installation
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
Labels: bug, quality check: ok, universe-server

#3259 fix(pci.instances.edit): remove oui-field_error classes
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
Labels: bug

#3260 fix(sidebar): enable data analytics section in CA
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: enhancement, feature, univers-public-cloud

#3264 fix(pack.xdsl): update access restriction
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.controller.js
Labels: bug, universe-telecom

#3265 fix(hosting.database): remove extra backup restore options
  packages/manager/apps/web/client/app/hosting/database/DATABASE_LIST.html
Labels: bug, universe-web

#3267 New release (hotfix)
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.controller.js
  packages/manager/apps/web/client/app/hosting/database/DATABASE_LIST.html
Labels: release

#3278 fix(data-processing): remove lab check
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.routing.js
Labels: bug

#3282 fix(serving.namespace.models.add): update pricing precision
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/add/add.html
Labels: bug, univers-public-cloud

#3154 feat(telephony): split endpoint into ip list and list with incoming call
  packages/manager/apps/carrier-sip/src/endpoints/routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/carrierSip/dashboard/endpoints/endpoints.routing.js
  packages/manager/modules/carrier-sip/src/endpoints/endpoints.component.js
  packages/manager/modules/carrier-sip/src/endpoints/endpoints.html
  packages/manager/modules/carrier-sip/src/endpoints/endpoints.scss
  packages/manager/modules/carrier-sip/src/endpoints/index.js
  packages/manager/modules/carrier-sip/src/endpoints/translations/Messages_en_GB.json
  packages/manager/modules/carrier-sip/src/endpoints/translations/Messages_es_ES.json
  packages/manager/modules/carrier-sip/src/endpoints/translations/Messages_fi_FI.json
  packages/manager/modules/carrier-sip/src/endpoints/translations/Messages_fr_CA.json
  packages/manager/modules/carrier-sip/src/endpoints/translations/Messages_fr_FR.json
  packages/manager/modules/carrier-sip/src/endpoints/translations/Messages_it_IT.json
  packages/manager/modules/carrier-sip/src/endpoints/translations/Messages_lt_LT.json
Labels: enhancement, feature, quality check: ok, universe-telecom

#3287 fix(icon): fix oui-icon-trash_concept
  packages/manager/apps/cloud/client/app/ui-components/inline-adder/inline-adder-group.html
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/dedicated-housing-backup.html
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/snapshot/nas-partition-snapshot.html
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/monitoring.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
  packages/manager/apps/web/client/app/email-domain/email/acl/email-domain-email-acl.html
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/settings.html
  packages/manager/modules/exchange/src/shared/permission/shared-permission.html
  packages/manager/modules/exchange/src/wizard-hosted-creation/first-step/email-creation/email-creation.html
  packages/manager/modules/freefax/src/freefax/notifications/freefax-notifications.html
  packages/manager/modules/sms/src/sms/options/blacklist/telecom-sms-options-blacklist.html
  packages/manager/modules/sms/src/sms/phonebooks/telecom-sms-phonebooks.html
  packages/manager/modules/sms/src/sms/receivers/telecom-sms-receivers.html
  packages/manager/modules/sms/src/sms/senders/telecom-sms-senders.html
  packages/manager/modules/sms/src/sms/sms/incoming/telecom-sms-sms-incoming.html
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.html
  packages/manager/modules/sms/src/sms/sms/pending/telecom-sms-sms-pending.html
Labels: bug

#3290 fix(editable-service-name): apply right cancel icon
  packages/manager/modules/telecom-universe-components/src/editable-service-name/editable-service-name.html
Labels: bug, universe-telecom

#3286 fix(bills): display view more button on small devices
  packages/manager/modules/telecom-dashboard/src/bills/telecom-dashboard-bills.html
Labels: bug, universe-telecom

#3289 fix(sms): minor ui updates
  packages/manager/modules/sms/src/sms/sms/compose/addReceiversLists/telecom-sms-sms-compose-addReceiversLists.html
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.html
  packages/manager/modules/sms/src/sms/sms/incoming/telecom-sms-sms-incoming.html
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.html
  packages/manager/modules/sms/src/sms/sms/pending/telecom-sms-sms-pending.html
  packages/manager/modules/sms/src/sms/sms/templates/telecom-sms-sms-templates.html
Labels: bug, universe-telecom

#3291 fix(theme): remove custom style
  packages/manager/apps/hub/src/assets/theme/button.scss
  packages/manager/apps/hub/src/assets/theme/index.scss
Labels: bug, universe-hub

#3292 fix(otb): fix dropdown menu overflow
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
Labels: bug, universe-telecom

#3293 refactor: remove unused variables
  packages/manager/modules/hub/src/variables.scss
Labels: refactor, universe-hub

#3296 fix(vps-app): add babel-polyfill
  packages/manager/apps/vps/package.json
  packages/manager/apps/vps/src/index.js
Labels: bug, build

#3298 build(deps): upgrade ovh-ui-kit-bs to v4.1.6
  packages/components/ng-ovh-mondial-relay/package.json
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/telecom-styles/package.json
  yarn.lock
Labels: dependencies

#3301 fix: remove style override for links
  packages/manager/apps/dedicated/client/app/css/less/common/global.less
Labels: bug, universe-server

#3297 fix(hosting.user-logs): use token if there is one
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/user-logs/USER_LOGS.html
  packages/manager/apps/web/client/app/hosting/user-logs/hosting-user-logs.controller.js
Labels: bug, quality check: ok, universe-web

#3311 fix(mxplan): remove domain add for mxplan
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/emailpro/src/emailpro.controller.js
  packages/manager/modules/emailpro/src/translations/Messages_de_DE.json
  packages/manager/modules/emailpro/src/translations/Messages_en_GB.json
  packages/manager/modules/emailpro/src/translations/Messages_es_ES.json
  packages/manager/modules/emailpro/src/translations/Messages_es_US.json
  packages/manager/modules/emailpro/src/translations/Messages_fi_FI.json
  packages/manager/modules/emailpro/src/translations/Messages_fr_CA.json
  packages/manager/modules/emailpro/src/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/translations/Messages_it_IT.json
  packages/manager/modules/emailpro/src/translations/Messages_lt_LT.json
  packages/manager/modules/emailpro/src/translations/Messages_pl_PL.json
  packages/manager/modules/emailpro/src/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#3314 feat(private-database): add Mariadb 10.3, 10.4, 10.5 labels
  packages/manager/apps/web/client/app/private-database/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fi_FI.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/translations/Messages_pt_PT.json
Labels: enhancement, universe-web

#3310 fix(xdsl): fix rate limit checkbox display
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/rateLimit/xdsl-access-lns-ratelimit.html
Labels: bug, universe-telecom

#3136 feat(xdsl.notifications): improve sms remaining credits for notif
  packages/manager/apps/telecom/src/components/notification/notification-list.html
  packages/manager/apps/telecom/src/components/notification/notification.component.js
  packages/manager/apps/telecom/src/components/notification/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-telecom

#3155 feat(telephony): add carrier sip cluster details
  packages/manager/apps/carrier-sip/src/routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/carrierSip/dashboard/dashboard.routing.js
  packages/manager/modules/carrier-sip/src/dashboard/dashboard.component.js
  packages/manager/modules/carrier-sip/src/dashboard/dashboard.html
  packages/manager/modules/carrier-sip/src/dashboard/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, universe-telecom

#3307 build: add rollup to build dist
  packages/manager/modules/ng-layout-helpers/README.md
  packages/manager/modules/ng-layout-helpers/package.json
  packages/manager/modules/ng-layout-helpers/rollup.config.js
  packages/manager/modules/ng-layout-helpers/src/index.js
  packages/manager/modules/ng-layout-helpers/src/list/index.js
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.controller.js
Labels: build

#3191 fix(overthebox): resolve empty guides for some languages
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/overthebox/src/index.js
  packages/manager/modules/overthebox/src/overthebox/actions/overTheBox-actions.routing.js
  packages/manager/modules/overthebox/src/overthebox/configure/index.js
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.component.js
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.controller.js
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.html
  packages/manager/modules/overthebox/src/overthebox/configure/overTheBox-configure.routing.js
  packages/manager/modules/overthebox/src/overthebox/details/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.component.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.routing.js
  packages/manager/modules/overthebox/src/overthebox/docs/index.js
  packages/manager/modules/overthebox/src/overthebox/docs/overTheBox-docs.component.js
  packages/manager/modules/overthebox/src/overthebox/docs/overTheBox-docs.controller.js
  packages/manager/modules/overthebox/src/overthebox/docs/overTheBox-docs.html
  packages/manager/modules/overthebox/src/overthebox/docs/overTheBox-docs.routing.js
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_es_US.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_fi_FI.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_fr_CA.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_lt_LT.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/docs/translations/Messages_pt_PT.json
  packages/manager/modules/overthebox/src/overthebox/index.js
  packages/manager/modules/overthebox/src/overthebox/logs/index.js
  packages/manager/modules/overthebox/src/overthebox/logs/overTheBox-logs.component.js
  packages/manager/modules/overthebox/src/overthebox/logs/overTheBox-logs.controller.js
  packages/manager/modules/overthebox/src/overthebox/logs/overTheBox-logs.html
  packages/manager/modules/overthebox/src/overthebox/logs/overTheBox-logs.routing.js
  packages/manager/modules/overthebox/src/overthebox/order/index.js
  packages/manager/modules/overthebox/src/overthebox/order/order-overTheBox.component.js
  packages/manager/modules/overthebox/src/overthebox/order/order-overTheBox.controller.js
  packages/manager/modules/overthebox/src/overthebox/order/order-overTheBox.html
  packages/manager/modules/overthebox/src/overthebox/order/order-overTheBox.routing.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.component.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.constant.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.controller.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.module.js
  packages/manager/modules/overthebox/src/overthebox/overTheBox.routing.js
  packages/manager/modules/overthebox/src/overthebox/remote/index.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.component.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.controller.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.html
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.routing.js
  packages/manager/modules/overthebox/src/overthebox/tasks/index.js
  packages/manager/modules/overthebox/src/overthebox/tasks/overTheBox-tasks.component.js
  packages/manager/modules/overthebox/src/overthebox/tasks/overTheBox-tasks.controller.js
  packages/manager/modules/overthebox/src/overthebox/tasks/overTheBox-tasks.html
  packages/manager/modules/overthebox/src/overthebox/tasks/overTheBox-tasks.routing.js
  packages/manager/modules/overthebox/src/overthebox/warning/overTheBox-warning-deviceToLink.controller.js
  packages/manager/modules/overthebox/src/overtheboxes.module.js
  yarn.lock
Labels: bug, quality check: ok, refactor, universe-telecom

#3321 docs: update maintainers
  CONTRIBUTORS
  MAINTAINERS
Labels: documentation, good first issue

#3322 fix: add missing dependency
  packages/manager/apps/sms/package.json
Labels: bug, dependencies, universe-telecom

#3318 feat(registry): add possibility to filter dev fragments
  packages/manager/tools/registry/README.md
  packages/manager/tools/registry/bin/manager-registry-dev.js
  packages/manager/tools/registry/package.json
  packages/manager/tools/registry/src/dev.js
  packages/manager/tools/registry/src/storage/filter-infos.js
  yarn.lock
Labels: enhancement

#3316 fix(dedicated): replace cancel label with confirm
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fi_FI.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_pt_PT.json
Labels: bug, good first issue, quality check: ok

#3325 fix(user.support-level): fix discover button display
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.html
Labels: bug, quality check: ok, universe-server

#3326 fix(zone): display label correctly
  packages/manager/modules/iplb/src/zone/iplb-zone-picker.component.js
Labels: bug, quality check: ok, universe-server

#3332 fix: use correct index for stepper position
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/routing.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug

#3339 fix(iplb): remove ipv6 field
  packages/manager/modules/iplb/src/frontends/iplb-frontends.html
  packages/manager/modules/iplb/src/graph/iplb-graph.html
  packages/manager/modules/iplb/src/home/iplb-home.html
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.html
  packages/manager/modules/iplb/src/sslCertificate/iplb-ssl-certificate.html
  packages/manager/modules/iplb/src/vrack/iplb-vrack.html
Labels: bug, quality check: ok, universe-server

#3341 fix(redirection): remove ticket creation for the US
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: bug, quality check: ok

#3347 fix(redirection): redirect to /ticket for support requests
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: bug, universe-server

#3352 fix(private-database.order.clouddb): display options after init
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
Labels: bug, universe-web
