Repository ovh/manager, pull requests merged in 2021-02, with the labels that each got.

#4349 fix(commitment.constants): add VPS to the catalog
  packages/manager/modules/billing/src/components/commitment/commitment.constants.js
Labels: bug, quality check: ok, universe-hub

#4364 fix(i18n): fix some typos
  packages/manager/apps/web/client/app/domains/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domains/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud

#4359 Fix/modem display upnp correctly
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/service/service.controller.js
Labels: bug, quality check: ok, universe-telecom

#4346 fix(hosting.multisite.logs): supress error for logs url
  packages/manager/apps/web/client/app/hosting/multisite/logs/hosting-multisite-logs.controller.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_lt_LT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#4361 fix(frontends.edit): remove allowedSource on UDP frontends requests
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4372 refactor(xlds.modem.service): add constant for service status
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/service/service.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/service/service.controller.js
Labels: quality check: ok, refactor, universe-telecom

#4369 fix(overthebox.details): fix restart button
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
Labels: bug, quality check: ok, universe-telecom

#4379 fix(notifications): remove unwanted ovhManagerNavbar dependency
  packages/manager/modules/notifications-sidebar/src/controller.js
  packages/manager/modules/notifications-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/notifications-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/notifications-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/notifications-sidebar/src/translations/Messages_fr_CA.json
  packages/manager/modules/notifications-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/notifications-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/notifications-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/notifications-sidebar/src/translations/Messages_pt_PT.json
Labels: bug, refactor

#4378 fix(telephony): get all events related to current month
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/scheduler.controller.js
Labels: bug, universe-telecom

#4381 fix(deps): add missing deps @ovh-ux/manager-advices
  packages/manager/apps/pci/package.json
Labels: bug, univers-public-cloud

#4384 fix(deps): add missing dependencies
  packages/manager/apps/cda/package.json
  yarn.lock
Labels: bug, dependencies

#4375 fix(training): fix data container missing after removing volume
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Labels: bug, univers-public-cloud

#4386 fix: remove useless apiv7 header
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders-apiv7.service.js
Labels: enhancement

#4387 New release
  packages/manager/apps/dedicated/client/app/billing/orders/billing-orders-apiv7.service.js
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/training/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/training/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/training/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/training/job.class.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/logs/logs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/logs/logs.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/training/training.component.js
  packages/manager/modules/pci/src/projects/project/training/training.constants.js
  packages/manager/modules/pci/src/projects/project/training/training.controller.js
  packages/manager/modules/pci/src/projects/project/training/training.html
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_pt_PT.json
Labels: release

#4393 fix(training.jobs): display correct id
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.html
Labels: bug, univers-public-cloud

#4390 fix(dashboard): remove survey banner
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/dashboard.scss
  packages/manager/apps/hub/src/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/routing.js
Labels: bug, enhancement, quality check: ok, universe-hub

#4340 perf: lazy load otrs section
  packages/manager/apps/dedicated/client/app/account/account.bundle.js
  packages/manager/apps/dedicated/client/app/account/index.js
  packages/manager/apps/dedicated/client/app/account/otrs/detail/otrs-detail.controller.js
  packages/manager/apps/dedicated/client/app/account/otrs/filter/html-string-linky.filter.js
  packages/manager/apps/dedicated/client/app/account/otrs/intervention/intervention.service.js
  packages/manager/apps/dedicated/client/app/account/otrs/new-ticket/otrs-new-ticket.service.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs-controllers.module.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs-directives.module.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs-filters.module.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs-services.module.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs.app.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs.controller.js
  packages/manager/apps/dedicated/client/app/account/otrs/otrs.service.js
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/client/app/otrs/detail/otrs-detail.controller.js
  packages/manager/apps/dedicated/client/app/otrs/detail/otrs-detail.html
  packages/manager/apps/dedicated/client/app/otrs/filter/html-string-linky.filter.js
  packages/manager/apps/dedicated/client/app/otrs/index.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.controller.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.html
  packages/manager/apps/dedicated/client/app/otrs/otrs.module.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.routes.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.service.js
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_pt_PT.json
Labels: performance, quality check: ok, universe-bare-metal-cloud

#4398 fix(dev-deps): remove extra @ovh-ux/ovh-ui-kit dependency
  packages/manager/apps/hub/package.json
Labels: bug, dependencies, universe-hub

#4383 fix(overthebox.remote): update poller when tab switching before result
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.controller.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.html
Labels: bug, quality check: ok, refactor, universe-telecom

#4404 fix(translations): fix invalids translations (variables)
  packages/components/ng-ovh-mondial-relay/src/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/terminateEmail/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/enable/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/notification/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/email/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/cancel-resiliation/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/commitment/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/edit-description/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/logs/translations/Messages_pl_PL.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/delete-security-group/translations/Messages_pl_PL.json
  packages/manager/modules/enterprise-cloud-database/src/service/details/settings/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/configuration/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_pl_PL.json
Labels: bug

#4408 build: update yarn.lock file
  yarn.lock
Labels: build

#4410 fix(subscriber): avoid undefined runtime error
  packages/manager/apps/web/client/app/email-domain/mailing-list/subscribers/email-domain-mailing-list-subscribers-view.html
Labels: bug, universe-web-cloud

#4412 fix(contracts): fix directive
  packages/components/ng-ovh-utils/src/contracts/contracts-directive.js
Labels: bug, quality check, universe-bare-metal-cloud

#4413 fix(i18n): add missing translations [CDS 796]
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/details/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_en_GB.json
Labels: bug, univers-public-cloud

#4411 fix(server.installation): remove wrong parameter
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, universe-telecom

#4415 New release (hotfixes)
  packages/components/ng-ovh-utils/src/contracts/contracts-directive.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
  packages/manager/apps/web/client/app/email-domain/email/responder/create/email-domain-email-responder-create.controller.js
  packages/manager/apps/web/client/app/email-domain/email/responder/create/email-domain-email-responder-create.html
  packages/manager/apps/web/client/app/email-domain/email/responder/update/email-domain-email-responder-update.controller.js
  packages/manager/apps/web/client/app/email-domain/email/responder/update/email-domain-email-responder-update.html
  packages/manager/apps/web/client/app/email-domain/mailing-list/subscribers/email-domain-mailing-list-subscribers-view.html
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/details/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/serving/namespace/models/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_en_GB.json
Labels: release

#4419 fix(kube.restrictions): handle first input
  packages/manager/modules/pci/src/projects/project/kubernetes/details/restrictions/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/restrictions/template.html
Labels: bug, quality check: ok, univers-public-cloud

#4427 fix(license): error back license dashboard
  packages/manager/apps/dedicated/client/app/license/order/license-order.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4430 fix(deps): bump @ovh-ux/ui-kit to v4.4.4
  packages/components/ng-ovh-mondial-relay/package.json
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: bug, dependencies

#4421 feat(sidebar): add logs data platform
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: enhancement, quality check: ok, univers-public-cloud

#4435 Fix/useraccount contact
  packages/manager/apps/dedicated/client/app/account/contacts/index.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.module.js
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/general-information.constants.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/metrics/src/dashboard/metrics-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.controller.js
  packages/manager/modules/veeam-cloud-connect/src/dashboard/veeam-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
Labels: bug, quality check: ok, univers-public-cloud, universe-bare-metal-cloud, universe-web-cloud

#4445 fix(deps): add missing @ovh-ux/manager-ng-layout-helpers deps
  packages/manager/apps/public-cloud/package.json
Labels: bug, dependencies

#4442 New release (hotfixes)
  packages/manager/modules/billing/src/components/commitment/commitment.controller.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/notifications-sidebar/src/notifications-list/template.html
Labels: release

#4452 ci: add configuration for PR autolabelling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: continuous-integration

#4454 ci: add paths for build and docs
  .github/labeler.yml
Labels: continous-integration

#4461 fix(i18n): add missing translations [CDS 810]
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pl_PL.json
Labels: bug, universe-web-cloud

#4434 Feat/bm commitment tracking
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-commitment/cancel-commitment.routing.js
  packages/manager/modules/billing/src/components/cancel-commitment/cancel-commitment.component.js
  packages/manager/modules/billing/src/components/cancel-commitment/cancel-commitment.controller.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.html
Labels: feature, quality check: ok, universe-bare-metal-cloud

#4449 fix(vps): add missing isUpfront flag to configuration tile
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4458 fix(billing.history): fix search
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.controller.js
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.routes.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4463 fix(account.contacts): contact change request redirection
  packages/manager/apps/dedicated/client/app/account/contacts/index.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.routes.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4467 New release (hofixes)
  packages/manager/apps/dedicated/client/app/account/contacts/index.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.routes.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Labels: release, universe-bare-metal-cloud

#4450 feat(instances): add tracking on instance create
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: enhancement, quality check: ok, univers-public-cloud

#4396 fix(pack.migration): update list for services to delete
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required, universe-telecom

#4470 fix(i18n): add missing translations [CDS 817]
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
Labels: bug, universe-bare-metal-cloud

#4400 fix(move.buildingdetails): rename building reference to reference
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.controller.js
Labels: bug, quality check: ok, universe-telecom

#4479 fix(overthebox.remote): remove useless test on exposed port
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.html
Labels: bug, quality check: ok, universe-telecom

#4481 fix(overthebox.details): fix errors on resiliate and cancel resil
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
Labels: bug, quality check: ok, universe-telecom

#4482 fix(locale): handle iso user locales
  packages/manager/modules/config/src/locale/index.js
Labels: bug, quality check: ok

#4483 New release (hotfixes)
  packages/manager/modules/config/src/locale/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.html
Labels: release, universe-telecom

#4476 fix(billing.autorenew): update autorenew tracking
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/update/update.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud
