Repository ovh/manager, pull requests merged in 2021-04, with the labels that each got.

#4649 fix(project.billing): remove repeated tab name
  packages/manager/modules/pci/src/projects/project/billing/billing.html
Labels: bug, quality check: ok, univers-public-cloud

#4662 refactor: remove responsive-tab
  packages/components/ng-ovh-responsive-tabs/CHANGELOG.md
  packages/components/ng-ovh-responsive-tabs/LICENSE
  packages/components/ng-ovh-responsive-tabs/README.md
  packages/components/ng-ovh-responsive-tabs/package.json
  packages/components/ng-ovh-responsive-tabs/rollup.config.js
  packages/components/ng-ovh-responsive-tabs/src/controller.js
  packages/components/ng-ovh-responsive-tabs/src/directive.js
  packages/components/ng-ovh-responsive-tabs/src/index.js
  packages/components/ng-ovh-responsive-tabs/src/more/directive.js
  packages/components/ng-ovh-responsive-tabs/src/more/template.html
  packages/components/ng-ovh-responsive-tabs/src/tab/directive.js
  packages/components/ng-ovh-responsive-tabs/src/tab/template-dropdown.html
  packages/components/ng-ovh-responsive-tabs/src/tab/template-url.html
  packages/components/ng-ovh-responsive-tabs/src/tab/template.html
  packages/components/ng-ovh-responsive-tabs/src/template.html
Labels: refactor

#4669 fix: fix terminate redirection
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#4672 fix(i18n): add missing translations [CDS 878]
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_en_GB.json
Labels: bug, univers-public-cloud

#4673 fix(i18n): add missing translations [CDS 879]
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
Labels: bug, universe-web-cloud

#4663 Revert "feat(project): details why project is not available anymore"
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/pci/src/constants.js
  packages/manager/modules/pci/src/projects/Project.class.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.component.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.controller.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.html
  packages/manager/modules/pci/src/projects/project/inactive/inactive.module.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.routing.js
  packages/manager/modules/pci/src/projects/project/inactive/index.js
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.less
  packages/manager/modules/pci/src/projects/projects.component.js
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/pci/src/projects/projects.routing.js
  packages/manager/modules/pci/src/projects/projects.service.js
  packages/manager/modules/pci/src/projects/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/translations/Messages_pt_PT.json
Labels: translation required, univers-public-cloud

#4675 build(dev-deps): update caniuse
  yarn.lock
Labels: dependencies

#4676 fix(domain-operation): fix domain operation progress url
  packages/manager/apps/web/client/app/domain-operation/domain-operation.html
Labels: bug, universe-web-cloud

#4674 fix(billing.payment): rename DLP to Startup Program
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_pt_PT.json
Labels: translation required, universe-bare-metal-cloud

#4664 feat(billing.payment.ovhaccount): revamp refund
  packages/manager/apps/dedicated/client/app/billing/billing.bundle.js
  packages/manager/apps/dedicated/client/app/billing/billing.module.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/billing-ovhAccount.controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/billing-ovhAccount.html
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/billing-payment-ovhAccount.routes.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/index.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/refund.component.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/refund.controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/refund.module.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/routing.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/template.html
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.html
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pt_PT.json
Labels: enhancement, translation required, universe-bare-metal-cloud

#4436 feat(pack.move): set only fiber offers for user who is already fibered
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
Labels: feature, quality check: ok, universe-telecom

#4486 feat(pack.xdsl.access.comfort-exchange): select contact for modem exchange
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/comfortExchange/comfort-exchange.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/comfortExchange/comfort-exchange.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/comfortExchange/comfort-exchange.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/comfortExchange/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-telecom

#4680 fix(deps): add missing @ovh-ux/ng-tail-logs package
  packages/manager/apps/public-cloud/package.json
Labels: bug, univers-public-cloud

#4681 fix: update content
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pt_PT.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_en_GB.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_CA.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-hub

#4682 Sync develop & master
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/migration-warning/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pt_PT.json
  packages/manager/modules/incident-banner/CHANGELOG.md
  packages/manager/modules/incident-banner/package.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_en_GB.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_CA.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_FR.json
Labels: translation required, universe-hub

#4685 fix: avoid duplicate token in url
  packages/manager/apps/dedicated/client/app/dedicatedCloud/confirm-terminate/dedicatedCloud-terminate-confirm.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/confirm-terminate/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/confirm-terminate/confirm-terminate.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/confirm-terminate/index.js
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#4689 feat(instances.add): update creation tracking
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: enhancement, quality check: ok, univers-public-cloud

#4691 ci: update label for public-cloud application [skip ci]
  .github/labeler.yml
Labels: continuous-integration

#4618 feat(project.kubernetes): add tracking
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/delete/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/delete/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/add/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/billing-type/billing-type.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/billing-type/billing-type.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/billing-type/billing-type.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/bulk-delete/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/delete/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/delete/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/restrictions/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/restrictions/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/edit-name.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-name/edit-name.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset-kubeconfig/reset-kubeconfig.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset-kubeconfig/reset-kubeconfig.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset-kubeconfig/reset-kubeconfig.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/terminate/terminate.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/update/update.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/upgrade-policy/upgrade-policy.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/upgrade-policy/upgrade-policy.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/upgrade-policy/upgrade-policy.html
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.html
Labels: feature, univers-public-cloud, universe-public-cloud

#4488 fix(pack.migration): fix the building reference not sent to api
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: bug, quality check: ok, universe-telecom

#4690 fix(private-database): fix metrics name
  packages/manager/apps/web/client/app/private-database/private-database.service.js
Labels: bug, quality check: ok, universe-web-cloud

#4692 fix(server.details): catch error for byoi
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
Labels: bug, universe-bare-metal-cloud

#4693 fix(server.interfaces): fix ola detection on legacy
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola.class.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4694 New release
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola.class.js
Labels: release, universe-bare-metal-cloud

#4699 fix(telephony.ovhpabx.dialplan.extension.edit): fix ccs scheduler link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-telecom

#4597 Feat/advices batch 2
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/index.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/modules/advices/src/advices/component.js
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/advices/src/advices/index.js
  packages/manager/modules/advices/src/advices/index.less
  packages/manager/modules/advices/src/advices/template.html
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.component.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/index.js
  packages/manager/modules/exchange/src/information/information.html
  packages/manager/modules/exchange/src/information/information.module.js
  packages/manager/modules/exchange/src/order/order.html
  packages/manager/modules/freefax/src/freefax/freefax.component.js
  packages/manager/modules/freefax/src/freefax/freefax.html
  packages/manager/modules/office/src/dashboard/office/license/user/USER.html
  packages/manager/modules/office/src/dashboard/office/license/user/user.module.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/snapshot/snapshot.controller.js
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sharepoint/src/index.js
  packages/manager/modules/sharepoint/src/information/INFORMATION.html
  packages/manager/modules/sharepoint/src/information/information.module.js
  packages/manager/modules/sharepoint/src/order/sharepoint-order.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.component.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.module.js
Labels: feature, quality check: ok, univers-public-cloud, universe-bare-metal-cloud, universe-public-cloud, universe-telecom, universe-web-cloud

#4698 fix(hub): add ALL_DOM translation
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-hub

#4707 fix(deps): add missing @ovh-ux/manager-advices dependency
  packages/manager/apps/telecom/package.json
Labels: bug, universe-telecom

#4709 fix(license): spla license service name display
  packages/manager/apps/dedicated/client/app/license/license.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4697 fix(billing.autorenew.agreements): fix empty agreements modal
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/popup-agreement/popup-agreement.routes.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4701 fix(server.dashboard): detection if tech details are here
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4451 feat(server): add os image tracking
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/index.html
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/index.html
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/choice/dedicated-server-installation-choice.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: enhancement, quality check: ok, translation required, universe-bare-metal-cloud

#4713 fix(server): fix commit recommit tracking
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/billing/src/components/subscription-tile/subscription-tile.component.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4700 fix(license): feature flip upgrade availability
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.controller.js
  packages/manager/apps/dedicated/client/app/license/detail/license-detail.html
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
Labels: bug, quality check, universe-bare-metal-cloud

#4719 fix(managed-baremetal): add params to url
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/index.js
Labels: bug, universe-bare-metal-cloud

#4714 fix(sva): disable pricePerMinute for common number
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/svaGenerator/sva-generator.directive.js
Labels: quality check: ok, universe-telecom

#4717 fix(functionkeys): sort programmable keys by API keyNum
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/programmable-keys.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/programmable-keys.controller.js
Labels: bug, quality check: ok, universe-telecom

#4723 fix(pcc.users): avoid to display an error message as successful
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/delete/dedicatedCloud-user-delete.controller.js
Labels: bug, universe-bare-metal-cloud

#4718 fix(logs.detail.streams): fix routing issue
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/streams.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4727 fix(deps): add missing deps related to @ovh-ux/manager-advices
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/modules/exchange/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/office/package.json
  packages/manager/modules/sharepoint/package.json
  packages/manager/modules/sms/package.json
Labels: bug, universe-telecom, universe-web-cloud

#4728 fix(user.dashboard): update payment tracking shortcut link
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4732 fix(contact): restore wayName display
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
Labels: bug, quality check: ok, universe-telecom

#4733 New release
  packages/components/ng-ovh-contracts/src/summary/template.html
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.html
  packages/manager/modules/models/support/level/SupportLevel.class.js
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/hds/component.js
  packages/manager/modules/pci/src/components/hds/controller.js
  packages/manager/modules/pci/src/components/hds/hds.constant.js
  packages/manager/modules/pci/src/components/hds/index.js
  packages/manager/modules/pci/src/components/hds/template.html
  packages/manager/modules/pci/src/components/hds/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/hds/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/hds/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/hds/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/hds/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/hds/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/hds/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/hds/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/creating/controller.js
  packages/manager/modules/pci/src/projects/creating/service.js
  packages/manager/modules/pci/src/projects/index.js
  packages/manager/modules/pci/src/projects/new/classes/cart.class.js
  packages/manager/modules/pci/src/projects/new/component.js
  packages/manager/modules/pci/src/projects/new/config/component.js
  packages/manager/modules/pci/src/projects/new/config/components/index.js
  packages/manager/modules/pci/src/projects/new/config/controller.js
  packages/manager/modules/pci/src/projects/new/config/index.html
  packages/manager/modules/pci/src/projects/new/config/routing.js
  packages/manager/modules/pci/src/projects/new/module.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/order-cart.service.js
  packages/manager/modules/pci/src/projects/project/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/edit.module.js
  packages/manager/modules/pci/src/projects/project/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/edit/hds/hds.component.js
  packages/manager/modules/pci/src/projects/project/edit/hds/hds.controller.js
  packages/manager/modules/pci/src/projects/project/edit/hds/hds.html
  packages/manager/modules/pci/src/projects/project/edit/hds/index.js
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/edit/hds/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/projects.component.js
  packages/manager/modules/pci/src/projects/projects.module.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: release, translation required, universe-bare-metal-cloud, universe-public-cloud, universe-telecom

#4736 fix(billing.payment.refund): fix route for request
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/refund/routing.js
Labels: bug, universe-bare-metal-cloud

#4745 fix(dedicated): add us translation
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud

#4752 fix(dedicated-cloud.license): display error on spla license activation
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/license/enable/dedicatedCloud-license-enable.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4753 fix(billing): manual renew url for apac subs
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/modules/billing/src/components/services-actions/service-actions.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4761 fix(i18n): add missing translations [CDS 897]
  packages/manager/modules/pci/src/components/hds/translations/Messages_de_DE.json
Labels: bug, universe-public-cloud

#4758 refactor: remove unused user component
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/components/user/user-session.service.js
  packages/manager/apps/web/client/app/components/user/user.controller.js
  packages/manager/apps/web/client/app/configuration/configuration.controller.js
  packages/manager/apps/web/client/app/configuration/configuration.html
  packages/manager/apps/web/client/app/email-domain/email/responder/update/email-domain-email-responder-update.controller.js
Labels: refactor, universe-web-cloud

#4756 New release
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/license/enable/dedicatedCloud-license-enable.controller.js
  packages/manager/modules/telecom-dashboard/src/bills/telecom-dashboard-bills.controller.js
  packages/manager/modules/telecom-dashboard/src/bills/telecom-dashboard-bills.service.js
  packages/manager/modules/telecom-dashboard/src/index.js
Labels: release, universe-bare-metal-cloud, universe-telecom

#4763 fix(ip): ip firewall rules are not shown
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/ip-ip-firewall.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4770 fix(webpaas): show only beta plan
  packages/manager/modules/web-paas/src/web-paas.constants.js
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: quality check: ok, universe-web-cloud

#4764 Fix/modal dedicated css
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
Labels: bug, quality check, universe-bare-metal-cloud

#4772 New release
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.controller.js
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.html
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.routing.js
  packages/manager/modules/web-paas/src/web-paas.constants.js
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: release, universe-bare-metal-cloud, universe-web-cloud

#4776 fix(webpaas): fix webpaas plan issue
  packages/manager/modules/web-paas/src/components/offers/template.html
  packages/manager/modules/web-paas/src/projects/template.html
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: quality check: ok, universe-web-cloud

#4779 fix(webpaas): add multiple project condition back
  packages/manager/modules/web-paas/src/projects/template.html
Labels: bug, universe-web-cloud

#4769 fix(pci.projects.project.vouchers): display properly the error message
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#4762 feat(cloud.project): handle quantity unit in billing display
  packages/manager/modules/pci/src/components/project/billing/resource-usage/controller.js
  packages/manager/modules/pci/src/components/project/billing/resource-usage/index.html
Labels: enhancement, universe-public-cloud

#4724 feat(project.kubernetes.details.service): add maintenance status
  packages/manager/modules/pci/src/projects/project/kubernetes/details/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
Labels: feature, quality check: ok, universe-public-cloud

#4784 feat(migration): update content for rise servers
  packages/manager/modules/incident-banner/package.json
  packages/manager/modules/incident-banner/src/migration/index.js
  packages/manager/modules/incident-banner/src/migration/migration-banner.controller.js
  packages/manager/modules/incident-banner/src/migration/migration-banner.html
  packages/manager/modules/incident-banner/src/migration/translations/Messages_de_DE.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_en_GB.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_es_ES.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_CA.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_FR.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_it_IT.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pl_PL.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pt_PT.json
Labels: enhancement, quality check: ok

#4787 fix(deps): add missing @ovh-ux/ng-ovh-feature-flipping deps
  packages/manager/apps/vps/package.json
Labels: bug, universe-bare-metal-cloud

#4783 fix(webpaas): change to beta plan
  packages/manager/modules/web-paas/src/components/offers/template.html
Labels: bug, quality check: ok, universe-web-cloud

#4771 fix: prepare new dedicated server OS usages (#4767)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-bare-metal-cloud

#4789 New release
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/vps/package.json
Labels: release, translation required, universe-bare-metal-cloud

#4553 Feat/manager 6393 - Schedule automated backup
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/veeam/index.js
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/index.js
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/vps-schedule-backup.component.js
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/vps-schedule-backup.controller.js
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/vps-schedule-backup.html
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/vps-schedule-backup.routing.js
  packages/manager/modules/vps/src/veeam/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/veeam/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/veeam/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/veeam/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/veeam/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/veeam/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/veeam/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/veeam/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/veeam/vps-veeam.component.js
  packages/manager/modules/vps/src/veeam/vps-veeam.controller.js
  packages/manager/modules/vps/src/veeam/vps-veeam.html
  packages/manager/modules/vps/src/veeam/vps-veeam.routing.js
  packages/manager/modules/vps/src/vps/constants.js
Labels: feature, quality check: ok, universe-bare-metal-cloud

#4795 feat: allow resiliation for impacted services
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/terminate/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.component.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.html
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.routing.js
  packages/manager/modules/vps/src/dashboard/tile/information/information.html
  packages/manager/modules/vps/src/detail/vps-detail.component.js
  packages/manager/modules/vps/src/detail/vps-detail.html
  packages/manager/modules/vps/src/vps/routing.js
Labels: feature, translation required, universe-bare-metal-cloud

#4760 feat(datacenter.drp.summary): add remoteVraNetwork field
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_pt_PT.json
Labels: feature, quality check: ok, translation required, universe-bare-metal-cloud

#4773 feat(server.dashboard.technical-details): check if upgradable
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/technical-details.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/technical-details.html
Labels: enhancement, quality check: ok, universe-bare-metal-cloud

#4803 fix(terminate): hide content on some condition
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.component.js
  packages/manager/modules/vps/src/dashboard/terminate/vps-terminate.html
Labels: bug, universe-bare-metal-cloud

#4807 feat: add forced manual status
  packages/manager/modules/billing/src/components/service-status/service-status.constants.js
  packages/manager/modules/billing/src/components/service-status/service-status.html
  packages/manager/modules/billing/src/components/service-status/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_pt_PT.json
  packages/manager/modules/models/BillingService/BillingService.class.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: translation required, universe-bare-metal-cloud

#4812 fix(ccs): link popover to dropdown button
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/entry.html
Labels: bug, universe-telecom

#4804 fix(telephony): update description max length
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing-account.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line-main.html
Labels: bug, quality check: ok, universe-telecom

#4814 fix(env): replace singleton environment usage by coreConfig
  packages/manager/apps/hub/src/dashboard/incident/migration/routing.js
  packages/manager/apps/hub/src/dashboard/incident/status/status.controller.js
  packages/manager/apps/web/client/app/configuration/configuration.controller.js
Labels: bug, universe-hub, universe-web-cloud

#4810 feat(private-registry): correct updating status
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
Labels: feature, quality check: ok, translation required, universe-public-cloud

#4815 fix(server.details): update non-fr translations
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-bare-metal-cloud

#4799 fix(ip): enabled pagination for ip parking
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4792 Fix/dtrsd 23129
  packages/manager/apps/dedicated/client/app/billing/main/history/legacy/billing-main-history.controller.js
  packages/manager/apps/dedicated/client/app/billing/main/history/legacy/billing-main-history.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4828 fix(product-offers): fix on get plancode
  packages/manager/modules/product-offers/src/workflows/product-offers-services-workflow.class.js
Labels: bug

#4831 fix(deps): upgrade ovh-api-services to v11.1.1
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: bug, universe-bare-metal-cloud, universe-hub, universe-public-cloud, universe-telecom, universe-web-cloud

#4830 Feat/cookie policy
  packages/components/ng-at-internet/src/provider.js
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/sign-up/src/index.scss
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/package.json
  packages/manager/modules/at-internet-configuration/src/index.js
  packages/manager/modules/cookie-policy/LICENSE
  packages/manager/modules/cookie-policy/README.md
  packages/manager/modules/cookie-policy/package.json
  packages/manager/modules/cookie-policy/rollup.config.js
  packages/manager/modules/cookie-policy/src/assets/images/logo-ovhcloud.png
  packages/manager/modules/cookie-policy/src/controller.js
  packages/manager/modules/cookie-policy/src/index.js
  packages/manager/modules/cookie-policy/src/links.js
  packages/manager/modules/cookie-policy/src/service.js
  packages/manager/modules/cookie-policy/src/style.scss
  packages/manager/modules/cookie-policy/src/template.html
  packages/manager/modules/cookie-policy/src/translations/Messages_de_DE.json
  packages/manager/modules/cookie-policy/src/translations/Messages_en_GB.json
  packages/manager/modules/cookie-policy/src/translations/Messages_es_ES.json
  packages/manager/modules/cookie-policy/src/translations/Messages_fr_CA.json
  packages/manager/modules/cookie-policy/src/translations/Messages_fr_FR.json
  packages/manager/modules/cookie-policy/src/translations/Messages_it_IT.json
  packages/manager/modules/cookie-policy/src/translations/Messages_pl_PL.json
  packages/manager/modules/cookie-policy/src/translations/Messages_pt_PT.json
Labels: quality check: ok, translation required, universe-bare-metal-cloud, universe-hub, universe-public-cloud, universe-telecom, universe-web-cloud

#4834 Sync develop & master
  packages/components/ng-at-internet/CHANGELOG.md
  packages/components/ng-at-internet/package.json
  packages/components/ng-at-internet/src/provider.js
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/sign-up/CHANGELOG.md
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/sign-up/src/index.scss
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/package.json
  packages/manager/modules/at-internet-configuration/CHANGELOG.md
  packages/manager/modules/at-internet-configuration/package.json
  packages/manager/modules/at-internet-configuration/src/index.js
  packages/manager/modules/cookie-policy/CHANGELOG.md
  packages/manager/modules/cookie-policy/LICENSE
  packages/manager/modules/cookie-policy/README.md
  packages/manager/modules/cookie-policy/package.json
  packages/manager/modules/cookie-policy/rollup.config.js
  packages/manager/modules/cookie-policy/src/assets/images/logo-ovhcloud.png
  packages/manager/modules/cookie-policy/src/controller.js
  packages/manager/modules/cookie-policy/src/index.js
  packages/manager/modules/cookie-policy/src/links.js
  packages/manager/modules/cookie-policy/src/service.js
  packages/manager/modules/cookie-policy/src/style.scss
  packages/manager/modules/cookie-policy/src/template.html
  packages/manager/modules/cookie-policy/src/translations/Messages_de_DE.json
  packages/manager/modules/cookie-policy/src/translations/Messages_en_GB.json
  packages/manager/modules/cookie-policy/src/translations/Messages_es_ES.json
  packages/manager/modules/cookie-policy/src/translations/Messages_fr_CA.json
  packages/manager/modules/cookie-policy/src/translations/Messages_fr_FR.json
  packages/manager/modules/cookie-policy/src/translations/Messages_it_IT.json
  packages/manager/modules/cookie-policy/src/translations/Messages_pl_PL.json
  packages/manager/modules/cookie-policy/src/translations/Messages_pt_PT.json
Labels: translation required, universe-bare-metal-cloud, universe-hub, universe-public-cloud, universe-telecom, universe-web-cloud

#4837 feat: update resiliation process
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/dedicated-server-terminate.html
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/terminate.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/terminate.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/terminate.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/translations/Messages_pt_PT.json
Labels: enhancement, translation required, universe-bare-metal-cloud

#4840 fix: enforce cookie policy
  packages/manager/modules/cookie-policy/src/index.js
Labels: bug

#4818 feat(kubernetes): private network
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.html
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_pt_PT.json
Labels: enhancement, quality check: ok, translation required, universe-public-cloud

#4845 fix: optimize cookie policy
  packages/components/ng-at-internet/src/provider.js
Labels: bug

#4851 fix(dashboard.incident.status): add missing aria-hidden attribute
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
Labels: bug, universe-hub

#4850 feat(incident): add vps backup download link
  packages/manager/apps/hub/src/dashboard/incident/status/status.controller.js
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Labels: translation required, universe-hub

#4561 fix(training.jobs): add checkbox to show volumes field
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#4746 fix(pack.move.unbundling): add index for unbundling offers list
  packages/manager/apps/telecom/src/app/telecom/pack/move/unbundling/move-unbundling.html
Labels: bug, quality check: ok, universe-telecom

#4798 feat(project): add pci project advices
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
Labels: feature, quality check: ok, universe-public-cloud

#4702 fix(telecom.phone): set a height for tiles item
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.less
Labels: bug, universe-telecom

#4515 Refactor: clean unused translations
  packages/manager/apps/telecom/src/app/telecom/pack/slots/emailPro/add/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/emailPro/add/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/emailPro/add/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/emailPro/add/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/emailPro/add/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/emailPro/add/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/emailPro/add/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeIndividual/add/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeIndividual/add/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeIndividual/add/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeIndividual/add/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeIndividual/add/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeIndividual/add/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeIndividual/add/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/add/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/add/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/add/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/add/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/add/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/add/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hostedEmail/add/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/subscription-tile/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/subscription-tile/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/components/subscription-tile/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/subscription-tile/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/components/subscription-tile/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/subscription-tile/translations/Messages_pt_PT.json
  packages/manager/modules/cda/src/translations/Messages_es_US.json
Labels: question, universe-bare-metal-cloud, universe-telecom

#4854 fix(incident): update wording
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-hub

#4858 fix(training.jobs.resubmit): update confirm message
  packages/manager/modules/pci/src/projects/project/training/jobs/resubmit/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#4604 feat(ai.training): handle cpu jobs
  packages/manager/modules/pci/src/projects/project/training/command_line_converter.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.module.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: translation required, universe-public-cloud
