Repository ovh/manager, pull requests merged in 2021-11, with the labels that each got.

#5856 fix(support.tickets.new): add missing services type content
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required

#5841 feat(dedicated.server): use upgrade system instead of range name
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
Labels: feature, universe-bare-metal-cloud

#5847 fix(pci): linux image distribution update
  packages/manager/modules/pci/src/components/project/images-list/images.constants.js
Labels: bug, quality check: ok, universe-public-cloud

#5861 fix(private-database): remove period on quota action
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
Labels: universe-web-cloud, translation required

#5791 fix(zerto): fix order issue
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5873 Feat PUD-1047 (pci.storage.databases): add engine logo
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/Kafka_MirrorMaker.png
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
Labels: feature, universe-public-cloud

#5774 Feat PUD-969 (pci.storage.databases): display integrations on kafka dashboard
  packages/manager/modules/pci/src/components/project/storages/databases/serviceIntegration.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#5827 fix(nutanix): add onboarding page
  packages/manager/modules/nutanix/src/onboarding/assets/Nutanix.png
  packages/manager/modules/nutanix/src/onboarding/controller.js
  packages/manager/modules/nutanix/src/onboarding/template.html
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required

#5798 feat(billing.autorenew): track service type on resiliation
  packages/manager/modules/billing-components/src/components/resiliation/index.js
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.component.js
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.controller.js
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.html
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing/src/autoRenew/resiliation/resiliation.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#5811 feat: add `pageUrl`
  packages/components/ng-at-internet-ui-router-plugin/src/index.js
  packages/components/ng-at-internet/src/constants.js
  packages/components/ng-at-internet/src/provider.js
Labels: quality check: ok, feature

#5814 Fix/dtrsd 54697
  packages/manager/apps/web/client/app/hosting/cdn/shared/hosting-cdn-shared-settings.service.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#5797 fix(billing.autorenew): track service type
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/modules/vps/src/vps/routing.js
  packages/manager/modules/web-paas/src/details/details.routing.js
Labels: bug, universe-web-cloud, universe-bare-metal-cloud

#5742 Feat/setup sonarcloud
  .sonarcloud.properties
  scripts/common/repository.js
  scripts/release.js
  scripts/release/index.js
Labels: feature, build

#5867 fix(web): removal of tooltip
  packages/manager/apps/web/client/app/domain/zone/record/CNAME/domain-zone-record-CNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/MX/domain-zone-record-MX.html
  packages/manager/apps/web/client/app/domain/zone/record/NS/domain-zone-record-NS.html
Labels: bug, quality check: ok, universe-web-cloud

#5875 fix(dashboard): add dot to CA spam target
  packages/manager/modules/exchange/src/dashboard/exchange.constants.js
Labels: bug, quality check: ok, universe-web-cloud

#5874 fix(billing): commitment discount amount
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/commitment-pricing-mode.controller.js
  packages/manager/modules/billing-components/src/components/commitment/commitment.service.js
Labels: bug, quality check: ok

#5305 feat(portability): check sva wallet for special number portability
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/order.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/order.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/order.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#5872 Feat PUD-1057 (pci.storage.databases): Scope Changes in MirrorMaker UI
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/Kafka_MirrorMaker.png
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, universe-public-cloud

#5749 Feat PUD-973 (pci.storage.databases): add / edit / delete replications
  packages/manager/modules/pci/src/components/project/storages/databases/replication.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/serviceIntegration.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/Kafka_MirrorMaker.png
  packages/manager/modules/pci/src/projects/project/storages/databases/components/tags-input/tags-input.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/tags-input/tags-input.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/tags-input/tags-input.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#5748 Feat PUD-972 (pci.storage.databases): add replication tab
  packages/manager/modules/pci/src/components/project/storages/databases/replication.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/serviceIntegration.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/serviceIntegration.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/Kafka_MirrorMaker.png
  packages/manager/modules/pci/src/projects/project/storages/databases/components/tags-input/tags-input.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/tags-input/tags-input.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/tags-input/tags-input.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/delete-replication.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/replications.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#5890 fix(i18n): add missing translations [CDS 1239]
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/commitment-duration/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
Labels: bug, universe-bare-metal-cloud

#5892 fix: add missing translations
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_en_GB.json
Labels: bug

#5574 feat(*): all dom termination enhancement
  packages/manager/modules/billing-components/src/components/services-actions/service-actions.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/component.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/module.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/routing.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/style.less
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/template.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/billing/src/billing.module.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#5898 fix(i18n): add missing translations [CDS 1260]
  packages/manager/modules/enterprise-cloud-database/src/service/details/insights/translations/Messages_en_GB.json
Labels: bug, universe-bare-metal-cloud

#5899 fix(i18n): add missing translations [CDS 1261]
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
Labels: bug, universe-bare-metal-cloud

#5801 feat MANAGER-7755 (pci.storage.databases): display current offer for plans and flavors
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.html
Labels: quality check, feature, translation required, universe-public-cloud

#5704 feat(domain): removal of relative notion
  packages/manager/apps/web/client/app/domain/dashboard/domain-validator.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/record/CNAME/domain-zone-record-CNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/MX/domain-zone-record-MX.html
  packages/manager/apps/web/client/app/domain/zone/record/NS/domain-zone-record-NS.html
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
  packages/manager/apps/web/client/app/domain/zone/record/resume.html
Labels: quality check: ok, feature, universe-web-cloud, translation required

#5910 fix(volumes.create): update redirection to volume dashboard
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/routing.js
Labels: bug, universe-bare-metal-cloud

#5915 fix(volumes): add missing actions
  packages/manager/modules/netapp/src/dashboard/volumes/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
Labels: bug, universe-bare-metal-cloud

#5916 fix(subscription-tile): fix contact management
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
Labels: bug

#5917 fix(volumes.snapshot): prevent actions when snapshot is deleted
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/Snapshot.class.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
Labels: bug, universe-bare-metal-cloud

#5919 fix(order): preselect performance level
  packages/manager/modules/netapp/src/order/controller.js
Labels: bug, universe-bare-metal-cloud

#5920 fix(volumes): add description
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#5924 fix(commitment): fix total price display
  packages/manager/modules/billing-components/src/components/commitment/commitment.html
Labels: bug, quality check: ok

#5925 fix(volumes): update tab name
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#5918 fix(volumes.dashboard): block acl ip duplicate creation
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/template.html
Labels: bug, universe-bare-metal-cloud

#5786 feat: add tracking
  packages/manager/modules/netapp/src/dashboard/component.js
  packages/manager/modules/netapp/src/dashboard/module.js
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/component.js
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/controller.js
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/routing.js
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/module.js
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/add/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/add/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/add/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/delete/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/delete/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/delete/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/onboarding/template.html
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/module.js
Labels: feature, universe-bare-metal-cloud

#5933 ci(sonarcloud): update exclusions for duplications
  .sonarcloud.properties
Labels: continuous-integration

#5936 build: upgrade ui-kit range
  packages/manager/apps/netapp/package.json
  packages/manager/modules/netapp/package.json
  yarn.lock
Labels: bug, universe-bare-metal-cloud, dependencies

#5884 fix(hosting.multisite): webhosting multisite polling
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/multisite.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#5946 feat(nutanix): add nutanix to hub
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hub

#5950 fix(volumes.dashboard.snapshots): add missing delete label
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
Labels: bug, universe-bare-metal-cloud

#5954 fix: add state to enterprise file storage entry
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug

#5830 feat: add nutanix cluster general info section
  packages/manager/modules/manager-components/src/edit-name/component.js
  packages/manager/modules/manager-components/src/edit-name/controller.js
  packages/manager/modules/manager-components/src/edit-name/index.js
  packages/manager/modules/manager-components/src/edit-name/template.html
  packages/manager/modules/manager-components/src/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/nutanix/src/cluster.class.js
  packages/manager/modules/nutanix/src/dashboard/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/edit-display-name/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/edit-display-name/index.js
  packages/manager/modules/nutanix/src/dashboard/general-info/edit-display-name/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/edit-display-name/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/edit-display-name/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/dashboard/service.js
  packages/manager/modules/nutanix/src/dashboard/template.html
Labels: feature, translation required

#5907 fix(server.details): enable bandwidth option for new range
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5927 fix(storages.databases.components.plan-list): update badge type
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
Labels: bug, universe-public-cloud

#5911 build(*): bump ng-ovh-api-wrappers to version 4.0.9
  packages/manager/apps/anthos/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/ng-layout-helpers/package.json
  packages/manager/modules/notifications-sidebar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: build, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud

#5914 feat(config): allow jest to use local config
  jest.config.js
  packages/manager/apps/shell/jest.config.js
  packages/manager/apps/shell/src/notifications-sidebar/Notifications/Notification/Badge.jsx
  packages/manager/apps/shell/src/notifications-sidebar/NotificationsSidebar.jsx
  packages/manager/apps/shell/src/shell/header.jsx
Labels: feature

#5947 fix(baremetal.commitment): fix issue with upfront price
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/commitment-pricing-mode.html
  packages/manager/modules/billing-components/src/components/commitment/commitment.html
Labels: bug, quality check: ok

#5957 fix: add netapp catalog
  packages/manager/modules/billing-components/src/components/commitment/commitment.constants.js
Labels: bug

#5953 Fix PUD-986 (pci.storage.databases) - added missing tracking
  packages/manager/modules/pci/src/projects/project/storages/databases/database/indexes/indexes.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/indexes/indexes.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/useracl/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/useracl/useracl.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/useracl/useracl.html
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.controller.js
Labels: bug, universe-public-cloud

#5913 fix(tickets.new-ticket): add anthos translation
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required

#5921 feat(nutanix.cluster): add cluster list page
  packages/manager/modules/nutanix/src/cluster.class.js
  packages/manager/modules/nutanix/src/component.js
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/controller.js
  packages/manager/modules/nutanix/src/dashboard/module.js
  packages/manager/modules/nutanix/src/index.js
  packages/manager/modules/nutanix/src/module.js
  packages/manager/modules/nutanix/src/onboarding/routing.js
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/nutanix/src/template.html
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Labels: feature, translation required

#5964 fix(onboarding): prevent loop if order is not available
  packages/manager/modules/netapp/src/routing.js
Labels: bug, universe-bare-metal-cloud

#5972 fix(storage.databases): MANAGER-8091: Add margin to tiles
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
Labels: bug, universe-public-cloud

#5971 fix(storage.databases): MANAGER-8032: Service name not limited in edition
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/edit-name/edit-name.html
Labels: bug, universe-public-cloud

#5974 fix(storage.databases): MANAGER-8008: hide user info message if no user
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
Labels: bug, universe-public-cloud

#5975 fix(storage.databases): MANAGER-8059: spelling mistake
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#5961 fix(pci.instance): allow resize to non flex flavor
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
Labels: bug, quality check: ok, universe-public-cloud

#5983 feat(proxy): add local2API proxy config
  packages/manager/apps/shell/vite.config.js
Labels: feature

#5996 fix(storage.databases): MANAGER-8116: set min characters for name edition modal
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/edit-name/edit-name.controller.js
Labels: bug, universe-public-cloud

#5995 fix: update tracking
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/add/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/add/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/add/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/delete/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/delete/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/delete/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/template.html
Labels: bug, universe-bare-metal-cloud

#5990 fix(storage.databases): MANAGER-8006: fix spelling in add page
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#5987 fix(volumes): disable create button if quota is exceeded
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
Labels: bug, universe-bare-metal-cloud

#5937 Feat/manager shell i18n plugin
  packages/components/ovh-shell/__tests__/plugin/i18n/i18n.spec.ts
  packages/components/ovh-shell/features/plugin/i18n/i18n.feature
  packages/components/ovh-shell/src/plugin/i18n/index.ts
  packages/components/ovh-shell/src/shell/index.ts
  packages/components/ovh-shell/src/shell/shell.ts
  packages/manager/apps/shell/src/__tests__/shell/shell.spec.js
  packages/manager/apps/shell/src/context/ApplicationProvider.jsx
  packages/manager/apps/shell/src/context/useApplicationContext.js
  packages/manager/apps/shell/src/index.jsx
  packages/manager/apps/shell/src/navbar/language.jsx
  packages/manager/apps/shell/src/navbar/navbar.jsx
  packages/manager/apps/shell/src/shell/index.jsx
Labels: feature

#5955 feat: track changes for recommitment
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/commitment/commitment.routing.js
  packages/manager/modules/billing-components/src/components/commitment/commitment.component.js
  packages/manager/modules/billing-components/src/components/commitment/commitment.controller.js
  packages/manager/modules/vps/src/dashboard/commitment/vps-commitment.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#5809 feat(hosting.multisite.add): select ssl by default
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
Labels: quality check: ok, feature, universe-web-cloud

#6004 fix: declare mxplan order in lazyloading
  packages/manager/modules/email-domain/src/index.js
Labels: bug, quality check: ok

#5982 feat(nutanix.list): rework cluster list
  packages/manager/modules/nutanix/src/cluster.class.js
  packages/manager/modules/nutanix/src/component.js
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/template.html
  packages/manager/modules/nutanix/src/templates/prismUrl.html
  packages/manager/modules/nutanix/src/templates/serviceLink.html
  packages/manager/modules/nutanix/src/templates/status.html
Labels: bug

#6001 fix(upgrade): fix injections in exit hook
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5969 feat(nutanix.tracking): add tracking to nutanix app
  packages/manager/modules/bm-server-components/src/ipmi/component.js
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/component.js
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/bm-server-components/src/support/component.js
  packages/manager/modules/bm-server-components/src/support/controller.js
  packages/manager/modules/bm-server-components/src/support/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/install/image/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/interventions/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/tasks/routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/service.js
Labels: feature

#6005 fix(storage.databases): MANAGER-8035: fix tooltip css
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.scss
Labels: bug, universe-public-cloud

#5984 fix(storage.databases): MANAGER-8002: improve storage and ram display
  packages/manager/modules/pci/src/components/project/storages/databases/flavor.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#6016 feat(storage.databases): PUD-1084 - add modal to alert user about existing integrations before delete
  packages/manager/modules/pci/src/projects/project/storages/databases/confirm-delete/confirm-delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/confirm-delete/confirm-delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/confirm-delete/confirm-delete.html
  packages/manager/modules/pci/src/projects/project/storages/databases/confirm-delete/confirm-delete.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/confirm-delete/confirm-delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/confirm-delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/confirm-delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.routing.js
Labels: feature, translation required, universe-public-cloud

#6020 fix(dashboard.volume.create): display max size
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
Labels: bug, universe-bare-metal-cloud

#5979 fix(shortcuts): update services label
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_fr_FR.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_it_IT.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_pl_PL.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-hub

#6021 fix(volumes.dashboard.snapshots): remove total part
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#5753 feat(web): display propagation message in dns zone and server tab
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dns/domain-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/default-ttl/domain-zone-default-ttl.html
  packages/manager/apps/web/client/app/domain/zone/delete-all/domain-zone-delete-all.html
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/import-text/domain-zone-import-text.html
  packages/manager/apps/web/client/app/domain/zone/record/delete/domain-zone-record-delete.html
  packages/manager/apps/web/client/app/domain/zone/reset/domain-zone-reset.html
Labels: quality check: ok, feature, universe-web-cloud, translation required

#6033 fix(onboarding): add missing period
  packages/manager/modules/netapp/src/onboarding/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#6034 fix(dashboard): prevent tiles overlap
  packages/manager/modules/netapp/src/dashboard/template.html
Labels: bug, universe-bare-metal-cloud

#6031 fix(id): fix incoherence of id proof
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/documents/documents.constants.js
Labels: bug, universe-telecom

#6030 fix(summary): hide optionnal fields
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.html
Labels: bug, universe-telecom

#6023 fix(storage.databases): PUD-985: add tracking on success or error when adding a replication
  packages/manager/modules/pci/src/projects/project/storages/databases/database/replications/add-edit/add-edit.controller.js
Labels: bug, universe-public-cloud

#5985 Require Node.js 14
  README.md
  docs/docs/guide/getting-started.md
  package.json
  packages/manager/fragments/navbar/package.json
  packages/manager/modules/iplb/src/dashboard/iplb.scss
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/dev-server-config/package.json
  packages/manager/tools/dev-server/package.json
  packages/manager/tools/registry/package.json
  packages/manager/tools/webpack-config/package.json
  yarn.lock
Labels: feature, build, universe-bare-metal-cloud, documentation, dependencies, breaking-change

#6045 fix(deps): upgrade `ovh-ux/manager-dev-server-config` to `v3.0.0`
  packages/manager/tools/webpack-dev-server/package.json
Labels: bug, build, dependencies

#6038 fix(kycform): limit max of benefeciaries to four
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/beneficiaries/beneficiaries.controller.js
Labels: feature, universe-telecom

#6026 fix(email-domain): display errors message
  packages/manager/modules/email-domain/src/email/email-domain-email.html
Labels: bug, quality check: ok

#5958 feat(account-sidebar, dedicated): change of url to status-ovhcloud
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#6018 fix(storage.databases): fix nodes polling
  packages/manager/modules/pci/src/components/project/storages/databases/database.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#5804 feat PUD-823 (pci.storage.databases): auto-update the user tab
  packages/manager/modules/pci/src/components/project/storages/databases/user.class.js
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.routing.js
Labels: quality check: ok, feature, universe-public-cloud

#5677 feat: cancel a service with commitment
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/resiliation/resiliation.routing.js
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.controller.js
  packages/manager/modules/billing/src/autoRenew/actions/delete/delete.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#5284 feat: enable veeam enterprise order for US
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: quality check: ok, feature

#5935 feat(veeam.order): modifications in auto-backup screen
  packages/manager/modules/vps/src/veeam/order/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.controller.js
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.html
  packages/manager/modules/vps/src/veeam/vps-veeam.component.js
  packages/manager/modules/vps/src/veeam/vps-veeam.html
  packages/manager/modules/vps/src/veeam/vps-veeam.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required
