Repository ovh/manager, pull requests merged in 2021-03, with the labels that each got.

#4491 fix(i18n): add missing translations [CDS 828]
  packages/manager/apps/dedicated/client/app/billing/autoRenew/disable-domains-bulk/translations/Messages_it_IT.json
Labels: universe-bare-metal-cloud

#4499 fix(ip): display pagination for parking
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
Labels: bug, universe-bare-metal-cloud

#4497 Sync develop & master
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/autoRenew/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/package.json
Labels: translation required, universe-bare-metal-cloud

#4498 fix(locale): add missing getUserLocale method
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
Labels: bug

#4503 fix(domain-operation.update): redirect to the right form
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.controller.js
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.html
Labels: bug, quality check: ok, universe-web-cloud

#4506 New release
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.controller.js
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.html
Labels: release, universe-bare-metal-cloud, universe-web-cloud

#4510 Sync develop master
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.controller.js
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.html
  packages/manager/apps/web/package.json
Labels: universe-bare-metal-cloud, universe-web-cloud

#4508 fix(users): use horizon URL based on customer region
  packages/manager/modules/pci/src/projects/project/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/users/users.routing.js
Labels: bug, quality check: ok, univers-public-cloud

#4512 fix(ip): paginate ip parking
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
Labels: bug, universe-bare-metal-cloud

#4500 fix(dedicated-server.install): add BringYourOwnImage guide URL for US
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/constants.js
Labels: bug, quality check: ok, univers-public-cloud, universe-bare-metal-cloud, universe-web-cloud

#4519 Sync develop & master
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/dashboard/dashboard.module.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/hub/src/index.less
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/index.js
  packages/manager/apps/telecom/src/index.html
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/client/app/index.js
  packages/manager/apps/web/package.json
  packages/manager/modules/banner/CHANGELOG.md
  packages/manager/modules/banner/package.json
  packages/manager/modules/banner/src/index.js
  packages/manager/modules/banner/src/text-banner/index.js
  packages/manager/modules/banner/src/text-banner/text-banner.component.js
  packages/manager/modules/banner/src/text-banner/text-banner.controller.js
  packages/manager/modules/banner/src/text-banner/text-banner.html
  packages/manager/modules/banner/src/text-banner/text-banner.less
  packages/manager/modules/config/CHANGELOG.md
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/environment/environment.service.js
  packages/manager/modules/config/src/index.js
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/preloader/CHANGELOG.md
  packages/manager/modules/preloader/package.json
  packages/manager/modules/preloader/src/index.js
  packages/manager/modules/preloader/src/style.css
  packages/manager/modules/preloader/src/template.js
Labels: univers-public-cloud, universe-bare-metal-cloud, universe-hub, universe-telecom, universe-web-cloud

#4431 feat(public-cloud): support discovery instances
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/telecom/src/app/index.js
  packages/manager/apps/web/client/app/index.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pt_PT.json
Labels: feature, quality check: ok, translation required, univers-public-cloud, universe-bare-metal-cloud, universe-hub, universe-telecom, universe-web-cloud

#4526 fix(billing.autorenew): replace Server call with /services
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/delete/delete.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
Labels: bug, universe-bare-metal-cloud

#4527 fix(pci.instances): return generated value of formatted storage
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#4531 feat(ip): add notification on slowness ipfo actions
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_pt_PT.json
Labels: enhancement, translation required, univers-public-cloud, universe-bare-metal-cloud

#4534 fix(vps): remove cluster information
  packages/manager/modules/vps/src/dashboard/tile/information/information.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: bug, universe-bare-metal-cloud

#4537 fix(ip): remove notification on slowness ipfo actions
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/failover-ips/translations/Messages_pt_PT.json
Labels: bug, translation required, univers-public-cloud, universe-bare-metal-cloud

#4542 Sync dev master
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
  packages/manager/apps/dedicated/client/app/dedicated/server/index.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/incident-banner/CHANGELOG.md
  packages/manager/modules/incident-banner/LICENSE
  packages/manager/modules/incident-banner/README.md
  packages/manager/modules/incident-banner/package.json
  packages/manager/modules/incident-banner/rollup.config.js
  packages/manager/modules/incident-banner/src/banner.component.js
  packages/manager/modules/incident-banner/src/banner.controller.js
  packages/manager/modules/incident-banner/src/banner.html
  packages/manager/modules/incident-banner/src/index.js
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: univers-public-cloud, universe-bare-metal-cloud

#4543 feat: add incident status listing
  packages/manager/apps/hub/src/assets/theme/datagrid.scss
  packages/manager/apps/hub/src/assets/theme/index.scss
  packages/manager/apps/hub/src/controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.module.js
  packages/manager/apps/hub/src/dashboard/incident/incident.module.js
  packages/manager/apps/hub/src/dashboard/incident/index.js
  packages/manager/apps/hub/src/dashboard/incident/routing.js
  packages/manager/apps/hub/src/dashboard/incident/status/index.js
  packages/manager/apps/hub/src/dashboard/incident/status/routing.js
  packages/manager/apps/hub/src/dashboard/incident/status/status.component.js
  packages/manager/apps/hub/src/dashboard/incident/status/status.constants.js
  packages/manager/apps/hub/src/dashboard/incident/status/status.controller.js
  packages/manager/apps/hub/src/dashboard/incident/status/status.module.js
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/translations/Messages_pt_PT.json
Labels: enhancement, translation required, universe-hub

#4546 feat(hub): add service url in incident status list
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
Labels: universe-hub

#4548 feat(dashboard): add banner incident for non FR customer
  packages/manager/apps/hub/src/index.html
Labels: universe-hub

#4550 feat(dasbhoard): add datacenters and regions to incident services status
  packages/manager/apps/hub/src/dashboard/incident/status/status.constants.js
  packages/manager/apps/hub/src/dashboard/incident/status/status.controller.js
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Labels: translation required, universe-hub

#4555 fix(hub): add service type to services status
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-hub

#4554 fix(projects): add missing suspended status
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/translations/Messages_pt_PT.json
Labels: bug, translation required, univers-public-cloud, universe-hub

#4559 fix(dashboard): update pci types in services incident status
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-hub

#4520 fix(api): display available results
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug

#4558 fix(sidebar): do not open by default on responsive mode
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
Labels: bug, univers-public-cloud

#4564 fix(workflow): disable region
  packages/manager/modules/pci/src/projects/project/workflow/workflow.routing.js
Labels: bug, univers-public-cloud

#4566 New release
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/workflow/workflow.routing.js
  packages/manager/modules/server-sidebar/src/controller.js
Labels: release, translation required, univers-public-cloud, universe-web-cloud

#4568 feat(order-tracking): add information on bare metal delivery
  packages/components/ng-ovh-order-tracking/src/order-tracking.html
  packages/components/ng-ovh-order-tracking/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pt_PT.json
Labels: enhancement, quality check: ok, translation required

#4567 Sync develop & master
  packages/components/ng-ovh-order-tracking/CHANGELOG.md
  packages/components/ng-ovh-order-tracking/package.json
  packages/components/ng-ovh-order-tracking/src/order-tracking.html
  packages/components/ng-ovh-order-tracking/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-order-tracking/src/translations/Messages_pt_PT.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/workflow/workflow.routing.js
  packages/manager/modules/server-sidebar/CHANGELOG.md
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/server-sidebar/src/controller.js
Labels: translation required, univers-public-cloud, universe-web-cloud

#4569 fix(hub): remove useless prefix for warning notifications
  packages/manager/apps/hub/src/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/translations/Messages_pt_PT.json
Labels: translation required, universe-hub

#4572 feat(dashboard): add veeamcc service type to incident status page
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Labels: translation required, universe-hub

#4575 Sync develop & master
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
Labels: universe-hub

#4576 fix(incident): add padding to display pagination
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
Labels: bug, universe-hub

#4582 fix(deps): add missing @ovh-ux/manager-incident-banner dependency
  packages/manager/apps/vps/package.json
Labels: bug, universe-bare-metal-cloud

#4565 fix(alias): allow resiliation
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/dashboard/dashboard.html
Labels: quality check: ok, universe-telecom

#4586 feat(dashboard): add rack state to incident status
  packages/manager/apps/hub/src/dashboard/incident/status/status.controller.js
  packages/manager/apps/hub/src/dashboard/incident/status/template.html
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/status/translations/Messages_pt_PT.json
Labels: enhancement, translation required, universe-hub

#4590 feat(server.dashboard): add rack status
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/server.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_FR.json
Labels: enhancement, translation required, universe-bare-metal-cloud

#4592 Sync develop master
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/package.json
Labels: translation required, universe-bare-metal-cloud

#4593 fix(dedicated-cloud): update datacenter subitem state
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug, quality check: ok

#4595 fix(tracking): update defaults initialization
  packages/manager/modules/at-internet-configuration/src/index.js
Labels: quality check: ok, universe-bare-metal-cloud, universe-hub, universe-public-cloud, universe-telecom, universe-web-cloud

#4549 feat(dedicated): add servicetype to billing autorenew tracking
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/update/update.controller.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/update/update.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-commitment/cancel-commitment.routing.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
Labels: feature, quality check: ok, universe-bare-metal-cloud

#4563 fix: remove non needed component
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/telecom/src/app/app.js
  packages/manager/apps/telecom/src/index.html
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/creating/index.html
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/projects.html
Labels: univers-public-cloud, universe-bare-metal-cloud, universe-telecom, universe-web-cloud

#4594 fix: avoid to override already imported stylesheet
  packages/manager/apps/email-pro/src/app.module.js
  packages/manager/modules/emailpro/src/dashboard/emailpro.module.js
Labels: quality check: ok, universe-web-cloud

#4599 fix(incident.banner): update content in incident banner
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/incident/migration/translations/Messages_pt_PT.json
Labels: translation required, universe-hub

#4602 feat(migration): update banner content
  packages/manager/modules/incident-banner/src/migration/translations/Messages_de_DE.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_en_GB.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_es_ES.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_CA.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_fr_FR.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_it_IT.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pl_PL.json
  packages/manager/modules/incident-banner/src/migration/translations/Messages_pt_PT.json
Labels: translation required

#4605 fix(billing.payment): avoid duplicate tab name
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/payment/translations/Messages_pt_PT.json
Labels: translation required, universe-bare-metal-cloud

#4598 fix(i18n): remove unused locales
  packages/manager/modules/core/src/index.js
Labels: bug

#4611 feat(billing.refunds): add link to prepaid account
  packages/manager/apps/dedicated/client/app/billing/main/refunds/billing-payment-refunds.routes.js
  packages/manager/apps/dedicated/client/app/billing/main/refunds/billing-refunds.controller.js
  packages/manager/apps/dedicated/client/app/billing/main/refunds/billing-refunds.html
  packages/manager/apps/dedicated/client/app/billing/main/refunds/refunds.constants.js
Labels: universe-bare-metal-cloud

#4624 fix(ip): broadcast event on promise callback
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4620 fix(billing.payment.ovh-account): update retrieve wording
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.html
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-bare-metal-cloud

#4623 feat(billing.payment): add description to voucher movements
  packages/manager/apps/dedicated/client/app/billing/payment/credits/billing-credits.service.js
  packages/manager/apps/dedicated/client/app/billing/payment/credits/movements/billing-credits-movements.controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/credits/movements/billing-credits-movements.html
  packages/manager/apps/dedicated/client/app/billing/payment/credits/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/billing/payment/credits/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/billing/payment/credits/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/billing/payment/credits/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/billing/payment/credits/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/billing/payment/credits/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/billing/payment/credits/translations/Messages_pt_PT.json
Labels: enhancement, translation required, universe-bare-metal-cloud

#4471 Feat/manager 6385
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/details.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/details.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/index.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/details/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_pt_PT.json
Labels: feature, quality check: ok, translation required, univers-public-cloud, universe-public-cloud

#4622 fix(nasha.new): inject translations
  packages/manager/modules/nasha/src/dashboard/nasha.module.js
  packages/manager/modules/nasha/src/dashboard/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#4636 fix(hosting.cdn): shared cdn wrong state
  packages/manager/apps/web/client/app/hosting/cdn/shared/add-edit-cache-rule/hosting-shared-add-edit-cache-rule.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/shared/hosting-cdn-shared-settings.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#4635 fix(service): add check for engagement
  packages/manager/modules/models/service/Service.class.js
Labels: bug

#4634 New release
  packages/manager/apps/web/client/app/hosting/cdn/shared/add-edit-cache-rule/hosting-shared-add-edit-cache-rule.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/shared/hosting-cdn-shared-settings.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/modules/nasha/src/dashboard/nasha.module.js
  packages/manager/modules/nasha/src/dashboard/routing.js
Labels: release, universe-bare-metal-cloud, universe-web-cloud

#4639 fix: allow resiliation on service that can be engaged
  packages/manager/apps/dedicated/client/app/billing/autoRenew/actions/delete/delete.routing.js
  packages/manager/modules/billing/src/components/services-actions/services-actions.html
Labels: bug, quality check, universe-bare-metal-cloud

#4640 feat: update wording for new billing status
  packages/manager/apps/dedicated/client/app/billing/autoRenew/autorenew.html
  packages/manager/modules/billing/src/components/service-status/service-status.constants.js
  packages/manager/modules/billing/src/components/service-status/service-status.html
  packages/manager/modules/billing/src/components/service-status/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/service-status/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/payment-status-tile/payment-status-tile.html
  packages/manager/modules/models/BillingService/BillingService.class.js
Labels: enhancement, translation required, universe-bare-metal-cloud, universe-hub

#4641 fix(billing.cancellation-form): update wording
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/components/cancellation-form/translations/Messages_pt_PT.json
Labels: bug, quality check, translation required

#4629 feat(web.exchange): fix order new account in exchange
  packages/manager/modules/exchange/src/account/order/account-order.controller.js
  packages/manager/modules/exchange/src/account/order/account-order.html
Labels: bug, quality check: ok, universe-web-cloud

#4655 fix: update yarn.lock
  packages/manager/apps/web-paas/package.json
  yarn.lock
Labels: universe-web-cloud

#4656 Sync develop & master
  packages/manager/apps/web-paas/CHANGELOG.md
  packages/manager/apps/web-paas/package.json
  yarn.lock
Labels: universe-web-cloud

#4653 fix(iplb): fix redirection
  packages/manager/modules/iplb/src/index.js
Labels: bug, universe-bare-metal-cloud

#3137 feat(project): details why project is not available anymore
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/pci/src/constants.js
  packages/manager/modules/pci/src/projects/Project.class.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.component.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.controller.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.html
  packages/manager/modules/pci/src/projects/project/inactive/inactive.module.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.routing.js
  packages/manager/modules/pci/src/projects/project/inactive/index.js
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.less
  packages/manager/modules/pci/src/projects/projects.component.js
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/pci/src/projects/projects.routing.js
  packages/manager/modules/pci/src/projects/projects.service.js
  packages/manager/modules/pci/src/projects/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/translations/Messages_pt_PT.json
Labels: feature, quality check: ok, translation required, univers-public-cloud, universe-public-cloud

#4658 fix(billing.history): add billId to see debt
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.html
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.routes.js
Labels: bug, universe-bare-metal-cloud

#4657 New release
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.html
  packages/manager/apps/dedicated/client/app/billing/main/history/billing-main-history.routes.js
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/apps/web/client/app/domain-operation/domain-operation.html
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/pci/src/constants.js
  packages/manager/modules/pci/src/projects/Project.class.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.component.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.controller.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.html
  packages/manager/modules/pci/src/projects/project/inactive/inactive.module.js
  packages/manager/modules/pci/src/projects/project/inactive/inactive.routing.js
  packages/manager/modules/pci/src/projects/project/inactive/index.js
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/inactive/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/index.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/project-list/project-list.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.less
  packages/manager/modules/pci/src/projects/projects.component.js
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/pci/src/projects/projects.routing.js
  packages/manager/modules/pci/src/projects/projects.service.js
  packages/manager/modules/pci/src/projects/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/translations/Messages_pt_PT.json
Labels: release, translation required, univers-public-cloud, universe-bare-metal-cloud, universe-web-cloud
