Repository ovh/manager, pull requests merged in 2021-06, with the labels that each got.

#4966 feat(hosting): move infra statistics from dashboard to statistics tab
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/user-logs/USER_LOGS.html
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_pt_PT.json
Labels: feature, quality check: ok, translation required, universe-web-cloud

#5018 New release
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/user-logs/USER_LOGS.html
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/user-logs/translations/Messages_pt_PT.json
  yarn.lock
Labels: dependencies, release, translation required, universe-web-cloud

#5006 feat(baremetal-server-components): add network tile component
  packages/manager/modules/bm-server-components/src/general-info-tile/template.html
  packages/manager/modules/bm-server-components/src/general-info-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/network/component.js
  packages/manager/modules/bm-server-components/src/network/controller.js
  packages/manager/modules/bm-server-components/src/network/index.js
  packages/manager/modules/bm-server-components/src/network/template.html
  packages/manager/modules/bm-server-components/src/network/translations/Messages_fr_FR.json
Labels: feature, translation required

#4998 feat(baremetal-server-components): add edit name component
  packages/manager/modules/bm-server-components/src/edit-name/component.js
  packages/manager/modules/bm-server-components/src/edit-name/controller.js
  packages/manager/modules/bm-server-components/src/edit-name/index.js
  packages/manager/modules/bm-server-components/src/edit-name/template.html
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/edit-name/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/general-info-tile/constants.js
  packages/manager/modules/bm-server-components/src/index.js
Labels: feature, translation required

#5008 fix(repayments): update repayments process and display
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/special/repayments/repayments.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/special/repayments/repayments.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/special/repayments/repayments.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/groupRepayments/group-repayments.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/groupRepayments/group-repayments.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/groupRepayments/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/group.factory.js
Labels: bug, quality check: ok, translation required, universe-telecom

#5024 feat(tickets): add AI Training product
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: enhancement, quality check: ok, translation required

#4459 fix(server.terminate): handle US enterprise customers
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/servers.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/terminate/dedicated-server-terminate.html
Labels: bug, quality check: ok, translation required, universe-bare-metal-cloud

#5033 fix(hosting.cdn.order): prevent ngRepeat console error
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#5037 fix(server.dashboard): server cancel resiliation error
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/cancel-resiliation.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/cancel-resiliation.routing.js
Labels: bug, universe-bare-metal-cloud

#5007 fix(server.installation.ovh): set basic template as default
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-web-cloud

#5040 New release
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/cancel-resiliation.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
Labels: release, universe-bare-metal-cloud, universe-web-cloud

#5042 fix(telephony.line.password): disallow % char in password
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/password/password.controller.js
Labels: bug, quality check: ok, universe-telecom

#5044 fix(xdsl.move): fix display without tax if not necessary
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
Labels: bug, quality check: ok, universe-telecom

#5049 fix(logs.detail.input.add): add missing stateParams
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/add/logs-inputs-add.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5039 fix(add): display error message
  packages/manager/modules/web-paas/src/add/add.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#5061 fix(billing.payment.method): fix callback delete after page loaded
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/component.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/index.html
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5062 fix(service): check if billing pricing value exists
  packages/manager/modules/models/service/Service.class.js
Labels: bug, quality check: ok

#5038 fix(domain): allow to display dns zone when service is expired
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
  packages/manager/apps/web/client/app/domain/dashboard/domain.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#5063 fix(webpaas): disable create
  packages/manager/modules/web-paas/src/onboarding/onboarding.html
  packages/manager/modules/web-paas/src/projects/template.html
Labels: bug, quality check: ok, universe-web-cloud

#5036 feat(bm-server-components): add ipmi component
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/ipmi/component.js
  packages/manager/modules/bm-server-components/src/ipmi/constants.js
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/index.js
  packages/manager/modules/bm-server-components/src/ipmi/ipmi.class.js
  packages/manager/modules/bm-server-components/src/ipmi/kvm.class.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/component.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/index.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/template.html
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/restart/component.js
  packages/manager/modules/bm-server-components/src/ipmi/restart/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/restart/index.js
  packages/manager/modules/bm-server-components/src/ipmi/restart/template.html
  packages/manager/modules/bm-server-components/src/ipmi/restart/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/service.js
  packages/manager/modules/bm-server-components/src/ipmi/state.class.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/polling/polling.service.js
Labels: refactor, translation required

#4971 feat(webpaas): add tracking to web paas
  packages/manager/modules/server-sidebar/src/web.constants.js
  packages/manager/modules/web-paas/package.json
  packages/manager/modules/web-paas/src/add/add.component.js
  packages/manager/modules/web-paas/src/add/add.controller.js
  packages/manager/modules/web-paas/src/add/add.routing.js
  packages/manager/modules/web-paas/src/add/template.html
  packages/manager/modules/web-paas/src/components/addon/component.js
  packages/manager/modules/web-paas/src/components/addon/controller.js
  packages/manager/modules/web-paas/src/components/addon/template.html
  packages/manager/modules/web-paas/src/components/delete-user/controller.js
  packages/manager/modules/web-paas/src/components/delete-user/template.html
  packages/manager/modules/web-paas/src/components/terminate/controller.js
  packages/manager/modules/web-paas/src/components/terminate/template.html
  packages/manager/modules/web-paas/src/details/service/add-addon/add-addon.routing.js
  packages/manager/modules/web-paas/src/details/service/change-offer/change-offer.controller.js
  packages/manager/modules/web-paas/src/details/service/change-offer/change-offer.html
  packages/manager/modules/web-paas/src/details/service/change-offer/change-offer.routing.js
  packages/manager/modules/web-paas/src/details/service/service.component.js
  packages/manager/modules/web-paas/src/details/service/service.constants.js
  packages/manager/modules/web-paas/src/details/service/service.controller.js
  packages/manager/modules/web-paas/src/details/service/service.html
  packages/manager/modules/web-paas/src/details/service/service.routing.js
  packages/manager/modules/web-paas/src/details/user-licences/add-addon/add-addon.routing.js
  packages/manager/modules/web-paas/src/details/user-licences/delete-user/delete-user.routing.js
  packages/manager/modules/web-paas/src/details/user-licences/invite-user/invite-user.component.js
  packages/manager/modules/web-paas/src/details/user-licences/invite-user/invite-user.controller.js
  packages/manager/modules/web-paas/src/details/user-licences/invite-user/invite-user.html
  packages/manager/modules/web-paas/src/details/user-licences/invite-user/invite-user.routing.js
  packages/manager/modules/web-paas/src/details/user-licences/user-licences.constants.js
  packages/manager/modules/web-paas/src/details/user-licences/user-licences.controller.js
  packages/manager/modules/web-paas/src/details/user-licences/user-licences.html
  packages/manager/modules/web-paas/src/details/user-licences/user-licences.routing.js
  packages/manager/modules/web-paas/src/index.js
  packages/manager/modules/web-paas/src/onboarding/onboarding.controller.js
  packages/manager/modules/web-paas/src/onboarding/onboarding.html
  packages/manager/modules/web-paas/src/projects/projects.component.js
  packages/manager/modules/web-paas/src/projects/projects.controller.js
  packages/manager/modules/web-paas/src/projects/projects.routing.js
  packages/manager/modules/web-paas/src/projects/template.html
  packages/manager/modules/web-paas/src/projects/terminate/terminate.routing.js
  packages/manager/modules/web-paas/src/web-paas.routing.js
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: universe-web-cloud

#5086 fix(telecom): telephony alias translation
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_en_GB.json
Labels: universe-telecom

#5094 fix(webpaas): enable create button in onboarding
  packages/manager/modules/web-paas/src/onboarding/onboarding.html
Labels: universe-web-cloud

#5091 fix(ip): alerting count
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
Labels: bug, universe-bare-metal-cloud

#5099 fix(deps): add missing dependencies
  packages/manager/apps/web-paas/package.json
Labels: bug, universe-web-cloud

#5102 New release
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/web-paas/package.json
Labels: release, universe-bare-metal-cloud, universe-web-cloud

#4965 feat(public-cloud): enable k8s in US
  packages/manager/modules/pci/src/components/project/guides-header/guides-header.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: feature, quality check: ok, universe-public-cloud

#4925 feat: enable load balancer service in US region
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.constants.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature, quality check: ok, universe-public-cloud

#5106 New release
  packages/manager/modules/pci/src/components/project/guides-header/guides-header.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/containers/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.constants.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: release, universe-public-cloud

#5110 fix(project.load-balancer): update guide URL
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.constants.js
Labels: bug, universe-public-cloud

#5098 fix(repayment): get filtered repayment for servicename
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/special/repayments/repayments.controller.js
Labels: bug, quality check: ok, universe-telecom

#5068 fix(telephony.service.voicemail.options): update notification message
  packages/manager/apps/telecom/src/app/telecom/telephony/service/voicemail/options/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/voicemail/options/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/voicemail/options/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/voicemail/options/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/voicemail/options/translations/Messages_it_IT.json
Labels: bug, quality check: ok, universe-telecom

#5117 fix(pci.storages.databases): remove guides
  packages/manager/modules/pci/src/projects/project/storages/databases/onboarding/onboarding.constants.js
Labels: bug, universe-public-cloud

#5077 refactor(dedicated): remove user service from billing
  packages/manager/apps/dedicated/client/app/account/contacts/request/change/user-contacts-request-change.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/received/user-contacts-request-received.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/send/user-contacts-request-send.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/add/user-users-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/update/user-users-update.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/users.controller.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/ssh/user-ssh-guides.js
  packages/manager/apps/dedicated/client/app/billing/autoRenew/ssh/user-ssh.controller.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.controller.js
  packages/manager/apps/dedicated/client/app/billing/confirmTerminate/legacy/termination-legacy.html
  packages/manager/apps/dedicated/client/app/billing/payment/credits/billing-credits.controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/fidelity/billing-fidelity.controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/component.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/controller.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/guides.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/routing.js
  packages/manager/apps/dedicated/client/app/billing/payment/ovhAccount/billing-ovhAccount.controller.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: quality check: ok, refactor, universe-bare-metal-cloud

#5082 fix(public-cloud): show billing control to all users
  packages/manager/modules/pci/src/projects/project/billing/billing.routing.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug, quality check: ok, universe-public-cloud

#5120 feat(support.tickets.new): ticket content improvement
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: enhancement, feature, quality check: ok, translation required

#5123 New release
  packages/manager/modules/pci/src/projects/project/billing/billing.routing.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.controller.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: release, translation required, universe-public-cloud

#5065 fix(form): reorder legal field value and update wording
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/form/form.controller.js
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required

#5109 fix(billing.resiliation): update check on engagement
  packages/manager/apps/dedicated/client/app/billing/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5129 fix(services-action): allow resiliation on commited services
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Labels: bug, quality check: ok

#5135 fix(sign-up): flag-icon-css path
  packages/manager/modules/sign-up/src/components/country-flag/index.scss
Labels: bug, quality check: ok

#5139 ci: add action to check for conflicts
  .github/workflows/merge_conflict_finder.yml
Labels: continuous-integration, quality check: ok

#5134 Databases - Block Actions when not in Ready state
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#5140 fix(storages.databases): correct database connection strings
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#5130 fix(telephony.line.calls): update check for trunk lines
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/calls.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/calls.controller.js
Labels: bug, quality check: ok, universe-telecom

#5149 Sync develop & master
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing/src/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.routing.js
  packages/manager/modules/sign-up/CHANGELOG.md
  packages/manager/modules/sign-up/package.json
  packages/manager/modules/sign-up/src/components/country-flag/index.scss
Labels: universe-bare-metal-cloud, universe-public-cloud

#5101 Add High Performance Storage
  packages/manager/modules/pci/src/components/project/regions-list/regions.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/objects/add/add.routing.js
Labels: translation required, universe-public-cloud

#5131 fix: add redirection for /contact
  packages/manager/apps/web/client/app/app.module.js
Labels: bug, quality check: ok, universe-web-cloud

#5152 fix(training.jobs.submit): load GPU on init
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#5148 fix(i18n): add missing translations [CDS 1010]
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-public-cloud

#5153 fix(group.member): enable contact deletion
  packages/manager/modules/exchange/src/group/member/group-member.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#5047 fix(project.storages.i-backups.add): add missing public ip
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#4712 feat(move.eligibility): add test eligibility for partners
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/lineNumber/move-eligibility-lineNumber.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/lineNumber/move-eligibility-lineNumber.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/move-eligibility.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/move-eligibility.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.html
Labels: enhancement, quality check: ok, universe-telecom

#5154 New release
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/modules/exchange/src/group/member/group-member.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Labels: release, universe-public-cloud, universe-web-cloud

#5160 perf: use coreConfig to get user
  packages/manager/modules/at-internet-configuration/src/index.js
Labels: performance, universe-cloud

#5162 perf: remove unecessary user certificates call
  packages/manager/apps/dedicated/client/app/components/user/user.service.js
Labels: performance, universe-bare-metal-cloud

#5164 fix(account.contact.update): add lazyloading to contact update
  packages/manager/apps/dedicated/client/app/account/contacts/update/index.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.controller.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user-contacts-update.module.js
  packages/manager/apps/dedicated/client/app/account/index.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5170 fix(dedicated): account contact redirection
  packages/manager/apps/dedicated/client/app/account/account.redirection.js
  packages/manager/apps/dedicated/client/app/account/contacts/request/user-contacts-request.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/update/user.contacts-update.routes.js
  packages/manager/apps/dedicated/client/app/account/contacts/user-contacts.routes.js
  packages/manager/apps/dedicated/client/app/account/index.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5159 perf: lazy load payment methods
  packages/manager/modules/account-sidebar/src/controller.js
  packages/manager/modules/account-sidebar/src/payment-mean/component.js
  packages/manager/modules/account-sidebar/src/payment-mean/controller.js
  packages/manager/modules/account-sidebar/src/template.html
Labels: performance, universe-cloud

#5174 feat(domain-operation): handle `DomainUnlock` operation translation
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_es_US.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pt_PT.json
Labels: enhancement, translation required, universe-web-cloud

#5175 Upgrade some dev dependencies
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Labels: dependencies

#5176 perf(feature-availability): use coreConfig user
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/cloud-universe-components/src/featureAvailability/service.js
Labels: performance

#5179 refactor: remove `Messages_lt_LT.json` files
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_lt_LT.json
  packages/manager/modules/cda/src/details/translations/Messages_fi_FI.json
  packages/manager/modules/cda/src/details/translations/Messages_lt_LT.json
  packages/manager/modules/metrics/src/details/translations/Messages_lt_LT.json
Labels: refactor, universe-bare-metal-cloud

#5144 feat(billing): set new content for split payment modal
  packages/manager/modules/billing-components/src/components/split-payment/action/component.js
  packages/manager/modules/billing-components/src/components/split-payment/action/controller.js
  packages/manager/modules/billing-components/src/components/split-payment/action/index.html
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/method/splitPayment/activate/routing.js
  packages/manager/modules/billing/src/payment/method/splitPayment/deactivate/routing.js
Labels: enhancement, quality check: ok, translation required

#5182 fix(storages.databases): add beta agreement to databases
  packages/manager/modules/pci/src/components/project/labs/lab.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.module.js
Labels: bug, quality check: ok, universe-public-cloud

#5165 fix: fix button download in ODP (PDATA-2890)
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#5189 fix(user-security): fix IP restriction header
  packages/manager/apps/dedicated/client/app/account/user/security/user-security.html
Labels: bug, universe-bare-metal-cloud

#5192 fix(telephony.phone.order): use customer country
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.controller.js
Labels: bug, quality check: ok, universe-telecom

#5193 fix(hosting): update redirection to mailing list
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.html
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.routes.js
Labels: bug, quality check: ok, universe-web-cloud
