Repository ovh/manager, pull requests merged in 2021-07, with the labels that each got.

#5194 fix(project.storage.containers): use single call for deletion
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug, quality check: ok, universe-public-cloud

#5196 fix(dedicated.servers): wrong datacenter translation
  packages/manager/apps/dedicated/client/app/dedicated/server/servers.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5195 build(dev-deps): upgrade `husky` to `v7.0.0`
  .husky/.gitignore
  package.json
  yarn.lock
Labels: dependencies

#5211 fix: fixes issue with creating option for a new order
  packages/manager/modules/web-paas/src/components/additional-option/controller.js
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: bug, quality check: ok, universe-web-cloud

#4832 feat(modem.ports): add internal port end for port mapping
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.factory.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_fr_FR.json
Labels: enhancement, quality check: ok, translation required, universe-telecom

#5191 fix(ip): fix ip parking filter
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5220 fix(private-registry): add missing translation
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#5169 fix(redirection): avoid redirection loop during lazyloading
  packages/manager/apps/public-cloud/src/index.routes.js
Labels: bug, quality check: ok, universe-public-cloud

#5202 fix: split domain hold operations
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_FR.json
Labels: translation required, universe-web-cloud

#5223 New release
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.factory.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/ports.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_pt_PT.json
Labels: release, translation required, universe-bare-metal-cloud, universe-public-cloud, universe-telecom

#5173 feat(domain): add DNAME records support
  packages/manager/apps/web/client/app/domain/zone/record/DNAME/domain-zone-record-DNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/add/domain-zone-record-add.html
Labels: feature, quality check: ok, universe-web-cloud

#5064 build(component-rollup-config): bump rollup from 2.0.2 to 2.50.6
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/component-rollup-config/src/index.js
  yarn.lock
Labels: bug, build, dependencies, quality check

#5232 fix(deps): bump @ovh-ux/ui-kit to v4.6.1
  yarn.lock
Labels: bug, dependencies

#5237 fix(web): dedicated redirection regex
  packages/manager/apps/web/client/app/app.module.js
Labels: bug, quality check: ok, universe-web-cloud

#5198 fix(pci.storages.databases): remove cache on iceberg apis
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
Labels: bug, quality check: ok, universe-public-cloud

#5244 New release
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
Labels: release, universe-public-cloud

#5177 feat: add missing domain operations translations
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pt_PT.json
Labels: universe-web-cloud

#5183 fix: minor bugs on pci data processing (PDATA-2912)
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.service.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.html
Labels: bug, quality check: ok, universe-public-cloud

#5247 feat(users.credentials): generate s3 credentials
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/users/users.routing.js
  packages/manager/modules/pci/src/projects/project/users/users.service.js
Labels: translation required, universe-public-cloud

#5180 feat(pci.components.pci-announcement-banner): beta pci banner info
  packages/manager/modules/pci/src/components/pci-announcement-banner/component.js
  packages/manager/modules/pci/src/components/pci-announcement-banner/controller.js
  packages/manager/modules/pci/src/components/pci-announcement-banner/index.js
  packages/manager/modules/pci/src/components/pci-announcement-banner/template.html
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/baremetal/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/baremetal/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.component.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.html
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.html
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/regions/regions.component.js
  packages/manager/modules/pci/src/projects/project/regions/regions.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.html
Labels: quality check: ok, translation required, universe-public-cloud

#5253 feat: add announcement banner (#5180)
  packages/manager/modules/pci/src/components/pci-announcement-banner/component.js
  packages/manager/modules/pci/src/components/pci-announcement-banner/controller.js
  packages/manager/modules/pci/src/components/pci-announcement-banner/index.js
  packages/manager/modules/pci/src/components/pci-announcement-banner/template.html
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/pci-announcement-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/baremetal/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/baremetal/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.component.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.html
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/vrack/vrack.html
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/regions/regions.component.js
  packages/manager/modules/pci/src/projects/project/regions/regions.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/objects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.html
Labels: translation required, universe-public-cloud

#5262 fix(exchange): remove version test on get display value
  packages/manager/modules/exchange/src/account/accountTypes.service.js
Labels: bug, quality check: ok, universe-web-cloud

#5252 fix(user.session): prevent display `server` as current universe
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5260 fix(sms): update sms download from date
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.controller.js
Labels: quality check: ok, universe-telecom

#5261 fix(telecom): use line country when ordering phone
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line.factory.js
Labels: bug, quality check: ok, universe-telecom

#5258 fix(exchange): not able to export external contacts
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.controller.js
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.html
  packages/manager/modules/exchange/src/external-contact/external-contact.module.js
  packages/manager/modules/exchange/src/external-contact/external-contact.service.js
Labels: bug, quality check: ok, universe-web-cloud

#5269 fix(dedicated): fix ip and license import module
  packages/manager/apps/dedicated/client/app/app.bundle.js
Labels: bug, universe-bare-metal-cloud

#5271 feat(sva): add sva module
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/kyc-identity-form.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/kyc-identity-form.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/kyc-identity-form.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.service.js
Labels: translation required, universe-telecom

#5275 Revert "feat(users.credentials): generate s3 credentials"
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/users/users.routing.js
  packages/manager/modules/pci/src/projects/project/users/users.service.js
Labels: translation required, universe-public-cloud

#5276 Feat/generate s3 credentials
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/users.component.js
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/users/users.routing.js
  packages/manager/modules/pci/src/projects/project/users/users.service.js
Labels: translation required, universe-public-cloud

#5217 Feat/add user popup
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/emptyUser/emptyUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/emptyUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: feature, translation required, universe-public-cloud

#5114 Feat/manager 6825: add anti_fraud step check
  packages/manager/modules/pci/src/projects/creating/constants.js
  packages/manager/modules/pci/src/projects/creating/controller.js
  packages/manager/modules/pci/src/projects/creating/service.js
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/projects.component.js
  packages/manager/modules/pci/src/projects/projects.constant.js
  packages/manager/modules/pci/src/projects/projects.routing.js
  packages/manager/modules/pci/src/projects/projects.service.js
Labels: feature, quality check: ok, translation required, universe-public-cloud

#5224 refactor(*): move dedicated server tasks code to a separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/details/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/task/dedicated-server-task.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/task/dedicated-server-task.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/task/dedicated-server-task.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/task/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/template.html
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/tasks/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/tasks/component.js
  packages/manager/modules/bm-server-components/src/tasks/constants.js
  packages/manager/modules/bm-server-components/src/tasks/controller.js
  packages/manager/modules/bm-server-components/src/tasks/index.js
  packages/manager/modules/bm-server-components/src/tasks/tasks.class.js
  packages/manager/modules/bm-server-components/src/tasks/template.html
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/tasks/translations/Messages_pt_PT.json
Labels: quality check, refactor, translation required, universe-bare-metal-cloud

#5222 refactor(*): move server interventions to a separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/details/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_lt_LT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/dedicated-server-intervention.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/dedicated-server-intervention.html
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/dedicated-server-intervention.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/intervention/template.html
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/interventions/component.js
  packages/manager/modules/bm-server-components/src/interventions/controller.js
  packages/manager/modules/bm-server-components/src/interventions/index.js
  packages/manager/modules/bm-server-components/src/interventions/template.html
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/interventions/translations/Messages_pt_PT.json
Labels: quality check, refactor, translation required, universe-bare-metal-cloud

#5287 Sync master & develop
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/router/ports/translations/Messages_pt_PT.json
Labels: universe-telecom

#5227 feat(dashboard): update list for new options
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, universe-public-cloud

#5283 AI Serving documentation link update
  packages/manager/modules/pci/src/projects/project/serving/namespace/namespace.constants.js
Labels: universe-public-cloud

#5219 perf(housing): add lazy loading
  packages/manager/apps/dedicated/client/app/css/less/dedicated/housing/stats.less
  packages/manager/apps/dedicated/client/app/css/source.less
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/access/add/dedicated-housing-backup-access-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/access/delete/dedicated-housing-backup-access-delete.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/backup.module.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/disable/dedicated-housing-backup-disable.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/enable/dedicated-housing-backup-enable.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/backup/password/reset/dedicated-housing-backup-password-reset.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/housing.module.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/reboot/dedicated-housing-reboot.controller.js
Labels: feature, quality check: ok, universe-bare-metal-cloud

#5294 fix(pci.projects.new): fix anti fraud checker
  packages/manager/modules/pci/src/projects/new/payment/controller.js
Labels: bug, quality check: ok, universe-public-cloud

#5273 fix(xdsl.service.modal): fix modal service for content sharing
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/service/modal/service-modal.controller.js
Labels: bug, quality check: ok, universe-telecom

#5297 fix(dedicated): missing ip range service
  packages/manager/apps/dedicated/client/app/components/ip/ip-components.module.js
  packages/manager/apps/dedicated/client/app/components/ip/ip-range.service.js
  packages/manager/apps/dedicated/client/app/ip/ip.module.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5300 fix(resiliation): translate error message
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.controller.js
Labels: bug

#5310 fix: sort package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
Labels: universe-public-cloud

#5301 fix(partition.zfs): replace with oui-radio
  packages/manager/modules/nasha/src/partition/zfs-options/zfs-options.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5270 fix(telecom): text overflow on telephony alias configuration
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.less
Labels: bug, quality check: ok, universe-telecom

#5251 refactor(*): move netboot to bm server components module
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/dedicated-server-netboot.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/dedicated-server-netboot.html
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/template.html
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/netboot/component.js
  packages/manager/modules/bm-server-components/src/netboot/controller.js
  packages/manager/modules/bm-server-components/src/netboot/index.js
  packages/manager/modules/bm-server-components/src/netboot/service.js
  packages/manager/modules/bm-server-components/src/netboot/template.html
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_lt_LT.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pt_PT.json
Labels: quality check, refactor, translation required, universe-bare-metal-cloud

#4967 Feat/manager 6801: allow customers to add new regions
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
Labels: feature, quality check: ok, translation required, universe-public-cloud

#5314 fix(notebook.add): fix link
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#5315 fix: bump @ovh-ux/ui-kit to v4.7.0
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: dependencies, universe-bare-metal-cloud, universe-hub, universe-public-cloud, universe-telecom, universe-web-cloud

#5320 fix(hpc): switch orderable commercial ranges api
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: quality check: ok, universe-bare-metal-cloud

#5330 fix(dbaas.logs): streams loading error
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.controller.js
Labels: universe-bare-metal-cloud

#5335 fix(orders): declare redirection order follow-up rule before lazyloading
  packages/manager/modules/billing/src/index.js
  packages/manager/modules/billing/src/order/billing-order-tracking.routing.js
Labels: quality check: ok

#5338 fix(kubernetes): prevent no region available error
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/autoscaling/autoscaling.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Labels: quality check: ok, universe-public-cloud

#5337 fix(account.contact): encode parameter
  packages/manager/apps/dedicated/client/app/account/contacts/service/contacts-service.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5328 fix(vps.dashboard): remove duplicate delete shortcut
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: quality check: ok, universe-bare-metal-cloud

#5331 fix(translations): run translations at the right moment
  packages/manager/modules/cloud-connect/src/details/overview/add-pop-configuration/add-pop-configuration.module.js
Labels: quality check: ok, universe-bare-metal-cloud

#5342 fix(components.region): autoselect region
  packages/manager/modules/pci/src/components/project/regions-list/regions-list.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#5343 fix(pci/ai-training): remove use of deprecated fields
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
Labels: universe-public-cloud

#5332 fix(pci/ai-training): replace deprecated field job ai training
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
Labels: bug, universe-public-cloud

#5339 fix(dedicated): cpanel commitment not working
  packages/manager/modules/billing-components/src/components/commitment/commitment.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud
