Repository ovh/manager, pull requests merged in 2021-08, with the labels that each got.

#5327 fix(database.create): fix issue on config
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Labels: quality check: ok, universe-public-cloud

#5241 Fix/database message
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_pt_PT.json
Labels: quality check: ok, translation required, universe-public-cloud

#5365 New release
  .github/labeler.yml
  CONTRIBUTORS
  packages/manager/modules/pci/src/projects/project/quota/quota.controller.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
Labels: continuous-integration, documentation, release, universe-public-cloud

#5374 fix(dashboard): scope row class to dashboard
  packages/manager/modules/netapp/src/dashboard/template.html
Labels: bug

#5379 fix(server.details): add missing translation about rtm documentation
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#5372 fix: remove vCenter access policy button
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/dedicatedCloud-security-access.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/dedicatedCloud-security-access.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/dedicatedCloud-security-access.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_es_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/access/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/security/access/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/security/dedicatedCloud-security.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/security/dedicatedCloud-security.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/security/access/access.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/security/access/access.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/security/access/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/security/security.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/security/security.routes.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#5387 fix(quota.increase-request): display amount of VMs
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-public-cloud

#5361 feat(tracking): cookie banner tracking
  packages/components/ng-at-internet/src/provider.js
  packages/manager/modules/at-internet-configuration/src/index.js
  packages/manager/modules/cookie-policy/src/service.js
Labels: feature

#5392 fix: remove empty translation files
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/tones/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/translations/Messages_pt_PT.json
Labels: bug, universe-telecom, translation required

#5384 fix(notebook): add new lifecycle status
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#5304 perf: remove ng-ckeditor import
  packages/manager/apps/dedicated/client/app/app.module.js
Labels: quality check: ok, performance, universe-bare-metal-cloud

#5397 fix(cookie-policy): avoid sending events outside of modal consent
  packages/manager/modules/at-internet-configuration/src/index.js
  packages/manager/modules/cookie-policy/src/index.js
  packages/manager/modules/cookie-policy/src/service.js
Labels: bug

#5394 Translation account form : fix Réunion name for French
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-web-cloud, universe-bare-metal-cloud, universe-telecom

#5218 fix: enable webPaas subscription environment upgrade
  packages/manager/modules/web-paas/src/components/additional-option/constants.js
  packages/manager/modules/web-paas/src/components/additional-option/controller.js
  packages/manager/modules/web-paas/src/components/addon/constants.js
  packages/manager/modules/web-paas/src/components/addon/controller.js
  packages/manager/modules/web-paas/src/components/addon/template.html
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_de_DE.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_en_GB.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_es_ES.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_fr_CA.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_fr_FR.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_it_IT.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_pl_PL.json
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_pt_PT.json
  packages/manager/modules/web-paas/src/details/service/service.html
  packages/manager/modules/web-paas/src/web-paas.constants.js
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: quality check: ok, universe-web-cloud, translation required

#5386 refactor: remove unused code
  packages/manager/apps/web/client/app/app.bundle.js
  packages/manager/apps/web/client/app/app.controller.js
  packages/manager/apps/web/client/app/app.html
  packages/manager/apps/web/client/app/incident/incident.bundle.js
  packages/manager/apps/web/client/app/incident/incident.controller.js
  packages/manager/apps/web/client/app/incident/incident.html
  packages/manager/apps/web/client/app/incident/incident.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/controller.js
  packages/manager/modules/pci/src/projects/project/vouchers/service.js
Labels: universe-web-cloud, refactor, universe-public-cloud

#5404 fix(domain.zone): remove txt limit
  packages/manager/apps/web/client/app/domain/dashboard/domain-validator.service.js
  packages/manager/apps/web/client/app/domain/zone/record/TXT/domain-zone-record-TXT.html
Labels: bug, quality check: ok, universe-web-cloud

#5403 fix(project.users): remove html entity from menu entry
  packages/manager/modules/pci/src/components/project/users/translations/Messages_en_GB.json
Labels: bug, universe-public-cloud

#5407 build: remove `experimental-worker` flag
  package.json
Labels: build

#5415 feat(server-sidebar): add nutanix nav link
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Labels: feature, translation required

#5422 fix(kubernetes.details.restrictions): fix `id` attribute
  packages/manager/modules/pci/src/projects/project/kubernetes/details/restrictions/template.html
Labels: bug, universe-public-cloud

#5412 feat: add nutanix
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nutanix/.eslintrc.json
  packages/manager/apps/nutanix/README.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/nutanix/src/app.module.js
  packages/manager/apps/nutanix/src/error/error.module.js
  packages/manager/apps/nutanix/src/error/error.routing.js
  packages/manager/apps/nutanix/src/error/index.js
  packages/manager/apps/nutanix/src/index.html
  packages/manager/apps/nutanix/src/index.js
  packages/manager/apps/nutanix/webpack.config.js
  packages/manager/modules/nutanix/README.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/nutanix/src/dashboard/component.js
  packages/manager/modules/nutanix/src/dashboard/controller.js
  packages/manager/modules/nutanix/src/dashboard/index.js
  packages/manager/modules/nutanix/src/dashboard/module.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/dashboard/template.html
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/index.js
  packages/manager/modules/nutanix/src/index.scss
  packages/manager/modules/nutanix/src/module.js
  packages/manager/modules/nutanix/src/onboarding/component.js
  packages/manager/modules/nutanix/src/onboarding/constants.js
  packages/manager/modules/nutanix/src/onboarding/controller.js
  packages/manager/modules/nutanix/src/onboarding/index.js
  packages/manager/modules/nutanix/src/onboarding/module.js
  packages/manager/modules/nutanix/src/onboarding/routing.js
  packages/manager/modules/nutanix/src/onboarding/template.html
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required

#5428 fix(*): nutanx nav link not working
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#5429 fix(deps): upgrade `@ovh-ux/ui-kit` to `v5.1.0`
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud

#5383 fix(notebook): fix wrong resources amount
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
Labels: bug, quality check: ok, translation required, universe-public-cloud

#5430 fix: add missing peerDeps `@ovh-ux/ng-ui-router-breadcrumb`
  packages/manager/tools/sao-ovh-manager-module/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/module.js
  packages/manager/tools/sao-ovh-manager-module/template/src/index.js
  packages/manager/tools/sao-ovh-manager-module/template/src/module.js
  packages/manager/tools/sao-ovh-manager-module/template/src/onboarding/module.js
Labels: bug, build

#5436 fix: update chatbot menu entry
  packages/manager/modules/account-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/account-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/account-sidebar/src/translations/Messages_fr_CA.json
  packages/manager/modules/account-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/account-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/account-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/account-sidebar/src/translations/Messages_pt_PT.json
Labels: bug, translation required

#5382 fix(notebook): update fr and gb resources translation
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#5376 fix(datacenter.backup): change some content
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud, translation required

#5439 Show notebook creator in notebook list
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
Labels: quality check: ok, translation required, universe-public-cloud

#5444 build: bump ovh-api-services to v13.0.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud
