Repository ovh/manager, pull requests merged in 2021-09, with the labels that each got.

#5464 fix(dedicated): change backup url for snc hpc
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.routing.js
Labels: bug, quality check, universe-bare-metal-cloud, universe-hosted-private-cloud

#5454 fix: notebook dashboard references outdated volume fields
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
Labels: bug, universe-public-cloud

#5463 fix(volume.dashboard): display id if no name given
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/template.html
Labels: bug, universe-bare-metal-cloud

#5405 fix(translations): refresh translation after transition
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/dedicated/housing/housing.module.js
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/modules/cda/src/index.js
  packages/manager/modules/core/src/index.js
  packages/manager/modules/dbaas-logs/src/logs/logs.module.js
  packages/manager/modules/emailpro/src/dashboard/emailpro.module.js
  packages/manager/modules/enterprise-cloud-database/src/enterprise-cloud-database.module.js
  packages/manager/modules/exchange/src/dashboard/exchange.module.js
  packages/manager/modules/freefax/src/freefax.module.js
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/metrics/src/index.js
  packages/manager/modules/nasha/src/dashboard/nasha.module.js
  packages/manager/modules/office/src/dashboard/microsoft.module.js
  packages/manager/modules/overthebox/src/overtheboxes.module.js
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/sharepoint/src/dashboard/sharepoint.module.js
  packages/manager/modules/sms/src/sms/index.js
  packages/manager/modules/support/src/index.js
  packages/manager/modules/veeam-cloud-connect/src/index.js
  packages/manager/modules/veeam-enterprise/src/index.js
  packages/manager/modules/vps/src/index.js
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/vrack.module.js
  packages/manager/modules/web-paas/src/index.js
Labels: bug, quality check: ok, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hub, universe-public-cloud

#5469 fix(i18n): remove extra translation files
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_nl_NL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/terminate/confirm/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/terminate/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/add/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/delete/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/disable/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/edit/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/enable/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/password/reset/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/rights/edit/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/rights/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-activation/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_en_US.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_en_US.json
Labels: bug, universe-bare-metal-cloud

#5467 fix: return number of services value
  packages/manager/apps/hub/src/routing.js
Labels: bug, quality check: ok, universe-hub

#5468 fix(server): fix bandwidth order for hgv2 range
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#5470 Fix/pci billing translation
  packages/manager/modules/pci/src/projects/project/billing/billing.html
  packages/manager/modules/pci/src/projects/project/billing/history/history.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#5478 New release
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  packages/manager/modules/pci/src/projects/project/billing/billing.html
  packages/manager/modules/pci/src/projects/project/billing/history/history.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.controller.js
  packages/manager/modules/pci/src/projects/project/billing/history/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required, release, universe-public-cloud

#5481 fix(server): fix bandwidth order translation
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud, translation required

#5486 fix(server): fix order bandwidth translation
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth-legacy/order-public/dedicated-server-bandwidth-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5329 fix: update billing url for enterprise customers
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.constants.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/routing.js
  packages/manager/modules/account-sidebar/src/shortcuts/controller.js
  packages/manager/modules/account-sidebar/src/template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hub

#5487 ci: label pull requests according to branch name
  .github/branch-name-labeler.yml
  .github/workflows/labeler.yml
Labels: continuous-integration

#5490 docs: add pr checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: continuous-integration

#5492 ci: add `auto-label-merge-conflicts` GitHub Action
  .github/workflows/auto-label-merge-conflicts.yaml
Labels: continuous-integration

#5396 feat(pci.storages.objects): tracking implementation
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/emptyUser/emptyUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/objects.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/import/import.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/import/import.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/import/import.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/import/import.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.routing.js
Labels: feature, universe-public-cloud

#5502 fix(domain): restore dns anycast activation link
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
Labels: quality check: ok, universe-web-cloud, fix

#5500 ci: replace `fix` label by historical `bug`
  .github/branch-name-labeler.yml
Labels: bug, continuous-integration

#5501 fix(veeam.modal.restore): fix veeam backup restore
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5499 fix(kubernetes.details.service): fix command line tool typo
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-public-cloud, fix

#5506 fix(move): load and redirect to move modal
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5507 fix(core): pause transition during translation refresh
  packages/manager/modules/core/src/index.js
Labels: bug, quality check: ok

#5375 feat: add retention advices
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/advices/src/advices/component.js
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/advices/src/advices/index.less
  packages/manager/modules/advices/src/advices/template.html
  packages/manager/modules/advices/src/advices/translations/Messages_de_DE.json
  packages/manager/modules/advices/src/advices/translations/Messages_en_GB.json
  packages/manager/modules/advices/src/advices/translations/Messages_es_ES.json
  packages/manager/modules/advices/src/advices/translations/Messages_fr_CA.json
  packages/manager/modules/advices/src/advices/translations/Messages_fr_FR.json
  packages/manager/modules/advices/src/advices/translations/Messages_it_IT.json
  packages/manager/modules/advices/src/advices/translations/Messages_pl_PL.json
  packages/manager/modules/advices/src/advices/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#5504 fix(server.dashboard): restore mrtg tile
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5509 Sync develop & master
  .github/branch-name-labeler.yml
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/ip/index.js
  packages/manager/apps/dedicated/client/app/ip/ip.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/package.json
  packages/manager/modules/advices/CHANGELOG.md
  packages/manager/modules/advices/package.json
  packages/manager/modules/advices/src/advices/component.js
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/advices/src/advices/index.less
  packages/manager/modules/advices/src/advices/template.html
  packages/manager/modules/advices/src/advices/translations/Messages_de_DE.json
  packages/manager/modules/advices/src/advices/translations/Messages_en_GB.json
  packages/manager/modules/advices/src/advices/translations/Messages_es_ES.json
  packages/manager/modules/advices/src/advices/translations/Messages_fr_CA.json
  packages/manager/modules/advices/src/advices/translations/Messages_fr_FR.json
  packages/manager/modules/advices/src/advices/translations/Messages_it_IT.json
  packages/manager/modules/advices/src/advices/translations/Messages_pl_PL.json
  packages/manager/modules/advices/src/advices/translations/Messages_pt_PT.json
  packages/manager/modules/core/CHANGELOG.md
  packages/manager/modules/core/package.json
  packages/manager/modules/core/src/index.js
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.controller.js
  packages/manager/modules/vrack/CHANGELOG.md
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.routing.js
Labels: continuous-integration, universe-web-cloud, universe-bare-metal-cloud, translation required, universe-public-cloud, has conflicts

#5424 fix(telephony): access to configuration menu
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/sounds.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/sounds.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Labels: enhancement, quality check: ok, feature, universe-telecom, translation required

#5517 fix(adyen): fix parse of special chars
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/service.js
Labels: bug

#5510 fix: add anthos to support page
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/issues-form.service.js
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: translation required

#5526 fix(adyen): fix parse chars before submit
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/service.js
Labels: bug

#5532 fix(adyen): fix function declaration
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/service.js
Labels: bug

#5541 ci: trim trailing whitespace
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug, continuous-integration

#5544 fix(routing): remove duplicate key
  packages/manager/apps/hub/src/routing.js
Labels: bug, universe-hub

#5540 fix(dedicated.server): order bandwidth for new ranges
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5491 feat(vps.dashboard): inform VPS customers for planned migration
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/component.js
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/controller.js
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/template.html
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#5563 Sync develop & master
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/component.js
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/controller.js
  packages/manager/modules/vps/src/dashboard/components/vps-announcement-banner/template.html
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Labels: universe-bare-metal-cloud, translation required, has conflicts

#5529 feat(nutanix): list nodes page
  packages/manager/modules/nutanix/src/cluster.class.js
  packages/manager/modules/nutanix/src/dashboard/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/service.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/dashboard/service.js
Labels: feature

#5550 fix(vps.migration): fix datacenter issue
  packages/manager/modules/vps/src/dashboard/migrate/migrate.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5568 Feat/manager shell navbar
  packages/manager/apps/shell/package.json
  packages/manager/apps/shell/src/App.jsx
  packages/manager/apps/shell/src/ShellHeader.jsx
  packages/manager/apps/shell/src/context.js
  packages/manager/apps/shell/src/index.html
  packages/manager/apps/shell/src/index.js
  packages/manager/apps/shell/src/navbar/account.jsx
  packages/manager/apps/shell/src/navbar/brand.jsx
  packages/manager/apps/shell/src/navbar/constants.js
  packages/manager/apps/shell/src/navbar/environment/index.js
  packages/manager/apps/shell/src/navbar/hamburger-menu.jsx
  packages/manager/apps/shell/src/navbar/index.jsx
  packages/manager/apps/shell/src/navbar/language.jsx
  packages/manager/apps/shell/src/navbar/language/button.jsx
  packages/manager/apps/shell/src/navbar/language/list.jsx
  packages/manager/apps/shell/src/navbar/navbar.jsx
  packages/manager/apps/shell/src/navbar/navbar.scss
  packages/manager/apps/shell/src/navbar/notifications.jsx
  packages/manager/apps/shell/src/navbar/search.jsx
  packages/manager/apps/shell/src/navbar/service.js
  packages/manager/apps/shell/src/navbar/universes.jsx
  packages/manager/apps/shell/src/public/translations/navbar/Messages_en_GB.json
  packages/manager/apps/shell/src/public/translations/navbar/Messages_fr_FR.json
  packages/manager/apps/shell/vite.config.js
  packages/manager/modules/navbar/package.json
  packages/manager/modules/react-navbar/.eslintrc.js
  packages/manager/modules/react-navbar/CHANGELOG.md
  packages/manager/modules/react-navbar/LICENSE
  packages/manager/modules/react-navbar/package.json
  yarn.lock
Labels: feature, translation required, dependencies

#5537 fix(overthebox.remote): fix error on remove remote access
  packages/manager/modules/overthebox/src/overthebox/remote/overTheBox-remote.controller.js
Labels: bug, quality check: ok, universe-telecom

#5547 fix(pci.instance.edit): get instance flavor type if no image available
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#5556 ci: auto PR develop for release
  .github/RELEASE_TEMPLATE.md
  .github/workflows/auto-pr-release.yaml
Labels: continuous-integration

#5557 ci: add yarn lock explanation
  .github/workflows/yarn-explain.yaml
Labels: continuous-integration

#5558 fix(domain): remove deprecated api call
  packages/manager/apps/web/client/app/dns-zone/new/dns-zone-new.controller.js
  packages/manager/apps/web/client/app/dns-zone/new/dns-zone-new.routing.js
  packages/manager/apps/web/client/app/dns-zone/new/dns-zone-new.service.js
  packages/manager/apps/web/client/app/dns-zone/new/index.js
Labels: bug, quality check: ok, universe-web-cloud

#5496 fix(validator): allow `0` netmask value
  packages/manager/modules/web-universe-components/src/validator/validator.service.js
Labels: bug, quality check: ok, universe-web-cloud

#5528 fix: rename hosted private cloud to vmware
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required, universe-hub, has conflicts

#5575 fix(i18n): add missing translations [CDS 1162]
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5579 fix: remove popover from add page
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Labels: bug, universe-public-cloud

#5582 fix: tracking error on certificate download and service delete
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
Labels: bug, universe-public-cloud

#5587 build(deps): bump resolve-url-loader to remove object-path
  yarn.lock
Labels: dependencies

#5586 Feat - Reflect adding of beta status to engines
  packages/manager/modules/pci/src/components/project/storages/databases/engine.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/engines-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
Labels: bug, translation required, universe-public-cloud

#5588 fix: move timerange and chartjs components to manager-components
  packages/manager/modules/manager-components/package.json
  packages/manager/modules/manager-components/src/chartjs/chartjs.constants.js
  packages/manager/modules/manager-components/src/chartjs/chartjs.directive.js
  packages/manager/modules/manager-components/src/chartjs/chartjs.factory.js
  packages/manager/modules/manager-components/src/chartjs/chartjs.html
  packages/manager/modules/manager-components/src/chartjs/index.js
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/manager-components/src/time-range/index.js
  packages/manager/modules/manager-components/src/time-range/time-range.component.js
  packages/manager/modules/manager-components/src/time-range/time-range.controller.js
  packages/manager/modules/manager-components/src/time-range/time-range.html
  packages/manager/modules/manager-components/src/time-range/time-range.scss
  packages/manager/modules/pci/src/components/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/metrics.module.js
Labels: bug, universe-public-cloud

#5594 Fix: add headers to avoid empty list of databases
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
Labels: bug, universe-public-cloud

#5599 fix(sms): estimate characters counter
  packages/manager/modules/sms/src/sms/components/sms-composition/sms-composition.controller.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.controller.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.html
Labels: bug, universe-telecom

#5595 Fix: add a 40 chars limit to database name
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.html
Labels: bug, universe-public-cloud

#5601 fix: display unique plan values if min and max are the same
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#5597 fix: add controls to user name
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.html
Labels: bug, universe-public-cloud

#5598 fix(guides): correct us wrong guides
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5578 fix(nutanix.service): add translation for nutanix
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Labels: translation required

#5569 fix(anthos): fixes and improvement
  packages/manager/modules/anthos/src/Tenant.class.js
  packages/manager/modules/anthos/src/dashboard/components/add-storage/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.html
  packages/manager/modules/anthos/src/dashboard/general-information/rename-service/rename-service.controller.js
  packages/manager/modules/anthos/src/dashboard/general-information/rename-service/rename-service.html
  packages/manager/modules/anthos/src/dashboard/general-information/rename-service/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/ips/remove-private-ip/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/routing.js
  packages/manager/modules/anthos/src/dashboard/storage/remove/translations/Messages_fr_FR.json
  packages/manager/modules/anthos/src/dashboard/template.html
  packages/manager/modules/anthos/src/index.js
Labels: bug, translation required, fix

#5610 fix: fixes the error displayed when deleting a default admin
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/delete/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#5612 fix: fixes the permissions missing for the ACL
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
Labels: bug, universe-public-cloud

#5514 [Cloud][AINotebook] Keep consistency for AI product flavor display
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.html
Labels: universe-public-cloud

#5593 Fix/banner tracking
  packages/manager/modules/banner/src/banner.html
Labels: bug, quality check: ok

#5523 Feat/training add predefined back
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/training.constants.js
Labels: quality check: ok, feature, universe-public-cloud

#5551 fix(notebooks): relaunch errored notebook
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
Labels: bug, quality check: ok, universe-public-cloud

#5614 fix(dns-zone.new): prevent TypeError console error
  packages/manager/apps/web/client/app/dns-zone/new/dns-zone-new.routing.js
Labels: bug, universe-web-cloud

#5631 fix(users.roles): fix generate s3 credentials error
  packages/manager/modules/pci/src/components/project/users/users.html
Labels: bug, quality check: ok, universe-public-cloud

#5641 fix(project.storages.databases.add): allow creation
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#5638 Fix(pci.databases): avoid calling backend twice
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/create-database/create-database.html
Labels: bug, universe-public-cloud

#5639 Fix(pci.databases): change max user name length to 64
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.constants.js
Labels: bug, universe-public-cloud

#5640 fix(pci.databases): typo in translation files
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/create-database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/delete-database/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#5632 fix(dashboard.license): make veeam port as non editable field
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.constants.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.controller.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5633 feat(nutanix.support): add support tile component
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: feature, translation required

#5280 feat(xdsl.statistics): add HEC, FEC and CRC
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/statistics.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/statistics.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/statistics.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-telecom, translation required

#5645 fix(i18n): add missing translations [CDS 1176]
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
Labels: feature, universe-public-cloud

#5647 fix(storages.databases): fixes beta label appearing on `MongoDB`
  packages/manager/modules/pci/src/components/project/storages/databases/engine.class.js
Labels: bug, universe-public-cloud

#5649 Fix/pud 800
  packages/manager/modules/pci/src/projects/project/storages/databases/database/acl/acl.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/acl/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/allowed-ips.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/allowed-ips/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/create-database/create-database.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/databases.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/delete-database/delete-database.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/delete-node/delete-node.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/delete-node/delete-node.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/edit-name/edit-name.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-node/upgrade-node.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-node/upgrade-node.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-version/upgrade-version.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/logs/logs.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/metrics.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/create-topic.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/delete-topic/delete-topic.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/topics.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/informations/informations.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/informations/informations.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/modify-password/modify-password.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/edit-name/edit-name.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/edit-name/edit-name.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.routing.js
Labels: bug, universe-public-cloud

#5651 fix(hosting.cdn.shared): remove typo
  packages/manager/apps/web/client/app/hosting/cdn/shared/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/cdn/shared/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#5603 feat(hosting): hide the CDN order button if needed
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: enhancement, good first issue, feature, universe-web-cloud

#5650 fix(helper.order): update target URL for `AU` subsidiary
  packages/manager/modules/cloud-universe-components/src/helper/order/service.js
Labels: bug, quality check: ok

#5656 fix(sms.compose): apply corresponding coding to the message
  packages/manager/modules/sms/src/sms/components/sms-composition/sms-composition.controller.js
  packages/manager/modules/sms/src/sms/sms/compose/telecom-sms-sms-compose.controller.js
Labels: bug, quality check: ok, universe-telecom

#5567 Fix/manager 6759
  packages/manager/apps/web/client/app/hosting/cdn/shared/hosting-cdn-shared-settings.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/shared/hosting-cdn-shared-settings.html
Labels: bug, quality check: ok, universe-web-cloud

#5657 fix(telephony.alias.special): fix repayments date
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/special/repayments/repayments.html
Labels: bug, quality check: ok, universe-telecom

#5661 fix(pci): instances dropdown
  packages/manager/modules/pci/src/projects/project/instances/instances.module.js
  packages/manager/modules/pci/src/projects/project/instances/instances.scss
Labels: bug, quality check: ok, universe-public-cloud
