Repository ovh/manager, pull requests merged in 2021-12, with the labels that each got.

#6025 fix(storage.databases): MANAGER-8187 - ask for confirmation before deletion if integrations
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/confirm-delete-database/confirm-delete-database.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/confirm-delete-database/confirm-delete-database.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/confirm-delete-database/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
Labels: bug, universe-public-cloud

#6065 fix(pci.project.sidebar): add feature flipping to menu entry
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature, universe-public-cloud

#6067 fix: redirect sanitize strategy
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/sign-up/src/routing.js
Labels: bug, feature

#6066 build(*): bump ng-ovh-api-wrappers to version 4.0.10
  packages/manager/apps/anthos/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/ng-layout-helpers/package.json
  packages/manager/modules/notifications-sidebar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: build, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud

#6035 fix(filter): avoid double url encoding with iceberg filters
  packages/manager/apps/dedicated/client/app/dedicated/server/servers.routing.js
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.utils.js
Labels: bug, universe-bare-metal-cloud

#6072 fix(partition): fix links to action
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/nas-details-partition.controller.js
Labels: bug, universe-bare-metal-cloud

#6075 fix(i18n): add missing translations [CDS 1309]
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud

#6071 fix: import validator dep
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/add/dedicatedCloud-user-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/add/dedicated-server-monitoring-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/monitoring-update.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6079 Sync develop & master
  .sonarcloud.properties
  packages/manager/apps/anthos/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/add/dedicatedCloud-user-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/nas/details/partition/nas-details-partition.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/add/dedicated-server-monitoring-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/monitoring-update.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/servers.routing.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/CHANGELOG.md
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/ng-layout-helpers/CHANGELOG.md
  packages/manager/modules/ng-layout-helpers/package.json
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.utils.js
  packages/manager/modules/notifications-sidebar/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, has conflicts

#5577 fix(high.perf.storage): fix translations
  packages/manager/modules/pci/src/components/project/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#5966 fix(options.recredit): update recredit info message
  packages/manager/modules/sms/src/sms/options/recredit/telecom-sms-options-recredit.html
  packages/manager/modules/sms/src/sms/options/recredit/translations/Messages_en_GB.json
  packages/manager/modules/sms/src/sms/options/recredit/translations/Messages_es_ES.json
  packages/manager/modules/sms/src/sms/options/recredit/translations/Messages_fr_CA.json
  packages/manager/modules/sms/src/sms/options/recredit/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/recredit/translations/Messages_it_IT.json
  packages/manager/modules/sms/src/sms/options/recredit/translations/Messages_pl_PL.json
Labels: bug, quality check: ok, feature, universe-telecom, translation required

#6078 fix(server): avoid duplicate os install action
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6091 refactor: remove unused calls
  packages/manager/apps/dedicated/client/app/dedicated/nas/dashboard/nas.service.js
Labels: universe-bare-metal-cloud, refactor

#6097 fix(types): correct types in i18n tests
  packages/components/ovh-shell/__tests__/plugin/i18n/i18n.spec.ts
  packages/components/ovh-shell/src/plugin/i18n/index.ts
Labels: bug

#6103 fix(identity-check): translations
  packages/manager/modules/telecom-dashboard/src/identity-check/form/telecom-dashboard-identity-check-form.html
  packages/manager/modules/telecom-dashboard/src/identity-check/form/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#6087 fix(identity-check): handle no billingAccount case
  packages/manager/modules/telecom-dashboard/src/identity-check/telecom-dashboard-identity-check.service.js
Labels: bug, universe-telecom

#6096 fix(sidebar): update the full voip service name
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line.factory.js
Labels: bug, universe-telecom

#6092 fix(i18n): add missing translations [CDS 1319]
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_en_GB.json
Labels: bug, universe-bare-metal-cloud

#6105 fix(iplb): add ipv6 field
  packages/manager/modules/iplb/src/home/iplb-home.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6085 feat(sidebar-menu): change URL back to home
  packages/manager/apps/dedicated/client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Labels: good first issue, quality check: ok, feature, universe-bare-metal-cloud

#6032 feat: add public cloud database services support names
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, has conflicts

#5862 feat(public-cloud.project.quota): changes in increasing the quota
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.service.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.component.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.controller.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.html
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.routing.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase.constants.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.constants.js
  packages/manager/modules/pci/src/projects/project/quota/quota.controller.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/quota/quota.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.service.js
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6088 feat(manager-config): add container definition in Application
  packages/manager/modules/config/src/application/index.ts
Labels: feature

#6122 fix(i18n): add missing translations [CDS 1327]
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#6119 fix(i18n): add missing translations [CDS 1325]
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-public-cloud

#6102 fix(dedicated.vps): addition of keys for cloud db
  packages/manager/modules/vps/src/vps/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/vps/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/vps/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/vps/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/vps/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5860 Feat/manager 7483: add OIDC provider feature
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/OidcProvider.class.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/remove-oidc-provider/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Labels: quality check: ok, feature, translation required, universe-public-cloud

#5803 Feat/notebook GitHub volume
  packages/manager/modules/pci/src/projects/project/notebooks/Volume.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.service.js
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6120 fix(web.domain, dedicated.services): all-dom termination enhancements
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_fr_FR.json
Labels: bug, quality check, universe-web-cloud, universe-bare-metal-cloud, translation required

#6126 fix(mailing-list.update): display value when replyToEmail is selected
  packages/manager/modules/emailpro/src/mailing-list/update/emailpro-mailing-list-update.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#6125 fix(account.export): use iceberg to fetch accounts
  packages/manager/modules/email-domain/src/email/account/export-csv/email-domain-email-account-export-csv.controller.js
  packages/manager/modules/email-domain/src/email/account/export-csv/index.js
Labels: bug, quality check: ok

#6115 build: start-application now uses `regions` from `package.json` files
  scripts/start-application.js
Labels: build

#6136 fix(identity.summary): iban is always editable
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.html
Labels: bug, universe-telecom

#6086 feat(public-cloud.database): addition of current queries tab
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/controller.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/directive.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/index.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/styles.scss
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/template.html
  packages/manager/modules/pci/src/components/project/storages/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.styles.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: quality check, feature, translation required, universe-public-cloud

#6139 fix(telecom): restrict all billing actions to billing account
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing-account.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing-account.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/billing.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billingAccount.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
Labels: bug, quality check: ok, universe-telecom

#6113 feat(databases.pools.tab): add pools tab
  packages/manager/modules/pci/src/components/project/storages/databases/pool.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#5940 feat(sidebar): display the full voip service name
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/sidebar/telephony-sidebar.service.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/service/voip-service.factory.js
Labels: quality check: ok, feature, universe-telecom

#6144 fix: update to remove legacy bank account
  packages/manager/modules/billing/src/payment/method/add/controller.js
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/billing/src/payment/method/add/index.js
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/component.js
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/controller.js
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/index.html
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/index.js
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/method/add/views/bankAccount/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/payment/method/add/views/legacyBillingAddress/controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#6148 fix(deps): upgrade `ovh-api-services` to `v14.0.0`
  packages/manager/apps/anthos/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud

#6128 fix(pci.volumes): display right plan code
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.html
Labels: bug, quality check: ok, translation required, universe-public-cloud

#6155 fix(i18n): add missing translations [CDS 1342]
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_es_ES.json
Labels: bug, universe-public-cloud

#6165 fix(form): replace `update` action by `create`
  packages/manager/apps/sign-up/src/form/form.html
Labels: bug

#5962 fix(hosting.multisite): display cdn upgrade info
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.component.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/statistics/hosting-multisite-statistics.html
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#6111 feat(containers.add): remove high perf beta label
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: quality check, feature, translation required, universe-public-cloud

#6110 fix(object-storage.users): dropdown tranlations
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#6101 fix(object-storage.users): update warning trans
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#6112 fix(pci.kube.oidc): update translation files
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/add-oidc-provider/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/oidc-provider/update-oidc-provider/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#6174 fix(i18n): add missing translations [CDS 1347]
  packages/manager/modules/email-domain/src/task/translations/Messages_pl_PL.json
  packages/manager/modules/email-domain/src/task/translations/Messages_pt_PT.json
Labels: bug

#6181 ci(workflows): use `actions/setup-node@v2` for publishing gh-pages
  .github/workflows/gh-pages.yaml
Labels: continuous-integration

#6027 Activate "Authorised IPs" page for all PrivateSQL
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.controller.js
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.html
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/database/add/private-database-database-add.controller.js
  packages/manager/apps/web/client/app/private-database/database/add/private-database-database-add.html
  packages/manager/apps/web/client/app/private-database/oom/private-database-oom.controller.js
  packages/manager/apps/web/client/app/private-database/oom/private-database-oom.html
Labels: quality check: ok, universe-web-cloud, translation required

#6163 Feat/manager 8310: PCI maintenance banner
  packages/manager/modules/pci/src/components/pci-maintenance-banner/component.js
  packages/manager/modules/pci/src/components/pci-maintenance-banner/controller.js
  packages/manager/modules/pci/src/components/pci-maintenance-banner/index.js
  packages/manager/modules/pci/src/components/pci-maintenance-banner/template.html
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/analytics-data-platform.component.js
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/analytics-data-platform.html
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/analytics-data-platform.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.component.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.html
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/project.service.js
  packages/manager/modules/pci/src/projects/project/serving/serving.component.js
  packages/manager/modules/pci/src/projects/project/serving/serving.html
  packages/manager/modules/pci/src/projects/project/serving/serving.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backups.routing.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.html
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshots.routing.js
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6199 ci(workflows): use `actions/setup-node@v2` with Node.js 16
  .github/workflows/gh-pages.yaml
Labels: continuous-integration

#6205 fix(i18n): add missing translations [CDS 1358]
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_es_ES.json
Labels: bug

#6204 fix(public-cloud.project.billing): browse back in billing history
  packages/manager/modules/pci/src/projects/project/billing/history/history.routing.js
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.controller.js
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing.service.js
Labels: bug, quality check: ok, universe-public-cloud

#6192 fix(sign-up.app): add missing regions meta keys
  packages/manager/apps/sign-up/package.json
Labels: bug

#6209 fix(pci.billing): fix error title for italian
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_it_IT.json
Labels: bug, quality check: ok, universe-public-cloud

#6200 fix(pci.databases.users.add): fix error message output
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
Labels: bug, universe-public-cloud

#6190 fix(sign-up): send ovh subsidiary on first call on /rules
  packages/manager/modules/sign-up/src/form/form.controller.js
Labels: bug, quality check: ok

#6210 fix(web.domain.zone): change of tooltip placement
  packages/manager/apps/web/client/app/domain/zone/record/CNAME/domain-zone-record-CNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/DNAME/domain-zone-record-DNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/MX/domain-zone-record-MX.html
  packages/manager/apps/web/client/app/domain/zone/record/NS/domain-zone-record-NS.html
  packages/manager/apps/web/client/app/domain/zone/record/SRV/domain-zone-record-SRV.html
Labels: bug, quality check: ok, universe-web-cloud

#6152 Feat/pools modals
  packages/manager/modules/pci/src/components/project/storages/databases/pool.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/pools.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/terminate.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/terminate.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/terminate.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/terminate.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/terminate.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/terminate.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/translations/Messages_fr_FR.json
Labels: feature, translation required, API Internal, universe-public-cloud

#6193 feat(identity-check): use /procedure/required
  packages/manager/modules/telecom-dashboard/src/identity-check/form/telecom-dashboard-identity-check-form.controller.js
  packages/manager/modules/telecom-dashboard/src/identity-check/message/telecom-dashboard-identity-check-message.controller.js
  packages/manager/modules/telecom-dashboard/src/identity-check/telecom-dashboard-identity-check.service.js
Labels: feature, universe-telecom

#6215 fix(private-database.whitelist.add): fix checkbox icon position
  packages/manager/apps/web/client/app/private-database/whitelist/add/private-database-whitelist-add.html
Labels: bug, quality check: ok, universe-web-cloud

#6187 feat(pci.database): enable/disable rest-api for kafka
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: quality check, feature, translation required, universe-public-cloud

#6217 fix(deps): upgrade `ovh-api-services` to `v14.0.1`
  packages/manager/apps/anthos/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud

#6219 fix(pci.database.users): user title in english
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#6222 fix(shortcuts): fix label display
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/index.scss
  packages/manager/modules/account-sidebar/src/shortcuts/shortcut-tile/template.html
Labels: bug, quality check: ok
