Repository ovh/manager, pull requests merged in 2022-12, with the labels that each got.

#8442 build: add `.nvmrc` to `.github/CODEOWNERS` file
  .github/CODEOWNERS
Labels: build, continuous-integration

#8467 fix(storage.cold-archive): allow filtering with translated status
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Labels: feature, universe-public-cloud

#8465 fix(storage.cold-archive): allow filtering by date
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Labels: feature, universe-public-cloud

#8472 fix(storage.cold-archive): create an archive add a cancel btn
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8484 fix(web-paas): fix the order url redirection
  packages/manager/modules/web-paas/src/add/add.utils.js
  packages/manager/modules/web-paas/src/components/addon/utils.js
Labels: bug, quality check: ok, universe-web-cloud

#8454 feat(telecom.sms): add feature transfer credit
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.component.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.controller.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.html
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.module.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.routing.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/index.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.module.js
  packages/manager/modules/sms/src/sms/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/telecom-sms.service.js
Labels: feature, universe-telecom, translation required

#8492 fix(dedicated.ip): routing fails for some actions
  packages/manager/apps/dedicated/client/app/ip/components/list/antispam/antispam.routing.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/game-firewall.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8501 fix(container): routing redirections
  packages/manager/apps/container/src/core/routing/iframe-app-router.tsx
Labels: bug, container

#8508 Feat/dtrsd-102503-ff: implement feature-availability for banner
  packages/manager/modules/support/package.json
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.html
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#8507 ci: update CODEOWNERS file
  .github/CODEOWNERS
Labels: continuous-integration, refactor

#8505 docs: update CONTRIBUTORS file
  CONTRIBUTORS
Labels: documentation, refactor

#8509 ci: add .github to manager ci team ownership
  .github/CODEOWNERS
Labels: continuous-integration, refactor

#8502 feat(tickets.new): inform customers about services renew issues
  packages/manager/modules/support/package.json
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.constants.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.html
  packages/manager/modules/support/src/translations/Messages_de_DE.json
  packages/manager/modules/support/src/translations/Messages_en_GB.json
  packages/manager/modules/support/src/translations/Messages_es_ES.json
  packages/manager/modules/support/src/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/translations/Messages_it_IT.json
  packages/manager/modules/support/src/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#8514 feat(storage.cold-archive): rm label containers from url & breadcrumb
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
Labels: feature, universe-public-cloud

#8500 feat(storage.cold-archive): label a cold-archive as an"archive" instead of "container"
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/name-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8512 feat(telecom.sms): add parameter section for smpp
  packages/manager/modules/sms/src/sms/components/index.js
  packages/manager/modules/sms/src/sms/components/service-status/service-status.component.js
  packages/manager/modules/sms/src/sms/components/service-status/service-status.constant.js
  packages/manager/modules/sms/src/sms/components/service-status/service-status.controller.js
  packages/manager/modules/sms/src/sms/components/service-status/service-status.html
  packages/manager/modules/sms/src/sms/components/smpp-settings/smpp-settings.component.js
  packages/manager/modules/sms/src/sms/components/smpp-settings/smpp-settings.html
  packages/manager/modules/sms/src/sms/components/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.component.js
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.constant.js
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.controller.js
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.html
  packages/manager/modules/sms/src/sms/options/smppParameter/index.js
  packages/manager/modules/sms/src/sms/options/smppParameter/smppParameter.component.js
  packages/manager/modules/sms/src/sms/options/smppParameter/smppParameter.controller.js
  packages/manager/modules/sms/src/sms/options/smppParameter/smppParameter.html
  packages/manager/modules/sms/src/sms/options/smppParameter/smppParameter.module.js
  packages/manager/modules/sms/src/sms/options/smppParameter/smppParameter.routing.js
  packages/manager/modules/sms/src/sms/options/smppParameter/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/telecom-sms-options.component.js
  packages/manager/modules/sms/src/sms/options/telecom-sms-options.controller.js
  packages/manager/modules/sms/src/sms/options/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/sms.routing.js
  packages/manager/modules/sms/src/sms/telecom-sms.service.js
Labels: feature, universe-telecom, translation required

#8482 build: revert add application autocomplete
  package.json
  scripts/start-application.js
  yarn.lock
Labels: build, dependencies

#8274 build(container): bump msw dep
  packages/manager/apps/container/package.json
  yarn.lock
Labels: build, dependencies, container

#8476 feat(storage.cold-archive): change positions of the menu-items
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: quality check, feature, translation required, universe-public-cloud, container

#8499 fix(storage.cold-archive): remove the root state level in the breadcrumb
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Labels: bug, universe-public-cloud

#8515 feat(support.cold-archive): add coldArchive as product in a new support ticket
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#8494 fix(storage.cold-archive): update a description
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8544 refactor(dedicated.ip): remove expand call
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
Labels: universe-bare-metal-cloud, refactor

#8425 feat(dedicated-ip.list): change campus tooltip
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required, universe-public-cloud

#8424 feat(dedicated.ip): improve csv export
  packages/manager/apps/dedicated/client/app/ip/components/list/export-csv/ip-ip-export-csv.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/export-csv/ip-ip-export.constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#8402 feat(dedicated-ip): show unused ips banner
  packages/manager/apps/dedicated/client/app/ip/components/list/list.component.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.component.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.controller.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.routing.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.template.html
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#8534 fix(dedicated.ip.order): fix localisation translation
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#8516 fix(web): add new domain pricing mode
  packages/manager/apps/web/client/app/domain/zone/activate/activate.controller.js
  packages/manager/modules/product-offers/src/pricing/pricing.constants.js
Labels: bug, quality check: ok, universe-web-cloud

#8542 feat(storage.cold-archive): fix a typo in the table header of cold-archive containers
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8545 fix(telecom.sms): add tracking for smpp
  packages/manager/modules/sms/src/sms/components/service-status/service-status.component.js
  packages/manager/modules/sms/src/sms/components/service-status/service-status.controller.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.component.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.controller.js
  packages/manager/modules/sms/src/sms/dashboard/routing.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.constant.js
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.controller.js
  packages/manager/modules/sms/src/sms/options/smppParameter/smppParameter.controller.js
  packages/manager/modules/sms/src/sms/options/smppParameter/smppParameter.html
  packages/manager/modules/sms/src/sms/options/telecom-sms-options.controller.js
  packages/manager/modules/sms/src/sms/order/telecom-sms-order.controller.js
Labels: bug, universe-telecom

#8486 feat(pci.data-processing): adding notebook name to the jobs
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/data-processing-jobs.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8485 feat(pci.data-processing): adding notebooks to the splash screen
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/data-processing-jobs.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8470 feat(pci.data-processing): adding new order funnel
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.service.js
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.html
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/data-processing-jobs.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.scss
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/notebook-sizing.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/notebook-sizing.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/notebook-sizing.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebooktype-selector/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebooktype-selector/notebooktype-selector.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebooktype-selector/notebooktype-selector.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebooktype-selector/notebooktype-selector.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebooktype-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/privacy-selector/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/privacy-selector/privacy-selector.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/privacy-selector/privacy-selector.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/privacy-selector/privacy-selector.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/privacy-selector/privacy-selector.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/privacy-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/region-selector/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/region-selector/region-selector.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/region-selector/region-selector.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/region-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/notebook-details.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/notebook-details.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/notebook-details.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/terminate-notebook/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/terminate-notebook/terminate-notebook.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/terminate-notebook/terminate-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/data-processing/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8550 fix(dedicated.ip.order): get price dynamically
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/agoraOrder.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8417 fix(pci): display countries for additional ip creation
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#8459 fix(signup): add tracking error navigation
  packages/manager/apps/sign-up/src/routing.js
Labels: bug, quality check: ok, sign-up

#8552 fix(dedicated.vps): add reload on cancel upgrade modal
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8011 feat(*): replace /order/upgrade API calls with /services
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/upgrade-range/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/upgrade-range/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/place-order/place-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/template.html
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/upgrade-range/routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenters/add/upgrade-range/routes.js
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/component.js
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/private-order.controller.js
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/service.js
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/index.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/import/vps-upgrade.service.js
  packages/manager/modules/vps/src/upgrade/vps-upgrade.controller.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
  packages/manager/modules/vps/src/upscale/upscale.html
  packages/manager/modules/vps/src/upscale/upscale.routing.js
  packages/manager/modules/vps/src/vps/vps.module.js
  packages/manager/modules/web-paas/src/components/addon/component.js
  packages/manager/modules/web-paas/src/components/addon/controller.js
  packages/manager/modules/web-paas/src/components/addon/utils.js
  packages/manager/modules/web-paas/src/details/service/change-offer/change-offer.component.js
  packages/manager/modules/web-paas/src/details/service/change-offer/change-offer.controller.js
  packages/manager/modules/web-paas/src/details/service/change-offer/change-offer.routing.js
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: quality check: ok, universe-web-cloud, universe-bare-metal-cloud, refactor, universe-hosted-private-cloud

#8555 fix(pci): modify network count in gateway
  packages/manager/modules/pci/src/projects/project/gateways/gateways.controller.js
  packages/manager/modules/pci/src/projects/project/gateways/gateways.html
Labels: bug, quality check: ok, universe-public-cloud

#8448 feat(pci.storages.databases): datatr-134 add new translation key
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#8404 feat(dbaas-logs): more alert threshold type
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/alerts/add/alerts-add.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/alerts/home/alerts-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/alerts/home/alerts-home.html
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#8132 feat(private-sql.activation): private SQL activation for db over 512MB
  packages/manager/apps/web/client/app/hosting/database/hosting-database.constants.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.service.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.routing.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.service.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.component.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.controller.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.html
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.routing.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/translations/Messages_pt_PT.json
Labels: universe-web-cloud, translation required

#8495 fix(storage.databases): datatr-145 - change price unit for offers
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8554 feat(storage.cold-archive): update rclone doclink for multilang support
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
Labels: feature, universe-public-cloud

#8528 fix(pci.storages.databases): datatr-149 add translation for pending status into maintenance view
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8527 fix(pci.storages.databases): datatr-148 add new condition for pending status
  packages/manager/modules/pci/src/projects/project/storages/databases/database/maintenances/maintenances.html
Labels: bug, quality check: ok, universe-public-cloud

#8538 fix(sign-up): disable when going back from manual input on siret
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/component.js
Labels: bug, sign-up

#8566 fix(telecom.sms): fix error on tracking
  packages/manager/modules/sms/src/sms/components/service-status/service-status.controller.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.controller.js
Labels: bug, universe-telecom

#8573 feat(ng-ovh-payment-method): sepa-direct-payment missed status
  packages/components/ng-ovh-payment-method/src/translations/Messages_fr_FR.json
Labels: quality check, feature, translation required

#8537 build: move docs scope to team manager core
  .github/CODEOWNERS
Labels: build, continuous-integration

#8579 feat(dedicated.ip): improve ip batch 1.1
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/agoraOrder.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/ip/components/list/export-csv/ip-ip-export-csv.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/export-csv/ip-ip-export.constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.component.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/failover/failover.component.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.controller.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.routing.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.template.html
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud, translation required

#8574 fix(dedicated.account): add check on siret form
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
Labels: bug, universe-bare-metal-cloud, sign-up

#8583 fix(dedicated.account): change position of country field
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Labels: bug, universe-bare-metal-cloud

#8585 fix(web.exchange): get data using iceberg for export csv
  packages/manager/modules/web-universe-components/src/exchange/exchange.service.js
Labels: bug, quality check: ok, universe-web-cloud

#8577 fix(dedicated.account): fix read only params for rules
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Labels: bug, universe-bare-metal-cloud

#8593 fix(storage.cold-archive): fix the modal title
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8592 fix(storage.cold-archive): add missing translation label
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8591 feat(storage.cold-archive): put back the coldArchive level in breadcrumb
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Labels: bug, universe-public-cloud

#8553 feat(storage.cold-archive): update the doc links for multi-language support
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8595 fix(storage.cold-archive): better display of action menu
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Labels: bug, universe-public-cloud

#8603 feat(storage.cold-archive): change cold-archive side-menu label from new to beta
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature, universe-public-cloud, container

#8602 fix(vps.onboarding): change vps running state label
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8597 fix(dedicated.ip): resolve scope issue in firewall
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/rule/add/ip-ip-firewall-rule-add.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8604 Fix/dtrsd-103244: mailing list microservice overload
  packages/manager/modules/email-domain/src/mailing-list/email-domain-mailing-list.service.js
  packages/manager/modules/email-domain/src/mailing-list/subscribers/create/email-domain-mailing-list-subscribers-create.controller.js
  packages/manager/modules/email-domain/src/mailing-list/subscribers/subscribers.routing.js
  packages/manager/modules/emailpro/src/mailing-list/emailpro-mailing-list.service.js
  packages/manager/modules/emailpro/src/mailing-list/subscribers/create/emailpro-mailing-list-subscribers-create.controller.js
  packages/manager/modules/emailpro/src/mailing-list/subscribers/subscribers.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#8563 feat(storage.cold-archive): Add manage archive view
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/manage-archive/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/manage-archive/manage-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/manage-archive/manage-archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/manage-archive/manage-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/manage-archive/manage-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8625 fix(sign-up): fix issue account create if auto selection siret
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
Labels: bug, sign-up

#8628 fix(vps): elite upgrade vps range
  packages/manager/modules/vps/src/upscale/upscale.controller.js
  packages/manager/modules/vps/src/upscale/upscale.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8638 fix(storage.cold-archive): edit the description of add user modal
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8420 fix(dedicated.vps): add tracking for upscale and upgrade
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/upscale/upscale.component.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8568 fix(dedicated.ip): incorrect format date
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/migrate/ip-ip-legacyOrder-migrate.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8575 fix(pcc): add german guide links
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8594 fix(pci.kube.reset): force routing to true if gateway enabled
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#8596 fix(manager.payment): bad redirect that refreshes the whole application
  packages/manager/modules/billing/src/payment/credits/billing-credits.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8606 Fix/dtrsd-102443: load vrack translations
  packages/manager/modules/vrack/src/index.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8610 fix(web.private-database): avoid whole page load
  packages/manager/apps/web/client/app/private-database/state/private-database-state.html
Labels: bug, quality check: ok, universe-web-cloud

#8641 fix(storage.cold-archive): fix a typo in the on-boarding documentation
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8630 feat(storage.cold-archive): add left margin for Manage-Archive button
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Labels: bug, universe-public-cloud

#8637 fix(storage.cold-archive): use the right container attribute in the add user modal description
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.html
Labels: bug, universe-public-cloud

#8634 feat(storage.cold-archive): update user association button label
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8136 fix(dedicated.server): add possiblity to remove all type backup
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8456 fix(web.emailpro): change return of error message for tasks
  packages/manager/modules/emailpro/src/dashboard/emailpro.service.js
Labels: bug, quality check: ok, universe-web-cloud

#8639 fix(storage.cold-archive): update a doc url
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8491 fix(dedicated): enable weathermap link
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8633 feat(storage.cold-archive): update pricing links
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
Labels: feature, universe-public-cloud

#7986 fix(pci.object-storage): add user to container
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/legacy/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/legacy/containers/container/addUser/addUser.html
Labels: bug, quality check: ok, universe-public-cloud

#8632 feat(storage.cold-archive): fix typos for Manage-Archive modal
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8622 fix(telecom.voip): fix the problem of an invisible time slot on sundays
  packages/manager/apps/telecom/src/components/telecom/telephony/timeCondition/condition/condition.factory.js
Labels: bug, quality check: ok, universe-telecom

#8473 fix(pci): display activate region warning message
  packages/manager/modules/pci/src/projects/project/gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/gateways/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/gateways/gateways.component.js
  packages/manager/modules/pci/src/projects/project/gateways/gateways.routing.js
  packages/manager/modules/pci/src/projects/project/gateways/service/gateways.service.js
Labels: bug, quality check: ok, translation required, universe-public-cloud

#8521 fix(pci): add unit for bandwidth
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/controller.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/template.html
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8423 feat(dedicated-cloud.federation): update displayed fields
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/taskPollProgress.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#8559 feat(pci.storages.databases): datatr-142 add translation key in support ticket dropdown
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#8453 feat(pci.storages.databases): datatr-143 add new label service integration key
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#8517 fix(web.domain): change management renewable vs restorable
  packages/manager/apps/web/client/app/components/expiration/service-expiration-date.component.html
  packages/manager/apps/web/client/app/components/expiration/service-expiration-date.component.js
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/components/service-status/service-status-action.component.js
  packages/manager/apps/web/client/app/components/service-status/service-status-action.html
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.constant.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.controller.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#8560 feat(dedicated): minimize the width of disk selection
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#8608 fix(public-cloud): fix padding on Kube project creation
  packages/manager/modules/pci/src/projects/project/kubernetes/add/versions-list/versions-list.html
Labels: bug, quality check: ok, universe-public-cloud

#8636 fix(storage.cold-archive): adjust the size of the archive field inputs in add Cold-Archive view
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/name-archive/template.html
Labels: bug, universe-public-cloud

#8640 feat(storage.cold-archive): update the behaviour of the archive delete modal to the new specifications
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8643 build: remove regionalized dist references
  .gitignore
  .lintstagedrc.json
  package.json
Labels: build

#8649 fix(storage.cold-archive): update archive restore modal description
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8648 fix(storage.cold-archive): filter users when adding one to container
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.controller.js
Labels: bug, universe-public-cloud

#8647 fix(storage.cold-archive): change region constant to lowercase
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
Labels: bug, universe-public-cloud
