Repository ovh/manager, pull requests merged in 2022-02, with the labels that each got.

#6379 feat: nutanix node reboot
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/reboot/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/reboot/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/reboot/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/reboot/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/reboot/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/reboot/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/reboot/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/service.js
Labels: feature, universe-bare-metal-cloud, translation required

#6322 fix(dashboard): update cancel label
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/exchange/src/header/header.html
Labels: bug, quality check: ok, universe-web-cloud, translation required

#6346 feat(core): send sentry user information event
  packages/manager/modules/core/src/config/config.provider.js
  packages/manager/modules/core/src/index.js
Labels: feature, build

#6386 feat: use publicURL to build core url
  packages/manager/modules/core/src/config/config.provider.js
Labels: feature

#6394 fix(ticket.message): improve readability
  packages/manager/modules/support/src/tickets/ticket/message/message.scss
Labels: bug

#6353 feat: nutanix cluster private bandwidth upgrade
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/network-tile.component.js
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/network-tile.constants.js
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/network-tile.controller.js
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.component.js
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.constants.js
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.controller.js
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.html
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.module.js
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/service.js
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/index.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/service.js
Labels: quality check, feature, translation required

#6378 Feat/byoip tracking
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.routes.js
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/migrate/ip-ip-legacyOrder-migrate.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/migrate/ip-ip-legacyOrder-migrate.html
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.constants.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.controller.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.html
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.routing.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.component.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.controller.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.html
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/block/description/edit/ip-ip-block-description-edit.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/block/description/edit/ip-ip-block-description-edit.html
  packages/manager/apps/dedicated/client/app/ip/ip/export-csv/ip-ip-export-csv.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/add-or-edit/ip-ip-organisation-add-or-edit.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/add-or-edit/ip-ip-organisation-add-or-edit.html
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/ip-ip-organisation.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/ip-ip-organisation.html
  packages/manager/apps/dedicated/client/app/ip/ip/organisation/organisation.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/popover/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/ip/reverse/update/update.controller.js
Labels: feature, universe-bare-metal-cloud

#6185 fix PUD-1111 (pci.storage.databases): add tooltip for default db suppression action
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/databases.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/databases/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#6339 Fix/modem templates
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/config/templates-config.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/config/templates-config.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/pack-xdsl-modem-templates.component.js
Labels: bug, quality check: ok, universe-telecom

#6392 feat: nutanix licence tile
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence.class.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licences.class.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/module.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
Labels: feature, translation required

#6391 fix(nutanix): fix tracking for nutanix
  packages/manager/modules/bm-server-components/src/support/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/templates/prismUrl.html
Labels: bug

#6408 feat: nutanix onboarding page
  packages/manager/modules/nutanix/src/index.js
  packages/manager/modules/nutanix/src/onboarding/routing.js
  packages/manager/modules/nutanix/src/onboarding/template.html
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required

#6376 feat PUD-1231 (pci.storage.databases): add grafana engine
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/grafana.png
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, universe-public-cloud

#6407 feat(privates-database): remove Infrastructure
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/state/private-database-state.html
Labels: quality check: ok, feature, universe-web-cloud

#6413 fix: nutanix licence tab content typo
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_fr_FR.json
Labels: bug, translation required

#6412 feat(privates-database): remove database Type
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/state/private-database-state.html
Labels: feature, universe-web-cloud

#6409 feat PUD-1247 (pci.storage.databases): use endpoint property for connections
  packages/manager/modules/pci/src/components/project/storages/databases/database.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#6368 feat PUD-1230 (pci.storage.databases): add cassandra engine
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/Cassandra.png
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#6349 fix(storage.containers.object): remove min length for prefix
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#6400 feat PUD-1246 (pci.storage.databases): add m3db engine
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/m3.png
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#6347 fix(storages.containers): avoid displaying error message twice
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#6422 fix(nutanix): fix tracking issues of nutanix
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/netboot/component.js
  packages/manager/modules/bm-server-components/src/netboot/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/netboot/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/netboot/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/netboot/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/netboot/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/template.html
Labels: bug

#6415 fix PUD-1260 (pci.storage.databases): connection pool wrong port display
  packages/manager/modules/pci/src/components/project/storages/databases/pool.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.html
Labels: bug, quality check: ok, universe-public-cloud

#5970 feat(details): add statistics
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/details.module.js
  packages/manager/modules/cloud-connect/src/details/statistics/index.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.component.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.constant.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.controller.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.module.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.routing.js
  packages/manager/modules/cloud-connect/src/details/statistics/template.html
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/template.html
  packages/manager/modules/cloud-connect/src/details/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/style.scss
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#5986 fix(training.jobs): fix job pricing calculation
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#5988 feat(hosting.ftp): put forward SFTP information
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/ftp/FTP.html
  packages/manager/apps/web/client/app/hosting/ftp/hosting-ftp-constants.js
  packages/manager/apps/web/client/app/hosting/ftp/hosting-ftp.controller.js
  packages/manager/apps/web/client/app/hosting/ftp/user/update/hosting-ftp-user-update.html
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: quality check: ok, feature, universe-web-cloud, translation required

#6059 fix(server.installation): prevent custom if partitioning not allowed
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, universe-bare-metal-cloud

#6381 fix(ai.apps): fix partner price retrieval and computation
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
Labels: bug, universe-public-cloud

#6423 fix(payment.method): removal of unnecessary message
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#6371 fix(pci.ips): use common order flow for pci ips
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.component.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/legacy/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.module.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.html
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-public-cloud

#6332 fix(dedicated-cloud.user): nsx right not displayed in user list
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/dedicatedCloud-user.html
Labels: quality check: ok, universe-bare-metal-cloud

#6432 build: exclude bundlers config from coverage check
  .sonarcloud.properties
Labels: bug

#6383 feat PUD-1243 (pci.storage.databases): align logo and engine name in db views
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
Labels: feature, universe-public-cloud

#6451 feat(netapp.order): order by size and display item horizontally
  packages/manager/modules/netapp/src/order/template.html
Labels: feature, universe-bare-metal-cloud

#6458 fix: cluster datacenter name
  packages/manager/modules/nutanix/src/cluster.class.js
  packages/manager/modules/nutanix/src/component.js
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/templates/localization.html
Labels: bug

#6454 Feat/manager 8475: add missed trad and banner service name for block-storage
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/pci-maintenance-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/edit.html
Labels: quality check: ok, feature, universe-public-cloud

#6461 fix(pack.xdsl.notifications): change the moduleName
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/notifications/index.js
Labels: bug, universe-telecom

#6426 feat PUD-1263 (pci.storage.databases): add m3aggregator engine
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/components/project/storages/databases/serviceIntegration.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/serviceIntegration.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/m3aggregator.png
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#6439 feat(telecom): display systran feedback info
  packages/manager/apps/telecom/src/app/app.controller.js
  packages/manager/apps/telecom/src/index.html
Labels: quality check: ok, feature, universe-telecom

#6138 feat(kubernetes): added description of error 412
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/scale.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/scale/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6389 ci(workflows): add github action to run tests
  .github/workflows/run-bdd-tests.yml
Labels: feature, continuous-integration

#6352 feat(server): enable rename feature for us region
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
Labels: quality check: ok, feature, universe-bare-metal-cloud, universe-telecom, translation required

#6405 feat PUD-1256 (pci.storage.databases): m3db add namespaces tab
  packages/manager/modules/pci/src/components/project/storages/databases/namespace.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/retention.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/namespaces/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/namespaces/namespaces.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/namespaces/namespaces.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/namespaces/namespaces.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/namespaces/namespaces.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/namespaces/namespaces.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/namespaces/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, universe-public-cloud

#6476 fix(netapp.dashboard): netapp traking fixes
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/controller.js
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/routing.js
  packages/manager/modules/netapp/src/dashboard/template.html
Labels: bug, universe-bare-metal-cloud

#6475 fix(pci.project.block-storage): use dynamic endpoint catalog
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.controller.js
Labels: bug, universe-public-cloud

#6468 fix(pci): merge services with the same name
  packages/manager/modules/pci/src/components/project/regions-list/regions.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.module.js
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/index.js
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/regions-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/regions-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instances.module.js
Labels: bug, quality check: ok, translation required, universe-public-cloud

#6471 fix(pci): fix size filter
  packages/manager/modules/pci/src/components/runabove/units/bits/filter.js
Labels: bug, quality check: ok, universe-public-cloud

#6462 fix(i18n): add missing translations [CDS 1438]
  packages/manager/apps/web/client/app/core/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/core/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/core/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/core/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/core/translations/Messages_pt_PT.json
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, universe-public-cloud

#6463 feat(projects.onboarding): adapt onboarding page to trusted customers
  packages/manager/modules/pci/src/projects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.constant.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.less
  packages/manager/modules/pci/src/projects/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#6487 Feat/manager 8213: new requested tracking
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/component.js
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/controller.js
Labels: feature, universe-bare-metal-cloud

#6486 Fix/manager 8738: adapt flavors-list component to private catalog
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Labels: bug, universe-public-cloud

#6433 fix(nutanix): fix tracking issues of nutanix
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/netboot/controller.js
  packages/manager/modules/bm-server-components/src/netboot/template.html
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.controller.js
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
Labels: bug

#6176 Feat/high perf object ga
  packages/manager/modules/pci/src/components/project/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6493 Sync develop & master
  .sonarcloud.properties
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_pt_PT.json
  yarn.lock
Labels: translation required, dependencies, universe-public-cloud, has conflicts

#6399 feat PUD-1254 (pci.storage.databases): add group property for m3db user
  packages/manager/modules/pci/src/components/project/storages/databases/user.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/editable-text/editable-text.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/editable-text/editable-text.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/editable-text/editable-text.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/editable-text/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#6497 fix(pci.object-storage): disable next btn until customer select a region
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug, universe-public-cloud

#6499 feat(pci.instance-backups): exclude no trusted instance flavors
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
Labels: feature, universe-public-cloud

#6293 feat(ovh-shell): add navigation plugin
  packages/components/ovh-shell/__tests__/plugin/navigation/navigation.spec.ts
  packages/components/ovh-shell/features/plugin/navigation/navigation.feature
  packages/components/ovh-shell/package.json
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/navigation/index.ts
  packages/components/ovh-shell/src/shell/index.ts
  packages/components/ovh-shell/tsconfig.json
  packages/manager/modules/config/src/application/index.ts
  packages/manager/modules/core/src/config/config.provider.js
  packages/manager/modules/ufrontend/url-builder.ts
Labels: feature

#6440 feat(container): product nav reshuffle switching
  packages/manager/apps/container/src/assets/images/pnr/background.png
  packages/manager/apps/container/src/assets/images/pnr/preview.png
  packages/manager/apps/container/src/container/common/language/button.jsx
  packages/manager/apps/container/src/container/common/language/index.jsx
  packages/manager/apps/container/src/container/common/modal.module.scss
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.jsx
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/modal.jsx
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/style.module.scss
  packages/manager/apps/container/src/container/common/pnr-beta-modal/index.jsx
  packages/manager/apps/container/src/container/common/pnr-beta-modal/style.module.scss
  packages/manager/apps/container/src/container/index.jsx
  packages/manager/apps/container/src/container/legacy/index.jsx
  packages/manager/apps/container/src/container/legacy/navbar/navbar.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/template.module.scss
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.jsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/context.js
  packages/manager/apps/container/src/core/product-nav-reshuffle/index.js
  packages/manager/apps/container/src/core/product-nav-reshuffle/useProductNavReshuffle.js
  packages/manager/apps/container/src/index.jsx
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_FR.json
Labels: feature, translation required

#6502 build(deps): add missing `@ovh-ux/ng-ovh-contracts` dependency
  packages/manager/apps/anthos/package.json
Labels: bug

#6397 feat(pnr): add user account menu
  packages/manager/apps/container/src/container/legacy/account-sidebar/PaymentMethod/PaymentMethod.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/Shortcuts/Shortcuts.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/Shortcuts/Tile/Tile.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/Link/Button.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/UsefulLinks.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserDetails.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserInfos.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserInfosFooter.jsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/constants.js
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/constants.js
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/assets/give_feedback.png
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/button.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/content.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/default-payment-method.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/index.jsx
  packages/manager/apps/container/src/index.jsx
  packages/manager/apps/container/src/public/translations/account-sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
Labels: feature, translation required

#6506 build(ovh-shell): fix the dev script and add dev:watch
  packages/components/ovh-shell/package.json
Labels: bug

#6375 fix(components.products): add missing translation
  packages/manager/modules/hub/src/components/products/translations/Messages_de_DE.json
  packages/manager/modules/hub/src/components/products/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/products/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/products/translations/Messages_it_IT.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-hub

#6395 refactor(telephony.service.fax): kill apiv7 calls
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/customDomains/custom-domains.controller.js
Labels: quality check: ok, universe-telecom, refactor

#6437 feat: tracking for add nasha and telephone line solution change page
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/offerChange/offer-change.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/offerChange/offer-change.html
  packages/manager/modules/nasha/src/add/nasha-add.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/bulkAction/modal/telephony-bulk-action-modal.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/bulkAction/telephony-bulk-action.component.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/bulkAction/telephony-bulk-action.component.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, universe-telecom

#6387 fix(popup): add missing serviceType translation
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_de_DE.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_en_GB.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_es_ES.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_fr_CA.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_fr_FR.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_it_IT.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_pl_PL.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required

#6507 fix(server.details): add new filesystems for ESXi
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud

#6425 fix(account.alias): correction of manage aliases page title
  packages/manager/modules/exchange/src/account/alias/account-alias.html
Labels: bug, quality check: ok, universe-web-cloud

#5824 feat(ai-training-jobs): add possibility to attach ssh keys
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/training.constants.js
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: quality check: ok, translation required, universe-public-cloud

#6058 feat(ai-training-notebooks): add possibility to attach ssh keys
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/notebook-ssh-keys.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/notebook-ssh-keys.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/notebook-ssh-keys.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-ssh-keys/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.service.js
Labels: quality check: ok, translation required, universe-public-cloud

#6500 feat(containers.add): remove high perf beta label
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6517 fix(netapp.order): fix monthly commitment express order issue
  packages/manager/modules/netapp/src/order/controller.js
Labels: bug, universe-bare-metal-cloud

#6530 fix(modules.billing-component): take quantity in account
  packages/manager/modules/models/service/Pricing.class.js
Labels: bug

#6524 feat(container): open chatbot from container
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/components/ovh-shell/src/shell/shell.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.js
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/assistance.jsx
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/web/client/app/app.module.js
Labels: bug, feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hub, universe-public-cloud

#5759 fix(telephony.group.line): prevent `RJ11` to be seen as fax lines
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line-offers.service.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/index.js
Labels: bug, quality check: ok, universe-telecom

#6337 refactor(billing.orders): delete apiv7 service
  packages/manager/modules/billing/src/orders/billing-orders-apiv7.service.js
  packages/manager/modules/billing/src/orders/orders.module.js
Labels: quality check: ok, universe-bare-metal-cloud, refactor

#6127 refactor(billing): use billing-services 2api
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/modules/billing-components/src/components/service-status/service-status.controller.js
  packages/manager/modules/billing-components/src/components/service-status/service-status.html
  packages/manager/modules/billing-components/src/components/services-actions/service-actions.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing/src/autoRenew/actions/delete/delete.routing.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/update/form/form.controller.js
  packages/manager/modules/billing/src/autoRenew/actions/update/form/form.html
  packages/manager/modules/billing/src/autoRenew/actions/update/form/form.service.js
  packages/manager/modules/billing/src/autoRenew/actions/update/update.routing.js
  packages/manager/modules/billing/src/autoRenew/autorenew.controller.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/billing/src/autoRenew/autorenew.service.js
  packages/manager/modules/billing/src/autoRenew/cancel-commitment/cancel-commitment.routing.js
  packages/manager/modules/billing/src/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
  packages/manager/modules/models/BillingService/BillingService.class.js
  packages/manager/modules/models/BillingService/billing-service.constants.js
Labels: quality check: ok, universe-bare-metal-cloud, translation required, refactor

#6373 refactor(billing.orders): delete apiv6 service
  packages/manager/modules/billing/src/orders/billing-orders.service.js
  packages/manager/modules/billing/src/orders/orders.module.js
  packages/manager/modules/billing/src/orders/retraction/billing-orders-retraction.controller.js
Labels: quality check: ok, universe-bare-metal-cloud, refactor

#6445 fix(server.consumption): fix consumption increase modal opening
  packages/manager/apps/dedicated/client/app/dedicated/server/consumption/consumption.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6435 fix(hosting.dashboard): update recommended version for `php`
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/ovhconfig/config.constants.js
Labels: bug, quality check: ok, universe-web-cloud, translation required

#6452 fix(hosting): warn when `php` version is EOL
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: bug, quality check: ok, universe-web-cloud, translation required

#6540 feat(pci.onboarding): remove call-me-back button
  packages/manager/modules/pci/src/projects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.constant.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#6477 fix(hubic): replace apiv7 call by apiv6
  packages/manager/apps/telecom/src/app/config/all.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.html
Labels: bug, quality check: ok, universe-telecom

#6545 Fix/manager 8780: add missed is-trusted-zone param
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
Labels: bug, universe-public-cloud

#6543 ci(workflows): add `commitlint-github-action` action
  .github/workflows/commitlint.yaml
Labels: continuous-integration

#6552 build: add missing regions meta
  packages/manager/apps/container/package.json
Labels: build

#6556 feat(pci.instances): add info banner for extra amount charge
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#6513 refactor(ovh-contacts): kill /me/contact v7 call
  packages/components/ng-ovh-contacts/package.json
  packages/components/ng-ovh-contacts/src/index.js
  packages/components/ng-ovh-contacts/src/ovh-contacts.provider.js
  packages/components/ng-ovh-contacts/src/ovh-contacts.service.js
Labels: quality check: ok, refactor, breaking-change

#6567 feat(pci.instance.vnc): allow trusted zone url
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/vnc.constants.js
Labels: bug, universe-public-cloud

#6572 feat(pci.instance-backup.add): display trusted charge info banner
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.module.js
Labels: feature, universe-public-cloud

#6528 Fix/high perf billing
  packages/manager/modules/pci/src/components/project/billing/object-storage-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/object-storage-list/template.html
Labels: bug, quality check: ok, universe-public-cloud

#6560 fix(telephony.fax.custom-domains): ecofax domain action
  packages/manager/apps/telecom/src/app/telecom/telephony/service/fax/customDomains/custom-domains.html
Labels: bug, quality check: ok, universe-telecom

#6550 fix(storage): fix cache issue of fetching users
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.service.js
Labels: bug, quality check: ok, universe-public-cloud

#6569 fix(i18n): add missing translations [CDS 1468]
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_es_ES.json
Labels: bug, universe-public-cloud

#6583 ci(commitlint): allow `sync` and `release` as type-enum
  .commitlintrc.js
  .commitlintrc.json
Labels: bug

#6565 fix(i18n): add missing translations [CDS 1467]
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pl_PL.json
Labels: bug, universe-public-cloud

#6315 feat(hosting): add retention advices
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: quality check: ok, feature, universe-web-cloud, translation required

#6587 fix(netapp.volumes.snapshots): grayed apply policy btn for default snap
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
Labels: bug, universe-bare-metal-cloud

#6503 refactor(tuc): remove unused tuc service and factory
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/codec/codec.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/feature/line/line/phone/function/voip-feature-line-line-phone-function.factory.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/feature/line/line/phone/function/voip-feature-line-line-phone-function.service.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/feature/line/line/phone/voip-feature-line-line-phone.factory.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/feature/line/line/phone/voip-feature-line-line-phone.service.js
  packages/manager/modules/telecom-universe-components/src/telecom/voip/index.js
Labels: quality check: ok, universe-telecom, refactor
