Repository ovh/manager, pull requests merged in 2022-09, with the labels that each got.

#7915 fix(storages): unable to delete objects with prefix
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug, universe-public-cloud

#7892 fix(domain-operation.update): prevent update operation twice
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#7914 feat(storages-container): get endpoints for standard object
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: feature, universe-public-cloud

#7863 feat(billing): update on SBG voucher expiration
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/credits/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#7918 build(turbo): cache types
  package.json
  turbo.json
Labels: build

#7927 fix(identity-check): allow 4 and 5 digits zipcode
  packages/manager/modules/telecom-dashboard/src/identity-check/form/telecom-dashboard-identity-check-form.html
Labels: bug, universe-telecom

#7916 fix(pci): update back link target to avoid reload
  packages/manager/modules/pci/src/projects/new/config/index.html
Labels: bug, quality check: ok, universe-public-cloud

#7449 fix(translations): update section naming
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/cdn.routes.js
  packages/manager/apps/dedicated/client/app/cdn/index.js
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
  packages/manager/modules/cda/src/cda.routing.js
  packages/manager/modules/cda/src/translations/Messages_fr_FR.json
  packages/manager/modules/email-domain/src/email/translations/Messages_fr_FR.json
  packages/manager/modules/email-domain/src/index.js
  packages/manager/modules/email-domain/src/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/translations/Messages_fr_FR.json
  packages/manager/modules/freefax/src/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/index.js
  packages/manager/modules/nasha/src/nasha.routing.js
  packages/manager/modules/nasha/src/translations/Messages_fr_FR.json
  packages/manager/modules/office/src/index.js
  packages/manager/modules/office/src/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/index.js
  packages/manager/modules/overthebox/src/overthebox/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overtheboxes.routing.js
  packages/manager/modules/overthebox/src/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/contacts/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.html
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/empty/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/index.js
  packages/manager/modules/vps/src/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps.routing.js
  packages/manager/modules/vrack/src/index.js
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
  packages/manager/modules/web-paas/src/translations/Messages_fr_FR.json
  packages/manager/modules/web-paas/src/web-paas.routing.js
Labels: bug, question, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, universe-public-cloud, container

#7921 fix(telephony): check can transfer deposit on target selection
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/deposit-movement.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/deposit-movement.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/depositMovement/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-telecom, translation required

#7676 refactor(user.security.ip): switch api call
  packages/manager/apps/dedicated/client/app/account/user/ip/restriction/user-ip-restriction.service.js
Labels: quality check: ok, universe-bare-metal-cloud, refactor

#7930 feat(object-storage): redirect to users tab if no users created
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/emptyUser/emptyUser.routing.js
Labels: feature, translation required, universe-public-cloud

#7929 fix(storages-container): fix issue with CucCloudMessage
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
Labels: bug, universe-public-cloud

#7939 fix(pci.project): display only created users
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
Labels: bug, universe-public-cloud

#7933 feat(pci-container): change label from beta to nouveav
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: feature, translation required, universe-public-cloud

#7928 fix(pci.container): create user with Object Storage role
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/constant.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
Labels: bug, universe-public-cloud

#7945 fix(pci-container): fix container steps issue in component
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug, universe-public-cloud

#7948 fix(server-sidebar): restore private database menu
  packages/manager/modules/server-sidebar/src/web.constants.js
Labels: bug, quality check: ok

#7940 fix(storages.containers): update content
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7952 fix(storages:s3 tab): fix issue of refresh
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.routing.js
Labels: bug, universe-public-cloud

#7957 fix(pci-container): fix issue with submit call
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/cloud-archives.routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.routing.js
Labels: bug, universe-public-cloud

#7955 fix(pci-containers): update text of success banner
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7935 fix(start): avoid to launch container in container
  scripts/start-application.js
Labels: bug, build

#7960 feat(support): right names in one shot ticket
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#7967 fix(pci.project): disable Assigner une IP flottante button
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: bug, universe-public-cloud

#7966 fix(pci.project): display floating ip as default page
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
Labels: bug, universe-public-cloud

#7149 feat(payment): sepa integration with worldline on payments page
  packages/components/ng-ovh-payment-method/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/payment/method/routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#7969 fix(pci.project): add gateway form blocked at last step
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
Labels: bug, universe-public-cloud

#7974 build: add missing regions metadata
  packages/manager/apps/cloud/package.json
Labels: build

#7968 fix(pci): instance flavor edit
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#7981 fix(pci.storage.databases): datatr-89 - remove help text
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.html
Labels: bug, universe-public-cloud

#7985 feat(dedicated-ip): add cta and icons in ip dashboard
  packages/manager/apps/dedicated/client/app/ip/ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#7783 fix(container): cookie policy modal accept tracking
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
Labels: bug, quality check: ok, container

#7875 fix(billing.commitment): change content if no discount
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/commitment-pricing-mode.component.js
  packages/manager/modules/billing-components/src/components/commitment-pricing-mode/commitment-pricing-mode.html
  packages/manager/modules/billing-components/src/components/commitment/commitment.controller.js
  packages/manager/modules/billing-components/src/components/commitment/commitment.html
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_pt_PT.json
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_pt_PT.json
  packages/manager/modules/billing-components/src/components/utils/billing.service.js
Labels: bug, translation required

#7893 feat(dedicated): modify the url of dedicatd server
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/server/onboarding/constants.js
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#7787 feat(pci.project): instance config page update
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: feature, translation required, universe-public-cloud

#8004 build: update `yarn.lock` file
  yarn.lock
Labels: build, dependencies

#8006 feat(stepper): add stepper chakra lib
  packages/manager/core/app/package.json
  yarn.lock
Labels: feature, dependencies

#7941 feat(react-app): dashboard billing
  packages/manager/core/app/jest.config.js
  packages/manager/core/app/src/api/dashboard/billing.ts
  packages/manager/core/app/src/api/features.ts
  packages/manager/core/app/src/api/service.ts
  packages/manager/core/app/src/api/serviceInfos.ts
  packages/manager/core/app/src/components/Dashboard/DashboardTile.tsx
  packages/manager/core/app/src/components/Dashboard/DashboardTileList.tsx
  packages/manager/core/app/src/components/Dashboard/index.ts
  packages/manager/core/app/src/consts/billing.ts
  packages/manager/core/app/src/consts/services.ts
  packages/manager/core/app/src/core/index.tsx
  packages/manager/core/app/src/core/ovh-context.ts
  packages/manager/core/app/src/pages/Dashboard.tsx
  packages/manager/core/app/src/pages/Routing.tsx
  packages/manager/core/app/src/pages/dashboard/billing.tsx
  packages/manager/core/app/src/pages/dashboard/billingActions.ts
  packages/manager/core/app/src/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/core/app/src/utils/billingService.ts
  packages/manager/core/app/src/utils/date.test.js
  packages/manager/core/app/src/utils/date.ts
Labels: feature, translation required

#7956 fix(container.addUser): move radio selection to select box
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#8014 fix(pci.project): cannot create gateway with existing network
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/service/public-gateways.service.js
Labels: bug, universe-public-cloud

#8017 fix(pci.project): syntax error on country choices for IP Failover
  packages/manager/modules/pci/src/projects/project/additional-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8015 fix(domain.operation): restore update operation argument with more check
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#8013 Fix/iban save
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/bank-account/bank-account.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/bank-account/bank-account.html
Labels: bug, quality check: ok, universe-telecom

#8021 fix(pci.project): allow creation of private network
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: bug, universe-public-cloud

#8022 fix(pci.project): disable gateway creation
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
Labels: bug, universe-public-cloud

#7965 fix(vps.upgrade): filter catalog products listed in available upgrades
  packages/manager/modules/vps/src/dashboard/tile/configuration/service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7984 fix(web.domain): display DNS server usage warning
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#8012 fix(user.account): omit some update properties
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8026 fix(redirection.constants): update expressOrder URL for IE customers
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: bug, quality check: ok

#8030 fix(pci.project): add missing tracking
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
Labels: bug, universe-public-cloud

#8009 fix(pci.project): incorrect value for the gateway
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Labels: bug, universe-public-cloud

#8046 fix(tracking): update tracking configuration
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.module.js
Labels: bug, quality check: ok, universe-telecom

#8050 fix(mfa): avoid mfa-enrollment loop
  packages/manager/modules/mfa-enrollment/src/index.js
Labels: bug, quality check: ok

#7460 feat(pci.storage.databases): datatr-39 - improve network step
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#8001 feat(pci.ai.apps): datatr-80 - add scaling option
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/app.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/update-scaling.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/update-scaling.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/update-scaling.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-scaling/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-scaling/update-scaling.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-scaling/update-scaling.routing.js
Labels: feature, translation required, universe-public-cloud

#7996 feat(pci.ai.apps): datatr-55 - change alpha tag to beta
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature, translation required, universe-public-cloud

#8054 fix(iplb): edit frontend http headers as array
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8042 fix(web.domain): update owner information on domain
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
Labels: bug, quality check: ok, universe-web-cloud

#8058 fix(pci.data-processing): datatr-101 - add missing banner
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.html
Labels: bug, universe-public-cloud

#8060 fix(pci.project): cannot create a public instance
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, universe-public-cloud

#8065 fix(pci.project): cannot change associated floatingIp instance
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/service.js
Labels: bug, universe-public-cloud

#8067 fix(pci.project): redirection between private network and gateways
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: bug, universe-public-cloud

#8078 Revert "fix(domain): update owner information on domain (#8042)"
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
Labels: bug, universe-web-cloud

#8064 feat(pci.project): instance config US restriction
  packages/manager/modules/pci/src/projects/project/instances/add/index.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.less
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.module.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/translations/Messages_pt_PT.json
Labels: feature, universe-public-cloud

#8086 fix(pcc.user): fix pagination all user not displayed
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/vsphere-users.controller.js
Labels: bug, universe-bare-metal-cloud

#8091 fix(dedicated-ip): get popup back
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/agoraOrder.module.js
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/ip-ip-legacyOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/ip-ip-legacyOrder.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/index.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
Labels: bug, universe-bare-metal-cloud

#8093 fix(pcc.user): fix the regex email for edit user
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/edit/vsphere-user-edit.controller.js
Labels: bug, universe-bare-metal-cloud

#8095 fix(pci.project): update instance listing page
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8094 fix(pci.project): update gateway list page
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.html
  packages/manager/modules/pci/src/projects/project/public-gateways/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8062 feat(pcc.user): trust active directory user
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/taskPollProgress.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/taskPollProgress.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/taskPollProgress.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/taskPollProgress.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/vsphere-users.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/vsphere-users.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/vsphere-users/import/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/vsphere-users/import/vsphere-user-import.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/vsphere-users/import/vsphere-user-import.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/add/add.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/delete/delete.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/disable/disable.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/edit/edit.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/enable/enable.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/import/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/import/vsphere-user-import.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/import/vsphere-user-import.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/password-reset/password-reset.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/rights/edit/edit.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/vsphere-users/rights/rights.routes.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#8082 fix(dashboard): fix `goToCommit` and `goToCancelCommit` URL
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8109 fix(dedicated-ip): tab translation
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required
