Repository ovh/manager, pull requests merged in 2022-07, with the labels that each got.

#7116 feat(pci.data-processing): dashboard - add TTL
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.utils.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.html
Labels: feature, universe-public-cloud

#7476 fix(ip): force order ip through new order system
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7047 feat(pci.data-processing): submitJob - change order funnel page layout
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/jobtype-selector/job-selector.scss
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/jobtype-selector/jobtype-selector.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/jobtype-selector/jobtype-selector.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/jobtype-selector/jobtype-selector.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/region-selector/region-selector.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/region-selector/region-selector.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-config/spark-config.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.scss
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7470 feat(pci.storage.databases): disable backup time edition for some engines
  packages/manager/modules/pci/src/projects/project/storages/databases/components/calendar-edit/calendar-edit.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: bug, universe-public-cloud

#7119 feat(pci.data-processing): dashboard - poll job
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.controller.js
Labels: feature, universe-public-cloud

#7117 feat(pci.data-processing): dashboard - use starting date for elapsed time
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.utils.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.html
Labels: feature, universe-public-cloud

#7404 fix(tickets.new-ticket): add missing translation
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7434 fix(cdn.onboarding): remove typo
  packages/manager/apps/dedicated/client/app/cdn/onboarding/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7479 fix(telephony.service.contact): add test on variable
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.controller.js
Labels: bug, quality check: ok, universe-telecom

#7392 feat(nasha): new order page
  packages/manager/apps/nasha/package.json
  packages/manager/modules/nasha/package.json
  packages/manager/modules/nasha/src/directory/directory.module.js
  packages/manager/modules/nasha/src/directory/directory.routing.js
  packages/manager/modules/nasha/src/directory/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/index.js
  packages/manager/modules/nasha/src/nasha.routing.js
  packages/manager/modules/nasha/src/nasha.utils.js
  packages/manager/modules/nasha/src/new/new.component.js
  packages/manager/modules/nasha/src/new/new.controller.js
  packages/manager/modules/nasha/src/new/new.module.js
  packages/manager/modules/nasha/src/new/new.routing.js
  packages/manager/modules/nasha/src/new/new.service.js
  packages/manager/modules/nasha/src/new/new.template.html
  packages/manager/modules/nasha/src/new/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/onboarding/onboarding.component.js
  packages/manager/modules/nasha/src/onboarding/onboarding.html
  packages/manager/modules/nasha/src/onboarding/onboarding.routing.js
  packages/manager/modules/nasha/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/order/index.js
  packages/manager/modules/nasha/src/order/order.component.js
  packages/manager/modules/nasha/src/order/order.controller.js
  packages/manager/modules/nasha/src/order/order.module.js
  packages/manager/modules/nasha/src/order/order.routing.js
  packages/manager/modules/nasha/src/order/order.template.html
  packages/manager/modules/nasha/src/order/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#7444 feat(pci.project): assign floating IP to instance
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.component.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.controller.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.html
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.module.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/create-private-network-warning.routing.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/index.js
  packages/manager/modules/pci/src/projects/project/instances/create-private-network-warning/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.module.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7497 build: start application handle empty directories
  scripts/start-application.js
Labels: bug, build

#7428 feat(dedicated.server): hgv2 new upgrade flow
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade-task.class.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.routing.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.component.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.constants.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.controller.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.html
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
Labels: quality check: ok, feature, universe-bare-metal-cloud, universe-hosted-private-cloud

#7487 fix(dedicated.ip.byiop): fix order page callback
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7067 feat(pci.data-processing): submitJob - improve sizing and add prices details
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/price-details/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/price-details/price-details.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/price-details/price-details.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/price-details/price-details.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/price-details/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/spark-sizing.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/spark-sizing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7509 fix(dedicated): add target for hgv2 link order redirection
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.controller.js
Labels: bug, universe-bare-metal-cloud

#7502 feat(pci.private.networks): tracking for private networks
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: feature, universe-public-cloud

#7124 feat(pci.storage.databases): change unit for network metrics from octects to megaoctects
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/metrics.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/metrics.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#7454 fix(container): sort pci projects in sidebar
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Labels: bug, quality check: ok, container

#7529 fix(sidebar): use defined target if exists
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug

#7525 feat(public-cloud): add option to add s3 user in object storage
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/template.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/component/credential-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/index.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/index.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.routing.js
  packages/manager/modules/pci/src/projects/project/storages/storage-users.service.js
Labels: quality check, feature, translation required, universe-public-cloud

#7458 fix(container): close pnr sidebar on mobile outside click
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
Labels: bug, quality check: ok, container

#7492 fix/manager 9305: init is-flex option according current flavor
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#7270 feat(logs): rename `Elasticsearch` products to `OpenSearch`
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/detail/kibana/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#7433 feat(nasha.dashboard.partition): new snapshots tab
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/manager-components/src/task-tracker/TaskTracker.class.js
  packages/manager/modules/manager-components/src/task-tracker/index.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.component.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.controller.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.template.html
  packages/manager/modules/manager-components/src/task-tracker/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/partition/snapshot/delete/delete.component.js
  packages/manager/modules/nasha/src/components/partition/snapshot/delete/delete.controller.js
  packages/manager/modules/nasha/src/components/partition/snapshot/delete/delete.template.html
  packages/manager/modules/nasha/src/components/partition/snapshot/delete/index.js
  packages/manager/modules/nasha/src/components/partition/snapshot/delete/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/partition/snapshot/index.js
  packages/manager/modules/nasha/src/dashboard/dashboard.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.component.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.constants.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.module.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/delete/delete.module.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/delete/delete.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/delete/index.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/index.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.component.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.constants.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.module.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.styles.scss
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/partition/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.controller.js
  packages/manager/modules/nasha/src/nasha.constants.js
  packages/manager/modules/nasha/src/nasha.routing.js
  packages/manager/modules/nasha/src/nasha.utils.js
  packages/manager/modules/nasha/src/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#7506 feat(pci.project): gateway integration while creating Floating IP
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/component.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/controller.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/index.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/service.js
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/template.html
  packages/manager/modules/pci/src/components/project/gateways/gateways-model-selector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/gateways/index.js
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
Labels: feature, translation required, universe-public-cloud

#7187 feat(pci.storage.databases): integrations - change integrations display
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/dashboard-integrations.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/dashboard-integrations.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/dashboard-integrations.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/dashboard-integrations/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#7526 feat(public-cloud): include standard S3 in product listing page
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/object/object.routing.js
Labels: feature, translation required, universe-public-cloud

#7544 fix(storages.containers.add): make linked user step conditional
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug, universe-public-cloud

#7547 fix(storages.object-storage.delete): make cross btn working
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/delete.html
Labels: bug, universe-public-cloud

#7549 fix(storages.object-storage.delete): improve content
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7550 fix(storages.object-storage.users): update content
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7551 fix(storages.containers): sort offer according spec
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: bug, universe-public-cloud

#7552 fix(containers.add): update some labels
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
Labels: bug, universe-public-cloud

#7553 fix(components.rclone): fix typo
  packages/manager/modules/pci/src/components/users/download-rclone/translations/Messages_fr_FR.json
Labels: bug, universe-public-cloud

#7554 fix(storages): replace `rClone` by `rclone`
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
Labels: bug, universe-public-cloud

#7543 fix(container): remove cookie modal animation
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
Labels: bug, quality check: ok, container

#7540 refactor(pci.private.networks): private network list page performance
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Labels: refactor, universe-public-cloud

#7559 fix(instance.edit): update is-flex accordingly
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#7564 fix(public-cloud): error when adding a user to a container
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.service.js
Labels: bug, universe-public-cloud

#7486 feat(pci.project): tracking for additional IPs
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/components/terminate/terminate.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/components/terminate/terminate.html
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.html
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/terminate/terminate.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.html
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.html
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/terminate/terminate.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature, translation required, universe-public-cloud

#7555 feat(public-cloud): implement the tracking plan for Object storage
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/constant.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/objects.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.routing.js
Labels: quality check, feature, universe-public-cloud

#7569 fix(public-cloud): update the offer name of high performance
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7570 fix(storages.containers): display `public` and `static` URL
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
Labels: bug, universe-public-cloud

#7467 fix(dedicated): server names getting back to old name
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/display-name/display-name.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7576 fix(object-storage): change the file type of rclone file
  packages/manager/modules/pci/src/components/users/download-rclone/download-rclone.constants.js
Labels: bug, universe-public-cloud

#7535 feat(ovh-shell): add standalone query param
  packages/components/ovh-shell/__tests__/client/client-init.spec.ts
  packages/components/ovh-shell/features/client/client-init.feature
  packages/components/ovh-shell/src/client/index.ts
Labels: quality check: ok, feature, container

#7580 fix(pci): wording change for baremetal instance backup
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.contants.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7590 fix(storages-conatiners): capitalize rclone name
  packages/manager/modules/pci/src/components/project/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/users/download-rclone/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7556 fix(pci): display no instances error message
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
Labels: bug, universe-public-cloud

#7582 refactor(hub): remove common manager's features
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/controller.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/index.js
Labels: refactor, universe-hub

#7583 refactor(dedicated): remove common manager's features
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/dedicated/package.json
Labels: universe-bare-metal-cloud, refactor

#7589 refactor(web): remove common manager's features
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/components/webApp.controller.js
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/client/app/index.js
  packages/manager/apps/web/package.json
Labels: universe-web-cloud, refactor

#7584 refactor(public-cloud): remove common manager's features
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/public-cloud/src/navbar.config.js
Labels: refactor, universe-public-cloud

#7596 fix(storages-container): display type only for swift conatiner
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug, universe-public-cloud

#7588 feat(pci.project): enhance ux for private network list page
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
Labels: feature, universe-public-cloud

#7581 fix(pci.storages.add): reset create form on cancel btn
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
Labels: bug, quality check, universe-public-cloud

#7593 fix(app): remove unused dependencies
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
  packages/manager/tools/sao-ovh-manager-app/template/src/index.js
Labels: bug, build

#7595 fix(pci.storages.object-storage): add user pooling behavior
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.constants.js
Labels: bug, quality check, universe-public-cloud

#7619 fix(storages-container): update content text in config page
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
Labels: bug, quality check, translation required, universe-public-cloud

#7610 feat(public-cloud): implement the tracking plan for Object storage
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
Labels: feature, universe-public-cloud

#7629 fix(storages.containers.add): get credential if exist
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
Labels: bug, quality check, universe-public-cloud

#7542 fix(server-sidebar): add argument sort for disable sort
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/server-sidebar/src/telecom.constants.js
Labels: bug, quality check: ok

#7628 refactor(sso-auth-modal): remove sso-auth-modal package
  packages/components/ng-ovh-sso-auth-modal-plugin/CHANGELOG.md
  packages/components/ng-ovh-sso-auth-modal-plugin/README.md
  packages/components/ng-ovh-sso-auth-modal-plugin/package.json
  packages/components/ng-ovh-sso-auth-modal-plugin/rollup.config.js
  packages/components/ng-ovh-sso-auth-modal-plugin/src/controller.js
  packages/components/ng-ovh-sso-auth-modal-plugin/src/index.js
  packages/components/ng-ovh-sso-auth-modal-plugin/src/index.less
  packages/components/ng-ovh-sso-auth-modal-plugin/src/provider.js
  packages/components/ng-ovh-sso-auth-modal-plugin/src/template.html
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_de_DE.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_en_GB.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_es_ES.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_fr_CA.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_fr_FR.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_it_IT.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_pl_PL.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/translations/Messages_pt_PT.json
Labels: translation required, refactor

#7634 fix(cookie-policy): use sources instead of build
  packages/manager/modules/cookie-policy/package.json
  packages/manager/modules/cookie-policy/rollup.config.js
Labels: refactor

#7637 feat(public-cloud): implement the tracking plan for Object storage
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: feature, universe-public-cloud

#7630 fix(storages-container): display username and description
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
Labels: bug, quality check, universe-public-cloud

#7617 feat(pci.project): tracking improvements for additional IP
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7638 fix(storages-container): modify the content for add object action
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_fr_FR.json
Labels: bug, quality check, translation required, universe-public-cloud

#7642 fix(storages.containers.add): add a sentence for no credential
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/translations/Messages_fr_FR.json
Labels: bug, quality check, translation required, universe-public-cloud

#7626 fix(pci.storages.containers): update content
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Labels: bug, quality check, translation required, universe-public-cloud

#7447 feat(nasha.dashboard.partition): new accesses tab
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/manager-components/src/task-tracker/TaskTracker.class.js
  packages/manager/modules/manager-components/src/task-tracker/index.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.controller.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.service.js.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.template.html
  packages/manager/modules/nasha/src/components/edit-name/edit-name.controller.js
  packages/manager/modules/nasha/src/components/index.js
  packages/manager/modules/nasha/src/components/modal-form/modal-form.controller.js
  packages/manager/modules/nasha/src/components/modal-form/modal-form.template.html
  packages/manager/modules/nasha/src/components/partition/access/delete/delete.component.js
  packages/manager/modules/nasha/src/components/partition/access/delete/delete.controller.js
  packages/manager/modules/nasha/src/components/partition/access/delete/delete.template.html
  packages/manager/modules/nasha/src/components/partition/access/delete/index.js
  packages/manager/modules/nasha/src/components/partition/access/delete/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/partition/access/index.js
  packages/manager/modules/nasha/src/components/partition/create/create.controller.js
  packages/manager/modules/nasha/src/components/partition/delete/delete.controller.js
  packages/manager/modules/nasha/src/components/partition/edit-description/edit-description.controller.js
  packages/manager/modules/nasha/src/components/partition/edit-name/edit-name.controller.js
  packages/manager/modules/nasha/src/components/partition/edit-size/edit-size.controller.js
  packages/manager/modules/nasha/src/components/partition/index.js
  packages/manager/modules/nasha/src/components/partition/partition.constants.js
  packages/manager/modules/nasha/src/components/partition/snapshot/delete/delete.controller.js
  packages/manager/modules/nasha/src/components/partition/zfs-options/zfs-options.controller.js
  packages/manager/modules/nasha/src/components/task-tracker/index.js
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.component.js
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.controller.js
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.template.html
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.utils.js
  packages/manager/modules/nasha/src/components/task-tracker/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.component.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.constants.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.module.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.styles.scss
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.template.html
  packages/manager/modules/nasha/src/dashboard/partition/accesses/delete/delete.module.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/delete/delete.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/delete/index.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/index.js
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/partition/partition.module.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/delete/delete.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.component.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.constants.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.module.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/partition/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/nasha.routing.js
  packages/manager/modules/nasha/src/nasha.utils.js
  packages/manager/modules/nasha/src/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#7641 fix(storage-containers): update content on cname for s3
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: bug, translation required, universe-public-cloud

#7650 feat(pci.project): tracking enhancements for Additional IP
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7636 fix(storages-container): add action for Swift container
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7602 fix(nasha.onboarding): missing onboarding links
  packages/manager/modules/nasha/src/onboarding/onboarding.constants.js
Labels: bug, universe-bare-metal-cloud

#7654 fix(pci): change the regions filter for the instances
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, universe-public-cloud

#7643 fix(nasha.partition.accesses): acl description
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7608 fix(nasha.partitions): miss datagrid description
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.template.html
Labels: bug, universe-bare-metal-cloud

#7600 fix(nasha.partition): no more partition name edit
  packages/manager/modules/nasha/src/components/partition/edit-name/edit-name.component.js
  packages/manager/modules/nasha/src/components/partition/edit-name/edit-name.constants.js
  packages/manager/modules/nasha/src/components/partition/edit-name/edit-name.controller.js
  packages/manager/modules/nasha/src/components/partition/edit-name/edit-name.template.html
  packages/manager/modules/nasha/src/components/partition/edit-name/index.js
  packages/manager/modules/nasha/src/components/partition/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/partition/index.js
  packages/manager/modules/nasha/src/dashboard/partition/edit-name/edit-name.module.js
  packages/manager/modules/nasha/src/dashboard/partition/edit-name/edit-name.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/edit-name/index.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.component.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.module.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.routing.js
  packages/manager/modules/nasha/src/dashboard/partition/partition.template.html
Labels: bug, universe-bare-metal-cloud, translation required

#7598 fix(nasha.components): partition regex
  packages/manager/modules/nasha/src/components/partition/partition.constants.js
Labels: bug, universe-bare-metal-cloud

#7538 fix(nasha.dashboard.partitions): count translation
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7537 fix(nasha.dashboard): create partition link
  packages/manager/modules/nasha/src/dashboard/dashboard.component.js
  packages/manager/modules/nasha/src/dashboard/dashboard.routing.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
Labels: bug, universe-bare-metal-cloud

#7599 fix(nasha.partitions.create): used names message
  packages/manager/modules/nasha/src/components/partition/create/create.constants.js
  packages/manager/modules/nasha/src/components/partition/create/create.controller.js
  packages/manager/modules/nasha/src/components/partition/create/create.template.html
  packages/manager/modules/nasha/src/components/partition/create/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7662 Feat/manager 9612
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: feature, universe-public-cloud

#7659 fix(nasha): more than 10 partitions
  packages/manager/modules/nasha/src/components/partition/create/create.component.js
  packages/manager/modules/nasha/src/components/partition/create/create.controller.js
  packages/manager/modules/nasha/src/components/partition/create/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/dashboard.component.js
  packages/manager/modules/nasha/src/dashboard/dashboard.constants.js
  packages/manager/modules/nasha/src/dashboard/dashboard.routing.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.component.js
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.controller.js
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.template.html
Labels: bug, universe-bare-metal-cloud, translation required

#7657 fix(nasha): task tracker styles
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.component.js
  packages/manager/modules/nasha/src/components/task-tracker/task-tracker.styles.scss
Labels: bug, universe-bare-metal-cloud

#7658 fix(nasha.dashboard): missing commitment
  packages/manager/modules/nasha/src/dashboard/dashboard.component.js
  packages/manager/modules/nasha/src/dashboard/dashboard.routing.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
Labels: bug, universe-bare-metal-cloud

#7672 fix(server-sidebar): update nasha states
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Labels: bug

#7671 fix(nasha.order): add capacity description
  packages/manager/modules/nasha/src/order/order.controller.js
  packages/manager/modules/nasha/src/order/order.template.html
  packages/manager/modules/nasha/src/order/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7670 fix(nasha.order): change ssd description
  packages/manager/modules/nasha/src/order/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7661 fix(nasha.order): catalog order link
  packages/manager/modules/nasha/src/order/index.js
Labels: bug, universe-bare-metal-cloud

#7656 fix(nasha.snapshots): snapshot name validation
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.constants.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.styles.scss
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7478 fix(nutanix): modify content of nutanix redeploy
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-hosted-private-cloud

#7668 fix(storages.containers): display public-url or virtual-host
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug, universe-public-cloud

#7664 Fix/manager 9722: fix gray step issue
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug, universe-public-cloud

#7481 feat(storages.blocks.add): add extra info for each volume type
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#7565 feat(dedicated): display the IPv6 gateway for baremetal servers
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#7567 fix(dedicated): not able to edit ACL IP HPC
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/update/dedicatedCloud-security-update.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7646 fix(pci.storage.databases): datatr-75 - remove deprecated field for pool page
  packages/manager/modules/pci/src/components/project/storages/databases/pool.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/pools/information/information.html
Labels: bug, quality check: ok, universe-public-cloud

#7425 feat(support): align Support ticket view for US region with EU
  packages/manager/apps/dedicated/client/app/otrs/detail/otrs-detail.controller.js
  packages/manager/apps/dedicated/client/app/otrs/detail/otrs-detail.html
  packages/manager/apps/dedicated/client/app/otrs/otrs.component.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.constants.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.controller.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.html
  packages/manager/apps/dedicated/client/app/otrs/otrs.module.js
  packages/manager/apps/dedicated/client/app/otrs/otrs.routes.js
  packages/manager/apps/dedicated/client/app/otrs/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/components/index.js
  packages/manager/modules/support/src/components/support-tickets/component.js
  packages/manager/modules/support/src/components/support-tickets/controller.js
  packages/manager/modules/support/src/components/support-tickets/index.js
  packages/manager/modules/support/src/components/support-tickets/template.html
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_de_DE.json
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_en_GB.json
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_es_ES.json
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_it_IT.json
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/components/support-tickets/translations/Messages_pt_PT.json
  packages/manager/modules/support/src/index.js
  packages/manager/modules/support/src/tickets/tickets.module.js
  packages/manager/modules/support/src/tickets/tickets.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#7545 feat(kubernetes.add): remove client pooling after the creation a container
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
Labels: enhancement, quality check: ok, feature, performance, universe-public-cloud

#7571 fix(pci.storage.databases): datatr-57 - deprecated availabilities
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/components/project/storages/databases/flavor.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/region.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-node/upgrade-node.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.html
Labels: bug, quality check: ok, universe-public-cloud

#7426 feat(storages.blocks.add): add iops and bandwidth info
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#7679 fix(storages-container): enable cancel button by default
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.html
Labels: bug, quality check, universe-public-cloud

#7680 fix(storages-container): add accessKey field label
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/users.html
Labels: bug, quality check, translation required, universe-public-cloud

#7683 fix(vps): display upgrade error when vps in rescue mode
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/index.html
Labels: bug, universe-bare-metal-cloud

#7665 fix(storages-container): add return to container option
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7689 fix(storages-container): fix user creation process
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
Labels: bug, universe-public-cloud

#7685 fix(server-sidebar): allow to use search params from API
  packages/manager/modules/server-sidebar/src/controller.js
Labels: bug, quality check: ok

#7690 fix(object-storage-users.add): display only users without credentials
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/add/user-add/user-add.html
Labels: bug, quality check, universe-public-cloud

#7688 fix(storages.containers.add): disable oui-select if credential generated
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
Labels: bug, quality check, universe-public-cloud

#7696 fix(nasha.directory): hide breadcrumb
  packages/manager/modules/nasha/src/directory/directory.routing.js
Labels: bug, universe-bare-metal-cloud

#7694 fix(billing-components): add nasha to commitment
  packages/manager/modules/billing-components/src/components/commitment/commitment.constants.js
Labels: bug

#7695 fix(nasha.accesses): change ACL description round2
  packages/manager/modules/nasha/src/dashboard/partition/accesses/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7697 fix(nasha.order): conditionally include duration
  packages/manager/modules/nasha/src/order/order.controller.js
Labels: bug, universe-bare-metal-cloud

#7699 fix(nasha.accesses): datagrid options overflow
  packages/manager/modules/nasha/src/dashboard/partition/accesses/accesses.styles.scss
Labels: bug, universe-bare-metal-cloud

#7700 feat(nasha.snapshots): show warning message
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.controller.js
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/snapshots.template.html
  packages/manager/modules/nasha/src/dashboard/partition/snapshots/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required
