Repository ovh/manager, pull requests merged in 2022-06, with the labels that each got.

#7250 fix(dbaas): remove target blank on order link
  packages/manager/modules/dbaas-logs/src/logs/onboarding/onboarding.html
Labels: bug, universe-bare-metal-cloud

#7219 Feat/dtrsd 86100: redirect and preselect items
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/projects.constant.js
  packages/manager/modules/pci/src/projects/projects.controller.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: quality check: ok, feature, universe-public-cloud

#7200 fix(web.exchange): hide guid if the account is not configured
  packages/manager/modules/exchange/src/account/update/account-update.html
Labels: bug, quality check: ok, universe-web-cloud

#7260 fix(vps): onboarding redirection
  packages/manager/modules/vps/src/vps.routing.js
Labels: bug, universe-bare-metal-cloud

#7259 fix(container): pci sidebar project navigation
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Labels: bug

#7265 fix(exchange): onboarding tutorial
  packages/manager/modules/exchange/src/onboarding/constants.js
  packages/manager/modules/exchange/src/onboarding/onboarding.controller.js
Labels: bug, universe-web-cloud

#7262 fix(useraccount): display appropriate Region label
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7267 fix(sidebar): update serviceType for object and archive storages
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: bug

#7223 feat(pci.public.gateways): create product listing for public gateways
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.html
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.html
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.less
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7272 Revert "feat(hosting.offer): implement detach addon of start10M (#7165)"
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/modules/product-offers/src/services/product-offers-action.service.js
Labels: bug, universe-web-cloud

#7263 fix(exchange): onboarding description
  packages/manager/modules/exchange/src/onboarding/onboarding.controller.js
  packages/manager/modules/exchange/src/onboarding/onboarding.html
  packages/manager/modules/exchange/src/onboarding/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#7266 fix(tracking): adjust tracking
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/Modal.tsx
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/introduction.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.jsx
Labels: bug

#7277 feat(pci.private.networks): add onboarding page for private network
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/assets/private-networks.png
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Labels: feature, translation required, universe-public-cloud

#7280 refactor(telephony): kill mediator groups part2
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/edit.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice-popover/choice-popover.directive.js
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice-popover/choice-popover.html
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice/choice.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice/choice.directive.js
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice/choice.html
Labels: feature, universe-telecom

#7288 feat(dashboard): change the update button to migrate
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: quality check, feature, universe-bare-metal-cloud

#7264 refactor(telephony): kill mediator groups part1
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/edit.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/edit.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/edit.less
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/programmable-keys.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice-popover/choice-popover.directive.js
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice-popover/choice-popover.html
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice/choice.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice/choice.directive.js
  packages/manager/apps/telecom/src/components/telecom/telephony/service/choice/choice.html
Labels: feature, universe-telecom

#7294 fix(exchange): ca onboarding description
  packages/manager/modules/exchange/src/onboarding/onboarding.controller.js
Labels: bug, universe-web-cloud

#7296 Feat/vps eol 2016 2018
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate-confirm/migrate-confirm.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.component.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.controller.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.html
  packages/manager/modules/vps/src/dashboard/migrate/migrate.routing.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.service.js
  packages/manager/modules/vps/src/dashboard/migrate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/vps/routing.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#7309 fix(container): prevent overflow
  packages/manager/apps/container/src/container/common/Preloader/styles.module.scss
Labels: bug

#7306 fix(container): sidebar trads
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_pt_PT.json
Labels: bug

#7293 fix(cda): onboarding cta
  packages/manager/modules/cda/src/onboarding/constants.js
Labels: feature, universe-bare-metal-cloud

#7271 fix(iplb): set right translation
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7289 fix(containers): allow deletion for high perf
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug, quality check: ok, universe-public-cloud

#7311 fix(hosting.offer): re-implement detach addon of start10M
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/modules/product-offers/src/services/product-offers-action.service.js
Labels: question, universe-web-cloud

#7312 feat(pci.project): instances list page enhancements
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.scss
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7310 fix(hosting.database.add): display `maxUserLength` value
  packages/manager/apps/web/client/app/hosting/database/add/hosting-database-add.html
Labels: bug, quality check: ok, universe-web-cloud

#7330 fix(chatbot): hide sidebar when opening chatbot
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
Labels: bug

#7333 fix(container): update sidebar root features
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
Labels: bug

#7335 fix(mbm): fix US guides links
  packages/manager/apps/dedicated/client/app/managedBaremetal/onboarding/constants.js
Labels: bug, universe-bare-metal-cloud

#7006 fix(ai-volume-permissions): add RWD missing permission
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#7245 fix(cloud-connect): align cards in configure tab
  packages/manager/modules/cloud-connect/src/details/overview/template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7340 fix(telecom): fix link to telephony procedure
  packages/manager/modules/telecom-universe-components/src/telephony-procedure/index.js
  packages/manager/modules/telecom-universe-components/src/telephony-procedure/telephony-procedure.controller.js
  packages/manager/modules/telecom-universe-components/src/telephony-procedure/telephony-procedure.html
Labels: bug, universe-telecom

#7326 fix(refund): avoid refund amount error
  packages/manager/modules/billing/src/payment/ovhAccount/refund/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7347 fix(ovh-shell): fix application path in routing
  packages/components/ovh-shell/src/plugin/routing/index.tsx
Labels: bug

#7349 fix(bmc): add bare-metal-cloud redirection state
  packages/manager/apps/dedicated/client/app/app.routes.js
Labels: bug, universe-bare-metal-cloud

#7351 fix(dedicated): app.bmc state
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/app.routes.js
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
Labels: bug, universe-bare-metal-cloud

#7102 feat: india account creation
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pt_PT.json
Labels: quality check: ok, feature

#7360 fix(deps): update semver range for billing module
  packages/manager/apps/dedicated/package.json
  yarn.lock
Labels: bug, dependencies

#7356 build(dbaas-logs-apps): add missing dependency to app
  packages/manager/apps/dbaas-logs/package.json
Labels: bug, universe-bare-metal-cloud

#7348 fix(telephony.programmable-keys): undef phone obj
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/programmableKeys/edit/edit.controller.js
Labels: bug, quality check: ok, universe-telecom

#7362 fix(sva): dropdown menu not display
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/identity.constants.js
Labels: bug, quality check: ok, universe-telecom

#7374 fix(at-internet): add missing return statement
  packages/manager/apps/public-cloud/src/components/at-internet/index.js
Labels: bug, quality check: ok, universe-public-cloud

#7376 fix(provider): add missing `trackOrder`
  packages/components/ng-shell-tracking/src/provider.js
Labels: bug, quality check: ok

#7359 fix(sidebar): fix sidebar overlay with preloader
  packages/manager/apps/container/src/container/common/Preloader/styles.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/template.module.scss
Labels: bug, quality check: ok

#7358 fix(sidebar): fix select on smaller screens
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
Labels: bug, quality check: ok

#7378 fix(dedicated-cloud.mailing-list.subscribe): display new address
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/mailing-list/subscribe/dedicatedCloud-mailing-list-subscribe.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7369 fix(container): add databases in pci storages for pnr
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: bug, quality check: ok

#7383 fix(mfa-enrollment): avoid to be stuck on mfa-enrollment page
  packages/manager/modules/mfa-enrollment/src/index.js
  packages/manager/modules/mfa-enrollment/src/mfa-enrollment.controller.js
Labels: bug, quality check: ok

#7193 feat(pci.public.gateways): create config for public gateways
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/index.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/edit.html
  packages/manager/modules/pci/src/projects/project/public-gateways/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.component.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.constants.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.module.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
Labels: feature, translation required, universe-public-cloud

#7385 fix(billing): remove lazyload on purchase order
  packages/manager/modules/billing/src/billing.module.js
  packages/manager/modules/billing/src/orders/orders-main.module.js
  packages/manager/modules/billing/src/orders/purchaseOrders/billing-orders-purchases.module.js
  packages/manager/modules/billing/src/orders/purchaseOrders/edit-purchase/index.js
  packages/manager/modules/billing/src/orders/purchaseOrders/index.js
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/index.js
  packages/manager/modules/billing/src/orders/purchaseOrders/update-purchase-status/index.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7398 fix(billing): remove unused future state
  packages/manager/modules/billing/src/index.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#7390 fix(pci): ssh key to be displayed for baremetal linux images
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, universe-public-cloud

#7405 fix(deps): remove `@ovh-ux/manager-navbar` from dependency
  packages/manager/apps/support/package.json
  packages/manager/apps/support/src/app.module.js
  packages/manager/apps/support/src/index.html
Labels: bug, universe-bare-metal-cloud

#7389 fix(pci): merge image baremetal with not baremetal
  packages/manager/modules/pci/src/components/project/images-list/images-list.controller.js
  packages/manager/modules/pci/src/components/project/images-list/images-list.service.js
  packages/manager/modules/pci/src/components/project/images-list/images.constants.js
  packages/manager/modules/pci/src/components/project/images-list/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7339 fix(pnr): change onboarding popover position
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/introduction.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/style.module.scss
  packages/manager/apps/container/src/core/onboarding/constants.ts
  packages/manager/apps/container/src/core/onboarding/useOnboarding.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  yarn.lock
Labels: bug, enhancement, quality check: ok, dependencies

#7408 fix(container): sidebar billing for us enterprise
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Labels: bug

#7413 feat(manager-components): new task-tracker comp
  packages/manager/modules/manager-components/package.json
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/manager-components/src/task-tracker/index.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.component.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.constants.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.controller.js
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.styles.less
  packages/manager/modules/manager-components/src/task-tracker/task-tracker.template.html
  packages/manager/modules/manager-components/src/task-tracker/translations/Messages_fr_FR.json
Labels: feature, translation required, breaking-change

#7421 fix(pci): add logos for baremetal distribution
  packages/manager/modules/pci/src/components/project/images-list/images.constants.js
Labels: bug, universe-public-cloud

#7213 fix(instance): redirect to instances page after deletion
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/delete/delete.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#7332 fix(telephony.phone): add missing accessories and phones images
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/accessories.less
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/accessories/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.constant.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/accessories/telephony-accessories-order-process.service.js
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/accessories/telephony-accessories.constant.js
Labels: bug, quality check: ok, universe-telecom

#7388 fix(commitment): update translation
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/commitment/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#7321 feat(projects): add a sorting option to the projects list
  packages/manager/modules/pci/src/projects/projects.html
Labels: quality check: ok, feature, universe-public-cloud

#6905 feat(pci.storage.databases): new order funnel
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/pci-order-command/index.js
  packages/manager/modules/pci/src/components/pci-order-command/pci-order-command.html
  packages/manager/modules/pci/src/components/pci-order-command/pci-order-command.scss
  packages/manager/modules/pci/src/components/project/storages/databases/engine.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/flavor.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/plan.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/region.class.js
  packages/manager/modules/pci/src/name-generator.constant.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/command.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/command.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/command.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/command.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/command.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/command/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/engines-list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/engines-list/engines-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#7432 fix(i18n): add missing translations [CDS 1692]
  packages/manager/apps/container/src/public/translations/navbar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
Labels: bug, container

#7438 fix(container): disable cookie policy consent for US region
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
Labels: bug

#7355 fix(tracking): fix abtesting tracking
  packages/manager/apps/container/src/container/legacy/index.tsx
Labels: bug, quality check: ok, quality check

#7427 test: add missing attributes
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/modules/account-sidebar/src/user-infos/template.html
  packages/manager/modules/cookie-policy/src/template.html
Labels: container

#7441 fix(telephony.redirect): display redirect number
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/redirect/redirect.controller.js
Labels: bug, quality check: ok, universe-telecom

#7445 fix(pci): change name instance baremetal to metal
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#7448 fix(pci): allow only vlan 0 for private network of metal instances
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug, universe-public-cloud

#7452 feat(containers.add): linked s3 user
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: feature, universe-public-cloud

#7419 docs(ovh-shell): add ovh shell docs
  docs/docs/.vuepress/config.js
  docs/docs/.vuepress/public/assets/img/container-shell-comm.png
  docs/docs/.vuepress/public/assets/img/container.png
  docs/docs/guide/applications.md
  docs/docs/guide/architecture.md
  docs/docs/guide/testing.md
  packages/components/ovh-shell/README.md
  packages/components/ovh-shell/src/client/api.ts
Labels: documentation, container

#7453 feat(public-cloud): modify the delete modale
  packages/manager/modules/pci/src/projects/project/storages/object-storage/users/delete/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7451 feat(kube.add): scroll to banner if error during creation
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
Labels: quality check: ok, feature, universe-public-cloud

#7406 feat(hub-redirection): remove app
  packages/manager/apps/hub-redirection/CHANGELOG.md
  packages/manager/apps/hub-redirection/package.json
  packages/manager/apps/hub-redirection/src/index.html
  packages/manager/apps/hub-redirection/src/index.js
  packages/manager/apps/hub-redirection/webpack.config.js
Labels: enhancement, quality check: ok, feature

#7407 feat(telecom-redirection): remove app
  packages/manager/apps/telecom-redirection/CHANGELOG.md
  packages/manager/apps/telecom-redirection/package.json
  packages/manager/apps/telecom-redirection/src/index.html
  packages/manager/apps/telecom-redirection/src/index.js
  packages/manager/apps/telecom-redirection/webpack.config.js
Labels: enhancement, quality check: ok, feature, universe-telecom

#7464 feat(public-cloud): update content of onboarding page of object storage
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#7465 fix(pci): add missing frequencies of cpu
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
Labels: bug, universe-public-cloud

#6910 feat(sva): reversement new global entry and new global page
  packages/manager/apps/telecom/src/app/telecom/telephony/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/list/repayments-list.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/list/repayments-list.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/list/repayments-list.html
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/repayments.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/repayments.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/repayments.html
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/repayments.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/repayments.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/repayments.utils.js
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/repayments/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/telephony.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/telephony.html
  packages/manager/apps/telecom/src/app/telecom/telephony/telephony.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/translations/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/src/telecom.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/server-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_CA.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/server-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-telecom, translation required
