Repository ovh/manager, pull requests merged in 2022-10, with the labels that each got.

#8116 fix(pcc.user): add pattern on import user
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.html
Labels: bug, universe-bare-metal-cloud

#8084 feat(pcc.user): add new active directory
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/taskPollProgress.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/add/federation-add.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/add/federation-add.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/add/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/add/federation-add.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/add/federation-add.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/add/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.routes.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#8038 build(github): restore superlinter
  .github/workflows/linter.yaml
Labels: build, continuous-integration

#8103 feat(pcc.user): add possibility to edit an active directory
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/edit/federation-edit.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/edit/federation-edit.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/edit/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/edit/federation-edit.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/edit/federation-edit.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/edit/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.routes.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#8111 fix(pci.project): cannot change instance
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/edit.html
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/service.js
Labels: bug, translation required, universe-public-cloud

#8123 fix(pci.public-ip): document links for public IP
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8075 fix(telephony): do not use user country for non-geographic order
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/nonGeographical/non-geographical.controller.js
Labels: bug, quality check: ok, universe-telecom

#7983 feat(telecom.moveaddress): manage new offers and options
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-telecom, translation required

#7886 feat(telecom.migration): managed new offers options
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.constant.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: quality check: ok, feature, universe-telecom, translation required

#8107 feat(pcc.user): add possibility to delete an active directory
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/taskPollProgress/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/federation-delete.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/federation-delete.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/federation-delete.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/dedicatedCloud-users.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/delete/federation-delete.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/delete/federation-delete.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/activeDirectories/delete/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/dedicatedCloud-users.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/delete/federation-delete.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/delete/federation-delete.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/activeDirectories/delete/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/users/users.routes.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#8063 feat(ip.order): select catalog form url
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.routes.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
Labels: quality check, feature, universe-bare-metal-cloud

#8112 fix(pcc.user): remove cache on user and federation datagrid
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: bug, universe-bare-metal-cloud

#8141 Feat/manager 10102: find and use renew capacity
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
Labels: feature, universe-bare-metal-cloud

#8137 feat(pci): use aggregated APIs for network components
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.html
  packages/manager/modules/pci/src/projects/project/private-networks/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.less
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/public-gateways/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/public-gateways.routing.js
  packages/manager/modules/pci/src/projects/project/public-gateways/service/public-gateways.service.js
Labels: feature, universe-public-cloud

#8142 feat/MANAGER-10085: Agora order IP repricing
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.routes.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#8152 fix(pci.project): update message on private mode instance creation
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8154 fix(pci.gateways): display waiting message while adding gateway
  packages/manager/modules/pci/src/projects/project/gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8157 fix(pci.project): replace public gateway by gateway
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/gateways/edit/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8156 fix(pci.project): rename Additional IPs to Public IPs
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/floating-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/floating-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/index.js
  packages/manager/modules/pci/src/projects/project/additional-ips/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: bug, translation required, universe-public-cloud, container

#8162 fix(pci.project): cannot create public cloud instance
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, universe-public-cloud

#8164 fix(pci): rename Failover IP to Additional IP
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/index.js
  packages/manager/modules/pci/src/projects/project/additional-ips/failover-ips/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/imports/import/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/imports/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/order/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/additional-ips/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8167 fix(pcc.user): change content for group remove
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/vsphere-users.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/vsphere-users.html
Labels: bug, universe-bare-metal-cloud, translation required

#8168 fix(pci.project): update instance listing page
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Labels: bug, universe-public-cloud

#8114 feat(webpack): add html minifier in webpack config
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-config/src/loaders/html-minifier.js
  packages/manager/tools/webpack-config/src/webpack.common.js
  yarn.lock
Labels: feature, build, dependencies

#8147 fix(enterprise-clouddb): remove entry in beta sidebar
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
Labels: bug, container

#8177 fix(pcc.user): make the ssl field is mandatory in federation edition
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.html
Labels: bug, universe-bare-metal-cloud

#8181 fix(pcc.user): change content on user deletion add an accent
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8182 fix(pcc.user): adapt content for group deletion
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/vsphere-user-delete.html
Labels: bug, universe-bare-metal-cloud, translation required

#8110 feat(dedicated-ip.list): add advanced mode
  packages/manager/apps/dedicated/client/app/ip/components/list/list.component.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/failover/failover.component.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.constants.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.routing.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.template.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8184 fix(pcc.user): pattern error message on import user
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.html
Labels: bug, universe-bare-metal-cloud, translation required

#8185 fix(pcc.user): prefill the field ldap tcp port
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.controller.js
Labels: bug, universe-bare-metal-cloud

#7970 feat(dedicated): add translations for license
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#8189 fix(pci.project): update instance listing page
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Labels: bug, universe-public-cloud

#8183 fix(pci.project): add validation for private network creation
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, universe-public-cloud

#8202 fix(pci.project): cannot create public instance
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug, universe-public-cloud

#8171 fix(pcc.user): disable federation if avanced security
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/activeDirectories.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8179 fix(pcc.user): make the ssl field is mandatory in federation add
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.html
Labels: bug, universe-bare-metal-cloud

#8205 fix(pcc.user): remove asterisk on mandatory field
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8186 fix(pcc.user): adapt title on delete user or group
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/delete/vsphere-user-delete.html
Labels: bug, universe-bare-metal-cloud, translation required

#8196 fix(pci.project): create vrack in the project
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/empty/empty.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/empty/empty.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/empty/empty.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/empty/empty.html
  packages/manager/modules/pci/src/projects/project/private-networks/empty/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/assets/private-networks.png
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
Labels: bug, translation required, universe-public-cloud

#8187 fix(pci.project): remove private network modal
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, universe-public-cloud

#8131 feat(dedicated-ip): modernize order additonal ip
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.routes.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8163 feat(dedicated-ip): make the service clickable
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/failover/failover.routing.js
Labels: feature, universe-bare-metal-cloud

#8209 build: add `yarn.lock` codeowner
  .github/CODEOWNERS
Labels: build, continuous-integration

#8190 build(dev-deps): upgrade `@commitlint/*` dependencies
  package.json
  yarn.lock
Labels: build, dependencies

#8191 build(dev-deps): upgrade `husky` dependency
  package.json
  yarn.lock
Labels: build, dependencies

#8192 build(dev-deps): upgrade `lint-staged` dependency
  package.json
  yarn.lock
Labels: build, dependencies

#8216 feat(dedicated-ip): modernize order additional ip
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8195 build(linter): add action to run repo linters
  .github/workflows/linter.yaml
Labels: build, continuous-integration

#8087 fix(web): update owner details and dns for domain
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domains/export-csv/domains-export-to-csv.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#8217 fix(dedicated-ip): align block card content to center
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
Labels: bug, universe-bare-metal-cloud

#8188 fix(domain-operation): use `domain.OperationFunctionEnum` enum
  packages/manager/apps/web/client/app/domain-operation/domain-operation.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#8204 fix(pcc.user): error message if user is already exist in import
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.html
Labels: bug, universe-bare-metal-cloud, translation required

#8029 feat(modules.advices): add support recommender system advices
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/advices/src/advices/template.html
  packages/manager/modules/advices/src/advices/translations/Messages_de_DE.json
  packages/manager/modules/advices/src/advices/translations/Messages_en_GB.json
  packages/manager/modules/advices/src/advices/translations/Messages_es_ES.json
  packages/manager/modules/advices/src/advices/translations/Messages_fr_CA.json
  packages/manager/modules/advices/src/advices/translations/Messages_fr_FR.json
  packages/manager/modules/advices/src/advices/translations/Messages_it_IT.json
  packages/manager/modules/advices/src/advices/translations/Messages_pl_PL.json
  packages/manager/modules/advices/src/advices/translations/Messages_pt_PT.json
Labels: quality check: ok, feature

#8200 feat(dedicated-ip): harmonize service namings
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/ip-ip-legacyOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/ip-ip-legacyOrder.html
  packages/manager/apps/dedicated/client/app/ip/components/list/block/delete/ip-ip-block-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/delete/ip-ip-block-delete.html
  packages/manager/apps/dedicated/client/app/ip/components/list/block/ip-ip-block.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/move/ip-ip-block-move.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/move/ip-ip-block-move.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ip.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/failover/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8228 fix(pci.project): delete gateway modal doesnot close on success
  packages/manager/modules/pci/src/projects/project/gateways/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/gateways/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/gateways/delete/delete.html
  packages/manager/modules/pci/src/projects/project/gateways/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/gateways/gateways.html
  packages/manager/modules/pci/src/projects/project/gateways/gateways.routing.js
Labels: bug, universe-public-cloud

#7980 fix(ip): allow direct access to actions through url (#7715)
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-public-cloud

#8243 fix(dedicated-ip): align block card content to center
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
Labels: bug, universe-bare-metal-cloud

#8227 fix(i18n): add missing translations [CDS 1884]
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8251 fix(pci.project): display loading info while instance creation
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, universe-public-cloud

#8208 feat(dedicated-ip.list): add tooltips
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8234 build(start): add applications autocomplete
  package.json
  scripts/start-application.js
  yarn.lock
Labels: build, dependencies

#8226 feat(dedicated-ip): add onboarding page
  packages/manager/apps/dedicated/client/app/ip/ip.module.js
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/assets/ip.png
  packages/manager/apps/dedicated/client/app/ip/onboarding/index.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.component.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.constants.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.controller.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.module.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.routing.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.template.html
  packages/manager/apps/dedicated/client/app/ip/onboarding/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8135 fix(dedicated.support): add standard s3 on support tickets
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#7473 feat(pci.data-processing): datatr-3 - improve jobs dashboard
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.utils.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/metrics-token.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/metrics-token.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/metrics-token.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/metrics-token/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.html
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/job-logs.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-logs/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#8066 feat(pci.ai): datatr-102 add new editor translations keys
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8178 fix(dedicated.ovh-payment): make legal notice default payment
  packages/components/ng-ovh-payment-method/src/components/register/index.html
Labels: bug, quality check: ok

#8236 fix(pcc.user): add pattern on import group field
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.html
Labels: bug, universe-bare-metal-cloud

#7998 fix(i18n): add missing translations [CDS 1834]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/display-name/translations/Messages_es_ES.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8250 fix(dedicated-ip): sort the ip block FO
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
Labels: bug, universe-bare-metal-cloud

#8008 fix(i18n): add missing translations [CDS 1836]
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#8255 fix(dedicated-ip): hormonising additional ip
  packages/manager/apps/dedicated/client/app/ip/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/failover-ips/onboarding/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required, universe-public-cloud

#8210 fix(config): remove unnecessary module resolutions
  jest.config.js
  packages/components/ovh-at-internet/package.json
  packages/components/ovh-at-internet/src/index.ts
  packages/components/ovh-at-internet/tsconfig.json
  packages/components/ovh-shell/__tests__/client/client-init.spec.ts
  packages/components/ovh-shell/__tests__/plugin/i18n/i18n.spec.ts
  packages/components/ovh-shell/package.json
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/client/shell-client.ts
  packages/components/ovh-shell/src/plugin/environment/index.ts
  packages/components/ovh-shell/src/plugin/i18n/index.ts
  packages/components/ovh-shell/src/plugin/index.ts
  packages/components/ovh-shell/src/plugin/navigation/index.ts
  packages/components/ovh-shell/src/plugin/tracking/index.ts
  packages/components/ovh-shell/src/plugin/tracking/tracking.ts
  packages/components/ovh-shell/tsconfig.json
  packages/manager/apps/container/src/__tests__/navbar/navbar.spec.tsx
  packages/manager/apps/container/src/container/common/Preloader/usePreloader.ts
  packages/manager/apps/container/src/container/common/language/List.tsx
  packages/manager/apps/container/src/container/common/urls-constants.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/PaymentMethod/PaymentMethod.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/Shortcuts/useShortcuts.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/constants.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserDetails.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserInfos.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserInitials.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserName.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserRole.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserSupportLevel.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/useUserInfos.ts
  packages/manager/apps/container/src/container/legacy/navbar/Account.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/context/ApplicationProvider.tsx
  packages/manager/apps/container/src/context/application.context.ts
  packages/manager/apps/container/src/context/useApplicationContext.ts
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/core/dev/index.ts
  packages/manager/apps/container/src/core/routing/iframe-app-router.tsx
  packages/manager/apps/container/src/core/routing/route/external-application-route.tsx
  packages/manager/apps/container/src/core/routing/route/iframe-application-route.tsx
  packages/manager/apps/container/src/index.tsx
  packages/manager/apps/container/src/sso-auth-modal/SSOAuthModal.tsx
  packages/manager/core/url-builder/package.json
  packages/manager/core/url-builder/src/index.ts
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/environment/index.ts
  packages/manager/modules/config/src/index.ts
  packages/manager/modules/config/src/locale/index.ts
  packages/manager/modules/config/tsconfig.json
  packages/manager/tools/component-rollup-config/package.json
Labels: bug, container

#8259 fix(i18n): add missing translations [CDS 1898]
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud

#8260 feat(nutanix): update nutanix onboarding page
  packages/manager/modules/nutanix/src/onboarding/assets/Nutanix.png
  packages/manager/modules/nutanix/src/onboarding/constants.js
  packages/manager/modules/nutanix/src/onboarding/template.html
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hosted-private-cloud

#8252 fix(dedicated-ip): resolve state and view issue
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.routes.js
  packages/manager/apps/dedicated/client/app/components/ip/legacyOrder/ip-ip-legacyOrder.controller.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, universe-bare-metal-cloud

#8235 fix(pcc.user): remove asterisk ssl certificate field
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.html
Labels: bug, universe-bare-metal-cloud

#8238 fix(pcc.user): change the already exist users rules
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.controller.js
Labels: bug, universe-bare-metal-cloud

#8279 fix: update sonarcloud version
  .sonarcloud.properties
  scripts/release/release.sh
Labels: bug, build

#8266 fix(pcc.user): block deletion of active directory if user exist
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/federation-delete.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/federation-delete.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/delete/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8268 fix(pcc.user): change column displayed
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/vsphere-users.html
Labels: bug, universe-bare-metal-cloud

#8270 fix(pci.project): display disabled subnet info
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8289 fix(dedicated.nutanix): prevention banner tracking not valid
  packages/manager/modules/nutanix/src/dashboard/controller.js
  packages/manager/modules/nutanix/src/dashboard/template.html
Labels: bug, universe-hosted-private-cloud

#8288 feat(dedicate.nutanix): update license tile
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licences.class.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
Labels: feature, translation required, universe-hosted-private-cloud

#8295 fix(dedicated-ip): add message if customer as no product
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
Labels: bug, universe-bare-metal-cloud

#8272 fix(pci.project): update creation price summary
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#8297 fix(dedicated-ip): rename floating ip to Additonal ip
  packages/manager/apps/dedicated/client/app/ip/onboarding/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8296 fix(dedicated-ip): resolve state and view issue
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/ip/components/list/organisation/organisation.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
Labels: bug, universe-bare-metal-cloud

#8233 feat(dedicated-ip): add edit and associate ip modal
  packages/manager/apps/dedicated/client/app/components/ip/ip-ip-organisation.service.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/block.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/editAssociate/ip-ip-block-edit-associate.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/editAssociate/ip-ip-block-edit-associate.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/components/list/organisation/ip-ip-organisation.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/organisation/ip-ip-organisation.html
  packages/manager/apps/dedicated/client/app/ip/components/list/organisation/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8300 feat(dedicated.nutanix): update support, network and contact block
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/bm-server-components/src/support/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/template.html
Labels: feature, universe-hosted-private-cloud

#8286 feat(dedicated-ip): rework alerts mechanism
  packages/manager/apps/dedicated/client/app/ip/components/alerts/alerts.component.js
  packages/manager/apps/dedicated/client/app/ip/components/alerts/alerts.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/alerts/alerts.template.html
  packages/manager/apps/dedicated/client/app/ip/components/alerts/index.js
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/components/list/index.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.component.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.styles.scss
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ip.html
  packages/manager/apps/dedicated/client/app/ip/failover/failover.module.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.routing.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.template.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.service.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip.module.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8076 fix(dbaas-logs): osd price reference
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
Labels: quality check, universe-bare-metal-cloud

#7527 Feat/sp sso identity
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserDetails.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/constants.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.component.js
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.html
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/account/user/users/group.service.js
  packages/manager/apps/dedicated/client/app/account/user/users/groups/add/user-users-groups-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/groups/add/user-users-groups-add.html
  packages/manager/apps/dedicated/client/app/account/user/users/groups/delete/user-users-groups-delete.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/groups/delete/user-users-groups-delete.html
  packages/manager/apps/dedicated/client/app/account/user/users/groups/update/user-users-groups-update.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/groups/update/user-users-groups-update.html
  packages/manager/apps/dedicated/client/app/account/user/users/sso/add/user-users-sso-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/add/user-users-sso-add.html
  packages/manager/apps/dedicated/client/app/account/user/users/sso/delete/user-users-sso-delete.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/delete/user-users-sso-delete.html
  packages/manager/apps/dedicated/client/app/account/user/users/sso/details/user-users-sso-details.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/details/user-users-sso-details.html
  packages/manager/apps/dedicated/client/app/account/user/users/sso/update/user-users-sso-update.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/update/user-users-sso-update.html
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/user/users/users.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/users.html
  packages/manager/apps/dedicated/client/app/account/user/users/users.module.js
  packages/manager/apps/dedicated/client/app/account/user/users/users.routing.js
  packages/manager/apps/dedicated/client/app/account/user/users/users.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required, container

#8269 fix(pci.project): add confirm step for private instance creation
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8273 perf: remove `public-cloud-dark-mode` component
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/public-cloud/src/assets/theme/dark/index.less
  packages/manager/apps/public-cloud/src/components/dark-mode/dark-mode.component.js
  packages/manager/apps/public-cloud/src/components/dark-mode/dark-mode.constants.js
  packages/manager/apps/public-cloud/src/components/dark-mode/dark-mode.controller.js
  packages/manager/apps/public-cloud/src/components/dark-mode/index.js
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/controller.js
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/template.html
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_de_DE.json
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_en_GB.json
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_es_ES.json
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_fr_CA.json
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_it_IT.json
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_pl_PL.json
  packages/manager/apps/public-cloud/src/components/dark-mode/modal/translations/Messages_pt_PT.json
  packages/manager/apps/public-cloud/src/index.html
  yarn.lock
Labels: performance, translation required, dependencies, universe-public-cloud

#8313 fix(dedicated-ip): arrangments of column and tooltip
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8314 feat(dedicated-ip): add default selection value
  packages/manager/apps/dedicated/client/app/ip/components/list/block/editAssociate/ip-ip-block-edit-associate.controller.js
Labels: quality check, feature, universe-bare-metal-cloud
