Repository ovh/manager, pull requests merged in 2022-04, with the labels that each got.

#6798 fix(vps): update additional-disk termination success message
  packages/manager/modules/vps/src/components/terminate/terminate.constants.js
  packages/manager/modules/vps/src/components/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/terminate/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#6711 ci(workflows): add `github/super-linter` GitHub Action
  .github/workflows/linter.yaml
Labels: continuous-integration

#6804 fix(exchange.account): add exchange guid in update form
  packages/manager/modules/exchange/src/account/update/account-update.html
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#6773 Feat/dtrsd 76841: improve PCI create project step 1
  packages/manager/modules/pci/src/components/hds/template.html
  packages/manager/modules/pci/src/components/hds/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/config/component.js
  packages/manager/modules/pci/src/projects/new/config/index.html
  packages/manager/modules/pci/src/projects/new/config/routing.js
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6782 Feat/dtrsd 75895: improve PCI create project step 2
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/config/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/legacy/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/creating/notPaid/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6803 fix(pci.projects.project.new): avoid auto create project on step 2
  packages/manager/modules/pci/src/projects/new/payment/controller.js
Labels: bug, quality check: ok, universe-public-cloud

#6427 feat(hub): add temporary hub redirection
  packages/manager/apps/hub-redirection/package.json
  packages/manager/apps/hub-redirection/src/index.html
  packages/manager/apps/hub-redirection/src/index.js
  packages/manager/apps/hub-redirection/webpack.config.js
Labels: quality check: ok, feature, universe-hub

#6632 feat(telecom): add temporary telecom redirection
  packages/manager/apps/telecom-redirection/package.json
  packages/manager/apps/telecom-redirection/src/index.html
  packages/manager/apps/telecom-redirection/src/index.js
  packages/manager/apps/telecom-redirection/webpack.config.js
Labels: quality check: ok, feature, universe-telecom

#6794 fix(packages.components): reinit adyen after payment switch
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
Labels: bug, quality check: ok

#6756 feat(dedicated): tracking for vps additional disk
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.controller.js
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.html
  packages/manager/modules/vps/src/additional-disk/order/vps-order-additional-disk-order.routing.js
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.routing.js
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.routing.js
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.controller.js
  packages/manager/modules/vps/src/components/terminate/terminate.constants.js
  packages/manager/modules/vps/src/dashboard/additional-disk/upgrade/upgrade.routing.js
Labels: quality check, feature, universe-bare-metal-cloud

#6817 fix(vps): provide purchase order url after updating additional disk size
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/components/additional-disk/upgrade/upgrade.controller.js
Labels: bug, universe-bare-metal-cloud, translation required

#6818 fix: name controller
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
Labels: bug, universe-hub

#6821 fix(i18n): add missing translations [CDS 1555]
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#6824 fix(breadcrumbs): remove target top
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.html
Labels: bug

#2743 feat(web): dns anycast order with catalog
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.component.js
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.constants.js
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.controller.js
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.html
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.state.js
  packages/manager/apps/web/client/app/domain/anycast/index.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/confirm.component.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/confirm.controller.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/confirm.html
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/confirm.state.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/index.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/confirm/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/index.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/template.html
  packages/manager/apps/web/client/app/domain/anycast/terminate/terminate.component.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/terminate.state.js
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/anycast/terminate/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.routing.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dns/DNS.html
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/modules/web-universe-components/src/order-cart/order-cart.service.js
Labels: quality check: ok, feature, universe-web-cloud

#6765 feat: add some tracking
  packages/manager/modules/veeam-enterprise/src/dashboard/component.js
  packages/manager/modules/veeam-enterprise/src/dashboard/controller.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.component.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.controller.js
  packages/manager/modules/veeam-enterprise/src/dashboard/template.html
  packages/manager/modules/veeam-enterprise/src/dashboard/terminate/terminate.component.js
  packages/manager/modules/veeam-enterprise/src/dashboard/terminate/terminate.controller.js
  packages/manager/modules/veeam-enterprise/src/details/constants.js
  packages/manager/modules/veeam-enterprise/src/details/routing.js
  packages/manager/modules/veeam-enterprise/src/details/veeam-enterprise.module.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#6801 fix(container): navbar language change tracking
  packages/manager/apps/container/src/navbar/language.jsx
Labels: bug

#6834 fix(web): top level application
  packages/manager/apps/web/client/app/app.controller.js
  packages/manager/apps/web/client/app/components/webApp.controller.js
Labels: bug, universe-web-cloud

#6839 fix(container): add marketplace translations
  packages/manager/apps/container/src/navbar/universes.jsx
  packages/manager/apps/container/src/public/translations/navbar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/navbar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/navbar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/navbar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/navbar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/navbar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/navbar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/navbar/Messages_pt_PT.json
Labels: bug, translation required

#6836 fix(domain.dashboard): call API via `GET` method
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
Labels: bug, quality check: ok, universe-web-cloud

#6840 fix(dropdown): add target top in services menus
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/anthos/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/navbar/package.json
  packages/manager/modules/server-sidebar/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud

#6838 feat(shell): handle cross origin errors
  packages/components/ovh-shell/src/plugin/routing/index.tsx
Labels: feature

#6835 fix(layout-helpers): add target top to links
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.utils.js
Labels: bug

#6800 fix(container): account sidebar link tracking
  packages/manager/apps/container/src/account-sidebar/Shortcuts/Tile/Tile.jsx
  packages/manager/apps/container/src/account-sidebar/UsefulLinks/Link/Anchor.jsx
Labels: bug

#6828 fix(cdn): display Order Backends modal
  packages/manager/apps/dedicated/client/app/cdn/dedicated/backend/order/cdn-dedicated-backend-order.controller.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/backend/order/cdn-dedicated-backend-order.html
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/backend/update/cdn-dedicated-domain-backend-update.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6802 fix(telephony.sva-wallet.kyc.identity): update email label
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-telecom

#6846 build(dev-deps): upgrade `@ovh-ux/manager-webpack-config` to `v5.0.0`
  packages/manager/apps/hub-redirection/package.json
  packages/manager/apps/telecom-redirection/package.json
Labels: bug, universe-telecom

#6820 fix(pci): navigate to previous page on click of cancel
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/add/add.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#6730 fix(server.installation): fix error message
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6309 feat(cloud-connect): add order follow up list and services list
  packages/manager/modules/cloud-connect/src/cloud-connect.component.js
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.module.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/template.html
  packages/manager/modules/cloud-connect/src/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/translations/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/server-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_CA.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/server-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#6862 fix(domain.glue): fix call to delete glue records
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
Labels: bug, quality check: ok, quality check, universe-web-cloud

#6464 refactor(billing): replace payments requests apiv7
  packages/manager/modules/billing/src/billing.module.js
  packages/manager/modules/billing/src/main/payments/request/billing-payments-request.controller.js
  packages/manager/modules/billing/src/main/payments/request/billing-payments-request.html
  packages/manager/modules/billing/src/main/payments/request/billing-payments-request.module.js
  packages/manager/modules/billing/src/main/payments/request/billing-payments-request.service.js
Labels: quality check: ok, universe-bare-metal-cloud, refactor, breaking-change

#6853 feat(pci.projects.new.payment): spinner for creating project
  packages/manager/modules/pci/src/projects/new/payment/index.html
Labels: quality check: ok, feature, universe-public-cloud

#6867 Feat/dtrsd 81543: create project from sidebar
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.component.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/sidebar/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/projects.component.js
  packages/manager/modules/pci/src/projects/projects.controller.js
  packages/manager/modules/pci/src/projects/projects.html
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6872 fix: check country to display GST
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6860 feat(pci.projects.new): add a banner to help create incident ticket
  packages/manager/modules/pci/src/projects/new/components/index.js
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/component.js
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/controller.js
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/index.js
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/template.html
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/config/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6752 fix(modem.templates): revert to display modem templates
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/config/templates-config.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/config/templates-config.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/templates/pack-xdsl-modem-templates.component.js
Labels: bug, quality check: ok, universe-telecom

#6886 fix(pci.storage.databases): remove iceberg header for vrack
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
Labels: bug, quality check: ok, universe-public-cloud

#6529 Revert "feat(details): add statistics"
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/details.module.js
  packages/manager/modules/cloud-connect/src/details/statistics/index.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.component.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.constant.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.controller.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.module.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.routing.js
  packages/manager/modules/cloud-connect/src/details/statistics/template.html
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/template.html
  packages/manager/modules/cloud-connect/src/details/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/style.scss
Labels: quality check: ok, feature, universe-bare-metal-cloud

#6879 fix(pci.storage.databases): remove nodeList parameter
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#6876 fix: resume transition instead of cancelling it
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#6895 Feat/dtrsd 81770: add tracking for contact-us links
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/component.js
  packages/manager/modules/pci/src/projects/new/components/support-ticket-banner/template.html
  packages/manager/modules/pci/src/projects/new/config/controller.js
  packages/manager/modules/pci/src/projects/new/config/index.html
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
Labels: quality check: ok, feature, universe-public-cloud

#6847 feat/dtrsd 81174: manage voucher on step 2
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/voucher.class.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/routing.js
Labels: quality check: ok, feature, universe-public-cloud

#6859 fix(dedicated.server): block nb disks selection on os with no partition
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6484 Feat/restrict byoip
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
Labels: feature, universe-bare-metal-cloud

#6788 feat(nasha): add onboarding page
  packages/manager/modules/nasha/src/index.js
  packages/manager/modules/nasha/src/nasha.routing.js
  packages/manager/modules/nasha/src/onboarding/assets/instance.png
  packages/manager/modules/nasha/src/onboarding/index.js
  packages/manager/modules/nasha/src/onboarding/onboarding.component.js
  packages/manager/modules/nasha/src/onboarding/onboarding.constants.js
  packages/manager/modules/nasha/src/onboarding/onboarding.controller.js
  packages/manager/modules/nasha/src/onboarding/onboarding.html
  packages/manager/modules/nasha/src/onboarding/onboarding.module.js
  packages/manager/modules/nasha/src/onboarding/onboarding.routing.js
  packages/manager/modules/nasha/src/onboarding/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#6915 build: update `yarn.lock` file
  yarn.lock
Labels: bug, dependencies

#6855 fix(container): allow account sidebar toggle on small screen
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/ux/components/sidebar.ts
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/components/ovh-shell/src/plugin/ux/ux.ts
  packages/manager/apps/container/src/account-sidebar/AccountSidebar.jsx
  packages/manager/apps/container/src/account-sidebar/index.scss
  packages/manager/apps/container/src/context/header/HeaderProvider.jsx
  packages/manager/apps/container/src/navbar/account.jsx
  packages/manager/apps/container/src/navbar/notifications.jsx
  packages/manager/apps/hub/src/index.js
Labels: bug, universe-hub

#6770 fix(public-cloud): translation for Users and Roles page title
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-public-cloud

#6416 feat(pack.resiliation): add new reasons for resiliation survey
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/pack.module.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.html
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-telecom, translation required

#6870 fix(enterprise-cloud-db): restore go to function
  packages/manager/modules/enterprise-cloud-database/src/enterprise-cloud-database.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6844 fix(flavors-list): fix banner when flavor selected is end of sales
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Labels: bug, quality check: ok, universe-public-cloud

#6925 fix(container): add useraccount redirection
  packages/manager/apps/container/src/shell/index.jsx
Labels: bug, quality check: ok

#6928 fix(telephony.sva-wallet): replace title of the kbis field
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/documents/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-telecom, translation required

#6939 fix(dedicated): hpc navbar highlight
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6920 fix(hosted-private-cloud): correct UX for order button
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/license/enable/dedicatedCloud-license-enable.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/license/enable/dedicatedCloud-license-enable.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6759 fix(veeam.order): fix order duration
  packages/manager/modules/vps/src/veeam/order/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/veeam/order/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.controller.js
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#6951 fix(tracking): fix tracking init
  packages/components/ovh-shell/src/plugin/tracking/tracking.ts
  packages/manager/apps/hub/src/components/at-internet/index.js
  packages/manager/apps/hub/src/index.js
  packages/manager/modules/at-internet-configuration/src/index.js
  packages/manager/modules/at-internet-configuration/src/provider.js
Labels: bug, universe-hub

#6956 fix(pci.projects.new.payment): restore default payment selection
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
Labels: bug, quality check: ok, universe-public-cloud

#6957 build(dev-deps): bump `@ovh-ux/component-rollup-config` to `v12.0.0`
  packages/manager/modules/phone-prefix/package.json
Labels: bug

#6676 fix MLS-2703 (pci.notebooks): notebook informations resources
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#6967 fix(web.exchange): remove old translation no more required
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
Labels: bug, universe-web-cloud

#6971 fix(web.exchange): name of exchange 2010 account not displayed
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.html
Labels: bug, quality check, universe-web-cloud

#6970 Sync develop & master
  .sonarcloud.properties
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
  packages/manager/modules/support/CHANGELOG.md
  packages/manager/modules/support/package.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: translation required, universe-public-cloud, has conflicts

#6960 fix(ip): add missing `associate-ip-bloc` module import
  packages/manager/apps/dedicated/client/app/ip/ip/ip.module.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6972 fix(dashboard): display region icon by adding missing class separator
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6945 fix(account): fix empty order account button label
  packages/manager/modules/emailpro/src/account/emailpro-account.controller.js
  packages/manager/modules/emailpro/src/account/emailpro-account.html
Labels: bug, quality check: ok, universe-web-cloud

#6966 feat(pci.projects.new.payment): add spinner for create project btn
  packages/manager/modules/pci/src/projects/new/payment/index.html
Labels: quality check: ok, feature, universe-public-cloud

#6955 fix(billing): enable the sorting on the status column
  packages/manager/modules/billing/src/orders/purchaseOrders/billing-orders-purchases.html
Labels: bug, universe-bare-metal-cloud

#6959 fix(billing): modification of wording for edit purchase order
  packages/manager/modules/billing/src/orders/purchaseOrders/billing-orders-purchases.constant.js
  packages/manager/modules/billing/src/orders/purchaseOrders/edit-purchase/edit-purchase.controller.js
  packages/manager/modules/billing/src/orders/purchaseOrders/edit-purchase/edit-purchase.html
  packages/manager/modules/billing/src/orders/purchaseOrders/edit-purchase/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#6979 Sync develop & master
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/ip/ip/ip.module.js
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/emailpro/CHANGELOG.md
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/emailpro/src/account/emailpro-account.controller.js
  packages/manager/modules/emailpro/src/account/emailpro-account.html
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.html
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-public-cloud, has conflicts

#6982 Revert - Add spinner for create project button
  packages/manager/modules/pci/src/projects/new/payment/index.html
Labels: bug, universe-public-cloud

#6983 Sync develop & master
  .sonarcloud.properties
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/index.html
Labels: universe-public-cloud, has conflicts

#6969 feat: rename failover ip to additional ip
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: feature, universe-public-cloud

#6950 fix(dashboard): improve commitment tracking
  packages/manager/modules/netapp/.eslintrc.json
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6764 feat(private-database): add link to configuration documentation
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/private-database/configuration/private-database-configuration.controller.js
  packages/manager/apps/web/client/app/private-database/configuration/private-database-configuration.html
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-web-cloud

#6911 feat(container): use beta version
  packages/manager/apps/container/src/__tests__/navbar/__snapshots__/navbar.spec.js.snap
  packages/manager/apps/container/src/__tests__/navbar/navbar.spec.js
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/legacy/navbar/Navbar.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
Labels: feature

#6986 fix(i18n): add missing translations [CDS 1595]
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pt_PT.json
Labels: feature, universe-public-cloud

#6984 fix(billing): purchase order number stays inactive
  packages/manager/modules/billing/src/orders/purchaseOrders/billing-orders-purchases.controller.js
  packages/manager/modules/billing/src/orders/purchaseOrders/billing-orders-purchases.routing.js
  packages/manager/modules/billing/src/orders/purchaseOrders/billing-orders-purchases.service.js
  packages/manager/modules/billing/src/orders/purchaseOrders/edit-purchase/edit-purchase.component.js
  packages/manager/modules/billing/src/orders/purchaseOrders/edit-purchase/edit-purchase.controller.js
  packages/manager/modules/billing/src/orders/purchaseOrders/edit-purchase/edit-purchase.html
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/new-purchase.component.js
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/new-purchase.controller.js
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/new-purchase.html
  packages/manager/modules/billing/src/orders/purchaseOrders/update-purchase-status/update-purchase-status.controller.js
Labels: bug, universe-bare-metal-cloud

#6987 fix(container): accout sidebar shortcut
  packages/manager/apps/container/src/account-sidebar/Shortcuts/useShortcuts.js
Labels: bug

#6994 fix(*): shell authentication in applications
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/web/client/app/app.module.js
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hub, universe-public-cloud

#6997 fix(pci.projects.new.payment): allows creating project if default payment
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
Labels: bug, quality check: ok, universe-public-cloud

#7000 fix(i18n): add missing translations [CDS 1601]
  packages/manager/modules/billing/src/main/history/translations/Messages_pl_PL.json
Labels: bug, universe-bare-metal-cloud

#6943 feat: redirect failover ip to additional ip
  packages/manager/modules/pci/src/projects/project/failover-ips/failover-ips.routing.js
  packages/manager/modules/pci/src/projects/project/failover-ips/index.js
  packages/manager/modules/pci/src/projects/project/failover-ips/redirection.js
Labels: feature, universe-public-cloud

#6605 feat(pnr): add onboarding widget
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/ux/components/chatbot.ts
  packages/components/ovh-shell/src/plugin/ux/components/component.ts
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/components/ovh-shell/src/plugin/ux/ux.ts
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/__tests__/__test-utils__/contextRenders.js
  packages/manager/apps/container/src/__tests__/shell/shell.spec.js
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/common/pnr-beta-modal/index.tsx
  packages/manager/apps/container/src/container/common/popover.module.scss
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Button.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/DefaultPaymentMethod.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/introduction.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.jsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services.ts
  packages/manager/apps/container/src/core/container/ContainerProvider.jsx
  packages/manager/apps/container/src/core/container/context.js
  packages/manager/apps/container/src/core/container/index.js
  packages/manager/apps/container/src/core/container/useContainer.js
  packages/manager/apps/container/src/core/onboarding/constants.js
  packages/manager/apps/container/src/core/onboarding/index.js
  packages/manager/apps/container/src/core/onboarding/useOnboarding.js
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/constants.js
  packages/manager/apps/container/src/core/product-nav-reshuffle/index.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/useProductNavReshuffle.js
  packages/manager/apps/container/src/index.scss
  packages/manager/apps/container/src/index.tsx
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/hub/src/controller.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/public-cloud/src/index.controller.js
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/telecom/src/app/app.controller.js
  packages/manager/apps/telecom/src/index.html
  packages/manager/apps/web/client/app/components/webApp.controller.js
  packages/manager/apps/web/client/app/index.html
  yarn.lock
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, dependencies, universe-hub, universe-public-cloud

#7007 fix(*): container cookie policy modal
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/web/client/app/app.module.js
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hub, universe-public-cloud

#7009 fix: remove extra column helpers on `<ovh-manager-server-sidebar>`
  packages/manager/apps/telecom/src/index.html
Labels: bug, quality check: ok, universe-telecom

#7013 fix(container): notifications
  packages/manager/apps/container/src/core/notifications/NotificationsProvider.tsx
  packages/manager/apps/container/src/core/notifications/notification.ts
Labels: bug
