Repository ovh/manager, pull requests merged in 2022-11, with the labels that each got.

#7546 Feat/live chat
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/components/ovh-shell/src/plugin/ux/ux.ts
  packages/manager/apps/container/src/__tests__/components/VirtualAgent.spec.tsx
  packages/manager/apps/container/src/components/LiveChat.tsx
  packages/manager/apps/container/src/components/VirtualAgent.tsx
  packages/manager/apps/container/src/components/virtualAgentStyles.module.scss
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
  packages/manager/apps/container/src/container/legacy/template.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
  packages/manager/apps/container/src/container/nav-reshuffle/template.module.scss
  packages/manager/apps/container/src/context/progress/ProgressProvider.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/container/context.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/index.scss
  packages/manager/apps/container/src/shims/react-components.d.ts
Labels: quality check, feature, container

#8299 feat(dedicated-ip): add some tracking
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.constants.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.controller.js
  packages/manager/apps/dedicated/client/app/ip/failover/failover.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.constant.js
Labels: feature, universe-bare-metal-cloud

#8291 feat(storage.cold-archive): add the tab "Manage users" to the cold archive page
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.module.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/user-add.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/user-add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.module.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.module.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.routing.js
Labels: feature, translation required, universe-public-cloud

#8315 fix(i18n): add missing translations [CDS 1919]
  packages/manager/modules/nasha/src/dashboard/translations/Messages_es_ES.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8316 fix(i18n): add missing translations [CDS 1920]
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8323 sync: master to develop
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/components/ovh-shell/src/plugin/ux/ux.ts
  packages/manager/apps/container/src/__tests__/components/VirtualAgent.spec.tsx
  packages/manager/apps/container/src/components/LiveChat.tsx
  packages/manager/apps/container/src/components/VirtualAgent.tsx
  packages/manager/apps/container/src/components/virtualAgentStyles.module.scss
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
  packages/manager/apps/container/src/container/legacy/template.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
  packages/manager/apps/container/src/container/nav-reshuffle/template.module.scss
  packages/manager/apps/container/src/context/progress/ProgressProvider.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/container/context.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/index.scss
  packages/manager/apps/container/src/shims/react-components.d.ts
  packages/manager/modules/pci/src/components/project/storages/databases/database.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_pt_PT.json
Labels: universe-bare-metal-cloud, universe-telecom, translation required, dependencies, universe-public-cloud

#8321 fix(dedicated-ip): update the button text
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8331 Revert "feat(livechat): create virtual agent and new Livechat"
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/components/ovh-shell/src/plugin/ux/ux.ts
  packages/manager/apps/container/src/__tests__/components/VirtualAgent.spec.tsx
  packages/manager/apps/container/src/components/LiveChat.tsx
  packages/manager/apps/container/src/components/VirtualAgent.tsx
  packages/manager/apps/container/src/components/virtualAgentStyles.module.scss
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
  packages/manager/apps/container/src/container/legacy/template.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
  packages/manager/apps/container/src/container/nav-reshuffle/template.module.scss
  packages/manager/apps/container/src/context/progress/ProgressProvider.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/container/context.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/index.scss
  packages/manager/apps/container/src/shims/react-components.d.ts
Labels: bug, container

#8334 fix(pci.instances): display private networks
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug, universe-public-cloud

#8329 fix(pci.project): update create floating ip endpoint
  packages/manager/modules/pci/src/projects/project/additional-ips/service/service.js
Labels: bug, quality check, universe-public-cloud

#8340 fix(dedicated-ip): update uk by gb to add flag
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
Labels: bug, universe-bare-metal-cloud

#8285 fix(pci-container): modify the open rc api call
  packages/manager/modules/pci/src/projects/project/storages/legacy/containers/containers.service.js
Labels: bug, quality check: ok, universe-public-cloud

#8341 fix(pci): display selected region on form submit
  packages/manager/modules/pci/src/projects/project/gateways/add/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#8121 fix(pci.objectstorage): add tracking on creation object storage
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/index.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.component.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.controller.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#8085 feat(hosting.general): replace privateSQL orders by cloudDB
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.module.js
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/index.js
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/private-database.component.js
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/private-database.constant.js
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/private-database.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/private-database.html
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/private-database.service.js
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/database/order/components/private-database/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/database/order/private/hosting-database-order-private.component.js
  packages/manager/apps/web/client/app/hosting/database/order/private/hosting-database-order-private.constants.js
  packages/manager/apps/web/client/app/hosting/database/order/private/hosting-database-order-private.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/private/hosting-database-order-private.html
  packages/manager/apps/web/client/app/hosting/database/order/private/hosting-database-order-private.routing.js
  packages/manager/apps/web/client/app/hosting/database/order/private/index.js
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/database/order/private/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/private-database/index.js
  packages/manager/apps/web/client/app/private-database/order/private-sql/index.js
  packages/manager/apps/web/client/app/private-database/order/private-sql/private-database-order-private-sql.component.js
  packages/manager/apps/web/client/app/private-database/order/private-sql/private-database-order-private-sql.constants.js
  packages/manager/apps/web/client/app/private-database/order/private-sql/private-database-order-private-sql.controller.js
  packages/manager/apps/web/client/app/private-database/order/private-sql/private-database-order-private-sql.html
  packages/manager/apps/web/client/app/private-database/order/private-sql/private-database-order-private-sql.routing.js
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/order/private-sql/translations/Messages_pt_PT.json
Labels: universe-web-cloud, translation required

#8073 feat(vps.clouddb): clean clouddb order page
  packages/manager/modules/vps/src/cloud-database/index.js
  packages/manager/modules/vps/src/cloud-database/order/index.js
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/cloud-database/order/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/cloud-database/order/vps-cloud-database-order.component.js
  packages/manager/modules/vps/src/cloud-database/order/vps-cloud-database-order.controller.js
  packages/manager/modules/vps/src/cloud-database/order/vps-cloud-database-order.html
  packages/manager/modules/vps/src/cloud-database/order/vps-cloud-database-order.routing.js
  packages/manager/modules/vps/src/cloud-database/vps-cloud-database.controller.js
  packages/manager/modules/vps/src/cloud-database/vps-cloud-database.html
Labels: universe-bare-metal-cloud, translation required

#8072 feat(private-database.upgrade): deprecate order/hosting routes
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/database/ram/update/private-database-database-ram-update.controller.js
  packages/manager/apps/web/client/app/private-database/private-database.service.js
Labels: universe-web-cloud

#8345 fix(dedicated.nutanix): issue with title Replication Factor
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-hosted-private-cloud

#8344 fix(dedicated.nutanix): issue with commercial name
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
Labels: bug, universe-hosted-private-cloud

#8318 fix: remove node-sass dependency
  packages/components/ng-shell-tracking/package.json
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-config/src/webpack.common.js
  yarn.lock
Labels: bug, dependencies

#8351 fix(dedicated.nutanix): content improvement for nutanix nodes
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-hosted-private-cloud

#8353 fix(dedicated-ip.onboarding): change US links
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.constants.js
Labels: bug, universe-bare-metal-cloud

#8328 Feat/manager-10290: scope RS recommendations
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.html
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/modules/advices/src/advices/component.js
  packages/manager/modules/advices/src/advices/constants.js
  packages/manager/modules/advices/src/advices/controller.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Labels: quality check, feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-public-cloud

#8360 fix(pci): hide vnc console on baremetal instance
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, universe-public-cloud

#8362 feat(dedicated-ip): disable certain features for byoip
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
Labels: feature, universe-bare-metal-cloud

#8359 fix(pci): instance creation in gateway unavailable region
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#8355 feat(dedicated.nutanix): warning modal for BYOL customer
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hosted-private-cloud

#8347 fix(pcc.anthos): remove cta order for end of sales of anthos
  packages/manager/modules/anthos/src/anthos.html
Labels: bug, quality check: ok, universe-hosted-private-cloud

#8348 fix(dedicated.os): display text when os is not install
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8254 fix(telecom): cannot choose trunk during portability
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/order.html
Labels: bug, quality check: ok, universe-telecom

#8098 fix: cascade alias and dashboard removal
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/home/logs-aliases-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/logs-aliases.service.js
  packages/manager/modules/dbaas-logs/src/logs/detail/dashboards/logs-dashboards.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/home/info/logs-inputs-home-info.html
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#8276 fix(domain.order-hosting): remove useless option in canada
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/dnsConfiguration/domain-webhosting-order-steps-dnsConfiguration.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/dnsConfiguration/domain-webhosting-order-steps-dnsConfiguration.html
Labels: quality check: ok, universe-web-cloud

#8165 fix(nasha.order): sorting products by price
  packages/manager/modules/nasha/src/order/order.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8382 fix(pci): correct estimates next invoice
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing.service.js
Labels: bug, quality check: ok, universe-public-cloud

#8384 fix(pci): change url express order for additional ip
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.constants.js
  packages/manager/modules/pci/src/projects/project/failover-ips/order/order/order.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#8370 feat(dedicated-ip): add repricing banner
  packages/manager/apps/dedicated/client/app/ip/ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8327 feat(dedicated): adding new OS usage: ERP (FR)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud

#8391 fix(pci): fix url express order in redirection service module
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/core/src/redirection/redirection.service.js
Labels: bug

#8400 fix(sign-up): filter read only params
  packages/manager/modules/sign-up/src/form/form.constants.js
  packages/manager/modules/sign-up/src/form/form.controller.js
Labels: bug, sign-up

#8388 feat(dedicated.nutanix): add nutanix link on configuration
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: feature, universe-bare-metal-cloud, translation required

#8389 fix(dedicated.nutanix): add type of pack as link on list page
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-hosted-private-cloud

#8407 docs: update MAINTAINERS file
  MAINTAINERS
Labels: documentation

#8281 fix(dedicated.helpcenter): add modal for helpcenter for ca and eu
  packages/manager/modules/support/src/assets/images/background.png
  packages/manager/modules/support/src/assets/images/preview.png
  packages/manager/modules/support/src/modal/index.js
  packages/manager/modules/support/src/modal/modal.component.js
  packages/manager/modules/support/src/modal/modal.constants.js
  packages/manager/modules/support/src/modal/modal.controller.js
  packages/manager/modules/support/src/modal/modal.html
  packages/manager/modules/support/src/modal/modal.module.js
  packages/manager/modules/support/src/modal/modal.routing.js
  packages/manager/modules/support/src/modal/modal.scss
  packages/manager/modules/support/src/modal/translations/Messages_de_DE.json
  packages/manager/modules/support/src/modal/translations/Messages_en_GB.json
  packages/manager/modules/support/src/modal/translations/Messages_es_ES.json
  packages/manager/modules/support/src/modal/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/modal/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/modal/translations/Messages_it_IT.json
  packages/manager/modules/support/src/modal/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/modal/translations/Messages_pt_PT.json
  packages/manager/modules/support/src/support.module.js
  packages/manager/modules/support/src/support.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8201 feat(telecom): add lines informations on listings
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/components/telecom/telephony/associateDevice/associate-device.html
Labels: feature, universe-telecom, stale

#7990 fix(domain): don't send empty body in request post
  packages/manager/apps/web/client/app/domain-operation/domain-operation.service.js
Labels: bug, quality check, universe-web-cloud

#8409 fix(dedicated.nutanix): display type of pack in nutanix list column
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-hosted-private-cloud

#8398 feat(storage.cold-archive): fix a typo
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
Labels: bug, quality check, translation required, universe-public-cloud

#8394 feat(storage.cold-archive): change display of container name helper
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/name-archive/template.html
Labels: bug, quality check, universe-public-cloud

#8395 fix(storage.cold-archive): Edit input label in the step 2 of container creation
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/translations/Messages_fr_FR.json
Labels: bug, quality check, translation required, universe-public-cloud

#8429 feat(dedicated.nutanix): add nutanix entry on order menu
  packages/manager/modules/server-sidebar/src/order.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Labels: feature, translation required

#8435 fix(sign-up): add punctuation on siret module
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Labels: bug, translation required, sign-up

#8436 fix(sign-up): add missing legal form on siret module
  packages/manager/modules/sign-up/src/components/siret/siret.constants.js
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Labels: bug, translation required, sign-up

#8438 fix(sign-up): fix the tva tooltip content
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Labels: bug, translation required, sign-up

#8431 fix(sign-up): fix error message not adapted
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/components/siret/siret.service.js
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Labels: bug, translation required, sign-up

#8396 fix(nas-ha): fix redirection guide ca and order express url
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: bug, quality check: ok

#8434 fix(pcc.user): non is translated to cancel instead of no
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/translations/Messages_en_GB.json
Labels: bug, universe-bare-metal-cloud

#8445 fix(telecom): display correct numbers for selection
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/geographical/geographical.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/geographical/geographical.html
Labels: bug, quality check: ok, universe-telecom

#8401 fix(dedicated.hardraid): change virtualsize for install os
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8361 fix(pcc.datastore): add link of price for host and storage order
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8439 fix(public-cloud.ip): add right value of the price for ip
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.controller.js
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.routing.js
  packages/manager/modules/pci/src/projects/project/additional-ips/service/service.js
Labels: bug, quality check: ok, universe-public-cloud

#8381 feat: datatr-139 - ai deploy ost renaming
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#8310 fix(pci.data-processing): datatr-129 - order funnel margins and polling
  packages/manager/modules/pci/src/projects/project/data-processing/job-details/job-dashboard/job-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.html
Labels: bug, quality check: ok, universe-public-cloud

#8215 feat(telecom): managed keep services for change offer and move address
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.less
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.less
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/service-delete/move-service-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/service-delete/move-service-delete.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: quality check: ok, feature, universe-telecom

#8462 fix(ng-at-internet): make package private
  packages/components/ng-at-internet/package.json
Labels: bug

#8466 fix(dedicated.nutanix): update nutanix order cta url
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/routing.js
Labels: bug, universe-hosted-private-cloud
