Repository ovh/manager, pull requests merged in 2022-03, with the labels that each got.

#6421 feat(dedicated-cloud.user): handle active directory users and groups
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/dedicatedCloud-user.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/dedicatedCloud-user.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/delete/dedicatedCloud-user-delete.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/user/rights/dedicatedCloud-user-rights.html
Labels: enhancement, quality check: ok, universe-bare-metal-cloud

#6586 feat(pack): replace exchange APIv7 call
  packages/manager/apps/telecom/src/app/telecom/pack/slots/exchangeAccount/exchangeAccount.controller.js
Labels: quality check: ok, feature, universe-telecom

#6609 fix(i18n): add missing translations
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud

#6523 fix(server.dashboard.upgrade): use the right service id
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6600 feat(sva): add crowdfunding concept
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/documents/documents.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/documents/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/overview-identity/overview-identity.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#6338 fix(dedicated.server): wrong display on dashboard after upgrade
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/technical-details.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#6615 fix(list): prevent error with unknown provider `customizeColumnsMap`
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.utils.js
Labels: bug, quality check: ok

#6589 feat(web): officeprepaid api for ms office prepaid licenses
  packages/manager/modules/office/src/dashboard/microsoft-office-license-postpaid.service.js
  packages/manager/modules/office/src/dashboard/microsoft-office-license-prepaid.service.js
  packages/manager/modules/office/src/dashboard/microsoft-office-license.constants.js
  packages/manager/modules/office/src/dashboard/microsoft-office-license.controller.js
  packages/manager/modules/office/src/dashboard/microsoft-office-license.html
  packages/manager/modules/office/src/dashboard/microsoft-office-license.service.js
  packages/manager/modules/office/src/dashboard/microsoft.module.js
  packages/manager/modules/office/src/dashboard/office/license/edit/password/microsoft-office-edit-password.controller.js
  packages/manager/modules/office/src/dashboard/office/license/user/delete/microsoft-office-license-user-delete.controller.js
  packages/manager/modules/office/src/dashboard/office/license/user/order/microsoft-office-license-user-order.controller.js
  packages/manager/modules/office/src/dashboard/office/license/user/update/microsoft-office-license-user-update.controller.js
  packages/manager/modules/office/src/dashboard/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-web-cloud, translation required

#6622 feat(pci.instance.edit): order component bindings
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
Labels: feature, universe-public-cloud

#6498 feat: add option to open chatbot directly by using a link
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/src/livechat-service.js
  packages/manager/apps/hub/src/routing.js
Labels: quality check: ok, feature, universe-hub

#6602 fix(telecom.telephony.billing): wrong redirect url
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/billing.controller.js
Labels: bug, quality check: ok, universe-telecom

#6603 fix(service): restrict redirect url handling
  packages/components/ng-ovh-payment-method/src/payment-method-helper.service.js
Labels: bug, quality check: ok

#6480 fix(payment.method.add): fix sepa direct help links
  packages/manager/modules/billing/src/payment/method/add/views/legacyBillingAddress/constants.js
  packages/manager/modules/billing/src/payment/method/add/views/legacyBillingAddress/controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#5839 feat: making the order command available to everyone
  packages/manager/modules/pci/src/components/index.js
  packages/manager/modules/pci/src/components/pci-order-command/index.js
  packages/manager/modules/pci/src/components/pci-order-command/pci-order-command.component.js
  packages/manager/modules/pci/src/components/pci-order-command/pci-order-command.controller.js
  packages/manager/modules/pci/src/components/pci-order-command/pci-order-command.html
  packages/manager/modules/pci/src/components/pci-order-command/pci-order-command.scss
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/pci-order-command/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.html
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/submit-job.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/submit-job/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/order-command.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/order-command.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/order-command.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/order-command.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/order-command/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.html
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.module.js
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6522 fix(dashboard.migrate): fix price issue for vps migration funnel
  packages/manager/modules/vps/src/dashboard/migrate/migrate.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6625 fix(payment.method.add): navigate to payment methods list page
  packages/manager/modules/billing/src/payment/method/add/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6635 fix(modules.flavors-list): add missed deps
  packages/manager/modules/pci/src/components/project/flavors-list/index.js
Labels: bug, universe-public-cloud

#6637 Sync develop & master
  .sonarcloud.properties
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Labels: universe-public-cloud, has conflicts

#6634 fix(web.exchange.account): have same fields validation criteria
  packages/manager/modules/exchange/src/account/update/account-update.html
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#6607 Fix/manager 8716: fix csv issue
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/account/update/update.routing.js
Labels: bug, universe-web-cloud

#6645 fix(account.add): allow hiding email account from directory
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
Labels: bug, universe-web-cloud

#6641 fix(account.update): add missed translation key
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#6481 feat(telephony.sva-wallet): add a field bank account holder
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/confirm/confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/confirm/confirm.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/identity.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/overview-identity/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/overview-identity/overview-identity.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/overview-identity/overview-identity.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/overview-identity/overview-identity.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/overview-identity/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/summary.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/updateBankAccount/update-bank-account.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/summary/updateBankAccount/update-bank-account.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.service.js
Labels: quality check: ok, feature, universe-telecom, translation required

#6551 fix(dashboard): disable purchase IP and host if pending action
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.html
  packages/manager/modules/anthos/src/dashboard/general-information/general-information.routing.js
  packages/manager/modules/anthos/src/dashboard/host/component.js
  packages/manager/modules/anthos/src/dashboard/host/template.html
  packages/manager/modules/anthos/src/dashboard/ips/component.js
  packages/manager/modules/anthos/src/dashboard/ips/template.html
  packages/manager/modules/anthos/src/dashboard/routing.js
Labels: bug, quality check: ok

#6648 fix(account.update): fix spelling mistake
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud

#6640 fix(account.add): avoid highlighting errors on checkbox
  packages/manager/modules/exchange/src/account/add/account-add.html
Labels: bug, universe-web-cloud

#6649 fix: fix spelling mistake
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#6619 fix(storages.databases): update brand name usage and add legal copy
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/redis.png
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#6402 feat(new.payment): add warning message abouht PayPal charge
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/constants.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/payment/components/choose/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/choose/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/register/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/register/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
Labels: quality check: ok, feature, translation required, universe-public-cloud

#6638 Fix/manager 8642: allow showing password confirmation
  packages/manager/modules/exchange/src/account/add/account-add.html
Labels: bug, universe-web-cloud

#6654 feat: show warning message
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#6660 fix(web.exchange.account): add new bullet info
  packages/manager/modules/exchange/src/account/add/account-add.html
  packages/manager/modules/exchange/src/account/add/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/update/account-update.html
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud

#6559 fix(privates-database): improve configuration management
  packages/manager/apps/web/client/app/private-database/configuration/private-database-configuration.controller.js
  packages/manager/apps/web/client/app/private-database/configuration/private-database-configuration.html
Labels: quality check: ok, feature, universe-web-cloud

#6659 feat(web.exchange.account): sort alphabetically countries
  packages/manager/modules/exchange/src/account/account.routing.js
Labels: feature, universe-web-cloud

#6639 fix(web.exchange.account): showing-hiding confirm password for update
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.html
Labels: feature, universe-web-cloud

#6666 feat(web.exchange.account-update): avoid empty description conversion
  packages/manager/modules/exchange/src/account/update/update.routing.js
Labels: bug, universe-web-cloud

#6667 Feat/manager 8904: change the . by ; char
  packages/manager/modules/exchange/src/account/add/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/account/update/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#6568 feat PUD-1284 (pci.storage.databases): add advanced configuration tab
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: feature, translation required, universe-public-cloud

#6669 feat(web.exchange.account-add): avoid going to emails if create request fail
  packages/manager/modules/exchange/src/account/account.service.js
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
  packages/manager/modules/exchange/src/dashboard/exchange.constants.js
  packages/manager/modules/exchange/src/dashboard/exchange.controller.js
  packages/manager/modules/exchange/src/dashboard/exchange.html
Labels: feature, universe-web-cloud

#6599 fix(backup): update guides links
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/backup.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6582 feat PUD-1307 (pci.storage.databases): kafka connect connector tasks
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/template.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/connectors.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#6578 feat PUD-1304 (pci.storage.databases): add kafka connect add connector page
  packages/manager/modules/pci/src/components/project/storages/databases/connectors.constants.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/template.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-extra-input/connector-extra-input.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-extra-input/connector-extra-input.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-extra-input/connector-extra-input.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-extra-input/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-input/connector-input.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-input/connector-input.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-input/connector-input.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-input/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-preview/connector-preview.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-preview/connector-preview.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-preview/connector-preview.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-preview/connector-preview.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-preview/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-transform-input/connector-transform-input.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-transform-input/connector-transform-input.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-transform-input/connector-transform-input.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-transform-input/connector-transform-input.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/components/connector-transform-input/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/available-connectors.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/available-connectors.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/available-connectors.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/available-connectors.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/available-connectors.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/connectors.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/tasks.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/tasks/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#6581 feat PUD-1306 (pci.storage.databases): kafka connect connector delete
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/connectors.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/delete-connector/delete-connector.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/delete-connector/delete-connector.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/delete-connector/delete-connector.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/delete-connector/delete-connector.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/delete-connector/delete-connector.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/delete-connector/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/delete-connector/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#6658 feat: contact management link manager ca region
  packages/manager/modules/account-sidebar/src/shortcuts/controller.js
Labels: quality check: ok, feature

#6682 fix(dashboard): update content
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud

#6680 fix(vps.additional-disk.upgrade): add missed char
  packages/manager/modules/vps/src/components/additional-disk/upgrade/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#6683 fix(vps.additional-disk): gray order button if no options available
  packages/manager/modules/vps/src/additional-disk/vps-additional-disk.controller.js
Labels: bug, universe-bare-metal-cloud

#6685 fix(i18n): add missing translations [CDS 1519]
  packages/manager/apps/container/src/public/translations/account-sidebar/Messages_de_DE.json
  packages/manager/modules/account-sidebar/src/shortcuts/translations/Messages_de_DE.json
Labels: bug

#6674 feat(signup): add india areas
  packages/manager/modules/sign-up/src/form/form.controller.js
  packages/manager/modules/sign-up/src/form/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/service.js
Labels: quality check: ok, feature, translation required

#6401 feat: add eco range order
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dns/add/dedicated-server-dns-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dns/add/dedicated-server-dns-add.html
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.html
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.service.js
  packages/manager/apps/dedicated/client/app/dedicated/server/servers.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/servers.html
  packages/manager/apps/dedicated/client/app/dedicated/server/servers.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.controller.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.html
  packages/manager/modules/server-sidebar/src/order.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/server-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_CA.json
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
  packages/manager/modules/server-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#6662 fix(i18n): add missing translations [CDS 1510]
  packages/manager/modules/billing/src/main/history/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/main/history/translations/Messages_es_ES.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6643 fix(web.exchange.account): make display_name required
  packages/manager/modules/exchange/src/account/add/account-add.html
  packages/manager/modules/exchange/src/account/update/account-update.html
  packages/manager/modules/web-universe-components/src/exchange/exchange.service.js
Labels: feature, universe-web-cloud

#6653 fix(ovh-shell): routing plugin configuration & redirection
  packages/components/ovh-shell/__tests__/plugin/routing/initialization.spec.ts
  packages/components/ovh-shell/features/plugin/routing/initialization.feature
  packages/components/ovh-shell/src/plugin/routing/index.tsx
Labels: bug

#6668 fix(server.display-name): display loader during state navigation
  packages/manager/apps/dedicated/client/app/dedicated/server/display-name/display-name.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6618 fix(ovh-shell): handle container configuration for redirection
  packages/components/ovh-shell/__tests__/client/shell-client.spec.ts
  packages/components/ovh-shell/features/client/shell-client.feature
  packages/components/ovh-shell/src/client/index.ts
Labels: bug, quality check

#6473 feat(pci.project.new): prefill voucher
  packages/manager/modules/pci/src/projects/new/routing.js
Labels: quality check: ok, feature, universe-public-cloud

#6613 feat: add tracking enhancements
  packages/manager/modules/vps/src/dashboard/modal/snapshot-delete/snapshot-delete.controller.js
  packages/manager/modules/vps/src/dashboard/modal/snapshot-restore/snapshot-restore.controller.js
  packages/manager/modules/vps/src/dashboard/modal/snapshot-take/snapshot-take.controller.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.constants.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.controller.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.routing.js
  packages/manager/modules/vps/src/snapshot/order/vps-snapshot-order.controller.js
  packages/manager/modules/vps/src/veeam/modal/mount/vps-mount.controller.js
  packages/manager/modules/vps/src/veeam/modal/restore/vps-restore.controller.js
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/vps-schedule-backup.controller.js
  packages/manager/modules/vps/src/veeam/modal/schedule-backup/vps-schedule-backup.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#6705 fix (pci.storage.databases): manager-8953 fix plan compare function
  packages/manager/modules/pci/src/components/project/storages/databases/connectors.constants.js
  packages/manager/modules/pci/src/components/project/storages/databases/plan.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
Labels: bug, universe-public-cloud

#6701 fix(dashboard): hide ips field when prism central type is alone
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/template.html
Labels: bug, quality check: ok

#6677 feat(container): add tracking
  packages/manager/apps/container/src/account-sidebar/AccountSidebar.jsx
  packages/manager/apps/container/src/account-sidebar/PaymentMethod/PaymentMethod.jsx
  packages/manager/apps/container/src/account-sidebar/Shortcuts/Shortcuts.jsx
  packages/manager/apps/container/src/account-sidebar/Shortcuts/Tile/Tile.jsx
  packages/manager/apps/container/src/account-sidebar/Shortcuts/useShortcuts.js
  packages/manager/apps/container/src/account-sidebar/UsefulLinks/Link/Anchor.jsx
  packages/manager/apps/container/src/account-sidebar/UsefulLinks/UsefulLinks.jsx
  packages/manager/apps/container/src/account-sidebar/UsefulLinks/useUsefulLinks.js
  packages/manager/apps/container/src/account-sidebar/UserInfos/UserInfos.jsx
  packages/manager/apps/container/src/account-sidebar/UserInfos/UserInfosFooter.jsx
  packages/manager/apps/container/src/navbar/account.jsx
  packages/manager/apps/container/src/navbar/brand.jsx
  packages/manager/apps/container/src/navbar/navbar.jsx
  packages/manager/apps/container/src/navbar/universes.jsx
  packages/manager/apps/container/src/shell/header.jsx
Labels: feature

#6707 fix(aiven): add margin on bottom change offer form
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.html
Labels: bug, quality check: ok, universe-public-cloud

#6700 refactor(dedicated.server): minor code improvement for dedicated
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
Labels: quality check: ok, universe-bare-metal-cloud, refactor

#6719 fix(storages.databases.add): disable lab check for non beta engines
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#6726 fix(pci.sidebar): fix bg color when using small viewport
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.html
Labels: bug, quality check: ok, universe-public-cloud

#6722 fix(pci.storage.databases): manager-8969 show none integration
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
Labels: bug, universe-public-cloud

#6494 feat: cross-sell and up-sell updates
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.html
  packages/manager/modules/exchange/src/information/information.html
  packages/manager/modules/freefax/src/freefax/freefax.html
  packages/manager/modules/office/src/dashboard/office/license/user/USER.html
  packages/manager/modules/sharepoint/src/information/INFORMATION.html
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
Labels: quality check: ok, feature, universe-web-cloud, universe-telecom

#6539 Dev/fabien.bagard/pudblow 1497
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-web-cloud, translation required

#6728 fix(pci.storage.databases): manager 8971 - add rules for group input
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_fr_FR.json
Labels: bug, question, translation required, universe-public-cloud

#6729 fix(pci.storage.databases): manager-8955 update plan fix
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.module.js
Labels: bug, translation required, universe-public-cloud

#6735 fix(pci.storage.databases): manager 8978 integration ready
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.routing.js
Labels: bug, universe-public-cloud

#6744 fix(server.details): prevent overriding status
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
Labels: bug, universe-bare-metal-cloud

#6746 fix(telephony.sva-wallet.kyc.identity.form): re-order order fields
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/overview-identity/overview-identity.html
Labels: bug, universe-telecom

#6733 fix(exchange.account): uncheck email copy checkbox
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
Labels: bug, universe-web-cloud

#6732 fix(exchange.account): description is "undefined"
  packages/manager/modules/exchange/src/account/account.constants.js
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/account/update/update.routing.js
Labels: bug, universe-web-cloud

#6725 fix(pci.storage.databases): manager-8960 check required inputs
  packages/manager/modules/pci/src/components/project/storages/databases/connectorConfiguration.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.html
Labels: bug, universe-public-cloud

#6739 fix: add missing Nutanix `serviceType`
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/service.js
Labels: bug, quality check: ok

#6396 feat(overthebox.autoconfigure): add firewall configuration
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/firewall/autoconfigure-firewall.component.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/firewall/autoconfigure-firewall.constant.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/firewall/autoconfigure-firewall.controller.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/firewall/index.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/firewall/template.html
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/index.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/template.html
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-telecom, translation required

#6762 fix(web): order and resiliate dns anycast bug fixes
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.controller.js
  packages/manager/apps/web/client/app/domain/anycast/domain-dns-anycast.html
  packages/manager/apps/web/client/app/domain/anycast/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
Labels: bug, universe-web-cloud, translation required

#6604 fix(telecom.telephony.group): line grouping random loading
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/administration/linesGroup/lines-group.controller.js
Labels: bug, quality check: ok, universe-telecom

#6754 fix(exchange.account): broken CSV file
  packages/manager/modules/exchange/src/account/account.constants.js
  packages/manager/modules/exchange/src/account/add/account-add.controller.js
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
Labels: bug, universe-web-cloud

#6697 feat(shell): add telecom application redirections
  packages/components/ovh-shell/__tests__/plugin/routing/application.spec.ts
  packages/components/ovh-shell/features/plugin/routing/application.feature
  packages/components/ovh-shell/src/plugin/routing/application.ts
  packages/components/ovh-shell/src/plugin/routing/configuration.ts
  packages/components/ovh-shell/src/plugin/routing/index.tsx
  packages/components/ovh-shell/src/plugin/routing/router.tsx
  packages/manager/apps/container/src/shell/index.jsx
Labels: feature

#6775 fix(pci.storage.databases): fix connectors 500
  packages/manager/modules/pci/src/components/project/storages/databases/availableConnector.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/connector.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/connectors.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/advanced-configuration/advanced-configuration.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/add-connector/add-connector.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/available-connectors/available-connectors.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/connectors.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/connectors.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/connectors.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/edit-connector/edit-connector.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/connectors/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#6771 feat(ovh-shell): staging environment
  packages/components/ovh-shell/src/shell/index.ts
Labels: feature

#6784 Fix/dtrsd 79876: fix paypal method param id
  packages/manager/modules/pci/src/projects/new/payment/controller.js
Labels: bug, quality check: ok, universe-public-cloud

#6780 fix(snapshot-policies.create): display consistent button label
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/template.html
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/snapshot-policies/create/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#6776 fix(telecom): display correct data after abbreviated number deletion
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/abbreviatedNumbers/telecom-telephony-abbreviated-numbers.component.js
Labels: bug, quality check: ok, universe-telecom

#6532 fix(storages.containers.add): fix region selection
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#6772 fix(deps): udpate dependencies
  packages/manager/apps/anthos/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud

#6774 fix(dedicated): generalized terminate modal for vps dashboard actions
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.module.js
  packages/manager/modules/vps/src/additional-disk/terminate/terminate.routing.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/additional-disk/terminate/terminate.html
  packages/manager/modules/vps/src/components/terminate/index.js
  packages/manager/modules/vps/src/components/terminate/terminate.component.js
  packages/manager/modules/vps/src/components/terminate/terminate.constants.js
  packages/manager/modules/vps/src/components/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/terminate/terminate.html
  packages/manager/modules/vps/src/components/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/index.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/terminate-option.routing.js
  packages/manager/modules/vps/src/dashboard/modal/terminate-option/vps-option-terminate.controller.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: bug, quality check, universe-bare-metal-cloud, translation required

#6398 feat(overthebox.autoconfig): add multipath configuration
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/index.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/multipath/autoconfigure-multipath.component.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/multipath/autoconfigure-multipath.constant.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/multipath/autoconfigure-multipath.controller.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/multipath/index.js
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/multipath/template.html
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/template.html
  packages/manager/modules/overthebox/src/overthebox/autoconfigure/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-telecom, translation required

#6626 feat(instances.add): display banner when flavor selected is eol
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.module.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#6690 fix(dashboard): update criteria content
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud, translation required

#6781 fix MLS-2743 (pci.notebooks): filter notebook volumes before fetching command
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.controller.js
Labels: bug, quality check: ok, universe-public-cloud
