Repository ovh/manager, pull requests merged in 2023-08, with the labels that each got.

#9775 feat(pci.ai): modify registries password length
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/registries/add/add.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/registries/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/registries/registries.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/registries/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#9779 feat(project.new): update the text displayed when adding a payment means
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pt_PT.json
Labels: feature, universe-public-cloud

#9787 feat(project.new): update the text displayed when adding a payment means #9779
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_pt_PT.json
Labels: feature, translation required, universe-public-cloud

#9679 feat(sign-up): sms marketing consent
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sign-up/src/app.js
  packages/manager/apps/sign-up/src/constants.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/form/component.js
  packages/manager/modules/sign-up/src/form/details/details.controller.js
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/details/details.scss
  packages/manager/modules/sign-up/src/form/details/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/form/form.controller.js
  packages/manager/modules/sign-up/src/service.js
Labels: feature, sign-up

#9740 feat(dedicated.account): add phone typeand sms consent to account edition
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.service.js
Labels: feature, universe-bare-metal-cloud

#9750 feat(dedicated.account): adding tracking
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Labels: feature, universe-bare-metal-cloud

#9488 feat(dedicated.ip): additional ip badge condition
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9022 feat(dedicated): enable delete ip option for vrack and pcc
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ip.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9744 fix(web.hosting): hide the freedom banner for some offer
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.constants.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: bug, quality check: ok, universe-web-cloud

#9425 fix(pci.storages.databases): datatr-299 - display correct value for vcores number
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#9622 fix(pci.ai): fixing grammar error
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_pl_PL.json
Labels: bug, quality check: ok, universe-public-cloud

#9337 fix(web.private-database): limit innodb_buffer_pool_size choices
  packages/manager/apps/web/client/app/private-database/configuration/private-database-configuration.controller.js
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-web-cloud

#9741 fix(dedicated): fix carbon calculator feature flipping
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
Labels: bug, quality check: ok, container

#9800 feat(pci.octavia): use old menu in us region sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: bug, container

#9796 fix: decrease-db-storage wording
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#9745 fix(dedicated): improve URL routing
  packages/manager/apps/carbon-calculator/src/app.module.js
  packages/manager/modules/carbon-calculator/src/index.js
  packages/manager/modules/carbon-calculator/src/routing.js
Labels: bug, quality check: ok

#9758 feat(web.hosting): hide contracts list when empty
  packages/manager/modules/product-offers/src/product-offers.html
Labels: quality check: ok, feature

#9804 feat(iam): change pattern error text
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/createResourceGroup/translations/Messages_fr_FR.json
Labels: feature, translation required

#9808 fix(pci.octavia): change onboarding cta text
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
Labels: bug, translation required

#9668 fix(*.generator): fix uapp generator
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.service.js
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
  packages/manager/tools/sao-ovh-manager-app/template/src/index.js
  packages/manager/tools/sao-ovh-manager-app/template/src/tracking/at-internet.constants.js
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/routing.js
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/translations/Messages_de_DE.json
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/translations/Messages_en_GB.json
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/translations/Messages_es_ES.json
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/translations/Messages_it_IT.json
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/tools/sao-ovh-manager-module/template/src/onboarding/routing.js
Labels: bug

#9811 fix(pci.octavia): change breadcrumb to use breadcrumb prefix
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.service.js
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.routing.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/routing.js
Labels: bug

#9789 feat(pci.ai): make ai jobs deletion possible
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete/delete.html
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/components/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/training/components/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/training/components/delete/delete.html
  packages/manager/modules/pci/src/projects/project/training/components/delete/index.js
  packages/manager/modules/pci/src/projects/project/training/components/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/job.service.js
  packages/manager/modules/pci/src/projects/project/training/jobs/delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/training/jobs/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/delete/index.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/delete/index.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.module.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.module.js
  packages/manager/modules/pci/src/projects/project/training/training.routing.js
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#9815 fix(dedicated.server): order private bandwidth upgrade
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9760 feat(web.hosting): hide contracts list when empty
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: quality check: ok, feature, universe-web-cloud

#9806 fix(iam): manage hasQueryParams for custom actions
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
Labels: bug

#9803 feat(iam): add placeholder for custom actions
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/iam.constants.js
Labels: feature, translation required

#9818 fix(pci.octavia): change breadcrumb to accept array of prefix
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.service.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.routing.js
Labels: bug

#9824 fix(pci.octavia): fix dependencies for cds build
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/package.json
  yarn.lock
Labels: bug, dependencies

#9826 Sync/master develop
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/template.html
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
  packages/manager/apps/web/package.json
Labels: universe-web-cloud, universe-bare-metal-cloud

#9709 fix(telecom.sms): use a new systemID format for SMPP
  packages/manager/modules/sms/src/sms/components/smpp-settings/smpp-settings.html
Labels: quality check: ok, universe-telecom, fix

#9794 fix(iam): change new tag to beta tag
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
Labels: bug, quality check, container

#9588 fix(ai): update guides CLI section name
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.constants.js
Labels: quality check: ok, universe-public-cloud

#9793 fix(iam): add scroll up when error occurs
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
Labels: bug, quality check: ok

#9748 feat(dedicated) : update KVM order
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/template.html
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/kvm/order/routing.js
  packages/manager/modules/bm-server-components/src/ipmi/constants.js
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/template.html
  packages/manager/modules/bm-server-components/src/ipmi/service.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9718 fix(billing): update exchange accounts menu link
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Labels: bug, quality check: ok

#9555 dedicated: fix broken link to cloud-init documentation
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/constants.js
Labels: quality check: ok, universe-bare-metal-cloud

#9728 feat(dedicated.account): customer account changes
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.constants.js
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/support/src/tickets/new-ticket/creation-form/creation-form.component.js
  packages/manager/modules/support/src/tickets/new-ticket/creation-form/creation-form.html
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.component.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.constant.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.html
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.module.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, sign-up

#9841 fix(build): adding missing dependency in public cloud
  packages/manager/apps/public-cloud/package.json
  yarn.lock
Labels: bug, dependencies, universe-public-cloud

#9820 feat(generator): serviceKey question and usage on listing page
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/core/generator/app/templates/src/{{appName}}.config.ts.hbs
  packages/manager/core/generator/utils/create-structure-helpers.js
Labels: feature

#9764 feat(generator): pim category breadcrumbs, dashboard, onboarding
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/components/Breadcrumb/Breadcrumb.tsx.hbs
  yarn.lock
Labels: feature, dependencies

#9858 fix(iam): manage hasQueryParams for custom actions (#9806)
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
Labels: bug

#9561 fix(dedicated.nutanix): add number of tickets and cta on support tile
  packages/manager/modules/bm-server-components/src/support/template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, stale

#9696 feat(pci.ai.apps): datatr-307 - add voxist pricing
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/partner-preset-price.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/partner-preset-price.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/partner-preset-price/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/app.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
Labels: quality check: ok, feature, universe-public-cloud

#9851 fix(pci): map guide urls for gateway and additional ips
  packages/manager/modules/pci/src/components/project/guides-header/guides-header.constants.js
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.component.js
  packages/manager/modules/pci/src/projects/project/additional-ips/additional-ips.html
  packages/manager/modules/pci/src/projects/project/gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/gateways/gateways.component.js
  packages/manager/modules/pci/src/projects/project/gateways/gateways.html
  packages/manager/modules/pci/src/projects/project/gateways/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/gateways/onboarding/onboarding.html
Labels: bug, quality check: ok, universe-public-cloud

#9807 feat(dedicated.pcc): wip add link guide for sap hana
  packages/manager/apps/dedicated/client/app/common/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9861 build(pci): add missing dependency
  packages/manager/apps/pci/package.json
Labels: build, universe-public-cloud

#9850 feat(dedicated.nutanix): hiding pack type column for us
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/routing.js
Labels: bug, universe-hosted-private-cloud

#9854 fix(dedicated.nutanix): wrong view status task url for us
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/controller.js
Labels: bug, universe-hosted-private-cloud

#9866 fix(dedicated.nutanix): hide pack type from cluster info view
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
Labels: bug, universe-hosted-private-cloud

#9875 feat(projects.new): implement the checkbox for legal agreement
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/constants.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.js
  packages/manager/modules/pci/src/projects/new/payment/index.scss
Labels: feature, universe-public-cloud

#9870 feat(hub): add kyc banner
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/modules/hub/src/components/kyc-fraud-banner/index.js
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.component.js
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.constants.js
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.controller.js
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.html
  packages/manager/modules/hub/src/components/kyc-fraud-banner/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/index.js
Labels: feature, translation required, universe-hub

#9884 fix(exchange): order exchange service
  packages/manager/modules/exchange/src/order/order.controller.js
Labels: bug, universe-web-cloud

#9885 feat(dedicated.nutanix): updating order url for us
  packages/manager/modules/nutanix/src/constants.js
Labels: feature, universe-hosted-private-cloud

#9795 fix(pci.workflow): display latest state of task
  packages/manager/modules/pci/src/projects/project/workflow/workflow.html
Labels: bug, quality check: ok, universe-public-cloud

#9846 feat(*): renaming fidelity points labels
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/components/choice/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/fidelity/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/payment/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/translations/Messages_pt_PT.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_de_DE.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_en_GB.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_es_ES.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_fr_CA.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_fr_FR.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_it_IT.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_pl_PL.json
  packages/manager/modules/freefax/src/freefax/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, universe-telecom

#9519 fix(pcc.vmware): update url order
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/order.constants.ts
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud, container

#9713 fix(dedicated.monitoring): add translation key for language enum
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/monitoring.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/monitoring/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9729 fix(web.domain): missing translation key on add free hosting
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#9827 fix(dedicated): sort disk list on installation
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/options/controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9853 fix(dedicated): remove customer template changelog (description)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.html
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9864 fix(dedicated.server): fix the indian flag issue
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9873 fix(web.hosting): disable autofill from saved password
  packages/manager/apps/web/client/app/hosting/module/add/hosting-module-add.html
Labels: bug, quality check, universe-web-cloud

#9862 build(deps): bump ui-kit from v6.5.3 to v6.6.1
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up

#9878 feat(dedicated): wip kyc documents upload page
  packages/manager/apps/container/src/container/legacy/server-sidebar/index.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/index.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/constants.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/DE/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/DEFAULT/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/ES/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/FR/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/IT/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/MA/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/PL/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/PT/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/QC/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/SN/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/TN/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/WS/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/component.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/constants.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/controller.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/index.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/module.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/routing.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/template.html
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/index.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/module.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/routing.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/order-dashboard/template.html
Labels: feature, universe-bare-metal-cloud, translation required, universe-hub, container

#9897 fix(user management): required "group" field not well validated by form
  packages/manager/apps/dedicated/client/app/account/user/users/add/user-users-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/add/user-users-add.html
Labels: universe-bare-metal-cloud

#9893 fix(dedicated.account): remove call to marketing for us
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Labels: bug, universe-bare-metal-cloud

#9896 Feat/manager 12069
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/assets/picto.svg
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/component.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/constants.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/controller.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/template.html
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/kyc-documents/module.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/routing.js
Labels: feature, universe-bare-metal-cloud, translation required

#9900 Feat/octavia
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/octavia-load-balancer/.eslintrc.json
  packages/manager/apps/octavia-load-balancer/README.md
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/octavia-load-balancer/src/app.module.js
  packages/manager/apps/octavia-load-balancer/src/error/error.module.js
  packages/manager/apps/octavia-load-balancer/src/error/error.routing.js
  packages/manager/apps/octavia-load-balancer/src/error/index.js
  packages/manager/apps/octavia-load-balancer/src/index.html
  packages/manager/apps/octavia-load-balancer/src/index.js
  packages/manager/apps/octavia-load-balancer/src/tracking/at-internet.constants.js
  packages/manager/apps/octavia-load-balancer/webpack.config.js
  packages/manager/modules/octavia-load-balancer/README.md
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/dashboard/component.js
  packages/manager/modules/octavia-load-balancer/src/dashboard/controller.js
  packages/manager/modules/octavia-load-balancer/src/dashboard/index.js
  packages/manager/modules/octavia-load-balancer/src/dashboard/module.js
  packages/manager/modules/octavia-load-balancer/src/dashboard/routing.js
  packages/manager/modules/octavia-load-balancer/src/dashboard/template.html
  packages/manager/modules/octavia-load-balancer/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/index.js
  packages/manager/modules/octavia-load-balancer/src/index.scss
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.routing.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/assets/instance.png
  packages/manager/modules/octavia-load-balancer/src/onboarding/assets/public-cloud-network_load-balancer-v2.png
  packages/manager/modules/octavia-load-balancer/src/onboarding/component.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/constants.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/controller.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/index.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/module.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/routing.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/template.html
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_es_ES.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_pl_PL.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_pt_PT.json
Labels: feature, translation required, container

#9905 Revert "feat(web.database): remove deprecated calls (#9694)"
  packages/manager/apps/web/client/app/private-database/database/ram/update/private-database-database-ram-update.controller.js
  packages/manager/apps/web/client/app/private-database/database/ram/update/private-database-database-ram-update.html
  packages/manager/apps/web/client/app/private-database/private-database.service.js
Labels: bug, universe-web-cloud

#9910 fix(dedicated): fix documents menu and max documents
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/controller.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/template.html
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required, container

#9913 fix(dedicated.nutanix): update all guides link for us
  packages/manager/modules/nutanix/src/dashboard/constants.js
Labels: bug, universe-hosted-private-cloud

#9917 Revert "build(deps-dev): Bump stylelint from 13.7.2 to 15.10.1"
  package.json
  yarn.lock
Labels: bug, dependencies
