Repository ovh/manager, pull requests merged in 2023-09, with the labels that each got.

#9922 fix(public-cloud): fix octavia tracking
  packages/manager/modules/octavia-load-balancer/src/onboarding/constants.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/controller.js
Labels: feature

#9924 build: fix yarn.lock
  yarn.lock
Labels: build, dependencies

#9714 fix(pci.db): add hourly unit in kafka and fix translation issues
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/create-topic.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/create-topic/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/topics/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#9571 feat(pci.db): add equivalent api on fork page
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.utils.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/command.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/command.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/command.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/command.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/command.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/command/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#9612 feat(pci.storages.databases): datatr-311 - allow storage decrease
  packages/manager/modules/pci/src/projects/project/storages/databases/components/disk-size/disk-size.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/disk-size/disk-size.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/disk-size/disk-size.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.routing.js
Labels: quality check: ok, feature, universe-public-cloud

#9855 fix(pci.storages.databases): datatr-294 - disable name modification
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
Labels: bug, quality check: ok, universe-public-cloud

#9686 feat(web.exchange): add dkim feature
  packages/manager/modules/exchange/src/dashboard/exchange.template.js
  packages/manager/modules/exchange/src/dashboard/exchangeControllers.module.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.constants.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.constants.js
  packages/manager/modules/exchange/src/domain/domain.controller.js
  packages/manager/modules/exchange/src/domain/domain.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Labels: quality check: ok, feature, universe-web-cloud

#9693 fix(web.mailpro): add dkim feature
  packages/manager/modules/emailpro/src/dashboard/emailpro.service.js
  packages/manager/modules/emailpro/src/dashboard/emailpro.template.js
  packages/manager/modules/emailpro/src/dashboard/emailproControllers.module.js
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.constants.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Labels: quality check: ok, feature, universe-web-cloud

#9865 fix(server-sidebar): add SAP HANA in order menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/dedicated.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/order.constants.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_pt_PT.json
Labels: bug, quality check: ok, container

#9892 feat(hub): adding iam invite banner
  packages/manager/apps/hub/src/dashboard/dashboard.constant.js
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-hub

#9690 feat(dedicated.vrack-services): dashboard information page without api
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/modules/vrack-services/src/dashboard/component.js
  packages/manager/modules/vrack-services/src/dashboard/constants.js
  packages/manager/modules/vrack-services/src/dashboard/controller.js
  packages/manager/modules/vrack-services/src/dashboard/index.js
  packages/manager/modules/vrack-services/src/dashboard/routing.js
  packages/manager/modules/vrack-services/src/dashboard/template.html
  packages/manager/modules/vrack-services/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack-services/src/routing.js
Labels: feature, translation required, container

#9957 ci: add use-node for linter github workflow
  .github/workflows/linter.yaml
Labels: build, continuous-integration

#9945 fix(i18n): add missing translations [CDS 2488]
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-web-cloud

#9949 fix(web.emailpro): remove double refresh after disclaimer update
  packages/manager/modules/emailpro/src/disclaimer/emailpro-disclaimer.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#9960 fix(web.hosting): fix delete envvar request
  packages/manager/apps/web/client/app/hosting/envvars/ENVVARS.html
  packages/manager/apps/web/client/app/hosting/envvars/hosting-envvars.controller.js
  packages/manager/apps/web/client/app/hosting/envvars/hosting-envvars.service.js
Labels: bug, quality check: ok, universe-web-cloud

#9953 feat(dedicated.nutanix): onboarding order url for us
  packages/manager/modules/nutanix/src/onboarding/constants.js
Labels: bug, quality check: ok, universe-hosted-private-cloud

#9798 feat(telecom): remove few numbers from filtering call
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/callsFiltering/addHelper/telecom-telephony-callsFilteringAddHelper.controller.js
Labels: quality check: ok, feature, universe-telecom

#9899 feat(dedicated): remove limitation on service key
  packages/manager/modules/cloud-connect/src/details/service-keys/template.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9754 fix(iam): update US guide links
  packages/manager/modules/iam/src/iam.constants.js
Labels: bug, quality check: ok

#9894 fix(kyc.india): change content for legal notice
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9907 feat(web): remove plan solution information
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
Labels: quality check: ok, feature, universe-web-cloud

#9915 fix(web.email): fix mailinglists guide url
  packages/manager/modules/web-universe-components/src/guides/guides.constant.js
Labels: bug, quality check: ok, universe-web-cloud

#9838 fix(ldp): config test
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/add/configure/logs-inputs-add-configure.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  packages/manager/modules/dbaas-logs/src/logs/detail/tokens/add/logs-token-add.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9965 build(octavia-load-balancer): build app with webpack 5
  packages/manager/apps/octavia-load-balancer/package.json
Labels: build

#9978 docs: update README to suggest usage of nodejs v18
  README.md
Labels: documentation

#9972 feat(public-cloud): octavia configuration page size flavour
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/create/component.js
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/index.js
  packages/manager/modules/octavia-load-balancer/src/create/module.js
  packages/manager/modules/octavia-load-balancer/src/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
Labels: feature, translation required

#9975 fix(dedicated.ip): fix export IPs in CSV
  packages/manager/apps/dedicated/webpack.config.js
Labels: bug, quality check: ok

#9933 feat(iam): add placeholder for custom actions
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/iam.constants.js
Labels: quality check: ok, feature

#9581 fix(container.livechat): add level of customer support
  packages/manager/apps/container/src/components/LiveChat.tsx
  packages/manager/apps/container/src/container/index.tsx
Labels: bug, quality check: ok, container

#9980 fix(telecom): fix api parameter value for function keys
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/phone/function/function.factory.js
Labels: bug, universe-telecom

#9984 fix(pci): expects the credentials data to be an array
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.service.js
Labels: bug, quality check: ok, universe-public-cloud

#9998 Feat/options kvm ipmi
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/template.html
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/ipmi/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/kvm/order/routing.js
  packages/manager/modules/bm-server-components/src/ipmi/constants.js
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/template.html
  packages/manager/modules/bm-server-components/src/ipmi/service.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#9993 feat(dedicated): create dedicated server bandwidth tile component
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/component.js
  packages/manager/modules/bm-server-components/src/bandwidth-tile/index.js
  packages/manager/modules/bm-server-components/src/bandwidth-tile/template.html
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/index.js
Labels: feature, universe-bare-metal-cloud, translation required

#9990 feat(octavia): configuration page region list
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/octavia-load-balancer/src/app.module.js
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/create/component.js
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/module.js
  packages/manager/modules/octavia-load-balancer/src/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci-universe-components/package.json
  packages/manager/modules/pci-universe-components/src/index.js
  packages/manager/modules/pci-universe-components/src/project/index.js
  packages/manager/modules/pci-universe-components/src/project/regions-list/datacenter.class.js
  packages/manager/modules/pci-universe-components/src/project/regions-list/index.js
  packages/manager/modules/pci-universe-components/src/project/regions-list/regions-list.component.js
  packages/manager/modules/pci-universe-components/src/project/regions-list/regions-list.controller.js
  packages/manager/modules/pci-universe-components/src/project/regions-list/regions-list.html
  packages/manager/modules/pci-universe-components/src/project/regions-list/regions.service.js
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_de_DE.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_en_GB.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_es_ES.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_it_IT.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci-universe-components/src/project/regions-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/index.js
  yarn.lock
Labels: feature, translation required, dependencies, universe-public-cloud

#9782 feat(dedicated.ip): configure game firewall - datagrid
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/game-firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controler.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/toggle/ip-ip-firewall-game-toggle.controller.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#9799 feat(dedicated.ip): configure game firewall - add rule
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/game-firewall.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/game-firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/rule/add/ip-ip-firewall-game-rule-add.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/rule/add/ip-ip-firewall-game-rule-add.html
Labels: feature, universe-bare-metal-cloud

#9817 feat(dedicated.ip): switch button cancel change
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/toggle/ip-ip-firewall-game-toggle.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/toggle/ip-ip-firewall-game-toggle.html
Labels: feature, universe-bare-metal-cloud

#9863 feat(ip.firewall): firewall rules datagrid
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/toggle/ip-ip-firewall-toggle.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#9992 feat(octavia): add private network and subnet selection to creation
  packages/manager/modules/octavia-load-balancer/src/create/component.js
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/module.js
  packages/manager/modules/octavia-load-balancer/src/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/create/service.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
Labels: feature, translation required

#9996 feat(octavia): creation page add instance step
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
Labels: feature, translation required

#10006 feat(octavia): prepare listener table
  packages/manager/modules/octavia-load-balancer/src/components/index.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/index.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.component.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.constants.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.controller.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.html
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/create/module.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
Labels: feature, translation required

#9857 feat (pci.storages.databases): datatr-133 - filter deprecated availabilites
  packages/manager/modules/pci/src/components/project/storages/databases/engine.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.routing.js
Labels: quality check: ok, feature, universe-public-cloud

#10015 fix(domain): fix issue on general information with alldom
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.state.js
Labels: bug, quality check: ok, universe-web-cloud

#9981 feat(signup): update VAT number to ICE number for Morocco customers
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/form/activity/constants.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, sign-up

#9742 feat(pci): add translation for new sha s3 region
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: quality check: ok, feature

#9956 fix(dedicated-cloud): fix description text in add vdc section
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9994 feat(dedicated): show badge for status in file storage list
  packages/manager/modules/netapp/src/routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10029 feat(octavia): creation page add name field
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
Labels: feature, translation required

#10033 feat(octavia): load balancer creation without listeners
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.html
  packages/manager/modules/octavia-load-balancer/src/create/component.js
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/create/service.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.html
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.routing.js
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_fr_FR.json
Labels: feature, translation required

#10032 feat(*): add webiste config for India tracking
  packages/components/ovh-at-internet/src/constants.ts
Labels: quality check: ok, feature

#10009 fix(dedicated): update india order link for ldp
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/constants.js
  packages/manager/modules/cloud-connect/src/onboarding/constants.js
  packages/manager/modules/cloud-universe-components/src/helper/order/service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#10045 feat(sign-up): redirect user to kyc upload page
  packages/manager/apps/sign-up/src/form/component.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/routing.js
Labels: feature, sign-up

#10042 fix(*): resolve issues of india release
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/order.constants.ts
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/constants.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/managed-baremetal-order.js
  packages/manager/apps/web/client/app/constants.js
  packages/manager/modules/cloud-universe-components/src/vrack/constants.js
  packages/manager/modules/pci/src/constants.js
  packages/manager/modules/vrack/src/onboarding/constants.js
  packages/manager/modules/vrack/src/vrack-order.js
Labels: bug, quality check: ok, universe-web-cloud, universe-bare-metal-cloud, universe-public-cloud, universe-hosted-private-cloud, container

#10043 fix(dedicated): add purchase of purpose trans
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10040 fix(web): fix domain hosting order without payment method
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.html
Labels: bug, quality check: ok, universe-web-cloud
