Repository ovh/manager, pull requests merged in 2023-05, with the labels that each got.

#9185 fix(pci.storages.databases): datatr-153 - remove spaces around slashes in prices
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/disk-size/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-public-cloud

#9229 fix(storages.cold-archive): generate user + cred on enter button
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
Labels: bug, quality check, universe-public-cloud

#9236 feat(dedicated): add kyc document upload section
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Labels: feature, universe-bare-metal-cloud, translation required

#9187 fix: add slot id missing value into slots for meetings
  packages/manager/apps/telecom/src/app/telecom/pack/migration/meeting/pack-migration-meeting.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/meeting/move-meeting.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: bug, quality check: ok, universe-telecom

#9192 fix: rework on display meeting if not fiber offer selected
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
Labels: bug, quality check: ok, universe-telecom

#9202 fix: rework on slamming check for line and on portability labels invert
  packages/manager/apps/telecom/src/app/telecom/pack/move/address/current/move-address-current.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/address/future/move-address-future.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
Labels: bug, quality check: ok, universe-telecom

#9154 feat: get available profiles only for copper lines
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
Labels: quality check: ok, feature, universe-telecom

#9150 fix(dedicated.ip): change disclaimer content on byoip
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#9247 fix(vps): order urls for us
  packages/manager/modules/vps/src/onboarding/constants.js
  packages/manager/modules/vps/src/vps-order.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9240 fix(public-cloud): fix issue on instance creation with vrack
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#9249 fix(veeam-enterprise): order urls for us
  packages/manager/modules/veeam-enterprise/src/onboarding/constants.js
  packages/manager/modules/veeam-enterprise/src/veeam.order.js
Labels: bug, quality check, universe-bare-metal-cloud

#8929 fix(dedicated.server): public bandwidth upgrade
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9254 fix(pci): remove agreement api call
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/private-registry/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/private-registry/private-registry.service.js
Labels: bug, universe-public-cloud

#9261 feat(*): implement tracking for acquisition storage
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.constant.js
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/order-dashboard/template.html
Labels: feature, universe-bare-metal-cloud, universe-hub

#9264 refactor(storages.components): refactor exiting component
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/controller.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/components/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
Labels: feature, universe-public-cloud

#9232 refactor: remove unused app
  packages/manager/apps/cloud/.eslintrc.json
  packages/manager/apps/cloud/CHANGELOG.md
  packages/manager/apps/cloud/README.md
  packages/manager/apps/cloud/package.json
  packages/manager/apps/cloud/src/index.html
  packages/manager/apps/cloud/src/index.js
  packages/manager/apps/cloud/webpack.config.js
Labels: quality check: ok

#9255 feat(dedicated): add legal information for kyc doc upload
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Labels: feature, universe-bare-metal-cloud, translation required

#9283 feat(iam): make actions optional
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/services/policy.service.js
Labels: feature

#9290 fix(iam): change advanced mode tooltip wording
  packages/manager/modules/iam/src/components/advancedModeSwitch/translations/Messages_fr_FR.json
Labels: bug, translation required

#9298 fix(web): reload aliases
  packages/manager/modules/emailpro/src/account/account.routing.js
  packages/manager/modules/emailpro/src/account/alias/alias.routing.js
  packages/manager/modules/emailpro/src/account/alias/emailpro-account-alias.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#9267 fix(container): check auth redirection
  packages/manager/apps/container/src/core/sso.ts
Labels: bug, quality check: ok, container

#9296 fix(iam.policies): add description
  packages/manager/modules/iam/src/components/policies/policies.template.html
  packages/manager/modules/iam/src/components/policies/translations/Messages_fr_FR.json
Labels: bug, translation required

#9295 fix(iam.create): apply mockup layout
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.component.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.styles.scss
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.component.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.styles.scss
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.template.html
Labels: bug

#9308 feat(*): disable kyc upload option for status open
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
Labels: feature, universe-bare-metal-cloud, universe-hub, container

#9318 fix(iam): fix wording for my actions on policy section
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
Labels: bug, translation required

#9319 feat(dedicated): add redirection for kyc page
  packages/manager/apps/dedicated/client/app/account/account.routing.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
Labels: quality check, feature, universe-bare-metal-cloud

#9321 fix(iam): fix issue on create policy if policy is undefined
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
Labels: bug

#9299 fix(iam): fill TODO messages
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
Labels: bug, translation required

#9322 feat(dedicated): update re direction link
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
Labels: bug, universe-bare-metal-cloud

#9316 feat(hosting): use common offers selector
  packages/manager/apps/web/client/app/components/hosting-domain-offers/component.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/template.html
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.component.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.html
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.routing.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.service.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.component.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.html
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/hosting/domain-webhosting-order-steps-hosting.component.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/hosting/domain-webhosting-order-steps-hosting.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/hosting/domain-webhosting-order-steps-hosting.html
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/index.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: quality check, feature, universe-web-cloud

#9312 fix(iam): fix wording in update identities section
  packages/manager/modules/iam/src/components/policyIdentities/translations/Messages_fr_FR.json
Labels: bug, translation required

#9323 fix(iam): decode punycode resources
  packages/manager/apps/iam/package.json
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.template.html
Labels: bug

#9266 fix(dedicated): modify profile email consent text
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#9329 feat(iam): make resources optional
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.template.html
Labels: feature

#9340 feat(web): applied offer step changes
  packages/manager/apps/web/client/app/components/hosting-domain-offers/component.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/template.html
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: quality check, feature, universe-web-cloud, translation required

#9345 feat(dedicated): implement tracking for acquisition storage
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
Labels: quality check, feature, universe-bare-metal-cloud, universe-hub

#9292 fix(storage.volume-backup): update volume-backup creation message
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pt_PT.json
Labels: bug, quality check, translation required, universe-public-cloud

#9348 Revert "fix(storage.volume-backup): update volume-backup creation message (#9292)"
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pt_PT.json
Labels: translation required, universe-public-cloud

#9349 Revert "Revert "fix(storage.volume-backup): update volume-backup creation message"
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pt_PT.json
Labels: bug, translation required, universe-public-cloud

#9235 fix(pci.data-processing): datatr-277 - fix missing executor numbers in notebook details page
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/notebook-details.html
Labels: bug, quality check: ok, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hub, universe-public-cloud, container

#9327 fix(modules.iplb): allow custom http headers
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9325 feat(storage.volume-backup): display monthly prices on create volume backup view
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#9136 fix(dedicated): introducing none filesystem for partitioning
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, universe-bare-metal-cloud

#9245 fix(dedicated): windows partition minimum size is for c: only
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Labels: bug, universe-bare-metal-cloud

#9315 fix(dedicated): hide server_configuration_netboot_option_internal boot mode
  packages/manager/modules/bm-server-components/src/netboot/template.html
Labels: bug

#9317 feat(telecom): add new security level for wifi on modem
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/config.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/wifi/config/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-telecom

#9284 fix: set need new modem flag to false when no modem selected
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
Labels: bug, quality check: ok, universe-telecom

#9362 fix(vmware): fix workflow to add datacenter for managed baremetal
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenters/add/add.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenters/datacenters.routes.js
Labels: bug, universe-bare-metal-cloud

#9363 fix(pcc.vmware): change wording management fees
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#9364 feat(web): rename offers
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.constants.js
  packages/manager/apps/web/client/app/hosting/hosting.routing.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-web-cloud

#9369 fix(pcc.vmware): fix wrong link ws and we on onboarding page
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/constants.js
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#9368 feat(dedicated.server): add asia and india specific guide links
  packages/manager/apps/dedicated/client/app/dedicated/server/onboarding/constants.js
Labels: feature, universe-bare-metal-cloud

#9367 fix(dedicated): update description of kyc page
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required
