Repository ovh/manager, pull requests merged in 2023-02, with the labels that each got.

#8840 fix(storage.cold-archive): fix issues with user credential banners
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/component/credential-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/legacy/storages.module.js
  packages/manager/modules/pci/src/projects/project/storages/storages.module.js
Labels: bug, translation required, universe-public-cloud

#8839 feat(storage.cold-archive): fix links for guides in addArchive
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
Labels: feature, universe-public-cloud

#8843 Fix/manager-10553: optimize size on IP dashboard
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: bug, universe-bare-metal-cloud

#8834 Feat/manager-10573-guides: volume backup guides
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
Labels: feature, universe-public-cloud

#8856 Feat/manager-7636-volume-backup-removal: removal volume backup modal
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.service.js
Labels: quality check, feature, translation required, universe-public-cloud

#8859 fix(pci.storages.databases):datatr-187 - replace soft cancel per immediate termination
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8857 fix(dedicated.ip): order ip in us region
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8862 fix(dedicated.ip): vmac is not visible
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8850 fix(dedicated.dbass-logs): load streams with iceberg
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/link/aliases-link.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/dashboards/crud/logs-dashboards-crud.html
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/add/edit/logs-inputs-add-edit.html
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.html
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/logs-streams.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8656 docs: update CONTRIBUTORS and MAINTAINERS
  CONTRIBUTORS
  MAINTAINERS
Labels: documentation

#8858 fix(pcc): change logo and guides on onboarding page vmware
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/assets/vmware.png
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/onboarding.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/onboarding.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#8893 fix(pcc): change the option basic elipse on vmware tile
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/option/option.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8881 feat(volume-backup): create volume backup page
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.service.js
Labels: feature, translation required, universe-public-cloud

#8896 build(release): add signed-off-by line
  scripts/release/release.sh
Labels: build, continuous-integration

#8889 fix(billing.autorenew): change redirection of telephony resiliation
  packages/manager/modules/billing-components/src/components/services-actions/service-actions.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
Labels: bug, quality check: ok

#8885 fix(pci.additional-ips): display price per hour
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
Labels: bug, quality check: ok, universe-public-cloud

#8868 fix(pci): filter on container solution
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
Labels: bug, quality check: ok, universe-public-cloud

#8645 feat(vps.onboarding): change vps running state label
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#8865 fix(dedicated.server): remove gpt notion in template installation
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#8883 fix(server-sidebar): fix some tracking for telecom order menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/telecom.ts
Labels: bug, quality check: ok, container

#8864 fix(dedicated.server): add india server location label
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#8866 fix(dedicated.server): commitment feature not showing cancel options
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing-components/src/components/utils/billing.service.js
Labels: bug, quality check: ok

#8861 fix(telecom): remove all references to hubic service
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/config/all.js
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.html
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/activation.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/activation.html
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/activation.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.html
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/task/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-task/src/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-telecom

#8909 fix(dedicated): load streams for edit role permissions
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/link/aliases-link.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/edit-permissions/edit-permissions.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/logs-streams.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8912 Feat/manager 10898
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/2api/nashaDetails.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/2api/notification.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/2api/partition.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/listNASHA.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/nashaDetails.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/partition.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/serviceInfos.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/config.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/index.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
  yarn.lock
Labels: feature, dependencies

#8739 fix(telecom): remove duplicate value in country dropdown
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/international/international.controller.js
Labels: bug, quality check: ok, universe-telecom

#8783 fix(pci.instance): add the metal rescue documentation link
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/rescue.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/rescue.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/rescue.html
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/instance/rescue/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#8916 feat(pci.storages.databases): datatr-132 - retention period
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.routing.js
Labels: quality check, feature, universe-public-cloud

#8671 feat(pci.storages.databases): datatr-157 - fork pit
  packages/manager/modules/pci/src/components/project/storages/databases/plan.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/disk-size/disk-size.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.html
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/fork.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/index.js
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/fork/translations/Messages_pt_PT.json
Labels: feature, translation required, universe-public-cloud

#8945 ci(workflow.linter): add setup-node action
  .github/workflows/linter.yaml
Labels: continuous-integration

#8942 fix(server-sidebar): change filter for web domain
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
Labels: bug, quality check: ok, container

#8919 fix(dedicated.vps): catch the 404 error if only nic tech
  packages/manager/modules/vps/src/dashboard/tile/configuration/component.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/controller.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/index.html
  packages/manager/modules/vps/src/dashboard/tile/configuration/service.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/tile/configuration/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/import/vps.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#8964 fix(dedicated.pcc): add nsxt tiles item
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/activation-status.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/activation-status.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/activation-status.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/nsxt.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/nsxt.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/nsxt.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/nsxt.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Labels: bug, universe-bare-metal-cloud, translation required

#8968 fix(dedicated.pcc): add some tracking
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/certification/certification.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/place-order/confirm/confirm.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/place-order/place-order.state.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/selection/selection.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/selection/selection.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/selection/selection.state.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/onboarding.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/onboarding.html
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#8940 Feat/manager 10906
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/2api/nashaDetails.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/2api/notification.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/2api/service.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/listNASHA.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/nashaDetails.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/partition.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/service.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/serviceInfos.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/POST/apiv6/createPartition.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/PUT/apiv6/renameNasha.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/configurations.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/index.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/informations.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/partitions.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/suscriptions.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
  yarn.lock
Labels: feature, dependencies

#8970 feat(volume-backup): volume-backup rewording
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-public-cloud

#8969 feat(volume-backup): add menu entry
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: feature, translation required, container

#8971 feat(volume-backup): update guides
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
Labels: feature, universe-public-cloud

#8954 feat(ai.dashboard) - datatr 214 - ai dashbaord server sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
Labels: quality check: ok, feature, container

#8982 fix(dedicated.pcc): add one tracking on explore certification
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Labels: bug, universe-bare-metal-cloud

#8911 feat(*): add tracking in product listing pages
  packages/manager/apps/dedicated/client/app/cdn/cdn.routes.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/license/license.controller.js
  packages/manager/apps/dedicated/client/app/license/license.html
  packages/manager/apps/dedicated/client/app/license/order/license-order.routes.js
  packages/manager/apps/dedicated/client/app/license/spla/add/license-spla-add.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/managed-baremetal.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/packs.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/telephony.routing.js
  packages/manager/apps/web/client/app/dns-zone/zone.routing.js
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/hosting/hosting.routing.js
  packages/manager/apps/web/client/app/private-database/private-database.routing.js
  packages/manager/modules/cda/src/cda.routing.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/dbaas-logs/src/logs/list/logs-list.html
  packages/manager/modules/email-domain/src/email.routing.js
  packages/manager/modules/emailpro/src/email-pro.routing.js
  packages/manager/modules/exchange/src/exchange.routing.js
  packages/manager/modules/freefax/src/freefaxes.routing.js
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/office/src/office.routing.js
  packages/manager/modules/overthebox/src/overtheboxes.routing.js
  packages/manager/modules/sharepoint/src/sharepoint.routing.js
  packages/manager/modules/sms/src/sms.routing.js
  packages/manager/modules/veeam-cloud-connect/src/veeam.routing.js
  packages/manager/modules/veeam-enterprise/src/veeam.routing.js
  packages/manager/modules/vps/src/vps.routing.js
  packages/manager/modules/vrack/src/vrack.routing.js
  packages/manager/modules/web-paas/src/web-paas.routing.js
Labels: quality check: ok, feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hosted-private-cloud

#8882 feat(pci.quota): display network components
  packages/manager/modules/pci/src/projects/project/quota/quota.constants.js
  packages/manager/modules/pci/src/projects/project/quota/quota.controller.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/quota.class.js
Labels: quality check: ok, feature, universe-public-cloud

#8888 fix(dedicated.cloud): add tracking recomendations
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/add/federation-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/activeDirectories/edit/federation-edit.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/import/vsphere-user-import.controller.js
Labels: bug, quality check: ok, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container

#8927 fix(server-sidebar): add sub section on vmware
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: bug, translation required, container
