Repository ovh/manager, pull requests merged in 2023-01, with the labels that each got.

#8564 fix(web.hosting): disable autoconfigure on delete external domain
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
Labels: bug, quality check, universe-web-cloud

#8665 fix(web.mxplan): fix display domain punycode
  packages/manager/modules/email-domain/src/order/order.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#8660 fix(dedicated.cdn): fix background error message and empty error
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/add/cdn-dedicated-domain-add.controller.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
Labels: bug, quality check, universe-bare-metal-cloud

#8653 fix(web): help content for add domain action
  packages/manager/modules/emailpro/src/domain/add/add.constants.js
  packages/manager/modules/emailpro/src/domain/add/add.routing.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Labels: bug, quality check: ok, universe-web-cloud

#8669 test(ovh-themes): remove Calendar & ThumbnailCheckbox unit tests
  packages/manager/core/ovh-themes/common/__tests__/Calendar.tsx
  packages/manager/core/ovh-themes/common/__tests__/ThumbnailCheckbox.tsx
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/Calendar.spec.tsx.snap
Labels: bug

#8685 sync: master to develop
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/add/cdn-dedicated-domain-add.controller.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/CHANGELOG.md
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/CHANGELOG.md
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/package.json
  packages/manager/core/ovh-chakra-showcase/CHANGELOG.md
  packages/manager/core/ovh-chakra-showcase/package.json
  packages/manager/core/ovh-themes/CHANGELOG.md
  packages/manager/core/ovh-themes/common/__tests__/Calendar.tsx
  packages/manager/core/ovh-themes/common/__tests__/ThumbnailCheckbox.tsx
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/Calendar.spec.tsx.snap
  packages/manager/core/ovh-themes/package.json
  packages/manager/modules/email-domain/CHANGELOG.md
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/email-domain/src/order/order.routing.js
  packages/manager/modules/emailpro/CHANGELOG.md
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/emailpro/src/domain/add/add.constants.js
  packages/manager/modules/emailpro/src/domain/add/add.routing.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-public-cloud

#8686 fix(pci): fix public network baremetal ext net
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, universe-public-cloud

#8036 feat(project.new): Add a voucher banner when a voucher is claimed in the new project view.
  packages/manager/modules/pci/src/projects/new/component.js
  packages/manager/modules/pci/src/projects/new/components/index.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/component.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/controller.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/index.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/index.scss
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/template.html
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/config/component.js
  packages/manager/modules/pci/src/projects/new/config/routing.js
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/new/index.js
  packages/manager/modules/pci/src/projects/new/index.scss
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/index.js
  packages/manager/modules/pci/src/projects/project/index.scss
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/project.service.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-public-cloud

#8689 feat(project.new): Add a voucher banner when a voucher is claimed in the new project view
  packages/manager/modules/pci/src/projects/new/component.js
  packages/manager/modules/pci/src/projects/new/components/index.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/component.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/controller.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/index.js
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/index.scss
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/template.html
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/new/config/component.js
  packages/manager/modules/pci/src/projects/new/config/routing.js
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/new/index.js
  packages/manager/modules/pci/src/projects/new/index.scss
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/index.js
  packages/manager/modules/pci/src/projects/project/index.scss
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/project.service.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-public-cloud

#8691 fix(sign-up): fix one attribute for tracking on siret module
  packages/manager/modules/sign-up/src/components/siret/siret.html
Labels: bug, sign-up

#8694 refactor(pci.storage.cold-archive): manage guides
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Labels: quality check, feature, translation required, universe-public-cloud

#8588 feat(webpack): add html minifier in webpack config
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-config/src/loaders/html-minifier.js
  packages/manager/tools/webpack-config/src/webpack.common.js
  yarn.lock
Labels: feature, dependencies

#8703 fix(telecom.sms): fix wording smpp endpoint
  packages/manager/modules/sms/src/sms/components/smpp-settings/smpp-settings.html
  packages/manager/modules/sms/src/sms/components/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#8702 fix(telecom.sms): add column channel on datagrid
  packages/manager/modules/sms/src/sms.component.js
  packages/manager/modules/sms/src/sms.controller.js
  packages/manager/modules/sms/src/sms.html
  packages/manager/modules/sms/src/sms.routing.js
  packages/manager/modules/sms/src/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#8707 fix(telecom.sms): sort by display name in order section
  packages/manager/modules/sms/src/sms/order/telecom-sms-order.controller.js
Labels: bug, universe-telecom

#8709 fix(telecom.sms): change link for order sms in datagrid
  packages/manager/modules/sms/src/sms.routing.js
Labels: bug, universe-telecom

#8699 fix(telecom.sms): the choice offer mandatory in order
  packages/manager/modules/sms/src/sms/order/telecom-sms-order-service.html
Labels: bug, universe-telecom

#8704 fix(telecom.sms): fix issue success message from password change
  packages/manager/modules/sms/src/sms/components/service-status/service-status.controller.js
  packages/manager/modules/sms/src/sms/components/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#8716 fix(telecom.sms): change error display on transfer credit
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.controller.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#8715 fix(telecom.sms): add link to add credit on smpp statistics tile
  packages/manager/modules/sms/src/sms/dashboard/routing.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.component.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
Labels: bug, universe-telecom

#8706 fix(telecom.sms): rename option general option to callback option
  packages/manager/modules/sms/src/sms/options/callback/index.js
  packages/manager/modules/sms/src/sms/options/callback/telecom-sms-options-callback.controller.js
  packages/manager/modules/sms/src/sms/options/callback/telecom-sms-options-callback.html
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_de_DE.json
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_en_GB.json
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_es_ES.json
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_fr_CA.json
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_it_IT.json
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_pl_PL.json
  packages/manager/modules/sms/src/sms/options/callback/translations/Messages_pt_PT.json
  packages/manager/modules/sms/src/sms/options/callback/update/telecom-sms-options-callback-update.controller.js
  packages/manager/modules/sms/src/sms/options/callback/update/telecom-sms-options-callback-update.html
  packages/manager/modules/sms/src/sms/options/manage/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/manage/update/telecom-sms-options-manage-update.html
  packages/manager/modules/sms/src/sms/options/telecom-sms-options.component.js
  packages/manager/modules/sms/src/sms/options/telecom-sms-options.controller.js
  packages/manager/modules/sms/src/sms/options/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#8620 feat(core): add logger plugin
  packages/manager/apps/container/package.json
  packages/manager/core/generator/app/templates/src/hooks/useLogger.tsx
  packages/manager/core/ovh-shell/__tests__/plugin/logger/logger.spec.ts
  packages/manager/core/ovh-shell/features/plugin/logger/logger.feature
  packages/manager/core/ovh-shell/src/client/api.ts
  packages/manager/core/ovh-shell/src/plugin/logger/index.ts
  packages/manager/core/ovh-shell/src/shell/index.ts
Labels: feature, container

#8600 fix(useraccount): change the redirect comportement for emailuser
  packages/manager/apps/dedicated/client/app/account/user/emails/details/user-emails-details.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8683 fix(telecom.telephony): fix value displayed in live call dashboard
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/statistics/statistics.html
Labels: bug, quality check: ok, universe-telecom

#8624 fix(public-cloud.aitraining): change the breacrumb for english trad
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-public-cloud

#8618 fix(*): fix the ampersand coding issue in translations
  packages/manager/apps/container/src/index.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/tools/component-rollup-config/src/plugins/common/index.js
Labels: bug, quality check: ok, container

#8607 fix(user-account-menu): add missing fr traduction key
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
Labels: bug, quality check: ok, container

#8663 feat(modules.pci.storage): add US link
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: quality check: ok, feature, universe-public-cloud

#8615 fix(public-cloud.privatenetwork): change guide links
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#8678 fix(dedicated.license): cpanel translation missing for solo and plus
  packages/manager/apps/dedicated/client/app/license/order/license-order-legacy.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.constants.js
  packages/manager/apps/dedicated/client/app/license/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8611 fix(public-cloud.privatenetwork): change the color for dhcp desactivate
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
Labels: bug, quality check: ok, universe-public-cloud

#8701 fix(pci.storages.databases): datatr-171 - clear datasets when updating metrics
  packages/manager/modules/pci/src/projects/project/storages/databases/database/metrics/metrics.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#8581 fix(dedicated): map right incoming bandwidth
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8556 fix(server-sidebar): add CA US links for Kub OCC
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: bug, quality check: ok

#7989 fix(dedicated): add vps secondary dns
  packages/manager/apps/dedicated/client/app/components/name-edition/name-edition.html
  packages/manager/modules/vps/src/secondary-dns/add/add-secondary-dns.html
Labels: bug, universe-bare-metal-cloud

#8598 fix(accountsidebar): fix the redirect comportement of link in new tab
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/Link/Anchor.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/Link/usefulLink.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
Labels: bug, quality check: ok, container

#8718 feat(storage.cold-archive): update input field in user credential banner
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8731 fix(webpack-config): disable html minification
  packages/manager/tools/webpack-config/src/webpack.common.js
Labels: bug

#8730 fix(telecom): display correct international numbers
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/international/international.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/international/international.html
Labels: bug, quality check: ok, universe-telecom

#8729 fix(storage.cold-archive): fix issues with filtering the "creation date" column in containers & users data-grid
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.html
Labels: bug, universe-public-cloud

#8728 fix(storage.cold-archive): fix some cold-archive documentation urls
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.constants.js
Labels: bug, universe-public-cloud

#8727 fix(storage.cold-archive): Remove "see Objects" action and hide "Add user" action when a container is in a transient state
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
Labels: bug, universe-public-cloud

#8726 feat(storage.cold-archive): remove cancel btn in addContainer:step1
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
Labels: feature, universe-public-cloud

#8723 fix(storage.cold-archive): fix max length for new user input
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
Labels: bug, universe-public-cloud

#8712 fix(dedicated.vps): wrong information for vps upgrade
  packages/manager/modules/vps/src/upscale/upscale.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-telecom

#8682 Feat/manager-10495: update cold archive content
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/name-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/flush-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/translations/Messages_fr_FR.json
Labels: quality check, feature, translation required, universe-public-cloud

#8710 fix(telecom.sms): change wording for blacklist manage
  packages/manager/modules/sms/src/sms/options/blacklist/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/options/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#8725 fix(storage.cold-archive): fix typo in container flush modal
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/flush-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud, has conflicts

#8635 fix(pci): display project quota exceed error
  packages/manager/modules/pci/src/components/index.js
  packages/manager/modules/pci/src/components/project-quota-exceed-error-modal/component.js
  packages/manager/modules/pci/src/components/project-quota-exceed-error-modal/index.js
  packages/manager/modules/pci/src/components/project-quota-exceed-error-modal/template.html
  packages/manager/modules/pci/src/projects/new/error-modal/error-modal.module.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/quota-exceed-error/index.js
  packages/manager/modules/pci/src/projects/project/quota-exceed-error/quota-exceed-error.module.js
  packages/manager/modules/pci/src/projects/project/quota-exceed-error/quota-exceed-error.routing.js
  packages/manager/modules/pci/src/projects/projects.module.js
  packages/manager/modules/pci/src/projects/quota-exceed-error/index.js
  packages/manager/modules/pci/src/projects/quota-exceed-error/quota-exceed-error.module.js
  packages/manager/modules/pci/src/projects/quota-exceed-error/quota-exceed-error.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#8675 fix(web.domains): fix redirection of expired domain name
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
  packages/manager/apps/web/client/app/domain/dashboard/domain.routing.js
Labels: bug, quality check, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, universe-public-cloud, container

#8745 fix(storage.cold-archive): fix typo in archive restore modal
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8724 fix(storage.cold-archive): fix typo in container delete modal
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/flush-archive/flush-archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/flush-archive/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8744 fix(storage.cold-archive): remove 'delete objects' from container action menu.
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Labels: bug, universe-public-cloud

#8714 fix(apps.web.hosting): avoid using ng-bind-html
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/module/add/hosting-module-add.html
Labels: bug, quality check: ok, universe-web-cloud, translation required

#8684 fix(dedicated.monitoring): update the translation for the monitoring
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8644 feat(kubernetes.node): add kubernetes node status labels
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/nodes/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-public-cloud

#8746 fix(telecom.sms): change sort items in order section
  packages/manager/modules/sms/src/sms/order/telecom-sms-order.controller.js
Labels: bug, universe-telecom

#8705 fix(pci.instance): fix the variable for cpu or vcpu
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
Labels: bug, universe-public-cloud

#8756 Fix/dtrsd-101301: missed translations content
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Labels: bug, universe-web-cloud

#8749 fix(telecom.sms): fix some link onboarding page for some subs
  packages/manager/modules/server-sidebar/src/controller.js
  packages/manager/modules/sms/src/onboarding/constants.js
  packages/manager/modules/sms/src/onboarding/onboarding.controller.js
Labels: bug, universe-telecom

#8760 fix(telecom.sms): add smpp guides
  packages/manager/modules/sms/src/sms/guides/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/telecom-sms.constant.js
Labels: bug, universe-telecom, translation required

#8769 fix(telecom.sms): fix some tracking
  packages/manager/modules/sms/src/sms/components/service-status/service-status.controller.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.component.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.controller.js
  packages/manager/modules/sms/src/sms/dashboard/creditTransfer/creditTransfer.routing.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.html
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.controller.js
  packages/manager/modules/sms/src/sms/options/smppParameter/allowed-ips/allowed-ips.html
  packages/manager/modules/sms/src/sms/order/telecom-sms-order-service.html
Labels: bug, universe-telecom

#8770 fix(public-cloud.privatenetwork): change guide links
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.constants.js
Labels: bug, universe-public-cloud

#8771 fix (pci.storage.databases) - datatr 46 - fix nan prices
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
Labels: bug, universe-public-cloud

#8775 fix(dedicated.account): fix birth date locale for some subs
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
Labels: bug, universe-bare-metal-cloud

#8773 fix(dedicated.account): remove the conversion empty value to null
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Labels: bug, universe-bare-metal-cloud

#8757 fix(telecom.sms): add guide shortcut at top of page
  packages/manager/modules/sms/src/sms.component.js
  packages/manager/modules/sms/src/sms.constant.js
  packages/manager/modules/sms/src/sms.html
  packages/manager/modules/sms/src/sms.routing.js
  packages/manager/modules/sms/src/sms/index.js
  packages/manager/modules/sms/src/sms/telecom-sms.component.js
  packages/manager/modules/sms/src/sms/telecom-sms.controller.js
  packages/manager/modules/sms/src/sms/telecom-sms.html
  packages/manager/modules/sms/src/sms/telecom-sms.module.js
  packages/manager/modules/sms/src/sms/telecom-sms.routing.js
  packages/manager/modules/sms/src/sms/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#8787 fix(storage.cold-archive): enable cold-archive for CA
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/legacy/storages.module.js
Labels: bug, universe-public-cloud

#8786 fix(telecom.sms): fix some tracking
  packages/manager/modules/sms/src/sms/guides/telecom-sms-guides.html
  packages/manager/modules/sms/src/sms/order/telecom-sms-order-service.html
Labels: bug, universe-telecom

#8736 feat(dedicated.ip): change service translation
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8768 feat(modules.pci): have a consistant margin on top and bottom
  packages/manager/modules/pci/src/projects/project/private-networks/legacy/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#8735 feat(dedicated.ip): move virtual mac column
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: feature, universe-bare-metal-cloud

#8738 feat(dedicated.ip): remove organisation link
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/organisation/ip-ip-organisation.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/organisation/ip-ip-organisation.html
  packages/manager/apps/dedicated/client/app/ip/components/list/organisation/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#8695 feat(dedicated): add missing snapshot types
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#8578 feat(pci.training): datatr-155 - jobs privacy settings
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/training.constants.js
Labels: quality check: ok, feature, universe-public-cloud

#8697 fix(pci.storages.databases):datatr-169 - fix ssl and backup translations
  packages/manager/modules/pci/src/components/project/storages/databases/database.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
Labels: bug, quality check: ok, universe-public-cloud

#8232 fix(sign-up): add module siret for corporation fr
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.module.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.component.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.controller.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.html
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.module.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.routing.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.service.js
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/sign-up/src/form/component.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/components/country-flag/country-flag.html
  packages/manager/modules/sign-up/src/components/country-flag/index.scss
  packages/manager/modules/sign-up/src/components/index.js
  packages/manager/modules/sign-up/src/components/siret/index.js
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.constants.js
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/components/siret/siret.service.js
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/controller.js
  packages/manager/modules/sign-up/src/form/component.js
Labels: bug, quality check, build, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, dependencies, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up

#8785 feat(dedicated.ip): add service list
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/components/alerts/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#8793 feat(storage.cold-archive): update rclone guides
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
Labels: feature, universe-public-cloud

#8779 ci(workflows): update all actions
  .github/workflows/auto-pr-release.yaml
  .github/workflows/commitlint.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/labeler.yml
  .github/workflows/linter.yaml
  .github/workflows/merge_conflict_finder.yml
  .github/workflows/pr-triage.yml
  .github/workflows/run-bdd-tests.yml
  .github/workflows/yarn-explain.yaml
Labels: continuous-integration

#8804 feat(volume-backup): init volume-backup product
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/dashboard/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.service.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.class.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.routing.js
Labels: quality check, feature, translation required, universe-public-cloud

#8805 sync: master to develop
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/translations/Messages_it_IT.json
Labels: universe-public-cloud

#8814 fix(storage.cold-archive): use sub instead of lang for links
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/manage-archive/manage-archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/onboarding.controller.js
Labels: bug, universe-public-cloud

#8160 feat(pci.ai-dashboard): datatr-68 - landing page ai dashboard
  packages/manager/modules/pci/src/projects/project/ai-dashboard/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8172 feat(pci.ai-dashboard): datatr-69 - home page ai dashboard
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/home.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/home.constants.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/home.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/home.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/home.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/home.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8213 feat(pci.ai-dashboard): datatr-70 cli tab ai dashboard
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/components/ai-code-sample/ai-code-sample.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/components/ai-code-sample/ai-code-sample.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/components/ai-code-sample/ai-code-sample.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/components/ai-code-sample/ai-code-sample.scss
  packages/manager/modules/pci/src/projects/project/ai-dashboard/components/ai-code-sample/index.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/components/ai-code-sample/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.constants.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/index.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8443 feat(pci.ai-dashboard): datatr-71- users tokens ai dashboard
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/index.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-user/create-user.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-user/create-user.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-user/create-user.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-user/create-user.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-user/create-user.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-user/index.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-user/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/delete-token/delete-token.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/delete-token/delete-token.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/delete-token/delete-token.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/delete-token/delete-token.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/delete-token/delete-token.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/delete-token/index.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/delete-token/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/users-tokens.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/users-tokens.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/users-tokens.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/users-tokens.module.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/users-tokens.routing.js
Labels: feature, translation required, universe-public-cloud

#8792 feat(storage.cold-archive): update cold-archive tracking
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/flush-archive/flush-archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/flush-archive/flush-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/manage-archive/manage-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/add/user-add/user-add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/import/import.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.routing.js
Labels: feature, universe-public-cloud

#8823 fix(storage.cold-archive): init user role when associated container
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.controller.js
Labels: bug, universe-public-cloud

#8821 fix(storage.cold-archive): fix next btn display in addContainer
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
Labels: bug, universe-public-cloud

#8818 fix(pci.ai-dashboard): check authorization
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.service.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/home/home.html
Labels: bug, universe-public-cloud

#8819 fix(pcc): split conformity and vmware option tiles
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/service-management.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#8677 fix(pci): avoid multiple mapping in drop down
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#8832 Feat/manager-10569-listing-page: volume-backup listing page
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.class.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backups.html
Labels: quality check, feature, translation required, universe-public-cloud

#8750 ci: add region metadata check
  .github/workflows/check-medata.yaml
  Makefile
  scripts/regions/README.md
  scripts/regions/check-regions.sh
Labels: build, continuous-integration

#8835 feat(storage.cold-archive): update links for guide menu
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/onboarding.controller.js
Labels: feature, universe-public-cloud

#8836 fix(pcc): rename vrops option and remove get start link
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/basic-option.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/basic-option.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/models/bindings/bindings.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Labels: bug, universe-bare-metal-cloud, translation required

#8837 fix(pcc): rename nsx to nsxv and add eol message
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/basic-option.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/basic-option.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/option/option.constants.js
Labels: bug, universe-bare-metal-cloud, translation required
