Repository ovh/manager, pull requests merged in 2023-10, with the labels that each got.

#9874 feat(ip.firewall): firewall add rule
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/rule/add/ip-ip-firewall-rule-add.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/rule/add/ip-ip-firewall-rule-add.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#9882 feat(ip.firewall): firewall create deny rule
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#9887 feat(ip.firewall): firewall delete rule
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#9923 fix(web.sharepoint): remove order button
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/web.ts
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/header/header.html
  packages/manager/modules/sharepoint/src/dashboard/sharepoint.module.js
  packages/manager/modules/sharepoint/src/dashboard/sharepoint.routes.js
  packages/manager/modules/sharepoint/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/sharepoint/src/index.js
  packages/manager/modules/sharepoint/src/onboarding/onboarding.controller.js
  packages/manager/modules/sharepoint/src/onboarding/onboarding.html
  packages/manager/modules/sharepoint/src/onboarding/onboarding.routing.js
  packages/manager/modules/sharepoint/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/sharepoint/src/order/sharepoint-order.controller.js
  packages/manager/modules/sharepoint/src/order/sharepoint-order.html
  packages/manager/modules/sharepoint/src/sharepoint.routing.js
  packages/manager/modules/sharepoint/src/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-web-cloud, container

#10020 feat(dedicated): update label payment button for KVM order
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/service.js
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required

#10060 fix(pci): display currency symbol
  packages/manager/modules/pci/src/projects/new/payment/components/add/constants.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
Labels: bug, quality check: ok, universe-public-cloud

#10011 fix(i18n): add missing translations [CDS 2507]
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/translations/Messages_en_GB.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9954 fix(iam): display account navbar when iam loads
  packages/manager/apps/container/src/container/legacy/server-sidebar/index.tsx
Labels: bug, quality check: ok, container

#9932 fix(dedicated-cloud): add migration banner
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#10056 fix(i18n): add missing translations [CDS 2535]
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_en_GB.json
Labels: bug, quality check: ok

#9955 feat(iam): improve policies display for selected actions
  packages/manager/modules/iam/src/components/actionSelect/ActionTrees.class.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/iam.constants.js
Labels: quality check: ok, feature

#10034 feat(web): add new hosting offer sticker info
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.constants.js
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.routing.js
Labels: quality check: ok, feature, universe-web-cloud

#10039 feat(dedicated): hide carbon calculator cta when no data
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/component.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/constants.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/service.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/template.html
  packages/manager/modules/carbon-calculator/src/dashboard/component.js
  packages/manager/modules/carbon-calculator/src/dashboard/routing.js
  packages/manager/modules/carbon-calculator/src/dashboard/template.html
Labels: quality check: ok, feature

#10049 fix(web): fix hosting order whitout any contract to agree
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.html
Labels: bug, quality check: ok, universe-web-cloud

#10016 fix(pci.instances): disable unavailable regions and images
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/legacy/add.html
Labels: bug, quality check: ok, universe-public-cloud

#10046 feat(iam): add action description below the label
  packages/manager/modules/iam/src/components/actionSelect/ActionTrees.class.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/iam.constants.js
Labels: quality check: ok, feature

#9938 feat(iam): add description when creating new policy
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/dashboard/policies/policies.component.js
  packages/manager/modules/iam/src/dashboard/policies/policies.styles.scss
  packages/manager/modules/iam/src/dashboard/policies/policies.template.html
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/iam.constants.js
Labels: quality check: ok, feature, translation required

#9736 feat(ldp): add stream subscriptions
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.html
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/streams.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.html
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.service.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.routing.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#10067 feat(dedicated): fix has invoice api call
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/constants.js
Labels: feature

#10079 docs: align maintainers and contributors list
  CONTRIBUTORS
  MAINTAINERS
Labels: documentation

#10075 catalog : Add tailwing config
  packages/manager/apps/catalog-revamp/src/components/Filters/FilterItem.tsx
  packages/manager/apps/catalog-revamp/src/components/Filters/Filters.tsx
  packages/manager/apps/catalog-revamp/src/components/Filters/LoadingFilterItem.tsx
  packages/manager/apps/catalog-revamp/src/components/SearchBar/SearchBar.tsx
  packages/manager/apps/catalog-revamp/tailwind.config.js
Labels: feature

#10081 feat(generator): add listing of v2 endpoints + multiple endpoints
  packages/manager/core/api/src/iceberg.ts
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/api/services-template.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/plopfile.js
  packages/manager/core/generator/utils/api-template.js
  packages/manager/core/generator/utils/api.js
  packages/manager/core/generator/utils/create-structure-helpers.js
Labels: feature

#10057 fix(web): fix performance offer database text
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud, translation required

#10088 Revert "fix(web): fix performance offer database text (#10057)"
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_pt_PT.json
Labels: universe-web-cloud, translation required

#10068 fix(web.hosting): fix restriction to module and cron
  packages/manager/apps/web/client/app/hosting/cron/CRON.html
  packages/manager/apps/web/client/app/hosting/cron/hosting-cron.controller.js
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/hosting.constants.js
  packages/manager/apps/web/client/app/hosting/module/MODULE.html
  packages/manager/apps/web/client/app/hosting/module/hosting-module.controller.js
Labels: bug, quality check: ok, universe-web-cloud, translation required

#9963 feat(dedicated): server network interfaces page improvements
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/server/consumption/consumption.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/consumption/consumption.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/interfaces.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/interfaces/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/mrtg/mrtg.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/mrtg/mrtg.html
Labels: feature, universe-bare-metal-cloud

#10091 fix(web): fix performance offer database text (#10057)
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_pt_PT.json
Labels: bug, universe-web-cloud, translation required

#10061 feat(dedicated): remove port veam entreprise license in activation
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.constants.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.controller.js
  packages/manager/modules/veeam-enterprise/src/dashboard/license/license.template.html
  packages/manager/modules/veeam-enterprise/src/dashboard/template.html
  packages/manager/modules/veeam-enterprise/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/veeam-enterprise/src/details/service.js
Labels: feature, universe-bare-metal-cloud, translation required

#10036 feat(netapp): add information on onboarding and order views
  packages/manager/modules/netapp/src/onboarding/template.html
  packages/manager/modules/netapp/src/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/onboarding/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/order/index.scss
  packages/manager/modules/netapp/src/order/module.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/order/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/order/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/order/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/order/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/order/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/order/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10028 feat(menu): create new menu for network security availability
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: feature, translation required, container

#10093 fix(telecom.xdsl): change the check for modem page available
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/pack-xdsl.controller.js
Labels: bug, quality check: ok, universe-telecom

#10025 fix(ai.training): datatr-364 - training flavor binding and price
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/training.constants.js
Labels: bug, quality check: ok, universe-public-cloud

#10084 fix(webauthn): delete doesn't require challenge and use enroll wrapper
  packages/manager/apps/dedicated/client/app/account/user/security/u2f/add/user-security-u2f-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/security/u2f/delete/user-security-u2f-delete.controller.js
  packages/manager/apps/dedicated/client/app/account/user/security/u2f/delete/user-security-u2f-delete.html
  packages/manager/apps/dedicated/client/app/account/user/security/u2f/user-security-u2f.constants.js
  packages/manager/apps/dedicated/client/app/account/user/security/u2f/user-security-u2f.service.js
Labels: universe-bare-metal-cloud

#10073 feat(storage.instance-backup): add public network to backup creation request payload
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.routing.js
Labels: bug, universe-public-cloud

#10098 feat(hosting): add an order button to the general information
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: feature, universe-web-cloud

#9898 fix(billing.services): change tooltip content for some subs
  packages/manager/modules/billing/src/autoRenew/autorenew.component.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10064 feat(ng-ovh-payment-method): show accepted card brands in adyen form
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/index.less
Labels: quality check, feature

#10052 fix(super-components): url utils
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/super-components/components/msc-billing-tile/readme.md
  packages/super-components/components/msc-billing-tile/src/index.html
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-commitment.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-contact.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-offer.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-renewal.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-tile.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/urls.ts
  packages/super-components/components/msc-billing-tile/tests/msc-billing-tile.e2e.screenshot.ts
  packages/super-components/components/msc-billing-tile/tests/setup.ts
  packages/super-components/components/msc-tile/src/msc-tile/msc-tile.tsx
  packages/super-components/package.json
  packages/super-components/storybook/.storybook/preview.ts
  packages/super-components/utils/babel.config.js
  packages/super-components/utils/jest.config.js
  packages/super-components/utils/package.json
  packages/super-components/utils/src/url.spec.ts
  packages/super-components/utils/src/url.ts
  packages/super-components/utils/tsconfig.json
  yarn.lock
Labels: bug, dependencies

#10118 build(deps): bump piano-analytics to 6.12.0
  packages/manager/apps/container/package.json
  packages/manager/apps/sign-up/package.json
  yarn.lock
Labels: quality check: ok, feature, dependencies, container, sign-up

#10077 fix(telecom.voip): add filter on list phone if mgcp
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.constant.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.controller.js
Labels: bug, quality check: ok, universe-telecom

#10053 fix(ldp): consumption metrics
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.service.js
Labels: quality check: ok, universe-bare-metal-cloud

#10065 feat(dedicated.account): add popup confirmation for 'IN' upload id docs
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/component.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/index.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/template.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/upload-identity-documents-confirm/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.module.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#10070 fix(*): fix missing action 'cancel subscription' on services for CA NIC
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Labels: bug, quality check: ok

#10076 fix(dedicated): add missing translation for outlook license
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud, translation required

#10055 feat(hosting.database): replace deprecated routes for ram upgrade
  packages/manager/apps/web/client/app/private-database/database/ram/update/private-database-database-ram-update.controller.js
  packages/manager/apps/web/client/app/private-database/database/ram/update/private-database-database-ram-update.html
  packages/manager/apps/web/client/app/private-database/private-database.service.js
Labels: quality check: ok, universe-web-cloud

#9966 fix(container): fix node 18 bootstrap version 6.4.2
  packages/components/ng-ovh-payment-method/package.json
  packages/manager/apps/container/src/index.scss
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iam/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/core/application/package.json
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/carbon-calculator/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/cloud-connect/package.json
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/manager-components/package.json
  packages/manager/modules/netapp/package.json
  packages/manager/modules/ng-ovh-order-tracking/package.json
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/web-paas/package.json
  yarn.lock
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-public-cloud, universe-hosted-private-cloud, container, sign-up

#10108 feat(web): add DKIM configuration in exchange domain configuration
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/add/domain-add.controller.js
  packages/manager/modules/exchange/src/domain/add/domain-add.html
Labels: feature, universe-web-cloud, translation required

#10112 feat(web): add DKIM configuration on emailpro domain configuration
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
Labels: feature, universe-web-cloud, translation required

#10124 feat(exchange): modify tooltip
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-web-cloud, translation required

#10105 feat(dedicated.gamefirewall): apply feedback
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#9759 feat(dedicated.ips): add network security column and icons for statuses
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required, stale

#10063 feat(octavia): listeners listing page
  packages/manager/modules/octavia-load-balancer/src/dashboard/controller.js
  packages/manager/modules/octavia-load-balancer/src/dashboard/routing.js
  packages/manager/modules/octavia-load-balancer/src/dashboard/template.html
  packages/manager/modules/octavia-load-balancer/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
Labels: feature, translation required

#10156 feat(ng-ovh-payment-method): update adyen env config for india
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/controller.js
Labels: feature

#10050 feat(octavia): add listeners to lb creation
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/index.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.component.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.constants.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.controller.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.html
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.less
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.service.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/service.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
  yarn.lock
Labels: feature, translation required, dependencies

#10030 feat(iam): remove beta flag
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
Labels: quality check: ok, feature, container

#10176 style(dbaas-logs): apply prettier rules
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.routing.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.service.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
Labels: universe-bare-metal-cloud, refactor

#10166 build(docs): remove duplicate sidebar items
  docs/docs/.vuepress/config.js
Labels: documentation

#10169 feat(web.exchange): Exchange DKIM Status
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.constants.js
  packages/manager/modules/exchange/src/domain/domain.controller.js
  packages/manager/modules/exchange/src/domain/domain.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Labels: feature, universe-web-cloud, translation required

#10159 feat(web-cloud.exchange/emailpro): add DKIM Autoconfig for both
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Labels: feature, universe-web-cloud, translation required

#10191 fix(web-cloud): several tiny fixes
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Labels: feature, universe-web-cloud

#10185 fix(dedicated.account): fix tva number field
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, sign-up

#10097 feat(project.flavor-list): remove sandbox category form flavor tab
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-public-cloud

#10116 feat(dedicated.ip): retrive price info based on region
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10173 fix(web): use punycode for domains
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.controller.js
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.html
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.controller.js
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.html
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domains/domains.controller.js
  packages/manager/apps/web/client/app/domains/domains.html
  packages/manager/modules/hub/src/components/products/controller.js
  packages/manager/modules/hub/src/components/products/products.html
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.utils.js
Labels: bug, quality check: ok, universe-web-cloud, universe-hub

#10175 fix(dedicated.nutanix): node guide link incorrect in nutanix node
  packages/manager/modules/nutanix/src/dashboard/nodes/node/constants.js
Labels: bug, quality check: ok, universe-hosted-private-cloud

#10140 feat(pci): update us horizon link for pci
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: container

#10095 feat(dedicated.carbon-calculator): add HPC in description
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/constants.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/template.html
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/carbon-calculator/src/index.scss
Labels: quality check: ok, feature

#10164 feat(iam): wrong guide link on the manager
  packages/manager/modules/iam/src/iam.constants.js
Labels: quality check: ok, feature

#10181 fix(billing): fix bulk renew service for nic CA
  packages/manager/modules/billing/src/autoRenew/disable/disable.routing.js
  packages/manager/modules/billing/src/autoRenew/enable/enable.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10168 fix(i18n): add missing translations [CDS 2574]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8780 fix(pci.storages): handle storage object html files deletion
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Labels: bug, quality check: ok, universe-public-cloud

#10137 refactor(dedicated.server): move secondary dns module
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/add/dedicated-server-dns-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/add/dedicated-server-dns-add.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/dedicated-server-dns.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/dedicated-server-dns.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/dedicated-server-dns.routes.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/delete/dedicated-server-dns-delete.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/delete/dedicated-server-dns-delete.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/dns/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/add/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/add/secondary-dns-add.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/add/secondary-dns-add.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/delete/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/delete/secondary-dns-delete.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/delete/secondary-dns-delete.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/secondary-dns.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/secondary-dns.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/secondary-dns/add/component.js
  packages/manager/modules/bm-server-components/src/secondary-dns/add/index.js
  packages/manager/modules/bm-server-components/src/secondary-dns/add/secondary-dns-add.controller.js
  packages/manager/modules/bm-server-components/src/secondary-dns/add/secondary-dns-add.template.html
  packages/manager/modules/bm-server-components/src/secondary-dns/component.js
  packages/manager/modules/bm-server-components/src/secondary-dns/delete/component.js
  packages/manager/modules/bm-server-components/src/secondary-dns/delete/index.js
  packages/manager/modules/bm-server-components/src/secondary-dns/delete/secondary-dns-delete.controller.js
  packages/manager/modules/bm-server-components/src/secondary-dns/delete/secondary-dns-delete.template.html
  packages/manager/modules/bm-server-components/src/secondary-dns/index.js
  packages/manager/modules/bm-server-components/src/secondary-dns/secondary-dns.controller.js
  packages/manager/modules/bm-server-components/src/secondary-dns/secondary-dns.template.html
  packages/manager/modules/bm-server-components/src/secondary-dns/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required, refactor

#10197 fix(ldp): handle resource name
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.html
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#10202 fix(web): revert css and update bindings after test
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Labels: feature, universe-web-cloud

#10183 feat(octavia): adding loadbalancer overview page
  packages/manager/modules/octavia-load-balancer/src/delete/delete.routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancers.html
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.html
Labels: feature, translation required

#10207 feat(catalog): fix navigation tab in checkbox
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
  packages/manager/apps/catalog/src/components/Filters/Filters.tsx
  packages/manager/apps/catalog/src/components/SearchBar/SearchBar.tsx
Labels: feature

#10102 feat(generator): useFeatureAvailability hook
  packages/manager/core/application/package.json
  packages/manager/core/application/src/hooks/index.ts
  packages/manager/core/application/src/hooks/useFeatureAvailability.ts
Labels: feature

#10199 Feat/manager 12344
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Labels: feature, universe-web-cloud, translation required
