Repository ovh/manager, pull requests merged in 2023-06, with the labels that each got.

#9330 fix(iam): remove extra autocomplete space
  packages/manager/modules/iam/src/components/iam/iam.component.js
  packages/manager/modules/iam/src/components/iam/iam.styles.scss
  packages/manager/modules/iam/src/components/iam/iam.template.html
Labels: bug

#9379 fix(web): applied right tech info
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
Labels: bug, quality check, universe-web-cloud

#9378 fix(web): do not display selector if one version
  packages/manager/apps/web/client/app/components/hosting-domain-offers/template.html
Labels: bug, quality check, universe-web-cloud

#9377 feat(web): remove infinite resource phrase
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-web-cloud

#9376 feat(*): add india specific links across all the universe
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/order.constants.ts
  packages/manager/apps/container/src/cookie-policy/links.ts
  packages/manager/apps/dedicated/client/app/cdn/onboarding/constants.js
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/server/onboarding/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/backup/backup.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds-order.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/onboarding/onboarding.constants.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/backup/backup.constants.js
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/constants.js
  packages/manager/apps/web/client/app/hosting/hosting.order.js
  packages/manager/apps/web/client/app/hosting/onboarding/constants.js
  packages/manager/modules/cloud-connect/src/cloud-connect.order.js
  packages/manager/modules/cloud-connect/src/onboarding/constants.js
  packages/manager/modules/cloud-universe-components/src/helper/order/service.js
  packages/manager/modules/cloud-universe-components/src/vrack/constants.js
  packages/manager/modules/cookie-policy/src/links.js
  packages/manager/modules/core/src/manager-core.constants.js
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/constants.js
  packages/manager/modules/emailpro/src/email-pro.order.js
  packages/manager/modules/emailpro/src/onboarding/constants.js
  packages/manager/modules/exchange/src/dashboard/exchange.constants.js
  packages/manager/modules/exchange/src/domain/add/domain.constants.js
  packages/manager/modules/iplb/src/onboarding/constants.js
  packages/manager/modules/nutanix/src/onboarding/constants.js
  packages/manager/modules/office/src/office.order.js
  packages/manager/modules/office/src/onboarding/constants.js
  packages/manager/modules/pci/src/components/hds/hds.constant.js
  packages/manager/modules/pci/src/components/project/repricing-banner/constants.js
  packages/manager/modules/pci/src/constants.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/ai-dashboard.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/empty/empty.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/veeam-cloud-connect/src/onboarding/constants.js
  packages/manager/modules/veeam-cloud-connect/src/veeam.order.js
  packages/manager/modules/veeam-enterprise/src/onboarding/constants.js
  packages/manager/modules/veeam-enterprise/src/veeam.order.js
  packages/manager/modules/vps/src/dashboard/migrate/migrate.constants.js
  packages/manager/modules/vps/src/onboarding/constants.js
  packages/manager/modules/vps/src/vps-order.js
  packages/manager/modules/vrack/src/onboarding/constants.js
  packages/manager/modules/vrack/src/vrack-order.js
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-public-cloud, universe-hosted-private-cloud, container

#9387 feat(*): add india specific links across all the universe
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: feature, universe-bare-metal-cloud

#9355 ci: block merging of pr with translation required label
  .github/workflows/enforce-labels.yml
Labels: continuous-integration

#9381 fix(web): handle change offer event
  packages/manager/apps/web/client/app/components/hosting-domain-offers/template.html
Labels: bug, quality check, universe-web-cloud

#9394 fix(web): remove useless labels
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
Labels: bug, quality check, universe-web-cloud

#9286 feat(pci.ai): datatr-282 - ai deploy partners - improve apps list
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/app.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/index.scss
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#9391 feat(pci.ai): datatr-284 - ai deploy partners - dashboard
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
Labels: feature, universe-public-cloud

#9211 feat(pci.dataprocessing): datatr-262 - eol metrics
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/data-processing.service.js
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/home/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.scss
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-chart/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-chart/metrics-chart.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-chart/metrics-chart.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-chart/metrics-chart.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/index.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/metrics-token.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/metrics-token.constants.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/metrics-token.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/metrics-token.html
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/metrics-token.module.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/metrics-token.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#9123 fix(dedicated): make swap partition removable
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, universe-bare-metal-cloud

#9359 fix(storages.cold-archive): fix active S3 users tab display
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Labels: bug, universe-public-cloud

#9342 fix(telecom): check eligibility status before show retention message
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.controller.js
Labels: bug, quality check: ok, universe-telecom

#9397 fix(dedicated): acquisition add india termsofuse link
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
Labels: bug, universe-bare-metal-cloud

#9389 fix(pcc.vmware): fix the build express order url
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
Labels: bug, universe-bare-metal-cloud

#9406 feat(dedicated.nutanix): display hardware tile based on cluster type
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
Labels: quality check, feature, universe-hosted-private-cloud

#9409 feat(dedicated.nutanix): display hardware tile based on cluster type
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
Labels: feature, universe-hosted-private-cloud

#9402 fix(dedicated): remove duplicated sentence in payment method
  packages/components/ng-ovh-payment-method/src/components/register/controller.js
  packages/components/ng-ovh-payment-method/src/components/register/index.html
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_FR.json
Labels: bug, translation required

#9200 fix(nutanix): upgrade private bandwidth
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/service.js
  packages/manager/modules/nutanix/src/index.js
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Labels: bug, quality check, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#9417 feat(dedicated): enable modify bandwidth based on cluster type
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/component.js
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/private-order.html
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/network-tile.component.js
  packages/manager/modules/nutanix/src/dashboard/component/network-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/private-bandwidth-upgrade/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
Labels: feature, translation required, universe-hosted-private-cloud

#9382 fix(pci.billing): add ai-notebooks on billing page
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
Labels: bug, quality check, universe-public-cloud

#9418 feat(iplb): display https protocol
  packages/manager/modules/iplb/src/frontends/iplb-frontends.controller.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9410 fix(public-cloud): upgrade by using installation instead of renew
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.service.js
Labels: bug, quality check: ok, universe-public-cloud

#9423 feat(dedicated): css suggestions and bug fix
  packages/manager/apps/dedicated/client/app/account/account.routing.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
Labels: feature, universe-bare-metal-cloud

#9440 feat(dedicated): add documents list
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Labels: feature, universe-bare-metal-cloud, translation required

#9414 fix(user-sidebar): fix scss for screen reader
  packages/manager/apps/container/src/container/common/notifications-sidebar/notifications-sidebar.module.scss
  packages/manager/apps/container/src/container/legacy/account-sidebar/index.scss
Labels: bug, quality check: ok, container

#9415 feat(project.new): update the filtering of a cart service option
  packages/manager/modules/pci/src/projects/new/service.js
Labels: quality check: ok, feature, universe-public-cloud

#9344 fix(dedicated): removed duplicated netboot translations
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud

#9434 fix(dedicated.iplb): fix the orders urls onboarding page
  packages/manager/modules/iplb/src/onboarding/constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9276 fix(dedicated): allow user define raid higher than 1 on / partition
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Labels: bug, quality check, universe-bare-metal-cloud

#9428 fix(web.hosting): some changes on add database management
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
Labels: bug, universe-web-cloud, translation required

#9431 fix: fix error on uapp generator scaffolding tools
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
Labels: documentation

#9445 feat(web): new offers for sql order page
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/index.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/template.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/db-categories-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.html
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.routing.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.service.js
  packages/manager/apps/web/client/app/hosting/database/order/public/index.js
  packages/manager/apps/web/client/app/hosting/database/order/public/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-web-cloud

#9458 fix(web.hosting): warning modal if need change offer on multisite
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.html
Labels: bug, universe-web-cloud, translation required

#9463 fix(pcc.vmware): fix wrong translation keys
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#9460 refactor(web): new offers for sql order page
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/index.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/template.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/index.js
Labels: quality check, feature, universe-web-cloud

#9467 fix(pcc.vmware): tracking implementation
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/activation-status.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
Labels: bug, universe-bare-metal-cloud

#9464 feat(carbon.dedicated): add downloading carbon footprint invoice
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/modules/carbon-calculator/package.json
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/constants.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/service.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/template.html
Labels: feature

#9470 feat(manager): update codeowners for tools and core folders
  .github/CODEOWNERS
Labels: feature, continuous-integration

#9256 [FEAT/MANAGER-11381] Add template dashboard
  packages/manager/apps/cdn-react/package.json
  packages/manager/apps/nasha-react/package.json
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/service.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/types.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/components/index.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/dashboard/dashboard.scss
  packages/manager/apps/nasha-react/src/components/layout-helpers/dashboard/index.tsx
  packages/manager/apps/nasha-react/src/components/layout-helpers/index.ts
  packages/manager/apps/nasha-react/src/components/nasServiceDataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/_layout.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/buttonTooltip.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/configurations.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/dateLocale.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/engagementUpToContent.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/index.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/informations.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/partitions.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/partitionsTab.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/section.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/suscriptions.tsx
  packages/manager/apps/nasha-react/src/pages/index.scss
  packages/manager/apps/nasha-react/src/pages/index.tsx
  packages/manager/apps/nasha-react/src/pages/loading.tsx
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/Messages_fr_FR.json
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/details/dashboard/Messages_fr_FR.json
  yarn.lock
Labels: feature, translation required, dependencies

#9157 feat(dedicated.nutanix): add new api endpoint for cluster
  packages/manager/modules/nutanix/src/service.js
Labels: quality check, feature, universe-hosted-private-cloud

#9478 feat(web): update resource content
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-web-cloud

#9483 fix(web.hosting): error prices order hosting
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
Labels: bug, universe-web-cloud

#9451 fix(cda): display storage unit on listing page
  packages/manager/modules/cda/src/cda.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9393 feat(dedicated): lv1/lv2 migration date
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/lv1-lv2-migration-banner/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9400 fix(dedicated): change ip action label translation
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9304 fix(project.onboarding): add an fr message for doc guide
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#9309 fix(dedicated): rescue boot mode improvements
  packages/manager/modules/bm-server-components/src/netboot/constants.js
  packages/manager/modules/bm-server-components/src/netboot/controller.js
  packages/manager/modules/bm-server-components/src/netboot/template.html
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required

#9465 fix(dedicated): fix issue with modify iplb
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9485 fix(iam): handle ui freezes
  packages/manager/modules/iam/src/components/actionSelect/ActionTrees.class.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
Labels: bug

#9480 feat(iam): move custom actions form
  packages/manager/apps/iam/src/iam.module.js
  packages/manager/modules/iam/src/components/actionSelect/ActionTrees.class.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/iam.constants.js
Labels: feature, translation required

#9479 refactor(web): manage db order stepper
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.html
  packages/manager/modules/product-offers/src/workflows/product-offers-order-workflow.class.js
Labels: bug, quality check, universe-web-cloud

#9489 fix(dedicated.carbon): split image carbon footprint + mobile version
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/assets/CO2.svg
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/assets/carbon-balance-EN.svg
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/assets/carbon-balance-FR.svg
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/assets/cog.svg
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/assets/manufacturing.svg
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/assets/rack.svg
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/constants.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/template.html
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/index.scss
Labels: bug, translation required

#9493 fix(iam): change wildcard text
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
Labels: bug, translation required

#9499 fix(pcc.vmware): tracking implementation
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.html
Labels: bug, universe-bare-metal-cloud

#9454 feat(pci.ai): region customization in cli tab ai dashboard
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.constants.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/cli.routing.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/cli/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#9502 fix(iam): set resource group form model
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createResourceGroup/createResourceGroup.controller.js
  packages/manager/modules/iam/src/components/createResourceGroup/createResourceGroup.template.html
Labels: bug

#9506 fix(web.hosting): add max database value on hosting dashboard
  packages/manager/apps/web/client/app/components/progressBarElementCounter/progressBarElementCounter.directive.js
  packages/manager/apps/web/client/app/components/progressBarElementCounter/progressBarElementCounter.html
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: bug, universe-web-cloud

#9508 fix(web.hosting): add banner quota in hosting database section
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.constants.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.controller.js
  packages/manager/apps/web/client/app/hosting/database/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#9510 feat(dedicated.carbon): improve UI for mobile & desktop
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-balance-composition/template.html
Labels: bug

#9511 fix(pcc.vmware): fix issue listing nsxt option
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/activation-status.html
Labels: bug, universe-bare-metal-cloud

#9492 fix(pcc.vmware): remove datacenter_id argument in nsx-t add datacenter
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
Labels: bug, universe-bare-metal-cloud

#9497 feat(dedicated.carbon): add tracking for carbon footprint page
  packages/manager/apps/carbon-calculator/src/error/error.routing.js
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/constants.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/routing.js
  packages/manager/modules/carbon-calculator/src/routing.js
Labels: feature, container

#9509 feat(dedicated): update KVM order page for no IPMI option
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/service.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#9518 fix(account-sidebar): improvement of account information
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserDetails.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserName.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/constants.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/useUserInfos.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
Labels: bug, translation required, container

#9517 feat(pci.octavia): initialize octavia frontend in pci
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/README.md
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/package.json
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/dashboard/component.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/dashboard/controller.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/dashboard/index.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/dashboard/module.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/dashboard/routing.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/dashboard/template.html
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/index.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/index.scss
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/octavia-load-balancer.module.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/octavia-load-balancer.routing.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/component.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/constants.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/controller.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/module.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/routing.js
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/template.html
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/octavia-load-balancer/src/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/tools/sao-ovh-manager-app/lib/update-pkg.js
  packages/manager/tools/sao-ovh-manager-app/template/src/app.module.js
  packages/manager/tools/sao-ovh-manager-app/template/src/index.js
  packages/manager/tools/sao-ovh-manager-module/template/src/dashboard/routing.js
  packages/manager/tools/sao-ovh-manager-module/template/src/onboarding/routing.js
  yarn.lock
Labels: feature, translation required, dependencies, universe-public-cloud

#9524 feat(pci.octavia): add menu sidebar links
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: feature, translation required, container

#9527 fix(iam.policy.edit): send identities
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
Labels: bug

#9522 feat(pci): handle IAM forbidden services calls
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/pci/src/projects/project/billing/billing.component.js
  packages/manager/modules/pci/src/projects/project/billing/billing.controller.js
  packages/manager/modules/pci/src/projects/project/billing/billing.html
  packages/manager/modules/pci/src/projects/project/billing/billing.routing.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.html
  packages/manager/modules/pci/src/projects/project/billing/history/history.routing.js
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/quota/quota.routing.js
  packages/manager/modules/pci/src/projects/project/quota/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/training/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/training/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/training/dashboard/translations/Messages_fr_FR.json
Labels: feature, universe-public-cloud

#9371 Docs/newjoiners config
  CONTRIBUTORS
  MAINTAINERS
Labels: documentation

#9534 fix(iam.policy.create): changes translation
  packages/manager/modules/iam/src/translations/Messages_fr_FR.json
Labels: feature, translation required

#9537 feat(web): tracking
  packages/manager/apps/web/client/app/components/hosting-domain-offers/component.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/template.html
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/dnsConfiguration/domain-webhosting-order-steps-dnsConfiguration.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/dnsConfiguration/domain-webhosting-order-steps-dnsConfiguration.html
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/hosting/domain-webhosting-order-steps-hosting.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/hosting/domain-webhosting-order-steps-hosting.html
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/module/domain-webhosting-order-steps-module.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/module/domain-webhosting-order-steps-module.html
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.html
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/component.js
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/template.html
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.html
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.service.js
  packages/manager/apps/web/client/app/hosting/hosting.constants.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: quality check, feature, universe-web-cloud

#9540 fix(web.hosting): change with preprod catalog
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/template.html
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.routing.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.service.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.service.js
Labels: bug, universe-web-cloud

#9542 fix(iam.onboarding): add missing description
  packages/manager/modules/iam/src/translations/Messages_fr_FR.json
Labels: bug, translation required
