Repository ovh/manager, pull requests merged in 2023-11, with the labels that each got.

#10211 fix(web): fix domain name display issue
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domains/domains.html
Labels: bug, quality check: ok, universe-web-cloud

#10220 fix(web): adaptation for emailPro
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Labels: feature, universe-web-cloud

#10200 feat(sign-up): siret create a "corporation not created yet" path
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/controller.js
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_fr_FR.json
Labels: quality check, feature, translation required, sign-up

#10153 fix(billing): change content for auto renew alert banner
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#10214 fix(pcc): add breadcrumb
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#10213 fix(pcc): error message display issue
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/dedicatedCloud-operation.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10083 feat(pci.storages.databases): datatr-366 - split databases by type
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/service-integration.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/index.js
Labels: quality check: ok, feature, translation required, universe-public-cloud, container

#10143 Feat/manager-11674 Msc-Advices
  packages/super-components/components/msc-advices/.gitignore
  packages/super-components/components/msc-advices/.npmignore
  packages/super-components/components/msc-advices/CHANGELOG.md
  packages/super-components/components/msc-advices/LICENSE
  packages/super-components/components/msc-advices/README.md
  packages/super-components/components/msc-advices/docs/msc-advices.stories.ts
  packages/super-components/components/msc-advices/mock/2api/domain-advices.json
  packages/super-components/components/msc-advices/mock/2api/vps-advices.json
  packages/super-components/components/msc-advices/mock/handlers.ts
  packages/super-components/components/msc-advices/package.json
  packages/super-components/components/msc-advices/react/.gitignore
  packages/super-components/components/msc-advices/react/.npmignore
  packages/super-components/components/msc-advices/react/package.json
  packages/super-components/components/msc-advices/react/tsconfig.cjs.json
  packages/super-components/components/msc-advices/react/tsconfig.json
  packages/super-components/components/msc-advices/screenshot/.gitignore
  packages/super-components/components/msc-advices/src/global.dev.ts
  packages/super-components/components/msc-advices/src/global.prod.ts
  packages/super-components/components/msc-advices/src/global.test.ts
  packages/super-components/components/msc-advices/src/global.ts
  packages/super-components/components/msc-advices/src/index.html
  packages/super-components/components/msc-advices/src/index.ts
  packages/super-components/components/msc-advices/src/msc-advices/msc-advices.scss
  packages/super-components/components/msc-advices/src/msc-advices/msc-advices.tsx
  packages/super-components/components/msc-advices/src/msc-advices/msc-advices.types.ts
  packages/super-components/components/msc-advices/src/msc-advices/translations.ts
  packages/super-components/components/msc-advices/src/translations/Messages_de_DE.json
  packages/super-components/components/msc-advices/src/translations/Messages_en_GB.json
  packages/super-components/components/msc-advices/src/translations/Messages_es_ES.json
  packages/super-components/components/msc-advices/src/translations/Messages_fr_CA.json
  packages/super-components/components/msc-advices/src/translations/Messages_fr_FR.json
  packages/super-components/components/msc-advices/src/translations/Messages_it_IT.json
  packages/super-components/components/msc-advices/src/translations/Messages_pl_PL.json
  packages/super-components/components/msc-advices/src/translations/Messages_pt_PT.json
  packages/super-components/components/msc-advices/stencil.config.ts
  packages/super-components/components/msc-advices/tests/msc-advices.e2e.screenshot.ts
  packages/super-components/components/msc-advices/tests/msc-advices.e2e.ts
  packages/super-components/components/msc-advices/tests/msc-advices.spec.ts
  packages/super-components/components/msc-advices/tests/setup.ts
  packages/super-components/components/msc-advices/tsconfig.dev.json
  packages/super-components/components/msc-advices/tsconfig.json
  packages/super-components/components/msc-advices/tsconfig.prod.json
  packages/super-components/components/msc-advices/tsconfig.test.json
  packages/super-components/components/msc-advices/typedoc.json
  packages/super-components/components/msc-advices/vue/.gitignore
  packages/super-components/components/msc-advices/vue/.npmignore
  packages/super-components/components/msc-advices/vue/package.json
  packages/super-components/components/msc-advices/vue/tsconfig.cjs.json
  packages/super-components/components/msc-advices/vue/tsconfig.json
  packages/super-components/storybook/.storybook/define-super-components.ts
Labels: feature, translation required

#10066 feat(dedicated.network-security): network security dashboard
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/network-security/index.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.component.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.controller.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.html
  packages/manager/apps/dedicated/client/app/network-security/network-security.module.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.routing.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/index.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.component.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.constant.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.controller.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.html
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.module.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.service.js
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required, container

#10231 fix(sign-up): not siret yet path : tracking implementation
  packages/components/ovh-at-internet/src/constants.ts
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/constants.js
  packages/manager/modules/sign-up/src/form/activity/controller.js
Labels: feature, sign-up

#10223 feat(web.exchange): change nok message
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.constants.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.constants.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Labels: feature, universe-web-cloud, translation required

#10239 fix(web.exchange): uniformisation code emailpro exchange
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.constants.js
Labels: feature, universe-web-cloud, translation required

#10244 Sync/master develop
  yarn.lock
Labels: dependencies

#10243 Sync develop & master
  yarn.lock
Labels: dependencies, has conflicts

#10193 test: remove unused `.testcaferc.json` config file
  .testcaferc.json
Labels: tests

#10189 fix(core-api): fix error not thrown from axios interceptor
  packages/manager/core/api/src/client.ts
Labels: bug

#10253 feat(web.domain): datagrid - behaviour rules
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10255 docs: update CODEOWNERS file
  .github/CODEOWNERS
Labels: continuous-integration, documentation

#10031 feat(pcc.vmware): display partner prices if applicable
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10233 feat(web): add dns history dashboard and diff tool
  packages/manager/apps/dedicated/client/app/components/services/services.constants.js
  packages/manager/apps/web/client/app/dns-zone/dashboard/dns-zone-dashboard.routing.js
  packages/manager/apps/web/client/app/dns-zone/dns-zone.service.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.constants.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.html
  packages/manager/apps/web/client/app/dns-zone/history/history.module.js
  packages/manager/apps/web/client/app/dns-zone/history/history.routing.js
  packages/manager/apps/web/client/app/dns-zone/history/index.js
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/dns-zone/zone/zone.module.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.html
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/zone.routing.js
  packages/manager/apps/web/package.json
  yarn.lock
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, translation required, dependencies

#10266 fix(web): add missing trad keys
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#10204 feat: configuration page
  .eslintrc.js
  package.json
  packages/manager/apps/vrack-services/.gitignore
  packages/manager/apps/vrack-services/cucumber.js
  packages/manager/apps/vrack-services/features/create.feature
  packages/manager/apps/vrack-services/features/onboarding.feature
  packages/manager/apps/vrack-services/jest.config.js
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/api/DELETE/apiv6/services.ts
  packages/manager/apps/vrack-services/src/api/GET/apiv2/services.ts
  packages/manager/apps/vrack-services/src/api/GET/apiv6/services.ts
  packages/manager/apps/vrack-services/src/api/POST/apiv6/order.ts
  packages/manager/apps/vrack-services/src/api/POST/apiv6/services.ts
  packages/manager/apps/vrack-services/src/api/PUT/apiv2/services.ts
  packages/manager/apps/vrack-services/src/api/PUT/apiv6/services.ts
  packages/manager/apps/vrack-services/src/api/api.type.ts
  packages/manager/apps/vrack-services/src/api/common.ts
  packages/manager/apps/vrack-services/src/api/index.ts
  packages/manager/apps/vrack-services/src/api/order/index.ts
  packages/manager/apps/vrack-services/src/api/order/order.type.ts
  packages/manager/apps/vrack-services/src/api/order/services.ts
  packages/manager/apps/vrack-services/src/assets/onboarding-img.png
  packages/manager/apps/vrack-services/src/components/Breadcrumb.tsx
  packages/manager/apps/vrack-services/src/components/ButtonTooltip.tsx
  packages/manager/apps/vrack-services/src/components/DataGrid.tsx
  packages/manager/apps/vrack-services/src/components/Error.tsx
  packages/manager/apps/vrack-services/src/components/GuideLink/GuideLink.tsx
  packages/manager/apps/vrack-services/src/components/GuideLink/guide-utils.tsx
  packages/manager/apps/vrack-services/src/components/GuideLink/index.ts
  packages/manager/apps/vrack-services/src/components/layout-helpers/PageLayout.tsx
  packages/manager/apps/vrack-services/src/index.tsx
  packages/manager/apps/vrack-services/src/pages/create/ZoneFormField.tsx
  packages/manager/apps/vrack-services/src/pages/create/constants.ts
  packages/manager/apps/vrack-services/src/pages/create/create.step.ts
  packages/manager/apps/vrack-services/src/pages/create/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/_layout.tsx
  packages/manager/apps/vrack-services/src/pages/index.tsx
  packages/manager/apps/vrack-services/src/pages/onboarding/index.tsx
  packages/manager/apps/vrack-services/src/pages/onboarding/onboarding.step.ts
  packages/manager/apps/vrack-services/src/pages/onboarding/onboarding.test.ts
  packages/manager/apps/vrack-services/tsconfig.json
  packages/manager/apps/vrack-services/tsconfig.test.json
  packages/manager/core/generator/app/conditional-templates/dashboard/dashboard.test.ts.hbs
  packages/manager/core/generator/app/conditional-templates/default/home.test.ts.hbs
  packages/manager/core/generator/app/conditional-templates/listing/listing.test.ts.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/onboarding.test.ts.hbs
  packages/manager/core/vite-config/src/config.js
  packages/super-components/_common/msw-helpers.ts
  playwright-helpers/.eslintrc.json
  playwright-helpers/bdd-setup.ts
  playwright-helpers/custom-world.ts
  playwright-helpers/login.ts
  playwright-helpers/mock.ts
  playwright-helpers/setup.ts
  scripts/.eslintrc.json
  scripts/run-playwright-bdd.js
  yarn.lock
Labels: feature, build, dependencies

#10260 feat(vrack-services): confirmation modal for configuration page
  packages/manager/apps/vrack-services/features/create.feature
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/v2/get-vrackservices.ts
  packages/manager/apps/vrack-services/mock/v6/get-vrack-allowed-services.ts
  packages/manager/apps/vrack-services/mock/v6/orders.ts
  packages/manager/apps/vrack-services/src/api/api.type.ts
  packages/manager/apps/vrack-services/src/api/index.ts
  packages/manager/apps/vrack-services/src/api/order/index.ts
  packages/manager/apps/vrack-services/src/api/order/order.type.ts
  packages/manager/apps/vrack-services/src/api/order/services.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/get.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/index.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/put.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/vrack-services.type.ts
  packages/manager/apps/vrack-services/src/api/vrack/delete.ts
  packages/manager/apps/vrack-services/src/api/vrack/get.ts
  packages/manager/apps/vrack-services/src/api/vrack/index.ts
  packages/manager/apps/vrack-services/src/api/vrack/post.ts
  packages/manager/apps/vrack-services/src/api/vrack/put.ts
  packages/manager/apps/vrack-services/src/api/vrack/vrack.type.ts
  packages/manager/apps/vrack-services/src/index.tsx
  packages/manager/apps/vrack-services/src/pages/create/VrackConfirmModal.tsx
  packages/manager/apps/vrack-services/src/pages/create/create.step.ts
  packages/manager/apps/vrack-services/src/pages/create/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/dashboard.e2e.ts
  packages/manager/apps/vrack-services/src/pages/onboarding/onboarding.step.ts
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/super-components/_common/msw-helpers.ts
  playwright-helpers/mock.ts
Labels: feature, translation required

#10235 feat(octavia): add floating ip to creation page
  packages/manager/modules/octavia-load-balancer/src/create/component.js
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/create/service.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancers.routing.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.routing.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required

#10271 feat(web.domain): add renew restore to domain list revamping
  packages/manager/apps/web/client/app/domain/domains.module.js
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.component.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/component.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/index.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/module.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/routing.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/template.html
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10279 feat(web.domain): domain list revamping action per line renew
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10282 feat(web.domain): domain list revamp action per line detail
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10288 fix(octavia): fix package versions
  yarn.lock
Labels: bug, dependencies

#10262 feat(web.domain): datagrid - display renewal mode
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.component.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-web-cloud, translation required

#10287 fix(web): missing ngInject
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.controller.js
Labels: bug, universe-web-cloud

#10290 fix(octavia): fix for broken staging
  packages/manager/modules/pci-universe-components/src/project/regions-list/datacenter.class.js
Labels: bug

#10289 fix(web): add actuelle for current date
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.constants.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.controller.js
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#10292 fix(sign-up): not siret yet path : tracking implementation
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/controller.js
Labels: bug, sign-up

#10295 fix(octavia): change listener port when listener change
  packages/components/ng-ovh-utils/src/scroll/scroll-directive.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.controller.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.html
Labels: feature

#10298 fix(web): typos on french
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#10299 fix(web): allow both scroll right and down
  packages/manager/apps/web/client/app/css/less/common/modal.less
  packages/manager/apps/web/client/app/css/source.less
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
Labels: bug, universe-web-cloud

#10301 feat(web.domain): list revamping action per line delete
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10304 feat(web.domain): list revamp action per line auto renew enable
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10306 feat(web.domain): list revamp action per line stop auto renew
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10307 fix(dedicated.server): fix end of life dates on installation
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: bug

#10310 fix(public-cloud): change us guide link for gateway onboarding
  packages/manager/modules/pci/src/projects/project/gateways/onboarding/onboarding.constants.js
Labels: bug, universe-public-cloud

#10313 fix(dedicated.server): fix the server dashboard lazyload
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/index.js
Labels: bug, universe-bare-metal-cloud

#10316 fix(dedicated.server): add form validation test on reverse dns
  packages/manager/modules/bm-server-components/src/reverse-dns/update/reverse-dns-update.template.html
Labels: bug

#10312 feat(web.domain): datagrid - display renewal and expiry dates
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10319 fix(dedicated.server): add missing nginject
  packages/manager/modules/bm-server-components/src/reverse-dns/delete/reverse-dns-delete.controller.js
  packages/manager/modules/bm-server-components/src/reverse-dns/update/reverse-dns-update.controller.js
Labels: bug

#10305 Feat/manager 12595 : update react query and vite
  packages/manager/core/generator/app/templates/package.json.hbs
Labels: feature

#10320 fix(dedicated.server): fix date end of life on custom template
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: bug

#10322 fix(dedicated.server): fix partitioning scheme not updated
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: bug

#10317 fix(octavia): fix onboarding lb creation link with private network
  packages/manager/modules/octavia-load-balancer/src/onboarding/component.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/controller.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/template.html
Labels: feature

#10324 feat(web.domain): datagrid - display renewal and expiry dates
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
Labels: feature, universe-web-cloud

#10326 fix(dedicated.server): fix tooltip position on installation wizard
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: bug

#10328 fix(dedicated.server): remove an extra tracking hit on install choice
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/choice/choice.routing.js
Labels: bug, universe-bare-metal-cloud

#10329 fix(dedicated.server): add missing nginject on ftp-backup
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/access/add/dedicated-server-ftp-backup-access-add.controller.js
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/access/delete/dedicated-server-ftp-backup-access-delete.controller.js
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/access/update/dedicated-server-ftp-backup-access-update.controller.js
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/activate/dedicated-server-ftp-backup-activate.controller.js
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/delete/dedicated-server-ftp-backup-delete.controller.js
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/ftp-backup-storage.controller.js
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/order/dedicated-server-ftp-backup-order.controller.js
Labels: bug

#10331 fix(web.domain): fix api model change for service id
  packages/manager/apps/web/client/app/domain/list/template.html
Labels: bug, universe-web-cloud

#10334 fix(dedicated.server): fix tracking page on dns page
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/secondary-dns/secondary-dns.routing.js
Labels: bug, universe-bare-metal-cloud

#10341 feat(web.domain): datagrid - display contact details
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
Labels: feature, universe-web-cloud

#10278 feat(dedicated.network-security): rework on display datagrid
  packages/manager/apps/dedicated/client/app/network-security/network-security.component.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.constant.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.module.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.routing.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.service.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.component.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.constant.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.controller.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.html
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.html
  packages/manager/apps/dedicated/package.json
Labels: feature, universe-bare-metal-cloud

#10336 feat(web): allow both clic and escape for modals
  packages/manager/apps/web/client/app/css/less/common/modal.less
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.constants.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.html
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.html
  packages/manager/apps/web/client/app/dns-zone/history/history.module.js
  packages/manager/apps/web/client/app/dns-zone/history/history.routing.js
Labels: feature, universe-web-cloud

#10280 feat(vrack-services): polling hook for orders
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/order/cart.ts
  packages/manager/apps/vrack-services/mock/order/order-details.ts
  packages/manager/apps/vrack-services/src/api/order/hook.ts
  packages/manager/apps/vrack-services/src/api/order/index.ts
  packages/manager/apps/vrack-services/src/api/order/order.type.ts
  packages/manager/apps/vrack-services/src/api/order/services.ts
  packages/manager/apps/vrack-services/src/components/DataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/create/index.tsx
  packages/manager/apps/vrack-services/src/pages/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
Labels: feature, translation required

#10343 fix(octavia): multiple datagrid helper
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/package.json
Labels: feature

#10345 feat(octavia): update ui-kit dependecies
  yarn.lock
Labels: feature, dependencies

#10346 feat(octavia): update ui-kit
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iam/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up

#10350 fix(dedicated.server): add region and zone information in dashboard
  packages/manager/modules/bm-server-components/src/general-information/general-information.html
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
Labels: bug, translation required

#10296 feat(dedicated.firewall): edge firewall and ip datagrid reword
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10348 feat(dedicated.game-firewall): apply feedback
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10360 feat(web.domain): datagrid - display status technical
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.component.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10311 feat(dedicated.network-securit): security dashboard feedback
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.controller.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.html
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.html
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10367 refactor(ng-ovh-payment-method): separate explanation text templates
  packages/components/ng-ovh-payment-method/src/components/register/index.html
  packages/components/ng-ovh-payment-method/src/components/register/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardChargesExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/rupayExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextBanner.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextIntro.html
Labels: refactor

#10371 feat(web.exchange): update DKIM status for exchange domains
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.constants.js
  packages/manager/modules/exchange/src/domain/domain.controller.js
  packages/manager/modules/exchange/src/domain/domain.html
Labels: feature, universe-web-cloud, translation required

#10377 feat(octavia): pool - members page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/service.js
Labels: feature

#10385 fix(web): replace en by fr
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#10384 feat(web): change success message
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10366 feat(projet.instance): disable mothly subscription option in action menus for the new flavors (b3, c3, r3)
  packages/manager/modules/pci/src/components/project/billing/instance-list/controller.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/index.js
  packages/manager/modules/pci/src/components/project/billing/instance-list/template.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#10362 fix(dedicated.game-firewall): reload game firewall page
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/game-firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.service.js
Labels: bug, universe-bare-metal-cloud

#10357 feat(dedicated.netapp): vrack-services change volume tile and list
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#10356 feat(dedicated.firewalls): update display on firewall disabled
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10122 feat(pci.new): handle voucher error from url param
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/routing.js
Labels: quality check: ok, feature, universe-public-cloud

#10369 feat(dedicated.network-security): load traffic from event select
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
Labels: feature, universe-bare-metal-cloud

#10388 feat(dedicated.network-security): update way to set pagination
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.controller.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.html
Labels: universe-bare-metal-cloud

#10393 feat(octavia): pool - add a member manually
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/service.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
Labels: feature, translation required

#10416 fix(web): add missing translations for emailpro/exchange DKIM tasks
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#10333 fix(telecom.telephony): add catch error on delete sounds
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/sound/list/list.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/sound/list/list.html
Labels: bug, quality check: ok, universe-telecom

#10242 fix(dedicated): resolve vps upgrade issue
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10186 feat(telecom.voip): permit to make a redirection via the manager
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/feature.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/redirect/redirect.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/fax/fax.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/line/line.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.factory.js
Labels: quality check: ok, feature, universe-telecom

#10147 fix(container): enable lint for container and fix lint error
  .eslintignore
  packages/manager/apps/container/.eslintrc.js
  packages/manager/apps/container/src/__tests__/server-sidebar/server-sidebar.spec.tsx
  packages/manager/apps/container/src/container/common/Preloader/usePreloader.ts
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/Modal.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/Link/Anchor.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserDetails.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/useUserInfos.ts
  packages/manager/apps/container/src/container/legacy/navbar/Account.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/Sidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/SidebarVirtual.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/index.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/order.constants.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/sidebarMenu.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/ProjectCreateButton.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/useServiceLoader.ts
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/core/routing/route/iframe-application-route.tsx
  packages/manager/apps/container/src/hooks/useUniverses.ts
Labels: quality check: ok, container

#10273 feat(hosting): remove ownlogs deprecated routes
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.service.js
  packages/manager/apps/web/client/app/hosting/user-logs/USER_LOGS.html
  packages/manager/apps/web/client/app/hosting/user-logs/add/hosting-user-logs-add.controller.js
  packages/manager/apps/web/client/app/hosting/user-logs/delete/hosting-user-logs-delete.controller.js
  packages/manager/apps/web/client/app/hosting/user-logs/delete/hosting-user-logs-delete.html
  packages/manager/apps/web/client/app/hosting/user-logs/hosting-user-logs.controller.js
  packages/manager/apps/web/client/app/hosting/user-logs/password-update/hosting-user-logs-update-password.controller.js
  packages/manager/apps/web/client/app/hosting/user-logs/update/hosting-user-logs-update.controller.js
Labels: quality check: ok, universe-web-cloud

#10315 fix(dedicated.cloud-connect): fix order follow up vs onboarding page
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10222 feat: add docker command into ai deploy order funnel
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#10347 feat(pci.ai): stop starting notebook
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
Labels: quality check: ok, feature, universe-public-cloud

#10303 fix(web.hosting): disable startsql order for free hosting offer
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/controller.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.constants.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#10154 feat(iam): add permissions groups support in iam policy
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.component.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/iam.constants.js
  packages/manager/modules/iam/src/iam.service.js
  packages/manager/modules/iam/src/policy/create/create.routing.js
  packages/manager/modules/iam/src/policy/edit/edit.routing.js
Labels: quality check, feature, translation required

#10412 feat(dedicated.netapp): vrack services delete associated network
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/delete-network/component.js
  packages/manager/modules/netapp/src/dashboard/delete-network/constants.js
  packages/manager/modules/netapp/src/dashboard/delete-network/controller.js
  packages/manager/modules/netapp/src/dashboard/delete-network/index.js
  packages/manager/modules/netapp/src/dashboard/delete-network/module.js
  packages/manager/modules/netapp/src/dashboard/delete-network/routing.js
  packages/manager/modules/netapp/src/dashboard/delete-network/service.js
  packages/manager/modules/netapp/src/dashboard/delete-network/template.html
  packages/manager/modules/netapp/src/dashboard/delete-network/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/index/component.js
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/routing.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/module.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/routing.js
Labels: feature, universe-bare-metal-cloud, translation required

#10425 build(deps): bump ui-kit to 6.7.4
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iam/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up

#10149 feat(projects.projects): hide the terminated projects from projects page
  packages/manager/modules/pci/src/projects/Project.class.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, universe-hub, universe-public-cloud, universe-hosted-private-cloud, stale, sign-up

#10413 feat(pci): redirect from onboarding
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/pci/src/projects/creating/routing.js
  packages/manager/modules/pci/src/projects/creating/service.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
Labels: feature, universe-public-cloud

#10428 fix(web): add parenthesis after prefix factorize
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Labels: feature, universe-web-cloud

#10429 feat(dedicated.netapp): vrack-services add feature flipping for efs
  packages/manager/modules/netapp/src/dashboard/index/component.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/network-configuration/routing.js
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/routing.js
Labels: feature, universe-bare-metal-cloud

#10430 fix(web): fix DKIM status creation missing + hide pellets
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/exchange/src/domain/domain.html
Labels: bug, universe-web-cloud

#10434 Revert "feat(iam): add permissions groups support in iam policy (#101…
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.component.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/iam.constants.js
  packages/manager/modules/iam/src/iam.service.js
  packages/manager/modules/iam/src/policy/create/create.routing.js
  packages/manager/modules/iam/src/policy/edit/edit.routing.js
Labels: translation required

#10431 feat(octavia): quick en translations
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/delete/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/delete/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/components/delete/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/components/pool-form/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/delete/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/delete/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/delete/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_en_GB.json
Labels: feature, translation required

#10432 fix(web): remove broadcast go step 3
  packages/manager/modules/exchange/src/domain/add/domain-add.controller.js
Labels: feature, universe-web-cloud
