Repository ovh/manager, pull requests merged in 2023-03, with the labels that each got.

#8981 feat(iam): add create policy page
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.module.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createPolicy/index.js
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/policies.controller.js
  packages/manager/modules/iam/src/constants/constants.js
  packages/manager/modules/iam/src/routes/createPolicy.route.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
Labels: feature, translation required

#8986 fix(pci.storages.databases):datatr-230 ad hoc validation username duplicate
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#8990 fix(pci.storages.databases):datatr-231 checked username duplicate with fullname comparison
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
Labels: bug, universe-public-cloud

#8557 fix: piano analytics tracking
  packages/components/ng-at-internet/package.json
  packages/components/ng-at-internet/src/index.js
  packages/components/ng-shell-tracking/package.json
  packages/components/ng-shell-tracking/src/index.js
  packages/components/ng-shell-tracking/src/provider.js
  packages/components/ovh-at-internet/src/config.ts
  packages/components/ovh-at-internet/src/constants.ts
  packages/components/ovh-at-internet/src/index.ts
  packages/components/ovh-at-internet/src/manager-tms.ts
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
  packages/components/ovh-at-internet/src/utils.ts
  packages/components/ovh-shell/src/plugin/tracking/index.ts
  packages/components/ovh-shell/src/plugin/tracking/tracking.ts
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/index.tsx
  packages/manager/apps/container/src/shims/piano-analytics.d.ts
  packages/manager/apps/container/vite-env.d.ts
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/components/at-internet/index.js
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/public-cloud/src/components/at-internet/index.js
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/sign-up/src/index.js
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/modules/at-internet-configuration/src/index.js
  yarn.lock
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, container, sign-up

#8985 feat(volume-backup): restore volume from volume backup
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/restore-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/restore-volume.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/restore-volume.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.service.js
Labels: quality check, feature, universe-public-cloud

#8993 feat(ai.apps): datatr-203 - add port to dashboard
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#9005 feat(ai.apps): datatr-233 - add columns to app list
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#9004 feat(ai.apps): datatr-235 - feat: add rolling update message
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-image/update-image.html
Labels: feature, translation required, universe-public-cloud

#9003 feat(ai.apps): datatr-201 - allow edition for fixed strategy
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
Labels: feature, universe-public-cloud

#8994 feat(ai.apps): datatr-196 - add ai deploy billing
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing.service.js
Labels: feature, translation required, universe-public-cloud

#8991 feat(ai.apps): datatr-209 - smooth out french syntax
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/components/start/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/components/stop/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/tokens/update/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8949 feat(ai.apps): datatr-191 - ai deploy ga - add image requirements message
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8948 feat(ai.apps): datatr-193 - ai deploy ga - change container wording
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/app-attach.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-attach/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8946 feat(ai.apps): datatr-192 - ai deploy ga - change resources wording
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#8963 feat(pci.storages.databases): datatr-136 changed the mongodb logo
  packages/manager/modules/pci/src/projects/project/storages/databases/assets/mongodb.png
Labels: quality check: ok, feature, universe-public-cloud

#8921 feat(pci.storages.databases): datatr-206 - add sort on duration for current queries
  packages/manager/modules/pci/src/projects/project/storages/databases/database/current-queries/current-queries.html
Labels: quality check: ok, feature, universe-public-cloud

#8891 fix(dedicated): ssh key comment can be anything
  packages/manager/apps/dedicated/client/app/components/sshkeySwitch/sshkeySwitch.js
  packages/manager/apps/dedicated/client/app/dedicated/server/install/image/components/config-drive/constants.js
  packages/manager/modules/billing/src/autoRenew/ssh/sshkeyMin.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8962 fix(domain): show authCode when domain is expired
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
Labels: quality check: ok, feature, universe-web-cloud

#9017 feat(dedicated.server): add raid 7 support
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Labels: feature, universe-bare-metal-cloud

#9020 fix(volume-backup): volume backup fixes
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/detach-volume.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
Labels: bug, quality check, universe-public-cloud

#9012 feat(iam): update app packages
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/iam.module.js
  packages/manager/apps/iam/src/iam.template.html
  packages/manager/apps/iam/webpack.config.js
Labels: feature

#9010 feat(iam): make routes a module
  packages/manager/modules/iam/src/routes/createPolicy.route.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/index.js
  packages/manager/modules/iam/src/routes/policies.route.js
  packages/manager/modules/iam/src/routes/policy.route.js
Labels: feature

#9009 feat(iam): make resolves a module
  packages/manager/modules/iam/src/resolves/breadcrumbs.resolve.js
  packages/manager/modules/iam/src/resolves/index.js
  packages/manager/modules/iam/src/resolves/translations/Messages_fr_FR.json
Labels: feature, translation required

#9008 feat(iam): make constants a module
  packages/manager/modules/iam/src/constants/index.js
Labels: feature

#9007 feat(iam): revamp components exports
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.module.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.resolves.js
  packages/manager/modules/iam/src/components/createPolicy/index.js
  packages/manager/modules/iam/src/components/iam/iam.module.js
  packages/manager/modules/iam/src/components/iam/index.js
  packages/manager/modules/iam/src/components/index.js
  packages/manager/modules/iam/src/components/policies/index.js
  packages/manager/modules/iam/src/components/policies/policies.component.js
  packages/manager/modules/iam/src/components/policies/policies.module.js
  packages/manager/modules/iam/src/components/policies/policies.resolves.js
  packages/manager/modules/iam/src/components/policy/index.js
  packages/manager/modules/iam/src/components/policy/policy.component.js
  packages/manager/modules/iam/src/components/policy/policy.module.js
  packages/manager/modules/iam/src/components/policy/policy.resolves.js
Labels: feature

#9006 feat(iam): lazy load iam module
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/index.scss
Labels: feature

#9000 fix(pci.storages.databases):datatr-234 check username duplicate with fullname mongodb
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
Labels: bug, universe-public-cloud

#9024 feat(volume-backup): banner in case no volumes
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/detach-volume.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-public-cloud

#9011 feat(iam): make services a module
  packages/manager/modules/iam/src/services/apiv2.service.js
  packages/manager/modules/iam/src/services/index.js
  packages/manager/modules/iam/src/services/policy.service.js
Labels: feature

#9013 feat(iam): set up the build env
  packages/manager/apps/dedicated/webpack.config.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/package.json
  packages/manager/tools/webpack-config/src/webpack.common.js
Labels: feature

#9033 fix(volume-backup): display volume catalog price
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
Labels: bug, quality check, universe-public-cloud

#9042 fix(dedicated.pcc): remove the disabled action menu on nsxt option
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Labels: bug, universe-bare-metal-cloud

#8849 feat(pci.storages.databases): datatr-44 add advanced roles mongoDB
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/users.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/features.constants.js
Labels: quality check: ok, feature, universe-public-cloud

#9031 fix(nasha): edit display name
  packages/manager/modules/nasha/src/dashboard/dashboard.controller.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8877 feat(dedicated.ip): add and modify text in organization edit modal
  packages/manager/apps/dedicated/client/app/ip/components/list/block/editAssociate/ip-ip-block-edit-associate.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#8892 fix(storage.cold-archive): use date grid property for user creationdate
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.html
Labels: bug, quality check: ok, universe-public-cloud

#8941 fix(storage.cold-archive): always display user tab active when selected
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#8863 fix(dedicated.ip): order ip on india server
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8887 feat(vps.snapshot): add download vps snapshot feature
  packages/manager/modules/vps/src/dashboard/index.js
  packages/manager/modules/vps/src/dashboard/modal/snapshot-download/index.js
  packages/manager/modules/vps/src/dashboard/modal/snapshot-download/snapshot-download.component.js
  packages/manager/modules/vps/src/dashboard/modal/snapshot-download/snapshot-download.constants.js
  packages/manager/modules/vps/src/dashboard/modal/snapshot-download/snapshot-download.controller.js
  packages/manager/modules/vps/src/dashboard/modal/snapshot-download/snapshot-download.html
  packages/manager/modules/vps/src/dashboard/modal/snapshot-download/snapshot-download.routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/vps/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/vps/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/vps/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/vps/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/vps/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#8872 fix(dedicated.server): hardware tile rework
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.controller.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.html
Labels: bug, quality check: ok

#8973 fix(ldp): object ownership on link usage
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/link/aliases-link.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/add/edit/logs-inputs-add-edit.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/edit-permissions/edit-permissions.controller.js
Labels: quality check: ok, universe-bare-metal-cloud

#9025 build: update yarn.lock on master
  yarn.lock
Labels: dependencies

#9044 feat(volume-backup): redirection to right listing page
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/create-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
Labels: feature, universe-public-cloud

#8989 ci(github): remove team-manager-core from MAINTAINERS, update CODEOWNERS
  .github/CODEOWNERS
  MAINTAINERS
Labels: continuous-integration, documentation

#9055 ci(github): update `CODEOWNERS` file
  .github/CODEOWNERS
Labels: continuous-integration

#9059 Feat/manager-10570: volume backup + blocks tracking
  packages/manager/modules/pci/src/projects/project/storages/blocks/block.constants.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/detach/detach.routing.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/create-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/create-volume.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/restore-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/restore-volume/restore-volume.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
Labels: feature, universe-public-cloud

#9056 fix(dedicated.server): display server interventions
  packages/manager/modules/bm-server-components/src/interventions/controller.js
Labels: bug, quality check: ok

#9048 fix(ip.agora-order): complete missed country param
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9028 fix(dedicated.payments): delete a contradiction for payment method
  packages/manager/modules/billing/src/payment/method/index.html
  packages/manager/modules/billing/src/payment/method/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#8740 feat(web): allow underscore in subdomain of txt records
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
Labels: quality check: ok, feature, universe-web-cloud

#9074 Revert "fix(dedicated.payments): delete a contradiction for payment method (#9028)"
  packages/manager/modules/billing/src/payment/method/index.html
  packages/manager/modules/billing/src/payment/method/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required

#9078 fix(dedicated.pcc): change onboarding logo
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/assets/vmware.png
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/assets/vmware.svg
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/onboarding.controller.js
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#8997 fix(pci): display supported regions for cloud-archive add
  packages/manager/modules/pci/src/projects/project/storages/cloud-archives/add/add.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#8905 fix(hub.account): add a banner to invit the customer to update the siret
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.component.js
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.html
  packages/manager/apps/dedicated/client/app/account/user/infos/user-infos.routing.js
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/user/user.routes.js
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.constant.js
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required, universe-hub, sign-up

#9076 feat(web):
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#8924 fix(hub.account): add incentive Pop up for updating the siret
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.component.js
  packages/manager/apps/hub/src/dashboard/dashboard.constant.js
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hub

#9035 fix typo in switch language in FR_FR
  packages/manager/apps/container/src/public/translations/language/Messages_fr_FR.json
Labels: translation required, container

#9085 fix(dedicated.server): upgrade private bandwidth
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9096 fix(ng-ovh-payment-method): disable adyen analytics
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/constants.js
Labels: bug, quality check: ok

#9086 ci(lint-staged): run ShellCheck on sh files
  .lintstagedrc.json
Labels: continuous-integration

#8967 feat(pci.storages.databases): datatr-197 create user already exist
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/users/add/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#9057 fix(projects.quota): handle http quota request fail
  packages/manager/modules/pci/src/projects/projects.service.js
Labels: bug, quality check: ok, universe-public-cloud

#9081 fix(dedicated.loadbalancer): fix translation issue
  packages/manager/modules/iplb/src/frontends/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9015 fix(dedicated.ip): changed the staggered tooltips comportement
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9040 fix(dedicated): hide server_configuration_netboot_option_power netboot
  packages/manager/modules/bm-server-components/src/netboot/template.html
Labels: bug

#9103 fix(dedicated.account): missing a translation on the state field
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#9113 Fix/manager-10570-tracking: Volume Backup Missed Tracking
  packages/manager/modules/pci/src/projects/project/storages/blocks/block.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
Labels: bug, universe-public-cloud, container

#8910 fix(storage): refresh users list on each display in the add container view for object-storage and cold-archive.
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/componenets/credential-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
  packages/manager/modules/pci/src/projects/project/storages/storage-users.service.js
Labels: bug, quality check: ok, translation required, universe-public-cloud

#9037 feat(storage.cold-archive): edit container delete success message
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#9036 feat(storage.cold-archive): replace beta label with new label in the side menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: quality check, feature, universe-public-cloud, container

#9098 Add precision about number of char required for a k8s pool name
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_fr_FR.json
Labels: translation required, universe-public-cloud

#9125 fix(storage.cold-archive): fix issue preventing display user-create info
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
Labels: bug, universe-public-cloud

#9087 feat(storages.cold-archive): Add more user informations to the add container success message
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud
