Repository ovh/manager, pull requests merged in 2023-12, with the labels that each got.

#10437 fix(web): typo in french
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#10440 feat(octavia): fixed typo on no floating ip banner
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
Labels: feature, translation required

#10443 feat(octavia): change deletion modale type to warning
  packages/manager/modules/octavia-load-balancer/src/delete/delete.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/delete/template.html
Labels: feature

#10361 feat(dedicated.support): rename "web hosting" item in support ticket
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_de_DE.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_en_GB.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_es_ES.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_CA.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_it_IT.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pl_PL.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#9985 fix(dedicated.server): display bandwidth plancode
  packages/manager/apps/dedicated/client/app/dedicated/server/bandwidth/public-order/public-order.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/private-order.html
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/order-private-bandwidth.html
  packages/manager/modules/nutanix/src/dashboard/component/order-private-bandwidth/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#10387 feat(web.hosting): db order: retrieve ram sizes from new api
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.routing.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.service.js
Labels: quality check: ok, feature, universe-web-cloud

#10408 fix(iam): fix guide url for us
  packages/manager/modules/iam/src/iam.constants.js
Labels: bug, quality check: ok

#10368 feat(web): update copy database success message
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Labels: feature, universe-web-cloud, translation required

#10427 feat(dedicated.network-security): dashboard category rename
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.routing.js
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required

#10433 feat(octavia.pools.members): add IP instance - step 1
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/style.less
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/service.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
Labels: feature, translation required

#10448 feat(octavia): add regex on load balancer name edition
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.html
Labels: feature

#10447 feat(iam): add permissions groups support in iam policy
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.component.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.component.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/iam.constants.js
  packages/manager/modules/iam/src/iam.service.js
  packages/manager/modules/iam/src/policy/create/create.routing.js
  packages/manager/modules/iam/src/policy/edit/edit.routing.js
Labels: quality check: ok, feature, translation required

#10418 feat(vrack-services): polling for ongoing operations
  packages/manager/apps/vrack-services/cucumber.js
  packages/manager/apps/vrack-services/e2e/constants.ts
  packages/manager/apps/vrack-services/e2e/features/create.feature
  packages/manager/apps/vrack-services/e2e/features/listing.feature
  packages/manager/apps/vrack-services/e2e/features/onboarding.feature
  packages/manager/apps/vrack-services/e2e/given.step.ts
  packages/manager/apps/vrack-services/e2e/then.step.ts
  packages/manager/apps/vrack-services/e2e/when.step.ts
  packages/manager/apps/vrack-services/features/listing.feature
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/order/order-details.ts
  packages/manager/apps/vrack-services/mock/vrack-services/task.ts
  packages/manager/apps/vrack-services/mock/vrack-services/vrack-services.ts
  packages/manager/apps/vrack-services/mock/vrack/association.ts
  packages/manager/apps/vrack-services/mock/vrack/vrack.ts
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/api/api.type.ts
  packages/manager/apps/vrack-services/src/api/order/hook.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/get.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/hook.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/put.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/vrack-services.type.ts
  packages/manager/apps/vrack-services/src/api/vrack/delete.ts
  packages/manager/apps/vrack-services/src/api/vrack/get.ts
  packages/manager/apps/vrack-services/src/api/vrack/hook.ts
  packages/manager/apps/vrack-services/src/api/vrack/index.ts
  packages/manager/apps/vrack-services/src/api/vrack/put.ts
  packages/manager/apps/vrack-services/src/components/EditableText.tsx
  packages/manager/apps/vrack-services/src/components/listing/DataGrid.tsx
  packages/manager/apps/vrack-services/src/index.tsx
  packages/manager/apps/vrack-services/src/pages/create/components/VrackConfirmModal.tsx
  packages/manager/apps/vrack-services/src/pages/create/components/ZoneFormField.tsx
  packages/manager/apps/vrack-services/src/pages/create/create.step.ts
  packages/manager/apps/vrack-services/src/pages/create/index.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/AssociateVrack.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/CreateVrack.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/DeliveringMessages.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/VrackAssociationModal.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/index/index.tsx
  packages/manager/apps/vrack-services/src/pages/onboarding/onboarding.step.ts
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/utils/date.ts
  packages/manager/apps/vrack-services/src/utils/ods-utils.ts
  playwright-helpers/bdd-setup.ts
  playwright-helpers/custom-world.ts
  playwright-helpers/mock.ts
  yarn.lock
Labels: feature, translation required, dependencies

#10468 fix(msc-utils): add private attribute to msc utils
  packages/super-components/utils/package.json
  yarn.lock
Labels: bug, dependencies

#10442 feat(octavia): changed listener edit button label
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_fr_FR.json
Labels: feature, translation required

#10456 feat(web.domain): datagrid - add the server details
  packages/components/ng-ovh-utils/package.json
  packages/components/ng-ovh-utils/src/index.js
  packages/components/ng-ovh-utils/src/textAccordion/controller.js
  packages/components/ng-ovh-utils/src/textAccordion/directive.js
  packages/components/ng-ovh-utils/src/textAccordion/styles.less
  packages/components/ng-ovh-utils/src/textAccordion/template.html
  packages/components/ng-ovh-utils/src/textAccordion/textAccordion.js
  packages/manager/apps/web/client/app/domain/domains.module.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/style.scss
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#10472 feat(dedicate.netapp): vrack services network tile on efs dashboard
  packages/manager/modules/netapp/package.json
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/module.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/routing.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/service.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/service.js
  packages/manager/modules/netapp/src/module.js
Labels: feature, universe-bare-metal-cloud, translation required

#10479 feat(octavia): filter pool list on loadbalancer id
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/service.js
Labels: feature

#10142 feat(pci.storages.databases): datatr-377 - rework availabilities
  packages/manager/modules/pci/src/components/project/storages/databases/availability.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/database.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/components/project/storages/databases/engine.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/components/project/storages/databases/flavor.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/plan.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/region.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/version.class.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.utils.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/delete-node/delete-node.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-plan/upgrade-plan.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.routing.js
Labels: quality check: ok, feature, universe-public-cloud

#10482 feat(dedicated.netapp): add efs dashboard polling when dissociating vrs
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/delete-network/controller.js
  packages/manager/modules/netapp/src/dashboard/delete-network/routing.js
  packages/manager/modules/netapp/src/dashboard/delete-network/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/index/component.js
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/routing.js
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/service.js
Labels: feature, universe-bare-metal-cloud, translation required

#10401 feat(account): restricted redirect url
  packages/manager/apps/dedicated/client/app/account/user/security/2fa/user-security-2fa.controller.js
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/core/src/redirection/redirection.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10488 feat(octavia): add ip instances step two
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/octavia-load-balancer/src/app.module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/style.less
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/translations/Messages_fr_FR.json
Labels: feature, translation required

#10386 feat(web): dns history MANAGER-12199
  packages/manager/apps/dedicated/client/app/components/services/services.constants.js
  packages/manager/apps/web/client/app/dns-zone/dashboard/dns-zone-dashboard.routing.js
  packages/manager/apps/web/client/app/dns-zone/dns-zone.service.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.constants.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.constants.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/restore/restore.html
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.html
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.html
  packages/manager/apps/web/client/app/dns-zone/history/history.module.js
  packages/manager/apps/web/client/app/dns-zone/history/history.routing.js
  packages/manager/apps/web/client/app/dns-zone/history/index.js
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/dns-zone/zone/zone.module.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.html
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/zone/zone.routing.js
  packages/manager/apps/web/package.json
  yarn.lock
Labels: quality check: ok, feature, universe-web-cloud, universe-bare-metal-cloud, dependencies

#10355 feat(web.domain): modify the information message about free hosting
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/general-informations/webhosting-enable/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud

#10420 feat(web.hosting): backup dbs - add filters and sort by snapshot date
  packages/manager/apps/web/client/app/hosting/database/dump/DUMPS.html
  packages/manager/apps/web/client/app/hosting/database/dump/hosting-database-dump.controller.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.constants.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.service.js
Labels: quality check: ok, feature, universe-web-cloud

#10462 fix(i18n): add missing translations [CDS 2650]
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#10363 fix(iam): fix policies display on small resolution
  packages/manager/modules/iam/src/iam.styles.scss
Labels: bug, quality check: ok

#10139 feat(iam): enhancing actions filtering
  packages/manager/modules/iam/src/components/actionSelect/ActionTrees.class.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required

#10494 fix(web.databases): add missing param for shared SQL database copy
  packages/manager/apps/web/client/app/hosting/database/copy/hosting-database-copy.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.service.js
Labels: bug, quality check: ok, universe-web-cloud

#10394 siret create a "corporation not created yet" path
  packages/components/ovh-at-internet/src/constants.ts
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/constants.js
  packages/manager/modules/sign-up/src/form/activity/controller.js
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/activity/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, sign-up

#10474 feat(telecom): add troubleshooting guide button
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/troubleshooting.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/troubleshooting.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/troubleshooting.html
Labels: quality check: ok, feature, universe-telecom

#10504 feat(octavia): uniformise flavor picker sizes
  packages/manager/modules/octavia-load-balancer/src/create/index.js
  packages/manager/modules/octavia-load-balancer/src/create/style.scss
  packages/manager/modules/octavia-load-balancer/src/create/template.html
Labels: feature

#10493 fix(pci.storages.databases): datatr-413 - mongodb discovery fixes
  packages/manager/modules/pci/src/components/project/storages/databases/databases.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/plans-list.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/dashboard.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#10392 feat(web-cloud): starter offer - attach subdomain checkbox disabled
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/add/ovh/hosting-multisite-add-ovh.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/add/ovh/hosting-multisite-add-ovh.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
Labels: quality check: ok, feature, universe-web-cloud

#10449 feat(vrack-services): overview page
  packages/manager/apps/vrack-services/e2e/constants.ts
  packages/manager/apps/vrack-services/e2e/features/listing.feature
  packages/manager/apps/vrack-services/e2e/given.step.ts
  packages/manager/apps/vrack-services/e2e/then.step.ts
  packages/manager/apps/vrack-services/e2e/when.step.ts
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/order/cart.ts
  packages/manager/apps/vrack-services/mock/order/order-details.ts
  packages/manager/apps/vrack-services/mock/vrack-services/vrack-services.ts
  packages/manager/apps/vrack-services/mock/vrack-services/zone.ts
  packages/manager/apps/vrack-services/mock/vrack/association.ts
  packages/manager/apps/vrack-services/mock/vrack/vrack.ts
  packages/manager/apps/vrack-services/src/components/Breadcrumb.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Endpoints.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Overview.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Subnets.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Tabs1.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Tabs2.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/_layout.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/dashboard.e2e.ts
  packages/manager/apps/vrack-services/src/pages/index/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/utils/date.ts
  packages/manager/apps/vrack-services/tsconfig.json
  playwright-helpers/mock.ts
Labels: feature, translation required

#10507 fix(ovh-at-internet): revert constants with prefix manager
  packages/components/ovh-at-internet/src/constants.ts
Labels: bug

#10490 feat(dedicated.network-security): add links to guide
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/network-security/network-security.constant.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.controller.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.html
Labels: universe-bare-metal-cloud, translation required

#10508 feat(octavia): make the loadbalancer ID copyable
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/template.html
Labels: feature

#10486 feat(dedicated.network-security): traffic chart updates
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.html
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required

#10409 feat(telecom): add headset pictures choices
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/accessories/telephony-accessories.constant.js
Labels: feature, universe-telecom

#10446 fix(dedicated.firewall): disable toggle button
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall-rule.service.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
Labels: universe-bare-metal-cloud

#10519 feat(octavia): updated success banner messages for member creation
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/translations/Messages_fr_FR.json
Labels: feature, translation required

#10480 feat(octavia): fixed edit lb name form validation
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/edit-name/edit-name.html
Labels: feature

#10528 fix(container): delete redirection hub catalog
  packages/manager/apps/container/src/core/routing/redirections.tsx
Labels: bug, container

#10533 Revert "feat(telecom): add headset pictures choices"
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/accessories/telephony-accessories.constant.js
Labels: universe-telecom

#10532 build(deps): update yarn lock
  yarn.lock
Labels: bug, dependencies

#10513 feat(web): add restore btn over view modal dns
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.html
  packages/manager/apps/web/client/app/dns-zone/history/history.routing.js
Labels: quality check: ok, feature, universe-web-cloud

#10464 feat(telephony): remove the mgcp banner
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.routing.js
Labels: quality check: ok, feature, universe-telecom

#9688 fix(pci): add trans for voucher error key
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#10539 feat(octavia): change load balancers name column size
  packages/manager/modules/octavia-load-balancer/src/load-balancers/styles.scss
Labels: feature

#10534 fix(dedicated): fix backup storage order modal closing
  packages/manager/modules/bm-server-components/src/ftp-backup-storage/order/dedicated-server-ftp-backup-order.controller.js
Labels: bug, quality check: ok

#10524 fix(iam): add identity to policy was removing managed permissions
  packages/manager/modules/iam/src/iam.service.js
Labels: quality check: ok

#10498 Delete an app goes to error and generate token not working
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.component.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.controller.js
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.html
  packages/manager/modules/pci/src/projects/project/ai-dashboard/tabs/users-tokens/create-token/create-token.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#10383 feat(pci.ai): modify http port in app
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/index.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/update-port.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/update-port.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/update-port.html
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/update-port.module.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/update-port.routing.js
Labels: quality check: ok, feature, universe-public-cloud

#10414 fix(ovhcloud-connect): fix label color status on pop config
  packages/manager/modules/cloud-connect/src/details/overview/template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10294 fix(telecom.voip): fix the class of button delete external number
  packages/manager/apps/telecom/src/app/telecom/telephony/line/calls/externalNumber/external-number.html
Labels: bug, quality check: ok, universe-telecom

#10541 fix(core): react tracking app delete init at launch
  packages/manager/core/application/src/ovh-tracking.tsx
Labels: bug, quality check: ok

#10514 feat(octavia): added provioning and operating status form members
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/overview/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancers.component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancers.html
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.constants.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.routing.js
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/translations/Messages_fr_FR.json
Labels: feature, translation required

#10543 fix(dedicated): fixed server unblocking
  packages/manager/modules/bm-server-components/src/service-status/service-status.controller.js
Labels: bug, quality check: ok

#10397 feat(web-cloud): multisite - detach a domain
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/popover/multisite.html
Labels: quality check: ok, feature, universe-web-cloud

#10376 feat(telecom.xdsl.access): add modem profile
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-telecom, translation required

#10520 feat(dedicated.network-security): tracking plan
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/rule/delete/ip-ip-firewall-game-rule-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/rule/delete/ip-ip-firewall-game-rule-delete.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/toggle/ip-ip-firewall-game-toggle.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/rule/delete/ip-ip-firewall-rule-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/toggle/ip-ip-firewall-toggle.controller.js
  packages/manager/apps/dedicated/client/app/network-security/index.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.constant.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.routing.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
Labels: universe-bare-metal-cloud

#10461 feat(web): add banneer and change placeholder
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/database/copy/hosting-database-copy.constants.js
  packages/manager/apps/web/client/app/hosting/database/copy/hosting-database-copy.controller.js
  packages/manager/apps/web/client/app/hosting/database/copy/hosting-database-copy.html
Labels: quality check: ok, feature, universe-web-cloud, translation required

#10497 fix(sidebar): add cluster and node level on dedicated
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
Labels: feature, container

#10551 feat(octavia): added provisionning status on load balancers list
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancers.component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancers.html
Labels: feature

#10489 feat(dedicated.network-security): update security dashboard
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/dedicated/client/app/network-security/network-security.service.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.controller.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.html
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.html
Labels: universe-bare-metal-cloud, container

#10545 fix(octavia): use inline label for pool persistant session
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/components/pool-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/components/pool-form/translations/Messages_fr_FR.json
Labels: bug, translation required

#10556 fix(web.mxplan): fix issue in diagnostic function
  packages/manager/modules/emailpro/src/domain/mx-autoconfig/emailpro-domain-mx-autoconfig.controller.js
Labels: bug, universe-web-cloud

#10553 feat(octavia): finalize tracking implementation
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.component.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.constants.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.controller.js
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/instances-table.html
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/delete/constants.js
  packages/manager/modules/octavia-load-balancer/src/delete/delete.component.js
  packages/manager/modules/octavia-load-balancer/src/delete/delete.controller.js
  packages/manager/modules/octavia-load-balancer/src/delete/delete.html
  packages/manager/modules/octavia-load-balancer/src/delete/delete.routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/edit-name/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/edit-name/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/delete/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancers.routing.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.constants.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/no-private-network/controller.js
  packages/manager/modules/octavia-load-balancer/src/onboarding/no-private-network/routing.js
Labels: feature

#10559 feat(dedicated.netapp): add vrack field to netapp network configuration
  packages/manager/modules/netapp/src/dashboard/network-configuration/component.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/constants.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/controller.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/routing.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/service.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/template.html
  packages/manager/modules/netapp/src/dashboard/network-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/service.js
  packages/manager/modules/netapp/src/dashboard/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#10457 feat(vrack-services): subnet onboarding page
  packages/manager/apps/vrack-services/e2e/constants.ts
  packages/manager/apps/vrack-services/e2e/features/subnet.feature
  packages/manager/apps/vrack-services/src/api/vrack-services/hook.ts
  packages/manager/apps/vrack-services/src/components/layout-helpers/OnboardingLayout.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/PageLayout.tsx
  packages/manager/apps/vrack-services/src/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Overview.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Subnets.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/utils.ts
  packages/manager/apps/vrack-services/src/pages/onboarding/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/subnets/Messages_fr_FR.json
Labels: feature, translation required

#10506 feat(vrack-services): upgrade react-query to v5 + create subnet
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/core/notifications/useNotifications.ts
  packages/manager/apps/vrack-services/e2e/features/overview.feature
  packages/manager/apps/vrack-services/e2e/features/subnet.feature
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/api/order/index.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/get.ts
  packages/manager/apps/vrack-services/src/components/CreationSuccessMessage.tsx
  packages/manager/apps/vrack-services/src/components/FormField.tsx
  packages/manager/apps/vrack-services/src/components/TileBlock.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/CreatePageLayout.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/OnboardingLayout.tsx
  packages/manager/apps/vrack-services/src/pages/create/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/CreateSubnet.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Overview.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Subnets.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/_layout.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/constants.ts
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/utils.ts
  packages/manager/apps/vrack-services/src/pages/index/components/AssociateVrack.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/CreateVrack.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/DeliveringMessages.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/index/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/utils/ods-utils.ts
  packages/manager/core/application/package.json
  packages/manager/core/application/src/hooks/useFeatureAvailability.ts
  yarn.lock
Labels: feature, translation required, dependencies, container

#10510 feat(vrack-services): subnet listing page
  packages/manager/apps/vrack-services/e2e/features/subnet.feature
  packages/manager/apps/vrack-services/e2e/then.step.ts
  packages/manager/apps/vrack-services/src/api/api.type.ts
  packages/manager/apps/vrack-services/src/api/order/hook.ts
  packages/manager/apps/vrack-services/src/components/Breadcrumb.tsx
  packages/manager/apps/vrack-services/src/components/ButtonTooltip.tsx
  packages/manager/apps/vrack-services/src/components/CreationSuccessMessage.tsx
  packages/manager/apps/vrack-services/src/components/DeliveringMessages.tsx
  packages/manager/apps/vrack-services/src/components/EditableText.tsx
  packages/manager/apps/vrack-services/src/components/Error.tsx
  packages/manager/apps/vrack-services/src/components/FormField.tsx
  packages/manager/apps/vrack-services/src/components/GuideLink/guide-utils.tsx
  packages/manager/apps/vrack-services/src/components/VrackDeleteModal.tsx
  packages/manager/apps/vrack-services/src/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.tsx
  packages/manager/apps/vrack-services/src/pages/create/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/CreateSubnet.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Overview.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Subnets.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/_layout.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/SubnetDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/SubnetDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/index/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/onboarding/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/utils/ods-utils.ts
  packages/manager/apps/vrack-services/src/utils/vs-utils.ts
  packages/super-components/_common/msw-helpers.ts
Labels: feature, translation required

#10544 feat(vrack-services): endpoints onboarding
  packages/manager/apps/vrack-services/e2e/features/endpoints.feature
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Endpoints.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/endpoints/Messages_fr_FR.json
Labels: feature, translation required

#10562 feat(octavia): add link to pool members from pools list
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/template.html
Labels: feature

#10566 feat(octavia): adding info regarding health monitor creation
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
Labels: feature, translation required

#10573 feat(public-cloud): instance dashboard changes
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.html
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
Labels: feature, universe-public-cloud

#10576 feat(dedicated.netapp): manage no vrack on associated vrack services
  packages/manager/modules/netapp/src/dashboard/delete-network/constants.js
  packages/manager/modules/netapp/src/dashboard/delete-network/controller.js
  packages/manager/modules/netapp/src/dashboard/delete-network/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/index/component.js
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/routing.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/network-configuration/controller.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/template.html
  packages/manager/modules/netapp/src/index.scss
Labels: feature, universe-bare-metal-cloud, translation required

#10585 feat(public-cloud): show available region
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: feature, universe-public-cloud

#10587 feat(octavia): bump ui kit
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iam/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up

#10588 feat(octavia): add new tag on container sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: feature, container

#10581 Feat/manager poc supercomponent to react 4
  packages/manager-components/package.json
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/core/tailwind-config/package.json
Labels: feature, continuous-integration, translation required, dependencies

#10454 feat(dedicated.ips): improve IPs grid performance by splitting API calls
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10558 fix(dedicated.pcc): us cta for ordering additional pcc environments
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds-order.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#10582 fix(i18n): add missing translations [CDS 2685]
  packages/manager/modules/bm-server-components/src/network-interfaces/template.html
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#10339 feat(dedicated.cloud-connect): add change bandwidth order
  packages/manager/modules/cloud-connect/src/cloud-connect.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.constants.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/component.js
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/controller.js
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/index.js
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/module.js
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/routing.js
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/service.js
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/template.html
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/change-bandwidth/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/overview/overview.component.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.module.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10571 fix(web.hosting): removing deceptive claims in the hosting change tunnel
  packages/manager/apps/web/client/app/components/hosting-domain-offers/constants.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/controller.js
  packages/manager/apps/web/client/app/components/hosting-domain-offers/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-web-cloud

#10527 feat(dedicated.pcc): add iceberg call for pcc operation datagrid
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/dedicatedCloud-operation.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/dedicatedCloud-operation.html
Labels: quality check: ok, feature, universe-bare-metal-cloud
