Repository ovh/manager, pull requests merged in 2024-09, with the labels that each got.

#12896 feat(veeam-backup): order veeam backup step 1
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/order-veeam/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/src/components/BillingLink/BillingLink.component.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeam.page.tsx
Labels: feature, universe-bare-metal-cloud, translation required

#12897 feat(hpc-vmware-managed-vcd): add compute datagrid
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/compute/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-compute.interface.ts
Labels: feature, translation required

#12916 fix(dedicated): fix rise 2 gb dashboard after plan change
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/modules/bm-server-components/src/server/server.service.js
Labels: bug, universe-bare-metal-cloud

#12920 fix(manager-components): region exports
  packages/manager-components/src/components/index.ts
  packages/manager-components/src/components/region/region.component.tsx
  packages/manager-components/src/components/region/region.spec.tsx
  packages/manager-components/src/components/region/region.stories.tsx
Labels: manager-components, common

#12889 feat(container): init vitest on container
  jest.config.js
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLinkTag.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLinkTag.test.tsx
  packages/manager/apps/container/src/setupTests.ts
  packages/manager/apps/container/vitest.config.js
Labels: feature, container

#12630 feat(pci-rancher): Update generate access modal and dashboard description
  packages/manager/apps/pci-rancher/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccessModal/GenerateAccesModal.component.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.component.tsx
Labels: feature, translation required, universe-public-cloud

#12939 fix(manager-components): datagrid delete overflow x
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
Labels: bug

#12851 feat(hub): created support tickets component
  packages/manager/apps/hub/public/translations/hub/error/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/hub/support/Messages_fr_FR.json
  packages/manager/apps/hub/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub/src/components/hub-support/HubSupport.constants.ts
  packages/manager/apps/hub/src/components/hub-support/HubSupport.spec.tsx
  packages/manager/apps/hub/src/components/hub-support/assets/assistance.png
  packages/manager/apps/hub/src/components/hub-support/hub-support-help/HubSupportHelp.component.tsx
  packages/manager/apps/hub/src/components/hub-support/hub-support-help/HubSupportHelp.spec.tsx
  packages/manager/apps/hub/src/components/hub-support/hub-support-table/HubSupportTable.component.tsx
  packages/manager/apps/hub/src/components/hub-support/hub-support-table/HubSupportTable.spec.tsx
  packages/manager/apps/hub/src/components/hub-support/hub-support-table/hub-support-table-item/HubSupportTableItem.component.tsx
  packages/manager/apps/hub/src/components/hub-support/hub-support-table/hub-support-table-item/HubSupportTableItem.spec.tsx
  packages/manager/apps/hub/src/components/tile-error/TileError.component.spec.tsx
  packages/manager/apps/hub/src/components/tile-error/TileError.component.tsx
  packages/manager/apps/hub/src/components/tile-skeleton/TileSkeleton.component.tsx
  packages/manager/apps/hub/src/components/tile-skeleton/TileSkeleton.spec.tsx
  packages/manager/apps/hub/src/data/api/apiHubSupport.ts
  packages/manager/apps/hub/src/data/hooks/apiHubSupport/useHubSupport.spec.tsx
  packages/manager/apps/hub/src/data/hooks/apiHubSupport/useHubSupport.tsx
  packages/manager/apps/hub/src/hooks/guideUtils/useGuideUtils.constants.ts
  packages/manager/apps/hub/src/hooks/guideUtils/useGuideUtils.spec.tsx
  packages/manager/apps/hub/src/hooks/guideUtils/useGuideUtils.tsx
  packages/manager/apps/hub/src/index.tsx
  packages/manager/apps/hub/src/types/support.type.ts
Labels: feature, translation required, universe-hub

#12914 feat(key-management-service): credentials creation step 1
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/components/credential/create/CreateGeneralInformations.constants.ts
  packages/manager/apps/key-management-service/src/components/credential/create/generalInformations/CreateGeneralInformationsCreationMethod.component.tsx
  packages/manager/apps/key-management-service/src/components/credential/create/generalInformations/CreateGeneralInformationsDescription.tsx
  packages/manager/apps/key-management-service/src/components/credential/create/generalInformations/CreateGeneralInformationsName.component.tsx
  packages/manager/apps/key-management-service/src/components/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagrid.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagridCells.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialStatus/CredentialStatus.component.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialStatus/CredentialStatus.spec.tsx
  packages/manager/apps/key-management-service/src/pages/credential/CreateCredential.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/Credential.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/createCredential.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/CredentialList.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/deactivateServiceKeyModal/DeactivateServiceKeyModal.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/editServiceKeyNameModal/EditServiceKeyNameModal.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialCreationMethod.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialCreationMethod.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialDescription.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialDescription.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialName.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateCredentialName.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateValidityDate.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validateValidityDate.ts
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.ts
Labels: feature, translation required, enabler

#12913 fix(pci-kubernetes): invalidate fetch query after kube rename
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
Labels: bug

#12938 fix(pci-kubernetes): fix cta translation
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTiles.component.tsx
Labels: bug

#12952 feat(pci-kubernetes): add TAPC changes to reset kube modal
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/GatewayManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/LoadBalancerSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/GatewayModeSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/GatewaySelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/SubnetSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/SubnetWarning.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
Labels: feature

#12848 feat(pci-public-ip): Onboarding page - Update guide link for US Manager
  packages/manager/apps/pci-public-ip/src/pages/onboarding/onboarding.constants.ts
Labels: quality check: ok, feature

#12935 fix(pci.block-storage): remove outdated free localzones banner
  packages/manager-react-components/src/components/action-banner/index.ts
  packages/manager-react-components/src/components/action-banner/pci/pci-free-localzones-banner.component.spec.tsx
  packages/manager-react-components/src/components/action-banner/pci/pci-free-localzones-banner.component.tsx
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_de_DE.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_en_GB.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_es_ES.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_fr_CA.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_fr_FR.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_it_IT.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_pl_PL.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_pt_PT.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/index.ts
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
Labels: bug, translation required

#12337 feat(hub): bypass fraud api call on us manager hub
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.constants.js
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.controller.js
Labels: quality check: ok, feature, universe-hub, stale

#12833 feat(dedicated.ip): save advance mode choice
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12944 feat(dedicated): change the sentence for IP location on order page
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12169 fix(dedicated.cdn): fix typo
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required, stale

#12452 fix(dedicated.account): disable access to kyc fraud without menu
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12881 feat(dedicated.vcd): tracking vcd
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/vmware-cloud-director/order/routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/vmware-cloud-director/order/routes.js
Labels: feature, universe-bare-metal-cloud, universe-hosted-private-cloud

#12999 fix(pci-kubernetes): fix onboadring page tiles
  packages/manager/apps/pci-kubernetes/src/pages/onboarding/Onboarding.page.tsx
Labels: bug

#13003 fix(pci-kubernetes): fix infinite load on service section
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterNetwork.component.tsx
Labels: bug

#12850 feat(telecom): section for sotphone theme
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/theme/theme.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#12951 feat(hub): created products list component
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/public/translations/hub/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_fr_FR.json
  packages/manager/apps/hub/src/_mock_/products.ts
  packages/manager/apps/hub/src/components/banner/Banner.component.tsx
  packages/manager/apps/hub/src/components/products/Products.component.tsx
  packages/manager/apps/hub/src/components/products/Products.constants.ts
  packages/manager/apps/hub/src/components/products/Products.spec.tsx
  packages/manager/apps/hub/src/components/products/Products.style.scss
  packages/manager/apps/hub/src/components/tile-grid-skeleton/TileGridSkeleton.component.tsx
  packages/manager/apps/hub/src/components/tile-grid-skeleton/TileGridSkeleton.spec.tsx
  packages/manager/apps/hub/src/components/tile-grid-skeleton/tile-skeleton/TileSkeleton.component.tsx
  packages/manager/apps/hub/src/components/tile-grid-skeleton/tile-skeleton/TileSkeleton.spec.tsx
  packages/manager/apps/hub/src/data/api/services.ts
  packages/manager/apps/hub/src/data/hooks/lastOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub/src/data/hooks/lastOrder/useLastOrder.tsx
  packages/manager/apps/hub/src/data/hooks/services/useServices.spec.tsx
  packages/manager/apps/hub/src/data/hooks/services/useServices.tsx
  packages/manager/apps/hub/src/hooks/products/useProducts.spec.tsx
  packages/manager/apps/hub/src/hooks/products/useProducts.ts
  packages/manager/apps/hub/src/index.tsx
  packages/manager/apps/hub/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub/src/pages/layout/layout.tsx
  packages/manager/apps/hub/src/types/services.type.ts
  yarn.lock
Labels: feature, translation required, dependencies, universe-hub

#13016 refactor(hpc-managed-vcd): remove deprecated components
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/region-label/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/region-label/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
Labels: refactor

#12905 fix(manager-components): pci-header fix k8s header urls
  packages/manager-components/src/components/guides-header/guides-header.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/__snapshots__/Detail.spec.tsx.snap
Labels: bug, manager-components, common

#12907 feat(hub): created order tracking component
  packages/manager/apps/hub/public/translations/hub/order/Messages_fr_FR.json
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub/src/components/hub-support/HubSupport.spec.tsx
  packages/manager/apps/hub/src/components/skeletons/Skeletons.component.tsx
  packages/manager/apps/hub/src/components/skeletons/Skeletons.spec.tsx
  packages/manager/apps/hub/src/components/tile-error/TileError.component.tsx
  packages/manager/apps/hub/src/data/api/apiOrder/apiOrder.constants.ts
  packages/manager/apps/hub/src/data/api/apiOrder/apiOrder.ts
  packages/manager/apps/hub/src/data/hooks/apiOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub/src/data/hooks/apiOrder/useLastOrder.tsx
  packages/manager/apps/hub/src/hooks/dateFormat/useDateFormat.spec.tsx
  packages/manager/apps/hub/src/hooks/dateFormat/useDateFormat.tsx
  packages/manager/apps/hub/src/index.tsx
  packages/manager/apps/hub/src/types/order.type.ts
Labels: feature, translation required, universe-hub

#13008 fix(pci-kubernetes): subnet selection
  packages/manager/apps/pci-kubernetes/src/components/network/SubnetSelector.component.tsx
Labels: bug

#13002 fix(pci-kubernetes): anti affinity max nodes
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
Labels: bug

#13006 feat(hpc-vmware-managed-vcd): add activate license
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useLicenseOrder.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/modules/order/src/order.constant.ts
Labels: feature, translation required, common

#12927 feat(dedicated.pcc): modify PCC services column
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#13017 fix(domain): whois actualization problem
  packages/manager/apps/web/client/app/domain/optin/optin.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#13049 Fix/dtcore 2568 2537
  packages/manager/apps/pci-kubernetes/src/components/network/GatewaySelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterNetwork.component.tsx
Labels: bug

#13027 fix(hpc-vmware-managed-vcd): fix build
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Labels: bug

#13056 fix(pci-kubernetes): fix edit network - loadbalancer subnet
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/pages/edit-network/EditNetwork.page.tsx
Labels: bug

#13057 fix(pci-kubernetes): fix loadbalaner warning link
  packages/manager/apps/pci-kubernetes/src/components/network/SubnetWarning.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
Labels: bug

#13063 fix(pci-kubernetes): delete nodepool delay
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Delete.page.tsx
Labels: bug

#13039 feat(hpc-vmware-managed-vcd): add storage datagrid
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/storage/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-datacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-storage.interface.ts
Labels: feature, translation required

#13044 feat(hpc-vmware-managed-vcd): update error message
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
Labels: feature, translation required

#13059 fix(pci-kubernetes): logs page subscribe button
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogHowTo.component.tsx
Labels: bug

#13058 fix(pci-kubernetes): remove dbaas logs iceberg cache
  packages/manager/apps/pci-kubernetes/src/api/data/dbaas-logs.ts
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
Labels: bug

#13055 fix(pci-kubernetes): subnet dropdown refresh
  packages/manager/apps/pci-kubernetes/src/pages/edit-network/EditNetwork.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
Labels: bug

#13054 fix(pci-kubernetes): nodepool anti affinity max node
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
Labels: bug

#12483 feat(iplb): move metrics to mimir
  package.json
  packages/components/ng-ovh-chart/package.json
  packages/components/ng-ovh-chart/src/directive.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/modules/iplb/package.json
  packages/manager/modules/iplb/src/dashboard/iplb.constants.js
  packages/manager/modules/iplb/src/graph/iplb-graph.controller.js
  packages/manager/modules/iplb/src/graph/iplb-graph.html
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.html
  yarn.lock
Labels: quality check: ok, feature, universe-bare-metal-cloud, dependencies, common

#12739 feat(dedicated.ip): order - add campus in step 1
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required, common

#13068 fix(pci-kubernetes): fix empty search reload
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
Labels: bug

#13067 fix(pci-kubernetes): add translation for cluster network data
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_pt_PT.json
Labels: bug

#12942 feat(container): removed old feedback button and logo for mobile
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/constants.ts
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/feedback/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/constants.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/context.ts
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/feedback/Messages_pt_PT.json
Labels: quality check: ok, feature, container

#13050 fix(ffth-eligibility): initialize eligible and not_eligible tables
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.controller.js
Labels: bug, quality check: ok, universe-telecom

#12638 fix(web.database): rename redis to caching
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#12620 feat(dedicated.ip): better services selection on ipv4 order
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#13088 fix(pci-kubernetes): fix stream subscription btn display
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/StreamSubscriptions.component.tsx
Labels: bug

#13078 fix(pci-kubernetes): fix kube logs responsive design
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Logs.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/KubeLogs.component.tsx
Labels: bug

#13090 fix(pci-kubernetes): break words for terminate kube title
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.tsx
Labels: bug

#13092 fix(pci-kubernetes): ldp account link
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/useStreamsListColumns.tsx
Labels: bug

#13091 fix(manager-react-components): catalog price german formatting
  packages/manager-react-components/src/hooks/useCatalogPrice.ts
Labels: bug

#12968 feat(veeam-backup): demo feedbacks + rebase on develop
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-react-components/src/hooks/date/index.ts
  packages/manager-react-components/src/hooks/date/useFormattedDate.spec.tsx
  packages/manager-react-components/src/hooks/date/useFormattedDate.ts
  packages/manager-react-components/src/hooks/index.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/setup-test.tsx
  packages/manager/apps/veeam-backup/src/App.tsx
  packages/manager/apps/veeam-backup/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/veeam-backup/src/components/Error/Error.tsx
  packages/manager/apps/veeam-backup/src/components/Links/BillingLink.component.tsx
  packages/manager/apps/veeam-backup/src/components/Links/VCDOrgInfoLink.component.tsx
  packages/manager/apps/veeam-backup/src/components/Messages/Messages.context.ts
  packages/manager/apps/veeam-backup/src/components/Messages/Messages.context.tsx
  packages/manager/apps/veeam-backup/src/data/hook/useOrganizations.ts
  packages/manager/apps/veeam-backup/src/data/hook/useRegions.ts
  packages/manager/apps/veeam-backup/src/data/hook/useVeeamBackup.ts
  packages/manager/apps/veeam-backup/src/hook/date.spec.tsx
  packages/manager/apps/veeam-backup/src/hook/date.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/DisplayName.component.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/SubscriptionTile.component.tsx
  packages/manager/apps/veeam-backup/src/pages/delete-veeam/DeleteVeeam.page.tsx
  packages/manager/apps/veeam-backup/src/pages/edit-name/EditVeeamBackupDisplayNameModal.page.tsx
  packages/manager/apps/veeam-backup/src/pages/layout.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/DatagridCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeam.page.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeamStep2.component.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/VCDOrganiationDatagridCell.component.tsx
  packages/manager/apps/veeam-backup/src/veeam-backup.config.ts
  packages/manager/apps/veeam-backup/tailwind.config.js
  packages/manager/apps/veeam-backup/tests/dashboard.spec.tsx
  packages/manager/apps/veeam-backup/tests/helpers/TestApp.tsx
  packages/manager/apps/veeam-backup/tests/helpers/index.ts
  packages/manager/apps/veeam-backup/tests/helpers/setup-test.tsx
  packages/manager/apps/veeam-backup/tests/helpers/test-i18n.ts
  packages/manager/apps/veeam-backup/tests/listing.spec.tsx
  packages/manager/apps/veeam-backup/tests/mocks/index.ts
  packages/manager/apps/veeam-backup/tests/mocks/region.json
  packages/manager/apps/veeam-backup/tests/mocks/vcd-organization.json
  packages/manager/apps/veeam-backup/tests/mocks/vcd-organization.ts
  packages/manager/apps/veeam-backup/tests/mocks/veeam-backup.json
  packages/manager/apps/veeam-backup/tests/mocks/veeam-backup.ts
  packages/manager/apps/veeam-backup/tests/onboarding.spec.tsx
  packages/manager/apps/veeam-backup/tests/order.spec.tsx
  packages/manager/apps/veeam-backup/vitest.config.js
  yarn.lock
Labels: feature, universe-bare-metal-cloud, translation required, dependencies, container

#13094 fix(pci-kubernetes): pool size form on create pages
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeSizeStep.component.tsx
Labels: bug

#13099 fix(pci-kubernetes): onboarding redirection
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
Labels: bug

#13087 feat(zimbra): add dns record diagnostic modal for srv mx and spf
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/domain/api.ts
  packages/manager/apps/zimbra/src/api/domain/key.ts
  packages/manager/apps/zimbra/src/components/DiagnosticBadge.tsx
  packages/manager/apps/zimbra/src/components/GuideLink.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/guides.constants.ts
  packages/manager/apps/zimbra/src/hooks/__test__/useDomain.spec.tsx
  packages/manager/apps/zimbra/src/hooks/index.ts
  packages/manager/apps/zimbra/src/hooks/useDomain.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/ModalDiagnosticDnsRecord.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/__test__/ModalsDiagnosticDNSRecord.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/GeneralInformation.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/dnsconfig.constants.ts
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Labels: feature, universe-web-cloud, translation required

#13115 refactor(pci-common): apps refactoring
  packages/manager/apps/pci-block-storage/src/api/data/catalog.ts
  packages/manager/apps/pci-block-storage/src/api/data/instance.spec.ts
  packages/manager/apps/pci-block-storage/src/api/data/instance.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useCatalog.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useConsumptionVolumesAddon.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-block-storage/src/pages/new/components/CapacityStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/HighSpeedV2Infos.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/PriceEstimate.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/ValidationStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/form.type.ts
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/useVolumeStepper.ts
  packages/manager/apps/pci-gateway/src/api/data/catalog.ts
  packages/manager/apps/pci-gateway/src/api/data/cloud-catalog.ts
  packages/manager/apps/pci-gateway/src/api/hooks/cloud-catalog.ts
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useCatalog.ts
  packages/manager/apps/pci-kubernetes/src/api/data/catalog.ts
  packages/manager/apps/pci-kubernetes/src/api/data/instance.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/instance.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/catalog.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/instances.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/instances.ts
  packages/manager/apps/pci-private-network/src/api/data/regions.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useProductAvailability.ts
  packages/manager/apps/pci-public-ip/src/api/data/catalog/formatted/ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/catalog/public/cloud.ts
  packages/manager/apps/pci-public-ip/src/api/data/instances.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/catalog/useCloudCatalog.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/catalog/useIpCatalog.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useData.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useInstances.ts
  packages/manager/apps/pci-public-ip/src/api/types.ts
  packages/manager/apps/pci-rancher/src/_mock_/catalog.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/data/api/services.ts
  packages/manager/apps/pci-rancher/src/types/api.type.ts
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.ts
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
  packages/manager/modules/manager-pci-common/src/api/data/catalog.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useAvailability.ts
  yarn.lock
Labels: refactor, dependencies, universe-public-cloud

#13109 feat(zimbra): add mailinglist datagrid
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/mailinglists/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/_mock_/index.ts
  packages/manager/apps/zimbra/src/api/_mock_/mailinglist.ts
  packages/manager/apps/zimbra/src/api/mailinglist/api.ts
  packages/manager/apps/zimbra/src/api/mailinglist/index.ts
  packages/manager/apps/zimbra/src/api/mailinglist/key.ts
  packages/manager/apps/zimbra/src/api/mailinglist/type.ts
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/hooks/index.ts
  packages/manager/apps/zimbra/src/hooks/useMailingList.ts
  packages/manager/apps/zimbra/src/hooks/useMailingLists.ts
  packages/manager/apps/zimbra/src/pages/dashboard/MailingList/MailingLists.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/ActionButtonMailingList.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/MailingLists.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/__test__/ActionButtonMailingList.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/__test__/MailingLists.spec.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/iamAction.constants.ts
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Labels: feature, universe-web-cloud, translation required

#13104 Feat/manager 14897: VCD Dashboard_General Info + Listing page: Name & Description fields
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
Labels: feature, translation required

#13114 fix(domains): dns-modify handle error
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-forms.html
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.state.js
Labels: bug, universe-web-cloud

#13144 fix(pci-kubernetes): flavor pricing vat
  packages/manager-react-components/src/hooks/useCatalogPrice.ts
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/FlavorBilling.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
Labels: bug

#13120 Feat/tapc 1511 instance list v1
  packages/manager/apps/pci-instance/src/routes/routes.tsx
  packages/manager/apps/pci-instances/.eslintrc.cjs
  packages/manager/apps/pci-instances/.gitignore
  packages/manager/apps/pci-instances/README.md
  packages/manager/apps/pci-instances/index.html
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/postcss.config.cjs
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/App.tsx
  packages/manager/apps/pci-instances/src/_mocks_/instances/handlers.ts
  packages/manager/apps/pci-instances/src/_mocks_/instances/node.ts
  packages/manager/apps/pci-instances/src/components/layout/Layout.component.tsx
  packages/manager/apps/pci-instances/src/components/spinner/Spinner.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/hooks/hidePreloader/useHidePreloader.ts
  packages/manager/apps/pci-instances/src/hooks/shellRoutingSync/useShellRoutingSync.ts
  packages/manager/apps/pci-instances/src/index.css
  packages/manager/apps/pci-instances/src/main.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/queryClient.ts
  packages/manager/apps/pci-instances/src/routes/Router.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/types/api.types.ts
  packages/manager/apps/pci-instances/src/types/utils.type.ts
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/src/utils/utils.spec.ts
  packages/manager/apps/pci-instances/src/vite-env.d.ts
  packages/manager/apps/pci-instances/src/vite-hmr.ts
  packages/manager/apps/pci-instances/tailwind.config.js
  packages/manager/apps/pci-instances/tsconfig.build.json
  packages/manager/apps/pci-instances/tsconfig.json
  packages/manager/apps/pci-instances/vite.config.ts
  packages/manager/apps/pci-instances/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies

#13139 feat(hpc-vmware-managed-vcd): remove onboarding breadcrumb
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
Labels: feature

#13151 fix(pci-common): fix availability.spec.ts failed tests
  packages/manager/modules/manager-pci-common/sample.spec.ts
  packages/manager/modules/manager-pci-common/setupTests.ts
  packages/manager/modules/manager-pci-common/src/api/data/availability.spec.ts
Labels: bug

#13152 feat(pci-workflow): rebase pci-workflow with master
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/pci-workflow/src/api/hooks/order.ts
  packages/manager/apps/pci-workflow/src/api/hooks/useExecutions.ts
  packages/manager/apps/pci-workflow/src/api/hooks/useInstances.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/components/actions.component.tsx
  packages/manager/apps/pci-workflow/src/components/new/NotSupportedTooltip.component.tsx
  packages/manager/apps/pci-workflow/src/components/new/ResourceSelector.component.tsx
  packages/manager/apps/pci-workflow/src/helpers/index.ts
  packages/manager/apps/pci-workflow/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-workflow/src/pages/Layout.tsx
  packages/manager/apps/pci-workflow/src/pages/delete/DeleteWorkflow.page.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/delete/DeleteWorkflow.page.tsx
  packages/manager/apps/pci-workflow/src/pages/executions/Executions.page.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/executions/Executions.page.tsx
  packages/manager/apps/pci-workflow/src/pages/executions/useExecutionDatagridColumns.tsx
  packages/manager/apps/pci-workflow/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
  packages/manager/apps/pci-workflow/src/pages/new/New.page.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowName.component.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowName.component.tsx
  packages/manager/apps/pci-workflow/src/pages/onboarding/OnBoarding.page.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/onboarding/OnBoarding.page.tsx
  yarn.lock
Labels: feature, dependencies

#13121 feat(pci-private-registry): use PciModal in credantials generation modal
  packages/manager/apps/pci-private-registry/src/pages/credentials/Credentials.page.tsx
  packages/manager/apps/pci-private-registry/tailwind.config.js
Labels: feature, has conflicts

#13159 fix(pci-instances): improve cache management for refresh function
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
Labels: bug

#13141 fix(telecom): change namings for url
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#12979 feat(manager-react-components): hook for service details api
  packages/manager-react-components/src/enumTypes/locale.tsx
  packages/manager-react-components/src/hooks/services/api/get.ts
  packages/manager-react-components/src/hooks/services/hooks/index.ts
  packages/manager-react-components/src/hooks/services/hooks/useServiceDetails.ts
  packages/manager-react-components/src/hooks/services/index.ts
  packages/manager-react-components/src/hooks/services/mocks/services.mock.ts
  packages/manager-react-components/src/hooks/services/services.type.ts
Labels: feature

#12981 fix(manager-react-components): fix datagrid resource fetching hooks
  packages/manager-react-components/src/hooks/datagrid/useIcebergV2.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.tsx
Labels: feature

#12985 feat(manager-components): make label optional in DashboardTile items
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.component.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.spec.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/tile-block.component.tsx
Labels: feature

#12987 fix(manager-react-components): fix onboarding template image
  packages/manager-react-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager-react-components/src/components/templates/onboarding/onboarding.stories.tsx
Labels: bug

#12989 fix(manager-react-components): action menu button display bug
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
Labels: bug

#12991 fix(manager-react-components): add isLoading on modals
  packages/manager-react-components/src/components/templates/delete-modal/delete-service-modal.component.tsx
  packages/manager-react-components/src/components/templates/update-name-modal/update-iam-name-modal.component.tsx
Labels: bug

#13156 fix(pci-private-registry): fix sonar duplication issues
  packages/manager/apps/pci-private-registry/src/api/data/registry.ts
  packages/manager/apps/pci-private-registry/src/api/hooks/useRegistry.ts
  packages/manager/apps/pci-private-registry/src/pages/list/List.page.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.spec.tsx
Labels: bug

#10855 fix(telecom): add missing translation for accesories
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-telecom

#13130 fix(web.hosting): remove reset password for modules
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/hosting.bundle.js
  packages/manager/apps/web/client/app/hosting/module/MODULE.html
  packages/manager/apps/web/client/app/hosting/module/update-password/hosting-module-update-password.controller.js
  packages/manager/apps/web/client/app/hosting/module/update-password/hosting-module-update-password.html
Labels: bug, quality check: ok, universe-web-cloud, translation required

#13125 fix(web.database): rename database grant enum
  packages/manager/apps/web/client/app/private-database/database/add/private-database-database-add.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#13137 fix(web): add all subs for offer banner
  packages/manager/apps/web/client/app/configuration/configuration.constants.js
  packages/manager/apps/web/client/app/configuration/configuration.controller.js
  packages/manager/apps/web/client/app/configuration/configuration.html
  packages/manager/apps/web/client/assets/images/banner/banner_offers_DE.png
  packages/manager/apps/web/client/assets/images/banner/banner_offers_EN.png
  packages/manager/apps/web/client/assets/images/banner/banner_offers_ES.png
  packages/manager/apps/web/client/assets/images/banner/banner_offers_FR.png
  packages/manager/apps/web/client/assets/images/banner/banner_offers_IT.png
  packages/manager/apps/web/client/assets/images/banner/banner_offers_PL.png
  packages/manager/apps/web/client/assets/images/banner/banner_offers_PT.png
Labels: bug, quality check: ok, universe-web-cloud

#12604 feat(web): change detail contact ssl provider
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/ssl/details/hosting-ssl-details.controller.js
  packages/manager/apps/web/client/app/hosting/ssl/details/hosting-ssl-details.html
Labels: quality check: ok, feature, universe-web-cloud

#13095 feat(zimbra): add administrator guides
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/guides.constants.ts
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/GeneralInformation.tsx
Labels: quality check: ok, feature, universe-web-cloud

#13040 feat(key-management-service): add services loader in sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/useServiceLoader.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: quality check: ok, feature, translation required, container

#13160 fix(zimbra): fix error if we don't have platform
  packages/manager/apps/zimbra/src/hooks/usePlatform.ts
Labels: bug, quality check: ok, universe-web-cloud

#12809 feat(dedicated.server): vmac banner
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/server-dashboard/index.js
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/index.js
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/vmac-unavailable-banner.component.js
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/vmac-unavailable-banner.constants.js
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/vmac-unavailable-banner.controller.js
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/vmac-unavailable-banner.html
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/vmac-unavailable-banner.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#13014 feat(dedicated): add vcd terms link for subs
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
Labels: quality check: ok, universe-bare-metal-cloud

#12904 feat(dedicated.vrack): add new eligibility services for vrack
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
  packages/manager/modules/vrack/src/partials/available.html
Labels: quality check: ok, universe-bare-metal-cloud

#12665 feat(dedicated): hide backup storage when not available
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/ftp-backup/ftp-backup.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/server/server.component.js
  packages/manager/modules/bm-server-components/src/server/server.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12478 fix(dedicated): modify information for unknown regions
  packages/manager/modules/bm-server-components/src/general-information/general-information.constants.js
  packages/manager/modules/bm-server-components/src/general-information/general-information.controller.js
  packages/manager/modules/bm-server-components/src/general-information/general-information.html
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#13064 feat(dedicated): open ipmi sol on us region
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
Labels: quality check: ok, feature

#13024 feat(kms): add kms and service key back links
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_pt_PT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/serviceKey.page.tsx
Labels: quality check: ok, feature, enabler

#12886 fix(pci-private-network): Fix Times New Roman on banners
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/components/maintenance/MaintenanceBanner.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/GatewaySummaryStep.tsx
Labels: bug, quality check: ok, universe-public-cloud

#12892 Fix(pci-private-network): Network instead of network
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_en_GB.json
Labels: bug, quality check: ok, universe-public-cloud, container

#13155 fix(hpc-vmware-managed-vcd): update vcd queries
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Labels: bug

#13041 fix(emailpro.account): update new support link to snow
  packages/manager/modules/emailpro/src/account/emailpro-account.controller.js
  packages/manager/modules/emailpro/src/account/emailpro-constants.js
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#13181 feat(pci-instances): tapc 1732 onboarding page
  packages/manager/apps/pci-instances/public/assets/instance.png
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/pages/onboarding/onboarding.constants.ts
Labels: feature, universe-public-cloud

#13187 fix(dedicated): add featureAvailibility to upd protocol on lb frontend
  packages/manager/modules/iplb/src/frontends/index.js
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, universe-bare-metal-cloud

#13193 feat(web): add mxplan chip for dkim
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Labels: feature, universe-web-cloud

#13208 Feat/tapc 1731 instance new page v1
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/CreateInstance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/onboarding.constants.ts
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Labels: feature, translation required

#13199 feat(pci-private-registry): use HashRouter JSX component
  packages/manager/apps/pci-private-registry/src/App.tsx
  packages/manager/apps/pci-private-registry/src/pages/Layout.tsx
  packages/manager/apps/pci-private-registry/src/routes.tsx
Labels: feature

#13214 fix(dedicated): fix featureAvailibility flag name
  packages/manager/modules/iplb/src/frontends/index.js
Labels: bug, universe-bare-metal-cloud

#13222 Revert "feat(dedicated.vrack): add new eligibility services for vrack…
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
  packages/manager/modules/vrack/src/partials/available.html
Labels: universe-bare-metal-cloud

#13134 feat(onboarding): improve onboarding template component
  packages/manager-react-components/src/components/templates/onboarding/onboarding.component.tsx
Labels: feature

#13126 feat(dedicated.vps): use sshKey component
  packages/manager/modules/vps/src/dashboard/modal/reinstall/vps-reinstall.controller.js
  packages/manager/modules/vps/src/dashboard/modal/reinstall/vps-reinstall.html
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#13169 fix(manager-components): fix DashboardLayoutGrid
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.component.tsx
  packages/manager-react-components/src/components/templates/layout/layout.component.tsx
Labels: bug

#13175 fix(manager-components): fix useOvhIam hook
  packages/manager-react-components/src/components/ManagerButton/ManagerButton.spec.tsx
  packages/manager-react-components/src/components/ManagerButton/ManagerButton.tsx
  packages/manager-react-components/src/components/ManagerText/ManagerText.spec.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.spec.tsx
  packages/manager-react-components/src/hooks/iam/iam.interface.ts
  packages/manager-react-components/src/hooks/iam/useOvhIam.tsx
Labels: bug

#13186 feat(manager-components): add error handling to RedirectionGuard
  packages/manager-react-components/src/components/redirection-guard/redirection-guard.component.tsx
  packages/manager-react-components/src/components/redirection-guard/redirection-guard.spec.tsx
Labels: feature

#13203 feat(manager-component): add button variant prop to ActionMenu
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
Labels: feature

#13240 feat(pci-load-balancer): add listing page
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.ts
  packages/manager/apps/pci-load-balancer/src/api/hooks/useLoadBalancer.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/hooks/useLoadBalancer.ts
  packages/manager/apps/pci-load-balancer/src/components/common.module.css
  packages/manager/apps/pci-load-balancer/src/components/listing/CreationDate.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/CreationDate.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/OperatingStatus.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/OperatingStatus.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/ProvisioningStatus.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/ProvisioningStatus.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/actions.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/actions.component.tsx
  packages/manager/apps/pci-load-balancer/src/constants.ts
  packages/manager/apps/pci-load-balancer/src/helpers/index.spec.ts
  packages/manager/apps/pci-load-balancer/src/helpers/index.ts
  packages/manager/apps/pci-load-balancer/src/layout.ts
  packages/manager/apps/pci-load-balancer/src/mocks/index.ts
  packages/manager/apps/pci-load-balancer/src/pages/listing/Listing.page.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/Listing.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/useDatagridColumn.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
  packages/manager/apps/pci-load-balancer/src/sample.spec.ts
  packages/manager/apps/pci-load-balancer/src/setupTests.tsx
  packages/manager/apps/pci-load-balancer/src/types/index.ts
  packages/manager/apps/pci-load-balancer/src/wrapperRenders.tsx
  packages/manager/apps/pci-load-balancer/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies

#13251 Fix/gh 13184
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.component.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/tile-block.component.tsx
Labels: bug, common

#13248 fix(manager-react-components): update header color in datagrid
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
Labels: bug

#13241 feat(zimbra): add loading to datagrids
  packages/manager/apps/zimbra/src/components/Loading/Loading.tsx
  packages/manager/apps/zimbra/src/hooks/useAccount.ts
  packages/manager/apps/zimbra/src/hooks/useAccountList.ts
  packages/manager/apps/zimbra/src/hooks/useDomains.ts
  packages/manager/apps/zimbra/src/hooks/useOrganizationsList.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
Labels: feature, universe-web-cloud

#13221 feat(kms): improve calendar and textera at credential creation
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsCreationMethod.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.ts
Labels: feature, enabler

#13247 test(manager-react-components): add testid props to Clipboard
  packages/manager-react-components/src/components/clipboard/clipboard.component.tsx
Labels: bug

#13259 fix(iplb): fix frontends edit controller
  packages/manager/modules/iplb/src/frontends/index.js
Labels: bug, universe-bare-metal-cloud

#13225 feat(veeam-backup): demo feedback
  packages/manager/apps/veeam-backup/e2e/features/onboarding.feature
  packages/manager/apps/veeam-backup/e2e/step-definitions/onboarding.step.ts
  packages/manager/apps/veeam-backup/public/translations/delete-veeam/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/useGuideUtils.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeamStep2.component.tsx
  packages/manager/modules/config/src/locale/country-code.enum.ts
Labels: feature, universe-bare-metal-cloud, translation required

#13277 fix(manager-react-components): make data-testid optional on clipboard
  packages/manager-react-components/src/components/clipboard/clipboard.component.tsx
Labels: bug

#13278 fix(zimbra): fix issue add domain and add account button
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
Labels: bug, universe-web-cloud

#13260 feat(pci-load-balancer): display load balancer detail with tabs
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia-load-balancer/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/octavia_load_balancer_overview/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/App.tsx
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.ts
  packages/manager/apps/pci-load-balancer/src/api/data/network.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer.tsx
  packages/manager/apps/pci-load-balancer/src/api/hook/useNetwork.tsx
  packages/manager/apps/pci-load-balancer/src/api/hooks/useLoadBalancer.ts
  packages/manager/apps/pci-load-balancer/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/detail/TileLine.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/Actions.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/CreationDate.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/CreationDate.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/OperatingStatus.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/OperatingStatus.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/ProvisioningStatus.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/ProvisioningStatus.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/listing/actions.component.spec.tsx
  packages/manager/apps/pci-load-balancer/src/constants.ts
  packages/manager/apps/pci-load-balancer/src/helpers/index.spec.ts
  packages/manager/apps/pci-load-balancer/src/helpers/index.ts
  packages/manager/apps/pci-load-balancer/src/mocks/index.ts
  packages/manager/apps/pci-load-balancer/src/pages/ErrorBoundary.tsx
  packages/manager/apps/pci-load-balancer/src/pages/Layout.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/certificates/Certificates.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/Listeners.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/overview/Configuration.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/overview/GeneralInformation.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/overview/Overview.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/Pools.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/statistics/Statistics.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/Listing.page.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/Listing.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/useDatagridColumn.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
  packages/manager/apps/pci-load-balancer/src/setupTests.tsx
  packages/manager/apps/pci-load-balancer/src/types/index.ts
Labels: feature, translation required

#13276 fix(hpc-managed-vcd): fix broken external links & bump react components
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/region/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  yarn.lock
Labels: bug, translation required, dependencies

#13282 fix(pci-load-balancer): move Logs folder to Log
  packages/manager/apps/pci-load-balancer/src/pages/detail/log/Log.page.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Labels: feature

#13269 feat(hpc-vmware-managed-vcd): fix vdc breadcrumb showing vcd desc
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
Labels: bug

#13266 feat(hpc-vmware-managed-vcd): fix vdc refresh error
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
Labels: bug

#13263 feat(hpc-vmware-managed-vcd): fix vcd dashboard refresh loader
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Labels: bug

#12966 feat(pci.project): display correctly the new location
  packages/manager-react-components/src/hooks/region/translations/Messages_de_DE.json
  packages/manager-react-components/src/hooks/region/translations/Messages_en_GB.json
  packages/manager-react-components/src/hooks/region/translations/Messages_es_ES.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_CA.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_FR.json
  packages/manager-react-components/src/hooks/region/translations/Messages_it_IT.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pl_PL.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_en_GB.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_es_ES.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_fr_CA.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_it_IT.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_pl_PL.json
  packages/manager/apps/pci-gateway/public/translations/regions/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-private-network/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/src/pages/new/steps/LocalizationStep.tsx
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/regions/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingRegions.ts
  packages/manager/apps/pci-users/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/api/data/region.ts
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud, common

#13216 Fix/manager 15371 - Fix error JS on container
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Labels: bug, quality check: ok, container, common

#13290 fix(pci-private-registry): plans
  packages/manager/apps/pci-private-registry/src/components/Plan.component.tsx
  packages/manager/apps/pci-private-registry/src/components/__snapshots__/Plan.component.spec.tsx.snap
  packages/manager/apps/pci-private-registry/src/pages/create/steps/PlanStep.tsx
Labels: bug

#13255 feat(config): add method to siwtch default language
  packages/manager/modules/config/src/locale/index.ts
Labels: feature, common

#13262 feat(veeam-backup): add check for organization on onboarding
  packages/manager/apps/veeam-backup/e2e/step-definitions/onboarding.step.ts
  packages/manager/apps/veeam-backup/e2e/utils/network.ts
  packages/manager/apps/veeam-backup/mocks/example/example-data.json
  packages/manager/apps/veeam-backup/mocks/example/example.ts
  packages/manager/apps/veeam-backup/mocks/iam.json
  packages/manager/apps/veeam-backup/mocks/iam.mock.ts
  packages/manager/apps/veeam-backup/mocks/index.ts
  packages/manager/apps/veeam-backup/mocks/vcd-organization.json
  packages/manager/apps/veeam-backup/mocks/vcd-organization.mock.ts
  packages/manager/apps/veeam-backup/mocks/veeam-backup.json
  packages/manager/apps/veeam-backup/mocks/veeam-backup.mock.ts
  packages/manager/apps/veeam-backup/public/translations/order-veeam/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/src/components/NoOrganizationMessage/NoOrganizationMessage.component.tsx
  packages/manager/apps/veeam-backup/src/data/hook/useOrganizations.ts
  packages/manager/apps/veeam-backup/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeamStep2.component.tsx
  packages/manager/apps/veeam-backup/tests/dashboard.spec.tsx
  packages/manager/apps/veeam-backup/tests/helpers/setup-test.tsx
  packages/manager/apps/veeam-backup/tests/mocks/index.ts
  packages/manager/apps/veeam-backup/tests/mocks/region.json
  packages/manager/apps/veeam-backup/tests/onboarding.spec.tsx
  packages/manager/apps/veeam-backup/tests/order.spec.tsx
Labels: feature, universe-bare-metal-cloud, translation required

#13212 feat(config): updated user auth interface to include latest updates
  packages/manager/modules/config/src/environment/user.ts
Labels: quality check: ok, feature

#13274 feat(hpc-vmware-managed-vcd): fix pen icon size
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
Labels: bug

#13300 build(manager-react-components): publish package
  packages/manager-react-components/package.json
Labels: bug, common

#13103 feat(pci-rancher): missing translation request
  packages/manager/apps/pci-rancher/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/public/translations/dashboard/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-public-cloud

#13129 Feat(pci.private-network): display the gateway column in the LZ datagrid
  packages/manager/apps/pci-private-network/src/hooks/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-private-network/src/hooks/useDatagridColumn.tsx
Labels: quality check: ok, feature, universe-public-cloud

#13173 fix(pci-kubernetes): disable logs for US region
  packages/manager/apps/pci-kubernetes/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-kubernetes/src/main.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
  packages/manager/apps/pci-kubernetes/src/store.ts
Labels: bug, quality check: ok

#13177 fix(pci-kubernetes): listing filters
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
Labels: bug, quality check: ok

#13180 fix(pci-kubernetes): sticky dicovery banner
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
Labels: bug, quality check: ok

#13195 fix(pci-kubernetes): subnet cache
  packages/manager/apps/pci-kubernetes/src/api/data/subnets.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
Labels: bug, quality check: ok

#13192 fix(pci-kubernetes): cluster creation edition
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/LocationStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeTypeStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/VersionStep.component.tsx
Labels: bug, quality check: ok

#12831 fix(pci.block-storage): add us link
  packages/manager/apps/pci-block-storage/src/pages/onboarding/onboarding.constants.ts
Labels: bug

#13298 feat(pci-load-balancer): add rename modal
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/edit-name/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer.tsx
  packages/manager/apps/pci-load-balancer/src/pages/delete/Delete.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/edit/Edit.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/overview/GeneralInformation.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/overview/Overview.page.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Labels: feature, translation required

#12828 fix(dedicated): fix iplist horizontal scroll
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.styles.scss
Labels: bug, quality check: ok, universe-bare-metal-cloud

#13066 fix(dedicated): reset page number on ip listing page
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#13306 fix(manager-react-components): update vite config file
  packages/manager-react-components/vite.config.mts
Labels: bug, common

#13207 fix(account): avoid to insert prefix on zipcode
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/field/new-account-form-field-component.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#13246 fix(dedicated): hide upd protocol when add server cluster on US
  packages/manager/modules/iplb/src/serverFarm/index.js
  packages/manager/modules/iplb/src/serverFarm/iplb-server-farm-edit.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12571 fix(dedicated): rename reverse menu for ipv6
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/additional-ipv6.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud
