Repository ovh/manager, pull requests merged in 2024-08, with the labels that each got.

#12572 feat(pci-kubernetes): add reset modal
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/data/network.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-kubernetes/src/components/GatewayManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/reset-kubeconfig/ResetKubeConfigContent.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset-kubeconfig/ResetKubeConfig.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Labels: feature, translation required

#12599 fix(web.hosting): badge dig status improvement
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#12573 feat(pci-kubernetes): manager ips restrictions
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/restriction.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRestriction.ts
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionAction.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionLine.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/restriction/useRestrictionColumns.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterVersionUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/restrictions/Restrictions.page.tsx
Labels: feature, translation required

#12606 fix(pci.k8s.network-form): change gateway layout
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
Labels: bug, universe-public-cloud

#12607 fix(pci.k8s.network-form): change gateway content
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#12578 fix(dedicated.hpc): fix offset query on operation datagrid
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12584 feat(*): send billing region on parameters for snow
  packages/manager/apps/container/src/container/common/urls-constants.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/constants.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/emails/user-emails.controller.js
  packages/manager/apps/dedicated/client/app/account/user/user.constants.js
  packages/manager/apps/telecom/src/app/app.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/manageContacts/manage-contacts.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/rma/rma.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/assist/support/support.controller.js
  packages/manager/modules/billing/src/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.constant.js
  packages/manager/modules/bm-server-components/src/support/constants.js
  packages/manager/modules/bm-server-components/src/support/controller.js
  packages/manager/modules/bm-server-components/src/upgrade-server/upgrade-server.controller.js
  packages/manager/modules/exchange/src/diagnostic/diagnostic.constants.js
  packages/manager/modules/exchange/src/diagnostic/diagnostic.controller.js
  packages/manager/modules/hub/src/components/support/constants.js
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/pci/src/projects/new/constants.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.controller.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase.constants.js
Labels: quality check: ok, feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hub, universe-public-cloud, container, common

#12587 fix(account): support level are not accessible anymore
  packages/manager/apps/dedicated/client/app/otrs/index.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12589 feat(pci-kubernetes): add modal for update/create/delete oidc provider
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/RemoveOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Labels: feature, translation required

#12610 feat(dedicated.pcc): update VCD migration guides
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#12614 fix(pci-kubernetes): typescript type error and add missing url
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/layout.ts
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
Labels: bug

#12595 fix(manager-components): fix clipboard export
  packages/manager-components/src/components/index.ts
Labels: bug, manager-components, common

#12597 feat(pci.k8s): edit network
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/details.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/edit-network.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/edit-network.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/edit-network.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/edit-network.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/edit-network.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Labels: feature, translation required, universe-public-cloud

#12590 fix(kms): fix breadcrumb
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/key-management-service/src/hooks/breadcrumb/useBreadcrumb.spec.tsx
  packages/manager/apps/key-management-service/src/hooks/breadcrumb/useBreadcrumb.ts
  packages/manager/apps/key-management-service/src/pages/create/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/serviceKeyList.page.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/onboarding/index.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/createKey.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/serviceKey.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
Labels: feature, translation required, enabler

#12612 feat(dedicated): add url param in service now url
  packages/manager/modules/bm-server-components/src/upgrade-server/upgrade-server.constants.js
Labels: bug, quality check: ok

#12623 Fix/yarn lock
  yarn.lock
Labels: bug, build, universe-web-cloud, universe-bare-metal-cloud, documentation, dependencies, universe-public-cloud, container, sign-up, manager-components, common

#12626 Feat/pci ai dashboard inactive context
  packages/manager/apps/pci-ai-dashboard/public/translations/pci-ai-dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-ai-dashboard/public/translations/pci-ai-dashboard/auth/Messages_fr_FR.json
  packages/manager/apps/pci-ai-dashboard/src/App.tsx
  packages/manager/apps/pci-ai-dashboard/src/__tests__/helpers/mocks/project.ts
  packages/manager/apps/pci-ai-dashboard/src/__tests__/helpers/wrappers/QueryClientWrapper.tsx
  packages/manager/apps/pci-ai-dashboard/src/__tests__/helpers/wrappers/RouterWithLocationWrapper.tsx
  packages/manager/apps/pci-ai-dashboard/src/__tests__/helpers/wrappers/RouterWithQueryClientWrapper.tsx
  packages/manager/apps/pci-ai-dashboard/src/components/links/Link.component.tsx
  packages/manager/apps/pci-ai-dashboard/src/components/links/Link.spec.tsx
  packages/manager/apps/pci-ai-dashboard/src/components/links/NavLink.component.tsx
  packages/manager/apps/pci-ai-dashboard/src/components/links/NavLink.spec.tsx
  packages/manager/apps/pci-ai-dashboard/src/configuration/polling.ts
  packages/manager/apps/pci-ai-dashboard/src/configuration/project.ts
  packages/manager/apps/pci-ai-dashboard/src/contexts/LoadingIndicator.context.tsx
  packages/manager/apps/pci-ai-dashboard/src/contexts/UserActivity.context.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/app/useGetApps.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/authorization/useGetAuthorization.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/capabilities/useGetRegions.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/datastore/useGetDatastore.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/datastore/useGetDatastoreAuth.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/datastore/useGetDatastores.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/guide/useGetGuides.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/job/useGetJobs.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/notebook/useGetNotebooks.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/registry/useGetRegistries.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/ai/token/useGetTokens.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/project/useGetProjects.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/usage/useGetUsage.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/useImmediateRefetch.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/api/user/useGetUsers.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/useUserActivity.hook.tsx
  packages/manager/apps/pci-ai-dashboard/src/hooks/useUserActivity.spec.tsx
  packages/manager/apps/pci-ai-dashboard/src/index.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/Root.layout.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/auth/auth.page.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/Dashboard.layout.spec.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/Dashboard.layout.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/_components/DashboardHeader.component.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/_components/DashboardTabs.component.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/docker/_components/privateDocker/PrivateDocker.component.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/git/Git.page.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/home/Home.page.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/home/_components/Billing.components.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/home/_components/Onboarding.spec.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/tokens/Tokens.page.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/users/Users.page.tsx
Labels: feature, translation required

#12629 fix(pci-kubernetes): flavor selector
  packages/manager/apps/pci-kubernetes/tailwind.config.js
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorSelector.component.tsx
Labels: bug

#12621 feat(pci-kubernetes): unsubscribe action
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Logs.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Streams.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTileUnsubscribeAction.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTiles.component.tsx
Labels: feature

#12634 feat(pci.ai-dashbaord): add tooltip and final check
  packages/manager/apps/pci-ai-dashboard/public/translations/pci-ai-dashboard/docker/Messages_fr_FR.json
  packages/manager/apps/pci-ai-dashboard/public/translations/pci-ai-dashboard/tokens/Messages_fr_FR.json
  packages/manager/apps/pci-ai-dashboard/public/translations/pci-ai-dashboard/users/Messages_fr_FR.json
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/docker/_components/sharedDocker/SharedDocker.component.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/tokens/_components/AddToken.component.tsx
Labels: feature, translation required

#12631 feat(dedicated.pcc): update vcd migration guides
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#12644 fix(manager-components): export enum types
  packages/manager-components/src/lib.ts
Labels: feature, manager-components, common

#12586 feat(pci-rancher): Configuration page - Change banner content
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#12376 feat(container): added tooltip to reduced left pannel
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/tooltip/SidebarTooltipLink.tsx
Labels: feature, container

#12628 test(pci-kubernetes): test for modals
  packages/manager/apps/pci-kubernetes/src/api/data/cloud.ts
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/RemoveOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset-kubeconfig/ResetKubeConfig.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.tsx
Labels: feature

#12605 feat(pci-kubernetes): private network selector component
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/network.ts
  packages/manager/apps/pci-kubernetes/src/api/data/subnets.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-kubernetes/src/components/create/LoadBalancerSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PrivateNetworkSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PublicPrivateGateway.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/SubnetSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
Labels: feature, translation required

#12639 feat(pci-kubernetes): add the billing and antiAffinity step
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/create/BillingAndAntiAffinityStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/FlavorBilling.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
Labels: feature, translation required

#12636 feat(public-cloud): add kms menu entry
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
Labels: feature, container

#12661 Sync/master develop
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/common/urls-constants.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/constants.ts
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/emails/user-emails.controller.js
  packages/manager/apps/dedicated/client/app/account/user/user.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/otrs/index.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/exchange/CHANGELOG.md
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/manageContacts/manage-contacts.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/rma/rma.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/assist/support/support.controller.js
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.constant.js
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/bm-server-components/src/support/constants.js
  packages/manager/modules/bm-server-components/src/support/controller.js
  packages/manager/modules/bm-server-components/src/upgrade-server/upgrade-server.constants.js
  packages/manager/modules/bm-server-components/src/upgrade-server/upgrade-server.controller.js
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/exchange/src/diagnostic/diagnostic.constants.js
  packages/manager/modules/exchange/src/diagnostic/diagnostic.controller.js
  packages/manager/modules/hub/CHANGELOG.md
  packages/manager/modules/hub/package.json
  packages/manager/modules/hub/src/components/support/constants.js
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/constants.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.controller.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase.constants.js
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, common

#12342 feat(manager-components): add base template
  packages/manager-components/src/components/templates/base/base.component.tsx
  packages/manager-components/src/components/templates/base/base.spec.tsx
  packages/manager-components/src/components/templates/base/base.stories.css
  packages/manager-components/src/components/templates/base/base.stories.tsx
  packages/manager-components/src/components/templates/dashboard/dashboard.stories.tsx
  packages/manager-components/src/components/templates/index.ts
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
Labels: feature, manager-components, common

#12654 fix(key-management-service): keys dashboard labels modifications
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
Labels: bug, translation required, enabler

#12655 Fix Keys Dashboard - Creation date
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/serviceKey.page.tsx
Labels: bug, enabler

#12656 Keys Dashboard - Renaming feature updates
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/serviceKey/modals/ServiceKeyEditNameModal.component.tsx
Labels: bug, translation required, enabler

#12645 feat(pnr): add tracking to pnrv2
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/introduction.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Labels: feature, container

#12647 feat(dedicated.nutanix): change link for byol in dashboard
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
Labels: feature, universe-hosted-private-cloud

#12669 feat(dedicated.nutanix): change link for package v2
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/component.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/index.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-features/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-legacy-features/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-legacy-features/index.js
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/licence-tile-legacy-features/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/component/licence-tile/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hosted-private-cloud

#12311 build(deps) : standardise react and vite libs
  package.json
  packages/components/ovh-shell/package.json
  packages/manager-components/package.json
  packages/manager-components/vite.config.ts
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-gateway/tsconfig.json
  packages/manager/apps/pci-gateway/vite.config.ts
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-network/tsconfig.json
  packages/manager/apps/pci-private-network/vite.config.ts
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.component.tsx
  packages/manager/apps/pci-public-ip/tsconfig.json
  packages/manager/apps/pci-public-ip/vite.config.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/vite.config.mjs
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-ssh-keys/tsconfig.json
  packages/manager/apps/pci-ssh-keys/vite.config.ts
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/src/pages/token/generate/GenerateOpenStackTokenPage.tsx
  packages/manager/apps/pci-users/tsconfig.json
  packages/manager/apps/pci-users/vite.config.ts
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-vouchers/tsconfig.json
  packages/manager/apps/pci-vouchers/vite.config.ts
  packages/manager/apps/procedures/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/vite.config.mjs
  packages/manager/apps/zimbra/package.json
  packages/manager/core/api/package.json
  packages/manager/core/application/package.json
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/request-tagger/package.json
  packages/manager/core/shell-client/package.json
  packages/manager/core/sso/package.json
  packages/manager/core/url-builder/package.json
  packages/manager/core/vite-config/src/config.js
  packages/manager/modules/order/package.json
  yarn.lock
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, dependencies, universe-public-cloud, container, enabler, common

#12667 feat(container): added switch Standard/beta version on mobile
  packages/manager/apps/container/src/container/common/constants.ts
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/legacy/navbar/Navbar.tsx
  packages/manager/apps/container/src/container/legacy/navbar/navbar.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/style.module.scss
Labels: feature, container

#12673 feat(manager-components): add introduction in storybook
  packages/manager-components/.storybook/main.ts
  packages/manager-components/src/docs/introduction.mdx
Labels: feature, manager-components, common

#12653 fix(pci-kubernetes): upgrade breadcrumb and make some fixes
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterVersionUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/TileButton.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/update/UpdateVersionContent.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
Labels: bug

#12518 fix(hub): change translation from private sql to web cloud databases
  packages/manager/modules/hub/src/components/products/translations/Messages_de_DE.json
  packages/manager/modules/hub/src/components/products/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/products/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/products/translations/Messages_it_IT.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-hub

#12523 fix(web.exchange): active auto configure spf on echange and emailpro
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/exchange/src/domain/add/domain-add.controller.js
Labels: bug, quality check: ok, universe-web-cloud, common

#12568 fix(web): fix translations for cgu boost offer
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#12488 fix(telecom.telephony): change rule for district field in directory
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/service/contact/contact.controller.js
Labels: bug, quality check: ok, universe-telecom

#12336 fix(web.hosting): fix columns order for pending tasks datagrid
  packages/manager/apps/web/client/app/hosting/task/TASK.html
Labels: bug, quality check: ok, universe-web-cloud

#12666 fix(web.hosting): fix issue link add domain
  packages/manager/apps/web/client/app/hosting/multisite/order/hosting-multisite-order.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#12664 fix(web.hosting): fix issue with log access on multisite
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/logs/hosting-multisite-logs.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#12310 fix(pack.move): check offer type before overwrite floor value
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
Labels: bug, quality check: ok, universe-telecom

#12443 fix(telecom.overthebox): fix concat version for translation
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
Labels: bug, quality check: ok, universe-telecom

#12454 fix(telecom.overthebox): use filter bandwidth for fix unit issue
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/overthebox/src/overthebox/details/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
Labels: bug, quality check: ok, universe-telecom

#12619 fix(telecom.sms): implement iceberg call for blacklisted receivers
  packages/manager/modules/sms/src/sms/options/blacklist/telecom-sms-options-blacklist.controller.js
  packages/manager/modules/sms/src/sms/telecom-sms.service.js
Labels: bug, quality check: ok, universe-telecom

#12670 feat(container): add veeam-backup in pnr menu
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
Labels: feature, container

#12617 feat(container): kyc india verfy identity modal
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/hooks/useIdentityDocumentsStatus.tsx
  packages/manager/apps/container/src/identity-documents-modal/IdentityDocumentsModal.tsx
  packages/manager/apps/container/src/identity-documents-modal/constants.ts
  packages/manager/apps/container/src/public/translations/identity-documents-modal/Messages_fr_FR.json
Labels: feature, translation required, container

#12029 feat(pci-gateway): warning banner displayed when it should not
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
Labels: quality check: ok, feature, universe-public-cloud

#12646 fix(pci.instances): fix discovery text message
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#12603 fix(i18n): add missing translations [CDS 3207]
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud

#12140 feat(pci.project): remove mediation price change banner
  packages/manager/apps/pci-block-storage/index.html
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.constants.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.controller.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.html
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/index.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/components/index.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: quality check: ok, feature, universe-public-cloud

#12470 fix(dedicated.netapp): limit manual snapshot to 50
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/constants.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/constants.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12164 feat(container): improve accessibility pnr
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/introduction.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
Labels: quality check: ok, feature, container

#12403 feat(container): cookie consent popin x do nothing
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
Labels: quality check: ok, feature, container

#12520 fix(i18n): add missing translations [CDS 3183]
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
Labels: bug, quality check: ok, container

#12651 feat(dedicated): remove usb kvm order
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/index.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/component.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/index.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/template.html
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12156 feat(container): updated of the user login chip link
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
Labels: feature, container

#12108 feat(container): bullet added on pnr lvl 2
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Labels: quality check: ok, feature, container

#12580 feat(container): reduce left pannel text and ovhcloud logo
  packages/manager/apps/container/src/container/common/Logo/index.tsx
  packages/manager/apps/container/src/container/common/Logo/style.module.scss
  packages/manager/apps/container/src/container/common/constants.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/context.ts
Labels: quality check: ok, feature, container

#12472 fix(dedicated.vps): disable reseller upgrade vps
  packages/manager/modules/vps/src/dashboard/tile/configuration/component.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/index.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/import/vps.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12562 feat(dedicated): add a link user guide for US
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.constant.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12537 feat(dedicated.ldp): back button on subscriptions
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.html
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12502 feat(dedicated): fix bandwidth tile word break
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/public-bandwidth-tile-definition/template.html
Labels: quality check: ok, feature

#12521 feat(dedicated.ldp): implement cancel button
  packages/manager/modules/billing-components/src/components/cancellation-form/confirm-terminate.constants.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/confirmTerminate/termination.routing.js
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.constants.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/home.routing.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.html
  packages/manager/modules/dbaas-logs/src/logs/detail/home/resiliate/resiliate.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/resiliate/resiliate.routing.js
  packages/manager/modules/dbaas-logs/src/logs/list/list.component.js
  packages/manager/modules/dbaas-logs/src/logs/list/list.module.js
  packages/manager/modules/dbaas-logs/src/logs/list/list.routing.js
  packages/manager/modules/dbaas-logs/src/logs/list/logs-list.html
  packages/manager/modules/dbaas-logs/src/logs/list/resiliate/index.js
  packages/manager/modules/dbaas-logs/src/logs/list/resiliate/resiliate.module.js
  packages/manager/modules/dbaas-logs/src/logs/list/resiliate/resiliate.routing.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, common

#12450 feat(dedicated.ip): order - add campus in step 1
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud, translation required, common

#12505 feat(dedicated): update guide urls
  packages/manager/modules/core/src/redirection/redirection.constants.js
  packages/manager/modules/nutanix/src/onboarding/constants.js
Labels: quality check: ok, feature, universe-hosted-private-cloud, common

#12598 fix(dedicated): add translation for region
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12511 fix(dedicated.ip): add missing import
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12087 feat(container): update translation key sidebar_service_add
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: quality check: ok, feature, container

#12369 feat(dedicated): normalize server state links
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_pt_PT.json
Labels: quality check: ok, feature

#11721 feat(dedicated): OS installation wizard improvements - bundle
  packages/manager/apps/dedicated/client/app/css/less/common/table.less
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/installation/choice/choice.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/installation/choice/choice.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/installation/choice/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/choice/choice.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/choice/choice.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/choice/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/general-information/general-information.html
  packages/manager/modules/bm-server-components/src/general-information/index.js
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/index.js
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/server-installation-choice.component.js
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/server-installation-choice.constants.js
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/server-installation-choice.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/server-installation-choice.html
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
  packages/manager/modules/bm-server-components/src/general-information/installation/progress/server-installation-progress.html
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#12489 feat(pci): log to customer error on success banner
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_CA.json
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, translation required, common

#12503 fix(key-management-service): delete and sync translations files
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/Messages_pt_PT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/components/Modal/terminate/TerminateModal.component.tsx
  packages/manager/apps/key-management-service/src/pages/_app.tsx
Labels: bug, quality check: ok, enabler

#12532 fix(iam): add some product type translation
  packages/manager/modules/iam/src/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#12513 fix(iam): wrong label on policy form in en
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_en_GB.json
Labels: bug, quality check: ok

#12271 fix(dedicated.vps): add warn message on reinstall vps modal
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/rebuild/translations/Messages_pt_PT.json
  packages/manager/modules/vps/src/dashboard/rebuild/vps-rebuild.constants.js
  packages/manager/modules/vps/src/dashboard/rebuild/vps-rebuild.controller.js
  packages/manager/modules/vps/src/dashboard/rebuild/vps-rebuild.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12110 feat(dedicated): modify content of iplb banner
  packages/manager/modules/iplb/src/home/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/home/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/home/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/home/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/home/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/home/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/home/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/home/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#12368 fix(dedicated.vps): dashboard improvements
  packages/manager/modules/vps/src/dashboard/tile/configuration/component.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/controller.js
  packages/manager/modules/vps/src/dashboard/tile/configuration/index.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/vps/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/vps/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/vps/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/vps/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/vps/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#12693 fix(kms): fix key usage traduction
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
Labels: bug, translation required, enabler

#12697 fix(kms): add missing key origin
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/pages/serviceKey/serviceKey.page.tsx
Labels: bug, translation required, enabler

#12702 fix(kms): delete key notification messages
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
Labels: bug, translation required, enabler

#12692 KMS Dashboard - Missing status on the dashboard
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/okmsServiceState/OkmsServiceState.component.tsx
  packages/manager/apps/key-management-service/src/data/hooks/useKMSServiceInfos.ts
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/src/types/okmsService.type.ts
Labels: feature, translation required, enabler

#12701 KMS Listing page - Missing status on the data grid
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
Labels: feature, translation required, enabler

#12676 feat(hpc-vmware-managed-vcd): update onboarding page
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
Labels: feature, translation required

#12624 feat(pci.k8s.network-form): new gateway ux
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.styles.scss
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_pt_PT.json
Labels: feature, translation required, universe-public-cloud

#12728 fix: update pci-databases-analytics test command
  packages/manager/apps/pci-databases-analytics/package.json
Labels: bug

#12718 fix(pci-kubernetes): add tracking, fix tests
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Streams.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogHowTo.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTiles.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/StreamSubscriptions.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/setupTests.ts
Labels: bug

#12723 feat(pci-private-registry): add list page
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-private-registry/src/api/data/registry.ts
  packages/manager/apps/pci-private-registry/src/api/hooks/useRegistry.ts
  packages/manager/apps/pci-private-registry/src/components/listing/Action.component.tsx
  packages/manager/apps/pci-private-registry/src/components/listing/RegistryPlan.component.tsx
  packages/manager/apps/pci-private-registry/src/components/listing/RegistrySpace.component.tsx
  packages/manager/apps/pci-private-registry/src/components/listing/RegistryStatus.component.spec.tsx
  packages/manager/apps/pci-private-registry/src/components/listing/RegistryStatus.component.tsx
  packages/manager/apps/pci-private-registry/src/constants.ts
  packages/manager/apps/pci-private-registry/src/helpers/index.ts
  packages/manager/apps/pci-private-registry/src/pages/Layout.spec.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/useDatagridColumn.tsx
  packages/manager/apps/pci-private-registry/src/routes.tsx
  packages/manager/apps/pci-private-registry/src/setupTests.ts
  packages/manager/modules/manager-pci-common/src/hooks/bytes/useBytes.ts
Labels: feature, translation required

#12699 feat(pci.k8s.network-form): wrong alignement
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/edit-network/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
Labels: feature, universe-public-cloud

#12714 fix(pci-kubernetes): link style, responsive tiles
  packages/manager/apps/pci-kubernetes/src/index.css
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
Labels: bug

#12740 fix(manager-components): onboarding order button disabled
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
Labels: bug, manager-components, common

#12748 fix(telecom.telephony): change property device id for softphone
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteModal/delete-modal.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteModal/delete-modal.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/sendLinkByMail/send-link.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/sendLinkByMail/send-link.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/sendLinkByMail/send-link.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
Labels: bug, universe-telecom

#12703 feat(zimbra): preparation to add alias feature
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/_mock_/alias.ts
  packages/manager/apps/zimbra/src/api/_mock_/index.ts
  packages/manager/apps/zimbra/src/api/alias/api.ts
  packages/manager/apps/zimbra/src/api/alias/index.ts
  packages/manager/apps/zimbra/src/api/alias/key.ts
  packages/manager/apps/zimbra/src/api/alias/type.ts
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AccountTabsPanel.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ActionButtonAlias.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ActionButtonEmail.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsAlias.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/AddAndEditEmailAccount.spec.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/iamAction.constants.ts
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Labels: feature, universe-web-cloud, translation required

#12575 feat(web): delete the big back on label databases archives
  packages/manager/apps/web/client/app/private-database/database/archive/list/private-database-database-archive-list.html
Labels: quality check: ok, feature, universe-web-cloud

#12566 feat(*): deactivated the transparency of the support popup
  packages/components/ng-ovh-otrs/src/otrs-popup/otrs-popup.less
Labels: quality check: ok, feature, common

#12681 feat(pci-kubernetes): add traking for service page with all modals
  packages/manager/apps/pci-kubernetes/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/RemoveOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset-kubeconfig/ResetKubeConfig.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.tsx
  packages/manager/apps/pci-kubernetes/src/tracking.constants.ts
Labels: feature

#12658 fix(web): access to database list grant user
  packages/manager/apps/web/client/app/private-database/user/grants/private-database-user-grants.html
Labels: bug, quality check: ok, universe-web-cloud

#12745 fix(manager-components): datagrid align content left
  packages/manager-components/src/components/datagrid/datagrid.component.tsx
Labels: bug, manager-components, common

#12594 feat(dedicated): make the label responsive
  packages/manager/modules/bm-server-components/src/service-status/service-status.component.js
  packages/manager/modules/bm-server-components/src/service-status/service-status.html
  packages/manager/modules/bm-server-components/src/service-status/service-status.scss
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12257 feat(dedicated-cloud): adding location in hosts and datastores pages
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#12313 feat(dedicated-cloud): adding active node in datastore page
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#12251 feat(container): move nas-ha under storage section on classic
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: quality check: ok, feature, container

#12396 feat(container): remove feedback modal
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/Modal.tsx
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_FR.json
Labels: quality check: ok, feature, container

#12764 fix(zimbra): fix mistake on domain id property
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
Labels: bug, universe-web-cloud

#12160 feat(container): poc eloquant
  packages/manager/apps/container/src/container/nav-reshuffle/eloquant-survey/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/vite-env.d.ts
Labels: quality check: ok, feature, container

#12773 fix(container): fix left improvement navigation a11y
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
Labels: bug, container

#12746 Update KMS dashboard template
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/serviceKeyList.page.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/createKey.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/serviceKey.page.tsx
Labels: feature, translation required, enabler

#12788 fix(kms): key deactivation
  packages/manager/apps/key-management-service/src/components/serviceKey/modals/ServiceKeyDeactivateModal.component.tsx
  packages/manager/apps/key-management-service/src/types/okmsServiceKey.type.ts
Labels: bug, enabler

#12743 fix(kms): key form submit button disabled rules
  packages/manager/apps/key-management-service/src/pages/serviceKey/createKey.page.tsx
Labels: bug, enabler

#12765 fix(kms): fix key creation form size select
  packages/manager/apps/key-management-service/src/data/hooks/useOkmsReferenceServiceKey.ts
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActionsList.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/createKey.page.tsx
Labels: bug, enabler

#12770 build(dbaas-logs): resolve build error
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/package.json
Labels: bug, universe-bare-metal-cloud

#12763 feat(pci-private-registry): add rename modal and generic modal
  packages/manager/apps/pci-private-registry/src/api/data/registry.ts
  packages/manager/apps/pci-private-registry/src/api/hooks/useRegistry.ts
  packages/manager/apps/pci-private-registry/src/components/listing/Action.component.tsx
  packages/manager/apps/pci-private-registry/src/pages/update/Update.page.tsx
  packages/manager/apps/pci-private-registry/src/routes.tsx
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/DeletionModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/PciModal.component.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/index.ts
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_pt_PT.json
Labels: feature, translation required

#12730 feat(manager-pci-common): init module with region-selector
  packages/manager/modules/manager-pci-common/.eslintrc.cjs
  packages/manager/modules/manager-pci-common/.gitignore
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/sample.spec.ts
  packages/manager/modules/manager-pci-common/setupTests.ts
  packages/manager/modules/manager-pci-common/src/api/data/index.ts
  packages/manager/modules/manager-pci-common/src/api/data/regions.ts
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionGlobalzoneChip.component.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionList.component.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionLocalzoneChip.component.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionSummary.component.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionTile.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/constants.ts
  packages/manager/modules/manager-pci-common/src/components/region-selector/style.constants.ts
  packages/manager/modules/manager-pci-common/src/components/region-selector/style.scss
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/components/region-selector/translations/index.ts
  packages/manager/modules/manager-pci-common/src/components/region-selector/useRegionSelector.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/useRegions.ts
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/tailwind.config.js
  packages/manager/modules/manager-pci-common/tsconfig.build.json
  packages/manager/modules/manager-pci-common/tsconfig.json
  packages/manager/modules/manager-pci-common/vitest.config.js
Labels: feature

#12789 fix(pci.project): fix project creation
  packages/manager/modules/pci/src/projects/creating/routing.js
Labels: bug, quality check: ok, universe-public-cloud

#12802 fix(container): fix eloquant
  packages/manager/apps/container/src/container/nav-reshuffle/eloquant-survey/eloquant.constants.ts
  packages/manager/apps/container/src/container/nav-reshuffle/eloquant-survey/index.tsx
Labels: bug, container

#12805 fix(kms): fix key form empty select
  packages/manager/apps/key-management-service/src/pages/serviceKey/createKey.page.tsx
Labels: bug, enabler

#12793 feat(container): updated text & icon on lvl 1 panel reduction
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/BareMetalCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HelpCenterIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HostedPrivateCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LeafIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LiveChatIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkStatusIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/PublicCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SecurityIdentityOperationIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/StoreIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SunriseIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/TelecomIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/WebCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/icons.type.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/tooltip/SidebarTooltipLink.tsx
Labels: feature, container

#12812 feat(pci-kubernetes): cluster creation
  packages/manager/apps/pci-kubernetes/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-kubernetes/src/components/create/BillingAndAntiAffinityStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/FlavorBilling.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/LoadBalancerSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PrivateNetworkSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PublicPrivateGateway.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/SubnetSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/GatewaySelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/LoadBalancerWarning.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/SubnetSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/edit-network/EditNetwork.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterBillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
  packages/manager/modules/manager-pci-common/src/api/data/project.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useProject.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
Labels: feature

#12811 feat(manager-pci-common): bump dependencies
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/src/api/hook/useCatalog.spec.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.spec.ts
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/DeletionModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/wrapperRenders.tsx
  yarn.lock
Labels: feature, dependencies

#12729 fix(web.database): remove wrong call api
  packages/manager/apps/web/client/app/private-database/whitelist/private-database-whitelist.controller.js
Labels: bug, quality check, universe-web-cloud

#11305 feat(web): multisite dns diagnostic
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.module.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud, translation required

#12167 feat(container): added cross to close notification
  packages/manager/apps/container/src/container/common/notifications-sidebar/NotificationsSidebar.tsx
Labels: quality check: ok, feature, stale, container

#12818 feat(pci-private-registry): bump dependencies
  packages/manager/apps/pci-private-registry/package.json
  yarn.lock
Labels: feature, dependencies

#12687 fix(pci): floating-ips link
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#12540 fix(pci.instances): fix instance creation with more than one instance
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, quality check: ok, translation required, universe-public-cloud

#12825 fix(pci-kubernetes): product availability
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useAvailability.ts
Labels: bug

#12704 feat(veeam-backup): listing page
  packages/manager-components/src/hooks/datagrid/useIcebergV2.tsx
  packages/manager/apps/veeam-backup/e2e/features/error.feature
  packages/manager/apps/veeam-backup/e2e/step-definitions/error.step.ts
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/veeam-backup/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/src/App.tsx
  packages/manager/apps/veeam-backup/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/veeam-backup/src/components/Messages/Messages.context.ts
  packages/manager/apps/veeam-backup/src/components/Messages/SuccessMessage.component.tsx
  packages/manager/apps/veeam-backup/src/data/api/index.ts
  packages/manager/apps/veeam-backup/src/data/api/veeam-backup.api.ts
  packages/manager/apps/veeam-backup/src/data/hook/index.ts
  packages/manager/apps/veeam-backup/src/data/hook/useOrganizations.ts
  packages/manager/apps/veeam-backup/src/data/hook/useRegions.ts
  packages/manager/apps/veeam-backup/src/data/hook/useVeeamBackupList.ts
  packages/manager/apps/veeam-backup/src/data/hooks/pci/useProject.tsx
  packages/manager/apps/veeam-backup/src/data/index.ts
  packages/manager/apps/veeam-backup/src/data/vcd.type.ts
  packages/manager/apps/veeam-backup/src/pages/index.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/CreatedAtCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/StatusCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/index.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/sorting.ts
  packages/manager/apps/veeam-backup/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/useGuideUtils.tsx
  packages/manager/apps/veeam-backup/src/routes/routes.constant.ts
  packages/manager/apps/veeam-backup/src/routes/routes.tsx
  yarn.lock
Labels: feature, universe-bare-metal-cloud, translation required, dependencies, manager-components, common

#12830 feat(container): fix safari reduced sidbar icons
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/BareMetalCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HelpCenterIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HostedPrivateCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LeafIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LiveChatIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkStatusIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/PublicCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SecurityIdentityOperationIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/StoreIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SunriseIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/TelecomIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/WebCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/icons.type.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/bare _metal_cloud.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/helpe.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/hosted_private_cloud.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/leaf.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/live_chat.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/network.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/network_status.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/public_cloud.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/security_dentity_and_perations.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/store.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/sunrise.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/telecom.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/webcloud.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/icons.tsx
  packages/manager/core/ovh-product-icons/icons/containerIcons.ts
  packages/manager/core/ovh-product-icons/index.ts
  packages/manager/core/ovh-product-icons/utils/OvhProductNameEnum.ts
  packages/manager/core/ovh-product-icons/utils/SvgIconWrapper.tsx
Labels: bug, container, common

#12823 feat(veeam-backup): delete action and modal
  packages/manager-components/src/components/templates/delete-modal/delete-service-modal.component.tsx
  packages/manager/apps/veeam-backup/public/translations/delete-veeam/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/veeam-backup/src/data/api/veeam-backup.api.ts
  packages/manager/apps/veeam-backup/src/data/hook/index.ts
  packages/manager/apps/veeam-backup/src/data/hook/useVeeamBackup.ts
  packages/manager/apps/veeam-backup/src/index.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/index.tsx
  packages/manager/apps/veeam-backup/src/pages/delete-veeam/DeleteVeeam.page.tsx
  packages/manager/apps/veeam-backup/src/pages/layout.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/veeam-backup/src/routes/routes.tsx
  packages/manager/apps/veeam-backup/src/tracking.constant.ts
  packages/manager/apps/veeam-backup/src/veeam-backup.config.ts
Labels: feature, universe-bare-metal-cloud, translation required, manager-components, common

#12794 feat(manager-components): update name modal add pattern
  packages/manager-components/src/components/templates/update-name-modal/__snapshots__/update-iam-name.spec.tsx.snap
  packages/manager-components/src/components/templates/update-name-modal/__snapshots__/update-name-modal.spec.tsx.snap
  packages/manager-components/src/components/templates/update-name-modal/update-iam-name-modal.component.tsx
  packages/manager-components/src/components/templates/update-name-modal/update-name-modal.component.tsx
  packages/manager-components/src/components/templates/update-name-modal/update-name-modal.spec.tsx
  packages/manager-components/src/components/templates/update-name-modal/update-name-modal.stories.tsx
Labels: feature, manager-components, common

#12824 fix(telecom): accept transform xdsl line into number
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
Labels: bug, universe-telecom

#12557 fix(dedicated.contacts): fixed wrong url for ca
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12836 fix(veeam-backup): remove sorting and org fetching per column
  packages/manager-components/src/hooks/datagrid/useIcebergV2.tsx
  packages/manager/apps/veeam-backup/src/data/api/index.ts
  packages/manager/apps/veeam-backup/src/data/api/vcd-organization.ts
  packages/manager/apps/veeam-backup/src/data/api/veeam-backup.ts
  packages/manager/apps/veeam-backup/src/data/hook/useOrganizations.ts
  packages/manager/apps/veeam-backup/src/data/hook/useVeeamBackup.ts
  packages/manager/apps/veeam-backup/src/pages/delete-veeam/DeleteVeeam.page.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/CreatedAtCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/DatagridCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/StatusCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/sorting.ts
  packages/manager/apps/veeam-backup/src/veeam-backup.config.ts
Labels: bug, universe-bare-metal-cloud, manager-components, common

#12777 Feat/pci kubernetes nodepool tests
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/src/components/Loadable.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/LoadingSkeleton.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/__snapshots__/Detail.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Delete.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Delete.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/__snapshots__/Delete.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/__snapshots__/NodePools.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/__snapshots__/Scale.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/__snapshots__/New.page.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/store.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/store.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Delete.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Switch.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/__snapshots__/Delete.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/__snapshots__/Nodes.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/__snapshots__/Switch.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/useDatagridColumn.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterBillingStep.component.tsx
  packages/manager/core/utils/src/datefns/index.ts
Labels: feature, common

#12855 fix(dedicated.account): fix helpcenter link blank page redirect
  packages/manager/apps/dedicated/client/app/account/user/emails/user-emails.html
Labels: bug, quality check, universe-bare-metal-cloud

#12861 fix(kms): remove backlinks
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/serviceKey.page.tsx
Labels: bug, translation required, enabler

#12872 feat(dedicated.pcc): add terms and conditions FR link
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
Labels: feature, universe-bare-metal-cloud

#12817 build(deps): bump ui kit to version 6.10.4
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iam/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up, enabler, common

#12877 feat(dedicated.pcc): update VCD migration guide links
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
Labels: feature, universe-bare-metal-cloud

#12206 feat(container): improved pnr sidebar wording
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, container

#12258 feat(container): pnr added kms entry on security, identity & operations
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: quality check: ok, feature, container

#12810 feat(manager-components): add <Region /> component
  packages/manager-components/src/components/region/region.component.tsx
  packages/manager-components/src/components/region/region.spec.tsx
  packages/manager-components/src/components/region/region.stories.tsx
  packages/manager-components/src/components/region/translations/datacenter/Messages_de_DE.json
  packages/manager-components/src/components/region/translations/datacenter/Messages_en_GB.json
  packages/manager-components/src/components/region/translations/datacenter/Messages_es_ES.json
  packages/manager-components/src/components/region/translations/datacenter/Messages_fr_CA.json
  packages/manager-components/src/components/region/translations/datacenter/Messages_fr_FR.json
  packages/manager-components/src/components/region/translations/datacenter/Messages_it_IT.json
  packages/manager-components/src/components/region/translations/datacenter/Messages_pl_PL.json
  packages/manager-components/src/components/region/translations/datacenter/Messages_pt_PT.json
  packages/manager-components/src/components/region/translations/datacenter/index.ts
  packages/manager-components/src/components/region/translations/region/Messages_de_DE.json
  packages/manager-components/src/components/region/translations/region/Messages_en_GB.json
  packages/manager-components/src/components/region/translations/region/Messages_es_ES.json
  packages/manager-components/src/components/region/translations/region/Messages_fr_CA.json
  packages/manager-components/src/components/region/translations/region/Messages_fr_FR.json
  packages/manager-components/src/components/region/translations/region/Messages_it_IT.json
  packages/manager-components/src/components/region/translations/region/Messages_pl_PL.json
  packages/manager-components/src/components/region/translations/region/Messages_pt_PT.json
  packages/manager-components/src/components/region/translations/region/index.ts
Labels: feature, translation required, manager-components, common

#12609 feat(pci.ai): fix scaling issue in ai deploy
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/update-scaling.controller.js
Labels: bug, universe-public-cloud

#12813 fix(billing us): ldp enterprise offers should be terminated by Agora
  packages/manager/modules/billing-components/src/components/cancellation-form/confirm-terminate.constants.js
Labels: bug, quality check: ok, common
