Repository ovh/manager, pull requests merged in 2024-05, with the labels that each got.

#11576 feat(pci-private-network): add global regions data grid rowspan
  packages/manager/apps/pci-private-network/public/translations/error/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/error/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/error/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/error/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/error/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/error/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/error/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/pagination/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/src/api/data/network.ts
  packages/manager/apps/pci-private-network/src/api/data/project.ts
  packages/manager/apps/pci-private-network/src/api/data/subnets.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useProject.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useRegions.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-private-network/src/api/utils/utils.ts
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridHeader.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegionsDatagrid.tsx
  packages/manager/apps/pci-private-network/src/components/list/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-private-network/src/pages/Layout.tsx
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
Labels: feature, translation required

#11527 feat(overthebox): rework on release channel labels
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_CA.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_it_IT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-telecom

#10984 feat(vrack-services): implement e2e tests
  .github/workflows/run-bdd-tests.yml
  package.json
  packages/manager/apps/catalog/package.json
  packages/manager/apps/vrack-services/.gitignore
  packages/manager/apps/vrack-services/cucumber.js
  packages/manager/apps/vrack-services/e2e/features/associate.feature
  packages/manager/apps/vrack-services/e2e/features/create.feature
  packages/manager/apps/vrack-services/e2e/features/dissociate.feature
  packages/manager/apps/vrack-services/e2e/features/endpoints.feature
  packages/manager/apps/vrack-services/e2e/features/listing.feature
  packages/manager/apps/vrack-services/e2e/features/onboarding.feature
  packages/manager/apps/vrack-services/e2e/features/overview.feature
  packages/manager/apps/vrack-services/e2e/features/subnet.feature
  packages/manager/apps/vrack-services/e2e/step-definitions/api.step.ts
  packages/manager/apps/vrack-services/e2e/step-definitions/given.step.ts
  packages/manager/apps/vrack-services/e2e/step-definitions/navigation.step.ts
  packages/manager/apps/vrack-services/e2e/step-definitions/then.step.ts
  packages/manager/apps/vrack-services/e2e/step-definitions/when.step.ts
  packages/manager/apps/vrack-services/e2e/todo/endpoints.feature
  packages/manager/apps/vrack-services/e2e/utils/constants.ts
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/mock/vrack-services/vrack-services.ts
  packages/manager/apps/vrack-services/mock/vrack/association.ts
  packages/manager/apps/vrack-services/mock/vrack/index.ts
  packages/manager/apps/vrack-services/mock/vrack/vrack.ts
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/components/DeleteModal/DeleteModal.constants.ts
  packages/manager/apps/vrack-services/src/components/DeleteModal/index.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/OnboardingLayout.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_de_DE.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_en_GB.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_es_ES.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_fr_CA.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_it_IT.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_pl_PL.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/create/Messages_pt_PT.json
  playwright-helpers/bdd-setup.ts
  playwright-helpers/bdd.type.ts
  playwright-helpers/custom-world.ts
  playwright-helpers/mocks/auth/applications.json
  playwright-helpers/mocks/auth/configuration.ts
  playwright-helpers/mocks/auth/configurations.json
  playwright-helpers/mocks/auth/index.ts
  playwright-helpers/mocks/auth/user.json
  playwright-helpers/network.ts
  scripts/run-playwright-bdd.js
Labels: feature, build, continuous-integration

#11390 feat(pci.project): add billing change banner
  packages/manager/modules/pci/src/projects/project/billing/billing.component.js
  packages/manager/modules/pci/src/projects/project/billing/billing.html
  packages/manager/modules/pci/src/projects/project/billing/billing.module.js
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing-legacy.component.js
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing-legacy.html
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.constants.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.controller.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/billing-change-banner.html
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/index.js
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/components/billing-change-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/components/index.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: quality check: ok, feature, universe-public-cloud

#11480 fix(web.domain): disable the resiliate button if not available
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#11451 fix(iam): infinite loop on iam menu
  packages/manager/modules/iam/src/dashboard/dashboard.component.js
  packages/manager/modules/iam/src/dashboard/dashboard.routing.js
  packages/manager/modules/iam/src/dashboard/dashboard.template.html
  packages/manager/modules/iam/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/iam.routing.js
Labels: quality check: ok, feature

#11522 feat(vrack-services): add the subnet name in the endpoint creation page
  packages/manager/apps/vrack-services/src/pages/endpoints/Create.tsx
Labels: feature

#11583 Add params into traffic url and integrate translated files
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.html
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.routing.js
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#11493 feat(dedicated.order): filter orders to remove null values
  packages/manager/modules/billing/src/orders/orders/orders.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11307 feat(web): allow ipv6 for dyndns ip target
  packages/manager/apps/web/client/app/domain/dynhost/add/domain-dynhost-add.controller.js
  packages/manager/apps/web/client/app/domain/dynhost/edit/domain-dynhost-edit.controller.js
Labels: feature, universe-web-cloud

#11607 fix(web.webhosting): allow to order hosting without dnsConfiguration or module
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.controller.js
Labels: bug, universe-web-cloud

#10903 feat(project.billing): update text content for the billing page
  packages/manager/modules/pci/src/projects/project/billing/billing.component.js
  packages/manager/modules/pci/src/projects/project/billing/billing.routing.js
  packages/manager/modules/pci/src/projects/project/billing/history/history.component.js
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.component.js
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.html
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing-legacy.component.js
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing-legacy.controller.js
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing-legacy.html
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#11332 feat(dedicated): create new component for ipv6 in agoraOrder
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/agoraOrder.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.component.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.routes.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11625 fix(*): jest test workflow
  packages/manager-components/src/components/content/price/price.component.tsx
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/core/generator/app/templates/package.json.hbs
Labels: bug

#11498 fix(container): PNR V2 Bug and Tasks
  packages/manager/apps/container/src/assets/images/sidebar/sunrise.png
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/DefaultPaymentMethod.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/template.module.scss
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: bug, translation required, container

#11591 fix(pci-public-ip): allow generic searches
  packages/manager-components/src/components/filters/filter-list.component.tsx
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
Labels: bug

#11593 fix(pci-public-ip): instance creation url
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FailoverSteps.tsx
Labels: bug

#11595 fix(pci-public-ip): redirect after order ip
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: bug

#11598 fix(pci-public-ip): ensure ip is selected
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: bug

#11603 fix(pci-public-ip): floating ip summary
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: bug

#11610 fix(pci-public-ip): error message formatting
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: bug

#11590 feat(container): invitation to pnr modal
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_FR.json
Labels: feature, translation required, container

#11614 feat(pci-private-network): add localZone datagrid with paginationa and filter
  packages/manager-components/src/components/filters/filter-list.component.tsx
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/api/utils/utils.ts
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridHeader.tsx
  packages/manager/apps/pci-private-network/src/components/list/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/constants.ts
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
Labels: feature, translation required

#11626 feat(pci-private-network): add filter for global regions with some re…
  packages/manager/apps/pci-private-network/src/api/data/network.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridNoResults.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegionsDatagrid.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
Labels: feature

#11616 fix(pci-public-ip): edit instance network ip
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
Labels: bug

#11619 fix(pci-public-ip): notifications
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
Labels: bug

#11620 fix(pci-public-ip): generate order button
  packages/manager/apps/pci-public-ip/src/components/container/Step.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FailoverSteps.tsx
Labels: bug

#11621 fix(pci-public-ip): order error banners
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: bug

#11622 fix(pci-public-ip): country tile spacing
  packages/manager/apps/pci-public-ip/src/components/input/CountryInput.component.tsx
Labels: bug

#11538 feat(dedicated): delete subnet from vrack ipv6
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
  packages/manager/modules/vrack/src/partials/actions.html
  packages/manager/modules/vrack/src/partials/mapped.html
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/add-subnet/index.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/add-subnet/template.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/delete-dialog/index.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/delete-dialog/template.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/delete-subnet/index.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/delete-subnet/template.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/index.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.component.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.controller.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.less
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.service.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack-services/ip/add/controller.js
  packages/manager/modules/vrack/src/vrack-services/ip/index.js
  packages/manager/modules/vrack/src/vrack-services/ip/ip.component.js
  packages/manager/modules/vrack/src/vrack-services/ip/ip.controller.js
  packages/manager/modules/vrack/src/vrack-services/ip/ip.service.js
  packages/manager/modules/vrack/src/vrack-services/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11618 feat(telecom): softphone download link for stores
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.scss
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11656 feat(telecom): add direct link to softphone
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11623 fix(pci-public-ip): annoucenement banner
  packages/manager/apps/pci-public-ip/src/hooks/useAnnouncement.ts
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Labels: bug

#11624 fix(pci-public-ip): floating ip order
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: bug

#11631 fix(pci-public-ip): onboarding discovery
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Labels: bug, has conflicts

#11633 fix(pci-public-ip): order steps translation
  packages/manager/apps/pci-public-ip/src/api/hooks/useIpTypes.ts
  packages/manager/apps/pci-public-ip/src/api/types.ts
  packages/manager/apps/pci-public-ip/src/pages/order/Order.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useStore.ts
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FailoverSteps.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/IpTypeStep.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/utils/startupSteps.ts
Labels: has conflicts

#11643 fix(pci-public-ip): instance creation URL for floating ips
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: bug, has conflicts

#11644 fix(pci-public-ip): ip select
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: bug

#11651 fix(pci-public-ip): fix the responsive design mobile for datagrid
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/pages/imports/Imports.page.tsx
Labels: bug

#11657 fix(pci-public-ip): express order url
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/pages/order/constants.ts
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
  packages/manager/modules/order/src/order.constant.ts
Labels: bug

#11661 feat(telecom): add delete modal with cta
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11639 feat(2fa): add see page messages
  packages/manager/apps/account-disable-2fa/src/i18n.ts
  packages/manager/apps/account-disable-2fa/src/index.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.tsx
  packages/manager/apps/account-disable-2fa/src/pages/see/See.page.tsx
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/ASIA/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/AU/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/CA/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/CZ/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/DE/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/ES/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/FI/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/FR/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/GB/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/IE/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/IN/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/IT/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/LT/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/LTE/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/MA/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/NL/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/PL/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/PT/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/QC/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/SG/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/SN/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/TN/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/WE/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa-sub/WS/Messages_fr_FR.json
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa/Messages_fr_FR.json
Labels: feature, translation required

#11432 feat(tracking): implement tracking in uapp
  packages/components/ovh-shell/src/index.ts
  packages/components/ovh-shell/src/plugin/tracking/tracking.ts
  packages/manager/core/generator/app/conditional-templates/dashboard/_layout.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/layout.tsx.hbs
  packages/manager/core/generator/app/templates/src/routes.tsx.hbs
  packages/manager/core/generator/app/templates/src/tracking.constant.ts.hbs
  packages/manager/core/generator/app/universes.constant.js
  packages/manager/core/shell-client/src/ShellContext.ts
  packages/manager/core/shell-client/src/hooks/useOvhTracking.ts
  yarn.lock
Labels: feature, dependencies, container

#11647 feat(rancher): update ods version to 17.2.1 on rancher
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  yarn.lock
Labels: feature, dependencies

#11482 feat(manager-components): update onboarding component
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager/apps/pci-rancher/tailwind.config.js
Labels: feature

#11654 fix(pci-public-ip): ip order price
  packages/manager/apps/pci-public-ip/src/components/CatalogPrice.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: bug

#11669 fix(pci-public-ip): fix onboarding page issues
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingGuard.tsx
Labels: bug

#11587 feat(pci.ai): add AI Endpoints into pci menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: quality check: ok, feature, container

#11273 fix(cdn): change regex and field information for cache cdn
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/rule/add/cdn-dedicated-domain-rule-add.controller.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11658 fix(public-cloud): remove duplicated textAccordion
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/controller.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/directive.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/index.js
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/styles.scss
  packages/manager/modules/pci/src/components/project/storages/databases/text-accordion/template.html
  packages/manager/modules/pci/src/components/project/storages/index.js
Labels: bug, quality check: ok, universe-public-cloud

#11655 fix(pci-public-ip): fix the i18n t interpolation config
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/MoveIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
Labels: bug

#11650 fix(pci-public-ip): add marging the button action in all datagrid
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/Imports.page.tsx
Labels: bug

#11682 fix(pci-public-ip): hide next button if no data on iptypes step
  packages/manager/apps/pci-public-ip/src/pages/order/steps/IpTypeStep.tsx
Labels: bug

#11684 fix(pci-public-ip): floating ip creation
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingIpSummary.tsx
Labels: bug

#11663 feat(dedicated): add slaac option to vrack ipv6 block
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.constant.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.controller.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.less
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.service.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11224 feat(zimbra.dashboard): add usefull links
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/components/Breadcrumb/constants.ts
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/guides.constants.ts
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation.tsx
Labels: feature, translation required

#11712 fix(pci-public-ip): floating ip creation
  packages/manager/apps/pci-public-ip/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useActions.ts
  packages/manager/apps/pci-public-ip/src/pages/order/hooks/useStore.ts
Labels: bug

#11681 feat(zimbra): add datagrid organization
  packages/manager/apps/zimbra/public/translations/organisations/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/GET/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/api.type.ts
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/hooks/index.ts
  packages/manager/apps/zimbra/src/hooks/usePlatform.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ActionsItems.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Labels: feature, translation required

#11698 feat(2fa): add input files components
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInput.tsx
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInputContainer.tsx
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInputList.tsx
  packages/manager/apps/account-disable-2fa/src/components/FileInput/FileInputListItem.tsx
  packages/manager/apps/account-disable-2fa/src/public/translations/account-disable-2fa/Messages_fr_FR.json
Labels: feature, translation required

#11674 fix(dedicated): pcc ip blocks label
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11724 fix(container): add zimbra in sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  yarn.lock
Labels: feature, translation required, dependencies, container

#11438 feat(manager-components): pci project context provider
  packages/manager-components/package.json
  packages/manager-components/src/hooks/index.ts
  packages/manager-components/src/hooks/pci-project-provider/constants.ts
  packages/manager-components/src/hooks/pci-project-provider/index.ts
  packages/manager-components/src/hooks/pci-project-provider/publicCloudProject.interface.ts
  packages/manager-components/src/hooks/pci-project-provider/useProject.ts
  packages/manager-components/src/lib.ts
  yarn.lock
Labels: feature, dependencies

#11418 feat(rancher): open modal in url path
  packages/manager/apps/pci-rancher/src/api/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/Modal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/Table.type.ts
  packages/manager/apps/pci-rancher/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/hooks/useGenerateAccessDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/edit-modal/EditModal.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/generate-access/GenerateAccessModal.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/delete/DeleteRancherModal.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
Labels: feature, universe-public-cloud

#11536 feat(generator): update folder structure
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/api/services-template.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1/TileExemple.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/dashboard.test.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/general-informations/index.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/tab2/index.tsx
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/index.html
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/public/translations/{{appName}}/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/public/translations/{{appName}}/error/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/src/App.tsx
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/app/templates/src/components/Breadcrumb/Breadcrumb.tsx.hbs
  packages/manager/core/generator/app/templates/src/components/ButtonTooltip/ButtonTooltip.scss
  packages/manager/core/generator/app/templates/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/core/generator/app/templates/src/components/Error/Error.tsx
  packages/manager/core/generator/app/templates/src/components/ManagerTile/ManagerTile.scss
  packages/manager/core/generator/app/templates/src/components/ManagerTile/ManagerTile.tsx
  packages/manager/core/generator/app/templates/src/components/ManagerTile/index.ts
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/Dashboard.scss
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/TileCustom.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/dataGrid.scss
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Onboarding/OnboardingLayout.scss
  packages/manager/core/generator/app/templates/src/configInterface.ts.hbs
  packages/manager/core/generator/app/templates/src/data/hooks/pci/useProject.tsx
  packages/manager/core/generator/app/templates/src/hooks/breadcrumb/useBreadcrumb.tsx.hbs
  packages/manager/core/generator/app/templates/src/hooks/guide/useGuideUtils.tsx
  packages/manager/core/generator/app/templates/src/index.scss
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/pages/_app.tsx.hbs
  packages/manager/core/generator/app/templates/src/routes/routes.constant.ts.hbs
  packages/manager/core/generator/app/templates/src/routes/routes.tsx.hbs
  packages/manager/core/generator/app/templates/src/{{appName}}.config.ts.hbs
  packages/manager/core/generator/app/templates/vite.config.mjs
  packages/manager/core/generator/utils/create-structure-helpers.js
  packages/manager/core/shell-client/src/hooks/index.ts
  packages/manager/core/shell-client/src/hooks/useBreadcrumb.tsx
Labels: feature

#11516 fix(vrack-services): avoid refetching vrack list to associate
  packages/manager/apps/vrack-services/src/api/vrack/hook.ts
Labels: quality check: ok

#11642 feat(dedicated): remove paymentmean deprecated call
  packages/components/ovh-payment-method/src/ovh-payment-mean.js
  packages/components/ovh-payment-method/src/ovh-payment-method.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  packages/manager/apps/dedicated/client/app/components/user/user.service.js
  packages/manager/apps/web/client/app/components/autorenew-invite/autorenew-invite.controller.js
  packages/manager/modules/billing/src/main/history/balance/billing-history-balance.controller.js
  packages/manager/modules/billing/src/payment/method/routing.js
  packages/manager/modules/bm-server-components/src/server/server.controller.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/web-universe-components/src/user/user.service.js
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-public-cloud

#11535 feat(telecom): softphone beta
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/telecom-telephony.less
Labels: quality check: ok, feature, universe-telecom, translation required

#11685 feat(public-cloud): fix localzone estimation price on block storage
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
Labels: quality check: ok, feature, universe-public-cloud

#11707 feat(public-cloud): fix instances prices
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#11632 feat(pci-private-network): add the delete modal/action for global reg…
  packages/manager/apps/pci-private-network/.eslintrc.cjs
  packages/manager/apps/pci-private-network/src/api/data/network.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-private-network/src/api/utils/utils.ts
  packages/manager/apps/pci-private-network/src/components/delete/DeleteModal.component.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/DeleteAction.component.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/constants.ts
  packages/manager/apps/pci-private-network/src/pages/delete/DeleteNetwork.page.tsx
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-network/src/routes.tsx
Labels: feature

#11599 fix(hub): remove useless services call
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/routing.js
Labels: bug, performance, universe-hub

#11720 feat(dedicated.nutanix): remove public bandwidth from cluster node
  packages/manager/modules/bm-server-components/src/network-tile/component.js
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
Labels: feature, universe-hosted-private-cloud

#11735 feat(dedicated.nutanix): update onboarding page
  packages/manager/modules/nutanix/src/onboarding/constants.js
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hosted-private-cloud

#11588 feat(2fa): add redirection rule to pages
  .gitignore
  packages/manager/apps/account-disable-2fa/package.json
  packages/manager/apps/account-disable-2fa/src/App.tsx
  packages/manager/apps/account-disable-2fa/src/api/index.ts
  packages/manager/apps/account-disable-2fa/src/data/api/statusApi.ts
  packages/manager/apps/account-disable-2fa/src/data/hooks/useStatus.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.test.tsx
  packages/manager/apps/account-disable-2fa/src/pages/Home.page.tsx
  packages/manager/apps/account-disable-2fa/src/routes/home.constants.ts
  packages/manager/apps/account-disable-2fa/src/routes/routes.tsx
  packages/manager/apps/account-disable-2fa/src/types/status.type.ts
  packages/manager/apps/account-disable-2fa/vitest.config.js
Labels: feature

#11710 Feat/pci databases analytics test on service liste - advanced config - backup
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/backup.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/services.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/wrappers/RouterWithLocationWrapper.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/home.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/404.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/backups/backups.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/settings/advancedConfiguration.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/services.test.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/_components/backupsTableColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/_components/restore.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/advancedConfiguration/advancedConfigurationForm.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboarding.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListTable.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/index.tsx
Labels: feature

#11745 Feat/pci databases analytics add manage in service list
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/Messages_fr_FR.json
Labels: feature, translation required

#11361 fix(rancher): disable refetch pooling on create page
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
Labels: feature, universe-public-cloud

#11740 feat(dedicated): disable unavailable region on ipv6 order page
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11742 fix(pci-gateway): product size translation
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_en_GB.json
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_es_ES.json
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_fr_CA.json
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_it_IT.json
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_pl_PL.json
  packages/manager/apps/pci-gateway/public/translations/catalog-selector/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
Labels: bug, translation required

#11756 Revert "feat(dedicated): display error message with operations ongoing
  packages/manager/modules/bm-server-components/src/order-private-bandwidth/private-order.controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/bandwidth-private-order/bandwidth-private-order.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/template.html
Labels: bug, universe-hosted-private-cloud

#11697 feat(pci-private-network): add onboarding page
  packages/manager-components/src/components/navigation/card/card.component.tsx
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-network/public/assets/private-networks.png
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-network/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-private-network/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-private-network/src/pages/onboarding/OnboardingGuard.tsx
  packages/manager/apps/pci-private-network/src/pages/onboarding/onboarding.constants.tsx
  packages/manager/apps/pci-private-network/src/routes.tsx
Labels: feature, translation required, universe-public-cloud, manager-components

#11764 docs: update CONTRIBUTORS and MAINTAINERS
  CONTRIBUTORS
  MAINTAINERS
Labels: documentation

#11547 feat(dedicated): add feedback option
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.component.js
  packages/manager/modules/ng-layout-helpers/src/list/template.html
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack.constant.js
  packages/manager/modules/vrack/src/vrack.routing.js
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#11758 feat(pci-private-network): add maintenance banner
  packages/manager-components/package.json
  packages/manager-components/src/components/container/Step.component.tsx
  packages/manager-components/src/components/container/Tabs.component.tsx
  packages/manager-components/src/components/input/TileInput.component.tsx
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/maintenance/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/src/api/data/cloud.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useCloud.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/components/maintenance/MaintenanceBanner.component.tsx
  packages/manager/apps/pci-private-network/src/components/maintenance/MaintenanceBanner.spec.tsx
  packages/manager/apps/pci-private-network/src/components/maintenance/useMaintenance.spec.tsx
  packages/manager/apps/pci-private-network/src/components/maintenance/useMaintenance.tsx
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-network/src/setupTests.ts
Labels: feature, universe-public-cloud, manager-components

#11767 feat(zimbra): add service monitoring tile
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/GET/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/api.type.ts
  packages/manager/apps/zimbra/src/components/BadgeStatus.tsx
  packages/manager/apps/zimbra/src/components/TileBlock.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/TabsPanel.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/GeneralInformation.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/OngoingTasks.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Labels: feature, translation required

#11768 feat(pci-private-network): add link to go to create gateway page
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.tsx
Labels: feature, universe-public-cloud

#11754 feat(telecom): add theming customization
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/theme/theme.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/theme/theme.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/theme/theme.css
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/theme/theme.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11776 fix(pci-databases-analytics): various fixes
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/network.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/services.ts
  packages/manager/apps/pci-databases-analytics/src/components/Order/cluster-options/ips-restrictions-form.tsx
  packages/manager/apps/pci-databases-analytics/src/components/Order/cluster-options/network-options.tsx
  packages/manager/apps/pci-databases-analytics/src/components/Order/plan/plan-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useVrack.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/renameService.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/updateFlavor.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/updatePlan.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-funnel.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/index.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/service/Messages_fr_FR.json
Labels: bug, translation required

#11769 feat(pci-private-network): do refactoring, sonar issue and optimization
  packages/manager-components/src/components/input/TileInput.component.tsx
  packages/manager-components/src/hooks/pci-project-provider/index.ts
  packages/manager-components/src/hooks/pci-project-provider/useProject.ts
  packages/manager/apps/pci-private-network/.eslintrc.cjs
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-network/src/api/data/regions.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useCloud.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useProject.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useRegions.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-private-network/src/api/utils/utils.ts
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/components/maintenance/useMaintenance.spec.tsx
  packages/manager/apps/pci-private-network/src/core/HidePreloader.tsx
  packages/manager/apps/pci-private-network/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-private-network/src/hooks/useDatagridColumn.tsx
  packages/manager/apps/pci-private-network/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-private-network/src/i18n.ts
  packages/manager/apps/pci-private-network/src/index.css
  packages/manager/apps/pci-private-network/src/interface/index.ts
  packages/manager/apps/pci-private-network/src/main.tsx
  packages/manager/apps/pci-private-network/src/pages/Layout.tsx
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-network/src/pages/list/ListGuard.tsx
  packages/manager/apps/pci-private-network/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-private-network/src/pages/onboarding/OnboardingGuard.tsx
  packages/manager/apps/pci-private-network/src/routes.tsx
  packages/manager/apps/pci-rancher/src/api/apiv2/services.ts
  packages/manager/modules/pci/src/projects/project/private-networks/index.js
  yarn.lock
Labels: feature, dependencies, universe-public-cloud, manager-components

#11782 fix(pci-public-ip): bump dependencies
  packages/manager/apps/pci-public-ip/package.json
Labels: bug

#11282 feat(rancher): add request tagger on each request page
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/pages/layout.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
Labels: quality check: ok, feature, universe-public-cloud

#11730 fix(pack): set previous title to correct value for meetings
  packages/manager/apps/telecom/src/app/telecom/pack/move/meeting/move-meeting.controller.js
Labels: bug, quality check: ok, universe-telecom

#11743 feat(ovh-order-tracking): remove info banner of bm delay
  packages/manager/modules/ng-ovh-order-tracking/src/order-tracking.html
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_fr_FR.json
Labels: quality check: ok, feature

#11515 fix(catalog): migrate e2e tests to BDD tests
  packages/manager/apps/catalog/.gitignore
  packages/manager/apps/catalog/cucumber.js
  packages/manager/apps/catalog/e2e/Error.e2e.ts
  packages/manager/apps/catalog/e2e/FilterAndSearch.e2e.ts
  packages/manager/apps/catalog/e2e/features/error.feature
  packages/manager/apps/catalog/e2e/features/filter-and-search.feature
  packages/manager/apps/catalog/e2e/step-definitions/error.step.ts
  packages/manager/apps/catalog/e2e/step-definitions/filter-and-search.step.ts
  packages/manager/apps/catalog/e2e/utils/constants.ts
  packages/manager/apps/catalog/e2e/utils/index.tsx
  packages/manager/apps/catalog/e2e/utils/network.ts
  packages/manager/apps/catalog/e2e/utils/selector.ts
  packages/manager/apps/catalog/mocks/catalog-example.json
  packages/manager/apps/catalog/mocks/catalog.ts
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/App.tsx
  packages/manager/apps/catalog/src/api/catalog/index.ts
  packages/manager/apps/catalog/src/api/index.ts
  packages/manager/apps/catalog/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/catalog/src/components/Error/Errors.tsx
  packages/manager/apps/catalog/src/global.scss
  packages/manager/apps/catalog/src/hooks/useCatalog.ts
  packages/manager/apps/catalog/src/i18n.ts
  packages/manager/apps/catalog/src/index.tsx
  packages/manager/apps/catalog/src/pages/_app.tsx
  packages/manager/apps/catalog/src/pages/index.tsx
  packages/manager/apps/catalog/src/pages/layout.tsx
  packages/manager/apps/catalog/src/query.client.ts
  packages/manager/apps/catalog/src/routes.tsx
  packages/manager/apps/catalog/src/utils/trackingError.ts
  packages/manager/apps/catalog/tsconfig.e2e.json
  packages/manager/apps/catalog/tsconfig.json
  packages/manager/apps/catalog/tsconfig.test.json
  packages/manager/apps/key-management-service/src/e2e/dashboard.e2e.ts
  packages/manager/apps/key-management-service/src/e2e/onboarding.e2e.ts
  playwright-helpers/config.ts
  playwright-helpers/login.ts
  scripts/run-playwright.js
Labels: quality check: ok, feature, build, enabler

#11628 fix(pci.project): enable asian users to activate discovery project
  packages/manager/modules/pci/src/projects/new/payment/components/add/constants.js
Labels: bug, quality check: ok, universe-public-cloud

#11695 feat(generator): update e2e test script
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/default/home.test.ts.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/listing.test.ts.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/onboarding.test.ts.hbs
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/cucumber.js
  packages/manager/core/generator/app/templates/e2e/features/error.feature
  packages/manager/core/generator/app/templates/e2e/features/onboarding.feature
  packages/manager/core/generator/app/templates/e2e/step-definitions/error.step.ts.hbs
  packages/manager/core/generator/app/templates/e2e/step-definitions/onboarding.step.ts
  packages/manager/core/generator/app/templates/e2e/utils/constants.ts
  packages/manager/core/generator/app/templates/e2e/utils/index.tsx
  packages/manager/core/generator/app/templates/e2e/utils/network.ts
  packages/manager/core/generator/app/templates/mocks/example/example-data.json
  packages/manager/core/generator/app/templates/mocks/example/example.ts
  packages/manager/core/generator/app/templates/mocks/index.ts
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/playwright.config.ts
  packages/manager/core/generator/app/templates/src/routes/routes.tsx.hbs
  packages/manager/core/generator/app/templates/src/{{appName}}.config.ts.hbs
  packages/manager/core/generator/app/templates/tsconfig.json
  packages/manager/core/generator/app/templates/tsconfig.test.json
  packages/manager/core/generator/app/universes.constant.js
  scripts/run-playwright-bdd.js
Labels: quality check: ok, feature, build

#11155 feat(dedicated): missing guidance to reduce kyc upload issues
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/component.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/index.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/template.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-requirements/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.module.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11611 feat(dedicated.vmware): onboarding page updates
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/assets/vmware.svg
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/onboarding.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/onboarding/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, universe-hosted-private-cloud

#11762 test(pci-gateway): add unit tests
  packages/manager/apps/pci-gateway/src/api/data/gateway.spec.ts
  packages/manager/apps/pci-gateway/src/components/list/PrivateIPs.component.spec.tsx
  packages/manager/apps/pci-gateway/src/pages/list/ListGuard.spec.tsx
  packages/manager/apps/pci-gateway/src/pages/onboarding/OnBoardingGuard.spec.tsx
  packages/manager/apps/pci-gateway/vitest.config.js
Labels: universe-public-cloud

#11807 build: fix labeu url hardcoded + add labeu env param
  packages/manager/core/vite-config/src/config.js
  packages/manager/core/vite-config/src/plugin/dev-server.js
Labels: build

#11784 fix(pci-gateway): display correct translation when create gateway
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
Labels: feature, universe-public-cloud

#11801 fix(pci-gateway): size selection
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-gateway/src/pages/add/SizeStep.tsx
Labels: bug, universe-public-cloud

#11802 fix(pci-gateway): region macroName
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
Labels: bug, universe-public-cloud

#11810 fix(pci-gateway): add input error and space in error message
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
Labels: feature, universe-public-cloud

#11806 fix(pci-gateway): add gateway form reset
  packages/manager/apps/pci-gateway/src/pages/add/AddGateway.page.tsx
  packages/manager/apps/pci-gateway/src/pages/add/useStore.ts
Labels: bug, universe-public-cloud

#11808 fix(pci-gateway): size translations
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
Labels: bug, universe-public-cloud

#11792 fix(pci-public-ip): floating ip associated instance
  packages/manager/apps/pci-public-ip/src/api/hooks/useInstance.ts
Labels: bug, quality check: ok

#11820 fix(pci-gateway): add target blank for link issue
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
Labels: bug, universe-public-cloud

#11822 feat: imporve pricing display in update
  packages/manager/apps/pci-databases-analytics/src/__tests__/lib/pricingHelper.test.tsx
  packages/manager/apps/pci-databases-analytics/src/components/Order/order-price.tsx
  packages/manager/apps/pci-databases-analytics/src/lib/pricingHelper.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/fork/_components/useFork.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/addNode.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/removeNode.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/updateFlavor.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/updatePlan.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/pricingDetails.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/usersTableActions.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboarding.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListTable.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/useOrderFunnel.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/service/settings/update/Messages_fr_FR.json
Labels: feature, translation required

#11823 feat(pci-public-ip): remove bold style when uncheck country
  packages/manager/apps/pci-public-ip/src/components/input/CountryInput.component.tsx
Labels: bug, quality check: ok

#11791 feat(container): add missing links in user widget
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/UserLink.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/constants.ts
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
Labels: feature, translation required, container

#11827 fix(pci-gateway): fix links and notifications
  packages/manager/apps/pci-gateway/src/api/data/gateways.ts
  packages/manager/apps/pci-gateway/src/api/data/operation.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useGateways.ts
  packages/manager/apps/pci-gateway/src/pages/add/AddGateway.page.tsx
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
  packages/manager/apps/pci-gateway/src/pages/delete/DeleteGateway.page.tsx
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
Labels: bug, quality check, universe-public-cloud

#11748 feat(2fa): set up invisible challenge
  packages/manager/apps/account-disable-2fa/package.json
  packages/manager/apps/account-disable-2fa/src/data/invisible-challenge.interceptor.ts
  packages/manager/apps/account-disable-2fa/src/index.tsx
  packages/manager/apps/account-disable-2fa/src/utils/iframe.ts
  packages/manager/apps/account-disable-2fa/src/utils/invisible-challenge.class.ts
  packages/manager/apps/account-disable-2fa/src/utils/invisible-challenge.constants.ts
Labels: feature

#11837 feat(dedicated): limit the selection to add ipv6 block to vrack
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/partials/available.html
  packages/manager/modules/vrack/src/select-dialog/index.js
  packages/manager/modules/vrack/src/select-dialog/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#11826 feat(*): logs-to-customer remove unnecessary text props
  packages/manager/modules/log-to-customer/src/list/component.js
  packages/manager/modules/log-to-customer/src/list/template.html
  packages/manager/modules/log-to-customer/src/live-tail/component.js
  packages/manager/modules/log-to-customer/src/live-tail/template.html
  packages/manager/modules/log-to-customer/src/tiles/component.js
  packages/manager/modules/log-to-customer/src/tiles/template.html
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/data-streams/data-streams.template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/logs.template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/translations/Messages_fr_FR.json
Labels: feature, translation required

#11815 feat(manager-components): add compact vertical ellipsis action menu
  packages/manager-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-components/src/components/navigation/menus/action/action.spec.tsx
Labels: feature, manager-components

#11831 fix(pci-gateway): size order
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
Labels: bug, universe-public-cloud

#11836 fix(pci-gateway): location step undefined regions
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
Labels: bug, universe-public-cloud

#11835 fix(pci-gateway): button is correctly displayed
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
Labels: bug, universe-public-cloud

#11727 feat(manager-components): add iam react hook and components
  packages/manager-components/.storybook/preview.tsx
  packages/manager-components/package.json
  packages/manager-components/src/components/ManagerButton/ManagerButton.spec.tsx
  packages/manager-components/src/components/ManagerButton/ManagerButton.stories.tsx
  packages/manager-components/src/components/ManagerButton/ManagerButton.tsx
  packages/manager-components/src/components/ManagerButton/translations/Messages_fr_FR.json
  packages/manager-components/src/components/ManagerButton/translations/index.ts
  packages/manager-components/src/components/ManagerText/ManagerText.spec.tsx
  packages/manager-components/src/components/ManagerText/ManagerText.stories.tsx
  packages/manager-components/src/components/ManagerText/ManagerText.tsx
  packages/manager-components/src/components/ManagerText/translations/Messages_fr_FR.json
  packages/manager-components/src/components/ManagerText/translations/index.ts
  packages/manager-components/src/components/content/headers/headers.spec.tsx
  packages/manager-components/src/components/index.ts
  packages/manager-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-components/src/components/navigation/menus/action/action.spec.tsx
  packages/manager-components/src/components/navigation/menus/action/action.stories.tsx
  packages/manager-components/src/hooks/iam/iam.interface.ts
  packages/manager-components/src/hooks/iam/index.ts
  packages/manager-components/src/hooks/iam/useOvhIam.tsx
  yarn.lock
Labels: feature, translation required, dependencies, manager-components

#11850 fix(pci-gateway): useGateway hook
  packages/manager/apps/pci-gateway/src/api/hooks/useGateway.ts
Labels: bug, universe-public-cloud

#11321 feat(pci): deep links
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/apps/public-cloud/src/index.constants.js
  packages/manager/apps/public-cloud/src/index.links.js
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/links.json
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/project.utils.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
Labels: quality check: ok, feature, universe-public-cloud

#11853 fix(web.hosting): change exclusion list remove freedom
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.constants.js
Labels: bug, quality check: ok, universe-web-cloud

#11597 feat(pci.storage): change label for sse-s3
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#11627 feat(dedicated): allow options in ssh authorized keys
  packages/manager/apps/dedicated/client/app/components/sshkeySwitch/sshkeySwitch.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/constants.js
  packages/manager/modules/bm-server-components/src/netboot/constants.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10592 feat(dedicated): BYOIP range slicing
  packages/manager/apps/dedicated/client/app/ip/components/list/block/delete/ip-ip-block-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/ip-ip-block.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/aggregate/ip-ip-byoip-aggregate.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/aggregate/ip-ip-byoip-aggregate.html
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/byoip.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/ip-ip-byoip.service.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/slice/ip-ip-byoip-slice.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/slice/ip-ip-byoip-slice.html
  packages/manager/apps/dedicated/client/app/ip/components/list/index.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ip.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#11044 feat(web): remove sortable and column and back btn
  packages/manager/apps/web/client/app/hosting/database/dump/DUMPS.html
  packages/manager/apps/web/client/app/hosting/database/dump/hosting-database-dump.controller.js
  packages/manager/apps/web/client/app/hosting/database/hosting-database.constants.js
Labels: quality check: ok, feature, universe-web-cloud

#11771 fix(dedicated): pnr sidebar missing translation
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: quality check: ok, feature, container

#11592 fix: remove useless account migration module
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/telecom/src/index.html
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/creating/index.html
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/pci/src/projects/updating/index.html
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, dependencies, universe-public-cloud, manager-components

#11843 feat(2fa): set up user session management
  packages/manager/apps/account-disable-2fa/src/context/User/context.ts
  packages/manager/apps/account-disable-2fa/src/context/User/provider.tsx
  packages/manager/apps/account-disable-2fa/src/context/User/useUser.ts
  packages/manager/apps/account-disable-2fa/src/data/authentication.interceptor.ts
  packages/manager/apps/account-disable-2fa/src/index.tsx
  packages/manager/apps/account-disable-2fa/src/utils/token.ts
Labels: feature
