Repository ovh/manager, pull requests merged in 2024-04, with the labels that each got.

#11322 fix(pci-users): redirect to users list from onboarding
  packages/manager/apps/pci-users/src/pages/onboarding/OnBoardingPage.tsx
Labels: bug

#11324 fix(pci-users): datagrid pagination
  packages/manager-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-components/src/components/datagrid/datagrid.contants.ts
  packages/manager-components/src/components/datagrid/useDatagrid.ts
  packages/manager-components/src/components/datagrid/useDatagridSearchParams.ts
  packages/manager-components/src/components/filters/filter-list.spec.tsx
  packages/manager-components/src/components/index.ts
  packages/manager/apps/pci-users/src/api/data/user.ts
  packages/manager/apps/pci-users/src/api/hooks/useUser.ts
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
Labels: bug

#11328 fix(pci-users): avoid multiline status
  packages/manager/apps/pci-users/src/pages/index/Status.tsx
Labels: bug

#11330 fix(pci-users): datagrid pagination alignment & action button
  packages/manager-components/src/components/datagrid/datagrid.component.tsx
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
Labels: bug

#11333 fix(pci-users): datagrid in modal overflow
  packages/manager/apps/pci-users/src/pages/token/generate/GenerateOpenStackTokenModal.tsx
Labels: bug

#11334 fix(pci-users): page tracking
  packages/manager/apps/pci-users/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-users/src/pages/Layout.tsx
Labels: bug

#11339 feat(pci): content changes regions
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#11335 feat(pci): add new volume type consumption addons
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.controller.js
Labels: feature, universe-public-cloud

#11341 Revert/turbo test gh action
  .github/workflows/run-bdd-tests.yml
  jest.config.js
Labels: continuous-integration, universe-bare-metal-cloud, universe-telecom, documentation, translation required, container

#11327 feat(vrack-services): bump ods
  package.json
  packages/manager-components/package.json
  packages/manager-components/src/components/datagrid/datagrid.component.tsx
  packages/manager/apps/catalog/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/vrack-services/package.json
  yarn.lock
Labels: feature, dependencies

#11338 fix(vrack-services): fix test command breaking cds build
  packages/manager/apps/vrack-services/jest.config.js
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/utils/date.spec.ts
  packages/manager/apps/vrack-services/vitest.config.js
Labels: bug

#11340 fix(pci-users): role matrix default selected role
  packages/manager/apps/pci-users/src/pages/index/components/RolesMatrix/RolesChooser.tsx
Labels: bug

#11345 fix(vrack-services): fix tsconfig
  packages/manager/apps/vrack-services/tsconfig.json
Labels: bug

#11354 fix(container): update max width shortcut tile
  packages/manager/apps/container/src/container/legacy/account-sidebar/Shortcuts/Shortcuts.tsx
Labels: bug, container

#11364 fix(pci-voucher): upgrade version of ods
  packages/manager/apps/pci-vouchers/package.json
Labels: bug

#11266 feat(public-cloud): display public ip in billing section
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/billing.service.js
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/billing/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#11037 feat(project.instances): add instances tooltips for some openstack status
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
Labels: quality check, feature, translation required, universe-public-cloud

#11343 feat(pci): log to customer - ui kit updates
  packages/components/ng-log-live-tail/src/constants.js
  packages/components/ng-log-live-tail/src/template.html
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/log-to-customer/src/live-tail/template.html
Labels: feature, universe-public-cloud

#11385 feat(pci): disable volume backup creation for lz volume
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
Labels: bug, universe-public-cloud

#11387 fix(pci.storage): fix OMK tooltip tracking value for dashboard
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Labels: feature, universe-public-cloud

#11392 Terminate bloc ip instead of ip
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
Labels: feature

#11398 feat(pci-public-ip): use Translation tag instead of useTranslations
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
Labels: feature

#11403 feat(pci-public-ip): add modal to modify an aditionnal ip instance
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/import-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useImportIP.ts
  packages/manager/apps/pci-public-ip/src/components/edit/EditInstanceModal.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditInstancePage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: feature, translation required

#11292 feat(iam): add identities from policy
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.component.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.template.html
  packages/manager/modules/iam/src/components/identities/groupIdentities/index.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/identities.component.js
  packages/manager/modules/iam/src/components/identities/identities.controller.js
  packages/manager/modules/iam/src/components/identities/identities.template.html
  packages/manager/modules/iam/src/components/identities/selectModal/index.js
  packages/manager/modules/iam/src/components/identities/selectModal/selectModal.component.js
  packages/manager/modules/iam/src/components/identities/selectModal/selectModal.controller.js
  packages/manager/modules/iam/src/components/identities/selectModal/selectModal.styles.scss
  packages/manager/modules/iam/src/components/identities/selectModal/selectModal.template.html
  packages/manager/modules/iam/src/components/identities/selectModal/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/serviceAccountIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/userIdentities/index.js
  packages/manager/modules/iam/src/components/identities/userIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.component.js
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.template.html
  packages/manager/modules/iam/src/iam.service.js
Labels: feature, translation required

#11405 feat(pci-public-ip): add banner discovery on listing page
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Labels: feature

#11293 feat(vrack-services): dissociate vrack services from vrack
  packages/manager/apps/vrack-services/e2e/done/dissociate.feature
  packages/manager/apps/vrack-services/e2e/step-definitions/given.step.ts
  packages/manager/apps/vrack-services/e2e/step-definitions/then.step.ts
  packages/manager/apps/vrack-services/e2e/step-definitions/when.step.ts
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/mock/vrack/vrack.ts
  packages/manager/apps/vrack-services/src/api/vrack/delete.ts
  packages/manager/apps/vrack-services/src/components/DissociateVrackModal.tsx
  packages/manager/apps/vrack-services/src/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/listing/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/overview/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_de_DE.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_en_GB.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_es_ES.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_fr_CA.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_it_IT.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_pl_PL.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_pt_PT.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_de_DE.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_en_GB.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_es_ES.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_CA.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_it_IT.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_pl_PL.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#11408 fix(order): order date params not working on chromium
  packages/manager/modules/order/src/api/services.ts
Labels: bug

#11410 fix(pci): disable creation for lz and resolve create volume issue
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
Labels: bug, quality check: ok, universe-public-cloud

#11388 feat(container-app): payment card expiry fix modal layout
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
Labels: feature, container

#11420 fix(pci-users): user roles modal
  packages/manager/apps/pci-users/src/api/hooks/useUser.ts
Labels: bug, quality check: ok

#11436 feat(dedicated): modify error description
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/slice/ip-ip-byoip-slice.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/slice/ip-ip-byoip-slice.html
Labels: feature, universe-bare-metal-cloud

#11411 feat(telecom): add beta softphone
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/telecom-telephony.less
Labels: feature, universe-telecom, translation required

#11419 feat(telecom): add link to softphone tab
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11444 build(release): remove all smoke tags
  scripts/release/release.sh
Labels: build

#11445 Feat/pci databases analytics api unit tests
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/availabilities.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/backup.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/catalog.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/connectionPool.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/databaseUser.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/databases.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/integrations.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/logs.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/maintenances.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/namespaces.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/network.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/nodes.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/pciProjects.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/queries.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/services.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/availabilities.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/backups.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/catalog.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/certificates.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/connectionPool.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/databases.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/integrations.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/logs.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/maintenances.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/metrics.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/namespaces.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/network.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/nodes.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/pciProjects.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/queries.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/services.hook.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/api/users.hook.test.tsx
Labels: feature, translation required, dependencies, container

#11427 feat(pci-public-ip): add tracking
  packages/manager/apps/pci-public-ip/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: feature

#11440 feat(pci-public-ips): add maintenance banner
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/cloud.ts
  packages/manager/apps/pci-public-ip/src/api/data/network.ts
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useCloud.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useProject.ts
  packages/manager/apps/pci-public-ip/src/components/maintenance/MaintenanceBanner.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/useMaintenance.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Labels: feature, translation required

#11442 feat(pci-public-ip): add announcement banner in manager-component and use it in public-ips
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/index.ts
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_de_DE.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_en_GB.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_es_ES.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_fr_CA.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_fr_FR.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_it_IT.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_pl_PL.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_pt_PT.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/index.ts
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_de_DE.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_en_GB.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_es_ES.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_fr_CA.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_fr_FR.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_it_IT.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_pl_PL.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_pt_PT.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/index.ts
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/constants.ts
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Labels: feature, translation required

#11450 fix(*): fix react-query version for query client issue
  packages/manager-components/tsconfig.json
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/core/application/package.json
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/App.tsx
  packages/manager/core/generator/app/templates/src/components/Error/Error.tsx
  packages/manager/core/generator/app/templates/src/i18n.ts
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/query.client.ts
  packages/manager/core/generator/app/templates/src/shell.ts
  packages/manager/core/shell-client/src/initI18n.ts
  packages/manager/modules/order/package.json
  yarn.lock
Labels: bug, dependencies, container

#11281 feat(pci): add data platform menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: feature, translation required, universe-public-cloud, container

#11466 feat(telecom): add resend email with token btn
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11019 feat(telecom): add softphone nutshell with its module
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/telecom-telephony.less
Labels: quality check, feature, universe-telecom, translation required, stale

#11455 feat(pci-public-ip): add tests for terminate id and edit instance
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.component.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.spec.tsx
  packages/manager/apps/pci-public-ip/src/setupTests.ts
  packages/manager/apps/pci-public-ip/vitest.config.js
Labels: feature

#11070 feat(web.domain): domain optim
  packages/components/ng-ovh-utils/package.json
  packages/components/ng-ovh-utils/src/index.js
  packages/components/ng-ovh-utils/src/textAccordion/controller.js
  packages/components/ng-ovh-utils/src/textAccordion/directive.js
  packages/components/ng-ovh-utils/src/textAccordion/styles.less
  packages/components/ng-ovh-utils/src/textAccordion/template.html
  packages/components/ng-ovh-utils/src/textAccordion/textAccordion.js
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/domains.module.js
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/export-csv/domains-export-to-csv.controller.js
  packages/manager/apps/web/client/app/domain/list/export-csv/domains-export-to-csv.html
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.component.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/component.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/index.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/module.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/routing.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/template.html
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/list/style.scss
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud, container

#11473 feat(pci-public-ip): add test for maintenance component and hook
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.tsx
  packages/manager/apps/pci-public-ip/src/api/data/cloud.ts
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/MaintenanceBanner.component.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/MaintenanceBanner.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/useMaintenance.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/useMaintenance.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.spec.tsx
Labels: feature

#11486 feat(pci-public-ip): add units and integration tests for floatingIP and failover
  packages/manager-components/src/components/action-banner/action-banner.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
Labels: feature, tests

#11488 feat(pci-public-ip): add modal to modify instance of floating-ips
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/failover-ips-edit/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/floating-ips-edit/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/gateway.ts
  packages/manager/apps/pci-public-ip/src/api/data/network.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.component.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
  packages/manager/apps/pci-public-ip/src/utils.ts
Labels: feature

#11481 feat(telecom): add softphone device add
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11492 fix(octavia): fix conflict directive name with ovh-utils
  packages/manager/modules/pci-universe-components/src/project/index.js
  packages/manager/modules/pci-universe-components/src/project/text-accordion/controller.js
  packages/manager/modules/pci-universe-components/src/project/text-accordion/directive.js
  packages/manager/modules/pci-universe-components/src/project/text-accordion/index.js
  packages/manager/modules/pci-universe-components/src/project/text-accordion/styles.scss
  packages/manager/modules/pci-universe-components/src/project/text-accordion/template.html
Labels: bug, quality check: ok

#11471 fix(pci.container): update the layout of add object modal
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#11491 fix(dedicated.netapp): fix efs listing links
  packages/manager/modules/netapp/src/routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11175 feat(web): epic uniform funnels order db
  packages/manager/apps/web/.eslintrc.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.bundle.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.html
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/duration/domain-webhosting-order-steps-duration.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/duration/domain-webhosting-order-steps-duration.html
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/index.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.component.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.controller.js
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/payment/domain-webhosting-order-steps-payment.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/index.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.component.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.constants.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.routing.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.service.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_pt_PT.json
  packages/manager/modules/product-offers/.eslintrc.json
  packages/manager/modules/product-offers/package.json
  packages/manager/modules/product-offers/src/product-offers.controller.js
  packages/manager/modules/product-offers/src/product-offers.html
  packages/manager/modules/product-offers/src/translations/Messages_de_DE.json
  packages/manager/modules/product-offers/src/translations/Messages_en_GB.json
  packages/manager/modules/product-offers/src/translations/Messages_es_ES.json
  packages/manager/modules/product-offers/src/translations/Messages_fr_CA.json
  packages/manager/modules/product-offers/src/translations/Messages_fr_FR.json
  packages/manager/modules/product-offers/src/translations/Messages_it_IT.json
  packages/manager/modules/product-offers/src/translations/Messages_pl_PL.json
  packages/manager/modules/product-offers/src/translations/Messages_pt_PT.json
  packages/manager/modules/product-offers/src/workflows/product-offers-order-workflow.class.js
  packages/manager/modules/product-offers/src/workflows/product-offers-services-workflow.class.js
Labels: quality check: ok, feature, universe-web-cloud

#11503 feat(pci-private-network): initialize react app
  jest.config.js
  packages/manager/apps/pci-private-network/.eslintrc.cjs
  packages/manager/apps/pci-private-network/.gitignore
  packages/manager/apps/pci-private-network/README.md
  packages/manager/apps/pci-private-network/index.html
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-network/postcss.config.cjs
  packages/manager/apps/pci-private-network/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/setupTests.ts
  packages/manager/apps/pci-private-network/src/App.tsx
  packages/manager/apps/pci-private-network/src/api/data/project.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useProject.ts
  packages/manager/apps/pci-private-network/src/components/common.module.css
  packages/manager/apps/pci-private-network/src/constants.ts
  packages/manager/apps/pci-private-network/src/core/HidePreloader.tsx
  packages/manager/apps/pci-private-network/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-private-network/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-private-network/src/i18n.ts
  packages/manager/apps/pci-private-network/src/index.css
  packages/manager/apps/pci-private-network/src/interface/index.ts
  packages/manager/apps/pci-private-network/src/layout.ts
  packages/manager/apps/pci-private-network/src/main.tsx
  packages/manager/apps/pci-private-network/src/pages/Layout.tsx
  packages/manager/apps/pci-private-network/src/queryClient.ts
  packages/manager/apps/pci-private-network/src/routes.tsx
  packages/manager/apps/pci-private-network/src/tracking.constants.ts
  packages/manager/apps/pci-private-network/src/vite-env.d.ts
  packages/manager/apps/pci-private-network/src/vite-hmr.ts
  packages/manager/apps/pci-private-network/tailwind.config.js
  packages/manager/apps/pci-private-network/tsconfig.build.json
  packages/manager/apps/pci-private-network/tsconfig.json
  packages/manager/apps/pci-private-network/vite.config.ts
  packages/manager/apps/pci-private-network/vitest.config.js
  yarn.lock
Labels: feature, dependencies

#11509 Revert "feat(network-security): add params into traffic url (#11031)"
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.html
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.routing.js
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
Labels: universe-bare-metal-cloud, translation required

#11512 Add guides and prepare tab for datagrids
  packages/manager/apps/pci-private-network/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/src/components/list/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/list/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/constants.ts
  packages/manager/apps/pci-private-network/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-private-network/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-network/src/routes.tsx
Labels: feature

#11525 fix(telecom.overthebox): fix issue with chart
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
Labels: bug, universe-telecom

#11497 feat(pci-public-ip): add tests for floatingIP editInstance page
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/components/BreadCrumbs.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/edit/EditInstance.spec.tsx
  packages/manager/apps/pci-public-ip/vitest.config.js
Labels: feature, tests

#11540 feat(pci-gateway): init react app for Gateway section
  jest.config.js
  packages/manager/apps/pci-gateway/.eslintrc.cjs
  packages/manager/apps/pci-gateway/.gitignore
  packages/manager/apps/pci-gateway/README.md
  packages/manager/apps/pci-gateway/index.html
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-gateway/postcss.config.cjs
  packages/manager/apps/pci-gateway/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/src/App.tsx
  packages/manager/apps/pci-gateway/src/api/data/project.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useProject.ts
  packages/manager/apps/pci-gateway/src/components/common.module.css
  packages/manager/apps/pci-gateway/src/constants.ts
  packages/manager/apps/pci-gateway/src/core/HidePreloader.tsx
  packages/manager/apps/pci-gateway/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-gateway/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-gateway/src/i18n.ts
  packages/manager/apps/pci-gateway/src/index.css
  packages/manager/apps/pci-gateway/src/interface/index.ts
  packages/manager/apps/pci-gateway/src/layout.ts
  packages/manager/apps/pci-gateway/src/main.tsx
  packages/manager/apps/pci-gateway/src/pages/Layout.tsx
  packages/manager/apps/pci-gateway/src/queryClient.ts
  packages/manager/apps/pci-gateway/src/routes.tsx
  packages/manager/apps/pci-gateway/src/setupTests.ts
  packages/manager/apps/pci-gateway/src/tracking.constants.ts
  packages/manager/apps/pci-gateway/src/vite-env.d.ts
  packages/manager/apps/pci-gateway/src/vite-hmr.ts
  packages/manager/apps/pci-gateway/tailwind.config.js
  packages/manager/apps/pci-gateway/tsconfig.build.json
  packages/manager/apps/pci-gateway/tsconfig.json
  packages/manager/apps/pci-gateway/vite.config.ts
  packages/manager/apps/pci-gateway/vitest.config.js
  yarn.lock
Labels: feature, dependencies

#11545 feat(pci-gateway): add guides, title and description
  packages/manager/apps/pci-gateway/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
  packages/manager/apps/pci-gateway/src/routes.tsx
Labels: feature

#11537 feat(octavia): changed link in onboarding page for us
  packages/manager/modules/octavia-load-balancer/src/onboarding/constants.js
Labels: quality check: ok, feature

#11550 feat(pci-gateway): add datagrid, filter and pagination
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-gateway/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/src/api/data/gateway.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useGateway.ts
  packages/manager/apps/pci-gateway/src/components/list/Actions.component.tsx
  packages/manager/apps/pci-gateway/src/components/list/PrivateIPs.component.tsx
  packages/manager/apps/pci-gateway/src/interface/index.ts
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
  yarn.lock
Labels: feature, dependencies

#11057 fix: ldp streams action menu: better wording and copy stream id
  packages/manager/modules/cloud-universe-components/src/helper/controller/service.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.html
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/logs-streams.service.js
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#11331 feat(dedicated): add new region for us
  packages/manager/modules/manager-components/src/region/constants.js
  packages/manager/modules/manager-components/src/region/service.js
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: quality check: ok, feature

#11047 fix: logs data platform archive url payload
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/archives/streams-archives.service.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
Labels: quality check: ok, universe-bare-metal-cloud, stale

#11063 Rescue - Add buttons to choose between password and SSH key authentication
  packages/manager/modules/bm-server-components/src/netboot/constants.js
  packages/manager/modules/bm-server-components/src/netboot/controller.js
  packages/manager/modules/bm-server-components/src/netboot/service.js
  packages/manager/modules/bm-server-components/src/netboot/template.html
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/server/server.service.js
Labels: quality check: ok, feature

#11202 fix(dedicated): fix label and flag of tile on Toronto zone
  packages/manager/modules/manager-components/src/region/constants.js
  packages/manager/modules/manager-components/src/region/service.js
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required

#11449 feat(*): list of kms implementation
  packages/manager-components/src/components/datagrid/clipboard-cell.component.tsx
  packages/manager-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-components/src/components/index.ts
  packages/manager/apps/key-management-service/src/App.tsx
  packages/manager/apps/key-management-service/src/api/GET/apiv2/services.ts
  packages/manager/apps/key-management-service/src/api/utils.ts
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/hooks/useOKMS.ts
  packages/manager/apps/key-management-service/src/interface/index.ts
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_de_DE.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_en_GB.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_es_ES.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_fr_CA.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_it_IT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_pl_PL.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_de_DE.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_en_GB.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_es_ES.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_fr_CA.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_it_IT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_pl_PL.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_de_DE.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_en_GB.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_es_ES.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_fr_CA.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_it_IT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_pl_PL.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/error/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_de_DE.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_en_GB.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_es_ES.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_fr_CA.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_it_IT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_pl_PL.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/listing/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_de_DE.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_en_GB.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_es_ES.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_fr_CA.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_it_IT.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_pl_PL.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/onboarding/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/public/translations/kms/listing/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
Labels: feature, translation required

#11552 feat(pci-gateway): add action to go to private network
  packages/manager/apps/pci-gateway/src/components/list/Actions.component.tsx
  packages/manager/apps/pci-gateway/src/components/list/PrivateNetworkButton.component.tsx
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
Labels: feature

#11546 feat(zimbra): zimbra project v0
  packages/manager/apps/zimbra/README.md
  packages/manager/apps/zimbra/index.html
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/playwright.config.ts
  packages/manager/apps/zimbra/postcss.config.js
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/App.tsx
  packages/manager/apps/zimbra/src/api/GET/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/index.ts
  packages/manager/apps/zimbra/src/assets/error-banner-oops.png
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/components/Breadcrumb/constants.ts
  packages/manager/apps/zimbra/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/apps/zimbra/src/components/Error/Error.tsx
  packages/manager/apps/zimbra/src/components/Loading/Loading.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.scss
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/TabsPanel.tsx
  packages/manager/apps/zimbra/src/configInterface.ts
  packages/manager/apps/zimbra/src/index.scss
  packages/manager/apps/zimbra/src/index.tsx
  packages/manager/apps/zimbra/src/pages/404.tsx
  packages/manager/apps/zimbra/src/pages/_app.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/_layout.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/pages/onboarding/index.tsx
  packages/manager/apps/zimbra/src/pages/onboarding/onboarding-img.png
  packages/manager/apps/zimbra/src/queryClient.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/vite-hmr.ts
  packages/manager/apps/zimbra/src/zimbra.config.ts
  packages/manager/apps/zimbra/tailwind.config.js
  packages/manager/apps/zimbra/tsconfig.json
  packages/manager/apps/zimbra/vite.config.mjs
  yarn.lock
Labels: feature, translation required, dependencies

#11499 fix(iam): fix toggle selectAll actions for policy edition
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
Labels: bug, quality check: ok

#11565 fix(i18n): add missing translations [CDS 50]
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/error/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/error/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/error/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/error/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/error/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/error/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/error/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/organisations/Messages_pt_PT.json
Labels: feature

#11566 feat(pci-gateway): add onboarding page
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-gateway/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
  packages/manager/apps/pci-gateway/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-gateway/src/pages/onboarding/onboarding.constants.ts
  packages/manager/apps/pci-gateway/src/routes.tsx
Labels: feature

#11569 feat(telecom): separate logic and optimize one put
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
Labels: feature, universe-telecom

#11396 feat(dedicated): add additional ipv6 action in ip listing
  packages/manager/apps/dedicated/client/app/ip/components/list/index.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.component.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/additional-ipv6.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.service.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11413 feat(dedicated): assign IPv6 block to vRack
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
Labels: feature, universe-bare-metal-cloud

#11500 feat(dedicated): add new subnet to vrack ipv6
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/partials/mapped.html
  packages/manager/modules/vrack/src/vrack-services/ip/add/controller.js
  packages/manager/modules/vrack/src/vrack-services/ip/add/index.js
  packages/manager/modules/vrack/src/vrack-services/ip/add/template.html
  packages/manager/modules/vrack/src/vrack-services/ip/index.js
  packages/manager/modules/vrack/src/vrack-services/ip/ip.component.js
  packages/manager/modules/vrack/src/vrack-services/ip/ip.controller.js
  packages/manager/modules/vrack/src/vrack-services/ip/ip.html
  packages/manager/modules/vrack/src/vrack-services/ip/ip.less
  packages/manager/modules/vrack/src/vrack-services/ip/ip.service.js
  packages/manager/modules/vrack/src/vrack-services/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11462 feat(dedicated): delete ipv6 from vrack
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/delete-dialog/index.js
  packages/manager/modules/vrack/src/delete-dialog/template.html
  packages/manager/modules/vrack/src/partials/available.html
  packages/manager/modules/vrack/src/partials/mapped.html
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required, has conflicts

#11513 fix(web): show expired service message
  packages/manager/apps/web/client/app/private-database/private-database.service.js
Labels: bug, quality check: ok, universe-web-cloud

#10458 feat(dedicated): add name column in netapp dashboard
  packages/manager/modules/netapp/src/routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11541 fix(pci): consider all flavors for adding label
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
Labels: bug, universe-public-cloud

#11578 fix(octavia): fixed wrong name causing injection error
  packages/manager/modules/octavia-load-balancer/src/delete/delete.controller.js
Labels: bug

#11508 EFS update name
  packages/manager/modules/netapp/src/dashboard/Netapp.class.js
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/index/component.js
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/module.js
  packages/manager/modules/netapp/src/dashboard/index/routing.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11424 feat(iam): remove policy stand-alone identities management page
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.constants.js
  packages/manager/modules/iam/src/components/deleteEntity/deleteEntity.controller.js
  packages/manager/modules/iam/src/components/deleteEntity/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/dashboard/policies/policies.controller.js
  packages/manager/modules/iam/src/dashboard/policies/policies.template.html
  packages/manager/modules/iam/src/dashboard/policies/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/iam.constants.js
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/iam.paramTypes.js
  packages/manager/modules/iam/src/iam.service.js
  packages/manager/modules/iam/src/identities/delete/delete.module.js
  packages/manager/modules/iam/src/identities/delete/delete.routing.js
  packages/manager/modules/iam/src/identities/delete/index.js
  packages/manager/modules/iam/src/identities/identities.component.js
  packages/manager/modules/iam/src/identities/identities.controller.js
  packages/manager/modules/iam/src/identities/identities.module.js
  packages/manager/modules/iam/src/identities/identities.routing.js
  packages/manager/modules/iam/src/identities/identities.styles.scss
  packages/manager/modules/iam/src/identities/identities.template.html
  packages/manager/modules/iam/src/identities/index.js
  packages/manager/modules/iam/src/identities/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/identities/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/identities/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/identities/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/identities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/identities/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/identities/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/identities/translations/Messages_pt_PT.json
Labels: feature, translation required

#11542 Feat/manager 13566 Create KMS
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/api/GET/apiv2/services.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/OrderConfirmation.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/RegionSelector.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/order-utils.ts
  packages/manager/apps/key-management-service/src/hooks/useOrderCatalogOKMS.ts
  packages/manager/apps/key-management-service/src/pages/create/index.tsx
  packages/manager/apps/key-management-service/src/pages/layout.tsx
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/create/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_fr_CA.json
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/modules/order/src/order.constant.ts
Labels: feature, translation required

#11559 feat(pci.instance): add marseille region label
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/translations/Messages_pt_PT.json
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#11604 Revert "fix(web.webhosting): don't send option when module not selected"
  packages/manager/apps/web/client/app/domain/webhosting/order/steps/domain-webhosting-order-steps.controller.js
Labels: universe-web-cloud
