Repository ovh/manager, pull requests merged in 2024-11, with the labels that each got.

#13902 build(manager-react-components): bundle clean-up
  packages/manager-react-components/package.json
  packages/manager-react-components/vite.config.mts
Labels: build

#13887 fix(pci-load-balancer): fix QA returns
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer.tsx
  packages/manager/apps/pci-load-balancer/src/helpers/index.ts
  packages/manager/apps/pci-load-balancer/src/pages/delete/Delete.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/edit/Edit.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/list/List.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/list/Actions.component.tsx
Labels: feature

#13910 fix(procedures): gdpr fix field category detail wording
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_fr_FR.json
Labels: bug, translation required

#13908 fix(pci-load-balancer): fix l7 policies filter
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/list/List.page.tsx
Labels: feature

#13905 fix(pci-load-balancer): l7 creation error
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/create/Create.page.tsx
Labels: bug

#13916 fix(pci-load-balancer): add missing description for
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/detail/members/create/Create.page.tsx
Labels: feature

#13917 fix(pci-load-balancer): fix error message iterpretation
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/create/Create.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/delete/Delete.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/edit/Edit.page.tsx
Labels: feature

#13920 fix(pci-load-balancer): routing
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Labels: bug

#13919 fix(pci-load-balancer): onboarding
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-load-balancer/src/pages/onboarding/NoPrivateNetwork.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/onboarding/constant.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Labels: bug

#13926 Fix/display name listing hycu
  packages/manager/apps/hycu/src/pages/listing/Listing.page.tsx
  packages/manager/apps/hycu/src/types/hycu.details.interface.ts
Labels: bug

#13915 fix(savings-plan): max quantity
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/QuantitySelector/QuantitySelector.tsx
Labels: bug

#13848 feat(pci-private-network): Rework - Configure private network and subnet
  packages/manager/apps/pci-private-network/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/new/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/src/data/api/gateway.ts
  packages/manager/apps/pci-private-network/src/data/api/networks.ts
  packages/manager/apps/pci-private-network/src/data/hooks/availability/useAvailability.ts
  packages/manager/apps/pci-private-network/src/data/hooks/gateway/useGateway.ts
  packages/manager/apps/pci-private-network/src/data/hooks/networks/useNetworks.ts
  packages/manager/apps/pci-private-network/src/data/services/services.spec.ts
  packages/manager/apps/pci-private-network/src/data/services/services.ts
  packages/manager/apps/pci-private-network/src/hooks/useAvailableGatewayCatalog/useAvailableGatewayCatalog.tsx
  packages/manager/apps/pci-private-network/src/hooks/useDefaultVlanID/useDefaultVlanID.spec.tsx
  packages/manager/apps/pci-private-network/src/hooks/useDefaultVlanID/useDefaultVlanID.tsx
  packages/manager/apps/pci-private-network/src/hooks/useExistingGatewayRegion/useExistingGatewayRegion.spec.tsx
  packages/manager/apps/pci-private-network/src/hooks/useExistingGatewayRegion/useExistingGatewayRegion.tsx
  packages/manager/apps/pci-private-network/src/hooks/useGatewayAvailabilityRegion/useGatewayAvailabilityRegion.spec.tsx
  packages/manager/apps/pci-private-network/src/hooks/useGatewayAvailabilityRegion/useGatewayAvailabilityRegion.tsx
  packages/manager/apps/pci-private-network/src/hooks/useGuideLink/useGuideLink.constant.ts
  packages/manager/apps/pci-private-network/src/hooks/useGuideLink/useGuideLink.tsx
  packages/manager/apps/pci-private-network/src/hooks/usePrepareGatewayCreation/usePrepareGatewayCreation.tsx
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
  packages/manager/apps/pci-private-network/src/pages/new/button-action/ButtonAction.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/button-action/ButtonAction.spec.tsx
  packages/manager/apps/pci-private-network/src/pages/new/localisation/LocalisationConfig.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/private-network/PrivateNetworkConfig.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/private-network/PrivateNetworkConfig.spec.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/SubnetConfig.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/SubnetConfig.spec.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/gateway/GatewayConfig.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/gateway/GatewayConfig.spec.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/gateway/creation/GatewayCreation.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/gateway/creation/GatewayCreation.spec.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/gateway/message/AvailableGatewayMessage.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/gateway/message/ExistingGatewayMessage.component.tsx
  packages/manager/apps/pci-private-network/src/queryClient.ts
  packages/manager/apps/pci-private-network/src/routes.tsx
  packages/manager/apps/pci-private-network/src/setupTests.ts
  packages/manager/apps/pci-private-network/src/types/gateway.type.ts
  packages/manager/apps/pci-private-network/src/types/network.type.ts
  packages/manager/apps/pci-private-network/src/utils/test/test.provider.tsx
  packages/manager/apps/pci-private-network/src/utils/utils.spec.ts
  packages/manager/apps/pci-private-network/src/utils/utils.ts
Labels: feature, translation required, universe-public-cloud

#13937 Fix/hycu license file size
  packages/manager/apps/hycu/src/components/FileUpload/FileUpload.component.tsx
Labels: bug

#13946 build(manager-react-components): update react version
  packages/manager-react-components/package.json
  yarn.lock
Labels: build, dependencies

#13944 Feat/add error handling hycu listing
  packages/manager/apps/hycu/public/translations/hycu/listing/Messages_fr_FR.json
  packages/manager/apps/hycu/src/pages/listing/Listing.page.tsx
Labels: feature, translation required

#13956 feat(vrack): add occ as new eligibility service in vrack
  packages/manager/modules/cloud-universe-components/src/vrack/service.js
Labels: feature, common

#13947 feat(hycu): add alert banner without notification hook to avoid problem
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.tsx
Labels: feature

#13957 fix(manager-react-components): udpate dependencies versions
  packages/manager-react-components/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/modules/manager-pci-common/package.json
  yarn.lock
Labels: bug, dependencies, universe-public-cloud

#13966 fix(procedures): gdpr fix error message
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.component.tsx
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_fr_FR.json
Labels: bug, translation required

#13968 feat(pci-billing): add layout for tabs routing
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_pt_PT.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_pt_PT.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_pt_PT.json
  packages/manager/apps/pci-billing/src/components/TabsPanel.component.tsx
  packages/manager/apps/pci-billing/src/pages/billing/Billing.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/consumption/Consumption.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/estimate/Estimate.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/history/History.page.tsx
  packages/manager/apps/pci-billing/src/routes.tsx
  yarn.lock
Labels: feature, translation required, dependencies

#13989 test(manager-components): remove nics from mock
  packages/manager-react-components/src/hooks/services/mocks/services.mock.ts
Labels: bug

#13981 feat(container): updated my services menu entry
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
Labels: feature, translation required, container

#13797 feat(kms): kms dashboard tests
  packages/manager/apps/key-management-service/.gitignore
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagridCells.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/okmsServiceState/OkmsServiceState.component.tsx
  packages/manager/apps/key-management-service/src/data/api/okmsService.ts
  packages/manager/apps/key-management-service/src/data/hooks/useKMSServiceInfos.ts
  packages/manager/apps/key-management-service/src/data/hooks/useUpdateOkmsName.ts
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActions.spec.tsx
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActionsList.tsx
  packages/manager/apps/key-management-service/src/mocks/credentials/credentials.handler.ts
  packages/manager/apps/key-management-service/src/mocks/credentials/credentials.mock.ts
  packages/manager/apps/key-management-service/src/mocks/iam/iam.handler.ts
  packages/manager/apps/key-management-service/src/mocks/iam/iam.mock.ts
  packages/manager/apps/key-management-service/src/mocks/kms/okms.handler.ts
  packages/manager/apps/key-management-service/src/mocks/kms/okms.mock.ts
  packages/manager/apps/key-management-service/src/mocks/okms.mock.ts
  packages/manager/apps/key-management-service/src/mocks/serviceKeys/serviceKeys.handler.ts
  packages/manager/apps/key-management-service/src/mocks/serviceKeys/serviceKeys.mock.ts
  packages/manager/apps/key-management-service/src/mocks/services.mock.ts
  packages/manager/apps/key-management-service/src/mocks/services/services.mock.ts
  packages/manager/apps/key-management-service/src/pages/credential/generalInformations/generalInformations.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/CredentialList.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/updateName/OkmsNameUpdateModal.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.tsx
  packages/manager/apps/key-management-service/src/pages/listing/KmsListing.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
  packages/manager/apps/key-management-service/src/types/okmsService.type.ts
  packages/manager/apps/key-management-service/src/utils/iam/iam.constants.ts
  packages/manager/apps/key-management-service/src/utils/tests/TestApp.tsx
  packages/manager/apps/key-management-service/src/utils/tests/init.i18n.ts
  packages/manager/apps/key-management-service/src/utils/tests/renderTestApp.tsx
Labels: quality check: ok, feature, enabler

#13844 feat(pci): move hourlyPrice to monthly method in pci common
  packages/manager-react-components/src/hooks/useCatalogPrice.test.ts
  packages/manager-react-components/src/hooks/useCatalogPrice.ts
Labels: feature

#13976 fix(pci-load-balancer): fix issues on rules creation
  packages/manager/apps/pci-load-balancer/src/components/form/RuleForm.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/form/Ruleform.component.spec.tsx
Labels: feature

#13878 fix(dedicated.pcc): fix windows SPLA plan code with suffix
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/license/enable/dedicatedCloud-license-enable.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#13675 Feat/pci kubernetes allow activation plugin tapc 33
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/plugins.test.ts
  packages/manager/apps/pci-kubernetes/src/api/data/plugins.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAdmissionPlugin/useAdmissionPlugin.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAdmissionPlugin/useAdmissionPlugin.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/service/AdmissionPlugins.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/AdmissionPlugins.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/hooks/useResizeOsdsModal.spec.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useResizeOsdsModal.ts
  packages/manager/apps/pci-kubernetes/src/pages/admission-plugin/AdmissionPlugin.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/admission-plugin/AdmissionPlugins.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Labels: quality check: ok, feature

#13987 feat(dedicates): my services update content wording
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required, container

#13924 feat(vcd)(post-ga): add reset VCD password
  packages/manager-react-components/src/components/notifications/ods-notification.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/vcd-organization/vcd-datacentre.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/vcd-organization/vcd-organization.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/App.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/message/Message.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/message/MessageList.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/context/Message.context.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-reset-password.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useResetPassword.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/edit/EditVdcDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditPassword.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/TestApp.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/render-test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/uiTestHelpers.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/queryKeys.ts
Labels: feature, translation required

#14015 fix(pci-load-balancer): add missing notificaiton
  packages/manager/apps/pci-load-balancer/src/pages/listing/Listing.page.tsx
Labels: bug

#14018 fix(pci-load-balancer): region selector refactoring
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/regions/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/hook/useRegions.ts
Labels: bug

#13982 feat(dedicated.server): create tagging config page
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/assignTags/assign-tags.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/assignTags/assign-tags.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/assignTags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/unassignTags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/unassignTags/unassign-tags.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/tags/unassignTags/unassign-tags.routing.js
  packages/manager/modules/bm-server-components/src/tags/assignTags/assign-tags.controller.js
  packages/manager/modules/bm-server-components/src/tags/unassignTags/un-assign-tags.controller.js
Labels: feature, universe-bare-metal-cloud, translation required

#13983 feat(dedicated.cluster): create tagging config page
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/assignTags/assign-tags.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/assignTags/assign-tags.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/assignTags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/unassignTags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/unassignTags/unassign-tags.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/unassignTags/unassign-tags.routing.js
Labels: feature, universe-bare-metal-cloud, translation required

#14020 fix(pci-load-balancer): edit L7 rule
  packages/manager/apps/pci-load-balancer/src/components/form/RuleForm.component.tsx
Labels: bug

#13971 fix(manager-pci-common): update peer dependencies (mrc without build)
  .github/workflows/run-bdd-tests.yml
  packages/manager-react-components/package.json
  packages/manager-react-components/vite.config.mts
  packages/manager-react-components/vite.config.ts
Labels: bug, continuous-integration

#14026 fix(manager-react-components): update peer dependencies
  packages/manager-react-components/package.json
  packages/manager/modules/manager-pci-common/package.json
Labels: bug

#14023 feat(vrack-services): limit the vrack subnet
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/data/vrack-services/vs-api-utils.ts
  packages/manager/apps/vrack-services/src/pages/create-subnet/SubnetCreate.page.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/edit/EditSubnetModal.page.tsx
Labels: feature, universe-bare-metal-cloud, translation required

#13984 fix(hub-react): reworked services link definition
  packages/manager/apps/hub-react/src/billing/components/services-actions/ServicesActions.component.tsx
  packages/manager/apps/hub-react/src/billing/hooks/useServiceActions.ts
  packages/manager/apps/hub-react/src/billing/hooks/useServiceLinks.tsx
  packages/manager/apps/hub-react/src/components/products/Products.component.tsx
  packages/manager/apps/hub-react/src/hooks/products/useProducts.ts
Labels: feature

#13978 fix(vrack-services): fix vrs / subnet modification
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/data/vrack-services/put.ts
  packages/manager/apps/vrack-services/src/data/vrack-services/vs-api-utils.ts
Labels: feature, universe-bare-metal-cloud

#14022 fix(pci-load-balancer): fix pool form toogle popover
  packages/manager/apps/pci-load-balancer/src/components/form/PoolForm.component.tsx
Labels: bug

#14037 ci: conventional-graduate the pre-release packages
  scripts/release/release.sh
Labels: build, continuous-integration, common

#14030 chore: remove shell-client from yarn workspace
  package.json
  yarn.lock
Labels: refactor, dependencies

#14031 ci: skip mrc from lerna version
  lerna.json
Labels: continuous-integration

#14044 fix(dedicated): resolve order ipv4 issue
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#14077 fix(dedicated.pcc): fix wrong display of light dashboard
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard-light/dedicatedCloud-dashboard-light.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard-light/dedicatedCloud-dashboard-light.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/pccMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vcdMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#14053 feat(dedicated): add a cta to add a payment method if not recorded
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.html
  packages/manager/modules/billing-components/src/components/payment-method/translations/Messages_fr_FR.json
Labels: feature, translation required, common

#14052 feat(netapp): region homoginization in dashbaord
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#14088 feat(netapp): move translation
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#13972 fix(dedicated.dbaas): fix cache refresh with iceberg query
  packages/manager/modules/dbaas-logs/src/logs/list/logs-list.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#13925 fix(procedures): handle unknown file types in file input validation
  packages/manager/apps/procedures/src/components/FileInput/FileInput.tsx
Labels: bug, quality check: ok

#13856 fix(vcd): fix veeam backup status
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/backup-tile-item/BackupTileItem.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/veeamBackupBadge.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/veeamBackupId.ts
Labels: bug, quality check: ok

#13927 Feat/manager 15382 pcc user form
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/edit/vsphere-user-edit.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/edit/vsphere-user-edit.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/users/vsphere-users/edit/vsphere-user-edit.routes.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, universe-hosted-private-cloud

#12852 feat(dedicated.ip): remove parking for ipv6 order
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#13612 feat(dedicated): add alert for mail loss on hosting renewal deactivation
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/manualPayment.component.js
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/manualPayment.constants.js
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/manualPayment.controller.js
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/manualPayment.html
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/actions/update/manualPayment/translations/Messages_pt_PT.json
  packages/manager/modules/models/BillingService/BillingService.class.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required, common

#13970 feat(zimbra): add autoreply delete modal
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/autoReplies/delete/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/ActionButtonAutoReply.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AutoReplies.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/ModalDeleteAutoReply.component.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/iamAction.constants.ts
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Labels: quality check: ok, feature, universe-web-cloud

#13510 fix(dedicated): correct revert snapshot instead of restore
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#13749 feat(web): make operation status sortable
  packages/manager/apps/web/client/app/domain-operation/operation-table/operation-table.html
Labels: quality check: ok, feature, universe-web-cloud

#13622 feat(dedicated.ip): modify step4 no geolocation message
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#13539 feat(web.domain): add tracking for domain optim
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/export-csv/domains-export-to-csv.html
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/routing.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/template.html
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domains/domains.constant.js
  packages/manager/apps/web/client/app/domains/domains.routes.js
  packages/manager/apps/web/client/app/domains/export-csv/domains-export-to-csv.controller.js
Labels: quality check: ok, feature, universe-web-cloud

#14062 fix(zimbra): update password policy
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/AddAndEditEmailAccount.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/account.constants.ts
Labels: bug, quality check: ok, universe-web-cloud

#14095 Fix: [Local Zone] - New city : Rabat - fix the continent name
  packages/manager-react-components/src/hooks/region/translations/Messages_de_DE.json
  packages/manager-react-components/src/hooks/region/translations/Messages_en_GB.json
  packages/manager-react-components/src/hooks/region/translations/Messages_es_ES.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_CA.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_FR.json
  packages/manager-react-components/src/hooks/region/translations/Messages_it_IT.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pl_PL.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pt_PT.json
Labels: bug, translation required

#13840 feat(web): add guide link in 1clic module tab
  packages/manager/apps/web/client/app/config/constants.config.js
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud

#13574 feat(web): add private-database logs to customer module
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.controller.js
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.html
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.module.js
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.routing.js
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/logs/data-streams/index.js
  packages/manager/apps/web/client/app/private-database/logs/data-streams/private-database-data-streams.component.js
  packages/manager/apps/web/client/app/private-database/logs/data-streams/private-database-data-streams.constants.js
  packages/manager/apps/web/client/app/private-database/logs/data-streams/private-database-data-streams.controller.js
  packages/manager/apps/web/client/app/private-database/logs/data-streams/private-database-data-streams.module.js
  packages/manager/apps/web/client/app/private-database/logs/data-streams/private-database-data-streams.routing.js
  packages/manager/apps/web/client/app/private-database/logs/data-streams/private-database-data-streams.template.html
  packages/manager/apps/web/client/app/private-database/logs/index.js
  packages/manager/apps/web/client/app/private-database/logs/logs.module.js
  packages/manager/apps/web/client/app/private-database/logs/logs.routing.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.component.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.constants.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.controller.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.html
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.module.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.routing.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.service.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.template.html
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/logs/translations/Messages_pt_PT.json
  packages/manager/apps/web/package.json
Labels: quality check: ok, feature, universe-web-cloud, translation required

#14008 feat(pci.rancher): fix monthly pricing
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.ts
Labels: bug, quality check: ok, universe-public-cloud

#14005 feat(pci.kubernetes): add load balancer urls
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.order.js
Labels: quality check: ok, feature, universe-public-cloud

#13105 Fix(pci.project): [Local Zone] - New city : Rabat - fix the continent name
  packages/manager-react-components/src/hooks/region/translations/Messages_de_DE.json
  packages/manager-react-components/src/hooks/region/translations/Messages_en_GB.json
  packages/manager-react-components/src/hooks/region/translations/Messages_es_ES.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_CA.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_FR.json
  packages/manager-react-components/src/hooks/region/translations/Messages_it_IT.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pl_PL.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_pt_PT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud, common

#13802 Feat/pci kubernetes add refresh status tapc 1516 tapc 1752
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.tsx
Labels: quality check: ok, feature

#14111 revert: "feat(pci.kubernetes): add url (#14005)"
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.order.js
Labels: universe-public-cloud

#14080 feat(manager-react-components): Bump ods version 18.3.0
  docs/.vitepress/.nojekyll
  docs/cli/prebuild.js
  docs/package.json
  packages/manager-react-components/.storybook/main.ts
  packages/manager-react-components/.storybook/ovh.theme.ts
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/ManagerButton/ManagerButton.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.spec.tsx
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/components/typography/title/title.component.tsx
  packages/manager-react-components/src/docs/introduction.mdx
  packages/manager-react-components/src/docs/whatsnew/changelog.stories.mdx
  packages/manager-react-components/src/docs/whatsnew/migration-guide/1.x.x-to-2.3.0.mdx
  packages/manager/core/generator/app/templates/package.json.hbs
  yarn.lock
Labels: feature, documentation, dependencies, common

#14078 fix(kms): change iam perm on serviceKeys
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActions.spec.tsx
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActionsList.tsx
  packages/manager/apps/key-management-service/src/mocks/serviceKeys/serviceKeys.mock.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
  packages/manager/apps/key-management-service/src/types/okmsServiceKey.type.ts
Labels: bug, quality check: ok, enabler

#14118 fix(pci-common): shapes input dynamic columns count
  packages/manager/modules/manager-pci-common/src/components/shape-input/ShapeInput.component.tsx
Labels: bug

#13953 fix(kms): use <Region /> component
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/RegionSelector.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.tsx
Labels: bug, quality check: ok, translation required, enabler

#13841 feat(kms): add tracking batch 2 and 3
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagridCells.tsx
  packages/manager/apps/key-management-service/src/components/serviceKey/modals/ServiceKeyDeactivateModal.component.tsx
  packages/manager/apps/key-management-service/src/components/serviceKey/modals/ServiceKeyEditNameModal.component.tsx
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActions.spec.tsx
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActionsList.tsx
  packages/manager/apps/key-management-service/src/pages/credential/Credential.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateAddIdentities.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateCredential.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsCreationMethod.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/identities/IdentitiesRootAccount.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/generalInformations/delete/DeleteCredentialModal.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/generalInformations/generalInformations.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/CredentialList.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/delete/DeleteCredentialModal.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.tsx
Labels: quality check: ok, feature, enabler

#14098 fix(tailwind-config): remove ods-size dependency
  packages/manager/core/tailwind-config/index.js
Labels: bug, common

#13860 Feat/pci ai notebooks manage notebook pop up (Start, Stop, Delete)
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/status/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/src/__tests__/helpers/mocks/container.ts
  packages/manager/apps/pci-ai-notebooks/src/__tests__/helpers/mocks/datastore.ts
  packages/manager/apps/pci-ai-notebooks/src/components/cli-code-block/CliCodeBlock.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/order/framework/FrameworkTile.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/configuration/polling.constants.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/command.api.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/notebook.api.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/notebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/data/api/sshkey/sshkey.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/datastore/useGetDatastoreContainer.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useAddNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useDeleteNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useDeleteNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useGetCommand.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useGetNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useGetNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStartNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStartNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStopNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStopNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/sshkey/useAddSshKey.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/lib/statusHelper.ts
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/Notebook.context.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/Notebook.layout.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/DeleteNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StartNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StopNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/_components/CliEquivalent.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/routes/routes.tsx
Labels: feature, translation required

#14074 feat(web): add guide link for eligibility
  packages/manager/apps/web/client/app/domain/contact/dashboard/dashboard.constants.js
  packages/manager/apps/web/client/app/domain/contact/dashboard/dashboard.controller.js
  packages/manager/apps/web/client/app/domain/contact/dashboard/dashboard.html
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#14126 Revert "fix(pci.rancher): change method for pricing (#14008)"
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.ts
Labels: universe-public-cloud

#13742 feat(ips): init ips react app
  packages/manager/apps/ips/README.md
  packages/manager/apps/ips/index.html
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/postcss.config.js
  packages/manager/apps/ips/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/ips/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/ips/error/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/ips/src/App.tsx
  packages/manager/apps/ips/src/assets/error-banner-oops.png
  packages/manager/apps/ips/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/ips/src/components/Error/Error.scss
  packages/manager/apps/ips/src/components/Error/Error.tsx
  packages/manager/apps/ips/src/components/Loading/Loading.tsx
  packages/manager/apps/ips/src/data/api/ips.ts
  packages/manager/apps/ips/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/ips/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/ips/src/index.scss
  packages/manager/apps/ips/src/index.tsx
  packages/manager/apps/ips/src/ips.config.ts
  packages/manager/apps/ips/src/pages/404.tsx
  packages/manager/apps/ips/src/pages/index.tsx
  packages/manager/apps/ips/src/pages/layout.tsx
  packages/manager/apps/ips/src/pages/listing/index.tsx
  packages/manager/apps/ips/src/pages/onboarding/index.scss
  packages/manager/apps/ips/src/pages/onboarding/index.tsx
  packages/manager/apps/ips/src/pages/onboarding/onboarding-img.png
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/tracking.constant.ts
  packages/manager/apps/ips/src/vite-hmr.ts
  packages/manager/apps/ips/tailwind.config.js
  packages/manager/apps/ips/tsconfig.json
  packages/manager/apps/ips/tsconfig.test.json
  packages/manager/apps/ips/vite.config.mjs
Labels: feature, translation required

#14133 [Fix][Pci-private-network][Pci-block-storage] Bump MRC to last version & fix selector style
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-block-storage/tailwind.config.js
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-network/tailwind.config.js
  yarn.lock
Labels: bug, dependencies, universe-public-cloud

#14131 fix(generator): delete e2e tests
  packages/manager/core/generator/app/templates/e2e/features/error.feature
  packages/manager/core/generator/app/templates/e2e/features/onboarding.feature
  packages/manager/core/generator/app/templates/e2e/step-definitions/error.step.ts.hbs
  packages/manager/core/generator/app/templates/e2e/step-definitions/onboarding.step.ts
  packages/manager/core/generator/app/templates/e2e/utils/constants.ts
  packages/manager/core/generator/app/templates/e2e/utils/index.tsx
  packages/manager/core/generator/app/templates/e2e/utils/network.ts
  packages/manager/core/generator/app/templates/mocks/example/example-data.json
  packages/manager/core/generator/app/templates/mocks/example/example.ts
  packages/manager/core/generator/app/templates/mocks/index.ts
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/playwright.config.ts
Labels: bug, common

#14083 fix(account): resolve flag indicator icons
  packages/manager/apps/account/webpack.config.js
Labels: bug

#14112 fix(account): add forgotten translations
  packages/manager/modules/account/src/account.module.js
  packages/manager/modules/account/src/common/translations/Messages_de_DE.json
  packages/manager/modules/account/src/common/translations/Messages_en_GB.json
  packages/manager/modules/account/src/common/translations/Messages_es_ES.json
  packages/manager/modules/account/src/common/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/common/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/common/translations/Messages_it_IT.json
  packages/manager/modules/account/src/common/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/common/translations/Messages_pt_PT.json
Labels: bug, translation required

#14138 feat(web): add eligibility link
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
Labels: feature, universe-web-cloud

#14123 Feat/manager 15294 - Add error on nutanix suspended services
  packages/manager/modules/nutanix/src/dashboard/nodes/node/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/dashboard/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hosted-private-cloud

#14017 fix(account): use url builder to build dedicated.billing links
  packages/manager/modules/account/src/contacts/service/edit/edit.routing.js
  packages/manager/modules/account/src/contacts/service/user-contacts-service.routes.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.constants.js
Labels: bug

#14156 feat(veeam-backup): add USA onboarding
  packages/manager/apps/veeam-backup/src/components/Links/BillingLink.component.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/useGuideUtils.tsx
Labels: feature, universe-bare-metal-cloud

#13808 feat(manager-components): disable update name button if no change
  packages/manager-react-components/src/components/templates/update-name-modal/update-name-modal.component.tsx
Labels: feature

#14176 fix(mrc): set icon actionmenu compact ellipsisvertical
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.spec.tsx
Labels: bug

#13869 feat(account): redircect from dedicated to account
  packages/manager/apps/account/package.json
  packages/manager/apps/account/src/index.js
  packages/manager/apps/account/webpack.config.js
  packages/manager/apps/container/src/core/routing/iframe-app-router.tsx
  packages/manager/apps/container/src/core/routing/redirections.tsx
  packages/manager/modules/account/package.json
  packages/manager/modules/account/src/account.module.js
  packages/manager/modules/account/src/common/translations/Messages_de_DE.json
  packages/manager/modules/account/src/common/translations/Messages_en_GB.json
  packages/manager/modules/account/src/common/translations/Messages_es_ES.json
  packages/manager/modules/account/src/common/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/common/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/common/translations/Messages_it_IT.json
  packages/manager/modules/account/src/common/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/common/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/contacts/service/edit/edit.routing.js
  packages/manager/modules/account/src/contacts/service/user-contacts-service.routes.js
  packages/manager/modules/account/src/index.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.constants.js
  packages/manager/modules/account/src/user/ip/restriction/user-ip-restriction.module.js
  packages/manager/modules/account/src/user/ip/restriction/validator.service.js
  yarn.lock
Labels: feature, translation required, dependencies, container

#14193 fix(manager-components): add guide onclick callback
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
Labels: bug

#14205 feat(dedicated): remove action menu from tag listing page
  packages/manager/modules/bm-server-components/src/tags/component.js
  packages/manager/modules/bm-server-components/src/tags/template.html
  packages/manager/modules/bm-server-components/src/tags/translations/Messages_fr_FR.json
Labels: feature, translation required

#14199 feat(*): change wording resiliation nutanix
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/component.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/template.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#13730 fix(log-to-customer): fix duplicate tracking on subscribe
  packages/manager/modules/log-to-customer/src/tiles/template.html
Labels: bug, quality check: ok, common

#14042 fix(web.hosting.task): replace 2api call by iceberg call
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.service.js
  packages/manager/apps/web/client/app/hosting/task/TASK.html
  packages/manager/apps/web/client/app/hosting/task/hosting-task.constants.js
  packages/manager/apps/web/client/app/hosting/task/hosting-task.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#14162 fix(catalog): clear url search param based on search field
  packages/manager/apps/catalog/src/components/SearchBar/SearchBar.tsx
Labels: bug, quality check: ok

#14130 feat(kms): remove new and beta tag from menu for KMS
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
Labels: quality check: ok, feature, container

#14011 feat(zimbra): implement add autoreply page
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/autoReplies/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/autoReplies/add/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/ActionButtonAutoReply.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AddAutoReply.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AutoReplies.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/ModalDeleteAutoReply.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/__test__/ActionButtonAutoReply.component.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/__test__/AddAutoReply.page.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/__test__/AutoReplies.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/__test__/ModalDeleteAutoReply.component.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/AddAndEditEmailAccount.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/ModalAddAndEditRedirections.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/Redirections.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/date.ts
  packages/manager/apps/zimbra/src/utils/index.ts
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Labels: quality check: ok, feature, universe-web-cloud

#14161 fix(vcd): fix refresh error on datacentre compute order page
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
Labels: bug, quality check: ok

#14145 fix(kms): remove kms contact management from US
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.constants.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
Labels: bug, quality check: ok, enabler

#14169 feat(manager-components): disable update name button if no change
  packages/manager-react-components/src/components/templates/delete-modal/__snapshots__/delete-modal.spec.tsx.snap
  packages/manager-react-components/src/components/templates/update-name-modal/__snapshots__/update-name-modal.spec.tsx.snap
  packages/manager-react-components/src/components/templates/update-name-modal/update-name-modal.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/__snapshots__/New.page.spec.tsx.snap
  packages/manager/apps/pci-private-network/src/pages/onboarding/__snapshots__/Onboarding.page.spec.tsx.snap
  packages/manager/apps/pci-private-registry/src/pages/create/steps/RegionStep.tsx
  packages/manager/apps/pci-private-registry/src/pages/create/steps/__snapshots__/PlanStep.spec.tsx.snap
Labels: feature, universe-public-cloud

#14121 fix(manager-react-components): add convertHourlyPriceToMonthly method
  packages/manager-react-components/src/hooks/useCatalogPrice.ts
Labels: bug

#13859 fix(manager-components): add guide onclick callback
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
Labels: bug

#13863 feat(zimbra): add account order cta & page
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/api/_mock_/index.ts
  packages/manager/apps/zimbra/src/api/_mock_/order.ts
  packages/manager/apps/zimbra/src/api/order/api.ts
  packages/manager/apps/zimbra/src/api/order/index.ts
  packages/manager/apps/zimbra/src/api/order/key.ts
  packages/manager/apps/zimbra/src/api/order/type.ts
  packages/manager/apps/zimbra/src/api/order/utils.ts
  packages/manager/apps/zimbra/src/hooks/__test__/useOrderCatalog.spec.tsx
  packages/manager/apps/zimbra/src/hooks/index.ts
  packages/manager/apps/zimbra/src/hooks/useOrderCatalog.ts
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AddAutoReply.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsOrder.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalAddAlias.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/EmailAccountsOrder.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/account.constants.ts
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/MailingListSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/__test__/AddAndEditMailingList.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/mailingList.constants.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ModalAddAndEditOrganization.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/ModalAddAndEditRedirections.page.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/form.ts
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
  packages/manager/apps/zimbra/src/utils/test.setup.tsx
Labels: quality check: ok, feature, universe-web-cloud

#13836 feat(pci-object-storage): add bucket warning in creation
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
Labels: quality check: ok, feature, translation required, universe-public-cloud

#14104 feat(pci-datatabases-analytics): display subnet in dashboard
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/src/hooks/api/network/useGetServiceSubnet.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/network/useGetServiceSubnet.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
Labels: quality check: ok, feature, universe-public-cloud

#14155 fix: remove min value for string in advanced configuration
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/advancedConfiguration/useAdvancedConfigurationForm.hook.tsx
Labels: bug, quality check: ok, universe-public-cloud

#14143 Feat/pci kubernetes show etcd 3 tapc 23
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/input/PopoverTrigger.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterETCD.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterETCD.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterTile.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterTile.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/TileLine.component.tsx
  packages/manager/apps/pci-kubernetes/src/helpers/index.spec.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/wrapperRenders.tsx
Labels: quality check: ok, feature, translation required

#13909 feat(savings-plan): rework ui on mobile
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/SimpleTile/SimpleTile.tsx
Labels: quality check: ok, feature

#13853 feat(savings-plan): information message on listing
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
Labels: quality check: ok, feature

#14226 feat(netapp): retrieve region information from catalog
  packages/manager/modules/netapp/src/order/constants.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#14224 feat(web.mxplan): add dkim feature
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Labels: feature, universe-web-cloud, translation required

#14153 feat(pci-quota): initialize react app
  packages/manager/apps/pci-quota/README.md
  packages/manager/apps/pci-quota/index.html
  packages/manager/apps/pci-quota/package.json
  packages/manager/apps/pci-quota/postcss.config.cjs
  packages/manager/apps/pci-quota/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-quota/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-quota/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-quota/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-quota/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-quota/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-quota/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-quota/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-quota/src/App.tsx
  packages/manager/apps/pci-quota/src/components/common.module.css
  packages/manager/apps/pci-quota/src/constants.ts
  packages/manager/apps/pci-quota/src/core/HidePreloader.tsx
  packages/manager/apps/pci-quota/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-quota/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-quota/src/index.css
  packages/manager/apps/pci-quota/src/layout.ts
  packages/manager/apps/pci-quota/src/main.tsx
  packages/manager/apps/pci-quota/src/pages/Layout.tsx
  packages/manager/apps/pci-quota/src/queryClient.ts
  packages/manager/apps/pci-quota/src/routes.tsx
  packages/manager/apps/pci-quota/src/sampleTest.spec.ts
  packages/manager/apps/pci-quota/src/setupTests.tsx
  packages/manager/apps/pci-quota/src/tracking.constants.ts
  packages/manager/apps/pci-quota/src/vite-env.d.ts
  packages/manager/apps/pci-quota/src/vite-hmr.ts
  packages/manager/apps/pci-quota/tailwind.config.js
  packages/manager/apps/pci-quota/tsconfig.build.json
  packages/manager/apps/pci-quota/tsconfig.json
  packages/manager/apps/pci-quota/vite.config.ts
  packages/manager/apps/pci-quota/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies

#14173 feat(generator): add vitest in generator
  packages/manager/core/generator/app/conditional-templates/listing/v2/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/v2/listing.spec.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/v6/listing.spec.tsx.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/vitest.config.js
  packages/manager/core/generator/utils/create-structure-helpers.js
Labels: feature, common

#13713 build(component-rollup-config): bump rollup to v2
  packages/manager/tools/component-rollup-config/package.json
  yarn.lock
Labels: build, dependencies, common

#14220 fix(web.exchange): fix account with aliases csv export
  packages/manager/modules/web-universe-components/src/exchange/exchange.service.js
Labels: bug, universe-web-cloud, common

#14272 feat(mrc): invert onboarding button legacy
  packages/manager-react-components/src/components/templates/onboarding/onboarding.component.tsx
Labels: feature

#14251 fix(mrc-v1): datagrid no results should be centered
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
Labels: bug

#14277 fix(pci.ai.endpoints): change ff pci menu management for CA
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
Labels: bug, quality check: ok, container

#14284 feat(pci-object-storage): add datagrid for user s3
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/user.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.ts
  packages/manager/apps/pci-object-storage/src/components/Actions.component.tsx
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/helpers/index.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/Objects.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/useDatagridColumn.tsx
  packages/manager/apps/pci-object-storage/src/wrapperRenders.tsx
  packages/manager/modules/manager-pci-common/src/components/tabs-panel/TabsPanel.component.tsx
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/index.ts
Labels: feature, translation required

#14241 feat(nutanix): add nodes sections on nutanix dashboard
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/node.class.js
  packages/manager/modules/nutanix/src/service.js
Labels: feature, translation required, universe-hosted-private-cloud

#14294 feat(mrc): uniformize confirm button label on delete modal
  packages/manager-react-components/src/components/templates/delete-modal/__snapshots__/delete-modal.spec.tsx.snap
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_pt_PT.json
Labels: feature, translation required

#14188 feat(manager-pci-common): add get instances by region
  packages/manager/modules/manager-pci-common/src/api/data/instance.spec.ts
  packages/manager/modules/manager-pci-common/src/api/data/instance.ts
Labels: feature

#14273 fix(mrc): ensure useAuthorizationIam query option enabled is a boolean
  packages/manager-react-components/src/hooks/iam/useOvhIam.spec.ts
  packages/manager-react-components/src/hooks/iam/useOvhIam.spec.tsx
  packages/manager-react-components/src/hooks/iam/useOvhIam.tsx
Labels: bug

#14287 feat(pci-object-storage): add storages listing
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/helpers/index.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/useDatagridColumn.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/Messages_pt_PT.json
Labels: feature, translation required

#14202 fix(mrc): datagrid no results should be centered
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
Labels: bug

#14170 fix(manager-react-components): sync with v1.x
  packages/manager-react-components/src/components/container/step/Step.component.tsx
  packages/manager-react-components/src/components/notifications/notifications.spec.tsx
  packages/manager-react-components/src/components/notifications/useNotifications.ts
  packages/manager-react-components/src/hooks/useCatalogPrice.test.ts
  packages/manager-react-components/src/hooks/useCatalogPrice.ts
Labels: bug

#14293 feat(mrc): uniformize confirm button label on delete modal
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_pt_PT.json
Labels: feature, translation required

#14312 fix(pci-object-storage): fix object storage 3az prices
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#14252 feat(procedures): updated finalize payload to match api
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.component.tsx
  packages/manager/apps/procedures/src/types/procedure.ts
Labels: feature

#14260 feat(hpc-vmware-managed-vcd): cleanup tests with test-utils
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/uiTestHelpers.ts
  packages/manager/apps/hpc-vmware-managed-vcd/tsconfig.test.json
  packages/manager/apps/hpc-vmware-managed-vcd/vitest.config.js
  packages/manager/apps/veeam-backup/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/delete-veeam/delete-veeam.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/edit-name/edit-name.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/onboarding.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/order-veeam.spec.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/test-utils.ts
  packages/manager/apps/veeam-backup/tsconfig.test.json
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods17.ts
Labels: feature, universe-bare-metal-cloud, common

#14300 feat(procedures): gdpr form remove the colon from the labels
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/FileField/FileField.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.test.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/SelectField/SelectField.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/TextAreaField/TextAreaField.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/TextField/TextField.component.tsx
Labels: bug

#14316 docs(mrc): update changelog
  packages/manager-react-components/CHANGELOG.md
Labels: documentation

#14303 feat(pci-object-storage): add delete user modal
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/delete/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/user.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.ts
  packages/manager/apps/pci-object-storage/src/components/Actions.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/useDatagridColumn.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/modules/manager-pci-common/src/components/modal/deletion-modal/DeletionModal.component.tsx
Labels: feature, translation required

#14322 test(mrc): ensure useAuthorizationIam query option enabled is a boolean
  packages/manager-react-components/src/hooks/iam/useOvhIam.spec.ts
  packages/manager-react-components/src/hooks/iam/useOvhIam.spec.tsx
Labels: bug

#14323 feat(web): display nic for all and oui message
  packages/manager/apps/web/client/app/domain/contact/dashboard/dashboard.html
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#14258 feat(ovh-at-internet): added custome property goal_type
  packages/components/ovh-at-internet/src/constants.ts
Labels: quality check: ok, feature, common

#14339 build: bump shell-client
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/modules/manager-pci-common/CHANGELOG.md
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/order/CHANGELOG.md
  packages/manager/modules/order/package.json
  yarn.lock
Labels: build, universe-web-cloud, universe-bare-metal-cloud, dependencies, universe-public-cloud, container, enabler, common

#14343 feat(vrack-services): modify vrackservices creation modal content
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/pages/create-vs/confirm/CreateConfirmModal.page.tsx
Labels: feature, universe-bare-metal-cloud, translation required

#14342 feat(vrack-services): disable detele VS option if assoication exist
  packages/manager/apps/vrack-services/src/pages/listing/ActionCell.component.tsx
Labels: feature, universe-bare-metal-cloud

#14190 feat(dedicated.pcc): add line break on software solution tile item
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#14310 feat(pci-object-storage): add onboarding page
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/Objects.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Labels: feature, translation required

#14347 ci: update shell-client version to 0.8.2
  packages/manager/core/shell-client/CHANGELOG.md
  packages/manager/core/shell-client/package.json
Labels: continuous-integration, common

#14229 fix(pci.rancher): update monthly pricing method
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.ts
  yarn.lock
Labels: bug, quality check: ok, dependencies, universe-public-cloud

#14071 feat(pci.kubernetes): refacto oidc provider
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/upsert-oidc-provider/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/oidc/OidcProviderModal.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/add/AddOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/add/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/remove/RemoveOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/remove/RemoveOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/update/UpdateOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/update/UpdateOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Labels: quality check: ok, feature, translation required, refactor

#14069 feat(pci): update order menu for instances backup and workflow
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: quality check: ok, feature, container

#14349 fix(vcd): revert vdc usage tile for ga
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
Labels: bug

#14239 feat(dedicated): revamp subscription tile component
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/services-actions/index.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.constants.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/billing-components/src/components/subscription-tile/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
  packages/manager/modules/billing-components/src/components/utils/constants.js
  packages/manager/modules/billing-components/src/components/utils/index.js
Labels: feature, translation required, common

#14186 feat(pci.load-balancer): add xl flavors
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/hook/useAddons.ts
  packages/manager/apps/pci-load-balancer/src/constants.ts
  packages/manager/apps/pci-load-balancer/src/pages/detail/overview/Configuration.tsx
Labels: quality check: ok, translation required

#14355 fix(zimbra): ods css imported twice
  packages/manager/apps/zimbra/src/index.tsx
Labels: bug, universe-web-cloud
