Repository ovh/manager, pull requests merged in 2024-01, with the labels that each got.

#10602 fix(dedicated.pcc): fix order links
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds-order.js
  packages/manager/modules/cloud-connect/src/cloud-connect.order.js
  packages/manager/modules/cloud-connect/src/onboarding/constants.js
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/veeam-cloud-connect/src/onboarding/constants.js
  packages/manager/modules/veeam-cloud-connect/src/veeam.order.js
  packages/manager/modules/veeam-enterprise/src/onboarding/constants.js
  packages/manager/modules/veeam-enterprise/src/veeam.order.js
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#10605 fix(pci): white-list US VNC URL
  packages/manager/modules/pci/src/projects/project/instances/instance/vnc/vnc.constants.js
Labels: bug, quality check: ok, universe-public-cloud

#10600 fix(web): mx config step 2 display spam config
  packages/manager/modules/emailpro/src/domain/mx-autoconfig/emailpro-domain-mx-autoconfig.html
Labels: bug, universe-web-cloud

#10607 docs: update CONTRIBUTORS and MAINTAINERS
  CONTRIBUTORS
  MAINTAINERS
Labels: documentation

#10564 feat(pci-rancher): add pci rancher in manager menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: feature, translation required, container

#10555 feat(pci): discovery - add payment to activation page
  packages/manager/modules/pci/src/projects/new/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/components/voucher/index.scss
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/new/index.scss
  packages/manager/modules/pci/src/projects/new/payment/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/constants.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/choose/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/choose/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/default/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/default/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/dlp/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/dlp/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/register/component.js
  packages/manager/modules/pci/src/projects/new/payment/components/register/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.html
  packages/manager/modules/pci/src/projects/project/activate/activate.module.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: quality check, feature, universe-public-cloud

#10609 feat(octavia): tracking adjustements
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/overview/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/list/template.html
Labels: feature

#10617 feat(dedicated): replace plain name by region name
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10616 fix(vmware): remove saphana in US add vdc workflow
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.routes.js
Labels: bug, universe-bare-metal-cloud, universe-hosted-private-cloud

#10620 feat(project.new): remove current active voucher
  packages/manager/modules/pci/src/projects/new/components/pci-new-project-promotion-banner/constants.js
Labels: feature, universe-public-cloud

#10630 feat(dedicated.netapp): manage disabled vrack services
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/network-configuration/routing.js
Labels: feature, universe-bare-metal-cloud, translation required

#10633 feat(octavia): fix forgotten tracking
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/routing.js
Labels: feature

#10636 feat(public-cloud): attach private network in localzone to instance
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/attach-private-network/attach-private-network.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: feature, universe-public-cloud

#10638 feat(octavia): sending correct value to deactivate session persistence
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/edit/controller.js
Labels: feature

#10314 feat(telecom): delete batch history
  packages/manager/modules/sms/package.json
  packages/manager/modules/sms/src/sms/batches/history/delete/delete.component.js
  packages/manager/modules/sms/src/sms/batches/history/delete/delete.controller.js
  packages/manager/modules/sms/src/sms/batches/history/delete/delete.html
  packages/manager/modules/sms/src/sms/batches/history/delete/delete.module.js
  packages/manager/modules/sms/src/sms/batches/history/delete/delete.routing.js
  packages/manager/modules/sms/src/sms/batches/history/delete/index.js
  packages/manager/modules/sms/src/sms/batches/history/index.js
  packages/manager/modules/sms/src/sms/batches/history/routing.js
  packages/manager/modules/sms/src/sms/batches/history/telecom-sms-batches-history.component.js
  packages/manager/modules/sms/src/sms/batches/history/telecom-sms-batches-history.html
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_de_DE.json
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_en_GB.json
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_es_ES.json
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_fr_CA.json
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_it_IT.json
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_pl_PL.json
  packages/manager/modules/sms/src/sms/batches/history/translations/Messages_pt_PT.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_de_DE.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_en_GB.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_es_ES.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_fr_CA.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_it_IT.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_pl_PL.json
  packages/manager/modules/sms/src/sms/batches/translations/Messages_pt_PT.json
  packages/manager/modules/sms/src/sms/telecom-sms.service.js
Labels: quality check: ok, feature, universe-telecom, translation required

#10614 feat(pci.projects): add private registry us guides
  packages/manager/modules/pci/src/components/project/guides-header/guides-header.constants.js
Labels: quality check: ok, feature, universe-public-cloud

#10473 feat(pci): allow vlan id 0 when creating private network
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-networks/add/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#10379 feat(generator): add pagination for v2 and V6 api
  packages/manager/core/api/src/iceberg.ts
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/conditional-translations/listing/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/DatagridWrapper.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/core/generator/app/templates/src/configInterface.ts.hbs
  packages/manager/core/generator/utils/create-structure-helpers.js
  packages/manager/core/utils/package.json
  packages/manager/core/utils/src/ReactFormatter.ts
  packages/manager/core/utils/src/index.ts
Labels: feature

#10650 fix(manager): update yarn lock
  yarn.lock
Labels: bug, dependencies

#10624 feat(public-cloud): gridscale changes on private network
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/delete.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/delete.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/delete.html
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-networks/components/delete-private-networks/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/private-networks/global-regions/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/global-regions/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/global-regions/global-regions.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/global-regions/global-regions.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/global-regions/global-regions.html
  packages/manager/modules/pci/src/projects/project/private-networks/global-regions/global-regions.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/global-regions/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/local-zone/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/local-zone/delete/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/local-zone/index.js
  packages/manager/modules/pci/src/projects/project/private-networks/local-zone/local-zone.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/local-zone/local-zone.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/local-zone/local-zone.html
  packages/manager/modules/pci/src/projects/project/private-networks/local-zone/local-zone.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.module.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#10622 feat(project.activate): prefill voucher in activation page if available
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Labels: feature, universe-public-cloud

#10578 feat(vrack-services): endpoint listing
  packages/manager/apps/vrack-services/mock/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/src/components/DeliveringMessages.tsx
  packages/manager/apps/vrack-services/src/components/VrackAssociationModal/CreateVrack.tsx
  packages/manager/apps/vrack-services/src/components/VrackDeleteModal.tsx
  packages/manager/apps/vrack-services/src/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Endpoints.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/EndpointDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/EndpointDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/SubnetDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/index/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/endpoints/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/subnets/Messages_fr_FR.json
Labels: feature, translation required

#10561 feat(vrack-services): service endpoint creation
  packages/manager/apps/vrack-services/e2e/features/endpoints.feature
  packages/manager/apps/vrack-services/e2e/given.step.ts
  packages/manager/apps/vrack-services/e2e/then.step.ts
  packages/manager/apps/vrack-services/e2e/tofix/endpoints.feature
  packages/manager/apps/vrack-services/e2e/tofix/overview.feature
  packages/manager/apps/vrack-services/e2e/tofix/subnet.feature
  packages/manager/apps/vrack-services/e2e/when.step.ts
  packages/manager/apps/vrack-services/e2e/works/create.feature
  packages/manager/apps/vrack-services/e2e/works/onboarding.feature
  packages/manager/apps/vrack-services/mock/handlers.ts
  packages/manager/apps/vrack-services/mock/iam/iam.ts
  packages/manager/apps/vrack-services/mock/order/cart.ts
  packages/manager/apps/vrack-services/mock/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/mock/vrack-services/vrack-services.ts
  packages/manager/apps/vrack-services/mock/vrack/association.ts
  packages/manager/apps/vrack-services/src/api/api.type.ts
  packages/manager/apps/vrack-services/src/api/iam/get.ts
  packages/manager/apps/vrack-services/src/api/iam/iam.type.ts
  packages/manager/apps/vrack-services/src/api/iam/index.ts
  packages/manager/apps/vrack-services/src/api/index.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/get.ts
  packages/manager/apps/vrack-services/src/components/DeliveringMessages.tsx
  packages/manager/apps/vrack-services/src/components/FormField.tsx
  packages/manager/apps/vrack-services/src/components/VrackAssociationModal/CreateVrack.tsx
  packages/manager/apps/vrack-services/src/components/VrackDeleteModal.tsx
  packages/manager/apps/vrack-services/src/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/CreatePageLayout.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.tsx
  packages/manager/apps/vrack-services/src/index.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/CreateEndpoint.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/CreateSubnet.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Endpoints.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Subnets.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/EndpointDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/EndpointDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/SubnetDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/constants.ts
  packages/manager/apps/vrack-services/src/pages/index/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/index/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/endpoints/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/utils/vs-utils.ts
Labels: feature, translation required

#10653 fix(public-cloud): add feedbacks for gridscale
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#10660 feat(projects.onboarding): fix an issue with project onboarding redirect
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
Labels: feature, universe-public-cloud

#10665 feat(dedicated.vmware): change in vmware options tile and new columns
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/activation-status.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/activation-status/activation-status.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/nsxt.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/nsxt/nsxt.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.routing.js
Labels: quality check, feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#10679 feat(dedicated.vmware): add tile related to edge size
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10680 feat(public-cloud): listing tab changes
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.html
Labels: feature, universe-public-cloud

#10670 feat(dedicated.cluster): move bm cluster component to dedicated app
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.service.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/general-information/general-information.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/general-information/general-information.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/general-information/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/general-information/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/index.js
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/bm-cluster-components/README.md
  packages/manager/modules/bm-cluster-components/package.json
  packages/manager/modules/bm-cluster-components/src/cluster-dashboard/index.js
  packages/manager/modules/bm-cluster-components/src/cluster/index.js
  packages/manager/modules/bm-cluster-components/src/index.js
Labels: feature, universe-bare-metal-cloud, translation required

#10681 feat(public-cloud): resolve route issue
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Labels: feature, universe-public-cloud

#10682 feat(public-cloud): fetch instance details from catalog
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: feature, universe-public-cloud

#10683 fix(dedicated): fix multi az node
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.routing.js
Labels: bug, universe-bare-metal-cloud

#10686 feat(dedicated.cluster): add cluster nodes tab
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.service.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/nodes.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/nodes.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/nodes.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/nodes.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10687 feat(dedicated): fix node tracking publisher
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.constants.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.controller.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
Labels: feature, universe-bare-metal-cloud

#10689 fix(dedicated): fix billing service actions display async
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
Labels: bug

#10695 feat(public-cloud): patch localzone name
  packages/manager/modules/manager-components/src/region/service.js
  packages/manager/modules/pci/src/components/project/regions-list/regions-list.controller.js
  packages/manager/modules/pci/src/components/project/regions-list/regions-list.html
Labels: bug, universe-public-cloud

#10697 feat(dedicated): multi az cluster service type
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10708 fix(dedicated-server): remove the terminate service if is a node
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/service-status/service-status.component.js
  packages/manager/modules/bm-server-components/src/service-status/service-status.controller.js
  packages/manager/modules/bm-server-components/src/service-status/service-status.html
Labels: bug

#10710 fix(dedicated-server): remove action button on node listing
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/nodes.html
Labels: bug, universe-bare-metal-cloud

#10693 feat(dedicated): multi az cluster tracking
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/nodes.routing.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/bm-server-components/src/support/template.html
Labels: feature, universe-bare-metal-cloud

#10713 feat(octavia): change instance pools tooltip translations
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_fr_FR.json
Labels: bug, translation required

#10719 feat(octavia): prepare health monitor pages
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/template.html
Labels: feature, translation required

#10726 fix(dedicated.netapp): fix dashboard issue when gen1
  packages/manager/modules/netapp/src/dashboard/index/routing.js
Labels: bug, universe-bare-metal-cloud

#10496 feat(iam): enabling both local and federated accounts
  packages/components/ng-ovh-utils/src/alerter/alerter-service.js
  packages/manager/apps/dedicated/client/app/account/user/users/add/user-users-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/delete/user-users-delete.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/disable/user-users-disable.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/enable/user-users-enable.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/groups/add/user-users-groups-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/groups/delete/user-users-groups-delete.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/groups/update/user-users-groups-update.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/add/user-users-sso-add.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/add/user-users-sso-add.html
  packages/manager/apps/dedicated/client/app/account/user/users/sso/delete/user-users-sso-delete.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/update/user-users-sso-update.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/sso/update/user-users-sso-update.html
  packages/manager/apps/dedicated/client/app/account/user/users/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/users/update/user-users-update.controller.js
  packages/manager/apps/dedicated/client/app/account/user/users/users.html
  packages/manager/apps/dedicated/client/app/account/user/users/users.service.js
Labels: quality check: ok, universe-bare-metal-cloud, translation required, universe-public-cloud

#10731 Revert "feat(pci): new payment method (#10378)"
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/style.scss
  packages/components/ng-ovh-payment-method/src/components/integration/redirect/index.html
  packages/components/ng-ovh-payment-method/src/components/register/component.js
  packages/components/ng-ovh-payment-method/src/components/register/constants.js
  packages/components/ng-ovh-payment-method/src/components/register/controller.js
  packages/components/ng-ovh-payment-method/src/components/register/index.html
  packages/components/ng-ovh-payment-method/src/components/register/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardChargesExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/rupayExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextBanner.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextIntro.html
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pt_PT.json
  packages/components/ng-ovh-payment-method/src/payment-method-helper.service.js
  packages/components/ovh-payment-method/src/models/available-payment-method.class.js
  packages/components/ovh-payment-method/src/models/payment-method-type.class.js
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
Labels: universe-bare-metal-cloud, translation required, universe-public-cloud

#10735 feat(dedicated): add feature flipping for tabs on listing page
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.routing.js
Labels: feature, universe-bare-metal-cloud

#10741 feat(octavia): health monitor creation
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/styles.scss
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
Labels: feature, translation required

#10750 fix(dedicated): fix 3az node tracking
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.module.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/service-status/service-status.controller.js
Labels: bug, universe-bare-metal-cloud

#10729 feat(octavia): added l7 policies listing page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/service.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.routing.js
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.service.js
Labels: feature, translation required

#10748 feat(dedicated): tracking and content update on multiAZ
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/edit-name/template.html
  packages/manager/modules/manager-components/src/edit-name/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#10167 fix(dedicated.vmware): new workflow for add vdc
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
  packages/manager/modules/core/src/redirection/redirection.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#10762 feat(octavia): prepare health monitor edit page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/module.js
Labels: feature

#10757 fix(pci): put extra views bellow payment selection
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/payment/components/challenge/index.html
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/credit/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
Labels: bug, universe-public-cloud

#10677 feat(projects.project): remove obsolete repricing banner
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/components/project/repricing-banner/component.js
  packages/manager/modules/pci/src/components/project/repricing-banner/constants.js
  packages/manager/modules/pci/src/components/project/repricing-banner/controller.js
  packages/manager/modules/pci/src/components/project/repricing-banner/index.js
  packages/manager/modules/pci/src/components/project/repricing-banner/template.html
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/repricing-banner/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: quality check: ok, feature, universe-public-cloud

#10723 build(deps): dependabot upgrade
  yarn.lock
Labels: quality check: ok, build, dependencies

#10639 fix(telecom.sms): refactor and add filter for export
  packages/manager/modules/sms/src/sms/sms/outgoing/index.js
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.component.js
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.constant.js
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.controller.js
  packages/manager/modules/sms/src/sms/sms/outgoing/telecom-sms-sms-outgoing.html
  packages/manager/modules/sms/src/sms/telecom-sms.service.js
Labels: bug, quality check: ok, universe-telecom

#10557 feat(dedicated): implement os-dynamic form in ovh and gabarit wizards
  packages/manager/apps/dedicated/client/app/css/less/dedicated/server/installation.less
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.service.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/general-information/index.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/component.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/constants.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/controller.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/index.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/inputs.class.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/template.html
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10737 fix(dedicated): fix cdn domain translation keys
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10604 fix(dedicated): update us documentation links in datastores
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10642 feat(dedicated): add commercial name in general information tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10535 fix(dedicated): minor monitoring fixes
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.html
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/service-status/service-status.html
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#10685 feat(dedicated.ip): select country during ip order for hpc
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10705 Revert "feat(web): add new hosting offer sticker info"
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.constants.js
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#10722 fix(public-cloud): silently fail when no permission to query instance IP
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: quality check: ok, universe-public-cloud

#10656 feat(container.husky): correcting the husky commit message (only tech task )
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Labels: quality check: ok, feature, dependencies

#10761 fix(pci.storages.databases): DTRSD-126243 - correctly update service after maintenance and backup time changes
  packages/manager/modules/pci/src/components/project/storages/databases/database.class.js
Labels: bug, quality check: ok, universe-public-cloud

#10760 fix(public-cloud): list priavte network with vlanid 0
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.routing.js
  packages/manager/modules/pci/src/projects/project/private-networks/private-networks.service.js
Labels: bug, quality check: ok, universe-public-cloud

#10720 fix(iam): add labeu urn regex
  packages/manager/modules/iam/src/iam.paramTypes.js
Labels: bug, quality check: ok

#10709 fix(telecom): use right attribute for init
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/edit.controller.js
Labels: bug, quality check: ok, universe-telecom

#10783 fix(billing.payment.method.add): credit card form is misplaced
  packages/manager/modules/billing/src/payment/method/add/index.html
Labels: bug, universe-bare-metal-cloud

#10570 fix(dedicated): hardware raid configuration not taken into account
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: bug, quality check: ok

#10674 feat(dns): remove hint about real target with dot
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.html
  packages/manager/apps/web/client/app/domain/zone/record/CNAME/domain-zone-record-CNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/DNAME/domain-zone-record-DNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/MX/domain-zone-record-MX.html
  packages/manager/apps/web/client/app/domain/zone/record/NS/domain-zone-record-NS.html
  packages/manager/apps/web/client/app/domain/zone/record/SRV/domain-zone-record-SRV.html
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
Labels: quality check: ok, feature, universe-web-cloud

#10771 feat(octavia): health monitor dashboard and name edition
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/translations/Messages_fr_FR.json
Labels: feature, translation required

#10781 feat(pci.octavia.config): add new parameters
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#10790 feat(projects.updating): update title
  packages/manager/modules/pci/src/projects/updating/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#10787 feat(octavia): handle api changes for health monitor creation
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/template.html
Labels: feature, translation required

#10792 feat(projects.onboarding): add spinner when a discovery create button is clicked
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
Labels: feature, universe-public-cloud

#10791 feat(projects.onboarding): remove HDS from discovery onboarding page
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
Labels: feature, universe-public-cloud

#10795 feat(projects.project): correct tracking labels
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Labels: feature, universe-public-cloud

#10794 fix(dedicated): fix tracking on 3az node
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/kvm/order/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/netboot/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/install/image/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/kvm/order/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/advanced-features/advanced-features.component.js
  packages/manager/modules/bm-server-components/src/advanced-features/advanced-features.html
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/introduction/introduction.component.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/introduction/introduction.controller.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/introduction/introduction.html
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/introduction/introduction.routing.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/confirmation.component.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/confirmation.controller.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/confirmation.routing.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/manage.controller.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/manage.routing.js
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/sgx.routing.js
  packages/manager/modules/bm-server-components/src/general-information/general-information.component.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/component.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/config-drive/component.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/config-drive/controller.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/config-drive/template.html
  packages/manager/modules/bm-server-components/src/general-information/install/image/controller.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/template.html
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/server-installation-choice.component.js
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/server-installation-choice.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.component.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.component.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/ipmi/constants.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/component.js
  packages/manager/modules/bm-server-components/src/ipmi/order-kvm/controller.js
  packages/manager/modules/bm-server-components/src/monitoring/monitoring.component.js
  packages/manager/modules/bm-server-components/src/monitoring/monitoring.constants.js
  packages/manager/modules/bm-server-components/src/monitoring/monitoring.controller.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/service-status/service-status.component.js
  packages/manager/modules/bm-server-components/src/service-status/service-status.controller.js
Labels: bug, universe-bare-metal-cloud

#10804 feat(projects.updating): redirect to proj dashboard if anti-fraud manual review required
  packages/manager/modules/pci/src/projects/updating/controller.js
Labels: feature, universe-public-cloud

#10796 feat(octavia): added l7 rules listing page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/service.js
Labels: feature, translation required

#10806 feat(octavia): edit health monitor page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
Labels: feature, translation required

#10756 feat(octavia): added l7 policy deletion modale
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/service.js
Labels: feature, translation required
