Repository ovh/manager, pull requests merged in 2024-03, with the labels that each got.

#11067 feat(dedicated.netapp): add demo feedbacks
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/network-configuration/controller.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/template.html
Labels: feature, universe-bare-metal-cloud

#11074 feat(dedicated.netapp): allow all user vrack to be selected
  packages/manager/modules/netapp/src/dashboard/network-configuration/component.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/controller.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/routing.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/template.html
  packages/manager/modules/netapp/src/dashboard/service.js
Labels: feature, universe-bare-metal-cloud

#11077 fix(manager-components): width of columns don't change when filter
  packages/manager-components/src/components/paginated-datagrid/paginated-datagrid.component.tsx
Labels: bug

#11035 feat(*): update hub link supports + update forgotten support links
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/apps/dedicated/client/app/account/user/emails/user-emails.controller.js
  packages/manager/apps/dedicated/client/app/account/user/user.constants.js
  packages/manager/modules/bm-server-components/src/upgrade-server/upgrade-server.constants.js
  packages/manager/modules/bm-server-components/src/upgrade-server/upgrade-server.controller.js
  packages/manager/modules/hub/src/components/support/constants.js
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/hub/src/components/support/template.html
  packages/manager/modules/hub/src/components/tile/tile.component.js
  packages/manager/modules/hub/src/components/tile/tile.html
Labels: feature, universe-bare-metal-cloud, universe-hub, container

#11083 fix(pci-vouchers): datagrid sorting & pagination
  packages/manager/apps/pci-vouchers/src/hooks/useVouchers.ts
Labels: bug

#11086 fix(pci-vouchers): refresh auto of the datagrid when we add voucher
  packages/manager/apps/pci-vouchers/src/hooks/useVouchers.ts
Labels: bug

#11079 fix(web.domain): change place of button renew and export
  packages/manager/apps/web/client/app/domain/list/template.html
Labels: bug, universe-web-cloud

#10999 feat(pci): log to customer - right tile
  packages/components/ng-log-live-tail/LICENSE
  packages/components/ng-log-live-tail/README.md
  packages/components/ng-log-live-tail/package.json
  packages/components/ng-log-live-tail/rollup.config.js
  packages/components/ng-log-live-tail/src/component.js
  packages/components/ng-log-live-tail/src/constants.js
  packages/components/ng-log-live-tail/src/controller.js
  packages/components/ng-log-live-tail/src/index.js
  packages/components/ng-log-live-tail/src/index.less
  packages/components/ng-log-live-tail/src/service.js
  packages/components/ng-log-live-tail/src/template.html
  packages/components/ng-log-live-tail/src/translations/Messages_fr_FR.json
  packages/manager/modules/log-to-customer/LICENSE
  packages/manager/modules/log-to-customer/README.md
  packages/manager/modules/log-to-customer/package.json
  packages/manager/modules/log-to-customer/rollup.config.js
  packages/manager/modules/log-to-customer/src/constants.js
  packages/manager/modules/log-to-customer/src/index.js
  packages/manager/modules/log-to-customer/src/live-tail/component.js
  packages/manager/modules/log-to-customer/src/live-tail/controller.js
  packages/manager/modules/log-to-customer/src/live-tail/index.js
  packages/manager/modules/log-to-customer/src/live-tail/template.html
  packages/manager/modules/log-to-customer/src/service.js
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_FR.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.module.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#11106 feat(dedicated.netapp): fix tracking
  packages/manager/modules/netapp/src/dashboard/network-configuration/controller.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/routing.js
  packages/manager/modules/netapp/src/dashboard/vrack-configuration/routing.js
  packages/manager/modules/netapp/src/dashboard/vrack-configuration/template.html
Labels: feature, universe-bare-metal-cloud

#11093 fix(vrack-services): add default subnet name
  packages/manager/apps/vrack-services/src/pages/subnets/CreateSubnet.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/subnets/Messages_fr_FR.json
Labels: feature, translation required

#11092 fix(vrack-services): fix vrack url when associated
  packages/manager/apps/vrack-services/src/pages/overview/index.tsx
Labels: feature

#11103 fix(web.domain): datagrid improvement
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.component.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required, container

#11112 feat(dedicated.netapp): change some texts
  packages/manager/modules/netapp/src/dashboard/constants.js
  packages/manager/modules/netapp/src/dashboard/delete-network/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/network-configuration/controller.js
  packages/manager/modules/netapp/src/dashboard/network-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/vrack-configuration/controller.js
  packages/manager/modules/netapp/src/dashboard/vrack-configuration/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11123 fix(pci.new): catch projectId promise
  packages/manager/modules/pci/src/projects/new/routing.js
Labels: bug, universe-public-cloud, has conflicts

#11121 fix(pci-vouchers): add missing translation
  packages/manager/apps/pci-vouchers/src/pages/ListingPage.tsx
Labels: bug, quality check: ok

#11135 fix(web.domain): change the text of tooltip on domain datagrid
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#11126 fix(manager-components): add overflow and white space nowrap on datagrid
  packages/manager-components/src/components/paginated-datagrid/paginated-datagrid.component.tsx
Labels: bug, quality check: ok

#11138 fix(pci-vouchers): add datagrid spinner
  packages/manager/apps/pci-vouchers/src/pages/ListingPage.tsx
Labels: bug, quality check: ok

#10973 fix(telecom.sidebar): set label to service name if empty
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
Labels: bug, quality check: ok, container

#11129 feat(pci): log to customer - button switch
  packages/components/ng-log-live-tail/src/component.js
  packages/components/ng-log-live-tail/src/controller.js
  packages/components/ng-log-live-tail/src/service.js
  packages/components/ng-log-live-tail/src/template.html
  packages/manager/modules/log-to-customer/src/list/component.js
  packages/manager/modules/log-to-customer/src/list/controller.js
  packages/manager/modules/log-to-customer/src/live-tail/component.js
  packages/manager/modules/log-to-customer/src/live-tail/controller.js
  packages/manager/modules/log-to-customer/src/live-tail/template.html
  packages/manager/modules/log-to-customer/src/service.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/list.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/list.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Labels: feature, translation required, universe-public-cloud

#11147 feat(dedicated.vmware): fix custom nsx edges sizing
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
Labels: universe-bare-metal-cloud

#11113 feat(iam): list identities in policy page
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.styles.scss
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createPolicy/index.js
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountIdentities.component.js
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountIdentities.template.html
  packages/manager/modules/iam/src/components/identities/accountIdentities/index.js
  packages/manager/modules/iam/src/components/identities/accountIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.component.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.template.html
  packages/manager/modules/iam/src/components/identities/groupIdentities/index.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/identities.component.js
  packages/manager/modules/iam/src/components/identities/identities.controller.js
  packages/manager/modules/iam/src/components/identities/identities.template.html
  packages/manager/modules/iam/src/components/identities/index.js
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/index.js
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/serviceAccountIdentities.component.js
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/serviceAccountIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/serviceAccountIdentities.template.html
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/userIdentities/index.js
  packages/manager/modules/iam/src/components/identities/userIdentities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.component.js
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.template.html
  packages/manager/modules/iam/src/iam.constants.js
  packages/manager/modules/iam/src/iam.paramTypes.js
  packages/manager/modules/iam/src/iam.service.js
Labels: feature, translation required

#11110 feat(pci-users): add unit tests for download actions
  jest.config.js
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/src/__tests__/components/OpenStackDownloadModal.spec.tsx
  packages/manager/apps/pci-users/src/__tests__/components/RCloneDownloadModal.spec.tsx
  packages/manager/apps/pci-users/src/__tests__/components/S3StorageRegions.spec.tsx
  packages/manager/apps/pci-users/src/__tests__/components/StorageRegions.spec.tsx
  packages/manager/apps/pci-users/src/components/users/S3StorageRegions.tsx
  packages/manager/apps/pci-users/src/components/users/StorageRegions.tsx
  packages/manager/apps/pci-users/tsconfig.json
  yarn.lock
Labels: feature, dependencies

#11159 feat(web): express order funnel db order public
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
Labels: quality check, feature, universe-web-cloud

#11148 feat(web): add express order funnel clouddb
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
  packages/manager/modules/product-offers/.eslintrc.json
  packages/manager/modules/product-offers/package.json
  packages/manager/modules/product-offers/src/product-offers.controller.js
  packages/manager/modules/product-offers/src/product-offers.html
  packages/manager/modules/product-offers/src/translations/Messages_fr_FR.json
  packages/manager/modules/product-offers/src/workflows/product-offers-order-workflow.class.js
Labels: quality check, feature, universe-web-cloud, translation required

#11162 fix(web.domain): improvement content and redirection url
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#11153 feat(manager-components): add props to disable on datagrid
  packages/manager-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager/apps/pci-ssh-keys/src/pages/ListingPage.tsx
Labels: feature

#10833 feat(web): uniform order channel for db
  packages/manager/apps/web/client/app/hosting/database/order/public/hosting-database-order-public.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/index.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.component.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.constants.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.controller.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.html
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.routing.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/private-database-order-clouddb.service.js
  packages/manager/apps/web/client/app/private-database/order/clouddb/translations/Messages_fr_FR.json
  packages/manager/modules/product-offers/.eslintrc.json
  packages/manager/modules/product-offers/package.json
  packages/manager/modules/product-offers/src/product-offers.controller.js
  packages/manager/modules/product-offers/src/product-offers.html
  packages/manager/modules/product-offers/src/translations/Messages_fr_FR.json
  packages/manager/modules/product-offers/src/workflows/product-offers-order-workflow.class.js
Labels: quality check, feature, universe-web-cloud, translation required

#11170 fix(dedicated): add missing contents
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#11156 fix(pci-ssh-keys): add tracking
  packages/manager/apps/pci-ssh-keys/src/data/project.ts
  packages/manager/apps/pci-ssh-keys/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-ssh-keys/src/hooks/useProject.ts
  packages/manager/apps/pci-ssh-keys/src/pages/Layout.tsx
  packages/manager/apps/pci-ssh-keys/src/pages/ListingPage.tsx
  packages/manager/apps/pci-ssh-keys/src/routes.tsx
  packages/manager/apps/pci-ssh-keys/src/tracking.constants.ts
Labels: feature

#11094 feat(dedicated): changed identity documents inner title
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10998 feat(signup): added helper text for address field
  packages/manager/apps/sign-up/src/constants.js
  packages/manager/apps/sign-up/src/details/routing.js
  packages/manager/apps/sign-up/src/form/component.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/form/details/details.component.js
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/details/details.scss
  packages/manager/modules/sign-up/src/form/details/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/form/form.constants.js
  packages/manager/modules/sign-up/src/form/form.controller.js
Labels: quality check: ok, feature, translation required, sign-up

#11089 feat(dedicated): change document size indication sentence
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#11034 feat(network-security): remove beta label and survey links
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/network-security/network-security.constant.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.controller.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.html
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.html
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud, translation required, container

#11099 fix(i18n): add missing translations [CDS 2825]
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_en_GB.json
Labels: quality check: ok, universe-bare-metal-cloud

#10912 fix(ip.firewall): display select component completely
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.styles.scss
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11186 fix(dedicated): resolve state issue on node
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.component.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.component.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
Labels: bug

#10907 fix(security.dashboard): display timestamp to locale time
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.html
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/network-security/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#10922 fix(ip.gamefirewall): check ports are not already used
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.service.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#10926 fix(ip.gamefirewall): use same label for protocol display
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11177 fix(dedicated): mail change did not work
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11008 fix(web.domain): move Actions menu of operations table
  packages/manager/apps/web/client/app/domain-operation/operation-table/operation-table.html
Labels: bug, quality check: ok, universe-web-cloud

#11189 fix(pci-ssh-keys): use correct translations for modal add ssh key
  packages/manager/apps/pci-ssh-keys/src/components/ssh-keys/AddSshModal.tsx
Labels: bug

#11020 fix(octavia): update tooltip
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_es_ES.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_pl_PL.json
  packages/manager/modules/octavia-load-balancer/src/components/instances-table/translations/Messages_pt_PT.json
Labels: bug, translation required

#11196 fix(pci-ssh-keys): display correct translations for remove ssh modal
  packages/manager/apps/pci-ssh-keys/src/components/ssh-keys/RemoveSshModal.tsx
Labels: bug

#11101 feat(dedicated): add tracking on byoip slice and aggregate and delete…
  packages/manager/apps/dedicated/client/app/ip/components/list/block/delete/ip-ip-block-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/block/ip-ip-block.constant.js
Labels: feature, universe-bare-metal-cloud

#11197 fix(pci-ssh-keys): add error message in add ssh-key modal
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-ssh-keys/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-ssh-keys/src/components/ssh-keys/AddSshModal.tsx
Labels: bug

#11195 fix(manager-components): change display to avoid overflow tooltip
  packages/manager-components/src/components/datagrid/datagrid.component.tsx
Labels: bug

#11191 fix(pci-ssh-keys): show datagrid and enable add ssh ky btn when it is a discovery project ref: DTCORE-1971
  packages/manager/apps/pci-ssh-keys/src/pages/ListingPage.tsx
Labels: feature

#11174 feat(dedicated): add guides for 3az cluster
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.constant.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/cluster.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud, translation required

#11211 feat(dedicated.nutanix): update logo and description on onboarding page
  packages/manager/modules/nutanix/src/onboarding/assets/Nutanix.png
  packages/manager/modules/nutanix/src/onboarding/template.html
  packages/manager/modules/nutanix/src/onboarding/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hosted-private-cloud

#11164 PNR V2 - Top Navigation
  packages/manager/apps/container/src/container/common/language/Button.tsx
  packages/manager/apps/container/src/container/common/language/style.module.scss
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/common/notifications-sidebar/NotificationsButton.tsx
  packages/manager/apps/container/src/container/legacy/navbar/Navbar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Button.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/style.module.scss
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_FR.json
Labels: feature, translation required, container

#11154 feat(pci-users): add datagrid filters
  packages/manager/apps/pci-users/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/components/FilterAdd.tsx
  packages/manager/apps/pci-users/src/components/FilterList.tsx
  packages/manager/apps/pci-users/src/components/useColumnFilters.tsx
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
  packages/manager/apps/pci-users/tsconfig.json
Labels: feature, translation required

#11216 fix(manager-components): action-banner mobile style
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
Labels: bug

#11214 fix(pci-ssh-keys): add ssh button in mobile view
  packages/manager/apps/pci-ssh-keys/src/pages/ListingPage.tsx
Labels: bug

#11204 fix(octavia): fix the helping text for delay on Health Monitor
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/translations/Messages_fr_FR.json
Labels: bug, translation required

#11213 build(pci-users): bump ods to 17.2.0
  packages/manager-components/package.json
  packages/manager-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/src/components/users/OpenStackDownloadModal.tsx
  packages/manager/apps/pci-users/src/components/users/S3StorageRegions.tsx
  packages/manager/apps/pci-users/src/components/users/StorageRegions.tsx
  packages/manager/apps/pci-users/src/pages/index/components/RolesMatrix/RolesChooser.tsx
  yarn.lock
Labels: refactor, dependencies

#11198 Feat/pci databases analytics namespace
  packages/manager/apps/pci-databases-analytics/src/api/databases/connectionPool.ts
  packages/manager/apps/pci-databases-analytics/src/api/databases/index.tsx
  packages/manager/apps/pci-databases-analytics/src/api/databases/namespaces.ts
  packages/manager/apps/pci-databases-analytics/src/configuration/polling.ts
  packages/manager/apps/pci-databases-analytics/src/configuration/toast.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/namespaces.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/lib/durationHelper.ts
  packages/manager/apps/pci-databases-analytics/src/models/database.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/addEditNamespace.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/deleteNamespace.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/formNamespace/formNamespace.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/formNamespace/namespace.const.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/namespacesTableColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/pools/_components/addEditconnectionPool.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/service/namespaces/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/service/pools/Messages_fr_FR.json
Labels: feature, translation required

#11142 feat(dedicated): modify error description
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/aggregate/ip-ip-byoip-aggregate.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/aggregate/ip-ip-byoip-aggregate.html
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/constants.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#11226 feat(web): cdn funnel for express order
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/modules/product-offers/src/workflows/product-offers-order-workflow.class.js
  packages/manager/modules/product-offers/src/workflows/product-offers-services-workflow.class.js
Labels: feature, universe-web-cloud

#11130 feat(pci.storage): add OMK encryption for S3 storage
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/objects/add/add.routing.js
Labels: feature, translation required, universe-public-cloud

#11231 Feat/pci databases analytics user edit
  packages/manager/apps/pci-databases-analytics/src/api/databases/users.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/users.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/formNamespace/namespace.const.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/namespacesTableColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/addEditUser.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/deleteUser.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/formUser.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/rolesSelect.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/rolesSelect.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/formUser/user.const.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/resetUserPassword.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/usersTableActions.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/usersTableColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/index.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/service/users/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/service/users/Messages_fr_FR.json
Labels: feature, translation required

#11141 feat(pci.storage): update dashboard container for OMK encryption
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#11236 feat(pci-public-ip): init react app
  packages/manager/apps/pci-public-ip/.eslintrc.cjs
  packages/manager/apps/pci-public-ip/.gitignore
  packages/manager/apps/pci-public-ip/README.md
  packages/manager/apps/pci-public-ip/index.html
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/postcss.config.cjs
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/App.tsx
  packages/manager/apps/pci-public-ip/src/components/BreadCrumbs.tsx
  packages/manager/apps/pci-public-ip/src/components/common.module.css
  packages/manager/apps/pci-public-ip/src/constants.ts
  packages/manager/apps/pci-public-ip/src/core/HidePreloader.tsx
  packages/manager/apps/pci-public-ip/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-public-ip/src/data/project.ts
  packages/manager/apps/pci-public-ip/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-public-ip/src/hooks/useProject.ts
  packages/manager/apps/pci-public-ip/src/i18n.ts
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/layout.ts
  packages/manager/apps/pci-public-ip/src/main.tsx
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/queryClient.ts
  packages/manager/apps/pci-public-ip/src/routes.tsx
  packages/manager/apps/pci-public-ip/src/tracking.constants.ts
  packages/manager/apps/pci-public-ip/src/vite-env.d.ts
  packages/manager/apps/pci-public-ip/src/vite-hmr.ts
  packages/manager/apps/pci-public-ip/tailwind.config.js
  packages/manager/apps/pci-public-ip/tsconfig.build.json
  packages/manager/apps/pci-public-ip/tsconfig.json
  packages/manager/apps/pci-public-ip/vite.config.ts
  packages/manager/apps/pci-public-ip/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies

#11241 feat(pci-users): use shared components
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/guides-header/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/components/FilterAdd.tsx
  packages/manager/apps/pci-users/src/components/Notifications.tsx
  packages/manager/apps/pci-users/src/components/OdsNotification.tsx
  packages/manager/apps/pci-users/src/components/datagrid/DataGrid.tsx
  packages/manager/apps/pci-users/src/components/datagrid/DataGridTextCell.tsx
  packages/manager/apps/pci-users/src/components/guides/GuidesHeader.tsx
  packages/manager/apps/pci-users/src/components/guides/GuidesHeaderItem.tsx
  packages/manager/apps/pci-users/src/components/users/OpenStackTokenListing.tsx
  packages/manager/apps/pci-users/src/components/users/listing/CreationDate.tsx
  packages/manager/apps/pci-users/src/components/users/listing/RegeneratePasswordAction.tsx
  packages/manager/apps/pci-users/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/guides-header.constants.ts
  packages/manager/apps/pci-users/src/hooks/useDataGridParams.ts
  packages/manager/apps/pci-users/src/hooks/useNotifications.spec.tsx
  packages/manager/apps/pci-users/src/hooks/useNotifications.ts
  packages/manager/apps/pci-users/src/i18n.ts
  packages/manager/apps/pci-users/src/index.css
  packages/manager/apps/pci-users/src/pages/EditRolesPage.tsx
  packages/manager/apps/pci-users/src/pages/GenerateOpenStackTokenPage.tsx
  packages/manager/apps/pci-users/src/pages/Layout.tsx
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/pages/OpenStackDownloadPage.tsx
  packages/manager/apps/pci-users/src/pages/RcloneDownloadPage.tsx
  packages/manager/apps/pci-users/src/pages/RemoveUserPage.tsx
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
  packages/manager/apps/pci-users/tailwind.config.js
  packages/manager/apps/pci-users/vite.config.ts
  packages/manager/apps/pci-users/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies

#11240 feat(dedicated): update the byoip guide links
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/constants.js
Labels: feature, universe-bare-metal-cloud

#11205 feat(pci.k8s.network-form): add gateway help text
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#11206 feat(pci.k8s.network-form): use complete product name
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#11207 fix(pci.k8s.network-form): change subnet warning text
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#11208 fix(pci.k8s.network-form): change gateway link text
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud, has conflicts

#11219 feat(pci-users): add onBoarding page ref:DTCORE-1982
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/pages/OnBoardingPage.tsx
  packages/manager/apps/pci-users/src/routes.tsx
Labels: feature, translation required

#11248 Add discovery banner
  packages/manager/apps/pci-users/src/components/error-page/ErrorPage.tsx
  packages/manager/apps/pci-users/src/components/users/OpenStackTokenListing.tsx
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/pages/OnBoardingPage.tsx
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
Labels: feature

#11259 feat(pci-users): move advanced filter in ods popover
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
Labels: feature

#11258 feat(dedicated): byoip update fr content
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#11253 feat(web): express order funnel for private sql
  packages/manager/apps/web/client/app/hosting/database/private-sql-activation/private-sql-activation.controller.js
  packages/manager/modules/product-offers/src/product-offers.html
Labels: feature, universe-web-cloud

#11169 feat(telecom): display meetings
  packages/manager/apps/telecom/src/app/telecom/pack/migration/meeting/pack-migration-meeting.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/meeting/move-meeting.controller.js
Labels: bug, quality check: ok, universe-telecom

#11260 Feat/pci databases analytics dashboard
  packages/manager/apps/pci-databases-analytics/src/api/databases/maintenance.ts
  packages/manager/apps/pci-databases-analytics/src/configuration/polling.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/maintenance.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/_components/connectionDetails.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/_components/maintenance.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/index.tsx
Labels: feature

#11269 feat(pci): log to customer demo feedbacks
  packages/components/ng-log-live-tail/src/constants.js
  packages/components/ng-log-live-tail/src/template.html
  packages/manager/modules/log-to-customer/src/tiles/template.html
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_FR.json
Labels: feature, translation required

#11194 feat(iam): remove identity from policy
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountIdentities.component.js
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountIdentities.template.html
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.component.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/groupIdentities/groupIdentities.template.html
  packages/manager/modules/iam/src/components/identities/identities.component.js
  packages/manager/modules/iam/src/components/identities/identities.controller.js
  packages/manager/modules/iam/src/components/identities/identities.template.html
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/serviceAccountIdentities.component.js
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/serviceAccountIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/serviceAccountIdentities/serviceAccountIdentities.template.html
  packages/manager/modules/iam/src/components/identities/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.component.js
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.controller.js
  packages/manager/modules/iam/src/components/identities/userIdentities/userIdentities.template.html
Labels: feature, translation required

#11245 feat(pci.storage): add encryption OMK tracking
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/data-encryption/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/object-storage/object-storage.routing.js
Labels: feature, universe-public-cloud

#11278 Revert "feat(pci.vpn): set private network on creation by default (#1…
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Labels: translation required, universe-public-cloud

#11287 add guides
  packages/manager/apps/pci-public-ip/src/i18n.ts
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  yarn.lock
Labels: feature, dependencies

#11290 feat(pci): log to customer - tracking
  packages/manager/modules/log-to-customer/src/list/component.js
  packages/manager/modules/log-to-customer/src/list/controller.js
  packages/manager/modules/log-to-customer/src/list/template.html
  packages/manager/modules/log-to-customer/src/live-tail/component.js
  packages/manager/modules/log-to-customer/src/live-tail/template.html
  packages/manager/modules/log-to-customer/src/tiles/component.js
  packages/manager/modules/log-to-customer/src/tiles/controller.js
  packages/manager/modules/log-to-customer/src/tiles/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/list.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/list.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/list.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/template.html
Labels: feature, universe-public-cloud

#11289 feat(dedicated.dbaas-logs): tracking implementation
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/home.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/home.constants.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/home.routing.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/streams-subscriptions.html
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.constants.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/subscriptions/subscriptions.routing.js
  packages/manager/modules/dbaas-logs/src/logs/header/header.component.js
  packages/manager/modules/dbaas-logs/src/logs/header/header.constants.js
  packages/manager/modules/dbaas-logs/src/logs/header/logs-dashboard-header.controller.js
  packages/manager/modules/dbaas-logs/src/logs/header/logs-dashboard-header.html
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
  packages/manager/modules/dbaas-logs/src/logs/logs.routing.js
Labels: feature, universe-bare-metal-cloud

#11299 feat(pci-public-ip): add terminate floating ip modal
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/App.tsx
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/Actions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: feature, translation required

#11288 feat(pci-public-ip): display failover ip in datagrid
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/instance.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-public-ip/src/api/utils/pagination.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Labels: feature, translation required

#11301 feat(pci-public-ip): add network security action
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/NetworkSecurityAction.tsx
Labels: feature

#11304 feat(pci-users): refactor datagrid filters in manager components
  packages/manager-components/package.json
  packages/manager-components/src/components/filters/filter-add.component.tsx
  packages/manager-components/src/components/filters/filter-add.spec.tsx
  packages/manager-components/src/components/filters/filter-list.component.tsx
  packages/manager-components/src/components/filters/filter-list.spec.tsx
  packages/manager-components/src/components/filters/filters.stories.tsx
  packages/manager-components/src/components/filters/index.ts
  packages/manager-components/src/components/filters/interface.ts
  packages/manager-components/src/components/filters/translations/Messages_de_DE.json
  packages/manager-components/src/components/filters/translations/Messages_en_GB.json
  packages/manager-components/src/components/filters/translations/Messages_es_ES.json
  packages/manager-components/src/components/filters/translations/Messages_fr_CA.json
  packages/manager-components/src/components/filters/translations/Messages_fr_FR.json
  packages/manager-components/src/components/filters/translations/Messages_it_IT.json
  packages/manager-components/src/components/filters/translations/Messages_pl_PL.json
  packages/manager-components/src/components/filters/translations/Messages_pt_PT.json
  packages/manager-components/src/components/filters/translations/index.ts
  packages/manager-components/src/components/filters/useColumnFilters.tsx
  packages/manager-components/src/components/index.ts
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/components/useColumnFilters.tsx
  packages/manager/apps/pci-users/src/pages/index/Index.tsx
Labels: feature, translation required

#11294 feat(dedicated.pcc): add consent VCD offer
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.scss
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/vmware-cloud-director/order/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/vmware-cloud-director/order/module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/vmware-cloud-director/order/routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/dashboard.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/vmware-cloud-director/order/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/vmware-cloud-director/order/module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/vmware-cloud-director/order/routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#11262 fix(telecom): incident INC0023305
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/lines/add/add.html
Labels: bug, quality check: ok, universe-telecom

#10625 feat(signup): add searchable country list and update labels
  packages/components/ng-ovh-mondial-relay/package.json
  packages/manager/apps/carbon-calculator/package.json
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cda/package.json
  packages/manager/apps/cloud-connect/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/iam/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/office/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/sharepoint/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-cloud-connect/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/cloud-universe-components/package.json
  packages/manager/modules/hub/package.json
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pt_PT.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-styles/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/web-universe-components/package.json
  yarn.lock
Labels: quality check: ok, feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, dependencies, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up

#10634 feat(dedicated): update account modification countries list
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11263 fix(web.hosting): move filer and boost tile definition
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Labels: bug, quality check: ok, universe-web-cloud

#11064 fix(pci): resolve public ip listing issue
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#11257 fix(telecom): remove the link to manager v4
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/app.bundle.js
  packages/manager/apps/telecom/src/app/telecom/telecom.constant.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing-account.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billing/billing.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/mediator.service.js
Labels: bug, quality check: ok, universe-telecom, container

#11252 fix(web.exchange): increases the limit of account for csv export
  packages/manager/modules/exchange/src/account/export-as-csv/account-export-as-csv.controller.js
Labels: bug, quality check: ok, universe-web-cloud

#10700 feat(*): add manager-components storybook on documentation
  docs/.gitignore
  docs/.vitepress/config.mjs
  docs/README.md
  docs/docs/guide/manager-components.md
  docs/docs/public/assets/img/storybook-manager-components.png
  docs/package.json
  packages/manager-components/README.md
Labels: feature, documentation

#10439 feat(*): add mix commander tracking script
  packages/components/ovh-at-internet/src/mix-commander.ts
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
Labels: quality check: ok, feature

#11261 fix(dedicated): also display mrtg graph for scale and hgr
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.routing.js
  packages/manager/modules/bm-server-components/src/mrtg-tile/controller.js
  packages/manager/modules/bm-server-components/src/mrtg-tile/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11291 fix(web.hosting): invert php version and container env field
  packages/manager/apps/web/client/app/hosting/ovhconfig/hosting-ovhconfig.controller.js
  packages/manager/apps/web/client/app/hosting/ovhconfig/hosting-ovhconfig.html
Labels: bug, quality check: ok, universe-web-cloud

#11128 fix(dedicated): fix commitment cancellation link display for us
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Labels: bug

#11188 fix(rancher): bunch of fixes for rancher app
  packages/manager/apps/pci-rancher/src/api/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/Table/LinkService.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useCreateRancher.ts
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_de_DE.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_pt_PT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/utils/rancher.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancher.ts
Labels: bug, quality check: ok

#11009 fix(dedicated): prevent os installation on diskgroup (cache controller)
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
Labels: bug, quality check: ok

#11081 refactor(pci): remove deals
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavor-billing/index.js
  packages/manager/modules/pci/src/components/project/offer/badge/badge.component.js
  packages/manager/modules/pci/src/components/project/offer/badge/badge.scss
  packages/manager/modules/pci/src/components/project/offer/badge/badge.template.html
  packages/manager/modules/pci/src/components/project/offer/badge/index.js
  packages/manager/modules/pci/src/components/project/offer/index.js
  packages/manager/modules/pci/src/components/project/offer/notice/index.js
  packages/manager/modules/pci/src/components/project/offer/notice/notice.component.js
  packages/manager/modules/pci/src/components/project/offer/notice/notice.template.html
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/offer/notice/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/offer/offer.class.js
  packages/manager/modules/pci/src/components/project/offer/offer.component.js
  packages/manager/modules/pci/src/components/project/offer/offer.scss
  packages/manager/modules/pci/src/components/project/offer/offer.template.html
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/components/voucher/index.html
  packages/manager/modules/pci/src/projects/new/components/voucher/index.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: quality check: ok, refactor, universe-public-cloud

#11097 feat(dedicated): Remove sshKeyName dropdown in the OVH & customer template installation wizard
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#10969 fix(dedicated): add navigation rule to support page
  packages/manager/apps/dedicated/client/app/otrs/index.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11199 feat(telecom): check otp reference is valid
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-telecom, translation required

#11120 ci: add test:turbo command to github actions
  .github/workflows/run-bdd-tests.yml
  jest.config.js
Labels: build, continuous-integration
