Repository ovh/manager, pull requests merged in 2024-12, with the labels that each got.

#14375 feat(manager-react-components): bump manager react components version
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
Labels: feature

#14354 fix(i18n): add missing translations [CDS 3523]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud

#14359 feat(pci-object-storage): add import policy nodal
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/import-policy/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/user.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.tsx
  packages/manager/apps/pci-object-storage/src/components/FileInput.component.tsx
  packages/manager/apps/pci-object-storage/src/components/Label.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/components/Label.component.tsx
  packages/manager/apps/pci-object-storage/src/helpers/index.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/import-policy/ImportPolicy.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Labels: feature, translation required

#14379 feat(vcd): implement usage tile in vdc dashboard
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
Labels: feature

#14330 feat(dedicated.vrack): add vrack services to vrack dashboard
  packages/manager/modules/vrack/package.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.module.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
  packages/manager/modules/vrack/src/partials/available.html
  packages/manager/modules/vrack/src/partials/mapped.html
Labels: feature, universe-bare-metal-cloud, translation required

#14334 feat(pci-object-storage): add container deletion modal
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Labels: feature, translation required

#14399 Feat/tapc 2151 2152 shelve unshelve instance
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.spec.tsx
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
  packages/manager/apps/pci-instances/src/pages/404/NotFound.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/LegacyInstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/InstanceWrapper.page.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Labels: feature, translation required

#14368 feat(dedicated): reactivate nsx sizes in update page
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#14367 feat(dedicated): display nsx edge status in dashboard
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
Labels: feature, universe-bare-metal-cloud

#14409 fix(vrack-services): disable delete if association exist
  packages/manager/apps/vrack-services/src/pages/listing/ActionCell.component.tsx
Labels: feature, universe-bare-metal-cloud

#14410 docs(mrc): format changelog
  packages/manager-react-components/CHANGELOG.md
Labels: documentation

#14344 build(pci-common): add vite config to publish library
  packages/manager/modules/manager-pci-common/README.md
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/tsconfig.json
  packages/manager/modules/manager-pci-common/vite.config.mjs
  yarn.lock
Labels: build, dependencies

#14413 chore: add CODEOWNERS for PCI-common
  .github/CODEOWNERS
Labels: continuous-integration, refactor

#14366 feat(pci.instances): add Windows Gen 3 license total price
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavor-group.class.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Labels: translation required, universe-public-cloud

#14267 feat(account): reintegrate feat/manager-14875
  packages/manager/modules/account/src/kyc-documents/dashboard/component.js
  packages/manager/modules/account/src/kyc-documents/dashboard/constants.js
  packages/manager/modules/account/src/kyc-documents/dashboard/routing.js
  packages/manager/modules/account/src/kyc-documents/dashboard/template.html
Labels: quality check: ok, feature

#14352 fix(account): redirect to account in sidebars
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/UserLink.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/constants.ts
Labels: quality check: ok, feature, container

#14381 feat(pci-object-storage): create user modal
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/credential-banner/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/users/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/user.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Create.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/import-policy/ImportPolicy.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/apps/pci-object-storage/src/utils.ts
  yarn.lock
Labels: feature, translation required, dependencies

#14418 feat(pci-object-storage): delete object
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/Storage.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/Object.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/delete/index.ts
Labels: feature, translation required

#14402 Sync develop & master
  .github/CODEOWNERS
  .sonarcloud.properties
  packages/manager-react-components/CHANGELOG.md
  packages/manager/apps/account/CHANGELOG.md
  packages/manager/apps/account/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/UserLink.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/constants.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/hycu/CHANGELOG.md
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/CHANGELOG.md
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-ai-endpoints/CHANGELOG.md
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-block-storage/CHANGELOG.md
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/CHANGELOG.md
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/CHANGELOG.md
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/CHANGELOG.md
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/CHANGELOG.md
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/CHANGELOG.md
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/CHANGELOG.md
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/CHANGELOG.md
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/CHANGELOG.md
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/CHANGELOG.md
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/CHANGELOG.md
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/CHANGELOG.md
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/CHANGELOG.md
  packages/manager/apps/pci-workflow/package.json
  packages/manager/modules/account/CHANGELOG.md
  packages/manager/modules/account/package.json
  packages/manager/modules/account/src/kyc-documents/dashboard/component.js
  packages/manager/modules/account/src/kyc-documents/dashboard/constants.js
  packages/manager/modules/account/src/kyc-documents/dashboard/routing.js
  packages/manager/modules/account/src/kyc-documents/dashboard/template.html
  packages/manager/modules/manager-pci-common/CHANGELOG.md
  packages/manager/modules/manager-pci-common/README.md
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/tsconfig.json
  packages/manager/modules/manager-pci-common/vite.config.mjs
  yarn.lock
Labels: continuous-integration, dependencies, universe-public-cloud, container, enabler

#14424 feat(container): add redirection to new billing app
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/core/routing/redirections.tsx
Labels: feature, container

#14433 fix(pci-billing): display empty consumption when no exist in api
  packages/manager/apps/pci-billing/src/api/hook/useConsumption.tsx
  packages/manager/apps/pci-billing/src/api/hook/useHistory.ts
  packages/manager/apps/pci-billing/src/pages/billing/history/History.page.tsx
Labels: bug

#14444 fix(pci-billing): fix breadcrumb and active tab
  packages/manager/apps/pci-billing/src/components/TabsPanel.component.tsx
  packages/manager/apps/pci-billing/src/pages/billing/Billing.page.tsx
Labels: bug

#14449 ci: bump react-shell-client to 0.8.3
  package.json
  packages/manager-react-components/package.json
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/wrappers/RouterWithQueryClientWrapper.tsx
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/core/shell-client/CHANGELOG.md
  packages/manager/core/shell-client/package.json
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/order/package.json
  yarn.lock
Labels: continuous-integration, universe-web-cloud, universe-bare-metal-cloud, dependencies, universe-public-cloud, container, enabler, common

#14075 feat(pci): remove angularJS section workflow
  packages/manager/modules/pci/src/projects/project/workflow/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/workflow/delete/delete.constants.js
  packages/manager/modules/pci/src/projects/project/workflow/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/delete/delete.html
  packages/manager/modules/pci/src/projects/project/workflow/delete/delete.module.js
  packages/manager/modules/pci/src/projects/project/workflow/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/workflow/delete/index.js
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/workflow/delete/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/workflow/executions/executions.component.js
  packages/manager/modules/pci/src/projects/project/workflow/executions/executions.html
  packages/manager/modules/pci/src/projects/project/workflow/executions/executions.module.js
  packages/manager/modules/pci/src/projects/project/workflow/executions/executions.routing.js
  packages/manager/modules/pci/src/projects/project/workflow/executions/index.js
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/assets/workflow.png
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/index.js
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/onboarding.constants.js
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/onboarding.routing.js
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/workflow/onboarding/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/workflow/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/workflow/workflow.module.js
Labels: quality check: ok, feature, universe-public-cloud

#14093 feat(pci-kubernetes): review design
  packages/manager/apps/pci-kubernetes/src/components/network/GatewayModeSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/GatewaySelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/__snapshots__/NodePools.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/__snapshots__/Scale.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Switch.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/__snapshots__/Nodes.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/__snapshots__/Switch.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/restrictions/Restrictions.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/remove/RemoveOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.tsx
Labels: feature

#13762 feat(manager-components): get macro region factorisation
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.module.js
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-private-network/src/pages/new/steps/LocalizationStep.tsx
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingRegions.ts
  packages/manager/apps/pci-users/src/api/data/region.ts
  packages/manager/apps/pci-users/src/pages/openrc/download/OpenStackDownloadModal.tsx
  packages/manager/apps/pci-users/src/pages/rclone/download/S3StorageRegions.tsx
  packages/manager/apps/pci-users/src/pages/rclone/download/StorageRegions.tsx
Labels: quality check: ok, feature, universe-bare-metal-cloud, universe-public-cloud

#13938 feat(svp): update i18n to handle plural
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-savings-plan/public/translations/listing/Messages_pt_PT.json
  yarn.lock
Labels: quality check: ok, feature, universe-web-cloud, universe-bare-metal-cloud, translation required, dependencies, common

#14231 feat(pci-object-storage): secret key not displayed
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/controller.js
Labels: quality check: ok, feature, universe-public-cloud

#14150 perf(pci-block-storage): regionalize call to add volume
  packages/manager/apps/pci-block-storage/src/api/data/volume.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useInstance.spec.tsx
  packages/manager/apps/pci-block-storage/src/api/hooks/useInstance.ts
Labels: quality check: ok, performance

#14304 fix(pci-object-storage): fix us guide link
  packages/manager/modules/pci/src/components/project/guides-header/guides-header.constants.js
Labels: bug, quality check: ok, universe-public-cloud

#14122 feat(signup): reassuring wording for kyc india emphasing on address
  packages/manager/apps/sign-up/src/form/translations/Messages_de_DE.json
  packages/manager/apps/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/apps/sign-up/src/form/translations/Messages_es_ES.json
  packages/manager/apps/sign-up/src/form/translations/Messages_fr_CA.json
  packages/manager/apps/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/apps/sign-up/src/form/translations/Messages_it_IT.json
  packages/manager/apps/sign-up/src/form/translations/Messages_pl_PL.json
  packages/manager/apps/sign-up/src/form/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, sign-up

#14085 feat(procedures): prevent closing while uploading files
  packages/manager/apps/procedures/src/components/ExitGuard/ExitGuard.component.tsx
  packages/manager/apps/procedures/src/pages/create/form/Form.page.tsx
Labels: quality check: ok, feature

#14297 feat(procedures): manage privacy policy link for sys and ks users
  packages/manager/apps/procedures/src/pages/create/LegalInformations.tsx
Labels: quality check: ok, feature

#14423 fix(web): fix banner request broken
  packages/manager/apps/web/client/app/configuration/configuration.html
Labels: bug, quality check: ok, universe-web-cloud

#14388 fix(web.hosting.freedom): remove freedom
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.html
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.module.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/freedom/FREEDOM.html
  packages/manager/apps/web/client/app/hosting/freedom/delete/hosting-freedom-delete.controller.js
  packages/manager/apps/web/client/app/hosting/freedom/delete/hosting-freedom-delete.html
  packages/manager/apps/web/client/app/hosting/freedom/freedom.module.js
  packages/manager/apps/web/client/app/hosting/freedom/freedom.routing.js
  packages/manager/apps/web/client/app/hosting/freedom/hosting-freedom.controller.js
  packages/manager/apps/web/client/app/hosting/freedom/hosting-freedom.service.js
  packages/manager/apps/web/client/app/hosting/hosting.bundle.js
Labels: bug, quality check: ok, universe-web-cloud, translation required

#14228 feat: add message to inform user about temporary pack creation
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Labels: quality check: ok, universe-telecom

#14302 fix(telecom): placement of popover
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/scheduler.directive.js
Labels: bug, quality check: ok, universe-telecom

#13990 Feat/procedures gdpr
  packages/manager/apps/procedures/src/App.tsx
  packages/manager/apps/procedures/src/components/FileInput/FileInputList.tsx
  packages/manager/apps/procedures/src/components/FileInput/FileInputListItem.tsx
  packages/manager/apps/procedures/src/components/PageLayout/PageLayout.component.tsx
  packages/manager/apps/procedures/src/components/legalInformations/LegalInformations.component.tsx
  packages/manager/apps/procedures/src/components/legalInformations/LegalInformations.test.tsx
  packages/manager/apps/procedures/src/components/modals/confirmModal/ConfirmModal.component.tsx
  packages/manager/apps/procedures/src/components/modals/successModal/SuccessModal.component.tsx
  packages/manager/apps/procedures/src/context/User/modals/SessionModals.tsx
  packages/manager/apps/procedures/src/context/User/provider.tsx
  packages/manager/apps/procedures/src/data/api/documentsApi.ts
  packages/manager/apps/procedures/src/data/api/proceduresApi.ts
  packages/manager/apps/procedures/src/data/api/statusApi.ts
  packages/manager/apps/procedures/src/data/hooks/useDocuments.tsx
  packages/manager/apps/procedures/src/data/hooks/useProcedures.tsx
  packages/manager/apps/procedures/src/data/hooks/useStatus.tsx
  packages/manager/apps/procedures/src/i18n.ts
  packages/manager/apps/procedures/src/pages/404.tsx
  packages/manager/apps/procedures/src/pages/create/Create.spec.tsx
  packages/manager/apps/procedures/src/pages/create/form/constants/form.constants.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/DisableMFA.page.test.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/DisableMFA.page.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/Create.page.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/Create.spec.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/confirm/Confirm.page.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/create.constants.ts
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.page.test.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.page.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/FormDocumentFields/FormDocumentFieldItem.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/FormDocumentFields/FormDocumentFieldList.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/FormDocumentFields/documentFieldsConfiguration.json
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/FormDocumentFields/formDocumentFieldValidation.constants.ts
  packages/manager/apps/procedures/src/pages/disableMFA/error/Error.page.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/see/See.page.tsx
  packages/manager/apps/procedures/src/pages/rgdp/RGDP.page.page.test.tsx
  packages/manager/apps/procedures/src/pages/rgdp/RGDP.page.tsx
  packages/manager/apps/procedures/src/pages/rgdp/RGPD.constants.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/FileField/FileField.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.constants.ts
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.style.css
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.test.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/SelectField/SelectField.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/TextAreaField/TextAreaField.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/TextField/TextField.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpIntroduction/RGDPIntroduction.component.test.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpIntroduction/RGDPIntroduction.component.tsx
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_de_DE.json
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_en_GB.json
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_es_ES.json
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_fr_CA.json
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_fr_FR.json
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_it_IT.json
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_pl_PL.json
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_pt_PT.json
  packages/manager/apps/procedures/src/routes/mfa.constants.ts
  packages/manager/apps/procedures/src/routes/routes.tsx
  packages/manager/apps/procedures/src/types/gdpr.type.ts
  packages/manager/apps/procedures/src/types/procedure.ts
  packages/manager/apps/procedures/src/utils/url-builder.ts
Labels: quality check: ok, feature, translation required

#14448 build(pci-common): update dependencies & scripts
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/src/index.ts
  yarn.lock
Labels: build, dependencies

#14438 fix(i18n): add missing translations [CDS 3537]
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/order/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/order/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/order/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/order/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/order/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/order/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud

#14082 fix(dedicated.vps): add tracking on upscale funnel
  packages/manager/modules/vps/src/upscale/upscale.constants.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
  packages/manager/modules/vps/src/upscale/upscale.html
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#14356 feat(key-management-service): add polling after KMS order
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/OrderConfirmation.tsx
  packages/manager/apps/key-management-service/src/data/hooks/useAutoRefetch.ts
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
Labels: quality check: ok, feature, enabler

#13387 feat(dedicated): show tempory ip when slice or merge
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/aggregate/ip-ip-byoip-aggregate.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/slice/ip-ip-byoip-slice.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#14091 feat(dedicated): fix translation issue in fr and ca
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#14124 fix(dedicated.vps): fix the access to vps dashboard with iam rules
  packages/manager/modules/vps/src/import/vps.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#13563 fix(dedicated): update landing page guide links
  packages/manager/apps/dedicated/client/app/common/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/common/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#14288 fix(dedicated.pcc): fix order label when SAP HANA is unavailable
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#14429 fix(i18n): add missing translations [CDS 3533]
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_pt_PT.json
Labels: feature, enabler

#14276 feat(zimbra): add ongoing tasks list
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/api/api.type.ts
  packages/manager/apps/zimbra/src/api/task/type.ts
  packages/manager/apps/zimbra/src/index.scss
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/GeneralInformation.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/OngoingTasks.tsx
Labels: quality check: ok, feature, universe-web-cloud, translation required

#13062 Feat/manager 14489 - Management of Nutanix IAM GET right on Dashboard page
  packages/manager/modules/bm-server-components/src/support/component.js
  packages/manager/modules/bm-server-components/src/support/index.js
  packages/manager/modules/bm-server-components/src/support/template.html
  packages/manager/modules/manager-components/src/iam-protected-data/iamProtectedData.component.js
  packages/manager/modules/manager-components/src/iam-protected-data/iamProtectedData.html
  packages/manager/modules/manager-components/src/iam-protected-data/index.js
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/component.js
  packages/manager/modules/nutanix/src/dashboard/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/dashboard/template.html
  packages/manager/modules/nutanix/src/module.js
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/nutanix/src/templates/localization.html
Labels: quality check: ok, feature, universe-hosted-private-cloud, common

#14437 fix(pci-billing): alert chart
  packages/manager/apps/pci-billing/src/pages/billing/estimate/Alerts.part.tsx
Labels: bug

#14443 fix(pci-billing): discovery projects
  packages/manager/apps/pci-billing/src/api/hook/useConsumption.tsx
  packages/manager/apps/pci-billing/src/api/hooks/useUsage.ts
  packages/manager/apps/pci-billing/src/hooks/useUsagePrice.ts
  packages/manager/apps/pci-billing/src/pages/billing/consumption/Consumption.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/estimate/Alerts.part.tsx
Labels: feature

#14472 fix(pci-common): import styles from manager-pci-common
  packages/manager/apps/pci-block-storage/src/main.tsx
  packages/manager/apps/pci-kubernetes/src/main.tsx
  packages/manager/apps/pci-load-balancer/src/main.tsx
Labels: bug, quality check: ok

#14468 fix(billing): fix release qa prepayed link
  packages/manager/apps/billing/package.json
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/billing.module.js
  packages/manager/modules/new-billing/package.json
  packages/manager/modules/new-billing/src/index.js
  packages/manager/modules/new-billing/src/main/refunds/billing-refunds.controller.js
  yarn.lock
Labels: bug, universe-bare-metal-cloud, dependencies

#14462 feat(dedicated.vrack): restrict single service selection for vs
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/partials/available.html
  packages/manager/modules/vrack/src/select-dialog/index.js
  packages/manager/modules/vrack/src/select-dialog/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#14425 fix(vrack-services): resolve redirection issue
  packages/manager/apps/vrack-services/src/pages/create-subnet/SubnetCreate.page.tsx
  packages/manager/apps/vrack-services/src/pages/create-vs/confirm/CreateConfirmModal.page.tsx
Labels: feature, universe-bare-metal-cloud

#14477 feat(billing): backports commits from billing
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_FR.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_pt_PT.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: feature, translation required

#14301 feat(common-api-module): create a common-api module
  .github/workflows/run-bdd-tests.yml
  package.json
  packages/manager/apps/pci-private-registry/src/pages/create/steps/__snapshots__/PlanStep.spec.tsx.snap
  packages/manager/core/test-utils/CHANGELOG.md
  packages/manager/core/test-utils/index.ts
  packages/manager/core/test-utils/package.json
  packages/manager/core/test-utils/setup-file-msw-ods17.tsx
  packages/manager/core/test-utils/src/auth/applications.mock.ts
  packages/manager/core/test-utils/src/auth/auth.handler.ts
  packages/manager/core/test-utils/src/auth/configurations.mock.ts
  packages/manager/core/test-utils/src/auth/index.ts
  packages/manager/core/test-utils/src/auth/user.mock.ts
  packages/manager/core/test-utils/src/index.ts
  packages/manager/core/test-utils/src/test-setup/index.ts
  packages/manager/core/test-utils/src/test-setup/test-i18n.ts
  packages/manager/core/test-utils/src/types/handler.type.ts
  packages/manager/core/test-utils/src/types/index.ts
  packages/manager/core/test-utils/src/utils/index.ts
  packages/manager/core/test-utils/src/utils/msw.ts
  packages/manager/core/test-utils/src/utils/sleep.ts
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods17.ts
  packages/manager/core/test-utils/tsconfig.json
  packages/manager/modules/common-api/.gitignore
  packages/manager/modules/common-api/CHANGELOG.md
  packages/manager/modules/common-api/package.json
  packages/manager/modules/common-api/src/feature-availability/index.ts
  packages/manager/modules/common-api/src/feature-availability/mocks/feature-availability.mock.ts
  packages/manager/modules/common-api/src/feature-availability/useFeatureAvailability.spec.tsx
  packages/manager/modules/common-api/src/feature-availability/useFeatureAvailability.ts
  packages/manager/modules/common-api/src/index.ts
  packages/manager/modules/common-api/src/services/api/get.ts
  packages/manager/modules/common-api/src/services/api/index.ts
  packages/manager/modules/common-api/src/services/api/post.ts
  packages/manager/modules/common-api/src/services/api/put.ts
  packages/manager/modules/common-api/src/services/hooks/index.ts
  packages/manager/modules/common-api/src/services/hooks/useDeleteService.ts
  packages/manager/modules/common-api/src/services/hooks/useServiceDetails.ts
  packages/manager/modules/common-api/src/services/hooks/useUpdateServiceName.ts
  packages/manager/modules/common-api/src/services/index.ts
  packages/manager/modules/common-api/src/services/mocks/index.ts
  packages/manager/modules/common-api/src/services/mocks/services.handler.ts
  packages/manager/modules/common-api/src/services/mocks/services.mock.ts
  packages/manager/modules/common-api/src/services/services.type.ts
  packages/manager/modules/common-api/src/tasks/hooks/useTask.spec.tsx
  packages/manager/modules/common-api/src/tasks/hooks/useTask.ts
  packages/manager/modules/common-api/src/tasks/index.ts
  packages/manager/modules/common-api/tsconfig.json
  packages/manager/modules/common-api/vitest.config.js
  yarn.lock
Labels: feature, continuous-integration, dependencies, common

#14487 fix(pci-billing): refactor columns
  packages/manager/apps/pci-billing/src/components/consumption/ArchiveStorageList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/ColdArchiveList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/InstanceDetailPopover.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/InstanceList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/ObjectStorageList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/OutgoingTrafficList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/ResourceUsageList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/SnapshotList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/VolumeDetailPopover.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/VolumeList.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useArchiveStorageListColumns.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useColdArchiveListColumns.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useInstanceListColumns.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useObjectStorageListColumns.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useOutgoingTrafficListColumns.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useResourceUsageListColumns.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useSnapshotListColumns.tsx
  packages/manager/apps/pci-billing/src/components/consumption/useVolumeListColumns.tsx
Labels: refactor

#14428 feat(pci-object-storage): implement enable versioning modal
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/enable-versioning/EnableVersioning.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Labels: feature, translation required

#14506 ci(github): fix gh page build
  .github/workflows/gh-pages.yaml
Labels: bug, continuous-integration, dependencies, common

#14514 feat(pci.instances.add): open auto backup option to LZ regions
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: universe-public-cloud

#14498 fix(pci-billing): alert chart font
  packages/manager/apps/pci-billing/src/index.css
  packages/manager/apps/pci-billing/src/index.scss
  packages/manager/apps/pci-billing/src/main.tsx
  packages/manager/apps/pci-billing/src/pages/billing/estimate/Alerts.part.tsx
Labels: bug

#14515 fix(pci-billing): minor design changes
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-billing/src/components/consumption/HourlyConsumption.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/MonthlyConsumption.component.tsx
  packages/manager/apps/pci-billing/src/components/consumption/__snapshots__/HourlyConsumption.component.spec.tsx.snap
  packages/manager/apps/pci-billing/src/components/consumption/__snapshots__/MonthlyConsumption.component.spec.tsx.snap
  packages/manager/apps/pci-billing/src/pages/billing/consumption/Consumption.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/estimate/Alerts.part.tsx
  packages/manager/apps/pci-billing/src/pages/billing/estimate/Estimate.part.tsx
Labels: bug

#14507 feat(pci-object-storage): add user modal for object
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/data/user.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/AddUser.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/StepOne.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/StepTwo.component.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/RCloneDownload.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/S3StorageRegions.tsx
  packages/manager/modules/manager-pci-common/src/components/rclone-download/StorageRegions.tsx
  packages/manager/modules/manager-pci-common/src/index.ts
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/translations/storages/containers/object/add-user/index.ts
Labels: feature, translation required

#14510 feat(test-utils): add test-utils helpers
  packages/manager/core/test-utils/src/auth/user.mock.ts
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods17.ts
Labels: feature, common

#14499 test(pci-billing): add more tests for history and consumption
  packages/manager/apps/pci-billing/src/api/data/consumption.spec.ts
  packages/manager/apps/pci-billing/src/api/hook/useConsumption.spec.ts
  packages/manager/apps/pci-billing/src/components/history/HistoryHeader.component.spec.tsx
  packages/manager/apps/pci-billing/src/components/history/HistoryResume.component.spec.tsx
  packages/manager/apps/pci-billing/src/components/history/__snapshots__/HistoryHeader.component.spec.tsx.snap
  packages/manager/apps/pci-billing/src/components/history/__snapshots__/HistoryResume.component.spec.tsx.snap
  packages/manager/apps/pci-billing/src/pages/billing/consumption/ActivateMonthlyBilling.page.spec.tsx
  packages/manager/apps/pci-billing/src/pages/billing/consumption/Consumption.page.spec.tsx
  packages/manager/apps/pci-billing/src/pages/billing/consumption/__snapshots__/ActivateMonthlyBilling.page.spec.tsx.snap
  packages/manager/apps/pci-billing/src/pages/billing/consumption/__snapshots__/Consumption.page.spec.tsx.snap
  packages/manager/apps/pci-billing/src/pages/billing/history/History.page.spec.tsx
  packages/manager/apps/pci-billing/src/pages/billing/history/__snapshots__/History.page.spec.tsx.snap
  packages/manager/apps/pci-billing/src/setupTests.tsx
  packages/manager/apps/pci-billing/src/wrapperRenders.tsx
Labels: feature

#14422 feat(pci-object-storage): container creation region step
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/data-encryption/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/translations/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/regions/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/New.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerTypeStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/EncryptionStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionLabel.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/VersioningStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/useContainerCreationStore.ts
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
  packages/manager/modules/manager-pci-common/src/api/data/regions.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useAvailability.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useRegions.ts
  packages/manager/modules/manager-pci-common/src/components/tiles-input-choice/TilesInputChoice.component.tsx
  packages/manager/modules/manager-pci-common/src/constants/style.ts
Labels: feature, translation required

#14320 feat(web.hosting): move metrics to mimir
  packages/components/ng-ovh-chart/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/package.json
  packages/manager/apps/web/client/app/hosting/automated-emails/hosting-automated-emails.controller.js
  packages/manager/apps/web/client/app/hosting/automated-emails/hosting-automated-emails.service.js
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/statistics/STATISTICS.html
  packages/manager/apps/web/client/app/hosting/statistics/hosting-statistics.controller.js
  packages/manager/apps/web/client/app/hosting/statistics/hosting-statistics.service.js
  packages/manager/apps/web/package.json
  packages/manager/modules/iplb/package.json
  yarn.lock
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, translation required, dependencies, common

#14535 fix(vcd-veeam): fix failing test in delete-veeam
  packages/manager/apps/veeam-backup/src/pages/delete-veeam/delete-veeam.spec.tsx
Labels: bug, universe-bare-metal-cloud

#14365 feat(vrack-services): fix automatic validation for vs order
  packages/manager/apps/vrack-services/src/components/OrderSubmitModalContent.component.tsx
Labels: feature, universe-bare-metal-cloud

#14536 Feat/manager 14695 fix nutanix node dashboard
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/service.js
Labels: feature, universe-hosted-private-cloud

#14525 fix(billing): fix autorenew display issue
  packages/manager/apps/billing/package.json
  packages/manager/apps/billing/src/app.module.js
  packages/manager/modules/new-billing/.eslintrc.json
  packages/manager/modules/new-billing/package.json
  packages/manager/modules/new-billing/src/config/config.js
  packages/manager/modules/new-billing/src/config/constants.config.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/bytes.filter.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/index.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_fr_FR.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/bytes/translations/Messages_pt_PT.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/contract/index.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/contract/user-contract.service.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/index.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/notification/index.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/notification/notification.service.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/index.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/price.filter.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_fr_FR.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/price/translations/Messages_pt_PT.json
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/translate/index.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/translate/translate-alt.filter.js
  packages/manager/modules/new-billing/src/index.js
  yarn.lock
Labels: bug, universe-bare-metal-cloud, dependencies

#14542 feat(*): add info for alerter services
  packages/components/ng-ovh-utils/src/alerter/alerter-service.js
Labels: feature, common

#14324 fix(container): avoid overriding selected project when url has an id
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
Labels: bug, container

#14411 feat(container): pnr2 add bullet on lvl 1 on reduce mode
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
Labels: quality check: ok, feature, container

#14371 feat(account): added minlength and maxlength management
  packages/manager/modules/account/src/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/modules/account/src/user/components/newAccountForm/field/new-account-form-field-component.html
Labels: feature

#14327 feat(signup): added minlength and maxlength management
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/details/details.html
Labels: feature, sign-up, common

#14259 feat(signup): use new tracking nomenclature
  packages/components/ovh-at-internet/src/constants.ts
  packages/manager/apps/sign-up/src/activity/routing.js
  packages/manager/apps/sign-up/src/at-internet.constants.js
  packages/manager/apps/sign-up/src/details/routing.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/core/generator/app/universes.constant.js
Labels: feature, sign-up, common

#14319 fix(container): fixed default public cloud project retrieval
  packages/manager/apps/container/src/container/nav-reshuffle/data/api/defaultPublicCloudProject.ts
  packages/manager/apps/container/src/container/nav-reshuffle/data/hooks/defaultPublicCloudProject/useDefaultPublicCloudProject.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
  packages/manager/apps/container/src/types/preferences.ts
Labels: bug, container

#14307 fix(pnr): fix find node by routing
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
Labels: bug, container

#14378 feat(dedicated): display warn msg at bottom on service termination form
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.html
Labels: feature, common

#14483 feat(billing): hide renewal frequency
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/billing/src/autoRenew/autorenew.constants.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
Labels: feature, universe-bare-metal-cloud, common

#14471 feat(kms): servicekey list ti implementation
  packages/manager/apps/key-management-service/src/mocks/iam/iam.mock.ts
  packages/manager/apps/key-management-service/src/mocks/reference/reference.handler.ts
  packages/manager/apps/key-management-service/src/mocks/reference/reference.mock.ts
  packages/manager/apps/key-management-service/src/mocks/serviceKeys/serviceKeys.handler.ts
  packages/manager/apps/key-management-service/src/mocks/serviceKeys/serviceKeys.mock.ts
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
  packages/manager/apps/key-management-service/src/types/okmsServiceKeyReference.type.ts
  packages/manager/apps/key-management-service/src/utils/tests/renderTestApp.tsx
Labels: feature, enabler

#14553 Feat/pci ai notebooks modal tracking
  packages/manager/apps/pci-ai-notebooks/package.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/create/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/src/components/route-modal/RouteModal.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/ui/data-table.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/ui/skeleton.tsx
  packages/manager/apps/pci-ai-notebooks/src/configuration/tracking.constants.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/backups/backups.api.ts
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/backups/useForkBackup.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/backups/useGetBackup.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useAddNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useDeleteNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useDeleteNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useGetCommand.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStartNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStopNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/useTracking.ts
  packages/manager/apps/pci-ai-notebooks/src/lib/notebookHelper.ts
  packages/manager/apps/pci-ai-notebooks/src/pages/Root.layout.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/Root.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/_components/sshkey/AddSSHKey.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/auth/auth.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/Notebook.context.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/DeleteNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/NotebookHeader.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StartNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StopNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/AttachedData.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/VolumesListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/formDataSync/useDataSyncForm.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/dataSync/DataSync.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/Backups.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/_components/BackupsListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/fork/Fork.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/AccessLink.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Configuration.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/delete/Delete.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/auth/Auth.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/Create.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/delete/Delete.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/start/Start.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/stop/Stop.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/routes/routes.tsx
  packages/manager/apps/pci-ai-notebooks/src/types/cloud/Project.ts
  packages/manager/apps/pci-ai-notebooks/src/types/cloud/project/ai/volume/DataSyncSpec.ts
Labels: feature, translation required

#14358 feat(ai.notebooks): backup tabs
  packages/manager/apps/pci-ai-notebooks/package.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/create/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/backups/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/src/components/route-modal/RouteModal.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/ui/data-table.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/ui/skeleton.tsx
  packages/manager/apps/pci-ai-notebooks/src/configuration/polling.constants.ts
  packages/manager/apps/pci-ai-notebooks/src/configuration/tracking.constants.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/backups/backups.api.ts
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/backups/useForkBackup.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/backups/useGetBackup.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/backups/useGetBackups.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useAddNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useDeleteNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useDeleteNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useGetCommand.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStartNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/useStopNotebook.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/useTracking.ts
  packages/manager/apps/pci-ai-notebooks/src/lib/notebookHelper.ts
  packages/manager/apps/pci-ai-notebooks/src/pages/Root.layout.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/Root.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/_components/sshkey/AddSSHKey.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/auth/auth.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/Notebook.context.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/DeleteNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/NotebookHeader.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/NotebookTabs.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StartNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StopNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/AttachedData.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/VolumesListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/VolumesListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/formDataSync/useDataSyncForm.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/dataSync/DataSync.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/Backups.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/_components/BackupsListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/_components/BackupsListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/fork/Fork.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/AccessLink.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Configuration.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/delete/Delete.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/auth/Auth.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/Create.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/delete/Delete.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/start/Start.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/stop/Stop.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/routes/routes.tsx
  packages/manager/apps/pci-ai-notebooks/src/types/cloud/Project.ts
  packages/manager/apps/pci-ai-notebooks/src/types/cloud/project/ai/volume/DataSyncSpec.ts
Labels: feature, translation required

#14569 feat(vrack-services): layout helpers ut & create & overview dashboard
  packages/manager/apps/vrack-services/mocks/feature-availability/feature-availability.ts
  packages/manager/apps/vrack-services/mocks/handlers.ts
  packages/manager/apps/vrack-services/mocks/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/mocks/vrack-services/region.ts
  packages/manager/apps/vrack-services/mocks/vrack/index.ts
  packages/manager/apps/vrack-services/src/components/layout-helpers/CreatePageLayout.spec.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.spec.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/OnboardingLayout.spec.tsx
  packages/manager/apps/vrack-services/src/pages/associate-another/AssociateAnotherVrack.component.tsx
  packages/manager/apps/vrack-services/src/pages/associate-another/AssociateAnotherVrack.spec.tsx
  packages/manager/apps/vrack-services/src/pages/associate/AssociateVrack.component.tsx
  packages/manager/apps/vrack-services/src/pages/associate/AssociateVrack.spec.tsx
  packages/manager/apps/vrack-services/src/pages/create-vs/CreateVrackServices.spec.tsx
  packages/manager/apps/vrack-services/src/pages/edit-display-name/EditVrackServicesDisplayNameModal.spec.tsx
  packages/manager/apps/vrack-services/src/pages/overview/Dashboard.spec.tsx
  packages/manager/apps/vrack-services/src/test-utils/setupTests.tsx
  packages/manager/apps/vrack-services/src/test-utils/uiTestHelpers.ts
Labels: feature, universe-bare-metal-cloud

#14545 Feat/manager 16065 poweron node
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/poweron-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/poweron-node.routing.js
  packages/manager/modules/nutanix/src/service.js
Labels: feature, translation required, universe-hosted-private-cloud

#14556 Feat/manager 15714 poweroff nutanix node
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweroff-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweroff-node/poweroff-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweroff-node/poweroff-node.routing.js
  packages/manager/modules/nutanix/src/service.js
Labels: feature, translation required, universe-hosted-private-cloud

#14565 feat(nutanix): add uninstall node nutanix popin
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/uninstall-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/uninstall-node/uninstall-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/uninstall-node/uninstall-node.routing.js
  packages/manager/modules/nutanix/src/service.js
Labels: feature, translation required, universe-hosted-private-cloud

#14580 fix(container): fixed default public cloud project retrieval (#14319)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
Labels: bug, container

#14573 feat(nutanix): add listing node pages link
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
Labels: feature, universe-hosted-private-cloud

#14596 Feat/vrack services tests qpa
  packages/manager/apps/vrack-services/mocks/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/mocks/vrack/index.ts
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/pages/create-subnet/subnetCreate.spec.tsx
  packages/manager/apps/vrack-services/src/pages/create-vs/CreateVrackServices.spec.tsx
  packages/manager/apps/vrack-services/src/pages/dissociate/DissociateModal.spec.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/SubnetsTab.spec.tsx
  packages/manager/apps/vrack-services/src/test-utils/uiTestHelpers.ts
Labels: feature, universe-bare-metal-cloud, translation required

#14601 feat(vrack-service): test case for delete vrackservice
  packages/manager/apps/vrack-services/src/pages/listing/delete/DeleteVrackServicesModal.spec.tsx
Labels: feature, universe-bare-metal-cloud

#14609 ci: remove filter on build command
  package.json
Labels: continuous-integration

#14611 fix(kms): Revert "feat(kms): refacto delete modal"
  packages/manager/apps/key-management-service/src/components/Modal/terminate/TerminateModal.component.tsx
  packages/manager/apps/key-management-service/src/components/Modal/terminate/TerminateModal.constants.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/data/hooks/useTerminateOKms.ts
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/src/pages/listing/terminate/TerminateKms.tsx
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
Labels: feature, enabler

#14603 feat(*): add node nutanix resilitate popin
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/component.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/template.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/constant.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/resiliate.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/resiliate.routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#14623 feat(vrack-services): order vrs without contracts
  packages/manager/apps/vrack-services/src/pages/create-vs/confirm/CreateConfirmModal.page.tsx
Labels: feature, universe-bare-metal-cloud

#14607 feat(pci-object-storage): add container creation steps
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/EncryptionStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/VersioningStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/useContainerCreationStore.ts
Labels: feature, translation required

#14624 build(common-api): fix dependancies of common api on independantly build
  packages/manager/modules/common-api/package.json
Labels: build

#14614 build(pci-common): handle cjs files in dist folder
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/vite.config.mjs
Labels: build

#14578 fix(mrc): clipboard props typing
  packages/manager-react-components/src/components/clipboard/clipboard.component.tsx
Labels: bug

#14612 feat(dedicated): my services add tracking
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/cluster/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.component.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.controller.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.html
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.component.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.component.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.controller.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/billing/src/autoRenew/autorenew.constants.js
  packages/manager/modules/billing/src/autoRenew/autorenew.controller.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/billing/src/autoRenew/ssh/ssh.routing.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/web-paas/src/details/service/service.html
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-hosted-private-cloud, common

#14584 fix(account): add buffer to webpack
  packages/manager/apps/account/webpack.config.js
Labels: bug

#14643 build(pci-common): remove module type from package.json
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/vite.config.mjs
Labels: build

#14654 test(test-utils): correct core-api version
  packages/manager/apps/pci-kubernetes/src/components/service/AdmissionPlugins.component.spec.tsx
  packages/manager/core/test-utils/package.json
  yarn.lock
Labels: dependencies, common

#14666 fix(dedicated): fix show engagement none label
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
Labels: bug, common

#14659 test(pci-kubernetes): remove skip instruction for unit test
  packages/manager/apps/pci-kubernetes/src/components/service/AdmissionPlugins.component.spec.tsx
Labels: bug

#14671 fix(dedicated): fix my services filter tracking
  packages/manager/modules/billing/src/autoRenew/autorenew.controller.js
Labels: bug, universe-bare-metal-cloud

#14420 ci: publish config and ovh-at-internet packages
  packages/components/ovh-at-internet/package.json
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/index.ts
  packages/manager/modules/config/tsconfig.json
Labels: continuous-integration, common

#14656 feat(pci-object-storage): add container
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/New.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/EncryptionStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/useContainerCreationStore.ts
Labels: feature

#14669 fix(pci-*): import style from pci-common library
  packages/manager/apps/pci-ai-endpoints/src/index.tsx
  packages/manager/apps/pci-billing/src/main.tsx
  packages/manager/apps/pci-gateway/src/main.tsx
  packages/manager/apps/pci-private-network/src/main.tsx
  packages/manager/apps/pci-private-registry/src/main.tsx
  packages/manager/apps/pci-public-ip/src/main.tsx
  packages/manager/apps/pci-rancher/src/main.tsx
  packages/manager/apps/pci-savings-plan/src/index.tsx
  packages/manager/apps/pci-ssh-keys/src/main.tsx
  packages/manager/apps/pci-users/src/main.tsx
  packages/manager/apps/pci-vouchers/src/main.tsx
  packages/manager/apps/pci-workflow/src/main.tsx
Labels: bug, universe-public-cloud

#14660 feat(common): change sunrise icon
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/sunrise.svg
Labels: feature, common

#14583 feat(ldp): subscriptions list implementation
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStreamUrl.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogService.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStream.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStreamUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogSubscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logService/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logService/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logStream/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStream/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/index.ts
Labels: feature, translation required

#12386 fix(hub): resolve template issue
  packages/manager/apps/hub/src/dashboard/order-dashboard/template.html
Labels: bug, quality check, universe-hub

#14635 feat(container): move the public cloud create project button
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
Labels: quality check: ok, feature, container

#13964 feat(hub): updated help link to avoid unnecessary redirection
  packages/manager/apps/hub-react/src/hooks/guideUtils/useGuideUtils.constants.ts
Labels: feature, stale

#14684 feat(container): always show tour after user chooses cookies
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/introduction.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
Labels: feature, container

#14404 feat(account): add hycu filter on contacts services page
  packages/manager/modules/account/src/contacts/service/translations/Messages_de_DE.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_en_GB.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_es_ES.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_it_IT.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/contacts/user-contacts.constants.js
Labels: quality check: ok, feature

#14363 feat(account): follow up demo kyc changes
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/template.html
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_de_DE.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_en_GB.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_es_ES.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_it_IT.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/template.html
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_de_DE.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_en_GB.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_es_ES.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_it_IT.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/component.js
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/index.js
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/template.html
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_de_DE.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_en_GB.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_es_ES.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_it_IT.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/identity-documents/upload-identity-documents-confirm/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/identity-documents/user-identity-documents.constant.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.controller.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.html
  packages/manager/modules/account/src/identity-documents/user-identity-documents.module.js
Labels: quality check: ok, feature, translation required

#14572 fix(pnr): resolve routing undefined error
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
Labels: bug, quality check: ok, container

#13867 feat(container): animation improvement & add skeleton on entry menu
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceSidebar.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
Labels: feature, container

#14582 feat(sap-features-hub): init sap-features-hub µapp
  packages/manager/apps/sap-features-hub/README.md
  packages/manager/apps/sap-features-hub/index.html
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/postcss.config.js
  packages/manager/apps/sap-features-hub/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/public/translations/sap-features-hub/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/public/translations/sap-features-hub/error/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/App.tsx
  packages/manager/apps/sap-features-hub/src/assets/error-banner-oops.png
  packages/manager/apps/sap-features-hub/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/sap-features-hub/src/components/Error/Error.scss
  packages/manager/apps/sap-features-hub/src/components/Error/Error.tsx
  packages/manager/apps/sap-features-hub/src/components/Loading/Loading.tsx
  packages/manager/apps/sap-features-hub/src/data/api/sap-features-hub.ts
  packages/manager/apps/sap-features-hub/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/sap-features-hub/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/sap-features-hub/src/index.scss
  packages/manager/apps/sap-features-hub/src/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/404.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/tab2/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/layout.tsx
  packages/manager/apps/sap-features-hub/src/pages/listing/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/listing/listing.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/onboarding/index.scss
  packages/manager/apps/sap-features-hub/src/pages/onboarding/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/onboarding/onboarding-img.png
  packages/manager/apps/sap-features-hub/src/routes/routes.constant.ts
  packages/manager/apps/sap-features-hub/src/routes/routes.tsx
  packages/manager/apps/sap-features-hub/src/sap-features-hub.config.ts
  packages/manager/apps/sap-features-hub/src/tracking.constant.ts
  packages/manager/apps/sap-features-hub/src/vite-hmr.ts
  packages/manager/apps/sap-features-hub/tailwind.config.js
  packages/manager/apps/sap-features-hub/tsconfig.json
  packages/manager/apps/sap-features-hub/vite.config.mjs
  packages/manager/apps/sap-features-hub/vitest.config.js
Labels: feature, translation required

#14692 feat(pci-load-balancer): [Load Balancer 3AZ] - Configuration page - Add 3-AZ tag
  packages/manager/apps/pci-load-balancer/src/api/hook/useNetwork.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/components/GroupLabel.component.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/components/StackLabel.component.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/components/StackTitle.component.tsx
Labels: feature

#14688 fix(billing): added auth information on currentUser
  packages/manager/modules/new-billing/src/common/User.js
Labels: bug, quality check: ok

#14699 feat(pci-load-balancer): Configuration page - Notify user if location selected has no private network
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.tsx
Labels: feature, translation required

#14702 fix(pci-object-storage): container creation
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/hooks/useUser.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStepTile.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/EncryptionStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/UserInformationTile.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/VersioningStep.component.tsx
Labels: bug, translation required

#14674 feat(pci-object-storage): add objects
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/AddObject.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/useAddObjectsForm.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Labels: feature, translation required

#14705 feat(pci.load-balancer): [Load Balancer 3AZ] - Configuration page - Add a banner for Paris-3-AZ Beta
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/create/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/src/api/hook/useRegions.ts
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.tsx
Labels: feature, translation required

#14641 feat(pci-gateway): Configuration page - Add 3-AZ tag
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useInactiveRegions.spec.tsx
  packages/manager/apps/pci-gateway/src/api/hooks/useInactiveRegions.ts
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
Labels: feature, universe-public-cloud

#14707 feat(pci-gateway): [Gateway 3AZ] - Configuration page - Add a banner for Paris-3-AZ Beta
  packages/manager/apps/pci-gateway/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/src/api/data/gateway-plans.ts
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
Labels: feature, translation required, universe-public-cloud

#14655 feat(pic-public-ip): [Floating IP 3AZ] - Configuration page - Add 3-AZ tag
  packages/manager/apps/pci-public-ip/src/api/types.ts
  packages/manager/apps/pci-public-ip/src/components/input/RegionInput.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: feature

#14710 feat(pic-public-ip): [Floating IP 3AZ] - Configuration page - Add a banner for Paris-3-AZ Beta
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/src/api/hooks/useData.ts
  packages/manager/apps/pci-public-ip/src/api/types.ts
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: feature, translation required

#14686 feat(pci-object-storage): container type toggle
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/useDatagridColumn.tsx
Labels: feature
