Repository ovh/manager, pull requests merged in 2024-07, with the labels that each got.

#12175 feat(account-disable-2fa): add skeleton loading
  packages/manager/apps/procedures/src/components/Loading/SkeletonLoading.tsx
  packages/manager/apps/procedures/src/pages/Home.page.tsx
Labels: feature

#12179 fix(container.2fa): fix issue with iframe and router if 2fa needed
  packages/manager/apps/container/src/container/legacy/index.tsx
Labels: bug, container

#12174 feat(container): load vrackservice listing page
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
Labels: quality check: ok, feature, container

#12146 feat(web): associate a repository
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.service.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/popover/multisite.html
Labels: feature, universe-web-cloud, translation required

#12201 feat(procedures.2fa): fix documents upload on labeu
  packages/manager/apps/procedures/src/data/api/documentsApi.ts
  packages/manager/apps/procedures/src/data/hooks/useDocuments.tsx
Labels: feature

#12194 feat(rancher): move body post to target
  packages/manager/apps/pci-rancher/src/api/apiv2/services.ts
Labels: quality check: ok, feature, universe-public-cloud

#12199 fix(manager-components): update command build storybook
  docs/package.json
  packages/manager-components/package.json
Labels: bug, documentation

#12209 fix: remove unused packages in package.json
  packages/manager/apps/pci-databases-analytics/package.json
  yarn.lock
Labels: bug, dependencies

#11739 feat(pci.project): edit project delete messages
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.component.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.controller.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.html
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/edit/remove/translations/Messages_pt_PT.json
Labels: feature, translation required, universe-public-cloud

#12162 feat(pci-block-storage): use the menu action from the manager component
  packages/manager/apps/pci-block-storage/src/components/list/Actions.component.spec.tsx
  packages/manager/apps/pci-block-storage/src/components/list/Actions.component.tsx
Labels: feature

#12157 fix(*): add Dallas region
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-public-cloud

#12227 fix(i18n): add missing translations [CDS 3131]
  packages/manager/modules/log-to-customer/src/translations/Messages_de_DE.json
  packages/manager/modules/log-to-customer/src/translations/Messages_en_GB.json
  packages/manager/modules/log-to-customer/src/translations/Messages_es_ES.json
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_CA.json
  packages/manager/modules/log-to-customer/src/translations/Messages_it_IT.json
  packages/manager/modules/log-to-customer/src/translations/Messages_pl_PL.json
  packages/manager/modules/log-to-customer/src/translations/Messages_pt_PT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/translations/Messages_es_ES.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/translations/Messages_pl_PL.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_de_DE.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_en_GB.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_es_ES.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_fr_CA.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_it_IT.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_pl_PL.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_pt_PT.json
Labels: feature, universe-public-cloud

#12119 fix(*): update ods version
  packages/manager-components/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/core/ovh-product-icons/package.json
  yarn.lock
Labels: bug, universe-web-cloud, dependencies, universe-public-cloud

#12090 feat(manager-components): dashboard template update
  packages/manager-components/src/components/content/headers/headers.component.tsx
  packages/manager-components/src/components/templates/dashboard/dashboard.component.tsx
  packages/manager-components/src/components/templates/dashboard/dashboard.spec.tsx
  packages/manager-components/src/components/templates/dashboard/dashboard.stories.css
  packages/manager-components/src/components/templates/dashboard/dashboard.stories.tsx
  packages/manager-components/src/components/templates/layout/layout.component.tsx
  packages/manager-components/src/components/typography/description/description.component.tsx
  packages/manager-components/src/components/typography/links/links.component.tsx
  packages/manager-components/src/components/typography/title/title.component.tsx
Labels: feature, manager-components

#12203 fix(dedicated): consider ipblock while fetching info
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/game-firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11818 feat(dedicated.order): update cloud project link in server sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/order.constants.ts
Labels: quality check: ok, quality check, feature, stale, container

#12224 fix(i18n): add missing translations [CDS 3127]
  packages/manager/apps/pci-private-network/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/onboarding/Messages_en_GB.json
Labels: quality check: ok, feature, universe-public-cloud

#12128 fix(access.statistics): initialize graph data before adding new
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/statistics.controller.js
Labels: quality check: ok, universe-telecom

#11738 feat(manager-components.notifications): add text style for notification
  packages/manager-components/src/components/notifications/notifications.spec.tsx
  packages/manager-components/src/components/notifications/ods-notification.tsx
Labels: bug, quality check: ok, manager-components

#12216 feat(web.hosting): add status git and action git on multisite
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/popover/multisite.html
Labels: feature, universe-web-cloud, translation required

#12231 fix(pci-block-storage): volume name edit
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
Labels: bug

#12234 fix(pci-block-storage): disable creation for discovery projects
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/steps/location.tsx
Labels: bug

#12239 fix(pci-block-storage): edit volume
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
Labels: bug

#12240 fix(pci-block-storage): backup creation link
  packages/manager/apps/pci-block-storage/src/components/list/Actions.component.spec.tsx
  packages/manager/apps/pci-block-storage/src/components/list/Actions.component.tsx
Labels: bug

#12243 fix(pci-block-storage): volume status
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.tsx
  packages/manager/apps/pci-block-storage/src/components/list/Status.component.tsx
Labels: bug

#12242 fix(pci-block-storage): avoid persistant banners with volume creation
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/steps/validation.tsx
Labels: bug

#12185 feat(hpc-vmware-managed-vcd): add listing VCD page
  .gitignore
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Error/Error.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Loading/Loading.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/hpc-vmware-managed-vcd.config.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/setupTests.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/tsconfig.json
  packages/manager/apps/hpc-vmware-managed-vcd/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies, container

#12253 fix(web.domain): updated dns records management restriction
  packages/manager/apps/web/client/app/domain/dnssec/domain-dnssec.controller.js
Labels: bug, universe-web-cloud

#12256 feat(web.hosting): add feature deploy git
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.html
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/index.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.module.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/index.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.module.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/index.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.module.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#12223 feat(dedicated): reajust and align the Bridged and subnet
  packages/manager/modules/vrack/src/dashboard/vrack-mapper.less
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/partials/mapped.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.less
Labels: feature, universe-bare-metal-cloud

#12263 fix(web.hosting): i added use case git during remove domain
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/delete/hosting-multisite-delete.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
Labels: bug, universe-web-cloud, translation required

#12195 feat(pci.instance): Instance creation customer journey improvements
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.component.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/images-list/images-list.controller.js
  packages/manager/modules/pci/src/components/project/instance/ssh-keys/ssh-keys.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/regions/regions.html
Labels: bug, quality check: ok, universe-public-cloud

#12270 fix(dedicated): fix delete ipv6 subnet on vrack page
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.controller.js
Labels: bug, universe-bare-metal-cloud

#12284 fix(web.hosting): add use case git during modify domain
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/configuration.component.js
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/configuration.html
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/update/hosting-multisite-update.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/update/hosting-multisite-update.html
Labels: bug, universe-web-cloud, translation required

#12141 feat(dedicated.netapp): fix restore demo feedbacks
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#12285 feat(web): add log viewer git deployment
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/git-view-last-deployment.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/git-view-last-deployment.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/git-view-last-deployment.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/git-view-last-deployment.module.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/git-view-last-deployment.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/git-view-last-deployment.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/index.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.module.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.routing.js
Labels: feature, universe-web-cloud, translation required

#12281 refactor(pci-block-storage): refactor stepper
  packages/manager-components/src/components/container/index.ts
  packages/manager-components/src/components/container/step/Step.component.tsx
  packages/manager-components/src/components/container/stepper/index.ts
  packages/manager-components/src/components/container/stepper/stepper.stories.tsx
  packages/manager-components/src/components/container/stepper/useStepper.tsx
  packages/manager/apps/pci-block-storage/src/components/region-selector/RegionTile.tsx
  packages/manager/apps/pci-block-storage/src/components/region-selector/constants.ts
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/CapacityStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/LocationStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/ValidationStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeNameStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/form.type.ts
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/steps/capacity.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/steps/location.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/steps/name.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/steps/type.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/steps/validation.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/useStep.ts
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/useVolumeStepper.ts
  packages/manager/apps/pci-block-storage/src/pages/new/steps.enum.ts
Labels: refactor, manager-components

#12159 feat(overthebox): unlink device
  packages/manager/modules/overthebox/src/overthebox/details/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.service.js
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_CA.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_it_IT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-telecom, translation required

#12202 feat(web): remove git association
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/deployment/git-deployment.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.module.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/index.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.module.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.routing.js
Labels: feature, universe-web-cloud, translation required

#12294 feat(web): add git integration guide
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/view-last-deployment/git-view-last-deployment.component.js
Labels: feature, universe-web-cloud, translation required

#12278 fix(pci-block-storage): use full width in mobile mode
  packages/manager/apps/pci-block-storage/src/pages/attach/AttachStorage.page.tsx
Labels: bug

#12292 fix(pci-block-storage): move discovery banner below the title
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
Labels: bug

#12295 fix(pci-block-storage): listing redirection spinner
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
Labels: bug

#12297 fix(pci-block-storage): volume name edit
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
Labels: bug

#12298 fix(pci-block-storage): display errors on creation page
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
Labels: bug

#12274 feat(manager-components): move useFeatureAvailability
  packages/manager-components/jest.config.js
  packages/manager-components/jest.setup.ts
  packages/manager-components/package.json
  packages/manager-components/src/components/typography/title/title.component.tsx
  packages/manager-components/src/hooks/feature-availability/index.ts
  packages/manager-components/src/hooks/feature-availability/mocks/feature-availability.mock.ts
  packages/manager-components/src/hooks/feature-availability/useFeatureAvailability.spec.tsx
  packages/manager-components/src/hooks/feature-availability/useFeatureAvailability.ts
  packages/manager-components/src/hooks/index.ts
  packages/manager-components/src/utils/test.provider.tsx
  packages/manager/apps/pci-private-network/src/hooks/useAnnouncement.spec.tsx
  packages/manager/apps/pci-private-network/src/hooks/useAnnouncement.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/hooks/useAnnouncement.ts
  packages/manager/core/application/src/hooks/index.ts
  packages/manager/core/application/src/hooks/useFeatureAvailability.ts
  yarn.lock
Labels: feature, dependencies, universe-public-cloud, manager-components

#12291 feat(manager-components): banner action
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/action-banner.spec.tsx
  packages/manager-components/src/components/action-banner/action-banner.stories.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.tsx
Labels: feature, manager-components

#12116 feat(manager-components): add <Clipboard /> component
  packages/manager-components/README.md
  packages/manager-components/package.json
  packages/manager-components/src/components/clipboard/clipboard.component.tsx
  packages/manager-components/src/components/clipboard/clipboard.spec.tsx
  packages/manager-components/src/components/clipboard/clipboard.stories.tsx
  packages/manager-components/src/components/clipboard/translations/Messages_de_DE.json
  packages/manager-components/src/components/clipboard/translations/Messages_en_GB.json
  packages/manager-components/src/components/clipboard/translations/Messages_es_ES.json
  packages/manager-components/src/components/clipboard/translations/Messages_fr_CA.json
  packages/manager-components/src/components/clipboard/translations/Messages_fr_FR.json
  packages/manager-components/src/components/clipboard/translations/Messages_it_IT.json
  packages/manager-components/src/components/clipboard/translations/Messages_pl_PL.json
  packages/manager-components/src/components/clipboard/translations/Messages_pt_PT.json
  packages/manager-components/src/components/clipboard/translations/index.ts
Labels: feature, translation required, manager-components

#12266 fix(pack.migration): check ont flag to display ont view
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: bug, quality check: ok, universe-telecom

#11608 OS installation wizard diskgroup - bundle
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
  packages/manager/modules/bm-server-components/src/server/server.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12091 feat(dedicated.ldp): fix wrong US guide links for LDP
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.constants.js
  packages/manager/modules/dbaas-logs/src/logs/detail/logs-helper.service.js
  packages/manager/modules/dbaas-logs/src/logs/header/header.component.js
  packages/manager/modules/dbaas-logs/src/logs/header/list/list.component.js
  packages/manager/modules/dbaas-logs/src/logs/header/list/logs-list-header.controller.js
  packages/manager/modules/dbaas-logs/src/logs/header/logs-dashboard-header.controller.js
  packages/manager/modules/dbaas-logs/src/logs/onboarding/constants.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#10637 feat(dedicate): remove fail over ip label form network iface
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/network-interfaces/component.js
  packages/manager/modules/bm-server-components/src/network-interfaces/controller.js
  packages/manager/modules/bm-server-components/src/network-interfaces/interfaces.constants.js
  packages/manager/modules/bm-server-components/src/network-interfaces/template.html
Labels: quality check: ok, feature, translation required

#12283 fix(dedicated.vps): feature flip secondary dns
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11928 fix(hosting.multisite): separate logs display
  packages/manager/apps/web/client/app/hosting/multisite/update/hosting-multisite-update.controller.js
Labels: quality check: ok, universe-web-cloud

#12262 feat(dedicated): modify content of apply game mitigation policy
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12207 feat(iplb): hide subscription use section for us
  packages/manager/modules/iplb/src/home/iplb-home.constants.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12197 feat(dedicated.server): hide backup tab if not orderable
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/server/server.component.js
  packages/manager/modules/bm-server-components/src/server/server.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12066 feat(dedicated.ip): order - add campus in step 1
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12089 feat(log-live-tail): update theme
  packages/components/ng-log-live-tail/package.json
  packages/components/ng-log-live-tail/src/constants.js
  packages/components/ng-log-live-tail/src/controller.js
  packages/components/ng-log-live-tail/src/index.less
  packages/components/ng-log-live-tail/src/template.html
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/log-to-customer/package.json
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/pci/package.json
Labels: quality check: ok, feature, universe-public-cloud

#12131 feat(kms): add notifications on kms terminate
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/components/Modal/terminate/TerminateModal.component.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/data/hooks/useTerminateOKms.ts
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/terminate/TerminateKms.tsx
Labels: quality check: ok, feature, translation required, enabler

#11886 fix(hosting): do not allow phpcgi for stable64"
  packages/manager/apps/web/client/app/hosting/ovhconfig/hosting-ovhconfig.controller.js
  packages/manager/apps/web/client/app/hosting/ovhconfig/hosting-ovhconfig.html
Labels: quality check: ok, universe-web-cloud

#12301 fix(pci-private-network): handle empty subnet gracefully
  packages/manager/apps/pci-private-network/src/api/data/subnets.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
Labels: bug, quality check: ok, universe-public-cloud

#12102 feat(hub): delete a warning pop up on manager dashboard
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/modules/hub/src/components/carousel/carousel.component.js
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/carousel.scss
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/carousel/translations/Messages_de_DE.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_it_IT.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/index.js
Labels: quality check: ok, feature, universe-hub

#12173 feat(dedicated): remove postinstallationscript(link/return) options
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12319 fix(pci-block-storage): macro regions
  packages/manager-components/src/hooks/region/useTranslatedMicroRegions.tsx
Labels: bug, manager-components

#12320 fix(pci-block-storage): attach/detach redirection
  packages/manager/apps/pci-block-storage/src/pages/attach/AttachStorage.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/detach/DetachStorage.page.tsx
Labels: bug

#12321 fix(pci-block-storage): edition estimated price
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
Labels: bug

#12324 fix(pci-block-storage): onboarding breadcrumb
  packages/manager/apps/pci-block-storage/src/pages/onboarding/OnBoarding.page.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/onboarding/OnBoarding.page.tsx
Labels: bug

#12144 feat(overthebox): rework on detail view and change offer
  packages/manager/modules/overthebox/src/overthebox/details/index.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.component.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.constant.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.routing.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.service.js
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_CA.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_it_IT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
  packages/manager/modules/overthebox/src/overthebox/index.js
  packages/manager/modules/overthebox/src/overthebox/migration/contact/index.js
  packages/manager/modules/overthebox/src/overthebox/migration/contact/overTheBox-migration-contact.component.js
  packages/manager/modules/overthebox/src/overthebox/migration/contact/overTheBox-migration-contact.controller.js
  packages/manager/modules/overthebox/src/overthebox/migration/contact/overTheBox-migration-contact.html
  packages/manager/modules/overthebox/src/overthebox/migration/index.js
  packages/manager/modules/overthebox/src/overthebox/migration/offers/index.js
  packages/manager/modules/overthebox/src/overthebox/migration/offers/overTheBox-migration-offers.component.js
  packages/manager/modules/overthebox/src/overthebox/migration/offers/overTheBox-migration-offers.controller.js
  packages/manager/modules/overthebox/src/overthebox/migration/offers/overTheBox-migration-offers.html
  packages/manager/modules/overthebox/src/overthebox/migration/offers/overTheBox-migration-offers.service.js
  packages/manager/modules/overthebox/src/overthebox/migration/overTheBox-migration.component.js
  packages/manager/modules/overthebox/src/overthebox/migration/overTheBox-migration.constant.js
  packages/manager/modules/overthebox/src/overthebox/migration/overTheBox-migration.controller.js
  packages/manager/modules/overthebox/src/overthebox/migration/overTheBox-migration.html
  packages/manager/modules/overthebox/src/overthebox/migration/overTheBox-migration.less
  packages/manager/modules/overthebox/src/overthebox/migration/overTheBox-migration.routing.js
  packages/manager/modules/overthebox/src/overthebox/migration/summary/index.js
  packages/manager/modules/overthebox/src/overthebox/migration/summary/overTheBox-migration-summary.component.js
  packages/manager/modules/overthebox/src/overthebox/migration/summary/overTheBox-migration-summary.controller.js
  packages/manager/modules/overthebox/src/overthebox/migration/summary/overTheBox-migration-summary.html
  packages/manager/modules/overthebox/src/overthebox/migration/summary/overTheBox-migration-summary.service.js
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_fr_CA.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_it_IT.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-telecom, translation required

#12287 fix(dedicated): fix css issue on vrack page & fix(dedicated): remove dedicated::ip::order traking
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.less
Labels: bug, universe-bare-metal-cloud

#11662 fix(hub): ticket appears even cancelled
  packages/manager/modules/hub/src/components/support/controller.js
  packages/manager/modules/hub/src/components/support/template.html
  packages/manager/modules/hub/src/components/tile/tile.component.js
  packages/manager/modules/hub/src/components/tile/tile.html
Labels: bug, quality check: ok, universe-hub

#12220 fix(web): multiple controller initialization
  packages/manager/apps/web/client/app/domain/dynhost/DYNHOST.html
  packages/manager/apps/web/client/app/domain/dynhost/domain-dynhost.state.js
  packages/manager/apps/web/client/app/domain/glue/GLUE.html
  packages/manager/apps/web/client/app/domain/glue/domain-glue.state.js
  packages/manager/apps/web/client/app/domain/redirection/REDIRECTION.html
  packages/manager/apps/web/client/app/domain/redirection/domain-redirection.state.js
  packages/manager/apps/web/client/app/domain/tasks/TASKS.html
  packages/manager/apps/web/client/app/domain/tasks/domain-tasks.state.js
  packages/manager/apps/web/client/app/hosting/cron/CRON.html
  packages/manager/apps/web/client/app/hosting/cron/cron.routing.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/database/DATABASE.html
  packages/manager/apps/web/client/app/hosting/database/hosting-database.routing.js
  packages/manager/apps/web/client/app/hosting/indy/INDY.html
  packages/manager/apps/web/client/app/hosting/indy/indy.routing.js
  packages/manager/apps/web/client/app/hosting/local-seo/LOCAL_SEO.html
  packages/manager/apps/web/client/app/hosting/local-seo/local-seo.routing.js
  packages/manager/apps/web/client/app/hosting/module/MODULE.html
  packages/manager/apps/web/client/app/hosting/module/module.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/multisite.routing.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
  packages/manager/apps/web/client/app/hosting/runtimes/RUNTIMES.html
  packages/manager/apps/web/client/app/hosting/runtimes/runtimes.routing.js
  packages/manager/apps/web/client/app/hosting/task/TASK.html
  packages/manager/apps/web/client/app/hosting/task/task.routing.js
  packages/manager/apps/web/client/app/private-database/configuration/configuration.routing.js
  packages/manager/apps/web/client/app/private-database/configuration/private-database-configuration.html
  packages/manager/apps/web/client/app/private-database/database/archive/dump/dump.routing.js
  packages/manager/apps/web/client/app/private-database/database/archive/dump/private-database-database-archive-dump.html
  packages/manager/apps/web/client/app/private-database/database/archive/list/list.routing.js
  packages/manager/apps/web/client/app/private-database/database/archive/list/private-database-database-archive-list.html
  packages/manager/apps/web/client/app/private-database/database/dump/dump.routing.js
  packages/manager/apps/web/client/app/private-database/database/dump/private-database-database-dump.html
  packages/manager/apps/web/client/app/private-database/database/list/list.routing.js
  packages/manager/apps/web/client/app/private-database/database/list/private-database-database-list.controller.js
  packages/manager/apps/web/client/app/private-database/database/list/private-database-database-list.html
  packages/manager/apps/web/client/app/private-database/database/user/private-database-database-user.html
  packages/manager/apps/web/client/app/private-database/database/user/user.routing.js
  packages/manager/apps/web/client/app/private-database/logs/logs.routing.js
  packages/manager/apps/web/client/app/private-database/logs/private-database-logs.html
  packages/manager/apps/web/client/app/private-database/metrics/metrics.routing.js
  packages/manager/apps/web/client/app/private-database/metrics/private-database-metrics.html
  packages/manager/apps/web/client/app/private-database/task/private-database-task.html
  packages/manager/apps/web/client/app/private-database/task/task.routing.js
  packages/manager/apps/web/client/app/private-database/user/grants/grants.routing.js
  packages/manager/apps/web/client/app/private-database/user/grants/private-database-user-grants.html
  packages/manager/apps/web/client/app/private-database/user/list/list.routing.js
  packages/manager/apps/web/client/app/private-database/user/list/private-database-user-list.html
  packages/manager/apps/web/client/app/private-database/whitelist/allowed-ips.routing.js
  packages/manager/apps/web/client/app/private-database/whitelist/private-database-whitelist.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/emailpro/src/external-contact/emailpro-external-contact.html
  packages/manager/modules/emailpro/src/information/emailpro-information.html
  packages/manager/modules/emailpro/src/information/information.routing.js
  packages/manager/modules/emailpro/src/redirection/emailpro-redirection.html
  packages/manager/modules/emailpro/src/redirection/redirection.routing.js
  packages/manager/modules/emailpro/src/task/emailpro-task.html
Labels: bug, quality check: ok, universe-web-cloud

#12259 fix(pci.private-networks): list networks with vlanId 0
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
Labels: bug, quality check: ok, universe-public-cloud

#12196 fix(kms): fix breadcrumb root label
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_pt_PT.json
Labels: bug, quality check: ok, enabler

#12333 test(pci-public-ip): fix failing tests
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.spec.tsx
  packages/manager/apps/pci-private-network/src/hooks/useAnnouncement.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.spec.tsx
Labels: universe-public-cloud, manager-components

#12308 feat(web): reconfigure branch name git
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/index.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.routing.js
Labels: feature, universe-web-cloud, translation required

#12331 feat(pci.k8s): display network data
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-data/index.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-data/network-data.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-data/network-data.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-data/network-data.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-data/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/service.module.js
Labels: feature, translation required, universe-public-cloud

#12335 fix(web.hosting): disable the warning git path on add domain
  packages/manager/apps/web/client/app/hosting/multisite/add/ovh/hosting-multisite-add-ovh.html
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/configuration.component.js
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/configuration.html
  packages/manager/apps/web/client/app/hosting/multisite/update/hosting-multisite-update.html
Labels: bug, universe-web-cloud

#12334 feat(vrack-services): remove onboarding order and fix ff hook
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/pages/create/index.tsx
  packages/manager/apps/vrack-services/src/pages/listing/index.tsx
  packages/manager/apps/vrack-services/src/pages/onboarding/index.tsx
Labels: feature, universe-bare-metal-cloud

#12340 fix(dedicated): waiting task finished when add ipv6 to vrack
  packages/manager/modules/vrack/src/partials/mapped.html
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.component.js
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/ipv6.controller.js
Labels: bug, universe-bare-metal-cloud

#12314 feat(dedicated): deplace ipv6 feedback link to vrack page
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/modules/ng-layout-helpers/src/list/list-layout.component.js
  packages/manager/modules/ng-layout-helpers/src/list/template.html
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/vrack.constant.js
  packages/manager/modules/vrack/src/vrack.routing.js
Labels: feature, universe-bare-metal-cloud

#12347 Revert "feat(dedicated.ip): order - add campus in step 1"
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.module.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Labels: universe-bare-metal-cloud

#12348 Revert "feat(manager-components): banner action"
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/action-banner.spec.tsx
  packages/manager-components/src/components/action-banner/action-banner.stories.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.tsx
Labels: manager-components

#12356 fix(hosting.web): fix rule for display delete git
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
Labels: bug, universe-web-cloud

#12344 build: update vite concurrency to 5
  package.json
Labels: build

#12345 Feat/pci workflow listing
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/src/api/data/instance.ts
  packages/manager/apps/pci-workflow/src/api/data/region-workflow.ts
  packages/manager/apps/pci-workflow/src/api/data/regions.ts
  packages/manager/apps/pci-workflow/src/api/hooks/regions.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/components/actions.component.tsx
  packages/manager/apps/pci-workflow/src/components/execution-status.component.tsx
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
  packages/manager/apps/pci-workflow/src/routes.tsx
  yarn.lock
Labels: feature, translation required, dependencies, manager-components

#12346 feat(procedures.2fa): fixed overflowing file slot
  packages/manager/apps/procedures/src/components/FileInput/FileInputListItem.tsx
  packages/manager/apps/procedures/src/pages/Home.page.tsx
Labels: feature

#12361 fix(sign-up): waiting sign up before redirect to kyc
  packages/manager/apps/sign-up/src/form/form.controller.js
Labels: bug, quality check: ok, sign-up

#12306 fix(container): fixed update payment method popup alert
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
Labels: bug, quality check: ok, container

#12383 fix(pci-workflow): fix display when workflows's last executions is null
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
Labels: bug

#12384 chore: add `common` label on PRs
  .github/labeler.yml
Labels: continuous-integration, refactor

#12389 fix(dedicated.ip): fix destination configuration
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
Labels: bug, universe-bare-metal-cloud

#12381 feat(pci-workflow): add onboarding page
  packages/manager-components/.eslintrc.json
  packages/manager-components/src/components/index.ts
  packages/manager-components/src/components/redirection-guard/index.ts
  packages/manager-components/src/components/redirection-guard/redirection-guard.component.tsx
  packages/manager-components/src/components/redirection-guard/redirection-guard.spec.tsx
  packages/manager-components/src/hooks/pci-project-provider/index.ts
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
  packages/manager/apps/pci-workflow/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-workflow/src/pages/onboarding/onboarding.constants.ts
  packages/manager/apps/pci-workflow/src/routes.tsx
Labels: feature, translation required, manager-components

#12385 feat(pci-workflow): add delete modal
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/delete/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/global/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/src/api/data/instance.ts
  packages/manager/apps/pci-workflow/src/api/data/workflow.ts
  packages/manager/apps/pci-workflow/src/api/hooks/instance.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/components/DeleteWorkflowRedirect.tsx
  packages/manager/apps/pci-workflow/src/pages/delete/DeleteWorkflow.page.tsx
  packages/manager/apps/pci-workflow/src/routes.tsx
Labels: feature, translation required

#12359 feat(pci-workflow): add resource selector datagrid
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.spec.tsx
  packages/manager-components/src/components/datagrid/text-cell.component.tsx
  packages/manager-components/src/hooks/index.ts
  packages/manager-components/src/hooks/region/translations/Messages_de_DE.json
  packages/manager-components/src/hooks/region/translations/Messages_en_GB.json
  packages/manager-components/src/hooks/region/translations/Messages_es_ES.json
  packages/manager-components/src/hooks/region/translations/Messages_fr_CA.json
  packages/manager-components/src/hooks/region/translations/Messages_fr_FR.json
  packages/manager-components/src/hooks/region/translations/Messages_it_IT.json
  packages/manager-components/src/hooks/region/translations/Messages_pl_PL.json
  packages/manager-components/src/hooks/region/translations/Messages_pt_PT.json
  packages/manager-components/src/hooks/region/translations/index.ts
  packages/manager-components/src/hooks/region/useTranslatedMicroRegions.spec.tsx
  packages/manager-components/src/hooks/region/useTranslatedMicroRegions.tsx
  packages/manager/apps/pci-workflow/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/new/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/src/api/data/instance.ts
  packages/manager/apps/pci-workflow/src/api/hooks/useInstances.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/components/actions.component.tsx
  packages/manager/apps/pci-workflow/src/components/execution-status.component.tsx
  packages/manager/apps/pci-workflow/src/components/new/NotSupportedTooltip.component.tsx
  packages/manager/apps/pci-workflow/src/components/new/ResourceSelector.component.tsx
  packages/manager/apps/pci-workflow/src/components/new/Status.component.tsx
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
  packages/manager/apps/pci-workflow/src/type/index.ts
Labels: feature, translation required, manager-components

#12393 Revert "feat(dedicated.server): hide backup tab if not orderable"
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/server/server.component.js
  packages/manager/modules/bm-server-components/src/server/server.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12399 chore: match files in folders for `common` label
  .github/labeler.yml
Labels: continuous-integration, refactor

#12397 Release ipv6 fix
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.service.js
Labels: bug, universe-bare-metal-cloud

#12377 fix(pci): add free local zone banner US doc
  packages/manager/modules/pci/src/components/pci-free-local-zones-banner/constants.js
Labels: bug, quality check: ok, universe-public-cloud

#12407 fix(dedicated.ip): fix uniq ipv4 price
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
Labels: bug, universe-bare-metal-cloud

#12412 fix(manager-components): update tests for getMacroRegion
  packages/manager-components/src/hooks/region/useTranslatedMicroRegions.spec.tsx
Labels: bug, manager-components

#12416 fix(pci.k8s): keep lb subnet selected
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
Labels: bug, universe-public-cloud

#12411 test(pci-workflow): add tests for deletion modal
  packages/manager/apps/pci-workflow/src/layout.ts
  packages/manager/apps/pci-workflow/src/pages/delete/DeleteWorkflow.page.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/delete/DeleteWorkflow.page.tsx
  packages/manager/apps/pci-workflow/src/routes.tsx
  packages/manager/apps/pci-workflow/src/wrapperRenders.tsx
  packages/manager/apps/pci-workflow/vitest.config.js
Labels: feature

#12392 feat(pci-workflow): create workflow execution datagrid page
  packages/manager/apps/pci-workflow/public/translations/error/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/error/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/error/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/error/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/error/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/error/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/error/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/executions/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/src/api/data/instance.ts
  packages/manager/apps/pci-workflow/src/api/data/region-workflow.ts
  packages/manager/apps/pci-workflow/src/api/hooks/useExecutions.ts
  packages/manager/apps/pci-workflow/src/api/hooks/useInstances.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/components/actions.component.tsx
  packages/manager/apps/pci-workflow/src/helpers/index.ts
  packages/manager/apps/pci-workflow/src/index.css
  packages/manager/apps/pci-workflow/src/pages/executions/Executions.page.tsx
  packages/manager/apps/pci-workflow/src/pages/executions/useExecutionDatagridColumns.tsx
  packages/manager/apps/pci-workflow/src/pages/list/List.page.tsx
  packages/manager/apps/pci-workflow/src/routes.tsx
  yarn.lock
Labels: feature, translation required, dependencies

#12419 feat(pci.k8s): keep subnet UX the same
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/network-form.template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/components/network-form/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#12425 feat(dedicated.netapp): modify efs volume size
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/constant.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/edit-size/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/edit-size/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
Labels: feature, universe-bare-metal-cloud, translation required

#12408 feat(pci-workflow): workflow creation
  packages/manager-components/src/components/container/step/Step.component.tsx
  packages/manager-components/src/hooks/useCatalogPrice.ts
  packages/manager/apps/pci-workflow/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/order-price/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_pt_PT.json
  packages/manager/apps/pci-workflow/src/api/data/order.ts
  packages/manager/apps/pci-workflow/src/api/data/region-workflow.ts
  packages/manager/apps/pci-workflow/src/api/hooks/order.ts
  packages/manager/apps/pci-workflow/src/api/hooks/useInstances.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/components/new/ResourceSelector.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/New.page.tsx
  packages/manager/apps/pci-workflow/src/pages/new/components/CronHelper.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/components/CronInput.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/components/DowHelper.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/components/MonthHelper.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/components/PciNumberInput.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/components/PciTile.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/hooks/useStep.ts
  packages/manager/apps/pci-workflow/src/pages/new/hooks/useWorkflowStepper.ts
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowName.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowResource.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowScheduling.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowType.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/utils/cron-validator.ts
  packages/manager/apps/pci-workflow/src/routes.tsx
Labels: feature, manager-components

#12426 test(pci-workflow): add tests for onboarding and delete hook
  packages/manager/apps/pci-workflow/src/api/data/workflow.spec.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.spec.ts
  packages/manager/apps/pci-workflow/src/interface/index.ts
  packages/manager/apps/pci-workflow/src/pages/onboarding/OnBoarding.page.spec.tsx
  packages/manager/apps/pci-workflow/src/wrapperRenders.tsx
  packages/manager/apps/pci-workflow/vitest.config.js
Labels: feature

#12427 fix(web.hosting): improvement on delete git
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/removal/git-removal.html
Labels: bug, universe-web-cloud

#12317 fix(rancher): update software button inline
  packages/manager/apps/pci-rancher/src/pages/dashboard/updateSoftware/UpdateSoftware.component.tsx
Labels: bug, quality check: ok, universe-public-cloud

#12328 fix(pci.rancher): resolve text overflow
  packages/manager/apps/pci-rancher/src/components/LinkIcon/LinkIcon.tsx
  packages/manager/apps/pci-rancher/src/components/Table/LinkService.tsx
Labels: bug, quality check: ok, universe-public-cloud

#12168 feat(pci.rancher): update rancher creation info banner
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_de_DE.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required, universe-public-cloud

#12395 fix(web): fix typo on ongoing operation dashboard (#12129)
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain-operation/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud, translation required

#12379 feat(web): remove sql coming soon message
  packages/manager/apps/web/client/app/private-database/configuration/private-database-configuration.html
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-web-cloud

#11996 feat(signup): adjusted address completion message for in
  packages/manager/apps/sign-up/src/constants.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/apps/sign-up/src/form/translations/Messages_de_DE.json
  packages/manager/apps/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/apps/sign-up/src/form/translations/Messages_es_ES.json
  packages/manager/apps/sign-up/src/form/translations/Messages_fr_CA.json
  packages/manager/apps/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/apps/sign-up/src/form/translations/Messages_it_IT.json
  packages/manager/apps/sign-up/src/form/translations/Messages_pl_PL.json
  packages/manager/apps/sign-up/src/form/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/form/details/details.component.js
  packages/manager/modules/sign-up/src/form/details/details.html
Labels: quality check: ok, feature, sign-up

#12142 feat(sign-up): add purpose of purchase field on signupform
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/form/details/details.controller.js
  packages/manager/modules/sign-up/src/form/details/details.html
  packages/manager/modules/sign-up/src/form/details/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/details/translations/Messages_pt_PT.json
  packages/manager/modules/sign-up/src/form/form.constants.js
  packages/manager/modules/sign-up/src/form/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/form/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/form/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/form/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, sign-up, common

#12430 fix(pci-workflow): creation spinner
  packages/manager/apps/pci-workflow/src/pages/new/New.page.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowName.component.tsx
Labels: bug

#11394 SerialOverLan - Replace SSH keys dropdown by SSH key textarea
  packages/manager/modules/bm-server-components/src/ipmi/constants.js
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/bm-server-components/src/ipmi/index.js
  packages/manager/modules/bm-server-components/src/ipmi/service.js
  packages/manager/modules/bm-server-components/src/ipmi/sol/add/sol-add-ssh.controller.js
  packages/manager/modules/bm-server-components/src/ipmi/sol/add/sol-add-ssh.html
  packages/manager/modules/bm-server-components/src/ipmi/sol/add/sol-add-ssh.module.js
  packages/manager/modules/bm-server-components/src/ipmi/template.html
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pt_PT.json
Labels: quality check: ok, feature

#12434 fix(pci-workflow): translation and correct redirection
  packages/manager/apps/pci-workflow/src/pages/onboarding/OnBoarding.page.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/onboarding/OnBoarding.page.tsx
Labels: feature

#12447 docs: update README to display control panel image
  README.md
Labels: documentation

#12246 feat(container): pnr fixed left navigation improvement
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
Labels: feature, has conflicts, container

#12406 fix(*): define version in react apps for request header
  packages/manager-components/src/hooks/feature-availability/useFeatureAvailability.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/dedicated.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/telecom.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/web.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/container/context.ts
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/index.tsx
  packages/manager/core/shell-client/package.json
  packages/manager/core/shell-client/src/initShell.tsx
Labels: bug, container, manager-components, common

#12204 feat(container): improved dropdown of pci
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree.tsx
Labels: feature, container

#12467 feat(pci-kubernetes): init react apps
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/input/tiles/TilesInput.component.tsx
  packages/manager-components/src/components/input/tiles/components/SimpleTilesInput.component.tsx
  packages/manager-components/src/hooks/region/useTranslatedMicroRegions.tsx
  packages/manager/apps/pci-kubernetes/.eslintrc.cjs
  packages/manager/apps/pci-kubernetes/.gitignore
  packages/manager/apps/pci-kubernetes/README.md
  packages/manager/apps/pci-kubernetes/index.html
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/postcss.config.cjs
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/App.tsx
  packages/manager/apps/pci-kubernetes/src/components/common.module.css
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/core/HidePreloader.tsx
  packages/manager/apps/pci-kubernetes/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-kubernetes/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-kubernetes/src/index.css
  packages/manager/apps/pci-kubernetes/src/layout.ts
  packages/manager/apps/pci-kubernetes/src/main.tsx
  packages/manager/apps/pci-kubernetes/src/pages/Layout.tsx
  packages/manager/apps/pci-kubernetes/src/queryClient.ts
  packages/manager/apps/pci-kubernetes/src/routes.tsx
  packages/manager/apps/pci-kubernetes/src/setupTests.ts
  packages/manager/apps/pci-kubernetes/src/tracking.constants.ts
  packages/manager/apps/pci-kubernetes/src/vite-env.d.ts
  packages/manager/apps/pci-kubernetes/src/vite-hmr.ts
  packages/manager/apps/pci-kubernetes/src/wrapperRenders.tsx
  packages/manager/apps/pci-kubernetes/tailwind.config.js
  packages/manager/apps/pci-kubernetes/tsconfig.build.json
  packages/manager/apps/pci-kubernetes/tsconfig.json
  packages/manager/apps/pci-kubernetes/vite.config.ts
  packages/manager/apps/pci-kubernetes/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies, manager-components, common

#12437 fix(pci-block-storage): volume edition
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
Labels: bug, quality check: ok

#12457 fix(dedicated): resolve display condition issue
  packages/manager/modules/vrack/src/partials/mapped.html
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12473 fix(pci.instances): fix activate project from instance creation page
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
Labels: bug, quality check: ok, universe-public-cloud

#12481 docs: fix links and add icon
  .remarkrc
  docs/docs/index.md
Labels: documentation

#12474 feat(pci-kubernetes): add kubes listing with search and filters
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/data/network.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-kubernetes/src/components/listing/actions.component.tsx
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Labels: feature, translation required

#12390 fix(pci.instances): instance creation customer journey improvements v2
  packages/manager/modules/pci/src/components/project/instance/ssh-keys/ssh-keys.controller.js
  packages/manager/modules/pci/src/components/project/instance/ssh-keys/ssh-keys.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.less
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
Labels: bug, quality check: ok, translation required, universe-public-cloud

#12508 feat(procedures.2fa): completing unit tests code base
  packages/manager/apps/procedures/package.json
  packages/manager/apps/procedures/playwright.config.ts
  packages/manager/apps/procedures/src/components/FileInput/FileInput.tsx
  packages/manager/apps/procedures/src/pages/Home.page.test.tsx
  packages/manager/apps/procedures/src/pages/Home.page.tsx
  packages/manager/apps/procedures/src/pages/create/form/Form.page.test.tsx
  packages/manager/apps/procedures/src/pages/create/form/Form.page.tsx
  packages/manager/apps/procedures/src/pages/create/form/FormDocumentFields/FormDocumentFieldItem.tsx
  packages/manager/apps/procedures/src/pages/create/form/FormDocumentFields/FormDocumentFieldList.tsx
  packages/manager/apps/procedures/src/setupTests.ts
  packages/manager/apps/procedures/vitest.config.js
Labels: feature

#12455 feat(hpc-vmware-managed-vcd): add vDatacenter listing page
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Region/RegionLabel.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentres/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/datagrid-route.type.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-datacenter.interface.ts
Labels: feature, translation required

#12491 feat(pci-kubernetes): add cluster detail layout with tabs
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/detail/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Logs.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/restrictions/Restrictions.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Labels: feature, translation required

#12495 feat(pci-kubernetes): add cluster infos tile
  packages/manager/apps/pci-kubernetes/public/translations/kubernetes/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/information/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/information/ClusterStatus.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Labels: feature, translation required

#12506 feat(pci-kubernetes): add reset config modal and fix pattern input
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/reset-kubeconfig/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/ResetKubeConfigContent.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetKubeConfig.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Labels: feature, translation required

#12382 Fix(pci-databases analytics): check user inactivity for polling
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/wrappers/QueryClientWrapper.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/wrappers/RouterWithQueryClientWrapper.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/hooks/useUserActivity.test.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/polling.ts
  packages/manager/apps/pci-databases-analytics/src/contexts/userActivityContext.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/advancedConfiguration.api.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/availabilities.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/backups.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/catalog.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/certificates.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/connectionPool.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/databases.api.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/guides.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/integrations.api.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/logs.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/maintenances.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/metrics.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/namespaces.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/network.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/pciProjects.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/queries.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/services.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/useImmediateRefetch.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/users.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useUserActivity.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/serviceTabs.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/_components/maintenance.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/databases/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/integrations/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/_components/metricChart.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/pools/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/queries/_components/currentQueries.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/index.tsx
  packages/manager/apps/pci-databases-analytics/src/routes.tsx
Labels: bug

#12524 fix(procedures.2fa): added a fallback to i18n for unhandled language
  packages/manager/apps/procedures/src/App.tsx
  packages/manager/apps/procedures/src/i18n.ts
Labels: bug

#12364 chore: allow search on project list after yarn start
  package.json
  scripts/start-application.js
  yarn.lock
Labels: feature, build, dependencies

#12526 feat(pci-kubertes): add modal to update policy
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetKubeConfig.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Labels: feature

#12496 fix(web.dns): fix load controller for dns standalone
  packages/manager/apps/web/client/app/dns-zone/redirection/dns-zone-redirection.routing.js
  packages/manager/apps/web/client/app/dns-zone/redirection/index.js
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/dns-zone/redirection/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/dns-zone/zone/zone.module.js
  packages/manager/apps/web/client/app/domain/redirection/domain-redirection.state.js
Labels: bug, quality check: ok, universe-web-cloud

#12539 fix(pci.instances): fix instance creation with windows image
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#12315 feat(dedicated.pcc): add Managed VCD migration
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/pccMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vcdMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/order/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/vmware-cloud-director/order/routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/vmware-cloud-director/order/routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Labels: quality check, feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#12543 feat(pci.file-storage): onboarding page
  packages/manager/apps/pci-file-storage/src/hooks/useGuideUtils.tsx
  packages/manager/apps/pci-file-storage/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-file-storage/src/pages/onboarding/onboarding-img.png
  packages/manager/apps/pci-file-storage/src/public/translations/pci-file-storage/onboarding/Messages_fr_FR.json
Labels: feature

#12541 feat(pci-kubernetes): add modal to update version
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/UpdateVersionContent.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Labels: feature, translation required

#12528 feat(dedicated.hpc): add VCD guide link
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: feature, universe-bare-metal-cloud, translation required

#12550 fix(dedicated.pcc): fix api call to get VCD migration status
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: bug, universe-bare-metal-cloud

#12556 feat(manager-components): update onboarding component in µapp
  packages/manager/apps/pci-block-storage/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-gateway/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-private-network/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-users/src/pages/onboarding/OnBoardingPage.tsx
  packages/manager/apps/zimbra/src/pages/onboarding/index.tsx
Labels: feature, universe-web-cloud, universe-public-cloud

#12554 feat(pci-kubernetes): add terminate modal
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/reset/ResetKubeConfigContent.tsx
  packages/manager/apps/pci-kubernetes/src/components/update/UpdateVersionContent.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetKubeConfig.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Labels: feature

#12564 feat(pci-kubernetes): add version selector
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/VersionSelector.component.tsx
Labels: feature

#12544 feat(manager-components): update config onboarding
  packages/manager-components/src/components/navigation/card/card.component.tsx
  packages/manager-components/src/components/navigation/card/card.spec.tsx
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
Labels: feature, manager-components, common
