Repository ovh/manager, pull requests merged in 2024-06, with the labels that each got.

#11783 feat(telecom): add softphone theme on dashboard
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billingAccount.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
Labels: feature, universe-telecom, translation required

#11856 feat(pci): update logs-to-customer to 2.0.0
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.constant.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/audit-logs.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/list/list.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/audit-logs/translations/Messages_fr_FR.json
  yarn.lock
Labels: feature, translation required, dependencies, universe-public-cloud

#11852 feat(container): left top navigation improvement
  packages/manager-components/package.json
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/template.module.scss
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/vrack-services/package.json
  yarn.lock
Labels: feature, translation required, dependencies, container

#11878 Revert "fix(*): remove useless account migration module (#11592)"
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/telecom/src/index.html
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/index.html
  packages/manager/apps/web/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/index.js
  packages/manager/modules/pci/src/projects/creating/index.html
  packages/manager/modules/pci/src/projects/new/index.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/projects.html
  packages/manager/modules/pci/src/projects/updating/index.html
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, universe-public-cloud

#11872 fix(pci-gateway): add tracking
  packages/manager/apps/pci-gateway/src/pages/add/AddGateway.page.tsx
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
  packages/manager/apps/pci-gateway/src/pages/add/SizeStep.tsx
  packages/manager/apps/pci-gateway/src/pages/delete/DeleteGateway.page.tsx
  packages/manager/apps/pci-gateway/src/pages/delete/DeleteGateway.spec.tsx
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
  packages/manager/apps/pci-gateway/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-gateway/src/tracking.constants.ts
Labels: bug, universe-public-cloud

#11866 feat(pci-gateway): refresh when update gateway and center spinner
  packages/manager/apps/pci-gateway/src/api/data/gateways.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useGateways.ts
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
  packages/manager/apps/pci-gateway/src/pages/edit/EditGateway.page.tsx
  packages/manager/apps/pci-gateway/src/pages/edit/SizeLabel.component.tsx
Labels: feature, universe-public-cloud

#11882 fix(pci-gateway): remove quote tracking label
  packages/manager/apps/pci-gateway/src/pages/delete/DeleteGateway.page.tsx
Labels: bug, translation required, dependencies, universe-public-cloud, manager-components

#11869 feat(zimbra): correcting filter domain label
  packages/manager/apps/zimbra/src/components/LabelChip.tsx
Labels: feature, universe-web-cloud

#11877 feat(pci-databases-analytics): tracking base
  packages/manager/apps/pci-databases-analytics/src/__tests__/components/breadcrumb.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/components/errorBoundary.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/wrappers/RouterWithQueryClientWrapper.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/home.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/backups/backups.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/dashboard/dashboard.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/databases/databases.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/integrations/integrations.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/metrics/metrics.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/namespaces/namespaces.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/pools/pools.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/queries/queries.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/settings/advancedConfiguration.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/settings/ipsRestrictionsUpdate.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/settings/maintenances.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/settings/serviceConfiguration.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/settings/settings.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/settings/updateTable.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/users/addUser.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/users/deleteUser.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/users/resetPassword.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/users/updateUser.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/service/users/users.test.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/pages/services/services.test.tsx
  packages/manager/apps/pci-databases-analytics/src/components/guides.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/tracking.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/useTracking.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/deleteService.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/renameService.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboarding.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListTable.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/index.tsx
Labels: feature

#11838 feat(rancher): update api route for version and plan
  packages/manager/apps/pci-rancher/src/api/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
Labels: feature, universe-public-cloud

#11890 fix(pci-gateway): subnet not changing when creating a gateway
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
Labels: bug, universe-public-cloud

#11711 feat(component): level up versionning adyen
  packages/components/ng-ovh-payment-method/package.json
  yarn.lock
Labels: feature, dependencies

#11879 fix(iam): fix user group modal title
  packages/manager/modules/iam/src/dashboard/users/groups/add/users-groups-add.html
Labels: feature

#11804 feat(zimbra): add delete modal organization
  packages/manager/apps/zimbra/public/translations/organisations/delete/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/DELETE/apiv2/services.ts
  packages/manager/apps/zimbra/src/components/Modals/Modal.tsx
  packages/manager/apps/zimbra/src/components/TileBlock.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/TabsPanel.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/GeneralInformation.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/OngoingTasks.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ActionButtonOrganization.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ModalDeleteOrganization.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/convertOctets.ts
  packages/manager/apps/zimbra/src/utils/index.ts
Labels: feature, universe-web-cloud, translation required

#11905 fix(pci-gateway): remove iteration limit on operation polling
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
  packages/manager/apps/pci-gateway/src/pages/delete/DeleteGateway.page.tsx
Labels: bug, universe-public-cloud

#11899 feat(pci-databases-analytics): change redis name
  packages/manager/apps/pci-databases-analytics/src/__tests__/lib/engineNameHelper.test.tsx
  packages/manager/apps/pci-databases-analytics/src/lib/engineNameHelper.ts
  packages/manager/apps/pci-databases-analytics/src/pages/_components/legalMentions.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/index.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/Messages_fr_FR.json
Labels: feature, translation required

#11916 feat: rework onboarding page
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboarding.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboardingTile.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/onboarding/Messages_fr_FR.json
Labels: feature, translation required

#11795 feat(telecom.pack): add multi otp choice on move and migrate
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/building-details/migration-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/building-details/move-building-details.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.constant.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: quality check: ok, universe-telecom

#11908 feat(dedicated.ipv6): add indent to ipv6 subnet lines
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Labels: feature, universe-bare-metal-cloud

#11901 fix(container): replace counter on panel lvl by a dot
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
Labels: bug, container

#11889 feat(container): feature flipping pnr
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
Labels: feature, container

#11898 feat(telecom): add line configuration modal
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#11933 feat(zimbra): add modal new and edit organisation
  packages/manager/apps/zimbra/public/translations/organisations/addAndEdit/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/DELETE/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/GET/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/POST/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/PUT/apiv2/services.ts
  packages/manager/apps/zimbra/src/api/api.type.ts
  packages/manager/apps/zimbra/src/api/index.ts
  packages/manager/apps/zimbra/src/hooks/useOrganization.ts
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation/GeneralInformation.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ActionButtonOrganization.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ModalAddAndEditOrganization.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ModalDeleteOrganization.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Labels: feature, universe-web-cloud, translation required

#11927 feat(pci-block-storage): init react app
  jest.config.js
  packages/manager-components/src/hooks/pci-project-provider/index.ts
  packages/manager/apps/catalog/src/utils/trackingError.ts
  packages/manager/apps/pci-block-storage/.eslintrc.cjs
  packages/manager/apps/pci-block-storage/.gitignore
  packages/manager/apps/pci-block-storage/README.md
  packages/manager/apps/pci-block-storage/index.html
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-block-storage/postcss.config.cjs
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/App.tsx
  packages/manager/apps/pci-block-storage/src/components/common.module.css
  packages/manager/apps/pci-block-storage/src/constants.ts
  packages/manager/apps/pci-block-storage/src/core/HidePreloader.tsx
  packages/manager/apps/pci-block-storage/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-block-storage/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-block-storage/src/index.css
  packages/manager/apps/pci-block-storage/src/interface/index.ts
  packages/manager/apps/pci-block-storage/src/layout.ts
  packages/manager/apps/pci-block-storage/src/main.tsx
  packages/manager/apps/pci-block-storage/src/pages/Layout.tsx
  packages/manager/apps/pci-block-storage/src/queryClient.ts
  packages/manager/apps/pci-block-storage/src/routes.tsx
  packages/manager/apps/pci-block-storage/src/setupTests.ts
  packages/manager/apps/pci-block-storage/src/tracking.constants.ts
  packages/manager/apps/pci-block-storage/src/vite-env.d.ts
  packages/manager/apps/pci-block-storage/src/vite-hmr.ts
  packages/manager/apps/pci-block-storage/tailwind.config.js
  packages/manager/apps/pci-block-storage/tsconfig.build.json
  packages/manager/apps/pci-block-storage/tsconfig.json
  packages/manager/apps/pci-block-storage/vite.config.ts
  packages/manager/apps/pci-block-storage/vitest.config.js
  yarn.lock
Labels: feature, translation required, dependencies, manager-components

#11946 fix(ci): build only core api folder
  .github/workflows/gh-pages.yaml
Labels: bug, continuous-integration, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, universe-public-cloud

#11931 feat(*): logs-to-customer add beta status
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#11940 feat(pci-block-storage): delete volume
  packages/manager/apps/pci-block-storage/public/translations/delete/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/delete/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/delete/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/delete/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/delete/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/delete/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/data/volume.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.ts
  packages/manager/apps/pci-block-storage/src/pages/delete/DeleteConstraintWarningMessage.tsx
  packages/manager/apps/pci-block-storage/src/pages/delete/DeleteStorage.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/delete/DeleteWarningMessage.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
  packages/manager/apps/pci-block-storage/src/routes.tsx
Labels: feature, translation required

#11963 build(*): add required deps in µ-apps
  packages/manager/apps/iplb/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/overthebox/package.json
Labels: build, universe-bare-metal-cloud, universe-telecom, universe-hosted-private-cloud

#11751 feat(container): pnr guide tour mvp
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/index.tsx
  packages/manager/apps/container/src/container/common/pnr-beta-modal/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/introduction.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/core/onboarding/useOnboarding.ts
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_fr_FR.json
Labels: feature, translation required, container

#11969 fix(config): add missing country code
  packages/manager/modules/config/src/locale/country-code.enum.ts
Labels: bug

#11970 fix(pci-private-network): fix data fetching, refactoring
  packages/manager/apps/pci-private-network/src/api/data/network.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/components/maintenance/useMaintenance.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
  packages/manager/apps/pci-private-network/src/pages/new/store.ts
Labels: bug, universe-public-cloud

#11962 feat(dedicated.netapp): wip revert to snapshot if type is manual
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/constants.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/template.html
Labels: feature, universe-bare-metal-cloud

#11978 test(pci-private-network): hooks
  packages/manager/apps/pci-private-network/src/api/hooks/useCloud.spec.tsx
  packages/manager/apps/pci-private-network/src/api/hooks/useGateway.spec.tsx
  packages/manager/apps/pci-private-network/src/api/hooks/useProductAvailability.spec.tsx
Labels: universe-public-cloud

#11911 feat(octavia-load-balancer): add logs-to-customer feature flipping
  packages/manager/apps/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/logs/logs.routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/template.html
  packages/manager/modules/octavia-load-balancer/src/octavia-load-balancer.module.js
Labels: feature, universe-public-cloud

#11977 build(nutanix): add missing dep
  packages/manager/apps/nutanix/package.json
Labels: build, universe-hosted-private-cloud

#11980 Feat/fix terminate tooltip kms
  packages/manager/apps/key-management-service/src/api/hooks/useTerminateOKms.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/pages/listing/TerminateKms.tsx
  packages/manager/apps/key-management-service/src/public/translations/key-management-service/dashboard/Messages_fr_FR.json
Labels: feature, translation required, enabler

#11706 feat(pack): add gtr default value for migration offer
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
Labels: quality check: ok, universe-telecom

#11763 feat(dedicated): add dedicated cta for cluster
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11773 feat(nasha): add guide links on dashbaord
  packages/manager/modules/nasha/src/dashboard/dashboard.constants.js
  packages/manager/modules/nasha/src/dashboard/dashboard.controller.js
  packages/manager/modules/nasha/src/dashboard/dashboard.template.html
  packages/manager/modules/nasha/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#11875 feat(overthebox): remove hardware version and change label
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
Labels: quality check: ok, universe-telecom, translation required

#11761 feat(dedicated.nutanix): add nutanix in sidebar order
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/order.constants.ts
Labels: quality check, feature, container

#11951 feat(dedicated): add information for ordering delay
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.html
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#11984 Feat/manager 14242
  packages/manager/apps/container/src/container/legacy/server-sidebar/SidebarItemRenderer.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-sidebar.module.scss
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: feature, translation required, container

#12003 test(pci-private-network): add test for regions component and network
  packages/manager/apps/pci-private-network/src/api/data/network.spec.ts
  packages/manager/apps/pci-private-network/src/api/hooks/useRegions.spec.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DataGridNoresults.spec.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.spec.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridBodyRow.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/DatagridHeader.spec.tsx
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegionsDatagrid.spec.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/DeleteAction.component.spec.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/DeleteAction.component.tsx
Labels: universe-public-cloud

#11958 feat(telecom): add softphone configuration
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#12005 fix(pci-private-network): add target blank
  packages/manager/apps/pci-private-network/src/pages/new/steps/RegionTile.tsx
Labels: bug, universe-public-cloud

#12004 fix(pci-private-network): add space between link and text
  packages/manager/apps/catalog/src/utils/trackingError.ts
  packages/manager/apps/pci-private-network/src/pages/new/steps/RegionTile.tsx
Labels: bug, universe-public-cloud

#12014 feat(dedicated.netapp): manage hold and revert automatic snapshots
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/constants.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#12009 feat: change redis name for angularjs app (#11939)
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/fork.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.html
  packages/manager/modules/pci/src/projects/project/storages/databases/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#12023 feat(dedicated.netapp): change some fr contents
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#12016 fix(pci-private-network): correct back href on create page
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
Labels: bug, universe-public-cloud

#12006 Fix/pci private network disable submit
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/GatewaySummaryStep.tsx
Labels: bug, translation required, dependencies, universe-public-cloud, manager-components

#12020 feat(2fa): adjusting user data retrieval
  packages/manager/apps/procedures/src/App.tsx
  packages/manager/apps/procedures/src/index.tsx
Labels: feature

#12030 feat(dedicated.netapp): manage volume with only system snap
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/restore/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#12013 fix(pci-private-network): missing network name message
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
Labels: bug, universe-public-cloud

#12017 fix(pci-private-network): gateway form reset
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
Labels: bug, universe-public-cloud

#12026 fix(pci-private-network): subnet region
  packages/manager/apps/pci-private-network/src/api/hooks/useNetwork.ts
Labels: bug, universe-public-cloud

#12028 fix(pci-private-network): display error message from API
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
Labels: bug, universe-public-cloud

#12033 fix(pci-private-network): delete comma on DHCP col
  packages/manager/apps/pci-private-network/src/hooks/useDatagridColumn.tsx
Labels: bug, universe-public-cloud

#12031 fix(pci-private-network): region & error message
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/LocalizationStep.tsx
Labels: bug, universe-public-cloud

#12018 fix(pci-private-network): clear notification when switch page
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/GatewaySummaryStep.tsx
Labels: bug, universe-public-cloud

#11859 fix(i18n): add missing translations [CDS 3038]
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
Labels: bug, universe-bare-metal-cloud

#11668 feat(rancher): use component from manager component
  packages/manager-components/src/components/templates/dashboard/dashboard.component.tsx
  packages/manager-components/src/components/templates/index.ts
  packages/manager-components/src/components/templates/layout/layout.component.tsx
  packages/manager-components/src/components/typography/title/title.component.tsx
  packages/manager/apps/pci-rancher/src/components/PageLayout/PageLayout.tsx
  packages/manager/apps/pci-rancher/src/components/Title/Title.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/hooks/useActivatePciProjectURL.ts
  packages/manager/apps/pci-rancher/src/pages/create/index.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
Labels: feature, universe-public-cloud, manager-components

#12040 fix(pci-gateway): prefill region & network
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
Labels: bug, universe-public-cloud

#12041 fix(pci-private-network): add Suspense for GatewaySummary
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
Labels: bug, universe-public-cloud

#12059 fix(pci-private-network): configurevlandId
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
Labels: bug, universe-public-cloud

#12056 fix(pci-private-network): missing trad
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
Labels: bug, universe-public-cloud

#12051 fix(pci-private-network): query invalidation after creation
  packages/manager/apps/pci-private-network/src/pages/new/store.ts
Labels: bug, universe-public-cloud

#12068 fix(pci-private-network): network creation form reset
  packages/manager/apps/pci-private-network/src/components/global-regions/GlobalRegions.component.tsx
  packages/manager/apps/pci-private-network/src/components/local-zones/LocalZone.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
  packages/manager/apps/pci-private-network/src/pages/new/steps/ConfigurationStep.tsx
Labels: bug, universe-public-cloud

#12055 feat(dedicated.ip): get game protocol from api
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/game-firewall.routing.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12081 feat(hub): vrack service tile title
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Labels: feature, translation required, universe-hub

#12082 fix(config): add missing country code
  packages/manager/modules/config/src/locale/country-code.enum.ts
Labels: bug

#12034 fix: remove useless test import on manager components
  packages/manager-components/package.json
  packages/manager-components/src/components/ManagerButton/ManagerButton.spec.tsx
  packages/manager-components/src/components/ManagerText/ManagerText.spec.tsx
  packages/manager-components/src/components/action-banner/action-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.spec.tsx
  packages/manager-components/src/components/content/headers/headers.spec.tsx
  packages/manager-components/src/components/content/price/price.spec.tsx
  packages/manager-components/src/components/filters/filter-add.spec.tsx
  packages/manager-components/src/components/filters/filter-list.spec.tsx
  packages/manager-components/src/components/guides-header/guides-header.component.spec.tsx
  packages/manager-components/src/components/navigation/menus/action/action.spec.tsx
  packages/manager-components/src/components/table/table.spec.tsx
  packages/manager-components/src/components/templates/dashboard/dashboard.spec.tsx
  packages/manager-components/src/components/templates/onboarding/onboarding.spec.tsx
  packages/manager-components/src/components/typography/description/description.spec.tsx
  packages/manager-components/src/components/typography/links/links.spec.tsx
  packages/manager-components/src/tailwind/theme.css
  packages/manager-components/src/utils/test.provider.tsx
Labels: bug, manager-components

#11848 feat(pci): add region label for toronto
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.constants.js
  packages/manager/apps/pci-users/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/region/constants.js
  packages/manager/modules/manager-components/src/region/service.js
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/components/metrics/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required, universe-public-cloud

#11814 feat(pci-rancher): name input improvement
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_de_DE.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#11524 feat(web): add offers banner
  packages/manager/apps/web/client/app/configuration/configuration.component.js
  packages/manager/apps/web/client/app/configuration/configuration.constants.js
  packages/manager/apps/web/client/app/configuration/configuration.controller.js
  packages/manager/apps/web/client/app/configuration/configuration.html
  packages/manager/apps/web/client/app/configuration/configuration.routes.js
  packages/manager/apps/web/client/app/core/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/core/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/core/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/core/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/core/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/assets/images/banner/banner_offers.png
Labels: quality check: ok, feature, universe-web-cloud

#11615 feat(dedicated): limit keyvalue items and add tooltip to inputs
  packages/manager/modules/bm-server-components/src/general-information/inputs/constants.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/template.html
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pt_PT.json
Labels: quality check: ok, feature

#11930 fix(dedicated.account): update core config user after account update
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/modules/core/src/config/config.provider.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12011 feat(dedicated.dbaas): fix ldp order redirection for us (#11925)
  packages/manager/modules/cloud-universe-components/src/helper/order/service.js
Labels: quality check: ok, feature

#11864 fix(dedicated): replace old windows rescue name by the new one
  packages/manager/modules/bm-server-components/src/netboot/constants.js
Labels: bug, quality check: ok

#11997 feat(dedicated.nutanix): us onboarding guide link
  packages/manager/modules/nutanix/src/onboarding/constants.js
Labels: quality check: ok, feature, universe-hosted-private-cloud

#11892 feat(dedicated): add button to buy domain in vps dashboard
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/vps/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/vps/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/vps/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/vps/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/vps/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/vps/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11732 feat(web): Remove glue tab if hostSupported is false
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
Labels: quality check: ok, feature, universe-web-cloud

#12001 fix(dedicated): disable view service details for byoip
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/models/BillingService/BillingService.class.js
  packages/manager/modules/models/BillingService/billing-service.constants.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11913 fix(i18n): add missing translations [CDS 3051]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_pl_PL.json
Labels: bug, quality check: ok, universe-bare-metal-cloud

#11924 fix(container): hide preloader when mfa enrollment is displayed
  packages/manager/apps/container/src/container/legacy/index.tsx
Labels: bug, quality check: ok, container

#11904 fix(dedicated.support): untranslated keys in ticket creation
  packages/components/ng-ovh-otrs/src/otrs-popup/otrs-popup.constant.js
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_de_DE.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_en_GB.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_es_ES.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_fr_CA.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_fr_FR.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_it_IT.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_pl_PL.json
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#12057 fix(*): fix log to customer superseded css for oui-datagrid
  packages/manager/modules/log-to-customer/src/list/index.js
  packages/manager/modules/log-to-customer/src/list/index.less
Labels: bug, quality check: ok, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, dependencies, universe-hub, universe-public-cloud, has conflicts, container, sign-up, manager-components, enabler

#11736 feat(pci-rancher): onboarding page redirect user to guides
  packages/manager-components/src/enumTypes/locale.tsx
  packages/manager/apps/pci-rancher/src/components/GuideLink/guide-utils.tsx
  packages/manager/apps/pci-rancher/src/components/GuideLink/index.ts
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_fr_FR.json
  yarn.lock
Labels: quality check: ok, feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, dependencies, universe-hub, universe-public-cloud, container, sign-up, manager-components, enabler

#10732 feat(container): add payment method warning popup
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
  packages/manager/apps/container/src/payment-modal/constants.ts
  packages/manager/apps/container/src/payment-modal/styles.scss
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/payment-modal/Messages_pt_PT.json
Labels: quality check: ok, feature, container

#11646 fix(coldarchive): breaking change of API for coldarchive
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
Labels: universe-public-cloud, stale

#11994 fix(telecom): french mistakes
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-telecom

#12010 feat(pci): add lz under right continent (#11746)
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, translation required, universe-public-cloud

#11502 feat(dedicated.account): update insurance msg after uploaded In id doc
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12097 ci: add manager-components issue templates
  .github/ISSUE_TEMPLATE/manager_components_bug_report.yml
  .github/ISSUE_TEMPLATE/manager_components_feature_request.yml
Labels: continuous-integration

#12098 ci: fix manager-components issue templates
  .github/ISSUE_TEMPLATE/manager_components_bug_report.yml
  .github/ISSUE_TEMPLATE/manager_components_feature_request.yml
Labels: continuous-integration

#12061 feat(hub): delete a warning pop up on manager dashboard
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/modules/hub/src/components/carousel/carousel.component.js
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/carousel.scss
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/carousel/translations/Messages_de_DE.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_it_IT.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/index.js
Labels: feature, translation required, universe-hub

#12100 Revert "feat(hub): delete a warning pop up on manager dashboard"
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/modules/hub/src/components/carousel/carousel.component.js
  packages/manager/modules/hub/src/components/carousel/carousel.controller.js
  packages/manager/modules/hub/src/components/carousel/carousel.html
  packages/manager/modules/hub/src/components/carousel/carousel.scss
  packages/manager/modules/hub/src/components/carousel/index.js
  packages/manager/modules/hub/src/components/carousel/translations/Messages_de_DE.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_it_IT.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/carousel/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/index.js
Labels: translation required, universe-hub

#12106 ci: update CONTRIBUTORS and CODEOWNERS
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/manager_components_feature_request.yml
  CONTRIBUTORS
Labels: continuous-integration, documentation

#11959 feat(pci-block-storage): attach/detach instance
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/attach/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/public/translations/detach/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/detach/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/detach/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/detach/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/detach/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/detach/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/detach/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/data/instance.ts
  packages/manager/apps/pci-block-storage/src/api/data/volume.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.ts
  packages/manager/apps/pci-block-storage/src/pages/attach/AttachStorage.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/delete/DeleteStorage.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/detach/DetachStorage.page.tsx
  packages/manager/apps/pci-block-storage/src/routes.tsx
Labels: feature, translation required

#12113 fix(i18n): add missing translations [CDS 3108]
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/onboarding/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#12112 fix(*): fix onboarding layout in manager component and kms
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager/apps/key-management-service/src/pages/onboarding/index.tsx
Labels: bug, quality check: ok, manager-components, enabler

#12096 fix(dedicated): fixed lint error on kyc fraud
  packages/manager/apps/dedicated/client/app/account/kyc-documents/dashboard/routing.js
Labels: bug, universe-bare-metal-cloud

#12094 feat(dedicated): add beta tag on ipv6 order page
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#12095 feat(dedicated): add reverse to ipv6 on listing page
  packages/manager/apps/dedicated/client/app/ip/components/list/block/description/edit/ip-ip-block-description-edit.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/ip/ip-ip.service.js
Labels: feature, universe-bare-metal-cloud

#12120 feat(procedures.2fa): fixed challenge invisible error redirection
  packages/manager/apps/procedures/src/data/api/statusApi.ts
  packages/manager/apps/procedures/src/data/invisible-challenge.interceptor.ts
Labels: feature

#12124 feat(account-disable-2fa): add loading spinner
  packages/manager/apps/procedures/src/components/Loading/Loading.tsx
  packages/manager/apps/procedures/src/pages/Home.page.tsx
Labels: feature

#12138 feat(account-disable-2fa): add max files tooltip to field other
  packages/manager/apps/procedures/src/components/FileInput/FileInput.tsx
  packages/manager/apps/procedures/src/pages/create/form/FormDocumentFields/FormDocumentFieldItem.tsx
  packages/manager/apps/procedures/src/pages/create/form/FormDocumentFields/FormDocumentFieldList.tsx
  packages/manager/apps/procedures/src/pages/create/form/FormDocumentFields/documentFieldsConfiguration.json
  packages/manager/apps/procedures/src/pages/create/form/FormDocumentFields/formDocumentFieldValidation.constants.ts
  packages/manager/apps/procedures/src/public/translations/account-disable-2fa-documents/Messages_fr_FR.json
Labels: feature, translation required

#12136 feat(procedures.2fa): fixed request refetch on tab focus
  packages/manager/apps/procedures/src/query.client.ts
Labels: feature

#12137 fix(container): fix issue with kms menu entry in pci menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
Labels: bug, container

#12109 Feat/dtcore 2331
  packages/manager/apps/pci-block-storage/src/hooks/useAnnouncementBanner.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
Labels: feature

#12118 feat(web): add git configuration page
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.component.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.routing.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.service.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/index.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.module.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#12088 feat(dedicated.server): improve load time
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#12135 feat(web): ssh key generation messages
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.html
  packages/manager/apps/web/client/app/hosting/multisite/git-association/hosting-multisite-git-association.service.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#12067 feat(conatiner): load listing page onclick of parent item
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
Labels: quality check: ok, feature, container

#11350 fix(pci.kube): fix disappearing version step next button
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#11722 fix(dedicated): add missing translations for multi-AZ cluster servers
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#12060 feat(dedicated): modify aggregate configuration content
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11953 feat(dedicated.support): add order support level
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.controller.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#11974 feat(telecom): add ont shipping address on move and migrate steps
  packages/manager/apps/telecom/src/app/telecom/pack/migration/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/ont-shipping/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/ont-shipping/pack-migration-ont-shipping.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/ont-shipping/pack-migration-ont-shipping.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/ont-shipping/pack-migration-ont-shipping.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/ont-shipping/pack-migration-ont-shipping.service.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/service-delete/pack-migration-service-delete.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/ont-shipping/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/ont-shipping/move-ont-shipping.component.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/ont-shipping/move-ont-shipping.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/ont-shipping/move-ont-shipping.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/ont-shipping/move-ont-shipping.service.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.constant.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Labels: quality check: ok, universe-telecom

#12073 feat: update pci menu to support bff for db react app
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: feature, translation required, dependencies, universe-public-cloud, container

#12152 fix(dedicated.server): dont call orderable endpoint if not orderable
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/modules/bm-server-components/src/consumption-tile/traffic/traffic-order.service.js
  packages/manager/modules/bm-server-components/src/server/server.bandwidth-vrack-order.service.js
  packages/manager/modules/bm-server-components/src/server/server.controller.js
  packages/manager/modules/bm-server-components/src/server/server.service.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#12170 fix(kms): fix loading screen on firefox
  packages/manager/apps/key-management-service/src/App.tsx
Labels: bug, quality check: ok, enabler
