Repository ovh/manager, pull requests merged in 2025-01, with the labels that each got.

#14753 fix(web.domain): add tracking on contact management
  packages/manager/apps/web/client/app/domain/contact/contact.constants.js
  packages/manager/apps/web/client/app/domain/contact/contact.controller.js
  packages/manager/apps/web/client/app/domain/contact/contact.html
  packages/manager/apps/web/client/app/domain/contact/contact.routing.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.constants.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.controller.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.html
  packages/manager/apps/web/client/app/domain/contact/edit/edit.routing.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.html
  packages/manager/apps/web/client/app/domain/general-informations/general-information.constants.js
Labels: bug, universe-web-cloud

#14723 feat(common): added changelog icons
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/cloud_changelog.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/hosting_changelog.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/icons.tsx
  packages/manager/core/ovh-product-icons/icons/containerIcons.ts
  packages/manager/core/ovh-product-icons/utils/OvhProductNameEnum.ts
Labels: feature, common

#14690 fix(i18n): add missing translations [CDS 3575]
  packages/manager/modules/cloud-universe-components/src/helper/translations/Messages_de_DE.json
  packages/manager/modules/cloud-universe-components/src/helper/translations/Messages_fr_CA.json
Labels: bug, common

#14362 feat(web.email-domaine): add dkim feature
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/email-domain/src/general-informations/dkim/email-domain-dkim.component.js
  packages/manager/modules/email-domain/src/general-informations/dkim/email-domain-dkim.constants.js
  packages/manager/modules/email-domain/src/general-informations/dkim/email-domain-dkim.controller.js
  packages/manager/modules/email-domain/src/general-informations/dkim/email-domain-dkim.html
  packages/manager/modules/email-domain/src/general-informations/dkim/email-domain-dkim.module.js
  packages/manager/modules/email-domain/src/general-informations/dkim/email-domain-dkim.routes.js
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_de_DE.json
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_en_GB.json
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_es_ES.json
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_fr_CA.json
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_fr_FR.json
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_it_IT.json
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_pl_PL.json
  packages/manager/modules/email-domain/src/general-informations/dkim/translations/Messages_pt_PT.json
  packages/manager/modules/email-domain/src/general-informations/email-domain-general-informations.controller.js
  packages/manager/modules/email-domain/src/general-informations/email-domain-general-informations.html
  packages/manager/modules/email-domain/src/general-informations/information.module.js
  packages/manager/modules/web-universe-components/src/email-domain/email-domain.service.js
Labels: quality check: ok, feature, universe-web-cloud, common

#14626 fix(zimbra): lowercase email address
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.page.tsx
Labels: bug, quality check: ok, universe-web-cloud

#14679 fix(zimbra): load all available data when needed
  packages/manager/apps/zimbra/src/api/account/api.ts
  packages/manager/apps/zimbra/src/api/account/key.ts
  packages/manager/apps/zimbra/src/api/domain/api.ts
  packages/manager/apps/zimbra/src/api/domain/key.ts
  packages/manager/apps/zimbra/src/api/organization/api.ts
  packages/manager/apps/zimbra/src/api/organization/key.ts
  packages/manager/apps/zimbra/src/hooks/useAccountList.ts
  packages/manager/apps/zimbra/src/hooks/useDomains.ts
  packages/manager/apps/zimbra/src/hooks/useOrganizationsList.ts
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AddAutoReply.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/ModalEditDomain.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalAddAlias.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/AddAndEditMailingList.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/ModalAddAndEditRedirections.page.tsx
  packages/manager/apps/zimbra/src/utils/index.ts
Labels: bug, quality check: ok, universe-web-cloud

#14615 fix(zimbra): required form field has error on init
  packages/manager/apps/zimbra/src/hooks/useForm.ts
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AddAutoReply.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsOrder.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalAddAlias.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/AddAndEditEmailAccount.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/MailingListSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ModalAddAndEditOrganization.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/ModalAddAndEditRedirections.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/__test__/ModalAddAndEditRedirections.page.spec.tsx
  packages/manager/apps/zimbra/src/utils/form.ts
Labels: bug, quality check: ok, universe-web-cloud

#14467 fix(pci-block-storage): use 730 hours for monthly price
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/volume-edit/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.tsx
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/PriceEstimate.tsx
Labels: bug, quality check: ok, translation required

#14675 fix(*): update tailwind config for third party imports
  packages/manager/apps/pci-ai-endpoints/tailwind.config.js
  packages/manager/apps/pci-billing/tailwind.config.js
  packages/manager/apps/pci-block-storage/tailwind.config.js
  packages/manager/apps/pci-gateway/tailwind.config.js
  packages/manager/apps/pci-kubernetes/tailwind.config.js
  packages/manager/apps/pci-load-balancer/tailwind.config.js
  packages/manager/apps/pci-private-network/tailwind.config.js
  packages/manager/apps/pci-private-registry/tailwind.config.js
  packages/manager/apps/pci-public-ip/tailwind.config.js
  packages/manager/apps/pci-savings-plan/tailwind.config.js
  packages/manager/apps/pci-ssh-keys/tailwind.config.js
  packages/manager/apps/pci-users/tailwind.config.js
  packages/manager/apps/pci-vouchers/tailwind.config.js
  packages/manager/apps/pci-workflow/tailwind.config.js
  packages/manager/modules/manager-pci-common/tailwind.config.js
Labels: bug, universe-public-cloud

#14447 fix(svp) add savings plan utc date on creation
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-savings-plan/src/utils/formatter/date.ts
Labels: bug, quality check: ok

#14670 Feat/add project id in dataplatform link
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: quality check: ok, feature, universe-public-cloud, container

#14617 feat(pci.ai.endpoints): remove old external link
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: quality check: ok, feature, universe-public-cloud, container

#13708 feat(kube): add savings plan banner
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.spec.tsx
Labels: quality check: ok, feature

#14430 fix(dedicated): fix Problem with timezone on graph displays
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#14416 fix(pci-common): fix flashing effect on shapes input component
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/size/input/Label.component.tsx
  packages/manager/modules/manager-pci-common/src/components/shape-input/ShapeInput.component.tsx
Labels: bug, quality check: ok

#14743 ci: build and run tests only on pci-common
  package.json
Labels: continuous-integration

#14764 fix(web.domain): change content domain holder description
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_fr_FR.json
Labels: bug, universe-web-cloud, translation required

#14717 feat(container): added 2 links on usefull links pnr
  packages/manager/apps/container/src/container/common/urls-constants.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: quality check: ok, feature, container

#14419 fix(account): fixed new email path in template
  packages/manager/modules/account/src/user/infos/user-infos.html
Labels: bug, quality check: ok

#14677 fix(hub-react): display error in support tile when api send an error
  packages/manager/apps/hub-react/src/data/api/apiHubSupport.ts
  packages/manager/apps/hub-react/src/data/hooks/apiHubSupport/useHubSupport.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/apiHubSupport/useHubSupport.tsx
Labels: bug

#14417 feat(hub-react): handle notifications translations in front end
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_de_DE.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_en_GB.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_es_ES.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_fr_CA.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_fr_FR.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_it_IT.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_pl_PL.json
  packages/manager/apps/hub-react/public/translations/hub/notifications/Messages_pt_PT.json
  packages/manager/apps/hub-react/src/hooks/guides/useGuideUtils.tsx
  packages/manager/apps/hub-react/src/index.tsx
  packages/manager/apps/hub-react/src/pages/layout/NotificationsCarousel.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.constants.ts
  packages/manager/apps/hub-react/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub-react/src/setupTests.ts
Labels: quality check: ok, feature

#14726 feat(account): kyc india update banner position and text formatting
  packages/manager/apps/dedicated/client/app/account/identity-documents/components/identity-documents-proof-tile/template.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/modules/account/src/identity-documents/user-identity-documents.html
Labels: quality check: ok, feature, universe-bare-metal-cloud

#14769 fix(quota): fr translation only for quota message
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#14755 feat(mrc): allow action banner to be dismissible
  packages/manager-react-components/src/components/action-banner/action-banner.component.tsx
Labels: feature

#14759 feat(telecom): add the outbound proxy on sip account informations
  packages/manager/apps/telecom/src/app/telecom/telephony/line/details/details.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/details/translations/Messages_fr_FR.json
Labels: feature, universe-telecom, translation required

#14788 release: manager-react-components v2.6.0
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
Labels: continuous-integration

#14776 fix(pci-common): fix flashing effect on shapes input component
  packages/manager/modules/manager-pci-common/src/components/shape-input/ShapeInput.component.tsx
Labels: bug

#14746 fixup! feat(nutanix): add nutanix node popin
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/service.js
Labels: bug, universe-hosted-private-cloud

#14678 fix(pci-common): subscriptions url
  packages/manager/modules/manager-pci-common/src/components/logs/StreamSubscriptions.component.tsx
Labels: bug, quality check: ok

#14799 feat(sap-features-hub): implement clusters api call with v6
  packages/manager/apps/sap-features-hub/src/components/Form/SelectField.component.tsx
  packages/manager/apps/sap-features-hub/src/data/api/vmwareServices.ts
  packages/manager/apps/sap-features-hub/src/hooks/vmwareServices/useVMwareServices.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/step1/InstallationStep1.page.tsx
  packages/manager/apps/sap-features-hub/src/types/vmwareService.type.ts
Labels: feature

#14479 feat(dedicated): add occ diagnostic
  packages/manager/modules/cloud-connect/src/cloud-connect-datacenter.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-bgp-peering.component.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-bgp-peering.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-bgp-peering.module.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-bgp-peering.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-pgp-peering.constants.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/index.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/template.html
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/components/datacenter-extra/datacenter-extra.component.js
  packages/manager/modules/cloud-connect/src/details/overview/components/datacenter-extra/template.html
  packages/manager/modules/cloud-connect/src/details/overview/overview.component.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.module.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#14738 feat(dedicated): add get mac list for POP L2
  packages/manager/modules/cloud-connect/src/cloud-connect-pop.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-bgp-peering.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required, has conflicts

#14014 feat(dedicated): add tile tags on server page
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.controller.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/tags-tile/component.js
  packages/manager/modules/bm-server-components/src/tags-tile/controller.js
  packages/manager/modules/bm-server-components/src/tags-tile/index.js
  packages/manager/modules/bm-server-components/src/tags-tile/template.html
  packages/manager/modules/bm-server-components/src/tags-tile/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#14752 feat(common-translations): init common trans module
  packages/manager/core/vite-config/package.json
  packages/manager/core/vite-config/src/commonTranslations.js
  packages/manager/core/vite-config/src/config.js
  packages/manager/modules/common-translations/README.md
  packages/manager/modules/common-translations/package.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/clipboard/Messages_pt_PT.json
  packages/manager/modules/common-translations/src/index.ts
  packages/manager/modules/common-translations/tsconfig.json
  packages/manager/modules/common-translations/vite.config.mjs
Labels: feature, translation required, common

#14813 fix(web.domain): update tracking for contact management
  packages/manager/apps/web/client/app/domain/contact/contact.constants.js
  packages/manager/apps/web/client/app/domain/contact/contact.controller.js
  packages/manager/apps/web/client/app/domain/contact/contact.routing.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.constants.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.controller.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.routing.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.constant.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.controller.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
Labels: bug, universe-web-cloud

#14793 refactor(nutanix): optimize router request
  packages/manager/modules/nutanix/src/dashboard/nodes/list/routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Labels: feature, universe-hosted-private-cloud

#14454 fix(dedicated.pcc): support email tags in user edition
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/edit/vsphere-user-edit.controller.js
Labels: universe-bare-metal-cloud

#14772 feat(nutanix): reinstall node popin
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/reinstall-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/reinstall-node/reinstall-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/reinstall-node/reinstall-node.routing.js
Labels: feature, translation required, universe-hosted-private-cloud, has conflicts

#14804 fix(mrc): apply css stylings for header component
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
Labels: bug

#14815 feat(pci.ai.notebook): add unit test in dashboard page
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/src/__tests__/helpers/mocks/job.ts
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/Backups.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/Backups.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/_components/BackupsListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/fork/Fork.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/Dashboard.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Configuration.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Configuration.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Labels.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Labels.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Resources.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/delete/Delete.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/logs/Logs.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/logs/Logs.spec.tsx
Labels: feature, translation required

#14808 Feat/pci ai notebooks unit test listing page
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/src/__tests__/helpers/mocks/job.ts
  packages/manager/apps/pci-ai-notebooks/src/__tests__/helpers/mocks/notebook.ts
  packages/manager/apps/pci-ai-notebooks/src/__tests__/helpers/mocks/volume.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/notebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/Auth.layout.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/Root.layout.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/Root.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/_components/sshkey/AddSSHKey.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/Notebooks.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/Notebook.context.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/Notebook.layout.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/DeleteNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/NotebookHeader.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/NotebookTabs.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StartNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StopNotebook.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/Backups.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/Backups.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/_components/BackupsListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/fork/Fork.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/Dashboard.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Configuration.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Configuration.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Labels.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Labels.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/_components/Resources.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/dashboard/delete/Delete.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/logs/Logs.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/logs/Logs.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/delete/Delete.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/start/Start.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/stop/Stop.spec.tsx
Labels: feature, translation required

#14840 fix(pci-common): undefined logs
  packages/manager/modules/manager-pci-common/src/components/logs/TailLogs.component.tsx
Labels: bug

#14847 feat(pci.ai.notebook): add unit test on containers and public git
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/fork/Fork.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/Containers.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/_components/VolumesListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/_components/VolumesListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/dataSync/DataSync.modal.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/dataSync/DataSync.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/public-git/PublicGit.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/public-git/_components/GitListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/public-git/_components/GitListTable.component.tsx
Labels: feature

#14848 fixup! feat(nutanix): add uninstall node nutanix popin
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/template.html
Labels: bug, universe-hosted-private-cloud

#14306 feat(instance): replace savings plan banner on edition instance
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#14401 feat(svp): add tracking on savings plan
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.tsx
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlan.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-savings-plan/src/routes/routes.tsx
  packages/manager/apps/pci-savings-plan/src/tracking.constant.ts
Labels: quality check: ok, feature

#14817 fix(dedicated): hide nsx edge tile on other products
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
Labels: bug, universe-bare-metal-cloud

#14735 test(container): add test to payment modal for appropriate message
  packages/manager/apps/container/src/payment-modal/PaymentModal.spec.tsx
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
Labels: feature, container

#14800 test(container): add test for tracking init in cookie policy modal
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.spec.tsx
Labels: feature, container

#14864 fix(billing): fix malformed redirection
  packages/manager/modules/new-billing/src/billing.routing.js
Labels: bug

#14809 fix(iam): fix removal of resources validation size error
  packages/manager/modules/iam/src/components/createResourceGroup/createResourceGroup.constants.js
  packages/manager/modules/iam/src/components/createResourceGroup/createResourceGroup.controller.js
  packages/manager/modules/iam/src/components/createResourceGroup/createResourceGroup.template.html
  packages/manager/modules/iam/src/components/resourceSelect/resourceSelect.controller.js
Labels: bug, quality check: ok, enabler

#14789 Feat/manager 16328 hycu change pack
  packages/manager/apps/hycu/src/constants.ts
  packages/manager/apps/hycu/src/pages/dashboard/general-information/ShortcutsTile/ShortcutsTile.tsx
Labels: quality check: ok, feature

#14591 fix(vcd): disable confirm button on update requests
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/edit/EditVdcDescription.page.tsx
  packages/manager/modules/vcd-api/src/hook/useUpdateVcdDatacentre.ts
  packages/manager/modules/vcd-api/src/hook/useUpdateVcdOrganization.ts
Labels: bug, quality check: ok

#14508 fix(veeam-backup): fix space unit translation
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/veeam-backup/src/pages/dashboard/OfferProgress.component.tsx
Labels: bug, universe-bare-metal-cloud

#14860 fix(web.domain): fix tracking page name for contact management
  packages/manager/apps/web/client/app/domain/contact/contact.constants.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.constants.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.controller.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.routing.js
Labels: bug, quality check, universe-web-cloud

#14869 feat(pci.ai.notebook): udpate data table
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DataTable.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DataTableContext.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableAction.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableDefaultFilterButton.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableFiltersButton.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableFiltersList.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableHeader.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatablePagination.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableSearchBar.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableSkeleton.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/DatatableSortableHeader.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/index.ts
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_de_DE.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_en_GB.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_es_ES.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_fr_CA.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_it_IT.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_pl_PL.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/Messages_pt_PT.json
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/translations/index.ts
  packages/manager/apps/pci-ai-notebooks/src/components/data-table/useColumnFilters.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/ui/data-table.tsx
  packages/manager/apps/pci-ai-notebooks/src/lib/filters.ts
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/_components/BackupsListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/backups/_components/BackupsListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/_components/VolumesListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/containers/_components/VolumesListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/public-git/_components/GitListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/public-git/_components/GitListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebookListFilters.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/_components/NotebooksListTable.component.tsx
Labels: feature, translation required

#14041 feat(container): added an invitation modal to accept contract
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/api/agreements.ts
  packages/manager/apps/container/src/api/authorizations.ts
  packages/manager/apps/container/src/assets/images/logo-ovhcloud.png
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.component.tsx
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.spec.tsx
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/context/modals/ModalsProvider.tsx
  packages/manager/apps/container/src/context/modals/index.ts
  packages/manager/apps/container/src/context/modals/modals.context.ts
  packages/manager/apps/container/src/context/modals/useModals.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/hooks/accountUrn/useAccountUrn.tsx
  packages/manager/apps/container/src/hooks/agreements/usePendingAgreements.tsx
  packages/manager/apps/container/src/identity-documents-modal/IdentityDocumentsModal.tsx
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pt_PT.json
  packages/manager/apps/container/src/setupTests.ts
  packages/manager/apps/container/src/types/agreements.ts
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/modules/account/src/identity-documents/user-identity-documents.controller.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.html
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/payment/method/add/routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, container

#14880 feat(container): added an invitation modal to accept contract
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/api/agreements.ts
  packages/manager/apps/container/src/api/authorizations.ts
  packages/manager/apps/container/src/assets/images/logo-ovhcloud.png
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.component.tsx
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.spec.tsx
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/context/modals/ModalsProvider.tsx
  packages/manager/apps/container/src/context/modals/index.ts
  packages/manager/apps/container/src/context/modals/modals.context.ts
  packages/manager/apps/container/src/context/modals/useModals.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/hooks/accountUrn/useAccountUrn.tsx
  packages/manager/apps/container/src/hooks/agreements/usePendingAgreements.tsx
  packages/manager/apps/container/src/identity-documents-modal/IdentityDocumentsModal.tsx
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pt_PT.json
  packages/manager/apps/container/src/setupTests.ts
  packages/manager/apps/container/src/types/agreements.ts
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/modules/account/src/identity-documents/user-identity-documents.controller.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.html
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/payment/method/add/routing.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, container

#14829 fix(dedicated.pcc): support email tags in user edition
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/edit/vsphere-user-edit.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#14616 feat(dedicated.pcc): update vcd migration label and status
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#14887 fix(container): add missing mock for payment modal tests
  packages/manager/apps/container/src/payment-modal/PaymentModal.spec.tsx
Labels: bug, container

#13823 feat(dedicated): delete vrack from billing autorenew page
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.service.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.component.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/component.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/constants.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/index.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/routing.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/template.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/autoRenew/autorenew.component.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/billing/src/autoRenew/autorenew.routing.js
Labels: feature, universe-bare-metal-cloud, translation required, common

#14792 feat(dbaas.logs): add cluster region on LDP dashboard
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.html
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#14898 Revert "feat(nutanix): add VLAN ID field in cluster redeployment"
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_fr_FR.json
Labels: translation required, universe-hosted-private-cloud

#14905 Revert Manager-14722
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/api/agreements.ts
  packages/manager/apps/container/src/api/authorizations.ts
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.component.tsx
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.spec.tsx
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/context/modals/ModalsProvider.tsx
  packages/manager/apps/container/src/context/modals/index.ts
  packages/manager/apps/container/src/context/modals/modals.context.ts
  packages/manager/apps/container/src/context/modals/useModals.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/cookie-policy/assets/logo-ovhcloud.png
  packages/manager/apps/container/src/hooks/accountUrn/useAccountUrn.tsx
  packages/manager/apps/container/src/hooks/agreements/usePendingAgreements.tsx
  packages/manager/apps/container/src/identity-documents-modal/IdentityDocumentsModal.tsx
  packages/manager/apps/container/src/payment-modal/PaymentModal.spec.tsx
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pt_PT.json
  packages/manager/apps/container/src/setupTests.ts
  packages/manager/apps/container/src/types/agreements.ts
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/modules/account/src/identity-documents/user-identity-documents.controller.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.html
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/payment/method/add/routing.js
Labels: universe-bare-metal-cloud, translation required, container

#14908 docs(pci-common): update changelog
  packages/manager/modules/manager-pci-common/CHANGELOG.md
  packages/manager/modules/manager-pci-common/package.json
Labels: documentation

#14939 ci: auto-version mrc and pci-common
  lerna.json
Labels: continuous-integration

#14877 feat(sap-features-hub): add pre-installation form step3
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/SelectField.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/TextField.component.tsx
  packages/manager/apps/sap-features-hub/src/context/InstallationForm.context.tsx
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/formStep/useFormSteps.ts
  packages/manager/apps/sap-features-hub/src/hooks/localStorage/useLocalStorage.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/InstallationDashboard.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/formStep/FormStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/initialStep/InstallationInitialStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepDeployment/InstallationStepDeployment.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
Labels: feature, translation required

#14948 feat(dedicated.pcc): update option and compliance dashboard tiles
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/translations/Messages_fr_FR.json
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#14728 feat: add queries statistics for mysql
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/queries.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/queries/Queries.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/queries/Queries.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/queries/_components/QueryStatistics.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/queries/_components/QueryStatisticsTableColumns.component.tsx
Labels: quality check: ok, feature, universe-public-cloud

#14912 fix(*): change SMP key to STO for Stockholm
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-private-network/public/translations/region/Messages_pt_PT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/region/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/region/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/region/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/region/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud, universe-public-cloud, common

#14913 fix(manager-react-components): change SMP key to STO for Stockholm
  packages/manager-react-components/src/hooks/region/translations/Messages_de_DE.json
  packages/manager-react-components/src/hooks/region/translations/Messages_en_GB.json
  packages/manager-react-components/src/hooks/region/translations/Messages_es_ES.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_CA.json
  packages/manager-react-components/src/hooks/region/translations/Messages_fr_FR.json
  packages/manager-react-components/src/hooks/region/translations/Messages_it_IT.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pl_PL.json
  packages/manager-react-components/src/hooks/region/translations/Messages_pt_PT.json
Labels: bug

#14973 release: manager-react-components v1.43.1
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
Labels: documentation

#14884 fix(pci.instances): windows gen 3
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#14727 feat: rename service from header
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/RenameService.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/ServiceHeader.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/ServiceNameWithUpdate.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/ServiceNameWithUpdate.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/useRenameServiceForm.tsx
Labels: quality check: ok, feature, universe-public-cloud

#14886 fix(quota): deutsch lang
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase.constants.js
Labels: bug, quality check: ok, universe-public-cloud

#14749 Fix/pci rancher fix v cpu tapc 2507
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/data/hooks/useFormattedPrices/useFormattedPrices.tsx
  packages/manager/apps/pci-rancher/src/utils/test/test.provider.tsx
Labels: bug, quality check: ok, universe-public-cloud

#14733 feat(svp): Bump Savings Plan to ODS 18 - Epic
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/src/App.tsx
  packages/manager/apps/pci-savings-plan/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Commitment/Commitment.tsx
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlan.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/LegalLinks/LegalLinks.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/LegalLinks/LegalLinks.tsx
  packages/manager/apps/pci-savings-plan/src/components/Loading/Loading.tsx
  packages/manager/apps/pci-savings-plan/src/components/Modal/RenewModal.tsx
  packages/manager/apps/pci-savings-plan/src/components/PlannedChangeStatusChip/PlannedChangeStatusChip.tsx
  packages/manager/apps/pci-savings-plan/src/components/QuantitySelector/QuantitySelector.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/QuantitySelector/QuantitySelector.tsx
  packages/manager/apps/pci-savings-plan/src/components/SimpleTile/SimpleTile.tsx
  packages/manager/apps/pci-savings-plan/src/components/StatusChip/StatusChip.tsx
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-savings-plan/src/components/Table/TableContainer.tsx
  packages/manager/apps/pci-savings-plan/src/components/TileTechnicalInfo/TileTechnicalInfo.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
  packages/manager/apps/pci-savings-plan/src/index.scss
  packages/manager/apps/pci-savings-plan/src/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/edit-name/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/renew-modal/index.tsx
  packages/manager/apps/pci-savings-plan/src/types/api.type.ts
  packages/manager/apps/pci-savings-plan/vitest.config.js
  yarn.lock
Labels: quality check: ok, feature, dependencies

#14731 Feat/pci kubernetes multiple fix tapc 2080
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
Labels: quality check: ok, feature

#14968 build(*): bump mrc to latest 1.43.1
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
Labels: build, universe-public-cloud

#14872 build(*): bump pci-common to v0.14.4
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  yarn.lock
Labels: bug, dependencies, universe-public-cloud

#14730 test(container): add test for language selector
  packages/manager/apps/container/src/container/common/language/Button.spec.tsx
  packages/manager/apps/container/src/container/common/language/Button.tsx
  packages/manager/apps/container/src/container/common/language/index.spec.tsx
  packages/manager/apps/container/src/container/common/language/index.tsx
Labels: quality check: ok, feature, container

#14868 fix(container): fix project listing searchbox in legacy sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
Labels: bug, quality check: ok, container

#14976 build: update yarn-lock for mrc bump
  yarn.lock
Labels: build, dependencies

#14861 fix(dedicated): fix minimal display with read rights
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/modules/billing-components/src/components/service-status/service-status.controller.js
  packages/manager/modules/billing-components/src/components/service-status/service-status.html
  packages/manager/modules/vps/src/dashboard/tile/configuration/controller.js
  packages/manager/modules/vps/src/vps/routing.js
Labels: bug, quality check: ok, universe-bare-metal-cloud, common

#14870 fix(iam): users-add modal too tall for small screens
  packages/manager/modules/iam/src/iam.styles.scss
Labels: bug

#14845 fix(restricted): fix minimum rights display for US
  packages/manager/apps/restricted/src/hooks/useMinimalRights/constants.ts
  packages/manager/apps/restricted/src/hooks/useMinimalRights/useMinimalRights.ts
  packages/manager/apps/restricted/src/restricted/ErrorJumbotron/ErrorJumbotron.tsx
Labels: bug, quality check: ok

#14742 feat(dedicated.server): rbx1 eol banner
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/component.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/constants.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/controller.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/index.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/template.html
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/server-dashboard/index.js
  packages/manager/modules/bm-server-components/src/vmac-unavailable-banner/vmac-unavailable-banner.controller.js
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#14816 fix(dedicated.ips): export csv with multiple call instead of 1 large
  packages/manager/apps/dedicated/client/app/ip/components/list/export-csv/ip-ip-export-csv.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/export-csv/ip-ip-export.constants.js
Labels: bug, universe-bare-metal-cloud

#14899 feat(nutanix): add VLAN ID field in cluster redeployment
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/translations/Messages_pt_PT.json
Labels: feature, universe-hosted-private-cloud

#14985 Fix/inc0106359
  packages/manager/modules/nutanix/src/dashboard/nodes/routing.js
Labels: bug, universe-hosted-private-cloud

#14984 build(*): bump playwright to 1.49.1
  packages/manager/apps/catalog/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/procedures/package.json
Labels: build, universe-public-cloud, enabler

#14970 fix(telecom.softphone): change the api call and work for legacy
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#14981 ci : delete playwright and e2e tests
  .github/CODEOWNERS
  .github/workflows/run-bdd-tests.yml
  .gitignore
  package.json
Labels: feature, continuous-integration

#14993 fix(SVP): action menu in ODS to use link
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionCell.scss
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionsCell.tsx
Labels: bug, quality check: ok

#15000 fix(telecom.sofphone): improvement on the logo management part
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/billingAccount.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#14998 feat(sap-features-hub): add context errors and edit validation rules
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/TextField.component.tsx
  packages/manager/apps/sap-features-hub/src/context/InstallationForm.context.tsx
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/utils/formStep.ts
  packages/manager/apps/sap-features-hub/src/utils/formValidation.ts
Labels: feature, translation required

#15018 fix(telecom.telephony): change devices list on softphone
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#14875 feat(pci.ai.dashboard): add tracking auto
  packages/manager/apps/pci-ai-dashboard/src/configuration/project.ts
  packages/manager/apps/pci-ai-dashboard/src/configuration/tracking.constants.ts
  packages/manager/apps/pci-ai-dashboard/src/hooks/useTracking.ts
  packages/manager/apps/pci-ai-dashboard/src/pages/Root.layout.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/_components/DashboardHeader.component.tsx
  packages/manager/apps/pci-ai-dashboard/src/pages/dashboard/auth/Auth.page.tsx
  packages/manager/apps/pci-ai-dashboard/src/routes/routes.tsx
Labels: feature

#15027 fix(telecom.softphone): change modal add device
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#14775 feat(dedicated): diagnostic tab and diagnostics listing page
  packages/manager/modules/cloud-connect/src/cloud-connect-diagnostics.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.constants.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/details.module.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/diagnostics.component.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/diagnostics.module.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/diagnostics.routing.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/index.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/template.html
  packages/manager/modules/cloud-connect/src/details/diagnostics/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/template.html
  packages/manager/modules/cloud-connect/src/details/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#14871 feat(dedicated): diagnostic result modal with output log
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/diagnostics.component.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/diagnostics.module.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/diagnostics.routing.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/index.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/result.component.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/result.controller.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/result.module.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/result.routing.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/result.scss
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/template.html
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/diagnostics/template.html
  packages/manager/modules/cloud-connect/src/details/diagnostics/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#15031 fix(telecom.softphone): change remove device modal
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/addDevice/add-device.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteAllDevice/delete-all-device.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteAllDevice/delete-all-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteAllDevice/delete-all-device.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteAllDevice/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteModal/delete-modal.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteModal/delete-modal.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Labels: bug, universe-telecom, translation required

#15040 fix(pci-object-storage): container creation errors
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/New.page.tsx
Labels: bug

#14921 fix(mrc): fix <ActionMenu />
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.scss
  packages/manager-react-components/src/components/navigation/menus/action/action.stories.tsx
  packages/manager-react-components/src/lib.scss
Labels: bug

#14931 fix(mrx): fix <UpdateNameModal />
  packages/manager-react-components/src/components/templates/update-name-modal/update-name-modal.component.tsx
Labels: bug

#14933 fix(mrc): fix <ErrorBanner />
  packages/manager-react-components/src/components/templates/error/error.component.tsx
  packages/manager-react-components/src/components/templates/error/error.types.tsx
Labels: bug

#14943 fix(mrc): fix <Links />
  packages/manager-react-components/src/components/typography/links/links.component.tsx
Labels: bug

#14924 fix(mrc): fix <TileBlock />
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.stories.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/tile-block.component.tsx
Labels: bug

#14927 fix(mrc): fix <GuideButton />
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
  packages/manager-react-components/src/components/navigation/menus/guide/guide.stories.tsx
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, dependencies, universe-public-cloud, universe-hosted-private-cloud, container

#15037 fix(script): udpate script release for mrc
  scripts/release/release.sh
Labels: bug, build, common

#14995 fix(billing): add forgotten services helper from dedicated
  packages/manager/modules/new-billing/src/billing.module.js
  packages/manager/modules/new-billing/src/constants/servicesHelper.constants.js
  packages/manager/modules/new-billing/src/services/servicesHelper.service.js
Labels: bug

#15016 fix(billing): add missing ng-pagination-front dependency
  packages/manager/apps/billing/package.json
  packages/manager/modules/new-billing/package.json
  packages/manager/modules/new-billing/src/billing.module.js
  yarn.lock
Labels: bug, universe-bare-metal-cloud, dependencies

#14994 fix(billing): adjust ssh key list template and fix error prone code
  packages/manager/modules/billing/src/autoRenew/autorenew.controller.js
  packages/manager/modules/billing/src/autoRenew/ssh/user-ssh.html
  packages/manager/modules/new-billing/src/autoRenew/autorenew.controller.js
  packages/manager/modules/new-billing/src/autoRenew/ssh/user-ssh.html
Labels: bug, universe-bare-metal-cloud

#14990 fix(billing): fix redirection to autorenew activation modal
  packages/manager/modules/new-billing/src/autoRenew/autorenew.html
Labels: bug

#15086 Revert "fix(release.sh): update script release.sh to release only MRC"
  scripts/release/release.sh
Labels: bug, build, common

#15067 feat(manager-react-component): add formatted date component
  packages/manager-react-components/src/components/formatted-date/FormattedDate.tsx
  packages/manager-react-components/src/hooks/date/useFormattedDate.ts
Labels: feature

#15063 Feat/mrc add link props
  packages/manager-react-components/src/components/typography/links/links.component.tsx
Labels: feature

#15066 feat(manager-react-component): add manager tile component
  packages/manager-react-components/src/components/content/ManagerTile/manager-tile-item.component.tsx
  packages/manager-react-components/src/components/content/ManagerTile/manager-tile.component.tsx
  packages/manager-react-components/src/components/content/ManagerTile/manager-tile.stories.tsx
  packages/manager-react-components/src/components/content/ManagerTile/tile.spec.tsx
Labels: feature

#15062 feat(common-api): extract query options for extensibility
  packages/manager/modules/common-api/src/services/hooks/useServiceDetails.ts
Labels: feature

#15043 feat(pci.savings-plan): improve dashboard ui
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/ConsumptionDatagrid/ConsumptionDatagrid.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Filters/Filters.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Kpis/Kpis.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/TabsDashboard/TabsDashboard.tsx
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  yarn.lock
Labels: feature, translation required, dependencies

#14956 fix(zimbra): various minor ui issues
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AddAutoReply.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsAlias.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalAddAlias.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/ModalAddAlias.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/MailingLists.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/Redirections.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Labels: bug, quality check: ok, universe-web-cloud

#15053 fix(telecom): error prevent display delete modal
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/feature/contactCenterSolution/contact-center-solution.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/dashboard/confirmDeleteConfiguration/confirm-delete-configuration.controller.js
Labels: bug, quality check: ok, universe-telecom

#15021 build(zimbra): update ODS to v18.5.0
  packages/manager/apps/zimbra/package.json
  yarn.lock
Labels: quality check: ok, build, universe-web-cloud, dependencies

#14903 fix(domain): update onboarding translation text
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/onboarding/translations/Messages_pl_PL.json
Labels: bug, quality check: ok, universe-web-cloud

#14883 build(zimbra): upgrade vite to v6
  packages/manager/apps/zimbra/package.json
  yarn.lock
Labels: quality check: ok, build, universe-web-cloud, dependencies

#14745 fix(web.exchange): add veeam backup guide link for private
  packages/manager/modules/exchange/src/dashboard/exchange.constants.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/exchange/src/information/information.controller.js
  packages/manager/modules/exchange/src/information/information.html
Labels: bug, quality check: ok, universe-web-cloud, translation required, common

#14608 feat(web.domain): eligibility rules project
  packages/manager/apps/web/client/app/core/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/core/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/core/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/core/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/core/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/contact/contact.component.js
  packages/manager/apps/web/client/app/domain/contact/contact.constants.js
  packages/manager/apps/web/client/app/domain/contact/contact.controller.js
  packages/manager/apps/web/client/app/domain/contact/contact.html
  packages/manager/apps/web/client/app/domain/contact/contact.module.js
  packages/manager/apps/web/client/app/domain/contact/contact.routing.js
  packages/manager/apps/web/client/app/domain/contact/contact.service.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.component.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.constants.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.controller.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.html
  packages/manager/apps/web/client/app/domain/contact/edit/edit.module.js
  packages/manager/apps/web/client/app/domain/contact/edit/edit.routing.js
  packages/manager/apps/web/client/app/domain/contact/edit/field/edit-form-field-component.controller.js
  packages/manager/apps/web/client/app/domain/contact/edit/field/edit-form-field-component.html
  packages/manager/apps/web/client/app/domain/contact/edit/field/edit-form-field-component.js
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.constant.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.controller.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
  packages/manager/apps/web/client/app/domain/dashboard/domain.module.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.state.js
  packages/manager/apps/web/client/app/domain/general-informations/general-information.constants.js
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/zone/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud, translation required

#14636 feat(web): add startsql order
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.module.js
  packages/manager/apps/web/client/app/hosting/database/database-selector/database-selector.component.js
  packages/manager/apps/web/client/app/hosting/database/database-selector/database-selector.html
  packages/manager/apps/web/client/app/hosting/database/database-selector/database-selector.module.js
  packages/manager/apps/web/client/app/hosting/database/database-selector/database-selector.routing.js
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/database/database-selector/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/hosting.routing.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud, translation required

#15052 fix(i18n): fix translations kyc india
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_en_GB.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-proof-tile/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_en_GB.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_it_IT.json
  packages/manager/modules/account/src/identity-documents/components/identity-documents-upload-detail/translations/Messages_pt_PT.json
Labels: feature

#15077 fix(pci-object-storage): fix container deployement mode sorting
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Labels: bug

#15078 fix(pci-object-storage): fix object list search
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
Labels: bug

#15001 feat(ldp): add zoomin zoomout feature
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/hooks/useZoomedInOut.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
Labels: feature

#15058 feat(ips): parking order
  packages/manager-react-components/src/components/content/index.ts
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/public/translations/ips/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/order/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/ips/src/components/OfferCard/OfferCard.component.tsx
  packages/manager/apps/ips/src/components/OfferCard/offer-card.scss
  packages/manager/apps/ips/src/components/OptionCard/OptionCard.component.tsx
  packages/manager/apps/ips/src/data/api/ips.ts
  packages/manager/apps/ips/src/data/hooks/catalog/catalog.utils.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAdditionalIpsRegions.ts
  packages/manager/apps/ips/src/data/hooks/useServiceList.ts
  packages/manager/apps/ips/src/pages/order/Ipv4Order.component.tsx
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/order.utils.ts
  packages/manager/apps/ips/src/pages/order/sections/GeolocationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/IpVersionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OrderButtonSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OrganisationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/RegionSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/ServiceSelectionSection.component.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  yarn.lock
Labels: feature, translation required, dependencies

#14972 feat(hycu): disable activate and regenerate btns when licence is pending
  packages/manager/apps/hycu/src/pages/dashboard/general-information/ShortcutsTile/ShortcutsTile.spec.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/ShortcutsTile/ShortcutsTile.tsx
Labels: feature

#15114 fix(pci-object-storage): disabled actions
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
Labels: bug

#15111 fix(pci-object-storage): storage type
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
Labels: bug

#15075 feat(pci-object-storage): add empty user modal
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/empty-users/EmptyUsers.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ActionsComponent.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  yarn.lock
Labels: bug, translation required, dependencies

#15096 fix(dedicated): infinite loading when resize nsx
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: bug, universe-bare-metal-cloud

#15070 feat(ldp): add unsubscribe subscription action
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useTerminateLogSubscription.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
Labels: feature, translation required

#15132 fix(pci-object-storage): region mobile view
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
Labels: bug

#15131 fix(pci-object-storage): container name validation
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/ContainerNameStep.component.test.tsx.snap
Labels: bug

#15125 test(pci-object-storage): add unit tests
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useGetEncriptionAvailability.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useRegion.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Listing.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Actions.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStep.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/ContainerRegionSelector.component.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/DeploymentModeStep.component.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/LinkUserSelector.component.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/AddUser.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/__snapshots__/AddUser.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/AddObject.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/__snapshots__/AddObject.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/onboarding/__snapshots__/Onboarding.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/sampleTest.spec.ts
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
  packages/manager/apps/pci-object-storage/src/wrapperRenders.tsx
  yarn.lock
Labels: dependencies

#14826 Nutanix optimize router request
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
Labels: feature, universe-hosted-private-cloud

#14915 feat(account): add new gdpr tab in the account dashboard
  packages/manager/modules/account/package.json
  packages/manager/modules/account/src/account.constants.js
  packages/manager/modules/account/src/account.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.component.js
  packages/manager/modules/account/src/user/gdpr/gdpr.controller.js
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.module.js
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/user.controller.js
  packages/manager/modules/account/src/user/user.html
  packages/manager/modules/account/src/user/user.module.js
  packages/manager/modules/account/src/user/user.routes.js
Labels: feature, translation required

#15093 feat(sap-features-hub): add pre-installation form step5
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/TextField.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/ToggleField.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/ToggleField.spec.tsx
  packages/manager/apps/sap-features-hub/src/context/installationInitialValues.constants.ts
  packages/manager/apps/sap-features-hub/src/mocks/installationForm.mock.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/formStep/FormStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/initialStep/InstallationInitialStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepDeployment/InstallationStepDeployment.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/installationStepOSConfig.constants.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSourceInformation/InstallationStepSourceInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/types/formChange.type.ts
  packages/manager/apps/sap-features-hub/src/utils/formStep.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/formStepData.ts
  packages/manager/apps/sap-features-hub/src/utils/formValidation.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/formValidation.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Labels: feature, translation required

#15036 feat(mrc): add isLoading to Datagrid
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.contants.ts
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager-react-components/vitest.setup.js
Labels: feature

#14946 feat(mrc): add fetchAll capabilities to v2 & v6 IcebergHooks
  packages/manager-react-components/src/hooks/datagrid/index.ts
  packages/manager-react-components/src/hooks/datagrid/useIcebergV2.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
Labels: feature

#14587 feat(mrc): allow useFeatureAvailability query options override
  packages/manager-react-components/src/hooks/feature-availability/useFeatureAvailability.spec.tsx
  packages/manager-react-components/src/hooks/feature-availability/useFeatureAvailability.ts
Labels: feature, stale

#14586 feat(mrc): allow useFeatureAvailability query options override
  packages/manager-react-components/src/hooks/feature-availability/useFeatureAvailability.spec.tsx
  packages/manager-react-components/src/hooks/feature-availability/useFeatureAvailability.ts
Labels: feature, stale
