Repository ovh/manager, pull requests merged in 2025-07, with the labels that each got.

#17946 feat(ips): feedbacks on listing page actions
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/pages/actions/terminate/terminateByoip.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
Labels: feature, translation required

#17943 feat(sap): update InstallationDetail type
  packages/manager/apps/sap-features-hub/src/components/InstallationDetails/InstallationDetailsError.component.tsx
  packages/manager/apps/sap-features-hub/src/components/InstallationDetails/InstallationDetailsError.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/InstallationDetails/InstallationDetailsProgress.component.tsx
  packages/manager/apps/sap-features-hub/src/components/InstallationDetails/InstallationDetailsProgress.spec.tsx
  packages/manager/apps/sap-features-hub/src/hooks/installationDetails/useInstallationDetails.ts
  packages/manager/apps/sap-features-hub/src/types/installation.type.ts
Labels: feature

#17944 fix(sap-features-hub): fix initial step select errors
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/pages/installation/initialStep/InstallationInitialStep.page.tsx
  packages/manager/apps/sap-features-hub/src/utils/selectValues.ts
Labels: bug, translation required

#17938 fix(dedicated-servers): add default links for order
  packages/manager/apps/dedicated-servers/src/data/constants/orderLinks.ts
Labels: bug

#17947 feat(veeam-backup): disable ellipisis gold activation when service is…
  packages/manager/apps/veeam-backup/src/constants.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/ActivateOfferGold.component.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/BillingTile.component.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
Labels: feature, universe-bare-metal-cloud

#17967 feat(billing): my services delete tips block for us region
  packages/manager/modules/new-billing/src/autoRenew/services/services.controller.js
  packages/manager/modules/new-billing/src/autoRenew/services/services.html
Labels: feature

#17820 fix(container): change hycu icon path after SVGR update
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
Labels: bug, container

#17960 Fix/sap validation api
  packages/manager/apps/sap-features-hub/src/components/Fields/RhfSelectField.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Fields/RhfToggleField.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepServerConfig/InstallationStepServerConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/utils/createRegisterWithHandler.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/createRegisterWithHandler.ts
Labels: bug

#17974 build(veeam-backup): migrate to SWC
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/veeam-backup/src/test-helpers/index.ts
  packages/manager/apps/veeam-backup/src/test-helpers/renderTest.tsx
  packages/manager/apps/veeam-backup/vitest.config.js
  yarn.lock
Labels: build, universe-bare-metal-cloud, dependencies

#17743 feat(web-domains): add allDom in sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/web-domains/package.json
Labels: feature, universe-web-cloud, container

#17990 feat(billing): my services hide manual status filter for us
  packages/manager/modules/new-billing/src/autoRenew/autorenew.service.js
Labels: feature

#17971 chore(sap-features-hub): replace 2api datacenters-summary by iceberg query
  packages/manager/apps/sap-features-hub/src/data/api/vmwareServices.ts
  packages/manager/apps/sap-features-hub/src/hooks/vmwareServices/useDatacentres.ts
  packages/manager/apps/sap-features-hub/src/types/vmwareService.type.ts
  packages/manager/apps/sap-features-hub/src/utils/apiRoutes.constants.ts
Labels: refactor

#17595 feat(billing): domain show restorable status & replace renew button
  packages/manager/modules/billing-components/src/components/service-status/service-status.html
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_pt_PT.json
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/services-actions/translations/Messages_pt_PT.json
Labels: feature, common

#17876 fix(dedicated): wrong size overview for software raid 10
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.constants.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
Labels: bug

#17839 fix(dedicated.vps): fix issue on upscale funnel
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Labels: bug, quality check, universe-bare-metal-cloud

#17553 feat(dedicated.vps): hide error message on listing page when a vps is expired
  packages/manager/modules/vps/src/list/vps-list.controller.js
Labels: feature, universe-bare-metal-cloud

#17976 fix(manager-cli): include caret version in compare versions function
  packages/manager-cli/utils/DependenciesUtils.mjs
  yarn.lock
Labels: bug, dependencies

#17920 refactor(pci-instances): rename dto and entity type
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/api/mapper/instance.mapper.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/builder/instanceDto.builder.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/builder/instanceDto.builder.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/view-models/selectInstanceForActionModal.ts
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/hooks/useDatagridPolling.ts
  packages/manager/apps/pci-instances/src/pages/instances/mapper/index.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/mapper.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/common.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Labels: refactor, universe-public-cloud

#18006 fix(veeam-backup): not displaying action menu
  packages/manager/apps/veeam-backup/src/pages/dashboard/ActivateOfferGold.component.tsx
Labels: feature, universe-bare-metal-cloud

#17881 Feat/manager 18922
  packages/manager/apps/pci-project/package.json
  packages/manager/apps/pci-project/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/common/error/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/home/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/pci-project/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/settings/Messages_fr_FR.json
  packages/manager/apps/pci-project/src/App.tsx
  packages/manager/apps/pci-project/src/components/FullPageSpinner.spec.tsx
  packages/manager/apps/pci-project/src/components/FullPageSpinner.tsx
  packages/manager/apps/pci-project/src/constants.ts
  packages/manager/apps/pci-project/src/index.tsx
  packages/manager/apps/pci-project/src/pages/Layout.tsx
  packages/manager/apps/pci-project/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/pci-project/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-project/src/pages/dashboard/tab2/index.tsx
  packages/manager/apps/pci-project/src/pages/home/Header.page.tsx
  packages/manager/apps/pci-project/src/pages/home/Home.page.tsx
  packages/manager/apps/pci-project/src/pages/home/Navigation.component.tsx
  packages/manager/apps/pci-project/src/pages/home/edit/Edit.page.tsx
  packages/manager/apps/pci-project/src/pages/listing/Listing.tsx
  packages/manager/apps/pci-project/src/pages/listing/listing.spec.tsx
  packages/manager/apps/pci-project/src/routes/routes.constant.ts
  packages/manager/apps/pci-project/src/routes/routes.tsx
  packages/manager/apps/pci-project/src/setupTests.tsx
  packages/manager/apps/pci-project/src/wrapperRenders.tsx
Labels: feature, translation required, universe-public-cloud

#17981 build(pci-instances): update vite version
  packages/manager/apps/pci-instances/package.json
Labels: build, universe-public-cloud

#18054 feat(pci-databases): add mirror maker engine
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/components/tags-input/TagsInput.component.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/polling.constants.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/database/replication.api.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/replication/useAddReplication.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/replication/useDeleteReplication.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/replication/useEditReplication.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/replication/useGetReplications.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/ServiceTabs.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/Metrics.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusTargets.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/Replications.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/_components/AddEditReplication.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/_components/ReplicationsTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/_components/formNamespace/namespace.constants.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/_components/formNamespace/useNamespaceForm.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/add/AddReplication.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/delete/DeleteReplication.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/edit/EditReplication.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/routes/routes.tsx
Labels: feature, translation required, universe-public-cloud

#17939 feat(manager-cli): add check duplicated translations script
  packages/manager-cli/manager-cli.mjs
  packages/manager-cli/package.json
  packages/manager-cli/translations-checker/check-duplicated-translations.mjs
  packages/manager-cli/translations-checker/steps/check-duplicated-cli.mjs
  packages/manager-cli/utils/ScriptUtils.mjs
Labels: feature

#18033 feat(pci-instances): add fr translation for dashboard
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/dashboard/Messages_fr_FR.json
Labels: feature, translation required, universe-public-cloud

#18075 fix(ips): fix type issue for servermodel
  packages/manager/apps/ips/src/data/api/get/dedicatedServerVmac.ts
Labels: bug

#18012 fix(dedicated.vps): autobackup for vps new range
  packages/manager/modules/vps/src/components/terminate/terminate.constants.js
  packages/manager/modules/vps/src/components/terminate/terminate.controller.js
  packages/manager/modules/vps/src/components/terminate/terminate.html
  packages/manager/modules/vps/src/components/terminate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.controller.js
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.html
  packages/manager/modules/vps/src/veeam/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/veeam/vps-veeam.html
  packages/manager/modules/vps/src/vps/routing.js
  packages/manager/modules/vps/src/vps/translations/Messages_fr_FR.json
Labels: bug, universe-bare-metal-cloud, translation required

#16171 fix(dedicated.vps): hide some feature for localzone
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/import/vps.service.js
  packages/manager/modules/vps/src/vps/constants.js
  packages/manager/modules/vps/src/vps/routing.js
Labels: bug, quality check, universe-bare-metal-cloud

#18094 Fix/export use param hook
  packages/manager/modules/manager-pci-common/src/hooks/index.ts
Labels: bug, continuous-integration, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, sign-up, enabler, common

#17687 fix(kms): fix dashboard tabs url
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
Labels: bug, enabler

#17789 feat(kms): add guides links
  packages/manager/apps/key-management-service/src/hooks/guide/guidesLinks.constant.ts
Labels: feature, enabler

#18060 feat(web-domains): minor changes
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnDomainRegisteredAuthorized.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/allDomDatagrid/useAllDomDatagridColumns.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/allDomDatagrid/useAllDomDatagridColumns.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.tsx
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/components/Dashboard/DashboardPage.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
Labels: feature, universe-web-cloud

#18069 feat(web-domains): detail datagrid page - change columns
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/__mocks__/serviceInfoDetail.ts
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnDnsServer.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnRenewMode.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnState.tsx
  packages/manager/apps/web-domains/src/alldoms/data/api/web-domains.ts
  packages/manager/apps/web-domains/src/alldoms/enum/service.enum.ts
  packages/manager/apps/web-domains/src/alldoms/hooks/data/query.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/data/useGetAllDom.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/data/useGetAllDoms.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/domainDatagrid/useDomainDatagridColumns.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/domainDatagrid/useDomainDatagridColumns.tsx
  packages/manager/apps/web-domains/src/alldoms/types/index.ts
Labels: feature, universe-web-cloud, translation required

#17875 feat(billing): optimize ssh keys page api calls
  packages/manager/modules/billing/src/autoRenew/ssh/user-ssh.html
  packages/manager/modules/billing/src/autoRenew/ssh/user-ssh.service.js
Labels: feature, universe-bare-metal-cloud

#17817 refactor(account): move request execution to speed up display
  packages/manager/modules/account/src/account.routing.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.routes.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.component.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.controller.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.html
  packages/manager/modules/account/src/user/dashboard/user-dashboard.routing.js
  packages/manager/modules/account/src/user/infos/user-infos.routing.js
  packages/manager/modules/account/src/user/security/user-security.routing.js
  packages/manager/modules/account/src/user/user.routes.js
Labels: feature

#17715 fix(account): remove one time binding on contact change requests
  packages/manager/modules/account/src/contacts/request/user-contacts-request.html
Labels: bug

#17997 feat(dedicated): make dismissable banner of customer survey
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-survey-banner/customer-survey-banner.html
Labels: feature, universe-bare-metal-cloud

#18000 fix(dedicated): updating roadmap & changelog github link
  packages/manager/apps/dedicated/client/app/config/constants.config.js
Labels: bug, universe-bare-metal-cloud

#17982 fix(nutanix): change display name in listing page of cluster
  packages/manager/modules/nutanix/src/cluster.class.js
  packages/manager/modules/nutanix/src/routing.js
  packages/manager/modules/nutanix/src/templates/serviceLink.html
Labels: bug, universe-hosted-private-cloud

#17926 feat(hosting): change api for upgrade hosting plan
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.service.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Labels: quality check: ok, feature, universe-web-cloud

#17369 feat(netapp): create a volume from snapshot feedbacks
  packages/manager/modules/netapp/src/dashboard/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/create/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#18111 fix(dedicated-servers): fix search input
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.tsx
Labels: bug

#18081 feat(web-ongoing-operations): update test config
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/vitest.config.js
  yarn.lock
Labels: feature, universe-web-cloud, dependencies

#17898 feat(telecom.access): display move button only for ADSL and FTTH access
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
Labels: quality check: ok, universe-telecom

#18132 test(*): build common-translations before running tests
  .github/workflows/run-bdd-tests.yml
Labels: continuous-integration

#18020 refactor(zimbra): use generic modal from MRC
  packages/manager-react-components/src/components/Modal/Modal.component.tsx
  packages/manager-react-components/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/zimbra/src/components/index.ts
  packages/manager/apps/zimbra/src/components/modal/Modal.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/autoReplies/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/edit/Edit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/cancel/Cancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/add/Add.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/undoCancel/UndoCancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/delete/Delete.modal.tsx
Labels: universe-web-cloud, refactor

#17891 feat(telecom.access): update modem profile display from api result
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-telecom, translation required

#17520 fix(manager.unittest): get the good base branch
  .github/workflows/run-bdd-tests.yml
Labels: bug, continuous-integration, stale

#18138 Sync/master develop
  .github/workflows/run-bdd-tests.yml
Labels: continuous-integration

#17488 feat(common-translations): add country name and language translations
  packages/manager/modules/common-translations/public/translations/country/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/country/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/country/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/country/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/country/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/country/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/country/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/country/Messages_pt_PT.json
  packages/manager/modules/common-translations/public/translations/language/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/language/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/language/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/language/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/language/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/language/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/language/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/language/Messages_pt_PT.json
  packages/manager/modules/common-translations/src/index.ts
Labels: feature

#18071 feat(manager-react-components): migrate Price component
  packages/manager-react-components/src/components/content/index.ts
  packages/manager-react-components/src/components/content/price/price.component.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/price/Price.component.tsx
  packages/manager-react-components/src/components/price/Price.constants.ts
  packages/manager-react-components/src/components/price/Price.props.ts
  packages/manager-react-components/src/components/price/Price.utils.ts
  packages/manager-react-components/src/components/price/__tests__/Price.snapshot.test.tsx
  packages/manager-react-components/src/components/price/__tests__/Price.spec.tsx
  packages/manager-react-components/src/components/price/__tests__/Price.utils.spec.ts
  packages/manager-react-components/src/components/price/__tests__/__snapshots__/Price.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/price/index.ts
  packages/manager-react-components/src/components/price/price-text/PriceText.component.tsx
  packages/manager-react-components/src/components/price/price-text/PriceText.props.ts
  packages/manager-react-components/src/components/price/price-text/__tests__/PriceText.spec.tsx
  packages/manager-react-components/src/components/price/price-text/index.ts
  packages/manager-react-components/src/components/price/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/price/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/price/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/price/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/price/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/price/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/price/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/price/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/price/translations/index.ts
Labels: feature, translation required

#18143 Revert "refactor(zimbra): use generic modal from MRC"
  packages/manager-react-components/src/components/Modal/Modal.component.tsx
  packages/manager-react-components/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/zimbra/src/components/index.ts
  packages/manager/apps/zimbra/src/components/modal/Modal.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/autoReplies/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/edit/Edit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/cancel/Cancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/add/Add.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/undoCancel/UndoCancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/delete/Delete.modal.tsx
Labels: universe-web-cloud

#18144 feat(dedicated.pcc): hide logs in managed baremetal dashboard
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Labels: feature, universe-bare-metal-cloud

#18079 feat(manager-react-component): add badge within the header of base la…
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-wiki/stories/manager-react-components/content/Headers/headers.stories.tsx
Labels: feature

#18114 feat(kms): domains list page for secrets
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/secret-manager/domains/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/common/components/okmsDatagrid/ListingCells.component.tsx
  packages/manager/apps/key-management-service/src/common/components/okmsDatagrid/OkmsDatagrid.component.spec.tsx
  packages/manager/apps/key-management-service/src/common/components/okmsDatagrid/OkmsDatagrid.component.tsx
  packages/manager/apps/key-management-service/src/common/components/okmsDatagrid/okmsDatagrid.type.ts
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.spec.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/KmipTile.spec.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/RestApiTile.spec.tsx
  packages/manager/apps/key-management-service/src/data/api/okms.ts
  packages/manager/apps/key-management-service/src/data/hooks/useOkms.ts
  packages/manager/apps/key-management-service/src/data/hooks/useUpdateOkmsName.ts
  packages/manager/apps/key-management-service/src/mocks/catalog/catalog.mock.ts
  packages/manager/apps/key-management-service/src/mocks/kms/okms.mock.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/DomainManagement.component.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/DomainManagement.component.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/domains/Domains.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/domains/Domains.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/root/Root.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/root/Root.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/routes/routes.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/utils/domains.ts
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/terminate/TerminateKms.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
  packages/manager/apps/key-management-service/src/types/okms.type.ts
  packages/manager/apps/key-management-service/src/utils/api/api.ts
  packages/manager/apps/key-management-service/src/utils/tests/init.i18n.ts
Labels: feature, translation required, enabler

#18062 fix(hpc-vmware-vsphere): fix activation progress
  packages/manager/apps/hpc-vmware-vsphere/src/data/api/hpc-vmware-vsphere-dedicatedCloud-task.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareDedicatedCloudTask.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareVsphereCompatibilityMatrix.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareVsphereDatacenter.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareVsphereLogForwarder.ts
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/Logs.page.spec.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/LogsActivation.component.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/LogsOnboarding.component.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/types/api.ts
  packages/manager/apps/hpc-vmware-vsphere/src/types/datacloud.ts
  packages/manager/apps/hpc-vmware-vsphere/src/types/logForwarder.ts
Labels: bug

#17782 feat(manager-react-components): Migrate Breadcrumb component
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager-react-components/src/components/breadcrumb/Breadcrumb.props.ts
  packages/manager-react-components/src/components/breadcrumb/__tests__/Breadcrumb.snapshot.test.tsx
  packages/manager-react-components/src/components/breadcrumb/__tests__/Breadcrumb.spec.tsx
  packages/manager-react-components/src/components/breadcrumb/__tests__/__snapshots__/Breadcrumb.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/breadcrumb/breadcrumb.component.tsx
  packages/manager-react-components/src/components/breadcrumb/breadcrumb.spec.tsx
  packages/manager-react-components/src/components/breadcrumb/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/__snapshots__/Headers.snapshot.test.tsx.snap
  packages/manager-react-components/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/components/Breadcrumb/breadcrumb.stories.tsx
Labels: feature

#18184 fix(github.workflow): update check branch to merge into master
  .github/workflows/release-branch-checker.yaml
Labels: bug, continuous-integration

#18190 feat(shared-static-analysis-kit): make the shared-static-analysis-kit public
  packages/manager/tools/static-analysis-kit/package.json
Labels: feature, continuous-integration, universe-web-cloud, common

#18194 Fix/infra w29
  packages/manager/apps/container/src/core/routing/redirections.tsx
  packages/manager/apps/dedicated/client/app/app.module.js
Labels: bug, universe-bare-metal-cloud, container

#18207 feat(shared-static-analysis-kit): add required configuration for public package
  packages/manager/tools/static-analysis-kit/bin/lint-cli.js
  packages/manager/tools/static-analysis-kit/package.json
  packages/manager/tools/static-analysis-kit/src/configs/prettier-config.ts
  yarn.lock
Labels: feature, dependencies, common

#18070 feat(web-domains): Detail Page Datagrid tooltip
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnRegisteredStatus.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/domainDatagrid/useDomainDatagridColumns.tsx
Labels: feature, universe-web-cloud, translation required

#18231 fix(container): remove ldp link into public cloud section
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: bug, container

#17975 fix(ldp): opensearch api url
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.service.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
Labels: feature, universe-bare-metal-cloud

#17842 feat(vrack-services): use MRC layouts and utils
  packages/manager/apps/vrack-services/__mocks__/iam/iam.ts
  packages/manager/apps/vrack-services/__mocks__/iam/index.ts
  packages/manager/apps/vrack-services/__mocks__/index.ts
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.component.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/PageLayout.component.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/index.ts
  packages/manager/apps/vrack-services/src/components/layout-helpers/layout-helpers.type.ts
  packages/manager/apps/vrack-services/src/pages/DashboardWrapper.page.tsx
  packages/manager/apps/vrack-services/src/pages/create-endpoint/EndpointCreate.spec.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/EndpointsTab.spec.tsx
  packages/manager/apps/vrack-services/src/pages/overview/OverviewTab.page.tsx
  packages/manager/apps/vrack-services/src/test-utils/render-test.tsx
  packages/manager/apps/vrack-services/src/utils/date.spec.ts
  packages/manager/apps/vrack-services/src/utils/date.ts
  packages/manager/apps/vrack-services/tsconfig.json
Labels: feature, universe-bare-metal-cloud

#18171 feat(billing): feature order status for awaiting documents and expired
  packages/manager/modules/billing/src/orders/orders/billing-orders.constant.js
  packages/manager/modules/billing/src/orders/orders/billing-orders.controller.js
  packages/manager/modules/billing/src/orders/orders/billing-orders.html
  packages/manager/modules/billing/src/orders/orders/orders.routing.js
  packages/manager/modules/billing/src/orders/orders/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud

#18227 feat(billing): my services datagrid add renew frequency column
  packages/manager/modules/billing/src/autoRenew/actions/update/update-period-translation.service.js
  packages/manager/modules/billing/src/autoRenew/actions/update/update.constants.js
  packages/manager/modules/billing/src/autoRenew/actions/update/update.controller.js
  packages/manager/modules/billing/src/autoRenew/actions/update/update.service.js
  packages/manager/modules/billing/src/autoRenew/autorenew.constants.js
  packages/manager/modules/billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/billing/src/autoRenew/helpers/period-translator-helper.service.js
  packages/manager/modules/billing/src/autoRenew/services/services.controller.js
  packages/manager/modules/billing/src/autoRenew/services/services.html
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#18228 feat(ips): view virtual mac modal
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/virtual-mac/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/dedicatedServerVmacVirtualAddress.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpVmacDetails.ts
  packages/manager/apps/ips/src/pages/actions/virtualMac/addVirtualMac.page.tsx
  packages/manager/apps/ips/src/pages/actions/virtualMac/addVirtualMac.spec.tsx
  packages/manager/apps/ips/src/pages/actions/virtualMac/viewVirtualMac.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
Labels: feature, translation required

#18158 feat(web-domains): use apiv2 instead of apiv6 and add searchbar
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/__mocks__/alldomService.ts
  packages/manager/apps/web-domains/src/alldoms/__mocks__/serviceInfo.ts
  packages/manager/apps/web-domains/src/alldoms/__mocks__/serviceInfoDetail.ts
  packages/manager/apps/web-domains/src/alldoms/__mocks__/serviceInfoProperty.ts
  packages/manager/apps/web-domains/src/alldoms/components/ActionMenu/ServiceActionMenu.tsx
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnDate.tsx
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnRenewMode.tsx
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnSkeleton.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnRenewMode.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailDomains.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailInformation.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailSubscribing/ServiceDetailSubscribing.component.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailSubscribing/ServiceDetailSubscribingRenewDate.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailSubscribing/ServiceDetailSubscribingRenewMode.tsx
  packages/manager/apps/web-domains/src/alldoms/enum/service.enum.ts
  packages/manager/apps/web-domains/src/alldoms/hooks/allDomDatagrid/useAllDomDatagridColumns.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/allDomDatagrid/useAllDomDatagridColumns.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/data/useGetAllDom.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/data/useGetAllDoms.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/serviceTerminate.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/serviceTerminate.tsx
  packages/manager/apps/web-domains/src/alldoms/setupTests.tsx
  packages/manager/apps/web-domains/src/alldoms/types/index.ts
  packages/manager/apps/web-domains/src/alldoms/utils/utils.spec.ts
Labels: feature, universe-web-cloud, translation required

#18249 feat(common-translations): add upload translations
  packages/manager/modules/common-translations/public/translations/upload/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/upload/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/upload/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/upload/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/upload/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/upload/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/upload/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/upload/Messages_pt_PT.json
  packages/manager/modules/common-translations/src/index.ts
Labels: feature

#18276 fix(mrc): remove margin on baselayout when no tabs are set
  packages/manager-react-components/src/components/templates/base/base.component.tsx
Labels: bug

#18301 feat(container): add redirection to avoid billing history in dedicated
  packages/manager/apps/container/src/core/routing/redirections.tsx
Labels: feature, container

#18257 fix(pci-gateway): remove extra info from title
  packages/manager/apps/pci-gateway/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-gateway/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-gateway/src/pages/list/List.page.tsx
Labels: bug, universe-public-cloud

#18155 fix(pci-private-registry): delete duplicate space for PT language
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_pt_PT.json
Labels: bug, universe-public-cloud

#18201 fix(pci-kubernetes): add close action to modal
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.page.tsx
Labels: bug, universe-public-cloud

#18331 feat(veeam): add disabled status in translation commun
  packages/manager/modules/common-translations/public/translations/status/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/status/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/status/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/status/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/status/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/status/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/status/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/status/Messages_pt_PT.json
Labels: feature, translation required

#18337 fix(core-test-utils): add react import
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods18.ts
Labels: bug, common

#17676 feat(web-ongoing-operations): add zod to check value on update input
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/Update.String.component.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
Labels: feature, universe-web-cloud, translation required

#18294 fix(web.hosting): add info message eol net2ftp
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/ftp/FTP.html
  packages/manager/apps/web/client/app/hosting/ftp/ftp-explorer-eol/hosting-ftp-explorer-eol.controller.js
  packages/manager/apps/web/client/app/hosting/ftp/ftp-explorer-eol/hosting-ftp-explorer-eol.html
  packages/manager/apps/web/client/app/hosting/ftp/hosting-ftp-constants.js
  packages/manager/apps/web/client/app/hosting/hosting.bundle.js
Labels: bug, quality check: ok, universe-web-cloud

#18092 feat(kms): add translations for termination confirmation message
  packages/manager/apps/key-management-service/public/translations/key-management-service/terminate/Messages_en_GB.json
Labels: feature, enabler

#17903 feat(dedicated.pcc): remove nic check on software update
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/update/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/update/update.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/update/update.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/update/update.component.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/update/update.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/update/update.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/update/update.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/update/update.component.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/update/update.html
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/update/update.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/update/update.routing.js
Labels: feature, universe-bare-metal-cloud, universe-hosted-private-cloud

#18135 feat(xdsl-access): adding the GTR display on the access display
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-telecom

#18066 feat(dedicated.cloud-connect): enable logs for ovh cloud-connect
  packages/manager/modules/cloud-connect/package.json
  packages/manager/modules/cloud-connect/src/cloud-connect.constants.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/details/controller.js
  packages/manager/modules/cloud-connect/src/details/details.component.js
  packages/manager/modules/cloud-connect/src/details/details.module.js
  packages/manager/modules/cloud-connect/src/details/details.routing.js
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/data-streams.component.js
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/data-streams.module.js
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/data-streams.routing.js
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/data-streams.template.html
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/index.js
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/logs/data-streams/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/logs/index.js
  packages/manager/modules/cloud-connect/src/details/logs/live-tail/index.js
  packages/manager/modules/cloud-connect/src/details/logs/live-tail/live-tail.component.js
  packages/manager/modules/cloud-connect/src/details/logs/live-tail/live-tail.template.html
  packages/manager/modules/cloud-connect/src/details/logs/logs.constants.js
  packages/manager/modules/cloud-connect/src/details/logs/logs.module.js
  packages/manager/modules/cloud-connect/src/details/logs/logs.routing.js
  packages/manager/modules/cloud-connect/src/details/logs/logs.service.js
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/logs/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/template.html
  packages/manager/modules/cloud-connect/src/details/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/translations/Messages_pt_PT.json
  packages/manager/modules/log-to-customer/src/index.js
Labels: feature, universe-bare-metal-cloud, common

#18260 feat(veeam-backup): using order mrc component when ordering new veeam
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeamStep2.component.tsx
Labels: feature, universe-bare-metal-cloud

#18333 fix(zimbra): fix translations
  packages/manager/apps/zimbra/public/translations/auto-replies/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/common/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/common/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/common/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/common/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/components/badgeStatus/BadgeStatus.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/autoReplies/AutoReplies.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/autoReplies/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/Domains.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/edit/Edit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/EmailAccountsDatagrid.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/Aliases.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/add/Add.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/undoCancel/UndoCancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/mailingLists/MailingLists.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/Organizations.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/Redirections.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/delete/Delete.modal.tsx
Labels: bug, universe-web-cloud

#18291 feat(veeam-backup): handle tile link overflow
  packages/manager/apps/veeam-backup/src/index.scss
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
Labels: feature, universe-bare-metal-cloud

#17954 feat(billing): cancelation page rework
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.controller.js
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.html
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, common

#18365 fix(core): update iceberg filter headers
  packages/manager/core/api/src/iceberg.ts
Labels: bug, common

#18142 feat(ip-rewrite): displaying a relevent disclaimer message when deleting a virtual MAC
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/virtual-mac/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/delete/index.ts
  packages/manager/apps/ips/src/data/api/delete/virtualMac.ts
  packages/manager/apps/ips/src/data/api/get/dedicatedServerVmacVirtualAddress.ts
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpVmacWithIp.ts
  packages/manager/apps/ips/src/pages/actions/virtualMac/deleteVirtualMac.page.tsx
  packages/manager/apps/ips/src/pages/actions/virtualMac/viewVirtualMac.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  yarn.lock
Labels: feature, translation required, dependencies

#18336 feat(core): add filter by tag feature to iam route
  packages/manager/core/api/src/iceberg.ts
Labels: feature, common

#18424 test(managed-vcd): fix random test failures
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.spec.tsx
Labels: bug

#18377 feat(web-domains): add button to order or terminate anycast option
  packages/manager/apps/web-domains/public/translations/domain/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/common/data/api/common.api.ts
  packages/manager/apps/web-domains/src/common/enum/common.enum.ts
  packages/manager/apps/web-domains/src/common/enum/option.enum.ts
  packages/manager/apps/web-domains/src/common/types/common.types.ts
  packages/manager/apps/web-domains/src/domain/components/AnycastOrder/AnycastOrderButton.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/AnycastOrder/AnycastOrderButton.tsx
  packages/manager/apps/web-domains/src/domain/components/AnycastOrder/AnycastTerminateModal.tsx
  packages/manager/apps/web-domains/src/domain/components/AnycastOrder/DnsZoneOrder.tsx
  packages/manager/apps/web-domains/src/domain/components/ServiceDetail/ServiceDetailTabs.tsx
  packages/manager/apps/web-domains/src/domain/data/api/domainResources.ts
  packages/manager/apps/web-domains/src/domain/data/api/domainZone.ts
  packages/manager/apps/web-domains/src/domain/enum/optionState.enum.ts
  packages/manager/apps/web-domains/src/domain/hooks/data/query.ts
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dns/dnsConfiguration.tsx
  packages/manager/apps/web-domains/src/domain/pages/service/serviceDetail/serviceDetail.tsx
  packages/manager/apps/web-domains/src/domain/types/domainResource.ts
Labels: feature, universe-web-cloud, translation required

#18369 feat(manager-react-components): deprecate pci maintenance banner
  packages/manager-react-components/src/components/pci-maintenance-banner/PciMaintenanceBanner.component.tsx
Labels: feature

#18441 fix(pci-db-analytics): fixing translation minor issues in kafka
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/replications/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/connectors/delete/DeleteConnector.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/delete/DeleteReplication.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/topics/_components/AddEditTopic.component.tsx
Labels: bug, universe-public-cloud

#18447 fix(ips): refetch ip description after upsert
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/hooks/ip/useUpsertIpDescription.ts
  packages/manager/apps/ips/src/pages/actions/upsertDescription/upsertDescription.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
Labels: bug, translation required

#18442 feat(pci-databases-analytics): update datastreaming deeplinks
  packages/manager/apps/public-cloud/src/links.json
Labels: feature, universe-public-cloud

#18335 fix(common-translations): add new service status
  packages/manager/modules/common-translations/public/translations/service/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/service/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/service/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/service/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/service/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/service/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/service/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/service/Messages_pt_PT.json
Labels: bug
