Repository ovh/manager, pull requests merged in 2025-09, with the labels that each got.

#18414 feat(web-domains): add new domains app in sidebar
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
Labels: feature, stale, container

#18885 Feat/add localization card
  packages/manager/apps/pci-instances/src/components/localizationCard/LocalizationCard.component.tsx
  packages/manager/apps/pci-instances/src/types/instance/common.type.ts
Labels: feature, universe-public-cloud

#18894 fix(i18n): add missing translations [CDS 4303]
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/compute/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/compute/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/compute/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/compute/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/compute/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_pl_PL.json
Labels: bug

#18728 feat(*): add optional step label to mrc modal
  packages/manager-react-components/src/components/Modal/Modal.component.tsx
  packages/manager-react-components/src/components/Modal/Modal.spec.tsx
  packages/manager-wiki/stories/manager-react-components/components/Modal/Modal.mock.tsx
  packages/manager-wiki/stories/manager-react-components/components/Modal/Modal.stories.tsx
  packages/manager/modules/common-translations/public/translations/form/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/form/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/form/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/form/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/form/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/form/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/form/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/form/Messages_pt_PT.json
Labels: feature, translation required

#18787 chore(*): update CODEOWNERS for web univers
  .github/CODEOWNERS
Labels: feature, continuous-integration

#18907 fix(pci-instances): validate instanceId params to avoid error on generation path
  packages/manager/apps/pci-instances/src/routes/loaders/instanceLegacy.loader.ts
Labels: bug, universe-public-cloud

#18901 fix(pci-instances): migrate ActionMenu to ODS19 and fix button to ghost
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/InstanceGeneralInfoBlock.component.tsx
Labels: bug, universe-public-cloud

#18932 chore(*): update CODEOWNERS for enablers univers
  .github/CODEOWNERS
Labels: feature, continuous-integration

#18930 feat(web.exchange): add offer restriction for logs
  packages/manager/modules/exchange/src/dashboard/exchange.controller.js
  packages/manager/modules/exchange/src/dashboard/exchange.html
  packages/manager/modules/exchange/src/dashboard/exchange.routes.js
Labels: feature, universe-web-cloud, common

#18933 fix(pci-instances): dashboard - rework action popover visuals
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
Labels: bug, universe-public-cloud

#18921 fix(pci-instances): fix warning modal variant
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BillingMonthlyAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/ReinstallAction.page.tsx
Labels: bug, universe-public-cloud

#18911 feat(ips): improve additional ip filtering
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/data/api/get/ipList.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAdditionalIpBlockPricings.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/components/IpDatagrid/IpDatagrid.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterIp.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterQuick.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterType.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/ip.listing.page.tsx
  packages/manager/apps/ips/src/pages/listing/listingContext.tsx
  yarn.lock
Labels: feature, translation required, dependencies

#18928 fix(pci-instances): dashboard - make icons bigger
  packages/manager/apps/pci-instances/src/components/clipboard/Clipboard.component.tsx
  packages/manager/apps/pci-instances/src/components/clipboard/Clipboard.spec.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/InstanceGeneralInfoBlock.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/InstancePropertyBlock.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/NetworkItem.component.tsx
Labels: bug, universe-public-cloud

#18948 Upgrade packages deps for vmware-logs
  packages/manager/apps/hpc-vmware-vsphere/package.json
  yarn.lock
Labels: bug, dependencies

#18959 fix(pci-instances): dashboard - rework create backup modal texts
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupAction.page.tsx
Labels: bug, universe-public-cloud

#18917 fix(pci-instances): display ellipsis when volume name is too long
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/InstancePropertyBlock.component.tsx
Labels: bug, universe-public-cloud

#18920 fix(pci-instances): disable modal cancel button only on pending
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/action/AttachNetwork.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/action/AttachVolume.page.tsx
Labels: bug, universe-public-cloud

#18964 fix(pci-instances): dashboard - rework warning modal text
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/components/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/components/cell/LoadingCell.component.tsx
Labels: bug, universe-public-cloud

#18975 chore(*): cleanup temporary change on workspace
  package.json
Labels: feature

#18968 feat(*): static kit integration in shell-client
  packages/manager/apps/pci-instances/src/components/layout/Layout.component.tsx
  packages/manager/apps/pci-instances/src/hooks/hidePreloader/useHidePreloader.ts
  packages/manager/apps/pci-instances/src/hooks/migration/useSuspendNonMigratedRoutes.tsx
  packages/manager/apps/pci-instances/src/hooks/shellRoutingSync/useShellRoutingSync.ts
  packages/manager/apps/pci-instances/src/pages/404/NotFound.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BillingMonthlyActionPage.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-volume-backup/src/App.tsx
  packages/manager/apps/pci-volume-backup/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/pci-volume-backup/src/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/BadgeRegionType.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupOptionStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/layout.tsx
  packages/manager/apps/pci-volume-snapshot/src/core/HidePreloader.tsx
  packages/manager/apps/pci-volume-snapshot/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-volume-snapshot/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-volume-snapshot/src/pages/Layout.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/create-volume/BadgeRegionType.component.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/create-volume/CreateVolume.page.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/listing/Listing.page.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/core/shell-client/eslint.config.mjs
  packages/manager/core/shell-client/package.json
  packages/manager/core/shell-client/src/ShellContext.ts
  packages/manager/core/shell-client/src/ShellProvider.tsx
  packages/manager/core/shell-client/src/hooks/useBreadcrumb.tsx
  packages/manager/core/shell-client/src/hooks/useEnvironment.ts
  packages/manager/core/shell-client/src/hooks/useNavigation.ts
  packages/manager/core/shell-client/src/hooks/useNavigationGetUrl.ts
  packages/manager/core/shell-client/src/hooks/useOvhTracking.ts
  packages/manager/core/shell-client/src/hooks/useRouteSynchro.ts
  packages/manager/core/shell-client/src/hooks/useRouting.ts
  packages/manager/core/shell-client/src/hooks/useShell.ts
  packages/manager/core/shell-client/src/hooks/useTracking.ts
  packages/manager/core/shell-client/src/hooks/useUX.ts
  packages/manager/core/shell-client/src/initI18n.ts
  packages/manager/core/shell-client/src/initShell.tsx
  packages/manager/core/shell-client/tsconfig.eslint.json
  packages/manager/core/shell-client/tsconfig.json
  yarn.lock
Labels: feature, dependencies, universe-public-cloud, common

#18993 chore(shell-client): publish v0.10.0
  packages/manager/core/shell-client/CHANGELOG.md
  packages/manager/core/shell-client/package.json
Labels: refactor, common

#19010 fix(i18n): add missing translations [CDS 4313]
  packages/manager/modules/vrack/src/order/translations/Messages_en_GB.json
Labels: feature, universe-bare-metal-cloud

#19026 fix(pci-project): translation keys
  packages/manager/apps/pci-project/public/translations/project/Messages_fr_CA.json
  packages/manager/apps/pci-project/public/translations/project/Messages_fr_FR.json
  packages/manager/apps/pci-project/src/pages/home/Header.page.tsx
  packages/manager/apps/pci-project/src/pages/home/Home.page.tsx
  packages/manager/apps/pci-project/src/pages/home/components/BillingItem.component.tsx
  packages/manager/apps/pci-project/src/pages/home/components/BillingItemSkeleton.component.tsx
  packages/manager/apps/pci-project/src/pages/home/components/DashboardTiles.component.tsx
  packages/manager/apps/pci-project/src/pages/home/components/Others.component.tsx
  packages/manager/apps/pci-project/src/pages/home/components/QuickAccess.component.tsx
  packages/manager/apps/pci-project/src/pages/home/components/TileItemContent.component.tsx
  packages/manager/apps/pci-project/src/pages/home/components/useDashboardSections.hook.ts
Labels: bug, translation required, universe-public-cloud

#19043 fix(*): agreements update modal crash
  packages/manager/apps/container/src/helpers/agreements/agreementsHelper.ts
Labels: bug, container

#19034 feat(manager-wiki): correct storybook build
  packages/manager-wiki/stories/core/vite-config/changelog.mdx
  packages/manager-wiki/stories/manager-react-components/components/Dashboard/dashboard.mdx
Labels: bug

#19056 fix(*): fix incorrect pagination params in iceberg fetch
  packages/manager/core/api/src/iceberg.ts
  packages/manager/core/api/src/types/iceberg.type.ts
Labels: bug, common

#19066 fix(manager-react-components): correct breadcrumb href
  packages/manager-react-components/src/hooks/breadcrumb/useBreadcrumb.spec.tsx
  packages/manager-react-components/src/hooks/breadcrumb/useBreadcrumb.tsx
Labels: bug

#19029 feat(pci-block-storage): migrate retype page to ODS19 and drawer
  packages/manager/apps/pci-block-storage/src/components/Encryption.tsx
  packages/manager/apps/pci-block-storage/src/components/VolumeModelTilesInput.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/retype/Retype.page.tsx
Labels: feature, universe-public-cloud

#19160 fix(okms): use smart config to check if CAS is required before adding a version
  packages/manager/apps/key-management-service/src/hooks/useNotificationAddErrorOnce.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/hooks/useSecretSmartConfig.spec.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/hooks/useSecretSmartConfig.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/drawers/createVersionDrawer/CreateVersionDrawer.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/drawers/createVersionDrawer/CreateVersionDrawer.page.tsx
Labels: feature, enabler

#19174 fix(dedicated.vps): fix issue for upgrade backup if no contract
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.controller.js
Labels: bug, universe-bare-metal-cloud

#19088 feat(okms): add warning message on add version drawer
  packages/manager/apps/key-management-service/public/translations/secret-manager/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/mocks/iam/iam.mock.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/mocks/secrets/secrets.handler.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/mocks/secrets/secrets.mock.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/mocks/secrets/secretsMock.utils.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/mocks/versions/versions.handler.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/mocks/versions/versions.mock.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/mocks/versions/versionsMock.utils.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/drawers/createVersionDrawer/CreateVersionDrawer.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/drawers/createVersionDrawer/CreateVersionDrawer.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/drawers/createVersionDrawer/VersionStatusMessage.component.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/drawers/createVersionDrawer/VersionStatusMessage.component.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/drawers/secretValueDrawer/SecretValueDrawer.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/secret/Secret.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/secret/generalInformation/InformationsTile.component.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/secret/versionList/VersionList.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/secretList/SecretList.page.spec.tsx
Labels: feature, translation required, enabler

#19192 chore(okms): use lower case after parenthesis
  packages/manager/apps/key-management-service/public/translations/secret-manager/Messages_fr_FR.json
Labels: refactor, enabler

#19119 fix(ios): disable import ip from sys for US customer
  packages/manager/apps/ips/src/pages/listing/ipListing/ip.listing.page.tsx
Labels: feature

#19042 Add Credit card payment integration
  packages/manager/apps/pci-project/package.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_de_DE.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_en_GB.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_es_ES.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_fr_CA.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_it_IT.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_pl_PL.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/adyen/Messages_pt_PT.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_de_DE.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_en_GB.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_es_ES.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_fr_CA.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_it_IT.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_pl_PL.json
  packages/manager/apps/pci-project/public/translations/payment/integrations/redirect/Messages_pt_PT.json
  packages/manager/apps/pci-project/src/components/payment/DefaultPaymentMethod.tsx
  packages/manager/apps/pci-project/src/components/payment/PaymentMethods.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/PaymentMethods.tsx
  packages/manager/apps/pci-project/src/components/payment/RegisterPaymentMethod.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/RegisterPaymentMethod.tsx
  packages/manager/apps/pci-project/src/components/payment/SetAsDefaultPaymentMethod.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/explanation-texts/PaypalExplanationTexts.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/BankAccountPaymentMethodIntegration.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/BankAccountPaymentMethodIntegration.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/CreditCardPaymentMethodIntegration.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/CreditCardPaymentMethodIntegration.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/CreditPaymentMethodIntegration.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/CreditPaymentMethodIntegration.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/PaymentMethodIntegration.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/PaymentMethodIntegration.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/PaypalPaymentMethodIntegration.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/RedirectPaymentMethodIntegration.spec.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/RedirectPaymentMethodIntegration.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/adyen/constants.ts
  packages/manager/apps/pci-project/src/components/payment/integrations/adyen/hooks/useAdyenSDK.spec.ts
  packages/manager/apps/pci-project/src/components/payment/integrations/adyen/hooks/useAdyenSDK.ts
  packages/manager/apps/pci-project/src/components/payment/integrations/adyen/styles/index.less
  packages/manager/apps/pci-project/src/components/payment/integrations/adyen/utils.spec.ts
  packages/manager/apps/pci-project/src/components/payment/integrations/adyen/utils.ts
  packages/manager/apps/pci-project/src/components/payment/integrations/paypal/components/PayPalButton.tsx
  packages/manager/apps/pci-project/src/components/payment/integrations/paypal/hooks/usePayPalSDK.ts
  packages/manager/apps/pci-project/src/components/payment/integrations/paypal/types.ts
  packages/manager/apps/pci-project/src/data/api/payment/payment-method.spec.ts
  packages/manager/apps/pci-project/src/data/api/payment/payment-method.ts
  packages/manager/apps/pci-project/src/data/hooks/payment/useCart.spec.ts
  packages/manager/apps/pci-project/src/data/hooks/payment/usePaymentMethods.spec.ts
  packages/manager/apps/pci-project/src/data/types/payment/payment-method.type.ts
  packages/manager/apps/pci-project/src/hooks/payment/usePaymentRedirect.spec.ts
  packages/manager/apps/pci-project/src/hooks/payment/usePaymentRedirect.ts
  packages/manager/apps/pci-project/src/hooks/useRedirectAfterProjectSelection.spec.ts
  packages/manager/apps/pci-project/src/pages/contacts/Contacts.page.spec.tsx
  packages/manager/apps/pci-project/src/pages/creation/Creation.page.tsx
  packages/manager/apps/pci-project/src/pages/creation/steps/PaymentStep.spec.tsx
  packages/manager/apps/pci-project/src/pages/creation/steps/PaymentStep.tsx
  packages/manager/apps/pci-project/src/pages/home/edit/general-information-section/GeneralInformationSection.spec.tsx
  packages/manager/apps/pci-project/src/pages/home/edit/remove-section/RemoveSection.spec.tsx
  packages/manager/apps/pci-project/src/setupTests.tsx
  packages/manager/apps/pci-project/src/wrapperRenders.tsx
Labels: feature, translation required, universe-public-cloud

#19118 fix(ips): fix quick filter and ui feedbacks
  packages/manager/apps/ips/public/translations/move-ip/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipList.ts
  packages/manager/apps/ips/src/pages/actions/importIpFromSys/__tests__/importIpFromSys.test-utils.ts
  packages/manager/apps/ips/src/pages/actions/importIpFromSys/components/Step2.tsx
  packages/manager/apps/ips/src/pages/actions/moveIp/components/Step1.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterQuick.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterQuick.tsx
Labels: bug, translation required

#19222 ci(lint-staged): remove eslint fix on pre-commit hook
  .lintstagedrc.json
Labels: continuous-integration

#19230 fix(okms): add okms app codeowners
  .github/CODEOWNERS
Labels: bug, continuous-integration

#19224 fix(pci-instances): fix action modal, ods19 and regionalized call for distant backup instance
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/SelectField.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/ToggleField.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupAction.page.tsx
Labels: bug, universe-public-cloud

#19237 fix(pci-instances): fix calls to regionalized instance creation and reinstall from backup
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: bug, universe-public-cloud

#19053 feat(web-domains): add Manager tile to display domain State and Technical State
  packages/manager/apps/web-domains/public/translations/domain/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/domain/__mocks__/serviceInfoDetail.ts
  packages/manager/apps/web-domains/src/domain/components/BannerStatus/BannerErrorWarning.tsx
  packages/manager/apps/web-domains/src/domain/components/BannerStatus/BannerInfo.tsx
  packages/manager/apps/web-domains/src/domain/components/InformationsCards/GeneralInformations.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/InformationsCards/GeneralInformations.tsx
  packages/manager/apps/web-domains/src/domain/constants/serviceDetail.ts
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/generalInformations/generalInformations.tsx
  packages/manager/apps/web-domains/src/domain/types/domainResource.ts
  packages/manager/apps/web-domains/src/domain/utils/domainStatus.test.ts
  packages/manager/apps/web-domains/src/domain/utils/domainStatus.ts
Labels: feature, universe-web-cloud, translation required, has conflicts

#18486 fix(pci-block-storage): fix guides links
  packages/manager/apps/pci-block-storage/__mocks__/react-router-dom.tsx
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/__tests__/renderWithMockedWrappers.tsx
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/StorageGuidesHeader.component.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/StorageGuidesHeader.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/guidesHeader.constants.ts
  packages/manager/apps/pci-block-storage/src/pages/onboarding/OnBoarding.page.spec.tsx
  packages/manager/apps/pci-block-storage/src/types/record.d.ts
Labels: bug, universe-public-cloud

#18812 feat(web-domains): Resiliation modal improvement
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.tsx
Labels: feature, universe-web-cloud, has conflicts

#19215 feat(pci-instances): refetch instance dashboard on window focus
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/hooks/useDashboard.ts
Labels: feature, universe-public-cloud

#18502 fix(pci-volume-snapshot): change US onboarding guide
  packages/manager/apps/pci-volume-snapshot/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/onboarding/onboarding.constants.ts
Labels: bug, universe-public-cloud

#19225 fix(pci-instances): remove reverse dns display
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/InstanceNetworkingBlock.component.tsx
Labels: bug, universe-public-cloud

#19155 fix(pci-project): fix the notifications translation within the project edit page
  packages/manager/apps/pci-project/src/pages/home/edit/general-information-section/GeneralInformationSection.tsx
  packages/manager/apps/pci-project/src/pages/home/edit/hds-section/HdsSection.tsx
Labels: bug, universe-public-cloud

#19261 test(pci-instances): add mock on useDedicated module
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/hooks/__tests__/useDashboardAction.spec.tsx
Labels: universe-public-cloud

#19267 fix(pci-instance-backups): angular - add trad importing for distant backup
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/instance-backup.class.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/translations/Messages_pt_PT.json
Labels: feature, translation required, universe-public-cloud

#18989 feat(zimbra): show renewal & cancel date on tooltip
  packages/manager/apps/zimbra/public/translations/common/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/common/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/common/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/common/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/components/billingStateBadge/BillingStateBadge.component.tsx
  packages/manager/apps/zimbra/src/components/billingStateBadge/BillingStateBadge.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/EmailAccountsDatagrid.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/slots/SlotsDatagrid.component.tsx
Labels: quality check: ok, feature, universe-web-cloud

#18937 feat(iam): add nic in identities information banner
  packages/manager/modules/iam/src/identities/users/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/identities/users/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/identities/users/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/identities/users/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/identities/users/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/identities/users/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/identities/users/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/identities/users/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/identities/users/users.controller.js
  packages/manager/modules/iam/src/identities/users/users.html
  packages/manager/modules/iam/src/identities/users/users.service.js
Labels: feature

#19265 fix(vmware-vshpere): fix breadcrumb for pcc without description
  packages/manager/apps/hpc-vmware-vsphere/src/hooks/breadcrumb/useHybridBreadcrumb.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/index.tsx
Labels: bug

#19269 fix(vmware-vsphere): fix breadcrumb wrong link during loading
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/index.tsx
Labels: bug

#18833 feat(dedicated): fix tagging combobox
  packages/manager/modules/resource-tagging/package.json
Labels: feature

#19168 fix(dedicated-server): fix onboarding cta
  packages/manager/apps/dedicated-servers/src/pages/onboarding/index.tsx
Labels: bug

#19240 feat(mrc): add id to link component
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/components/typography/links/links.spec.tsx
  packages/manager-wiki/stories/manager-react-components/typography/Links/links.stories.tsx
Labels: feature

#18701 feat(dedicated): add tracking for nsx edge
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.routing.js
Labels: feature, universe-bare-metal-cloud, universe-hosted-private-cloud

#18845 feat(nutanix): fetch server tasks with iceberg and adding filter stat…
  packages/manager/modules/bm-server-components/src/server/server.service.js
  packages/manager/modules/bm-server-components/src/tasks/controller.js
  packages/manager/modules/bm-server-components/src/tasks/index.js
  packages/manager/modules/bm-server-components/src/tasks/template.html
Labels: feature

#18979 refactor(hub): roadmap/changelog: extract hook, colors; add rq provider
  packages/manager/apps/hub/src/__mocks__/ReactQueryWrapper.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/RoadmapChangelogDatagrids.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/cells/RoadmapChangelogItemStatusCell.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/cells/roadmapChangelogItemStatusCell.constants.ts
  packages/manager/apps/hub/src/data/hooks/roadmapChangelog/useRoadmapChangelog.spec.tsx
  packages/manager/apps/hub/src/hooks/roadmapChangelog/useRoadmapChangelogData.tsx
Labels: feature, universe-hub

#19140 feat(kms): redirect from "key-management-service" to "okms"
  packages/manager/apps/container/src/core/routing/redirections.tsx
Labels: feature, container

#18700 feat(vcd): add validation on add network on vrack
  packages/manager/apps/hpc-vmware-public-vcf-aas/package.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_fr_CA.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_pt_PT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/pages/dashboard/datacentre/vrack-segment/add-network/AddNetworkInVrackSegment.page.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflict.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflict.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflictInArray.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflictInArray.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/isGatewayCidr.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/isGatewayCidr.ts
  yarn.lock
Labels: feature, dependencies

#18889 feat(communication): add contacts listing page
  packages/manager/apps/communication/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/communication/public/translations/contacts/Messages_fr_FR.json
  packages/manager/apps/communication/src/components/contactMeanStatus/contactMeanStatus.component.tsx
  packages/manager/apps/communication/src/data/types/contact-mean.type.ts
  packages/manager/apps/communication/src/pages/contacts/Contacts.page.tsx
  packages/manager/apps/communication/src/pages/contacts/contacts.spec.tsx
  packages/manager/apps/communication/src/pages/contacts/index.tsx
  packages/manager/apps/communication/src/routes/routes.tsx
Labels: feature, translation required

#18866 feat(hub): improve roadmap & changelog translation text
  packages/manager/apps/hub/public/translations/changelog/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/changelog/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/changelog/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/changelog/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/changelog/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/changelog/Messages_it_IT.json
  packages/manager/apps/hub/public/translations/changelog/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/changelog/Messages_pt_PT.json
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/RoadmapChangelogDatagrids.tsx
Labels: feature, translation required, universe-hub

#19194 feat(billing): add info banner for payment by cheque option
  packages/manager/modules/billing/src/payment/method/component.js
  packages/manager/modules/billing/src/payment/method/index.html
  packages/manager/modules/billing/src/payment/method/routing.js
  packages/manager/modules/billing/src/payment/method/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/payment/method/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/payment/method/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/payment/method/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/payment/method/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/payment/method/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/payment/method/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/method/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#19350 fix(okms): app id in shell init
  packages/manager/apps/okms/src/index.tsx
  packages/manager/apps/okms/src/routes/routes.tsx
Labels: bug

#19338 fix(container): issue with usecallback in suggestion modal
  packages/manager/apps/container/src/components/suggestion-modal/SuggestionModal.component.tsx
Labels: bug, container

#18778 feat(ips): export ips to csv file functionality
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/public/translations/export-ip-to-csv/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/order/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/index.ts
  packages/manager/apps/ips/src/data/api/get/ipExport.ts
  packages/manager/apps/ips/src/data/hooks/index.ts
  packages/manager/apps/ips/src/data/hooks/useExportIpToCsv.ts
  packages/manager/apps/ips/src/pages/actions/exportIpToCsv/exportIpToCsv.page.tsx
  packages/manager/apps/ips/src/pages/actions/exportIpToCsv/exportIpToCsv.spec.tsx
  packages/manager/apps/ips/src/pages/actions/virtualMac/addVirtualMac.page.tsx
  packages/manager/apps/ips/src/pages/byoip/ByoipOrderModal/ByoipOrderModal.page.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/OrderButtonSection.component.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/ip.listing.page.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/utils/translation.constants.ts
Labels: feature, translation required

#19383 fix(mrc): fix column visibility when id contain dot
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
Labels: feature

#19293 feat(pci-ai-tools): add menu Qpu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: feature, container

#19213 feat(pci-kubernetes): enable etcd
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterETCD.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
Labels: feature, universe-public-cloud

#19260 feat(access-list): use first copper closure date
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.controller.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.html
Labels: universe-telecom

#19316 feat(dedicated): clean 1st of october 2025 eol personal templates banner
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.constants.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
  packages/manager/modules/bm-server-components/src/server/server.service.js
Labels: feature, universe-bare-metal-cloud, translation required

#19263 feat(dedicated): updates getAuthorizableBlocks call
  packages/manager/modules/bm-server-components/src/server/server.service.js
Labels: feature

#18783 Feat/iam cross account improvements
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/accountDelegation.template.html
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/identities/accountIdentities/accountDelegation/translations/Messages_pt_PT.json
Labels: feature, enabler

#18824 fix(dedicated-servers): fix datagrid errors
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/cluster/index.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.tsx
Labels: bug, feature

#19322 feat(container): pnr add observability entry
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/observability.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: feature, translation required, container

#19247 fix(hub): correct displayed status for notpaid orders
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub/src/data/hooks/orderCompleteHistory/useOrderCompleteHistory.tsx
Labels: bug, universe-hub

#18842 feat(billing): add default filter to expired order
  packages/manager/modules/billing/src/orders/orders/billing-orders.constant.js
  packages/manager/modules/billing/src/orders/orders/billing-orders.controller.js
  packages/manager/modules/billing/src/orders/orders/orders.routing.js
  packages/manager/modules/billing/src/orders/orders/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud

#18753 fix(billing): replace invalid status for unpaid services
  packages/manager/modules/billing/src/autoRenew/autorenew.constants.js
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud

#18827 chore(*): unregister modal listener to prevent leaks
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/manager/apps/container/src/components/modal-container/ModalContainer.component.tsx
Labels: feature, container, common

#19273 feat(observability): generate the observability µApp
  packages/manager/apps/observability/README.md
  packages/manager/apps/observability/eslint.config.mjs
  packages/manager/apps/observability/index.html
  packages/manager/apps/observability/package.json
  packages/manager/apps/observability/postcss.config.js
  packages/manager/apps/observability/public/translations/dashboards/Messages_fr_FR.json
  packages/manager/apps/observability/public/translations/metrics/Messages_fr_FR.json
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/setupTests.ts
  packages/manager/apps/observability/src/App.constants.ts
  packages/manager/apps/observability/src/App.tsx
  packages/manager/apps/observability/src/QueryClient.ts
  packages/manager/apps/observability/src/assets/error-banner-oops.png
  packages/manager/apps/observability/src/i18n.ts
  packages/manager/apps/observability/src/index.scss
  packages/manager/apps/observability/src/index.tsx
  packages/manager/apps/observability/src/pages/Main.layout.tsx
  packages/manager/apps/observability/src/pages/dashboards/Dashboards.page.tsx
  packages/manager/apps/observability/src/pages/metrics/Metrics.page.tsx
  packages/manager/apps/observability/src/pages/metrics/tenants/Tenants.page.tsx
  packages/manager/apps/observability/src/pages/not-found/404.page.tsx
  packages/manager/apps/observability/src/routes/Routes.constants.ts
  packages/manager/apps/observability/src/routes/Routes.tsx
  packages/manager/apps/observability/src/routes/Routes.utils.ts
  packages/manager/apps/observability/src/types/ClientApi.type.ts
  packages/manager/apps/observability/src/vite-hmr.ts
  packages/manager/apps/observability/tailwind.config.mjs
  packages/manager/apps/observability/tsconfig.json
  packages/manager/apps/observability/vite.config.mjs
  packages/manager/apps/observability/vitest.config.js
Labels: feature, translation required

#19418 fix(telephony.sva): fix issue on partial onboarding
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kyc/identity/form/form.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/profileTile/profile-tile.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/profileTile/profile-tile.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/statusBanner/status-banner.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/statusBanner/status-banner.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.service.js
Labels: bug, universe-telecom

#19394 fix(pci-instance): distant-backup - react - Adjusments for backup creation modal
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/form/ComboboxField.tsx
  packages/manager/apps/pci-instances/src/components/form/ErrorText.tsx
  packages/manager/apps/pci-instances/src/components/form/InputField.tsx
  packages/manager/apps/pci-instances/src/components/form/ToggleField.tsx
  packages/manager/apps/pci-instances/src/components/form/index.tsx
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/Form.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/InputField.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/SelectField.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/ToggleField.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceBackupPrice.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupAction.page.tsx
Labels: bug, universe-public-cloud

#19439 feat(pc-os): swift and s3 header tabs layout and context
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/src/configuration/polling.constants.ts
  packages/manager/apps/pci-object-storage/src/data/hooks/s3-storage/useGetS3.hook.tsx
  packages/manager/apps/pci-object-storage/src/data/hooks/swift-storage/useGetSwift.hook.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/_components/StorageListColumns.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/add-user-s3/AddUserS3.modal.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/delete/Delete.modal.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/S3.context.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/S3.layout.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/_components/S3Header.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/_components/S3Tabs.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/logs/Logs.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/objects/Objects.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/repilcation/Replication.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/settings/Settings.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/Swift.context.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/Swift.layout.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/_components/SwiftHeader.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/_components/SwiftTabs.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/objects/Objects.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/switch-type/SwitchType.modal.tsx
  packages/manager/apps/pci-object-storage/src/routes/routes.tsx
Labels: feature, translation required, universe-public-cloud

#19380 feat(okms): add current version information
  packages/manager/apps/okms/public/translations/secret-manager/Messages_fr_FR.json
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/secretValueDrawer/SecretValueDrawer.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/secretValueDrawer/SecretValueDrawer.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/secretValueDrawer/VersionSelector.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/secretValueDrawer/VersionSelector.constants.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/Secret.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/generalInformation/InformationsTile.component.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/generalInformation/InformationsTile.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/versionList/VersionCells.component.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/versionList/VersionCells.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/versionList/VersionCells.constants.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/versionList/VersionList.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/versionList/VersionList.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/versionList/delete/DeleteSecretVersionModal.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secretList/SecretList.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/utils/tests/versionList.ts
  packages/manager/apps/okms/src/utils/tests/uiTestHelpers.ts
Labels: feature, translation required
