Repository ovh/manager, pull requests merged in 2025-06, with the labels that each got.

#17360 feat(okms): add new secret-management-service entry and create first routes
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/App.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/detail.page.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/listing.page.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/onboarding.page.tsx
  packages/manager/apps/key-management-service/src/modules/sms/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/modules/sms/routes/routes.tsx
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/tsconfig.json
  packages/manager/apps/key-management-service/vite.config.mjs
  packages/manager/apps/key-management-service/vitest.config.js
Labels: feature, translation required, container, enabler

#16731 feat(cloud-connect): rework on overview general information
  packages/manager/modules/cloud-connect/package.json
  packages/manager/modules/cloud-connect/src/cloud-connect-interface.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect-pop.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/overview/add-pop-configuration/add-pop-configuration.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/components/datacenter-configuration/template.html
  packages/manager/modules/cloud-connect/src/details/overview/components/datacenter-extra/template.html
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/add-extra.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/datacenter-add.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/remove-datacenter.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/remove-extra.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/lock-port/lock-port.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.constants.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/remove-pop-configuration/remove-pop-configuration.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/overview/unlock-port/unlock-port.controller.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.constant.js
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.controller.js
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/statistics/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/template.html
  packages/manager/modules/cloud-connect/src/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-bare-metal-cloud

#17389 feat(web-ongoing-operations): add punycode
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridDomain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/update/Update.tsx
Labels: feature, universe-web-cloud

#17407 test(web-office): add waitFor for callback toHaveBeenCalled
  packages/manager/apps/web-office/src/pages/dashboard/users/orderUsers/OrderUsers.modal.spec.tsx
Labels: bug, universe-web-cloud

#17393 [FEATURE]: Bump vite-plugin-svgr to latest version
  packages/manager/apps/hycu/src/components/Error/Error.tsx
  packages/manager/core/ovh-product-icons/assets-icon-svg/icons.tsx
  packages/manager/core/ovh-product-icons/utils/SvgIconWrapper.tsx
  packages/manager/core/vite-config/package.json
  yarn.lock
Labels: feature, dependencies, common

#17421 fix(project-vmware-logs): fix datacenters url for legacy redirection
  packages/manager/apps/hpc-vmware-vsphere/package.json
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-vsphere/src/routes/routes.tsx
Labels: bug

#16494 feat(web-hosting): remove ssl column on multisite
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
Labels: feature, universe-web-cloud

#17285 feat(kms): secrets onboarding page
  packages/manager/apps/key-management-service/public/translations/secret-management-service/onboarding/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/modules/sms/pages/create.page.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/onboarding.page.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/onboarding/onboarding.page.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/onboarding/onboarding.spec.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/onboarding/onboarding.svg
  packages/manager/apps/key-management-service/src/modules/sms/pages/root/root.page.tsx
  packages/manager/apps/key-management-service/src/modules/sms/pages/root/root.spec.tsx
  packages/manager/apps/key-management-service/src/modules/sms/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/modules/sms/routes/routes.tsx
  packages/manager/apps/key-management-service/src/utils/tests/TestApp.tsx
  packages/manager/apps/key-management-service/src/utils/tests/init.i18n.ts
Labels: feature, translation required, enabler

#16559 feat(web-hosting): create react layout and tabs
  packages/manager/apps/web-hosting/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-hosting/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/web-hosting/src/components/expirationDate/ExpirationDate.component.tsx
  packages/manager/apps/web-hosting/src/data/__mocks__/index.ts
  packages/manager/apps/web-hosting/src/data/__mocks__/webHostingDashboard.ts
  packages/manager/apps/web-hosting/src/data/api/dashboard.ts
  packages/manager/apps/web-hosting/src/data/hooks/webHostingDashboard/useWebHostingDashboard.spec.ts
  packages/manager/apps/web-hosting/src/data/hooks/webHostingDashboard/useWebHostingDashboard.ts
  packages/manager/apps/web-hosting/src/data/type.ts
  packages/manager/apps/web-hosting/src/pages/dashboard/layout.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/ssl/Ssl.page.tsx
  packages/manager/apps/web-hosting/src/routes/routes.constants.ts
  packages/manager/apps/web-hosting/src/routes/routes.tsx
  packages/manager/apps/web-hosting/src/types/ssl.ts
  packages/manager/apps/web-hosting/src/utils/changelog.constants.ts
  packages/manager/apps/web-hosting/src/utils/test.setup.tsx
  packages/manager/apps/web-hosting/src/utils/tracking.constants.ts
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.html
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
Labels: feature, universe-web-cloud, translation required

#16561 feat(web-hosting): add ssl certificate selector enabler
  packages/manager/apps/web-hosting/public/translations/ssl/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/components/topBar/TopBar.component.tsx
  packages/manager/apps/web-hosting/src/components/topBar/TopBar.spec.tsx
  packages/manager/apps/web-hosting/src/data/api/ssl.ts
  packages/manager/apps/web-hosting/src/data/hooks/ssl/useSsl.spec.ts
  packages/manager/apps/web-hosting/src/data/hooks/ssl/useSsl.ts
Labels: feature, universe-web-cloud, translation required, has conflicts

#16672 feat(web-hosting): create ssl new tab and dashboard
  packages/manager/apps/web-hosting/public/translations/ssl/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/hooks/ssl/useDatagridColumn.spec.tsx
  packages/manager/apps/web-hosting/src/hooks/ssl/useDatagridColumn.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/ssl/Ssl.page.tsx
  packages/manager/apps/web-hosting/src/types/ssl.ts
Labels: feature, universe-web-cloud, translation required

#16677 feat(web-hosting): regenerate ssl on datagrid actions
  packages/manager/apps/web-hosting/public/translations/ssl/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/data/api/ssl.ts
  packages/manager/apps/web-hosting/src/data/hooks/ssl/useSsl.ts
  packages/manager/apps/web-hosting/src/hooks/ssl/useDatagridColumn.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/ssl/manage/regenerateSsl.page.tsx
  packages/manager/apps/web-hosting/src/routes/routes.constants.ts
  packages/manager/apps/web-hosting/src/routes/routes.tsx
  packages/manager/apps/web-hosting/src/utils/tracking.constants.ts
Labels: feature, universe-web-cloud, translation required, has conflicts

#16680 feat(web-hosting): export csv for ssl
  packages/manager/apps/web-hosting/public/translations/ssl/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/pages/dashboard/ssl/Ssl.page.tsx
Labels: feature, universe-web-cloud, translation required, has conflicts

#17350 feat(web-domains): react-router migration
  packages/manager/apps/web-domains/src/App.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DatagridColumns/DatagridColumnActionMenu.tsx
  packages/manager/apps/web-domains/src/alldoms/routes/routes.tsx
Labels: feature, universe-web-cloud

#17434 feat(ips): add terminate modal on listing page
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/terminate/terminateIp.page.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
Labels: feature, translation required

#17448 test(hycu): update test config with manager-tests-setup
  packages/manager/apps/hycu/package.json
  packages/manager/apps/hycu/src/components/Error/Error.tsx
  packages/manager/apps/hycu/vitest.config.js
  yarn.lock
Labels: dependencies

#17467 feat(pci-ai-tools:emulators): add new quantum emulators section based…
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/assets/quantum-notebooks.png
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/src/__tests__/helpers/mocks/capabilities/notebookFramework.ts
  packages/manager/apps/pci-ai-tools/src/components/order/framework/FrameworkSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/roadmap-changelog/RoadmapChangelog.component.tsx
  packages/manager/apps/pci-ai-tools/src/configuration/roadmap-changelog.constants.ts
  packages/manager/apps/pci-ai-tools/src/hooks/useQuantum.hook.tsx
  packages/manager/apps/pci-ai-tools/src/pages/dashboard/_components/DashboardHeader.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/Jobs.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/NotebookRoot.layout.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/Notebooks.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/Create.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/_components/useOrderFunnel.hook.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-tools/src/routes/routes.tsx
  packages/manager/apps/public-cloud/src/links.json
Labels: feature, translation required, universe-public-cloud, container

#17418 fix(web-office): use generic modal from mrc
  packages/manager/apps/web-office/src/components/modal/Modal.component.tsx
  packages/manager/apps/web-office/src/index.scss
  packages/manager/apps/web-office/src/pages/dashboard/users/changePasswordUsers/ChangePasswordUsers.modal.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/changePasswordUsers/ChangePasswordUsers.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/deleteUsers/DeleteUsers.modal.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/deleteUsers/DeleteUsers.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/editUsers/EditUsers.modal.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/editUsers/EditUsers.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/orderLicenses/OrderLicenses.modal.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/orderLicenses/OrderLicenses.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/orderUsers/OrderUsers.modal.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/orderUsers/OrderUsers.modal.tsx
Labels: bug, quality check: ok, universe-web-cloud

#17112 fix(web.hosting): add guide for languages versions
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.constants.js
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-web-cloud

#16144 feat(*): manage multi kinds for log to customer
  packages/components/ng-log-live-tail/src/component.js
  packages/components/ng-log-live-tail/src/template.html
  packages/manager/modules/log-to-customer/src/index.js
  packages/manager/modules/log-to-customer/src/list/component.js
  packages/manager/modules/log-to-customer/src/list/controller.js
  packages/manager/modules/log-to-customer/src/list/template.html
  packages/manager/modules/log-to-customer/src/live-tail/template.html
  packages/manager/modules/log-to-customer/src/select-kinds/component.js
  packages/manager/modules/log-to-customer/src/select-kinds/index.js
  packages/manager/modules/log-to-customer/src/select-kinds/template.html
  packages/manager/modules/log-to-customer/src/tiles/controller.js
  packages/manager/modules/log-to-customer/src/translations/Messages_de_DE.json
  packages/manager/modules/log-to-customer/src/translations/Messages_en_GB.json
  packages/manager/modules/log-to-customer/src/translations/Messages_es_ES.json
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_CA.json
  packages/manager/modules/log-to-customer/src/translations/Messages_fr_FR.json
  packages/manager/modules/log-to-customer/src/translations/Messages_it_IT.json
  packages/manager/modules/log-to-customer/src/translations/Messages_pl_PL.json
  packages/manager/modules/log-to-customer/src/translations/Messages_pt_PT.json
Labels: feature, common

#17315 fix(i18n): add missing translations [CDS 4046]
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/modules/iam/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/policies/translations/Messages_it_IT.json
Labels: bug, container

#17403 feat(vcd): add order vcd cta in listing page
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/orderVcdRedirection.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/testIds.constants.ts
  yarn.lock
Labels: feature, dependencies, has conflicts

#17441 fix(billing): fix some regressions on billing pages
  packages/manager/modules/new-billing/src/autoRenew/agreements/popup-agreement/popup-agreement.routes.js
  packages/manager/modules/new-billing/src/autoRenew/services/services.html
Labels: bug

#16742 feat(account): add retry loop on KYC fraud
  packages/manager/modules/account/src/kyc-documents/dashboard/controller.js
  packages/manager/modules/account/src/kyc-documents/dashboard/template.html
Labels: feature

#17316 fix(container): fix navigation tree issues
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Labels: bug, container

#16273 feat(*): migrate from reket to axios
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
  packages/components/ovh-payment-method/package.json
  packages/components/ovh-payment-method/src/ovh-payment-method.js
  packages/components/ovh-shell/package.json
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/shims/reket.d.ts
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/legacy/account-sidebar/PaymentMethod/usePaymentMethod.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/useProjects.tsx
  packages/manager/apps/container/src/container/mfa-enrollment/index.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/index.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/notifications/useNotifications.ts
  packages/manager/apps/container/src/shims/reket.d.ts
  packages/manager/apps/container/src/types/procedure.ts
  packages/manager/apps/procedures/package.json
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/environment/environment.ts
  packages/manager/modules/config/src/index.ts
  packages/manager/modules/config/src/shims/reket.d.ts
  yarn.lock
Labels: feature, dependencies, container, common

#17471 fix(pci-ai-tools:emulators): add quantum section and emulators applic…
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/assets/quantum-notebooks.png
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/src/__tests__/helpers/mocks/capabilities/notebookFramework.ts
  packages/manager/apps/pci-ai-tools/src/components/order/framework/FrameworkSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/roadmap-changelog/RoadmapChangelog.component.tsx
  packages/manager/apps/pci-ai-tools/src/configuration/roadmap-changelog.constants.ts
  packages/manager/apps/pci-ai-tools/src/hooks/useQuantum.hook.tsx
  packages/manager/apps/pci-ai-tools/src/pages/auth/Auth.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/dashboard/_components/DashboardHeader.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/Jobs.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/NotebookRoot.layout.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/Notebooks.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/Create.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/_components/useOrderFunnel.hook.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-tools/src/routes/routes.tsx
  packages/manager/apps/public-cloud/src/links.json
Labels: quality check: ok, feature, universe-public-cloud, container

#17493 fix(billing): put defaultPaymentMean back to autorenew resolve
  packages/manager/modules/new-billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/new-billing/src/autoRenew/services/services.routing.js
Labels: bug

#17476 feat(ips): add upsert ip description option in listing page
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/postorput/index.ts
  packages/manager/apps/ips/src/data/api/postorput/upsertIpDescription.ts
  packages/manager/apps/ips/src/data/hooks/ip/useUpsertIpDescription.ts
  packages/manager/apps/ips/src/pages/actions/configureReverseDns/configureReverseDns.page.tsx
  packages/manager/apps/ips/src/pages/actions/terminate/terminateIp.page.tsx
  packages/manager/apps/ips/src/pages/actions/upsertDescription/upsertDescription.page.tsx
  packages/manager/apps/ips/src/pages/actions/upsertDescription/upsertDescription.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/test-utils/uiTestHelpers.ts
Labels: feature, translation required

#17503 feat(ips.onboarding): keep modes content in english
  packages/manager/apps/ips/public/translations/onboarding/Messages_fr_FR.json
Labels: feature, translation required

#17020 feat(dedicated.dedicated-cloud): adding display name and search file to services list
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/list/dedicatedCloud-list.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/list/dedicatedCloud-list.html
Labels: feature, universe-bare-metal-cloud

#17511 Revert "feat(pci): handle error message
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Labels: universe-public-cloud

#17299 feat(ips): modify ip reverse modal
  packages/manager/apps/ips/mocks/index.ts
  packages/manager/apps/ips/mocks/ip/get-ip-details.json
  packages/manager/apps/ips/mocks/ip/get-ips.json
  packages/manager/apps/ips/mocks/ip/get-ipv6-reverse-for-block.json
  packages/manager/apps/ips/mocks/ip/ip.handler.ts
  packages/manager/apps/ips/public/translations/configure-reverse-dns/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/delete/ipReverse.ts
  packages/manager/apps/ips/src/data/api/get/ipReverse.ts
  packages/manager/apps/ips/src/data/api/postorput/ipReverse.ts
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useDeleteIpReverse.tsx
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpReverse.ts
  packages/manager/apps/ips/src/data/hooks/ip/useUpdateIpReverse.ts
  packages/manager/apps/ips/src/pages/actions/configureReverseDns/configureReverseDns.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpReverse/IpReverse.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpReverse/IpReverse.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/test-utils/test-i18n.ts
  packages/manager/apps/ips/src/utils/ipFormatter.ts
Labels: feature, translation required

#17517 fix(*): loading svgs sidebar after vite-plugin-svgr version bump
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/core/ovh-product-icons/__tests__/SvgIconWrapper.test.tsx
  packages/manager/core/ovh-product-icons/__tests__/iconsRawMap.ts
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/OVHcloud_logo.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/icon-logo-ovh.svg
  packages/manager/core/ovh-product-icons/assets-icon-svg/icons.tsx
  packages/manager/core/ovh-product-icons/icons/containerIcons.ts
  packages/manager/core/ovh-product-icons/package.json
  packages/manager/core/ovh-product-icons/utils/OvhProductNameEnum.ts
  packages/manager/core/ovh-product-icons/vitest.config.js
  packages/manager/core/vite-config/src/config.js
  yarn.lock
Labels: bug, dependencies, container, common

#17544 feat(ips.listing): add configure firewall
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/index.ts
  packages/manager/apps/ips/src/data/api/get/ipGameMitigation.ts
  packages/manager/apps/ips/src/data/api/get/productServices.ts
  packages/manager/apps/ips/src/data/hooks/index.ts
  packages/manager/apps/ips/src/data/hooks/useGetGameMitigation.ts
  packages/manager/apps/ips/src/data/hooks/useGetProductService.ts
  packages/manager/apps/ips/src/pages/configureGameFirewall/configureGameFirewall.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
Labels: feature, translation required

#17510 feat(pci-private-registry): add IAM authentication modal
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-private-registry/src/api/data/IAM.ts
  packages/manager/apps/pci-private-registry/src/api/data/registry.spec.ts
  packages/manager/apps/pci-private-registry/src/api/data/registry.ts
  packages/manager/apps/pci-private-registry/src/api/hooks/useIAMAuthentication.spec.tsx
  packages/manager/apps/pci-private-registry/src/api/hooks/useIAMAuthentication.ts
  packages/manager/apps/pci-private-registry/src/api/hooks/useRegistry.ts
  packages/manager/apps/pci-private-registry/src/components/listing/Action.component.tsx
  packages/manager/apps/pci-private-registry/src/constants.ts
  packages/manager/apps/pci-private-registry/src/hooks/project/useProjectId.ts
  packages/manager/apps/pci-private-registry/src/hooks/registry/usRegistryId.ts
  packages/manager/apps/pci-private-registry/src/pages/IAM/IAMModal/IAMModal.spec.tsx
  packages/manager/apps/pci-private-registry/src/pages/IAM/IAMModal/IAMModal.tsx
  packages/manager/apps/pci-private-registry/src/pages/IAM/ManageIAM.page.tsx
  packages/manager/apps/pci-private-registry/src/routes.tsx
  packages/manager/apps/pci-private-registry/src/schema/formSchema.ts
  packages/manager/apps/pci-private-registry/src/setupTests.ts
  packages/manager/apps/pci-private-registry/src/types/index.ts
Labels: feature, translation required, universe-public-cloud

#15065 feat(manager-react-component): add service state badge component
  packages/manager-react-components/src/components/ServiceStateBadge/ServiceStateBadge.component.spec.tsx
  packages/manager-react-components/src/components/ServiceStateBadge/ServiceStateBadge.component.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-wiki/stories/manager-react-components/components/ServiceStateBadge/ServiceStateBadge.stories.tsx
Labels: feature

#17581 feat(pci-private-registry): display IAM authentication status in regi…
  packages/manager/apps/pci-private-registry/src/components/listing/Action.component.tsx
  packages/manager/apps/pci-private-registry/src/components/listing/RegistryIAMStatus.component.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/useDatagridColumn.tsx
Labels: feature, universe-public-cloud

#17601 test(core.url-builder): migrate to vitest and common config
  packages/manager/core/url-builder/__tests__/url-builder.spec.ts
  packages/manager/core/url-builder/package.json
  packages/manager/core/url-builder/vitest.config.js
Labels: common

#17591 feat(dedicated-servers): fix turbo version
  turbo.json
Labels: bug

#17537 fix(telecom.voip): add url image for phone grandstream ht802
  packages/manager/apps/telecom/src/app/telecom/telephony/line/phone/order/choice/choice.constant.js
Labels: bug, quality check: ok, universe-telecom

#17454 fix(web-office): add the tracking
  packages/manager/apps/web-office/src/guides.constants.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.page.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/changePasswordUsers/ChangePasswordUsers.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/deleteUsers/DeleteUsers.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/editUsers/EditUsers.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/orderLicenses/OrderLicenses.modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/orderUsers/OrderUsers.modal.tsx
  packages/manager/apps/web-office/src/pages/index.tsx
  packages/manager/apps/web-office/src/pages/layout.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/pages/onboarding/index.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/tracking.constants.ts
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Labels: bug, quality check: ok, universe-web-cloud

#17560 chore: update .gitignore to include new .xtmrc file
  .gitignore
Labels: refactor

#17371 fix(iplb): fix frontend edit while removing headers
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, universe-bare-metal-cloud

#17556 fix(dedicated.pcc): fix time update for operations scheduler
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/dedicatedCloud-operation.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/executionDateEdit/dedicatedCloud-operation-executionDateEdit.controller.js
Labels: bug, universe-bare-metal-cloud

#17337 feat(dedicated.pcc): update edit user rights content
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud, translation required

#17446 feat(dedicated.pcc): replace 2API networks by iceberg query
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security-options/dedicatedCloud-security-option-order.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/delete/dedicatedCloud-security-delete.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/configure-access/configure-access.state.js
Labels: feature, universe-bare-metal-cloud

#17191 feat(zimbra): enhance delete modals with targeted entity info
  packages/manager/apps/zimbra/public/translations/accounts/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/alias/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/organizations/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/data/hooks/alias/useAlias.spec.ts
  packages/manager/apps/zimbra/src/data/hooks/alias/useAlias.ts
  packages/manager/apps/zimbra/src/data/hooks/index.ts
  packages/manager/apps/zimbra/src/pages/dashboard/domains/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/delete/Delete.modal.tsx
Labels: quality check: ok, feature, universe-web-cloud

#17276 feat(sign-up): added disabled field for siren number
  packages/manager/modules/sign-up/src/components/siret/siret.html
Labels: feature, sign-up, common

#17433 fix(pci-kubernetes): reset min max node when turning autoscale off
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
Labels: bug, universe-public-cloud

#17508 feat(pci-kubernetes): add deployment mode on kube list
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/pages/list/Mode.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.tsx
Labels: feature, universe-public-cloud

#17582 fix(pci-kubernetes): do not reinit scaling and flavor if toggling cre…
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
Labels: bug, universe-public-cloud

#17147 refactor(hycu): use common translations
  packages/manager/apps/hycu/package.json
  packages/manager/apps/hycu/public/translations/hycu/Messages_fr_FR.json
  packages/manager/apps/hycu/public/translations/hycu/dashboard/Messages_fr_FR.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_de_DE.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_en_GB.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_es_ES.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_fr_CA.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_fr_FR.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_it_IT.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_pl_PL.json
  packages/manager/apps/hycu/public/translations/hycu/error/Messages_pt_PT.json
  packages/manager/apps/hycu/public/translations/hycu/listing/Messages_fr_FR.json
  packages/manager/apps/hycu/public/translations/hycu/onboarding/Messages_fr_FR.json
  packages/manager/apps/hycu/public/translations/hycu/terminate/Messages_fr_FR.json
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.spec.tsx
  packages/manager/apps/hycu/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/BillingInformations/BillingInformationsTile.spec.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/BillingInformations/BillingInformationsTile.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/GeneralInformationsTiles/GeneralInformationsTile.spec.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/GeneralInformationsTiles/GeneralInformationsTile.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/activation-license-modal/ActivationLicenseModal.page.spec.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/activation-license-modal/ActivationLicenseModal.page.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/edit-display-name/EditHycuDisplayName.page.tsx
  packages/manager/apps/hycu/src/pages/dashboard/general-information/regenerate-license-modal/RegenerateLicenseModal.page.tsx
  packages/manager/apps/hycu/src/pages/edit-pack/EditPack.page.tsx
  packages/manager/apps/hycu/src/pages/edit-pack/EditPack.spec.tsx
  packages/manager/apps/hycu/src/pages/listing/Listing.page.tsx
  packages/manager/apps/hycu/src/pages/listing/Listing.spec.tsx
  packages/manager/apps/hycu/src/pages/listing/menu/HycuActionMenu.component.tsx
  packages/manager/apps/hycu/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/hycu/src/pages/order/Order.page.tsx
  packages/manager/apps/hycu/src/pages/order/Order.spec.tsx
  packages/manager/apps/hycu/src/pages/terminate/terminate-hycu.tsx
  packages/manager/apps/hycu/src/utils/tests/init.i18n.ts
Labels: feature, translation required

#17059 feat(vcd): add reset password modal feature
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/password-tile-item/ServicePasswordTileItem.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditPassword.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditPassword.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
Labels: feature, translation required

#17468 feat(pci-object-storage): rename standard infrequent access
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/objects/add/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#17269 feat(account): add a shorcut to the contracts page
  packages/manager/modules/account/src/user/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/user/dashboard/user-dashboard.component.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.constants.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.html
  packages/manager/modules/account/src/user/dashboard/user-dashboard.routing.js
Labels: feature

#17530 fix(web-hosting): update router and vitest config
  packages/manager/apps/web-hosting/package.json
  packages/manager/apps/web-hosting/src/App.tsx
  packages/manager/apps/web-hosting/src/index.tsx
  packages/manager/apps/web-hosting/src/routes/routes.tsx
  packages/manager/apps/web-hosting/vitest.config.js
  packages/manager/apps/web-hosting/vitest.config.mjs
Labels: bug, quality check: ok, universe-web-cloud

#17192 feat(pci-kubernetes): enable region enabling on cluster
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/regions.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAddRegion.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAdmissionPlugin/useAdmissionPlugin.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAvailability.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRegions.ts
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/RegionList.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/RegionSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/useRegionSelector.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterConfirmStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/LocationStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/stepsConfig.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
  packages/manager/apps/pci-kubernetes/src/types/region.ts
Labels: feature, universe-public-cloud

#16230 feat(dedicated): remove old skipnav
  packages/manager/apps/dedicated/client/app/css/less/common/navbar.less
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/modules/cloud-styles/src/common/less/navbar.less
Labels: feature, universe-bare-metal-cloud, common

#17422 feat(web-ongoing-operations): add punycode
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridDomain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/update/Update.tsx
  yarn.lock
Labels: quality check: ok, feature, universe-web-cloud, dependencies

#15957 feat(ci): new infra codeowners for ips app
  .github/CODEOWNERS
Labels: bug, continuous-integration, stale

#17616 fix(dedicated): resolve custom utc time issue
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#17447 feat(netapp-volume): preventing volume creation with oversized snapshots
  packages/manager/modules/netapp/src/dashboard/volumes/create/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
Labels: feature, universe-bare-metal-cloud

#17367 feat(docs): add documentation react templates
  packages/manager-react-components/src/components/content/price/price.utils.ts
  packages/manager-wiki/.storybook/preview.tsx
  packages/manager-wiki/stories/core/common-translations/overview.mdx
  packages/manager-wiki/stories/core/shell-client/documentation.mdx
  packages/manager-wiki/stories/guidelines/adding-new-component.mdx
  packages/manager-wiki/stories/guidelines/display-data.mdx
  packages/manager-wiki/stories/guidelines/github-actions.mdx
  packages/manager-wiki/stories/guidelines/i18n-translations.mdx
  packages/manager-wiki/stories/guidelines/images/mrc-adding-component.png
  packages/manager-wiki/stories/guidelines/images/quality-gates.png
  packages/manager-wiki/stories/guidelines/naming-convention.mdx
  packages/manager-wiki/stories/guidelines/quality-gates.mdx
  packages/manager-wiki/stories/guidelines/templates/config-template.mdx
  packages/manager-wiki/stories/guidelines/templates/dashboard-template.mdx
  packages/manager-wiki/stories/guidelines/templates/images/dashboard-overview.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-actions.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-cta.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-headers.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-page.png
  packages/manager-wiki/stories/guidelines/templates/images/onboarding-flow.png
  packages/manager-wiki/stories/guidelines/templates/listing-template.mdx
  packages/manager-wiki/stories/guidelines/templates/modal-template.mdx
  packages/manager-wiki/stories/guidelines/templates/onboarding-template.mdx
  packages/manager-wiki/stories/manager-react-components/components/Price/price.stories.tsx
  packages/manager-wiki/stories/manager-react-components/hooks/useFormatDate/useFormatDate.stories.tsx
  packages/manager-wiki/stories/manager-react-components/hooks/useIcebergV2/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/hooks/useIcebergV6/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/templates/Onboarding/onboarding.stories.tsx
Labels: feature

#17640 fix(pci-instances): fix the words 'status' in french
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
Labels: bug, translation required, universe-public-cloud

#17642 feat(sap): add tracking to sap-features-hub µapp
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/context/InstallationForm.context.tsx
  packages/manager/apps/sap-features-hub/src/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/general-informations/general-informations.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/initialStep/InstallationInitialStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepDeployment/InstallationStepDeployment.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepServerConfig/InstallationStepServerConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepServerConfig/InstallationStepServerConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSourceInformation/InstallationStepSourceInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/wizardStep/InstallationWizard.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/wizardStep/InstallationWizard.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/listing/InstallationHistory.page.tsx
  packages/manager/apps/sap-features-hub/src/routes/routes.tsx
  packages/manager/apps/sap-features-hub/src/tracking.constant.ts
  packages/manager/apps/sap-features-hub/src/tracking.constants.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Labels: feature

#17527 feat(manager-config): added user related types
  packages/manager/apps/container/src/__tests__/navbar/navbar.spec.tsx
  packages/manager/apps/container/src/hooks/user/useUser.spec.tsx
  packages/manager/apps/pci-ai-tools/src/__tests__/helpers/mocks/user.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/user.ts
  packages/manager/apps/pci-dataplatform/src/__tests__/helpers/mocks/user.ts
  packages/manager/modules/config/src/environment/user/index.ts
  packages/manager/modules/config/src/environment/user/legalForm.ts
  packages/manager/modules/config/src/environment/user/phone.ts
  packages/manager/modules/config/src/environment/user/user.ts
  packages/manager/modules/config/src/locale/country-code.enum.ts
  packages/manager/modules/config/src/locale/locale.constants.ts
Labels: feature, universe-public-cloud, container

#17330 feat(common-translations): add countries, services and actions common…
  packages/manager/modules/common-translations/public/translations/actions/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_pt_PT.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/countries/Messages_pt_PT.json
  packages/manager/modules/common-translations/public/translations/service/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/service/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/service/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/service/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/service/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/service/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/service/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/service/Messages_pt_PT.json
  packages/manager/modules/common-translations/src/index.ts
Labels: feature, translation required

#17700 feat(dedicated): enable virtual machines tab in baremetal
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/datacenter.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/datacenter.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/constants.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/datacenter-virtualMachine.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/datacenter-virtualMachine.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/delete-license/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/index.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/set-license/dedicatedCloud-datacenter-virtualMachine-set-license.module.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/set-license/dedicatedCloud-datacenter-virtualMachine-set-license.routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/virtualMachine/set-license/index.js
Labels: feature, universe-bare-metal-cloud

#17697 fix(zimbra): fix password update in account edit form
  packages/manager/apps/zimbra/src/data/api/account/utils.ts
Labels: bug, quality check: ok, universe-web-cloud

#17710 fix(web-hosting): fix issue svg on onboarding page
  packages/manager/apps/web-hosting/src/pages/onboarding/Onboarding.page.tsx
Labels: bug, universe-web-cloud

#17712 fix(iam): unit test of logs routing
  packages/manager/apps/iam/__tests__/components/logs/live-tail.component.spec.js
  packages/manager/apps/iam/__tests__/logs/logs.routing.spec.js
  packages/manager/modules/iam/src/logs/logs.routing.js
Labels: bug, enabler

#17585 feat(config): extend error response to general unavailability
  packages/manager/modules/config/src/index.ts
Labels: feature

#17696 fix(*): fix typing errors
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/UpdatePolicySelector.component.spec.tsx
  packages/manager/modules/config/src/locale/country-code.enum.ts
Labels: bug, universe-public-cloud

#17675 feat(ola-nics): include the OLA information into the bandwidth display
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.html
  packages/manager/modules/bm-server-components/src/bandwidth-tile/bandwidth-tile.controller.js
  packages/manager/modules/bm-server-components/src/bandwidth-tile/component.js
  packages/manager/modules/bm-server-components/src/bandwidth-tile/template.html
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/ola/component.js
  packages/manager/modules/bm-server-components/src/ola/index.js
  packages/manager/modules/bm-server-components/src/ola/ola.class.js
Labels: feature, universe-bare-metal-cloud, translation required

#17734 Sync/master develop
  .sonarcloud.properties
  packages/manager/apps/pci-instances/.eslintrc.cjs
  packages/manager/apps/pci-instances/CHANGELOG.md
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pt_PT.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_es_ES.json
  packages/manager/apps/pci-instances/setupTests.ts
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/imageSelector/ImageSelector.component.tsx
  packages/manager/apps/pci-instances/src/components/layout/Layout.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/image/selector/image.selector.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/image/selector/image.selector.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/hooks/url/usePathMatch.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupActionPage.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/tsconfig.json
  packages/manager/apps/pci-instances/vite.config.js
  packages/manager/apps/pci-instances/vitest.config.js
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
Labels: translation required, universe-public-cloud

#17726 Sync develop & master
  .sonarcloud.properties
  packages/manager/apps/pci-instances/.eslintrc.cjs
  packages/manager/apps/pci-instances/CHANGELOG.md
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pt_PT.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_es_ES.json
  packages/manager/apps/pci-instances/setupTests.ts
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/imageSelector/ImageSelector.component.tsx
  packages/manager/apps/pci-instances/src/components/layout/Layout.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/image/selector/image.selector.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/image/selector/image.selector.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/hooks/url/usePathMatch.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupActionPage.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/tsconfig.json
  packages/manager/apps/pci-instances/vite.config.js
  packages/manager/apps/pci-instances/vitest.config.js
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
Labels: translation required, universe-public-cloud, has conflicts

#17387 feat(web-ongoing-operations): filters added for operation and status
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
Labels: feature, universe-web-cloud, translation required

#17041 feat(pci-kubernetes): update regex input name of nodepool
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/helpers/matchers/matchers.spec.ts
  packages/manager/apps/pci-kubernetes/src/helpers/matchers/matchers.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/store.ts
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterNameStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
Labels: feature, translation required, universe-public-cloud

#17273 feat(web-hosting): change m4m query for mail charts
  packages/manager/apps/web/client/app/hosting/automated-emails/hosting-automated-emails.controller.js
Labels: feature, universe-web-cloud

#17730 refactor(zimbra): migrate unit test setup
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/EmailAccounts.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/EmailAccountsDatagrid.spec.tsx
  packages/manager/apps/zimbra/vitest.config.js
Labels: universe-web-cloud, refactor

#17504 fix(occ.statistics): display bgp road statitics with good params
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.controller.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#17704 fix(iplb): fix frontend edit while removing headers
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, universe-bare-metal-cloud

#17459 feat(web-ongoing-operations): guide button
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/web-ongoing-operations/src/guides.constants.ts
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.tsx
  packages/manager/apps/web-ongoing-operations/src/utils/utils.spec.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
Labels: feature, universe-web-cloud

#17515 fix(ldp): fix guide links
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/src/index.js
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.constants.js
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/logs-helper.service.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
Labels: bug, universe-bare-metal-cloud

#17452 feat(billing): rename zimbra service name on services page
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud, translation required

#17297 feat(container): network reorder the products & add categories
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Labels: feature, container

#17641 fix(container): rename translation cookie folder to consent-policy
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_pt_PT.json
Labels: bug, container

#17489 feat(manager-cli): add migration status monitor cli
  .gitignore
  packages/manager-cli/manager-cli.mjs
  packages/manager-cli/migrations-status/generate-migrations-status-reports.mjs
  packages/manager-cli/migrations-status/steps/generate-routes-migrations-status-report.mjs
  packages/manager-cli/migrations-status/steps/generate-swc-migrations-status-report.mjs
  packages/manager-cli/migrations-status/steps/generate-tests-migrations-status-report.mjs
  packages/manager-cli/package.json
  packages/manager-cli/routes-migrate/steps/transform-routes-cli.mjs
  packages/manager-cli/tests-migrate/common-tests-config-migration.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateDependencies.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateScripts.mjs
  packages/manager-cli/utils/AppUtils.mjs
  packages/manager-cli/utils/DependenciesUtils.mjs
  packages/manager-cli/utils/ExportUtils.mjs
  packages/manager-cli/utils/ScriptUtils.mjs
  packages/manager-cli/utils/TestUtils.mjs
Labels: feature

#17688 Feat/change zerto wording
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/translations/Messages_fr_FR.json
Labels: feature, continuous-integration, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, documentation, translation required, universe-hub, universe-public-cloud, universe-hosted-private-cloud, container, enabler, common

#17775 fix(iplb): fix frontend edit while removing headers
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: bug, universe-bare-metal-cloud

#17777 revert(account): kyc add retry for upload link retrieval
  packages/manager/modules/account/src/identity-documents/user-identity-documents.controller.js
Labels: revert

#17756 fix(container): prevent auth token refresh on reduced chat
  packages/manager/apps/container/src/container/livechat/LiveChat.component.tsx
Labels: bug, quality check: ok, container

#17796 Revert "fix(iplb): fix frontend edit while removing headers"
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Labels: universe-bare-metal-cloud

#17755 fix(kms): manage users with no permissions to services
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagrid.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagridCells.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.spec.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.type.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/CredentialList.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/updateName/OkmsNameUpdateModal.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.tsx
Labels: bug, enabler

#17265 feat(account-creation): create app and layout
  .github/CODEOWNERS
  packages/manager/apps/account-creation/README.md
  packages/manager/apps/account-creation/index.html
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/postcss.config.js
  packages/manager/apps/account-creation/public/translations/account-info/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/preferences/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/reassurance-wording/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/App.tsx
  packages/manager/apps/account-creation/src/assets/logo-ovhcloud.png
  packages/manager/apps/account-creation/src/assets/side_background.svg
  packages/manager/apps/account-creation/src/context/user/useUser.ts
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.spec.tsx
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/api/me.ts
  packages/manager/apps/account-creation/src/data/api/rules.ts
  packages/manager/apps/account-creation/src/data/hooks/useMe.ts
  packages/manager/apps/account-creation/src/data/hooks/useRules.ts
  packages/manager/apps/account-creation/src/hooks/reassuranceWording/useReassuranceWording.ts
  packages/manager/apps/account-creation/src/i18n.ts
  packages/manager/apps/account-creation/src/index.scss
  packages/manager/apps/account-creation/src/index.tsx
  packages/manager/apps/account-creation/src/pages/ReassuranceWording.component.tsx
  packages/manager/apps/account-creation/src/pages/ReassuranceWording.spec.tsx
  packages/manager/apps/account-creation/src/pages/accountInfo/accountInfo.page.tsx
  packages/manager/apps/account-creation/src/pages/accountType/accountType.page.tsx
  packages/manager/apps/account-creation/src/pages/index.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/pages/preferences/preferences.page.tsx
  packages/manager/apps/account-creation/src/queryClient.ts
  packages/manager/apps/account-creation/src/routes/routes.constant.ts
  packages/manager/apps/account-creation/src/routes/routes.tsx
  packages/manager/apps/account-creation/src/setupTests.ts
  packages/manager/apps/account-creation/src/tracking.constant.ts
  packages/manager/apps/account-creation/src/types/country.ts
  packages/manager/apps/account-creation/src/types/language.ts
  packages/manager/apps/account-creation/src/vite-env.d.ts
  packages/manager/apps/account-creation/src/vite-hmr.ts
  packages/manager/apps/account-creation/tailwind.config.mjs
  packages/manager/apps/account-creation/tsconfig.json
  packages/manager/apps/account-creation/vite.config.mjs
  packages/manager/apps/account-creation/vitest.config.js
  yarn.lock
Labels: feature, continuous-integration, translation required, dependencies

#17803 Revert "fix(kms): manage users with no permissions to services"
  packages/manager/apps/key-management-service/src/components/Listing/ListingCells.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagrid.tsx
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagridCells.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.spec.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.type.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/CredentialList.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/updateName/OkmsNameUpdateModal.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.tsx
Labels: enabler

#17752 feat(pci-kubernetes): add cluster plan in list
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Labels: feature, translation required, universe-public-cloud

#17762 feat(ips): gamefirewall listing page
  packages/manager/apps/ips/mocks/cloud/cloud-project.handler.ts
  packages/manager/apps/ips/mocks/index.ts
  packages/manager/apps/ips/mocks/ip/get-ip-game-firewall.ts
  packages/manager/apps/ips/mocks/ip/ip.handler.ts
  packages/manager/apps/ips/public/translations/game-firewall/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/ips/src/data/api/get/ipGameFirewall.ts
  packages/manager/apps/ips/src/data/api/postorput/index.ts
  packages/manager/apps/ips/src/data/api/postorput/ipGameFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpGameFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/useUpdateIpGameFirewall.ts
  packages/manager/apps/ips/src/pages/configureGameFirewall/configureGameFirewall.page.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/configureGameFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/test-utils/render-test.tsx
  packages/manager/apps/ips/src/test-utils/test-i18n.ts
  packages/manager/apps/ips/src/test-utils/uiTestHelpers.ts
Labels: feature, translation required

#17744 feat(manager-wiki): update doc how to add component
  packages/manager-wiki/stories/guidelines/adding-new-component.mdx
Labels: feature

#17825 feat(ips.listing): add configure edge network firewall
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useIpHasForcedMitigation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useIpHasServiceAttached.ts
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/configureEdgeNetworkFirewall.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
Labels: feature, translation required

#17830 Sync/master-develop
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_pt_PT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/key-management-service/CHANGELOG.md
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/pci-ai-tools/CHANGELOG.md
  packages/manager/apps/pci-ai-tools/package.json
  packages/manager/apps/pci-ai-tools/src/components/order/volumes/volume.const.ts
  packages/manager/apps/pci-ai-tools/src/pages/apps/_components/AppsListFilters.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/dashboard/Dashboard.layout.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/dashboard/Dashboard.layout.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/_components/JobListFilters.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/_components/NotebookListFilters.component.tsx
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/nutanix/src/constants.js
Labels: universe-bare-metal-cloud, translation required, universe-public-cloud, universe-hosted-private-cloud, container, enabler

#17792 Sync develop & master
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/consent-policy/Messages_pt_PT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/key-management-service/CHANGELOG.md
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/pci-ai-tools/CHANGELOG.md
  packages/manager/apps/pci-ai-tools/package.json
  packages/manager/apps/pci-ai-tools/src/components/order/volumes/volume.const.ts
  packages/manager/apps/pci-ai-tools/src/pages/apps/_components/AppsListFilters.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/dashboard/Dashboard.layout.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/dashboard/Dashboard.layout.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/_components/JobListFilters.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/Notebooks.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/_components/NotebookListFilters.component.tsx
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/CHANGELOG.md
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/nutanix/src/constants.js
Labels: universe-bare-metal-cloud, translation required, universe-public-cloud, universe-hosted-private-cloud, has conflicts, container, enabler

#17846 feat(ips.listing): add manage subnet in vrack action
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
Labels: feature, translation required

#16753 feat(pci-instance): allow rescue mode for LZ region instance
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: feature, universe-public-cloud

#17838 fix(account): kyc add retry for upload link retrieval
  packages/manager/modules/account/src/identity-documents/user-identity-documents.controller.js
Labels: bug

#17679 feat(billing): myservices show contracts tab for us
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.routing.js
Labels: feature

#17513 feat(container): change display for us links on user account menu
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/UserLink.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/constants.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
Labels: feature, container

#17219 fix(procedures): add retry to get upload links request
  packages/manager/apps/procedures/src/data/hooks/useProcedures.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.spec.tsx
Labels: bug

#17797 fix(pci-instances): force refetch on window/tab focus @listing page
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Labels: bug, universe-public-cloud

#17430 feat(vcd): add order cta redirection in onboarding pages
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.spec.tsx
Labels: feature

#17834 feat(vcd): update publoc vcf-aas url
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/orderVcdRedirection.constants.ts
Labels: feature

#17324 feat(ldp): enable iam
  packages/manager/modules/dbaas-logs/src/logs/detail/account/setup/logs-account-setup.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/account/setup/logs-account-setup.html
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/home/home.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/home/logs-aliases-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/home/logs-aliases-home.html
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/logs-aliases.service.js
  packages/manager/modules/dbaas-logs/src/logs/detail/dashboards/dashboards.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/dashboards/logs-dashboards.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/dashboards/logs-dashboards.html
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.html
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.service.js
  packages/manager/modules/dbaas-logs/src/logs/detail/index/index.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/index/logs-index.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/index/logs-index.html
  packages/manager/modules/dbaas-logs/src/logs/detail/osd/logs-osd.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/osd/logs-osd.html
  packages/manager/modules/dbaas-logs/src/logs/detail/osd/osd.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/enable-iam/enable-iam.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/enable-iam/logs-iam-enable.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/enable-iam/logs-iam-enable.html
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/logs-roles.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/logs-roles.html
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/roles.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/roles.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/home.component.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/home/logs-streams-home.html
  packages/manager/modules/dbaas-logs/src/logs/header/logs-dashboard-header.controller.js
  packages/manager/modules/dbaas-logs/src/logs/header/logs-dashboard-header.html
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud

#17420 feat(ovh-shell): implement location plugin
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/index.ts
  packages/components/ovh-shell/src/plugin/location/index.ts
  packages/components/ovh-shell/src/shell/index.ts
Labels: feature, container, common
