Repository ovh/manager, pull requests merged in 2025-04, with the labels that each got.

#16306 fix(web.office): fix sidebare for easy switch
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
Labels: bug, container

#16262 feat(tailwind-config): update tailwind config to handle ODS 18
  packages/manager/core/tailwind-config/index.js
Labels: bug, common

#16311 fix(iam): fix LDP tracking with legacy nomenclature
  packages/manager/modules/iam/src/components/logs/data-streams/data-streams.component.js
  packages/manager/modules/iam/src/components/logs/data-streams/data-streams.controller.js
  packages/manager/modules/iam/src/logs/access-policy/data-streams/access-policy-streams.routing.js
  packages/manager/modules/iam/src/logs/audit/data-streams/audit-data-streams.routing.js
  packages/manager/modules/iam/src/logs/logs.constants.js
Labels: bug

#16309 feat(dedicated): add beta badge on tags sections
  packages/manager/modules/bm-server-components/src/server/server.constants.js
  packages/manager/modules/bm-server-components/src/server/server.controller.js
  packages/manager/modules/bm-server-components/src/server/server.html
  packages/manager/modules/resource-tagging/src/dashboard-tile/constants.js
  packages/manager/modules/resource-tagging/src/dashboard-tile/controller.js
  packages/manager/modules/resource-tagging/src/dashboard-tile/template.html
  packages/manager/modules/resource-tagging/src/dashboard-tile/translations/Messages_fr_FR.json
Labels: feature, translation required

#16299 fix(pci-kubernetes): update package json
  packages/manager/apps/pci-kubernetes/package.json
Labels: bug, quality check: ok

#16114 feat(pci.svp): add dataplaform card
  packages/manager/modules/pci/src/projects/project/assets/dataplatform.png
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-public-cloud

#16189 fix(pci): do not open external links in new tabs
  packages/manager/modules/pci/src/projects/projects.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#15094 Feat(pci.ai-tools): create uApp
  .github/CODEOWNERS
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-ai-tools/.gitignore
  packages/manager/apps/pci-ai-tools/README.md
  packages/manager/apps/pci-ai-tools/index.html
  packages/manager/apps/pci-ai-tools/package.json
  packages/manager/apps/pci-ai-tools/postcss.config.cjs
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/src/App.tsx
  packages/manager/apps/pci-ai-tools/src/__tests__/setupTest.ts
  packages/manager/apps/pci-ai-tools/src/components/page-layout/PageLayout.component.tsx
  packages/manager/apps/pci-ai-tools/src/i18n.ts
  packages/manager/apps/pci-ai-tools/src/index.css
  packages/manager/apps/pci-ai-tools/src/main.tsx
  packages/manager/apps/pci-ai-tools/src/pages/404.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/Root.layout.tsx
  packages/manager/apps/pci-ai-tools/src/pages/Root.page.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/Root.page.tsx
  packages/manager/apps/pci-ai-tools/src/query.client.ts
  packages/manager/apps/pci-ai-tools/src/react-app-env.d.ts
  packages/manager/apps/pci-ai-tools/src/routes/Router.tsx
  packages/manager/apps/pci-ai-tools/src/routes/routes.tsx
  packages/manager/apps/pci-ai-tools/src/vite-hmr.ts
  packages/manager/apps/pci-ai-tools/tailwind.config.ts
  packages/manager/apps/pci-ai-tools/tsconfig.build.json
  packages/manager/apps/pci-ai-tools/tsconfig.json
  packages/manager/apps/pci-ai-tools/vite.config.mjs
  packages/manager/apps/pci-ai-tools/vitest.config.js
Labels: quality check: ok, feature, continuous-integration, container

#15965 fix(pci.db): update rows on pagination change
  packages/manager/apps/pci-databases-analytics/src/components/data-table/DataTable.context.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/databases/Database.page.tsx
Labels: bug, quality check: ok, universe-public-cloud

#16303 fix(pci-instances): allow LZ and 3AZ backup images
  packages/manager/modules/pci/src/components/project/images-list/images.class.js
Labels: bug, quality check: ok, universe-public-cloud

#16321 Sync develop & master
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
Labels: container

#16332 Sync develop & master
  .sonarcloud.properties
  packages/manager/apps/account/CHANGELOG.md
  packages/manager/apps/account/package.json
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/catalog/CHANGELOG.md
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/apps/sign-up/CHANGELOG.md
  packages/manager/apps/sign-up/package.json
  packages/manager/modules/account/CHANGELOG.md
  packages/manager/modules/account/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/new-billing/CHANGELOG.md
  packages/manager/modules/new-billing/package.json
  packages/manager/modules/sign-up/CHANGELOG.md
  packages/manager/modules/sign-up/package.json
Labels: universe-bare-metal-cloud, container, sign-up, common

#16187 feat(web-domain): set up base project
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/data/api/web-domains.ts
  packages/manager/apps/web-domains/src/alldoms/enum/service.enum.ts
  packages/manager/apps/web-domains/src/alldoms/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/data/query.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/dashboard/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/layout.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/listing/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/listing/listing.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.tsx
  packages/manager/apps/web-domains/src/alldoms/routes/routes.constant.ts
  packages/manager/apps/web-domains/src/alldoms/routes/routes.tsx
  packages/manager/apps/web-domains/src/alldoms/setupTests.tsx
  packages/manager/apps/web-domains/src/alldoms/types/index.ts
  packages/manager/apps/web-domains/src/alldoms/utils/test.provider.tsx
Labels: feature, universe-web-cloud, translation required

#16280 fix(mrc): handle numeric filters in filter-add component
  packages/manager-react-components/src/components/filters/filter-add.component.tsx
  packages/manager-react-components/src/components/filters/filter-add.spec.tsx
Labels: bug

#16190 feat(web-ongoing-operations): add subfeature on domain_operations
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
Labels: feature, container

#16329 feat(pci.kubernetes): update reset page
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/informations-region.ts
  packages/manager/apps/pci-kubernetes/src/api/data/informations-regions.spec.tsx
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRegionInformations.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRegionInformations.ts
  packages/manager/apps/pci-kubernetes/src/components/network/MultiZoneInfo.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/PlanStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/types/region.ts
Labels: feature, translation required

#16345 fix(resource-tagging): fix scope issue
  packages/manager/modules/resource-tagging/src/assign-tags-modal/controller.js
Labels: bug

#16347 feat(mrc): add load all button to datagrid
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager-react-components/src/components/datagrid/translations/Messages_fr_FR.json
Labels: feature, translation required

#16354 feat(mrc): set datagrid searchbar as input search
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.spec.tsx
  packages/manager/apps/zimbra/src/index.scss
Labels: feature, universe-web-cloud

#16324 fix(web): harmonize email products naming
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_fr_FR.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_de_DE.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_en_GB.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_es_ES.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_fr_CA.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_fr_FR.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_pl_PL.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_pt_PT.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_pt_PT.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_es_ES.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/contacts/service/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/translations/Messages_de_DE.json
  packages/manager/modules/emailpro/src/translations/Messages_en_GB.json
  packages/manager/modules/emailpro/src/translations/Messages_fr_CA.json
  packages/manager/modules/emailpro/src/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/translations/Messages_pl_PL.json
  packages/manager/modules/emailpro/src/translations/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/products/translations/Messages_de_DE.json
  packages/manager/modules/hub/src/components/products/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/products/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pt_PT.json
Labels: bug, universe-web-cloud, universe-bare-metal-cloud, translation required, universe-hub, container

#16312 test(githubaction): add unit test for every changed package
  .github/workflows/commitlint.yaml
  .github/workflows/run-bdd-tests.yml
Labels: feature, continuous-integration

#16367 build(zimbra): update react-hook-form
  packages/manager/apps/zimbra/package.json
  yarn.lock
Labels: bug, universe-web-cloud, dependencies

#16389 build(*): bump pci-common to 0.16.4
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  yarn.lock
Labels: dependencies, universe-public-cloud

#16313 fix(iam): fix EN translation
  packages/manager/modules/iam/src/translations/Messages_en_GB.json
Labels: bug, quality check: ok

#16304 fix(kms): remove duplicate region column in listing
  packages/manager/apps/key-management-service/src/pages/listing/KmsListing.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
Labels: bug, quality check: ok, enabler

#15643 feat(dedicated.license): fix plesk translation
  packages/manager/apps/dedicated/client/app/license/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/license/translations/Messages_pt_PT.json
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#16049 feat(*): few improvements on efs and vrackservice
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/network-configuration/controller.js
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#15612 feat(container): replace legacy navbar spinner with skeletons
  packages/manager/apps/container/src/api/procedure/procedure.constants.ts
  packages/manager/apps/container/src/api/procedure/procedure.ts
  packages/manager/apps/container/src/container/legacy/server-sidebar/Sidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/hooks/procedure/useProcedure.tsx
  packages/manager/apps/container/src/types/procedure.ts
Labels: quality check: ok, feature, container

#15587 feat(billing): add renewal modal replacing page in my services
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.component.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.constants.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.controller.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.html
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.module.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.service.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_pt_PT.json
  packages/manager/modules/billing-components/src/components/services-actions/index.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing-components/src/components/utils/constants.js
Labels: quality check: ok, feature, common

#16370 feat(core-api): add disable cache on iceberg v2 requests
  packages/manager/core/api/src/iceberg.ts
Labels: feature, common

#16104 feat(billing): handle new 2api renew period correctly
  packages/manager/modules/models/BillingService/BillingService.class.js
  packages/manager/modules/new-billing/src/autoRenew/actions/update/automatic/automatic.html
  packages/manager/modules/new-billing/src/autoRenew/actions/update/form/form.controller.js
  packages/manager/modules/new-billing/src/autoRenew/actions/update/update.controller.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.html
Labels: feature, common

#16325 feat(dedicated): remove old ola option section
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/ola/ola-activation.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/ola/ola-activation.routing.js
  packages/manager/modules/bm-server-components/src/ola/index.js
  packages/manager/modules/bm-server-components/src/ola/ola-activation/ola-activation.component.js
  packages/manager/modules/bm-server-components/src/ola/ola-activation/ola-activation.controller.js
  packages/manager/modules/bm-server-components/src/ola/ola-activation/ola-activation.html
  packages/manager/modules/bm-server-components/src/ola/ola-activation/ola-activation.module.js
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/ola/ola-activation/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/ola/ola-step-checker/ola-step-checker.component.js
  packages/manager/modules/bm-server-components/src/ola/ola-step-checker/ola-step-checker.controller.js
  packages/manager/modules/bm-server-components/src/ola/ola-step-checker/ola-step-checker.html
  packages/manager/modules/bm-server-components/src/ola/service.js
Labels: feature, universe-bare-metal-cloud, translation required

#15434 feat(container): added an invitation modal to accept contracts
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/api/agreements.ts
  packages/manager/apps/container/src/api/authorizations.ts
  packages/manager/apps/container/src/api/preferences.ts
  packages/manager/apps/container/src/api/time.ts
  packages/manager/apps/container/src/assets/images/logo-ovhcloud.png
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.component.tsx
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.constants.ts
  packages/manager/apps/container/src/components/AgreementsUpdateModal/AgreementsUpdateModal.spec.tsx
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/context/modals/ModalsProvider.tsx
  packages/manager/apps/container/src/context/modals/index.ts
  packages/manager/apps/container/src/context/modals/modals.context.ts
  packages/manager/apps/container/src/context/modals/useModalManager.spec.tsx
  packages/manager/apps/container/src/context/modals/useModalManager.tsx
  packages/manager/apps/container/src/context/modals/useModals.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/hooks/accountUrn/useAccountUrn.tsx
  packages/manager/apps/container/src/hooks/preferences/usePreferences.ts
  packages/manager/apps/container/src/hooks/time/useTime.ts
  packages/manager/apps/container/src/identity-documents-modal/IdentityDocumentsModal.constants.ts
  packages/manager/apps/container/src/identity-documents-modal/IdentityDocumentsModal.tsx
  packages/manager/apps/container/src/identity-documents-modal/constants.ts
  packages/manager/apps/container/src/payment-modal/PaymentModal.constants.ts
  packages/manager/apps/container/src/payment-modal/PaymentModal.spec.tsx
  packages/manager/apps/container/src/payment-modal/PaymentModal.tsx
  packages/manager/apps/container/src/payment-modal/constants.ts
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/agreements-update-modal/Messages_pt_PT.json
  packages/manager/apps/container/src/setupTests.ts
  packages/manager/apps/container/src/types/agreements.ts
  packages/manager/apps/container/src/types/modal-configuration.type.ts
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.controller.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.html
  packages/manager/modules/account/src/identity-documents/user-identity-documents.routes.js
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/new-billing/src/payment/method/add/routing.js
  yarn.lock
Labels: feature, universe-bare-metal-cloud, dependencies, container, common

#16400 fix(manager-react-component): params not used on iceberg v6 hook
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
Labels: bug

#16289 feat(manager-react-components): add error boundary component
  packages/manager-react-components/src/components/templates/error-boundary/documentation.mdx
  packages/manager-react-components/src/components/templates/error-boundary/error-boundary.component.tsx
  packages/manager-react-components/src/components/templates/error-boundary/error-boundary.stories.tsx
  packages/manager-react-components/src/components/templates/index.ts
Labels: bug

#16223 fix(pci.savings-plan): fix success date
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
Labels: bug, quality check: ok

#16342 fix(pci.databases): change deeplink to new uapp and add valkey deeplink
  packages/manager/apps/public-cloud/src/links.json
Labels: bug, quality check: ok, universe-public-cloud

#15746 fix(svp): prevent multi click on create button
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlan.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
Labels: bug, quality check: ok

#16149 fix(svp): unit vcores and ram
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_de_DE.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_en_GB.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_es_ES.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_fr_CA.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_pl_PL.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_pt_PT.json
Labels: bug

#16379 feat(generator): update prompt and package json
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/i18n.ts
  packages/manager/core/generator/app/templates/src/setupTests.ts
  packages/manager/core/generator/app/templates/tailwind.config.mjs.hbs
  packages/manager/core/generator/app/templates/vitest.config.js
  packages/manager/core/generator/app/universes.constant.js
Labels: feature, common

#16412 fix(error): display homepage button only if required
  packages/manager-react-components/src/components/templates/error/error.component.tsx
Labels: feature

#16413 feat(*): display maintenance mode
  packages/components/ovh-shell/src/client/standalone-shell-client.ts
  packages/components/ovh-shell/src/shell/index.ts
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/App.tsx
  packages/manager/apps/container/src/app.scss
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.spec.tsx
  packages/manager/apps/container/src/index.tsx
  packages/manager/modules/config/src/index.ts
  yarn.lock
Labels: dependencies, container, common

#16416 chore(container): bump mrc version to 1.47.1 for parallel release
  packages/manager/apps/container/package.json
Labels: feature, container

#16443 Sync develop & master
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/CHANGELOG.md
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/vrack-services/CHANGELOG.md
  packages/manager/apps/vrack-services/package.json
  packages/manager/modules/bm-server-components/CHANGELOG.md
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/netapp/CHANGELOG.md
  packages/manager/modules/netapp/package.json
Labels: universe-bare-metal-cloud, universe-hosted-private-cloud

#16406 feat(ips): implement combobox for service list in order
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/setupTest.tsx
  packages/manager/apps/ips/src/components/ComboboxServiceItem/ComboboxServiceItem.component.tsx
  packages/manager/apps/ips/src/pages/order/order.spec.tsx
  packages/manager/apps/ips/src/pages/order/sections/ServiceSelectionSection.component.tsx
  packages/manager/apps/ips/src/test-utils/uiOrderTestHelpers.ts
  packages/manager/apps/ips/src/test-utils/uiTestHelpers.ts
  packages/manager/core/test-utils/src/utils/common-validators.ts
  yarn.lock
Labels: feature, dependencies, common

#16429 feat(pci.kubernetes): add free during beta message
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRegionInformations.spec.ts
  packages/manager/apps/pci-kubernetes/src/components/create/Estimation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PrivateNetworkSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/hooks/useHas3AZRegions.ts
  packages/manager/apps/pci-kubernetes/src/mocks/handlers.ts
  packages/manager/apps/pci-kubernetes/src/mocks/mockAvaibility.ts
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/DeploymentZone.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/DeploymentZone.component.tsx
Labels: feature, translation required

#16137 feat(dedicated): display number vm and number licensed vm in datacenter
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: feature, universe-bare-metal-cloud, translation required

#16322 fix(dedicated): putting error into a badge
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
Labels: bug, universe-bare-metal-cloud

#16440 feat(dedicated): add vm windows tab and fix total vm
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#16259 Feat/manager 14723/ms licence
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/dedicatedCLoud-datacenter-virtualMachine.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/index.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#16447 fix(pci-volume-snapshot): add volumeOption query param on snapshot cr…
  packages/manager/apps/pci-volume-snapshot/src/pages/listing/Listing.page.tsx
Labels: bug

#16472 fix(dedicated): fix badge style for windows vm
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required

#16461 fix(container): fix entry web office on pnr sidebar
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
Labels: bug, quality check: ok, container

#16468 feat(sap-features-hub): add menu entry dashboard
  packages/manager/apps/sap-features-hub/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/tab2/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/InstallationDashboard.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/listing/InstallationHistory.page.tsx
  packages/manager/apps/sap-features-hub/src/routes/routes.constant.ts
  packages/manager/apps/sap-features-hub/src/routes/routes.tsx
Labels: feature, translation required

#16419 build(pci-block-storage): update location type import
  packages/manager/apps/pci-block-storage/src/pages/new/components/LocationStep.component.tsx
Labels: bug

#16451 fix(web.private-database): remove old order link on onboarding page
  packages/manager/apps/web/client/app/private-database/onboarding/onboarding.component.js
  packages/manager/apps/web/client/app/private-database/onboarding/onboarding.controller.js
  packages/manager/apps/web/client/app/private-database/onboarding/onboarding.html
  packages/manager/apps/web/client/app/private-database/onboarding/onboarding.routing.js
  packages/manager/apps/web/client/app/private-database/onboarding/translations/Messages_fr_FR.json
Labels: bug, quality check: ok, universe-web-cloud

#16341 feat(overthebox.detail): display ipv4 and ipv6 if available
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.constant.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.controller.js
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.html
  packages/manager/modules/overthebox/src/overthebox/details/overTheBox-details.service.js
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_CA.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_fr_FR.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_it_IT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-telecom

#15753 fix(web.office): add visibility columns on listing and users datagrid
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
Labels: bug, quality check: ok, universe-web-cloud

#16396 feat(zimbra): add load all button to datagrids
  packages/manager/apps/zimbra/src/hooks/useAccounts.ts
  packages/manager/apps/zimbra/src/hooks/useDomains.ts
  packages/manager/apps/zimbra/src/hooks/useOrganizations.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/Organizations.tsx
Labels: quality check: ok, feature, universe-web-cloud

#16463 fix(nutanix): fix display IPMI tab
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/ipmi/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/ipmi/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/ipmi/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/ipmi/template.html
  packages/manager/modules/bm-server-components/src/ipmi/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/ipmi/template.html
Labels: bug, quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud

#14192 dedicated - cut all APIv6 /me/installationTemplate dependencies
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/installation/gabarit/gabarit.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/installation/gabarit/gabarit.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/dashboard/installation/gabarit/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/gabarit/gabarit.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/gabarit/gabarit.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/gabarit/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/general-information.controller.js
  packages/manager/modules/bm-server-components/src/general-information/general-information.html
  packages/manager/modules/bm-server-components/src/general-information/index.js
  packages/manager/modules/bm-server-components/src/general-information/inputs/inputs.class.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/index.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.component.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/gabarit/server-installation-gabarit.html
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.constants.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
  packages/manager/modules/bm-server-components/src/general-information/installation/progress/server-installation-progress.html
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/server/server.service.js
Labels: quality check: ok, feature, universe-bare-metal-cloud

#16109 fix(iam): add zimbra policies translation keys
  packages/manager/modules/iam/src/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/translations/Messages_pt_PT.json
Labels: bug, quality check: ok

#16371 fix(logs-to-customer): disabled cache on subscription request
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
Labels: bug, quality check: ok

#16439 feat(dedicated): delete license from vm
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/delete-license/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/delete-license/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/dedicatedCLoud-datacenter-virtualMachine.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/delete-license/index.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#16497 Feat/manager 17274/ms licence
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/delete-license/dedicatedCloud-datacenter-virtualMachine-delete-license.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/set-license/dedicatedCloud-datacenter-virtualMachine-set-license.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/set-license/dedicatedCloud-datacenter-virtualMachine-set-license.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/set-license/dedicatedCloud-datacenter-virtualMachine-set-license.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/set-license/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/set-license/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/dedicatedCLoud-datacenter-virtualMachine.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/set-license/dedicatedCloud-datacenter-virtualMachine-set-license.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/set-license/dedicatedCloud-datacenter-virtualMachine-set-license.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/set-license/index.js
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#16081 feat(kms): update service key translations
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/create/Messages_pt_PT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_pt_PT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/listing/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_pt_PT.json
  packages/manager/apps/key-management-service/src/constants.ts
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/listing/KmsListing.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
Labels: feature, enabler

#16476 feat(pci-load-balancer): add title for the region selector
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.tsx
Labels: quality check: ok, feature

#16409 feat(pci-instances): add prices on deployment modes
  packages/manager/modules/pci/src/components/project/deployment-mode-selector/deployment-mode.component.js
  packages/manager/modules/pci/src/components/project/deployment-mode-selector/deployment-mode.html
  packages/manager/modules/pci/src/components/project/deployment-mode-selector/deployment-mode.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: quality check: ok, feature, universe-public-cloud

#16327 fix(pci-instances): add missing private network translations
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-public-cloud

#16314 feat(pci-instances): add license price in missing pages
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/instance/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Labels: quality check: ok, feature, universe-public-cloud

#16330 fix(pci-instances): rename location step
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#16278 fix(pci-instances): add missing 3az link
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#16360 fix(pci-public-ip): land user to step 3 to assign Floating IP from instance
  packages/manager/apps/pci-public-ip/src/api/hooks/useData.ts
  packages/manager/apps/pci-public-ip/src/hooks/order/useStore.ts
  packages/manager/apps/pci-public-ip/src/pages/order/Order.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: bug, quality check: ok

#16294 feat(pci-db): replace roadmap and changelog button
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/App.tsx
  packages/manager/apps/pci-databases-analytics/src/components/roadmap-changelog/RoadmapChangelog.component.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/changelog.constants.ts
  packages/manager/apps/pci-databases-analytics/src/global.css
  packages/manager/apps/pci-databases-analytics/src/pages/services/Services.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-databases-analytics/tailwind.config.mjs
Labels: feature

#16302 feat(billing): add filter and sort on agreements listing page
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.constant.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.service.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.style.less
Labels: feature

#15903 feat(container): add specific text for us guided tour
  packages/manager/apps/container/src/container/nav-reshuffle/onboarding/walkMe/index.tsx
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_pt_PT.json
Labels: feature, container

#16003 fix(billing): rename extra sql perso status type and manage actions
  packages/manager/modules/billing-components/src/components/services-actions/service-actions.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing-components/src/components/utils/constants.js
  packages/manager/modules/models/BillingService/BillingService.class.js
  packages/manager/modules/models/BillingService/billing-service.constants.js
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: feature, common

#16431 feat(pci-public-ip): add title for the region selector
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Labels: quality check: ok, feature

#16404 feat(pci-ai-endpoints-app): add token management page and workflow
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-ai-endpoints/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_de_DE.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_en_GB.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_es_ES.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_fr_CA.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_fr_FR.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_it_IT.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_pl_PL.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_pt_PT.json
  packages/manager/apps/pci-ai-endpoints/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-ai-endpoints/src/components/Token/CreateModal/CreateForm.tsx
  packages/manager/apps/pci-ai-endpoints/src/components/Token/CreateModal/index.tsx
  packages/manager/apps/pci-ai-endpoints/src/components/Token/DeleteModal.tsx
  packages/manager/apps/pci-ai-endpoints/src/components/Token/UpdateModal.tsx
  packages/manager/apps/pci-ai-endpoints/src/components/utils/getTokenQueries.tsx
  packages/manager/apps/pci-ai-endpoints/src/data/api/database/project.api.ts
  packages/manager/apps/pci-ai-endpoints/src/data/api/database/project.spec.ts
  packages/manager/apps/pci-ai-endpoints/src/data/api/database/token.api.ts
  packages/manager/apps/pci-ai-endpoints/src/data/api/database/token.spec.ts
  packages/manager/apps/pci-ai-endpoints/src/data/api/policies/user.api.ts
  packages/manager/apps/pci-ai-endpoints/src/data/api/policies/user.spec.ts
  packages/manager/apps/pci-ai-endpoints/src/hooks/api/database/project/useGetProject.hook.tsx
  packages/manager/apps/pci-ai-endpoints/src/hooks/api/database/project/useGetProject.spec.tsx
  packages/manager/apps/pci-ai-endpoints/src/hooks/api/database/token/useToken.hook.tsx
  packages/manager/apps/pci-ai-endpoints/src/hooks/api/database/token/user.hook.tsx
  packages/manager/apps/pci-ai-endpoints/src/hooks/metric/useDateLocale.hook.spec.tsx
  packages/manager/apps/pci-ai-endpoints/src/hooks/token/useDatagridColumn.spec.ts
  packages/manager/apps/pci-ai-endpoints/src/hooks/token/useDatagridColumns.tsx
  packages/manager/apps/pci-ai-endpoints/src/pages/layout.tsx
  packages/manager/apps/pci-ai-endpoints/src/pages/metrics.page.tsx
  packages/manager/apps/pci-ai-endpoints/src/pages/onboarding.page.tsx
  packages/manager/apps/pci-ai-endpoints/src/pages/token.page.tsx
  packages/manager/apps/pci-ai-endpoints/src/routes/index.tsx
  packages/manager/apps/pci-ai-endpoints/src/types/cloud/project/database/index.ts
  packages/manager/apps/pci-ai-endpoints/src/types/cloud/project/database/project/Project.ts
  packages/manager/apps/pci-ai-endpoints/src/types/cloud/project/database/project/index.tsx
  packages/manager/apps/pci-ai-endpoints/src/types/cloud/project/database/token/Token.ts
  packages/manager/apps/pci-ai-endpoints/src/types/cloud/project/database/token/index.tsx
  packages/manager/apps/pci-ai-endpoints/vite.config.mjs
Labels: quality check: ok, feature, container

#16459 feat(hpc-vmware-vsphere): init new µapp vmware vsphere
  .github/CODEOWNERS
  packages/manager/apps/hpc-vmware-vsphere/README.md
  packages/manager/apps/hpc-vmware-vsphere/index.html
  packages/manager/apps/hpc-vmware-vsphere/package.json
  packages/manager/apps/hpc-vmware-vsphere/postcss.config.js
  packages/manager/apps/hpc-vmware-vsphere/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-vsphere/public/translations/hpc-vmware-vsphere/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-vsphere/public/translations/hpc-vmware-vsphere/error/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-vsphere/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-vsphere/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-vsphere/src/App.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/assets/error-banner-oops.png
  packages/manager/apps/hpc-vmware-vsphere/src/data/api/hpc-vmware-vsphere.ts
  packages/manager/apps/hpc-vmware-vsphere/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/hpc-vmware-vsphere.config.ts
  packages/manager/apps/hpc-vmware-vsphere/src/index.scss
  packages/manager/apps/hpc-vmware-vsphere/src/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/404.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/tab2/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/layout.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/listing/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/listing/listing.spec.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/onboarding/index.scss
  packages/manager/apps/hpc-vmware-vsphere/src/pages/onboarding/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/onboarding/onboarding-img.png
  packages/manager/apps/hpc-vmware-vsphere/src/queryClient.ts
  packages/manager/apps/hpc-vmware-vsphere/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-vsphere/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/tracking.constant.ts
  packages/manager/apps/hpc-vmware-vsphere/src/vite-hmr.ts
  packages/manager/apps/hpc-vmware-vsphere/tailwind.config.mjs
  packages/manager/apps/hpc-vmware-vsphere/tsconfig.json
  packages/manager/apps/hpc-vmware-vsphere/vite.config.mjs
  packages/manager/apps/hpc-vmware-vsphere/vitest.config.js
  yarn.lock
Labels: feature, continuous-integration, translation required, dependencies

#15641 test(container): add test for pnr header component(s)
  .github/workflows/run-bdd-tests.yml
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Button.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/vitest.config.js
Labels: continuous-integration, container

#16532 ci(*): version only pci-common package
  lerna.json
  scripts/release/release.sh
Labels: build, continuous-integration, common

#16544 fix(dedicated): remove space in deactivate action
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.html
Labels: bug, universe-bare-metal-cloud

#16514 feat(manager-react-components): datagrid component add filterVariant and filterLabel props
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
Labels: feature

#16552 fix(web-office): issue for change password
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalChangePasswordUsers.component.tsx
Labels: bug, universe-web-cloud

#16567 build/pci rancher semver types
  packages/manager/apps/pci-rancher/package.json
  yarn.lock
Labels: build, dependencies, universe-public-cloud

#16556 fix(mrc): make card see-more link bottom anchored
  packages/manager-react-components/src/components/navigation/card/card.component.tsx
Labels: bug

#16562 Feat/pci db generate uri with password
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/resetPassword/ResetPassword.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/resetPassword/ResetPassword.spec.tsx
Labels: feature, translation required

#16570 feat(iam): add navigation revamp on legacy menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/SidebarItemRenderer.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Labels: feature, translation required, container

#16575 build(config): remove unused lodash dependency
  packages/manager/modules/config/package.json
Labels: refactor

#16521 fix(pci-instances): align global style to ods design tokens
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
Labels: bug

#16465 fix(web-ongoing-operations): update translation
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/MeContact.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/MeDocument.component.tsx
Labels: bug, universe-web-cloud, translation required

#16536 Fix(web-ongoing-operations): domain tab - disable link on domain column
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridDomain.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
Labels: bug, universe-web-cloud

#16489 fix(web-ongoing-operations): bug contact-management
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/Me.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/MeContact.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/ModalContent.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/nichandle/useNichandle.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.tsx
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
Labels: bug, universe-web-cloud, translation required

#16397 feat(dedicated-servers): bump server listing to react
  packages/components/ng-ui-router-breadcrumb/src/ng-ui-router-breadcrumb.service.js
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
  packages/manager/apps/dedicated-servers/README.md
  packages/manager/apps/dedicated-servers/index.html
  packages/manager/apps/dedicated-servers/package.json
  packages/manager/apps/dedicated-servers/postcss.config.js
  packages/manager/apps/dedicated-servers/public/translations/cluster/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/public/translations/dedicated-servers/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/public/translations/dedicated-servers/error/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/src/App.tsx
  packages/manager/apps/dedicated-servers/src/assets/error-banner-oops.png
  packages/manager/apps/dedicated-servers/src/assets/onboarding-img.png
  packages/manager/apps/dedicated-servers/src/components/actionCell.tsx
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/components/monitoringStatus.tsx
  packages/manager/apps/dedicated-servers/src/components/orderMenu.tsx
  packages/manager/apps/dedicated-servers/src/data/api/dedicated-servers.ts
  packages/manager/apps/dedicated-servers/src/data/constants/changelogLinks.ts
  packages/manager/apps/dedicated-servers/src/data/constants/onboardingLinks.ts
  packages/manager/apps/dedicated-servers/src/data/constants/orderLinks.ts
  packages/manager/apps/dedicated-servers/src/data/types/cluster.type.ts
  packages/manager/apps/dedicated-servers/src/data/types/server.type.ts
  packages/manager/apps/dedicated-servers/src/dedicated-servers.config.ts
  packages/manager/apps/dedicated-servers/src/hooks/useLinkUtils.tsx
  packages/manager/apps/dedicated-servers/src/index.scss
  packages/manager/apps/dedicated-servers/src/index.tsx
  packages/manager/apps/dedicated-servers/src/pages/404.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/cluster/index.spec.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/cluster/index.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/index.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.scss
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.tsx
  packages/manager/apps/dedicated-servers/src/pages/onboarding/index.tsx
  packages/manager/apps/dedicated-servers/src/routes/routes.constant.ts
  packages/manager/apps/dedicated-servers/src/routes/routes.tsx
  packages/manager/apps/dedicated-servers/src/test-utils/TestApp.tsx
  packages/manager/apps/dedicated-servers/src/test-utils/index.ts
  packages/manager/apps/dedicated-servers/src/test-utils/render-test.tsx
  packages/manager/apps/dedicated-servers/src/test-utils/setupTests.tsx
  packages/manager/apps/dedicated-servers/src/test-utils/test-i18n.ts
  packages/manager/apps/dedicated-servers/src/tracking.constant.ts
  packages/manager/apps/dedicated-servers/src/vite-hmr.ts
  packages/manager/apps/dedicated-servers/tailwind.config.mjs
  packages/manager/apps/dedicated-servers/tsconfig.json
  packages/manager/apps/dedicated-servers/vite.config.mjs
  packages/manager/apps/dedicated-servers/vitest.config.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.routing.js
  yarn.lock
Labels: feature, universe-bare-metal-cloud, translation required, dependencies, container, common

#16546 feat(pci-db): add l2c component
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/src/global.css
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Logs.layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Logs.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Logs.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Streams.page.tsx
  packages/manager/apps/pci-databases-analytics/src/routes/routes.tsx
  packages/manager/apps/pci-databases-analytics/tailwind.config.mjs
Labels: feature, translation required

#16554 feat(pci.db): change support link
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
Labels: feature, translation required

#16550 feat(pci.db): fix check on rename and add scrollbar in upgrade flavor…
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/useRenameServiceForm.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updateFlavor/UpdateFlavor.modal.tsx
Labels: bug, translation required

#16558 fix(pci.databases): fix issue on data filter in table and translation
  packages/manager/apps/pci-databases-analytics/src/lib/filters.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/ServiceListFilters.component.tsx
Labels: bug, translation required

#16592 fix(dedicated.vmware): fix host menu switch billing plan
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.constants.js
Labels: bug, quality check: ok, universe-bare-metal-cloud

#16595 feat(pci-gateway): display price in the deployment mode cards
  packages/manager/apps/pci-gateway/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/src/api/hooks/useAddons/useAddons.select.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useDeployments/useDeployments.ts
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
Labels: feature, translation required, universe-public-cloud

#16462 Listing Page - action technical implementation
  packages/manager/apps/web-domains/src/alldoms/components/DatagridColumns/DatagridColumnActionMenu.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/useAllDomDatagridColumns.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/useAllDomDatagridColumns.tsx
Labels: feature, universe-web-cloud

#16430 feat(container): removal of legacy sidebar code from ux plugin
  packages/components/ovh-shell/README.md
  packages/components/ovh-shell/src/client/api.ts
  packages/components/ovh-shell/src/plugin/ux/index.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/wrappers/RouterWithQueryClientWrapper.tsx
Labels: feature, container, common

#16603 feat(ips): add organisationid param for put call
  packages/manager/apps/ips/src/data/api/get/organisationsDetails.ts
  packages/manager/apps/ips/src/data/api/index.ts
  packages/manager/apps/ips/src/data/api/postorput/index.ts
  packages/manager/apps/ips/src/data/api/postorput/organisations.ts
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/OpenOrganisations/OpenOrganisationsModal.page.tsx
Labels: feature

#16627 fix(pci-instances): add ODS17 style to base modal
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BaseAction.page.tsx
Labels: bug

#16622 ci(codeowners): update kms app owners
  .github/CODEOWNERS
Labels: continuous-integration

#16411 fix(container): fix navigation by routing into pnr
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
Labels: bug, container

#16496 feat(pnr): remove veeam cloud connect from pnr
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
Labels: feature, container

#16617 feat(ips): add tooltip on game firewall and ip reverse on group child
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpReverse.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpGameFirewall/IpGameFirewallDisplay.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpReverse/IpReverse.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.tsx
  packages/manager/apps/ips/src/utils/ipFormatter.ts
Labels: feature, translation required

#16491 feat(pci-gateway): add title for the region selector
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
Labels: quality check: ok, feature, universe-public-cloud

#16581 feat(container): update globe svg icon
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/globe.svg
Labels: feature, common

#16333 feat(dedicated): reword delete to cancel for us
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud, translation required

#16485 fix(pci-gateway): get the value of the size input from global store
  packages/manager/apps/pci-gateway/src/pages/add/SizeStep.tsx
Labels: bug, quality check: ok, universe-public-cloud

#16234 feat(hub): update the service wording in the hub
  packages/manager/apps/hub/public/translations/hub/products/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_it_IT.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-hub

#16495 feat(kms): add tracking on guides links
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.spec.tsx
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.tsx
Labels: feature, enabler

#16571 feat(managed-vcd): add IOPS unit for perfomance class
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/storage/StorageOrderCells.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/label.constants.ts
Labels: quality check: ok, feature

#16407 fix(container): fix assitance menu button overlap
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceSidebar.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/product-nav-reshuffle.context.ts
Labels: bug, container

#16174 fix(cloud-connect): occ content modifications
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/template.html
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#16519 feat(dedicated.byoip): update guide links
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.constants.js
Labels: feature, universe-bare-metal-cloud

#16337 feat(netapp): modify efs snapshot reserve space
  packages/manager/modules/netapp/src/dashboard/volumes/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-reserve-space/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-reserve-space/constant.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-reserve-space/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-reserve-space/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-reserve-space/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-reserve-space/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-reserve-space/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/edit-reserve-space/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/edit-reserve-space/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/edit-reserve-space/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/edit-reserve-space/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/edit-reserve-space/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/edit-reserve-space/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
Labels: quality check: ok, feature, universe-bare-metal-cloud, translation required

#16466 fix(dedicated): remove polling when vrack is expired
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
Labels: bug, universe-bare-metal-cloud

#16358 feat(dedicated): add guide links on iplb and vrack
  packages/manager/modules/iplb/src/dashboard/iplb-url.constants.js
  packages/manager/modules/iplb/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.controller.js
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
  packages/manager/modules/iplb/src/iplb.constant.js
  packages/manager/modules/iplb/src/listing/listing.component.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/dashboard/vrack.component.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
  packages/manager/modules/vrack/src/dashboard/vrack.routing.js
  packages/manager/modules/vrack/src/listing/listing.component.js
  packages/manager/modules/vrack/src/listing/listing.controller.js
  packages/manager/modules/vrack/src/listing/listing.html
  packages/manager/modules/vrack/src/listing/listing.route.js
  packages/manager/modules/vrack/src/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/translations/Messages_en_GB.json
  packages/manager/modules/vrack/src/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/vrack.constant.js
Labels: quality check, feature, universe-bare-metal-cloud, translation required

#16487 feat(managed-vcd): add guides on listing and dashboard
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/guide/VcdGuidesHeader.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
Labels: feature

#16199 feat(hpc-managed-vcd): add tooltip on cancel service
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/cancellation-tile-item/CancellationTileItem.tsx
Labels: feature

#16531 feat(veeam-backup): guides implementation on dashboard and listing
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_de_DE.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_en_GB.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_es_ES.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_fr_CA.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_it_IT.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_pl_PL.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_pt_PT.json
  packages/manager/apps/veeam-backup/src/components/Guide/VeeamGuidesHeader.spec.tsx
  packages/manager/apps/veeam-backup/src/components/Guide/VeeamGuidesHeader.tsx
  packages/manager/apps/veeam-backup/src/hooks/guide/guidesLinks.constant.ts
  packages/manager/apps/veeam-backup/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/listing.spec.tsx
Labels: feature, universe-bare-metal-cloud

#16432 feat(dedicated): add guides on listing and dashboard pcc
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/dedicatedCloud-guides.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/dedicatedCloud-guides.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/dedicatedCloud-guides.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/dedicatedCloud-guides.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/guides/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/list/dedicatedCloud-list.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/list/index.js
Labels: feature, universe-bare-metal-cloud, translation required

#16602 feat(dedicated): add guid link for ip listing
  packages/manager/apps/dedicated/client/app/app.less
  packages/manager/apps/dedicated/client/app/ip/ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud

#16643 fix(pci-instances): make action modal resilient over usage
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useCachedInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupActionPage.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BaseAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/RescueAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
Labels: bug

#16094 fix(dedicated): base configuration link by subsidiaries
  packages/manager/apps/dedicated/client/app/config/constants.config.js
  packages/manager/apps/dedicated/client/app/configuration/configuration.controller.js
  packages/manager/modules/account/src/config/constants.config.js
  packages/manager/modules/new-billing/src/config/constants.config.js
Labels: bug, quality check, universe-bare-metal-cloud

#16645 build(react-shell-client): bump config & at-internet
  packages/manager/core/shell-client/package.json
Labels: build, common

#16657 build(*): update yarn.lock
  yarn.lock
Labels: build, dependencies

#16565 fix(vcd): fix unit test
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
Labels: bug

#16656 build(deps-dev): bump vite to 5.4.18
  package.json
  packages/manager-react-components/package.json
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-volume-snapshot/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/procedures/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/core/test-utils/package.json
  packages/manager/modules/common-api/package.json
  packages/manager/modules/common-translations/package.json
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/vcd-api/package.json
  yarn.lock
Labels: build, universe-web-cloud, dependencies, universe-hub, universe-public-cloud, container, common

#16582 fix(quota): quota page issues
  packages/manager/apps/pci-quota/public/translations/quotas/increase/Messages_fr_FR.json
  packages/manager/apps/pci-quota/src/pages/quota/IncreaseQuotaSupport.page.tsx
Labels: bug, quality check: ok, translation required

#16661 feat(ips.listing): add guide links
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/pages/listing/index.tsx
  packages/manager/apps/ips/src/utils/changelog.constants.ts
  packages/manager/apps/ips/src/utils/index.ts
  packages/manager/apps/ips/src/utils/links.constants.ts
Labels: feature, translation required

#16649 fix(pci-instances): fix hidden icon display on mobile
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
Labels: bug

#15199 feat(container): update beta modal
  packages/manager/apps/container/src/container/common/pnr-beta-modal/NavReshuffleBetaAccessModalLegacy.tsx
  packages/manager/apps/container/src/container/common/pnr-beta-modal/index.tsx
  packages/manager/apps/container/src/container/common/pnr-beta-modal/style.module.scss
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/legacy/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/container/container.constants.ts
  packages/manager/apps/container/src/core/container/container.context.ts
  packages/manager/apps/container/src/core/container/index.ts
  packages/manager/apps/container/src/core/container/localStorage.ts
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_pt_PT.json
Labels: feature, container

#16699 fix(dedicated): fix default tag display
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/tag-manager/tag-assign/tag-assign.routing.js
  packages/manager/modules/resource-tagging/src/service.js
Labels: bug, universe-bare-metal-cloud

#16709 fix(pci-instances): ensure no cache when comes to polling
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useCachedInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
Labels: bug

#16723 feat(mrc): export modal component
  packages/manager-react-components/src/components/Modal/index.ts
  packages/manager-react-components/src/components/index.ts
Labels: feature

#16685 feat(web-office): change folder structure for mock naming
  packages/manager/apps/web-office/src/data/api/__mocks__/index.ts
  packages/manager/apps/web-office/src/data/api/__mocks__/license.ts
  packages/manager/apps/web-office/src/data/api/__mocks__/order.ts
  packages/manager/apps/web-office/src/data/api/__mocks__/parentTenant.ts
  packages/manager/apps/web-office/src/data/api/__mocks__/price.ts
  packages/manager/apps/web-office/src/data/api/__mocks__/serviceInfos.ts
  packages/manager/apps/web-office/src/data/api/__mocks__/usageStatistics.ts
  packages/manager/apps/web-office/src/data/api/__mocks__/user.ts
  packages/manager/apps/web-office/src/data/hooks/licenseDetails/useLicenseDetails.spec.ts
  packages/manager/apps/web-office/src/data/hooks/licenses/useLicenses.spec.ts
  packages/manager/apps/web-office/src/data/hooks/orderCatalog/useOrderCatalog.spec.ts
  packages/manager/apps/web-office/src/data/hooks/parentTenant/useParentTenant.spec.ts
  packages/manager/apps/web-office/src/data/hooks/serviceInfos/useServiceInfos.spec.ts
  packages/manager/apps/web-office/src/data/hooks/serviceType/useServiceType.spec.ts
  packages/manager/apps/web-office/src/data/hooks/userDetail/useUserDetail.spec.ts
  packages/manager/apps/web-office/src/data/hooks/users/useUsers.spec.ts
  packages/manager/apps/web-office/src/pages/dashboard/consumption/Consumption.page.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/generalInformation/GeneralInformation.page.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/generalInformation/updateDisplayName/UpdateDisplayName.modal.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.page.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/editUsers/EditUsers.modal.spec.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Labels: feature, universe-web-cloud

#16683 fix(web-domains): Listing Page - action renew
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/__mocks__/serviceInfoDetail.ts
  packages/manager/apps/web-domains/src/alldoms/components/DatagridColumns/DatagridColumnActionMenu.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.spec.tsx
Labels: feature, universe-web-cloud, translation required

#16665 fix(procedures): resolve select issue when changing user type
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.page.tsx
Labels: bug

#16733 refactor(*): rename mocks folder to __mocks__
  packages/manager-react-components/src/__mocks__/images.tsx
  packages/manager-react-components/src/__mocks__/stepper.ts
  packages/manager-react-components/src/__mocks__/tiles-input.ts
  packages/manager-react-components/src/components/input/tiles/tiles-input.stories.tsx
  packages/manager/apps/hub/src/__mocks__/billingServices.ts
  packages/manager/apps/hub/src/__mocks__/catalog.ts
  packages/manager/apps/hub/src/__mocks__/products.ts
  packages/manager/apps/hub/src/components/products/Products.spec.tsx
  packages/manager/apps/hub/src/data/hooks/catalog/useCatalog.spec.tsx
  packages/manager/apps/hub/src/hooks/products/useProducts.spec.tsx
  packages/manager/apps/hub/src/pages/dashboard/dashboard.test.tsx
  packages/manager/apps/pci-rancher/src/__mocks__/catalog.ts
  packages/manager/apps/pci-rancher/src/__mocks__/images.tsx
  packages/manager/apps/pci-rancher/src/__mocks__/pciProject.ts
  packages/manager/apps/pci-rancher/src/__mocks__/rancher-resource.ts
  packages/manager/apps/pci-rancher/src/__mocks__/rancher.ts
  packages/manager/apps/pci-rancher/src/__mocks__/version.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccessModal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/UpdateSoftwareConfirmModal/UpdateSoftwareConfirmModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Pricing/RancherPlanTile.test.tsx
  packages/manager/apps/pci-rancher/src/components/Table/ActionsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/UpdateRancherVersionBanner/UpdateVersionBanner.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/updateSoftware/UpdateSoftware.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/Listing.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/utils/rancher.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancherPrices.test.ts
  packages/manager/apps/pci-savings-plan/src/__mocks__/commercial-catalog/pricing.ts
  packages/manager/apps/pci-savings-plan/src/__mocks__/commercial-catalog/technical.ts
  packages/manager/apps/pci-savings-plan/src/__mocks__/pciProject.ts
  packages/manager/apps/pci-savings-plan/src/__mocks__/savingsPlan.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/formatter.test.ts
  packages/manager/modules/network-common/src/vrack/mocks/index.ts
  packages/manager/modules/order/__mocks__/cart.ts
  packages/manager/modules/order/__mocks__/index.ts
  packages/manager/modules/order/__mocks__/order-details.ts
  packages/manager/modules/order/tsconfig.json
Labels: refactor, universe-hub, universe-public-cloud, common

#16563 feat(manager-react-components): add position props to actionmenu comp…
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.spec.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.stories.tsx
Labels: feature

#16726 fix(dedicated): size of partition that fills remaining size of disk(s)
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
Labels: bug

#16469 fix(billing): fix services retrieval in pay as you go page
  packages/manager/apps/dedicated/client/app/components/services/services.constants.js
  packages/manager/apps/dedicated/client/app/components/services/services.service.js
  packages/manager/modules/billing/src/main/payAsYouGo/billing-main-pay-as-you-go.controller.js
  packages/manager/modules/new-billing/src/constants/servicesHelper.constants.js
  packages/manager/modules/new-billing/src/main/payAsYouGo/billing-main-pay-as-you-go.controller.js
  packages/manager/modules/new-billing/src/services/servicesHelper.service.js
Labels: bug, universe-bare-metal-cloud

#16764 fix(web): add error message when procedure is ongoing
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.html
  packages/manager/apps/web/client/app/domain/general-informations/general-information.constants.js
  packages/manager/apps/web/client/app/domain/tasks/TASKS.html
Labels: bug, universe-web-cloud, translation required

#16668 feat(billing): add filter and sort on agreements listing page
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.constant.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.service.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.style.less
Labels: feature

#16732 feat(vcd): add vrack-network page for datacenter
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/vrack-network/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackNetwork/VrackNetworkDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackNetwork/VrackNetworkDatagrid.test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackNetwork/VrackNetworkDatagridSubDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-network/VrackNetwork.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/test-i18n.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/tracking.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/labels.constants.ts
  packages/manager/modules/vcd-api/src/api/vcd-vrack-network.ts
  packages/manager/modules/vcd-api/src/hook/index.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackNetwork.ts
  packages/manager/modules/vcd-api/src/mocks/index.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vcd-datacentre-vrack-segment.mock.ts
  packages/manager/modules/vcd-api/src/types/index.ts
  packages/manager/modules/vcd-api/src/types/vcd-vrack-segment.type.ts
  packages/manager/modules/vcd-api/src/utils/apiRoutes.ts
  packages/manager/modules/vcd-api/src/utils/queryKeys.ts
Labels: feature, translation required
