Repository ovh/manager, pull requests merged in 2025-10, with the labels that each got.

#19453 fix(*): shell typescript issues
  packages/manager/core/shell-client/package.json
  packages/manager/core/shell-client/src/ShellContext.ts
  packages/manager/core/shell-client/src/index.ts
Labels: bug, common

#19442 fix(vmware-vsphere): add beta tag on logs tabs
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/index.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/types/DashboardTabItem.ts
Labels: bug, universe-bare-metal-cloud

#19452 feat(vmware-vsphere): disable logs action for trusted NIC
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/logs/logs.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/components/logs/logs.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Labels: feature, universe-bare-metal-cloud

#19475 feat(*): add loose types calculation to types reports
  packages/manager-tools/manager-static-analysis-kit/bin/types-coverage-cli.js
  packages/manager-tools/manager-static-analysis-kit/src/adapters/types-coverage/helpers/types-coverage-analysis-helper.ts
  packages/manager-tools/manager-static-analysis-kit/src/adapters/types-coverage/types/TypesCoverage.ts
  packages/manager-tools/manager-static-analysis-kit/src/configs/types-coverage-config.ts
Labels: feature

#19445 fix(ips): fixing lint errors on the ip-revamp branch
  packages/manager/core/utils/package.json
  packages/manager/core/utils/src/hasSameStringElements/hasSameStringElements.spec.ts
  packages/manager/core/utils/src/hasSameStringElements/index.ts
  packages/manager/core/utils/src/index.ts
Labels: bug, common

#19481 feat(*): enhance code duplication reporting
  packages/manager-tools/manager-static-analysis-kit/bin/utils/args-parse-utils.js
  packages/manager-tools/manager-static-analysis-kit/src/adapters/code-duplication/helpers/code-duplication-analysis-helper.ts
  packages/manager-tools/manager-static-analysis-kit/src/adapters/code-duplication/types/CodeDuplication.ts
  packages/manager-tools/manager-static-analysis-kit/src/configs/code-duplication-config.ts
Labels: feature

#19480 fix(ips): fixing the ipAlert detection and antihack unblock page
  packages/manager/apps/ips/public/translations/anti-hack/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/hooks/ip/useIpHasAlerts.ts
  packages/manager/apps/ips/src/pages/actions/antiHack/unblockAntiHack.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAlerts/IpAlerts.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
Labels: bug, translation required

#19484 fix(ips): fixing the organisation region detection
  packages/manager/apps/ips/src/pages/order/sections/OrganisationSection.component.tsx
Labels: bug

#19486 fix(pci-instances): angular - fix image name missing error
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
Labels: bug, universe-public-cloud

#19214 feat(pci-kubernetes): add reset kubeconfig for 3az
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
Labels: feature, universe-public-cloud

#19346 feat(pci-private-registry): select default 3-az tile
  packages/manager/apps/pci-private-registry/src/pages/create/steps/RegionStep.spec.tsx
  packages/manager/apps/pci-private-registry/src/pages/create/steps/RegionStep.tsx
  packages/manager/apps/pci-private-registry/src/setupTests.ts
Labels: feature, universe-public-cloud

#19437 fix(telecom.sms): add some rule on time2chat form
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.component.js
  packages/manager/modules/sms/src/sms/dashboard/telecom-sms-dashboard.controller.js
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/telecom-sms-configure-time2chat.controller.js
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/telecom-sms-configure-time2chat.html
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/senders/telecom-sms-senders.controller.js
  packages/manager/modules/sms/src/sms/senders/telecom-sms-senders.html
  packages/manager/modules/sms/src/sms/telecom-sms.routing.js
Labels: bug, universe-telecom, translation required

#19506 feat(pci-ai-tools): add error boundary into pci ai tools
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/src/components/error-boundary/ErrorBoundary.component.tsx
  packages/manager/apps/pci-ai-tools/src/routes/routes.tsx
Labels: feature, translation required, universe-public-cloud

#19275 feat(dedicated): update english trade
  packages/manager/apps/dedicated-servers/public/translations/dedicated-servers/Messages_en_GB.json
Labels: feature

#19482 fix(zimbra): fix the display of record in MX & SPF config
  packages/manager/apps/zimbra/src/pages/dashboard/domains/diagnostics/MXTabContent.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/diagnostics/SPFTabContent.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/diagnostics/SRVTabContent.component.tsx
Labels: bug, quality check: ok, universe-web-cloud

#19231 feat(dedicated.cloud-connect): update log guide links
  packages/manager/modules/cloud-connect/src/details/logs/logs.constants.js
  packages/manager/modules/cloud-connect/src/details/logs/logs.routing.js
Labels: feature, universe-bare-metal-cloud

#18858 feat(dedicated.nsd): go to attack event with date - 1h
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
Labels: feature, universe-bare-metal-cloud

#19535 fix(iam): fix pagination issue on condition deletion
  packages/manager/modules/iam/src/components/conditions/conditionList/conditionList.controller.js
  packages/manager/modules/iam/src/components/conditions/conditionList/conditionList.template.html
Labels: bug

#19551 fix(pci-instances): angular - fix 1/3AZ creation with floatingIp fix(pci-instances): angular and LZ creation with private network
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: bug, universe-public-cloud

#19467 fix(web-domain): fix detected bug from QA on DNS page
  packages/manager/apps/web-domains/public/translations/domain/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/domain/components/ModifyNameServer/DnsConfigurationForm.tsx
  packages/manager/apps/web-domains/src/domain/components/ModifyNameServer/DnsConfigurationRadio.tsx
  packages/manager/apps/web-domains/src/domain/components/ModifyNameServer/DnsLineInput.tsx
  packages/manager/apps/web-domains/src/domain/constants/serviceDetail.ts
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dns/dnsConfiguration.tsx
  packages/manager/apps/web-domains/src/domain/utils/bannerStatus.spec.ts
Labels: bug, universe-web-cloud, translation required

#19527 feat(*): Extends Static Kit to include the case of MUK/MRC & React Librairies
  .eslintignore
  .eslintrc.js
  .prettierignore
  .stylelintignore
  packages/manager-tools/manager-static-analysis-kit/README.md
  packages/manager-tools/manager-static-analysis-kit/bin/cli-path-config.js
  packages/manager-tools/manager-static-analysis-kit/bin/code-duplication-cli.js
  packages/manager-tools/manager-static-analysis-kit/bin/code-duplication-tests-cli.js
  packages/manager-tools/manager-static-analysis-kit/bin/perf-budgets-cli.js
  packages/manager-tools/manager-static-analysis-kit/bin/perf-budgets-tests-cli.js
  packages/manager-tools/manager-static-analysis-kit/bin/static-dynamic-quality-checks.js
  packages/manager-tools/manager-static-analysis-kit/bin/tests-coverage-cli-tests.js
  packages/manager-tools/manager-static-analysis-kit/bin/tests-coverage-cli.js
  packages/manager-tools/manager-static-analysis-kit/bin/types-coverage-cli.js
  packages/manager-tools/manager-static-analysis-kit/bin/types-coverage-tests-cli.js
  packages/manager-tools/manager-static-analysis-kit/bin/utils/apps-utils.js
  packages/manager-tools/manager-static-analysis-kit/bin/utils/args-parse-utils.js
  packages/manager-tools/manager-static-analysis-kit/bin/utils/module-utils.js
  packages/manager-tools/manager-static-analysis-kit/bin/utils/runner-utils.js
  packages/manager-tools/manager-static-analysis-kit/bin/utils/turbo-utils.js
  packages/manager-tools/manager-static-analysis-kit/src/adapters/perf-budgets/helpers/perfs-bundle-analysis-helper.ts
  packages/manager-tools/manager-static-analysis-kit/src/configs/shared-exclusion-patterns.ts
  yarn.lock
Labels: feature, dependencies

#19598 fix(pci-instances): replace getMessage implementation
  packages/manager/apps/pci-instances/src/adapters/i18n/left/i18nMessageProvider.ts
Labels: bug, universe-public-cloud

#19545 fix(billing): incorrect service infos url generation
  packages/manager/modules/billing/src/autoRenew/autorenew.service.js
  packages/manager/modules/billing/src/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
Labels: bug, universe-bare-metal-cloud

#19583 Feat/display cart layout tapc 4543
  packages/manager/apps/pci-instances/src/components/cart/Cart.component.tsx
  packages/manager/apps/pci-instances/src/components/cart/components/Cart.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/CreateInstance.page.tsx
Labels: feature, universe-public-cloud
