Repository ovh/manager, pull requests merged in 2025-02, with the labels that each got.

#15165 build(deps-dev): bump vite from 5.2.13 to 5.4.12
  package.json
  packages/manager-react-components/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/procedures/package.json
  packages/manager/apps/restricted/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/core/test-utils/package.json
  packages/manager/modules/common-api/package.json
  packages/manager/modules/common-translations/package.json
  packages/manager/modules/vcd-api/package.json
  yarn.lock
Labels: build, universe-bare-metal-cloud, dependencies, universe-public-cloud, container, enabler, common

#15178 refactor(key-management-service): clean playwright references
  packages/manager/apps/key-management-service/src/mocks/catalog/catalog.handler.ts
  packages/manager/apps/key-management-service/src/mocks/credentials/credentials.handler.ts
  packages/manager/apps/key-management-service/src/mocks/feature-availability/feature-availability.handler.ts
  packages/manager/apps/key-management-service/src/mocks/iam/iam.handler.ts
  packages/manager/apps/key-management-service/src/mocks/kms/okms.handler.ts
  packages/manager/apps/key-management-service/src/mocks/reference/reference.handler.ts
  packages/manager/apps/key-management-service/src/mocks/serviceKeys/serviceKeys.handler.ts
Labels: refactor, enabler

#15056 feat(mrc): add order config/summary component
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/order/Order.component.spec.tsx
  packages/manager-react-components/src/components/order/Order.component.tsx
  packages/manager-react-components/src/components/order/Order.context.tsx
  packages/manager-react-components/src/components/order/Order.stories.tsx
  packages/manager-react-components/src/components/order/OrderConfiguration.component.tsx
  packages/manager-react-components/src/components/order/OrderSummary.component.tsx
  packages/manager-react-components/src/components/order/index.ts
  packages/manager-react-components/src/components/order/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/order/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/order/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/order/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/order/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/order/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/order/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/order/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/order/translations/index.ts
Labels: feature, translation required

#15218 feat(ips): create basic listing datagrid
  packages/manager/apps/ips/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/DatagridCells/IpAlerts/IpAlerts.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpAntiDdos/IpAntiDdos.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpAttachedService/IpAttachedService.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpCell/IpCell.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpCountry/IpCountry.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpGameFirewall/IpGameFirewall.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpRegion/IpRegion.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpReverse/IpReverse.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpType/IpType.tsx
  packages/manager/apps/ips/src/components/DatagridCells/IpVmac/IpVmac.tsx
  packages/manager/apps/ips/src/components/DatagridCells/index.ts
  packages/manager/apps/ips/src/data/api/get/dedicatedServerVmac.ts
  packages/manager/apps/ips/src/data/api/get/index.ts
  packages/manager/apps/ips/src/data/api/get/ipAntihack.ts
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/data/api/get/ipEdgeFirewall.ts
  packages/manager/apps/ips/src/data/api/get/ipGameFirewall.ts
  packages/manager/apps/ips/src/data/api/get/ipList.ts
  packages/manager/apps/ips/src/data/api/get/ipMitigation.ts
  packages/manager/apps/ips/src/data/api/get/ipReverse.ts
  packages/manager/apps/ips/src/data/api/get/ipSpam.ts
  packages/manager/apps/ips/src/data/api/get/organisation.ts
  packages/manager/apps/ips/src/data/api/get/organisationList.ts
  packages/manager/apps/ips/src/data/api/index.ts
  packages/manager/apps/ips/src/data/api/ips.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAdditionalIpsRegions.ts
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpAntihack.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpDetails.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpEdgeFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpGameFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpList.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpMitigation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpReverse.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpSpam.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpVmac.ts
  packages/manager/apps/ips/src/data/hooks/ip/useIpHasAlerts.ts
  packages/manager/apps/ips/src/data/hooks/organisation/useOrganisationList.ts
  packages/manager/apps/ips/src/data/hooks/useServiceList.ts
  packages/manager/apps/ips/src/pages/listing/index.tsx
  packages/manager/apps/ips/src/pages/order/Ipv4Order.component.tsx
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/order.utils.ts
  packages/manager/apps/ips/src/pages/order/sections/OrderButtonSection.component.tsx
  packages/manager/apps/ips/src/types/index.ts
  packages/manager/apps/ips/src/types/serviceType.ts
  packages/manager/apps/ips/src/utils/getTypeByServiceName.ts
  packages/manager/apps/ips/src/utils/iamActions.constants.ts
  packages/manager/apps/ips/src/utils/index.ts
  packages/manager/apps/ips/src/utils/ipFormatter.ts
Labels: feature, translation required

#15205 feat(logs): add data-stream page
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamAccountLink.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamIndexingStatus.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscriptionsLink.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamUnsubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logOperation.ts
  packages/manager/modules/logs-to-customer/src/data/api/logRetention.ts
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogRetention.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogService.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStream.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogSubscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useTerminateLogSubscription.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logRetention.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logRetention.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.mock.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ClusterRetention.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Operation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/OperationStateEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/RetentionTypeEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
  packages/manager/modules/logs-to-customer/src/helpers/duration.spec.ts
  packages/manager/modules/logs-to-customer/src/helpers/duration.ts
  packages/manager/modules/logs-to-customer/src/helpers/getStreamSubscription.spec.ts
  packages/manager/modules/logs-to-customer/src/helpers/getStreamSubscription.ts
  packages/manager/modules/logs-to-customer/src/helpers/pollLogOperation.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/Data-streams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.spec.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/translations/error/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logStream/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStreams/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStreams/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
Labels: feature, translation required, enabler

#15107 feat(zimbra): auto configure DKIM in add domain
  packages/manager/apps/zimbra/src/api/domain/type.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
Labels: quality check: ok, feature, universe-web-cloud

#14958 feat(zimbra): open express order tunnel
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/utils/index.ts
Labels: quality check: ok, feature, universe-web-cloud

#14821 fix(zimbra): change content and add guides on onboarding
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/guides.constants.ts
  packages/manager/apps/zimbra/src/pages/onboarding/index.tsx
  packages/manager/apps/zimbra/src/pages/onboarding/onboarding.constants.ts
  packages/manager/apps/zimbra/src/tracking.constant.ts
Labels: bug, universe-web-cloud, translation required

#15233 Refactor/sap features hub
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/pages/installation/InstallationDashboard.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/formStep/FormStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/installation.constants.tsx
Labels: translation required

#15191 fix(billing): hide autorenew links for us
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
Labels: bug, common

#15216 fix(account): hide latest bill tile for enterprise users
  packages/manager/modules/account/src/user/dashboard/user-dashboard.constants.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.html
Labels: bug

#15299 fix(pci-object-storage): round price to integer
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Labels: bug, quality check: ok, universe-public-cloud

#15301 feat(dedicated): implement new tracking nomenclature
  packages/manager/modules/cloud-connect/src/cloud-connect.constants.js
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.controller.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
  packages/manager/modules/cloud-connect/src/template.html
Labels: feature, universe-bare-metal-cloud

#15124 Network - IP Onboarding Page
  packages/manager/apps/ips/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/ips/src/pages/onboarding/index.tsx
  packages/manager/apps/ips/src/pages/onboarding/useGuideUtils.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
Labels: translation required

#15112 fix(i18n): add missing translations [CDS 3662]
  packages/manager/modules/manager-pci-common/src/translations/region-selector/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/region-selector/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/region-selector/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/translations/region-selector/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/region-selector/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/translations/region-selector/Messages_pt_PT.json
Labels: feature

#15289 feat(cloud-connect): add description on manage notification
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.component.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.html
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
Labels: feature, universe-bare-metal-cloud

#15278 feat(ips): order dedicated server
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/public/translations/order/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/CountrySelector/country-selector.component.tsx
  packages/manager/apps/ips/src/data/api/dedicated-server.ts
  packages/manager/apps/ips/src/data/api/get/serviceList.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAdditionalIpsRegions.ts
  packages/manager/apps/ips/src/data/hooks/ip/useCheckServiceAvailability.ts
  packages/manager/apps/ips/src/data/hooks/useServiceList.ts
  packages/manager/apps/ips/src/pages/order/Ipv4Order.component.tsx
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/sections/GeolocationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/ServiceSelectionSection.component.tsx
Labels: feature, translation required

#15311 docs(pci-common): update changelog
  packages/manager/modules/manager-pci-common/CHANGELOG.md
  packages/manager/modules/manager-pci-common/package.json
Labels: documentation

#15272 Fix/pci rancher version fix sort tapc 2629
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.component.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/updateSoftware/UpdateSoftware.component.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/updateSoftware/UpdateSoftware.test.tsx
  packages/manager/apps/pci-rancher/src/utils/rancher.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancher.ts
Labels: bug, quality check: ok, universe-public-cloud

#15307 fix(pci-object-storage): swift fixes, endpoint & search
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/useDatagridColumn.tsx
Labels: bug

#15293 fix(pci-object-storage): swift object creation
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/src/api/data/objects.spec.ts
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
Labels: bug

#15261 fix(mrc): dont render TileBlock optional label
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.stories.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/tile-block.component.tsx
Labels: bug

#15336 fix(menus.action): apply width-max-content
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
Labels: bug

#15251 feat(account): add request id in error banner
  packages/manager/modules/account/src/user/gdpr/gdpr.controller.js
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Labels: feature, translation required

#15245 build(shell-client): update ovh-at-internet v0.19
  packages/manager/core/shell-client/CHANGELOG.md
  packages/manager/core/shell-client/package.json
  yarn.lock
Labels: build, dependencies, common

#15323 New Release - Test
  packages/manager/apps/catalog/src/index.tsx
  packages/manager/apps/restricted/src/index.tsx
Labels: release

#15120 fix(quotas): quota increase button
  packages/manager/modules/pci/src/projects/project/quota/increase-request-credits/increase-request-credits.html
Labels: bug, quality check: ok, universe-public-cloud

#15248 fix(pci-instances): use os flavor for license pricing
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
Labels: quality check: ok, feature, universe-public-cloud

#15237 fix(pack.access-list): call sort list function on not empty list
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
Labels: bug, quality check: ok, universe-telecom

#15235 fix(pci.instances): handle NaN monthly card price
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
Labels: bug, quality check: ok, universe-public-cloud

#15161 feat(pci-block-storage): add wording hints on new page
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
Labels: quality check: ok, feature

#15189 fix(pci-load-balancer): LB Configuration Page - Issue in the order of flavors cards
  packages/manager/apps/pci-load-balancer/src/api/hook/useAddons.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useAddons.ts
Labels: bug, quality check: ok

#15253 fix(xdsl.move): set buildingReference from api result endpoint
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.controller.js
Labels: bug, quality check: ok, universe-telecom

#15084 feat(xdsl.move): remove useless portline cost label on pack move
  packages/manager/apps/telecom/src/app/telecom/pack/move/address/current/move-address-current.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Labels: quality check: ok, universe-telecom

#15334 fix(zimbra): fix reload onboarding page
  packages/manager/apps/zimbra/src/App.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Labels: bug, quality check: ok, universe-web-cloud

#15346 feat(dedicated): few improvements based on feedback
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.controller.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.html
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
  packages/manager/modules/cloud-connect/src/template.html
Labels: feature, universe-bare-metal-cloud, translation required

#15185 fix(web.hosting): change 2api call by iceberg on domain configuration
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
Labels: bug, quality check: ok, universe-web-cloud

#15286 feat(exchange): migrate task to iceberg
  packages/manager/modules/exchange/src/task/task.controller.js
  packages/manager/modules/exchange/src/task/task.html
  packages/manager/modules/web-universe-components/src/exchange/exchange.service.js
Labels: quality check: ok, feature, universe-web-cloud, common

#15130 feat(web): correct message displayed on hosting page inviting to migrate
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-web-cloud

#15343 fix(zimbra): feedbacks from launch
  packages/manager/apps/zimbra/public/translations/accounts/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/api/account/key.ts
  packages/manager/apps/zimbra/src/api/domain/key.ts
  packages/manager/apps/zimbra/src/api/organization/key.ts
  packages/manager/apps/zimbra/src/api/platform/key.ts
  packages/manager/apps/zimbra/src/hooks/usePlatform.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsOrder.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalDeleteEmailAccount.component.tsx
Labels: bug, universe-web-cloud, translation required

#15283 feat(zimbra): warning on standard domain addition
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
Labels: quality check: ok, feature, universe-web-cloud

#15249 test(dedicated): add jest unit tests config
  .gitignore
  packages/manager/apps/dedicated/babel.config.json
  packages/manager/apps/dedicated/client/__mocks__/@ovh-ux/manager-models.js
  packages/manager/apps/dedicated/client/__mocks__/@ovh-ux/ng-ovh-api-wrappers.js
  packages/manager/apps/dedicated/client/__tests__/dedicatedCloud/dashboard-light/dedicatedCloud-dashboard-light.component.spec.js
  packages/manager/apps/dedicated/client/__tests__/dedicatedCloud/dashboard-light/dedicatedCloudLight.routing.spec.js
  packages/manager/apps/dedicated/client/__tests__/dedicatedCloud/dedicatedCloud.service.spec.js
  packages/manager/apps/dedicated/client/__tests__/jest-html.loader.js
  packages/manager/apps/dedicated/jest.config.js
  packages/manager/apps/dedicated/jest.setup.js
  packages/manager/apps/dedicated/package.json
  yarn.lock
Labels: build, universe-bare-metal-cloud, dependencies

#15275 feat(zimbra): add diagnostic DKIM
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
Labels: quality check: ok, feature, universe-web-cloud

#14275 fix(hub-react): adapted skeletons display to reduce cls kpi
  packages/manager/apps/hub-react/src/components/banner/Banner.component.tsx
  packages/manager/apps/hub-react/src/components/banner/Banner.spec.tsx
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub-react/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/TileGridSkeleton.component.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/TileGridSkeleton.spec.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/tile-skeleton/TileSkeleton.component.tsx
  packages/manager/apps/hub-react/src/components/tile-grid-skeleton/tile-skeleton/TileSkeleton.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/billingServices/useBillingServices.tsx
  packages/manager/apps/hub-react/src/data/hooks/bills/useBills.tsx
  packages/manager/apps/hub-react/src/data/hooks/debt/useDebt.tsx
  packages/manager/apps/hub-react/src/data/hooks/kyc/useKyc.tsx
  packages/manager/apps/hub-react/src/data/hooks/notifications/useNotifications.tsx
  packages/manager/apps/hub-react/src/pages/layout/BillingSummary.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/KycFraudBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/KycIndiaBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/NotificationsCarousel.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/PaymentStatus.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/SiretBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/SiretModal.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/context.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
Labels: bug, quality check: ok

#15170 feat(account): disable contact edit for services in creation status
  packages/manager/modules/account/src/contacts/service/user-contacts-service.controller.js
  packages/manager/modules/account/src/contacts/service/user-contacts-service.html
Labels: quality check: ok, feature

#15285 feat(pci.databases): add unit test for analytics
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/updateMock.ts
  packages/manager/apps/pci-databases-analytics/src/components/order/plan/PlanSelect.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/components/order/plan/PlanTile.component.tsx
  packages/manager/apps/pci-databases-analytics/src/components/order/plan/PlanTile.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/components/route-modal/RouteModal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/Root.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/Service.context.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/IndexPatterns.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/addPattern/AddPattern.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/deleteIndex/DeleteIndex.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/indexPatterns/deletePattern/DeletePattern.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updateFlavor/UpdateFlavor.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updateFlavor/UpdateFlavor.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updatePlan/UpdatePlan.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updatePlan/UpdatePlan.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updateVersion/UpdateVersion.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/AddEditUser.spec.tsx
  packages/manager/apps/pci-databases-analytics/vitest.config.js
Labels: feature

#15252 feat(dedicated): add datacenter network tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/assets/network.png
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/translations/Messages_fr_FR.json
Labels: feature, universe-bare-metal-cloud, translation required, universe-hosted-private-cloud

#14243 feat(dedicated): add iplb delete option for us
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/home/iplb-home.constants.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.html
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/listing/index.js
  packages/manager/modules/iplb/src/listing/listing.component.js
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/listing/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/listing/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/listing/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/listing/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pt_PT.json
  packages/manager/modules/iplb/src/modal/terminate/constants.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.controller.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.html
Labels: feature, universe-web-cloud, universe-bare-metal-cloud, universe-telecom, translation required, common

#15231 feat(ng-shell-tracking): add page details for click event
  packages/components/ng-shell-tracking/src/directive.js
  packages/components/ovh-at-internet/src/constants.ts
Labels: feature, common

#15367 feat(pci-cold-archive): add modal to archive container
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Labels: feature, translation required, dependencies

#15242 test(mrc): use internals polyfill instead of mock
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager-react-components/vitest.setup.js
Labels: bug

#15149 fix(pci-common): use correct style for micro regions
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionSelector.component.tsx
Labels: bug

#15388 docs(pci-common): update changelog
  packages/manager/modules/manager-pci-common/CHANGELOG.md
  packages/manager/modules/manager-pci-common/package.json
Labels: documentation

#15379 build(deps-dev): bump vitest from 2.1.5 to 2.1.9
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.spec.ts
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/procedures/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/core/test-utils/package.json
  packages/manager/modules/common-api/package.json
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/vcd-api/package.json
  yarn.lock
Labels: universe-web-cloud, universe-bare-metal-cloud, dependencies, universe-public-cloud, enabler, common

#15393 feat(core): export useNavigationGetUrl from shell client
  packages/manager/core/shell-client/src/hooks/index.ts
Labels: bug, common

#14895 feat(mrc): add changelog component to mrc v1.x
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.icon.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/index.ts
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pt_PT.json
Labels: feature, translation required

#15341 feat(ldp): add ldp know more links
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.constants.ts
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
Labels: feature

#15380 feat(sap-features-hub): add step summary
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormFieldSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormLayout.spec.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.component.tsx
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/constants/form.constants.ts
  packages/manager/apps/sap-features-hub/src/hooks/downloadSummary/useDownloadSummary.ts
  packages/manager/apps/sap-features-hub/src/hooks/formStep/useFormSteps.ts
  packages/manager/apps/sap-features-hub/src/hooks/formSummary/useFormSummary.ts
  packages/manager/apps/sap-features-hub/src/pages/installation/installation.constants.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/installationStepSystemInformation.constants.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/types/formStep.type.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Labels: feature, translation required

#15384 fix(telecom.softphone): softphone content improvement
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/dashboard.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/component/theme/theme.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/deleteDevice/delete-device.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
  packages/manager/modules/core/src/translate/ovh-ui-angular/index.js
  yarn.lock
Labels: bug, universe-telecom, translation required, dependencies, common

#14950 feat(manager-components): add changelog button component
  packages/manager/modules/manager-components/src/changelog-button/assets/github-icon.svg
  packages/manager/modules/manager-components/src/changelog-button/component.js
  packages/manager/modules/manager-components/src/changelog-button/controller.js
  packages/manager/modules/manager-components/src/changelog-button/index.js
  packages/manager/modules/manager-components/src/changelog-button/template.html
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_de_DE.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_en_GB.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_es_ES.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_CA.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_it_IT.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pl_PL.json
  packages/manager/modules/manager-components/src/changelog-button/translations/Messages_pt_PT.json
  packages/manager/modules/manager-components/src/index.js
Labels: feature, translation required, common

#15430 feat(account): design and routes management fixes
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.scss
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/user.constants.js
  packages/manager/modules/account/src/user/user.routes.js
  yarn.lock
Labels: feature, translation required, dependencies

#15354 feat(ips): add cells icons, badges and action menu
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/ActionsCell/ActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IconCell/IconCell.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAntiDdos/IpAntiDdos.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpAttachedService/IpAttachedService.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpCountry/IpCountry.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpGameFirewall/IpGameFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpType/IpType.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/IpVmac/IpVmac.tsx
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/datagridCellStyles.ts
  packages/manager/apps/ips/src/pages/listing/components/DatagridCells/index.ts
  packages/manager/apps/ips/src/pages/listing/components/IpDatagrid/IpDatagrid.tsx
  packages/manager/apps/ips/src/utils/getLinkByServiceName.ts
  packages/manager/apps/ips/src/utils/getTypeByServiceName.ts
  packages/manager/apps/ips/src/utils/index.ts
Labels: feature, translation required

#15427 feat(pci-cold-archive): update description and guide
  packages/manager/apps/pci-cold-archive/src/components/GuideMenu.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
Labels: feature

#14736 Fix dedicated cloud datastore
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/datastore/resource-upgrade/upgrade/dedicatedCloud-datacenter-datastore-resource-upgrade.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/datastore/resource-upgrade/upgradeLegacy/dedicatedCloud-datacenter-datastore-resource-upgrade-legacy.routes.js
Labels: quality check: ok, universe-bare-metal-cloud, universe-hosted-private-cloud, stale

#15411 fix(zimbra): import element internals polyfills
  packages/manager/apps/zimbra/src/index.tsx
Labels: bug, quality check: ok, universe-web-cloud

#15412 feat(veeam-backup): display real values of storage consumption
  packages/manager/apps/veeam-backup/mocks/index.ts
  packages/manager/apps/veeam-backup/mocks/services.handler.ts
  packages/manager/apps/veeam-backup/mocks/services.mock.ts
  packages/manager/apps/veeam-backup/src/data/api/service-consumption.ts
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.spec.tsx
  packages/manager/apps/veeam-backup/src/data/hooks/useVeeamBackupConsumption.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.constants.ts
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/render-test.tsx
  packages/manager/apps/veeam-backup/src/type/service-consumption.type.ts
Labels: quality check: ok, feature, universe-bare-metal-cloud

#15382 fix(kms): fix us pricing display
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.constants.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ProtectionLevelSection.component.tsx
Labels: bug, quality check: ok, enabler

#15408 fix(zimbra): refresh domain diagnostics
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
Labels: bug, quality check: ok, universe-web-cloud

#15351 feat(container): optimize pnr performance by removing services count logic
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLinkTag.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/utils.ts
Labels: feature, container

#15347 feat(procedures): set up sentry
  packages/manager/apps/procedures/src/index.tsx
Labels: feature

#15409 fix(web.zone): fix href if not standalone zone
  packages/manager/apps/web/client/app/dns-zone/zone.routing.js
Labels: bug, quality check: ok, universe-web-cloud

#15364 feat(access-list): display support link if no building on elig
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.html
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.constant.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.controller.js
  packages/manager/modules/telecom-dashboard/src/ftth-eligibility/telecom-dashboard-ftth-eligibility.html
  packages/manager/modules/telecom-dashboard/src/translations/Messages_de_DE.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_en_GB.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_es_ES.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_CA.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_it_IT.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pl_PL.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_pt_PT.json
Labels: quality check: ok, universe-telecom, translation required

#15163 feat(dedicated): implement new tracking nomenclature for rbx1 eol
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/constants.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/controller.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/template.html
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, translation required

#15383 feat(pci.instances): disabled assigning floating ip when instance has public IP v6 or v4
  packages/manager/modules/pci/src/projects/project/instances/instances.html
Labels: quality check: ok, feature, universe-public-cloud

#15295 fix(pci-instance): remove specific condition for LZ prices
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.component.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.controller.js
  packages/manager/modules/pci/src/components/project/flavor-billing/flavor-billing.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.routing.js
Labels: bug, quality check: ok, universe-public-cloud

#15282 fix(pci-instance): implement 3az availability with objects instead of primitives
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/instance-backups/add/add.html
Labels: quality check: ok, feature, universe-public-cloud

#15150 feat(pci-load-balancer): display monthly price with MRC common function
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/size/input/Label.component.tsx
Labels: quality check: ok, feature

#15262 fix(pci-load-balancer): fix wrong price for floating IP at LB creation
  packages/manager/apps/pci-load-balancer/src/constants.ts
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStep.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStepMessages.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStepMessages.tsx
Labels: bug, quality check: ok

#15169 feat(pic-load-balancer): Add missing translation for LB size in Dashboard
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/load-balancer/overview/Messages_pt_PT.json
Labels: quality check: ok, feature

#15387 fix(pci): implement manual translations from pci-common
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-load-balancer/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-public-ip/package.json
  yarn.lock
Labels: bug, quality check: ok, dependencies, universe-public-cloud

#15145 feat(pci-gateway): display monthly price with MRC common function
  packages/manager/apps/pci-gateway/src/pages/add/SizeStep.tsx
Labels: quality check: ok, feature, universe-public-cloud

#14949 feat: add prometheus metrics integration
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/prometheus/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/src/data/api/database/prometheus.api.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/database/prometheus.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/data/api/database/service.api.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/prometheus/useGetPrometheus.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/prometheus/useGetPrometheus.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/prometheus/useResetPrometheusPassword.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/prometheus/useResetPrometheusPassword.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/Metrics.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/Metrics.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusConfigTile.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusConfigTile.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusDisableConfirmDialog.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusDisableConfirmDialog.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusDisabled.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusDisabled.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusEnabled.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusEnabled.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusSrv.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusSrv.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusTableRow.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusTableRow.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusTargets.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/prometheus/PrometheusTargets.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/resetPrometheusPassword/ResetPrometheusPassword.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/resetPrometheusPassword/ResetPrometheusPassword.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/routes/routes.tsx
Labels: quality check: ok, feature, universe-public-cloud

#15144 feat(pci-databases): get prices planCodes from api to prepare sgp region
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/availabilities.ts
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/availabilitiesMock/availabilities.ts
  packages/manager/apps/pci-databases-analytics/src/components/order/region/RegionSelect.component.tsx
  packages/manager/apps/pci-databases-analytics/src/components/tabs-menu/TabsMenu.component.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/pricing.constants.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/useHorizontalScroll.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/lib/availabilitiesHelper.ts
  packages/manager/apps/pci-databases-analytics/src/lib/pricingHelper.ts
  packages/manager/apps/pci-databases-analytics/src/types/cloud/project/database/Availability.ts
Labels: quality check: ok, feature, universe-public-cloud

#15442 feat(account): added the confirm erasure request page
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.component.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.module.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.routing.js
  packages/manager/modules/account/src/user/gdpr/confirm/index.js
  packages/manager/modules/account/src/user/gdpr/confirm/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.module.js
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Labels: feature, translation required

#15465 feat(dedicated): implement new tracking nomenclature
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
Labels: feature, universe-bare-metal-cloud

#15420 fix(pci-object-storage): swift container deletion
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Labels: feature

#15436 fix(pci-object-storage): swift container endpoint
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Labels: feature

#15443 fix(pci-object-storage): disabled regions
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionStep.component.tsx
Labels: feature

#15445 fix(pci-object-storage): notifications
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
Labels: bug

#15452 fix(pci-object-storage): minor ui issues
  packages/manager/apps/pci-object-storage/src/index.css
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
Labels: bug

#15466 fix(pci-object-storage): error boundary
  packages/manager/apps/pci-object-storage/src/App.tsx
  packages/manager/apps/pci-object-storage/src/pages/ErrorBoundary.tsx
  packages/manager/apps/pci-object-storage/src/pages/Layout.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Labels: bug

#15474 feat(dedicated.pcc): update action menu for nsx edge
  packages/manager/apps/dedicated/client/__tests__/dedicatedCloud/dedicatedCloud.service.spec.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Labels: feature, universe-bare-metal-cloud, translation required

#15481 refactor(dedicated-cloud): improve condition to determinate edge product
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds.module.js
Labels: universe-bare-metal-cloud, refactor, universe-hosted-private-cloud

#15312 feat(manager-react-components): add search in datagrid topbar component
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
  yarn.lock
Labels: feature, dependencies, common

#15479 fix(account): fix regex validation and display appropriate error message
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/confirm/translations/Messages_fr_FR.json
Labels: bug, translation required

#15492 fix(dedicated.pcc): hide number of edges during resize operation
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/icebergUtils.services.js
Labels: bug, universe-bare-metal-cloud

#15493 ci: skip dry release for maintenance/manager-react-components-v1.x
  scripts/release/release.sh
Labels: build, continuous-integration, common

#15504 feat(dedicated): implement new tracking nomenclature
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.controller.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
Labels: feature, universe-bare-metal-cloud

#15494 feat(mrc): datagrid - add sub component feature
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
Labels: feature

#15525 feat(dedicated): implement new tracking nomenclature
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.controller.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
Labels: feature, universe-bare-metal-cloud

#15513 feat(ldp): tracking implementation rework on logs to customer
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/LogsTracking.constant.ts
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamSubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamUnsubscribeButton.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/services/ServiceLink.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/hooks/useLogTrackingActions.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreamsDatagrid.component.tsx
  packages/manager/modules/logs-to-customer/src/types/logsTracking.ts
Labels: feature, enabler

#15469 fix(ips): fix max quantity for ip
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/src/pages/order/order.constant.ts
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OrderButtonSection.component.tsx
  yarn.lock
Labels: bug, dependencies

#15507 feat(manager-react-components): update price to accept zero digits
  packages/manager-react-components/src/hooks/useCatalogPrice.ts
Labels: feature

#15538 fix(at-internet): fix page chapter on click event
  packages/components/ovh-at-internet/src/constants.ts
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
Labels: feature, common

#15528 fix(pci-object-storage): new user message
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/create/Create.page.tsx
Labels: bug

#15526 fix(pci-object-storage): region selection in discovery project
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/ContainerRegionSelector.component.spec.tsx.snap
Labels: bug

#15529 fix(pci-object-storage): breadcrumb translations
  packages/manager/apps/pci-object-storage/src/pages/objects/Storage.page.tsx
Labels: bug

#15531 fix(pci-object-storage): containerType switch success message
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
Labels: bug

#15534 fix(pci-object-storage): action menu uid
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
Labels: bug

#15550 fix(pci-object-storage): object deletion redirection
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/delete/Delete.page.tsx
Labels: bug

#15536 fix(changelog): fix display and one forgotten button
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/__snapshots__/Detail.spec.tsx.snap
  packages/manager/apps/pci-vouchers/src/pages/ListingPage.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.spec.tsx
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
Labels: bug, universe-bare-metal-cloud, universe-public-cloud

#15461 feat(ng-layout-helpers): add possibility to display guide.category
  packages/manager/modules/ng-layout-helpers/src/onboarding/onboarding.html
Labels: quality check: ok, feature, common

#15570 fixup! feat(nutanix): add columns in listing node page
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/template.html
  packages/manager/modules/nutanix/src/node.class.js
Labels: bug, universe-hosted-private-cloud

#15577 fix(zimbra): spanish onboarding link
  packages/manager/apps/zimbra/src/pages/onboarding/onboarding.constants.ts
Labels: bug, quality check: ok, universe-web-cloud

#15366 fix(billing): add zimbra slot translation
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud

#15527 feat(manager-react-components): update datagrid loading stories
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
Labels: feature

#15574 fix(nvmrc): set nvmrc to 22.13.0
  .nvmrc
Labels: refactor

#15542 feat(manager-pci-common): add 3az region to tregionavailability
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
Labels: quality check: ok, feature

#14047 fix(pci): update new instance guide link for us
  packages/manager/modules/pci/src/projects/project/instances/add/add.constants.js
Labels: bug, quality check: ok, universe-public-cloud

#15386 fix(pci-workflow): add ~ on monthly pricing estimation
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_de_DE.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_en_GB.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_es_ES.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_fr_CA.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_fr_FR.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_it_IT.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_pl_PL.json
  packages/manager/apps/pci-workflow/public/translations/workflow-add/Messages_pt_PT.json
Labels: bug, quality check: ok

#15506 fix(pci-volume-backup): add 1AZ/3AZ chips
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.controller.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/block/edit/volume-edit/volume-edit.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/blocks.service.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/create-volume/create-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/create-volume/create-volume.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/create-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/create-volume.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/create-volume.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/create-volume/template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.service.js
Labels: bug, quality check: ok, universe-public-cloud

#15544 Fix/pci kubernetes fix api server tapc 2977
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRestriction.ts
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionAction.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionLine.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionLine.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/restrictions/Restrictions.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/restrictions/Restrictions.page.tsx
  packages/manager/apps/pci-kubernetes/src/setupTests.ts
Labels: bug, quality check: ok

#15471 feat(pci-block-storage): handle dynamic IOPS
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/data/catalog.ts
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
Labels: quality check: ok, feature

#14434 feat(pci.instances): add LZ automatic instance backup
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/pci-workflow/src/api/data/region-workflow.ts
  packages/manager/apps/pci-workflow/src/api/hooks/order.ts
  packages/manager/apps/pci-workflow/src/api/hooks/workflows.ts
  packages/manager/apps/pci-workflow/src/components/new/NotSupportedTooltip.component.tsx
  packages/manager/apps/pci-workflow/src/components/new/ResourceSelector.component.tsx
  packages/manager/apps/pci-workflow/src/hooks/useRegionsWithAutomaticBackup.ts
  packages/manager/apps/pci-workflow/src/pages/new/New.page.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowName.component.spec.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowName.component.tsx
  packages/manager/apps/pci-workflow/src/pages/new/steps/WorkflowResource.component.spec.tsx
  packages/manager/modules/cloud-universe-components/src/price/service.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/instances/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Labels: quality check: ok, universe-public-cloud, common

#15555 feat(pci-instances): add volumes to instances list
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/data/hooks/catalog/useCatalog.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/data/hooks/region/useActivateRegion.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/AddressesCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/index.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/mapper.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
  packages/manager/apps/pci-instances/src/utils/utils.spec.tsx
  packages/manager/apps/pci-instances/tailwind.config.js
  packages/manager/apps/pci-instances/tailwind.config.mjs
Labels: feature, translation required

#15600 fix(billing): add zimbra slot translation
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Labels: bug, universe-bare-metal-cloud, translation required

#15567 feat(web-office): add general information dashboard
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/consumption/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/general-information/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/parentTenant.ts
  packages/manager/apps/web-office/src/api/_mock_/user.ts
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/parentTenant/api.ts
  packages/manager/apps/web-office/src/api/parentTenant/index.ts
  packages/manager/apps/web-office/src/api/parentTenant/key.ts
  packages/manager/apps/web-office/src/api/parentTenant/type.ts
  packages/manager/apps/web-office/src/components/layout-helpers/Dashboard/OfficeServiceState.component.tsx
  packages/manager/apps/web-office/src/components/layout-helpers/Dashboard/__test__/OfficeServiceState.component.spec.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeParentTenant.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useOfficeParentTenant.ts
  packages/manager/apps/web-office/src/index.scss
  packages/manager/apps/web-office/src/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/consumption/Consumption.tsx
  packages/manager/apps/web-office/src/pages/dashboard/generalInformation/GeneralInformation.tsx
  packages/manager/apps/web-office/src/pages/dashboard/generalInformation/UpdateDisplayNameModal.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/generalInformation/_test_/GeneralInformation.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/generalInformation/_test_/UpdateDisplauNameModal.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/index.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/routes/routes.constants.ts
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/iamAction.constants.ts
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Labels: feature, universe-web-cloud, translation required

#15616 feat(dedicated): add resize cta on nsx edge
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/move-nsxt-edge/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
Labels: feature, universe-bare-metal-cloud, universe-hosted-private-cloud

#15604 feat(ips): pcc ipv4 order
  packages/manager/apps/ips/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/RegionSelector/region-selector.utils.ts
  packages/manager/apps/ips/src/data/api/catalog.ts
  packages/manager/apps/ips/src/data/api/dedicated-cloud.ts
  packages/manager/apps/ips/src/data/api/dedicated-server.ts
  packages/manager/apps/ips/src/data/api/index.ts
  packages/manager/apps/ips/src/data/api/vps.ts
  packages/manager/apps/ips/src/data/api/vrack.ts
  packages/manager/apps/ips/src/data/hooks/catalog/index.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAdditionalIpBlockPricings.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAdditionalIpsRegions.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAvailableGeolocationFromPlanCode.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useCatalogIps.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useDedicatedCloudGeolocations.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useIpv4LowestPrice.ts
  packages/manager/apps/ips/src/data/hooks/catalog/usePccCatalog.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useVpsGeolocations.ts
  packages/manager/apps/ips/src/data/hooks/useCheckServiceAvailability.ts
  packages/manager/apps/ips/src/data/hooks/useServiceRegion.ts
  packages/manager/apps/ips/src/index.tsx
  packages/manager/apps/ips/src/pages/order/Ipv4Order.component.tsx
  packages/manager/apps/ips/src/pages/order/Order.page.tsx
  packages/manager/apps/ips/src/pages/order/ServiceRegion.component.tsx
  packages/manager/apps/ips/src/pages/order/order.constant.ts
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/order.utils.ts
  packages/manager/apps/ips/src/pages/order/sections/GeolocationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OrderButtonSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OrganisationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/ServiceSelectionSection.component.tsx
  packages/manager/apps/ips/src/test-utils/test-i18n.ts
  packages/manager/apps/ips/src/types/index.ts
  packages/manager/apps/ips/src/types/serviceStatus.ts
Labels: feature, translation required

#15637 fix(pci-quota): fix refresh regions after adding
  packages/manager/apps/pci-quota/src/pages/regions/Regions.page.tsx
Labels: bug

#15625 fix(pci-object-storage): add user credential check
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Actions.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/AddUser.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/AddUser.page.tsx
Labels: bug

#15639 fixup! feat(nutanix): add columns in listing node page
  packages/manager/apps/dedicated/client/__tests__/nutanix/node.class.spec.js
  packages/manager/apps/dedicated/client/__tests__/nutanix/nodes/list/node-os-component.spec.js
  packages/manager/modules/nutanix/src/node.class.js
Labels: universe-bare-metal-cloud, universe-hosted-private-cloud

#15365 ci: update codeowners for feature team model
  .github/CODEOWNERS
  .github/workflows/release-branch-checker.yaml
Labels: continuous-integration

#15645 fix(pci-object-storage): add user modal overflow
  packages/manager/apps/pci-object-storage/src/pages/objects/container/add-user/AddUser.page.tsx
Labels: bug

#15537 feat(dedicated): add guide link on BYOIP
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.component.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.constants.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.html
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.routing.js
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/byoip/translations/Messages_pt_PT.json
Labels: feature, universe-bare-metal-cloud, translation required

#15655 Feat/nutanix add control on install
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/template.html
Labels: feature, universe-hosted-private-cloud

#15605 feat(web-domains): Init µApp
  packages/manager/apps/web-domains/README.md
  packages/manager/apps/web-domains/index.html
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/postcss.config.js
  packages/manager/apps/web-domains/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-domains/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/web-domains/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/web-domains/public/translations/web-domains/Messages_fr_FR.json
  packages/manager/apps/web-domains/public/translations/web-domains/error/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/App.tsx
  packages/manager/apps/web-domains/src/alldoms/data/api/web-domains.ts
  packages/manager/apps/web-domains/src/alldoms/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/404.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/dashboard/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/layout.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/listing/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/listing/listing.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/onboarding/index.scss
  packages/manager/apps/web-domains/src/alldoms/pages/onboarding/index.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/onboarding/onboarding-img.png
  packages/manager/apps/web-domains/src/alldoms/routes/routes.constant.ts
  packages/manager/apps/web-domains/src/alldoms/routes/routes.tsx
  packages/manager/apps/web-domains/src/assets/error-banner-oops.png
  packages/manager/apps/web-domains/src/index.scss
  packages/manager/apps/web-domains/src/index.tsx
  packages/manager/apps/web-domains/src/tracking.constant.ts
  packages/manager/apps/web-domains/src/vite-hmr.ts
  packages/manager/apps/web-domains/src/web-domains.config.ts
  packages/manager/apps/web-domains/tailwind.config.mjs
  packages/manager/apps/web-domains/tsconfig.json
  packages/manager/apps/web-domains/vite.config.mjs
  packages/manager/apps/web-domains/vitest.config.js
Labels: feature, universe-web-cloud, translation required

#15650 feat(nutanix): disable possibility buy multiple node
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.routing.js
Labels: feature, translation required, universe-hosted-private-cloud

#15671 fix(pci-object-storage): hide user creation password
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/create/Create.page.tsx
Labels: quality check: ok, feature

#15676 feat(ips): update content onboarding page
  packages/manager/apps/ips/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/ips/src/pages/onboarding/index.tsx
  packages/manager/apps/ips/src/pages/onboarding/useGuideUtils.tsx
Labels: feature, translation required

#15626 fix(manager-web): domain contact edition issue
  packages/manager/apps/web/client/app/domain/contact/edit/edit.controller.js
Labels: quality check: ok, universe-web-cloud

#15509 feat(mrc): add useBytes hook
  packages/manager-react-components/package.json
  packages/manager-react-components/src/hooks/bytes/documentation.mdx
  packages/manager-react-components/src/hooks/bytes/useBytes.spec.ts
  packages/manager-react-components/src/hooks/bytes/useBytes.ts
  packages/manager-react-components/src/hooks/index.ts
  packages/manager/modules/common-translations/public/translations/bytes/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/bytes/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/bytes/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/bytes/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/bytes/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/bytes/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/bytes/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/bytes/Messages_pt_PT.json
  packages/manager/modules/common-translations/src/index.ts
Labels: quality check: ok, feature

#15703 fix(commitlint): fix commit format with cds wf
  .commitlintrc.js
  scripts/release/release.sh
Labels: bug, build, common

#15709 ci(common-translations): publish package
  packages/manager/modules/common-translations/package.json
Labels: continuous-integration

#15402 feat(dedicated): rbx1 eol legal banner
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/component.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/constants.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/controller.js
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/template.html
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/rbx1-eol-banner/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud

#15396 feat(dedicated): update snapshot tracking
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/constants.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/delete/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/edit/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/edit/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/routing.js
Labels: feature, universe-bare-metal-cloud

#15277 feat(dedicated-cloud): add error when no datacenter offer available
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pt_PT.json
Labels: bug, quality check: ok, universe-bare-metal-cloud, translation required

#15482 feat(dedicated): delete vrack tracking
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.routing.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.controller.js
  packages/manager/modules/vrack/src/terminate-modal/vrack-terminate-modal.html
  packages/manager/modules/vrack/src/vrack.constant.js
  packages/manager/modules/vrack/src/vrack.routing.js
Labels: feature, universe-bare-metal-cloud

#14697 fix(vrack-services): content fixes
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_fr_FR.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_fr_FR.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_pt_PT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/order/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/order/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/order/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/order/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/order/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/order/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/order/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/order/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/order/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/order/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/order/translations/Messages_pt_PT.json
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/vrack-associated-services/ipv6/translations/Messages_pt_PT.json
Labels: bug, quality check, universe-bare-metal-cloud, translation required

#15164 feat(cloud-connect): occ notifications features
  packages/manager/modules/cloud-connect/src/cloud-connect.component.js
  packages/manager/modules/cloud-connect/src/cloud-connect.constants.js
  packages/manager/modules/cloud-connect/src/cloud-connect.controller.js
  packages/manager/modules/cloud-connect/src/cloud-connect.module.js
  packages/manager/modules/cloud-connect/src/cloud-connect.routing.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/index.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.component.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.constant.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.controller.js
  packages/manager/modules/cloud-connect/src/components/manage-notifications/manage-notifications.html
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/components/manage-notifications/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/diagnostics/diagnostics.controller.js
  packages/manager/modules/cloud-connect/src/details/diagnostics/result/result.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-bgp-peering.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/check-bgp-peering/check-bgp-peering.routing.js
  packages/manager/modules/cloud-connect/src/details/overview/components/datacenter-extra/datacenter-extra.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.controller.js
  packages/manager/modules/cloud-connect/src/manage-notifications/index.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.module.js
  packages/manager/modules/cloud-connect/src/manage-notifications/manage-notifications.routes.js
  packages/manager/modules/cloud-connect/src/template.html
  packages/manager/modules/cloud-connect/src/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/translations/Messages_pt_PT.json
Labels: quality check: ok, feature, universe-bare-metal-cloud
